<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>

<div class="card">
  <div class="card-body">
    <p (click)="onHideDatosGenerales()" class="title-module"> {{ 'general.message.datos.generales' | translate }}
      <i *ngIf="showDatosGenerales" class="fa fa-angle-up float-right"></i>
      <i *ngIf="!showDatosGenerales" class="fa fa-angle-down float-right"></i>
    </p>

    <!-- CAMPOS COMPONEN FILTROS BUSQUEDA-->
    <div *ngIf="showDatosGenerales" class="module vista-simple">
      <div class="form-row">
        <div class="form-group col-lg-3 col-md-3">
          <label>{{'administracion.parametrosGenerales.literal.descripcion' |translate}}</label>
          <input type="text" name="nombre" value="" class="box" class="form-control" [(ngModel)]='filtros.descripcion' pInputText maxLength="60"
            pInputText>
        </div>
        <div class="form-group col-lg-3 col-md-3">
          <label>{{'FactSJCS.mantRetencionesJ.literal.tramoLec'|translate}}</label>
          <input type="text" name="nombre" value="" (keypress)="numberOnly($event)" class="box" class="form-control" [(ngModel)]='filtros.retencion'
            pInputText maxLength="6" pInputText>
        </div>
        <div class="form-group col-lg-3 col-md-3">
          <label>{{'dato.jgr.maestros.documentacionIRPF.tipoSociedad'|translate}}</label>
          <p-dropdown class="select-form" [(ngModel)]='filtros.tipoSociedad' placeholder="Seleccionar" [options]="comboSociedades"
            [filter]="true" filterBy="label,labelSinTilde" [showClear]="true"></p-dropdown>

        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <!-- BOTONES TARJETA -->
    <div class="text-right main-button">
      <button (click)="clearFilters()" pButton type="button" icon="fa fa-eraser" iconPos="left" label="{{ 'general.boton.clear' | translate}}"></button>
      <button (click)="search()" pButton type="button" icon="fa fa-search" iconPos="left" label="{{ 'general.boton.search' | translate }}"></button>
    </div>
  </div>