<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>

<div class="ficha-container">
  <div class="card">
    <div class="card-header header-ficha" (click)="onHideTarjeta()">
      <div *ngIf="!modoEdicion && showTarjeta" class="form-row">
        <div class="col-lg-1 col-md-2">
          <div class="img-colegiado">
            <i class="fas fa-align-left icon-ficha"></i>
          </div>
        </div>
        <div class="col-lg-11 col-md-10">
          <div class="d-flex justify-content-start mb-1">
            <label class="mr-auto title-ficha">{{'menu.justiciaGratuita.maestros.Materias'|translate}}</label>
          </div>
        </div>
      </div>
      <div *ngIf="modoEdicion && showTarjeta" class=" header-ficha-open d-flex justify-content-start align-items-center">
        <div class="img-colegiado">
          <i class="fas fa-align-left icon-ficha"></i>
        </div>
        <label class="title-ficha">{{'menu.justiciaGratuita.maestros.Materias'|translate}}</label>
        <i class="fa fa-angle-down ml-auto"></i>
      </div>
      <div *ngIf="!modoEdicion && !showTarjeta" class="form-row">
        <div class="col-lg-1 col-md-2">
          <div class="img-colegiado">
            <i class="fas fa-align-left icon-ficha"></i>
          </div>
        </div>
        <div class="col-lg-11 col-md-10">
          <div class="d-flex justify-content-start mb-1">
            <label class="mr-auto title-ficha">{{'menu.justiciaGratuita.maestros.Materias'|translate}}</label>
          </div>
        </div>
      </div>
      <div *ngIf="modoEdicion && !showTarjeta" class=" header-ficha-open d-flex justify-content-start align-items-center">
        <div class="img-colegiado">
          <i class="fas fa-align-left icon-ficha"></i>
        </div>
        <label class="title-ficha">{{'menu.justiciaGratuita.maestros.Materias'|translate}}</label>
        <i class="fa fa-angle-up ml-auto"></i>
      </div>
    </div>
    <!--cuerpo datos generales-->
    <div [hidden]="!showTarjeta" *ngIf="modoEdicion" class="px-0 card-body card-body-ficha">

      <p-table [value]="datos" [columns]="cols" [selectionMode]="selectionMode" [(selection)]="selectedDatos" [responsive]="true"
        #table class="tabla-listado" [paginator]="true" [rows]="selectedItem" (onRowSelect)="editAreas($event)" (onRowUnselect)="actualizaSeleccionados(selectedDatos)"
        [ngClass]="{ 'customCursor': selectMultiple}" paginatorPosition="both">
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col *ngFor="let col of cols" [style.width]="col.width">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns; let i = index" [ngSwitch]="col.field" [pSortableColumn]="col.field">
              {{ col.header | translate }}
              <p-sortIcon [field]="col.field"></p-sortIcon>
              <input pDroppable="false" (click)="$event.stopPropagation()" [(ngModel)]="buscadores[i]" *ngSwitchCase="col.field" pInputText
                type="text" (input)="
                table.filter($event.target.value, col.field, 'contains')
              " />
            </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-dato let-columns="columns" let-rowIndex="rowIndex">
          <tr [pSelectableRow]="dato" [pSelectableRowIndex]="rowIndex">

            <td class="text-center" *ngFor="let col of columns">

              <div *ngIf="col.field == 'jurisdicciones'">
                <!-- <p-multiSelect #multiSelect *ngIf="nuevo || (!nuevo && !seleccion)" defaultLabel="Elegir" filterBy="label" [(ngModel)]="dato.jurisdiccionesReal"
                  [options]="comboJurisdicciones" optionLabel="label" [selectedItemsLabel]="textSelected" styleClass="widthAll"
                  [panelStyle]="{ width: '100%' }" (onFocus)="openMultiSelect(dato)" (onChange)="editJurisdicciones(dato)"></p-multiSelect> -->

                <p-multiSelect #multiSelect defaultLabel="Elegir" filterBy="label" [(ngModel)]="dato.jurisdiccionesReal" [options]="comboJurisdicciones"
                  optionLabel="label" [disabled]="disableAll" [selectedItemsLabel]="textSelected" styleClass="widthAll" [panelStyle]="{ width: '100%' }"
                  [overlayVisible]="dato.overlayVisible" (onFocus)="openMultiSelect(dato)" (onChange)="editJurisdicciones(dato); openMultiSelect(dato)"></p-multiSelect>
              </div>

              <div *ngIf="col.field == 'nombreMateria'">
                <span *ngIf="disableAll || ( !((seleccion && !nuevo && !selectMultiple && dato.editable)  || (nuevo && dato.areaNueva)) || selectMultiple)">
                  {{ dato[col.field] }} </span>

                <input *ngIf="!disableAll && (((seleccion && !nuevo && !selectMultiple && dato.editable)  || (nuevo && dato.areaNueva)))"
                  type="text" class="form-control paddingInput" [(ngModel)]="dato.nombreMateria" name="nombreMateria" type="text"
                  on-focusout="disabledSave($event); editarMateria(dato)" (input)="disabledSave($event); editarMateria(dato)"
                  maxLength="60" />
              </div>

              <div *ngIf="col.field == 'contenido'">
                <span *ngIf="disableAll || !((seleccion && !nuevo && !selectMultiple && dato.editable)  || (nuevo && dato.areaNueva)) || selectMultiple">
                  {{ dato[col.field] }}
                </span>

                <input *ngIf="!disableAll && ((seleccion && !nuevo && !selectMultiple && dato.editable)  || (nuevo && dato.areaNueva))" type="text"
                  class="form-control paddingInput" [(ngModel)]="dato.contenido" name="contenido" type="text" on-focusout="disabledSave($event); editarMateria(dato)"
                  (input)="disabledSave($event); editarMateria(dato)" maxLength="3900" />
              </div>
            </td>

          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="columns.length">
              {{'censo.busquedaClientesAvanzada.literal.sinResultados' | translate }}
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
          <div class="mostrar d-flex text-right justify-content-end">
            <label class="pr-3 registros-totales">{{'informesycomunicaciones.plantillasenvio.ficha.mostrandoRegistros' | translate }}{{table.first + 1}} al {{table.first
              + table.rows}} {{'informesycomunicaciones.plantillasenvio.ficha.deUnTotalDe' | translate }} {{table.totalRecords}}</label>
            <label class="pr-3 numSeleccionados" *ngIf="selectedDatos  && selectedDatos.length > 0 && selectionMode=='multiple'">{{ 'agenda.fichaCalendario.tablaNotificaciones.mostrandoRegistros' | translate }}: {{selectedDatos.length}}
            </label>
            <label class="pr-3 numSeleccionados" *ngIf="selectedDatos && selectedDatos.length <= 0 && selectionMode==multiple">{{ 'agenda.fichaCalendario.tablaNotificaciones.mostrandoRegistros' | translate }}: 0
            </label>
            <label>{{"general.message.mostrar" | translate}}</label>
            <p-dropdown [(ngModel)]="selectedItem" [options]="rowsPerPage" (onChange)="onChangeRowsPerPages($event)">
            </p-dropdown>
            <label class="pl-1"> {{"cargaMasivaDatosCurriculares.numRegistros.literal" | translate}}</label>
            <div class="ml-3 selectAll">
              <p-checkbox [disabled]="disableAll" (onChange)="onChangeSelectAll()" [(ngModel)]="selectAll" binary="true" label="{{ 'tablas.literal.seleccionarTodo' | translate }}"
                name="groupname"></p-checkbox>
            </div>
            <label class="ml-3 seleccionMultiple" [ngClass]="{' seleccion-multiple': selectMultiple}" (click)="isSelectMultiple()">
              <i class="pr-2 fa fa-mouse-pointer"></i>{{"general.message.seleccion.multiple" | translate}}</label>
          </div>
        </ng-template>
      </p-table>
    </div>
    <div [hidden]="!showTarjeta" *ngIf="modoEdicion" class="card-footer">
      <div class="text-right main-button">
        <button [disabled]="disableAll || ((!selectMultiple && !selectAll) || nuevo) || selectedDatos == undefined || !selectedDatos.length > 0"
          (click)="checkPermisosDelete(selectedDatos);" pButton type="button" icon="fa fa-trash-alt" iconPos="left" label="{{'general.boton.eliminar' | translate}}"></button>
        <button [disabled]="disableAll" (click)="checkPermisosRest()" pButton type="button" icon="fa fa-undo" iconPos="left" label="{{ 'general.boton.restablecer' | translate}}"></button>
        <button pButton [disabled]="disableAll || disabledSave()" (click)="checkPermisosSave()" type="button" icon="far fa-save"
          iconPos="left" label="{{ 'general.boton.guardar' | translate}}"></button>
        <button pButton [disabled]="disableAll || selectMultiple || selectAll || nuevo" (click)="checkPermisosNewMateria()" type="button"
          icon="fa fa-plus" iconPos="left" label="{{ 'general.boton.new' | translate}}"></button>

      </div>
    </div>
  </div>
</div>

<p-confirmDialog header="Confirmación"  icon="fa fa-question-circle"  width="425"  #cd>
  <p-footer>
    <button type="button"  pButton icon="fa-check"  label="Si"  (click)="cd.accept()"></button>
    <button type="button"  pButton icon="fa-close"  label="No"  (click)="cd.reject()"></button>
  </p-footer>
</p-confirmDialog>

<div *ngIf="progressSpinner" class="overlay-spinner">
  <div class="loader"></div>
</div>