<!-- <p-growl [(value)]="msgs" (onHover)="clear()" life="30000">
</p-growl>

<div class="card mt-3">
  <div class="card-body p-0">

    <p-table [value]="datos" [columns]="cols" [selectionMode]="selectionMode" [(selection)]="selectedDatos" [responsive]="true"
      #tabla class="tabla-listado" [paginator]="true" [rows]="selectedItem" (onRowSelect)="edit($event)" (onRowUnselect)="actualizaSeleccionados(selectedDatos)"
      [ngClass]="{ 'customCursor': selectMultiple}" paginatorPosition="both">
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngFor="let col of cols" [style.width]="col.width">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns; let i = index" [ngSwitch]="col.field" [pSortableColumn]="col.field">
            {{ col.header | translate }}
            <p-sortIcon [field]="col.field"></p-sortIcon>
            <input pDroppable="false" [(ngModel)]="buscadores[i]" (click)="$event.stopPropagation()" *ngSwitchCase="col.field" pInputText
              type="text" (input)="
                tabla.filter($event.target.value, col.field, 'contains')
              " />
          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-dato let-columns="columns" let-rowIndex="rowIndex">
        <tr [pSelectableRow]="dato" [pSelectableRowIndex]="rowIndex">

          <td class="text-center" *ngFor="let col of columns">

            <span *ngIf="!dato.editable && !setItalic(dato) && col.field == 'retencionReal'">
              {{ dato.retencion }} %
            </span>

            <span *ngIf="!dato.editable && !setItalic(dato)">
              {{dato[col.field]}}
            </span>

            <div *ngIf="!dato.editable && setItalic(dato)">
              <span [ngStyle]="{'font-style': 'italic', 'font-weight':'bold', 'text-decoration':'line-through'}">{{dato[col.field]}}</span>
            </div>
            <div *ngIf="dato.editable && col.field == 'retencionReal'">
              <app-precio [porcentaje]="true" [(value)]="dato.retencion" [dato]="dato" [maxLength]="3" [nuevo]="nuevo" [id]="id" [disabled]="!permisos"
                (valueChangeInput)="changeRetencion(dato)"></app-precio>
            </div>
            <div *ngIf="dato.editable && col.field == 'claveModelo'">
              <input class="form-control paddingInput" [(ngModel)]="dato.claveModelo" name="claveModelo" type="text" [(disabled)]="!permisos"
                maxLength="10" on-focusout="changeClaveModelo(dato)" (onBlur)="changeClaveModelo(dato)" (input)="changeClaveModelo(dato)"
              />
            </div>
            <div *ngIf="dato.editable && col.field == 'descripcion'">
              <input class="form-control paddingInput" [(ngModel)]="dato.descripcion" name="descripcion" type="text" maxLength="58" on-focusout="changeDescripcion(dato)"
                [(disabled)]="!permisos" (onBlur)="changeDescripcion(dato)" (input)="changeDescripcion(dato)" />
            </div>
            <div *ngIf="dato.editable && col.field == 'descripcionSociedad'">
              <p-dropdown class="select-form" [(ngModel)]='dato.tipoSociedad' (onChange)="changeSociedad(dato)" [filter]="true" filterBy="label,labelSinTilde"
                [options]="comboSociedades" (input)="changeSociedad(dato)" (onBlur)="changeSociedad(dato)" [emptyFilterMessage]="resultadosPoblaciones"
                id="dropdown" placeholder="{{'general.boton.seleccionar' | translate}}" [showClear]="true">
              </p-dropdown>
            </div>
          </td>

        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="columns.length">
            {{'censo.busquedaClientesAvanzada.literal.sinResultados' | translate }}
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="paginatorleft">
        <div class="mostrar d-flex text-right justify-content-end">
          <label class="pr-3 registros-totales">{{'informesycomunicaciones.plantillasenvio.ficha.mostrandoRegistros' | translate }}{{tabla.first + 1}} al {{tabla.first
            + tabla.rows}} {{'informesycomunicaciones.plantillasenvio.ficha.deUnTotalDe' | translate }} {{tabla.totalRecords}}</label>
          <label class="pr-3 numSeleccionados" *ngIf="selectedDatos  && selectedDatos.length > 0">{{ 'agenda.fichaCalendario.tablaNotificaciones.mostrandoRegistros' | translate }}: {{selectedDatos.length}}
          </label>
          <label class="pr-3 numSeleccionados" *ngIf="selectedDatos && selectedDatos.length <= 0">{{ 'agenda.fichaCalendario.tablaNotificaciones.mostrandoRegistros' | translate }}: 0
          </label>
          <label>{{"general.message.mostrar" | translate}}</label>
          <p-dropdown [(ngModel)]="selectedItem" [options]="rowsPerPage" (onChange)="onChangeRowsPerPages($event)">
          </p-dropdown>
          <label class="pl-1"> {{"cargaMasivaDatosCurriculares.numRegistros.literal" | translate}}</label>
          <div class="ml-3 selectAll">
            <p-checkbox (onChange)="onChangeSelectAll()" [(ngModel)]="selectAll" binary="true" label="{{ 'tablas.literal.seleccionarTodo' | translate }}"
              name="groupname" [disabled]="!permisos"></p-checkbox>
          </div>
          <label class="ml-3 seleccionMultiple" [ngClass]="{' seleccion-multiple': selectMultiple && permisos}" (click)="isSelectMultiple()">
            <i class="pr-2 fa fa-mouse-pointer"></i>{{"general.message.seleccion.multiple" | translate}}</label>
        </div>
      </ng-template>
    </p-table>



  </div>
  <div class="card-footer">
    <div class="text-right main-button">
      <button [disabled]="nuevo || editMode" *ngIf="!historico" (click)="checkPermisosIsHistorico(); selectedDatos = []" pButton
        type="button" icon="fa fa-history" iconPos="left" label="{{ 'general.message.mostrarHistorico' | translate}}"></button>

      <button [disabled]="nuevo" *ngIf="historico" (click)="checkPermisosIsHistorico(); selectedDatos = []" pButton type="button"
        icon="fa fa-undo" iconPos="left" label="{{'general.message.ocultarHistorico' | translate}}"></button>

      <button [disabled]="historico || !permisos" (click)="checkPermisosRest()" pButton type="button" icon="fa fa-undo" iconPos="left"
        label="{{ 'general.boton.restablecer' | translate}}"></button>

      <button *ngIf="!historico" pButton [disabled]="!permisos || (!selectMultiple && !selectAll) || selectedDatos.length == 0"
        (click)="checkPermisosDelete(selectedDatos);" type="button" icon="fa fa-trash-alt" iconPos="left" label="{{ 'general.boton.eliminar' | translate}}"></button>

      <button *ngIf="historico" pButton [disabled]="!permisos || (!selectMultiple || !selectAll) && (selectedDatos == undefined || selectedDatos.length == 0)"
        (click)="checkPermisosActivate(selectedDatos)" type="button" icon="fa fa-check" iconPos="left" label="{{'general.boton.activar' | translate}}"></button>

      <button pButton [disabled]="disabledSave()" (click)="checkPermisosSave()" type="button" icon="far fa-save" iconPos="left"
        label="{{ 'general.boton.guardar' | translate}}"></button>

      <button pButton [disabled]="selectMultiple || selectAll || nuevo || historico || editMode || !permisos" (click)="checkPermisosNewRetencion()"
        type="button" icon="fa fa-plus" iconPos="left" label="{{ 'general.boton.new' | translate}}"></button>
    </div>
  </div>
</div>

<p-confirmDialog header="Confirmación"  icon="fa fa-question-circle"  width="425"  #cd>
  <p-footer>
    <button type="button"  pButton icon="fa-check"  label="Si"  (click)="cd.accept()"></button>
    <button type="button"  pButton icon="fa-close"  label="No"  (click)="cd.reject()"></button>
  </p-footer>
</p-confirmDialog>

<div *ngIf="progressSpinner" class="overlay-spinner">
  <div class="loader"></div>
</div> -->