<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>
<div id="fichaPredesignacion">
  <div>
    <div id="top"></div>
    <app-migas-de-pan [rutas]="rutas"></app-migas-de-pan>

    <div id="navbar" class="tarjetaFija">
      <div *ngFor="let tarjF of listaTarjetasFijas; let i = index">
        <div class="card" style="z-index: 2;">
          <div class="card-body p-0">
            <mat-accordion class="example-headers-align" multi>
              <mat-expansion-panel [disabled]="true">
                <mat-expansion-panel-header class="h-100" [collapsedHeight]="'auto'" [expandedHeight]="'auto'">
                  <app-tarjeta [image]="tarjF.imagen" [cardTitle]="tarjF.nombre" [campos]="tarjF.campos"
                    [icon]="tarjF.icono" [enlaces]="tarjF.enlaces" [fixed]="tarjF.fixed" class="w-100"
                    (isOpen)="isOpenReceive($event)">
                  </app-tarjeta>
                </mat-expansion-panel-header>
                <ng-template matExpansionPanelContent>
                </ng-template>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div *ngFor="let tarj of listaTarjetas; let i = index;">
        <div class="card" [id]="tarj.id">
          <div class="card-body p-0">
            <mat-accordion class="example-headers-align" multi>
              <mat-expansion-panel (opened)="tarj.opened = true" (closed)="tarj.opened = false"
                [disabled]="tarj.fixed || !tarj.detalle" [expanded]="tarj.opened">
                <mat-expansion-panel-header class="h-100" [collapsedHeight]="'auto'" [expandedHeight]="'auto'">
                  <app-tarjeta [image]="tarj.imagen" [cardTitle]="tarj.nombre" [campos]="tarj.campos"
                    [icon]="tarj.icono" [enlaces]="tarj.enlaces" [cardOpenState]="tarj.opened" [fixed]="tarj.fixed"
                    class="w-100">
                  </app-tarjeta>
                </mat-expansion-panel-header>
                <ng-template matExpansionPanelContent>

                  <app-detalle-tarjeta *ngIf="tarj.nombre == 'Procurador'" [title]="'Notario'" [datosProcurador]="datosProcurador">
                  </app-detalle-tarjeta>

                  <div *ngIf="tarj.nombre == 'Contrarios'">

                    <div class="row w-100 m-0">

                      <div class="padding-interior w-100">
                        <app-paginador (seleccionarTodo)="selectedAll($event)" [type]="'TOP'"></app-paginador>
                      </div>


                      <div class="col-lg-12 col-md-12 w-100 padding-interior">
                        <app-tabla-resultado [allSelected]="allSelected" [cabeceras]="cabeceras" [elementos]="elementos"
                          [elementosAux]="elementosAux" (anySelected)="notifyAnySelected($event)">
                        </app-tabla-resultado>
                      </div>

                      <div class="padding-interior w-100">
                        <app-paginador [type]="'BOTTOM'"></app-paginador>
                      </div>


                    </div>

                    <div class="card-footer">
                      <div class="text-right main-button">
                        <button [disabled]="isDisabled" pButton type="button" icon="fa fa-history" iconPos="left"
                          label="Mostrar Histórico"
                          (click)="showMsg('success', 'Se ha mostrado el histórico correctamente', '')"></button>
                        <button [disabled]="isDisabled" pButton type="button" icon="fa fa-plus" iconPos="left"
                          label="Nuevo"></button>
                      </div>
                    </div>


                  </div>

                </ng-template>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
      </div>
    </div>
    <div id="down"></div>
  </div>
</div>