<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>
<div class=" busqueda-container ">
  <div class="header-title ">
    <i class="fa fa-square "></i>
    <p>{{"general.boton.edit " | translate}}
      <i class="pl-1 fa fa-angle-right "></i>{{"administracion.grupos.literal.perfiles " | translate}} </p>
  </div>
  <!--<div class="breadCrumb ">
    <p>{{"general.boton.edit " | translate}} <i class="fa fa-angle-right "></i> {{ 'administracion.grupos.literal.perfiles' |
      translate}}
    </p>
  </div>-->

  <div class="card ">
    <div class="card-body ">
      <p class="title-module ">{{ "general.message.datos.generales "| translate}}
        <i (click)="onHideDatosGenerales() " *ngIf="showDatosGenerales " class="fa fa-angle-up float-right "></i>
        <i (click)="onHideDatosGenerales() " *ngIf="!showDatosGenerales " class="fa fa-angle-down float-right "></i>
      </p>

      <div *ngIf="showDatosGenerales " class="module vista-avanzada ">
        <div class="form-row ">
          <div class="form-group col-lg-3 col-md-3 ">
            <label>{{"administracion.grupos.literal.id " | translate}} (*)</label>
            <input *ngIf="!enabledid " disabled type="text " name="id " class="form-control
  " [(ngModel)]='body.idGrupo' [formControl]="this.formGroup.controls[ 'idGrupo'] " pInputText>
            <input *ngIf="enabledid " type="text " name="id " class="form-control
  " [(ngModel)]='body.idGrupo' [formControl]="this.formGroup.controls[ 'idGrupo'] " (onChange)="checkIgual() " pInputText>
            <div *ngIf="hasErrors( 'idGrupo') ">
              <label class="labelError ">{{getErrorMessage('idGrupo')}}</label>
            </div>
          </div>
          <div class="form-group col-lg-3 col-md-3 ">
            <label>{{'general.description' | translate}} (*)</label>
            <input *ngIf="!enabled " disabled type="text " name="descripcion " class="form-control " [(ngModel)]='body.descripcionGrupo'
              [formControl]="this.formGroup.controls[ 'descripcionGrupo'] " pInputText>
            <input *ngIf="enabled " (onChange)="checkIgual() " type="text " name="descripcion " class="form-control " [(ngModel)]='body.descripcionGrupo'
              [formControl]="this.formGroup.controls[ 'descripcionGrupo'] " pInputText>
          </div>
          <div class="form-group col-lg-3 col-md-3 ">
          </div>
          <div class="form-group col-lg-3 col-md-3 ">
          </div>
          <div class="form-group col-lg-6 col-md-6 ">
            <p-pickList [disabled]="!enabled " [source]="rolesAsignados " [target]="rolesNoAsignados " sourceHeader="{{
  'administracion.grupos.literal.rolesAsignados' | translate}} " targetHeader="{{ 'administracion.grupos.literal.rolesSinAsignar' | translate}} "
              [responsive]="true
  " filterBy="label " dragdrop="true " dragdropScope="rolesAsignados " sourceFilterPlaceholder=" Buscar rol " targetFilterPlaceholder=" Buscar rol "
              [sourceStyle]="{ 'height': '300px'} " [targetStyle]="{ 'height':
  '300px'} " disabled>
              <ng-template let-item pTemplate="item ">
                <div>{{item.label}}</div>
              </ng-template>
            </p-pickList>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer ">
      <div class="text-right main-button">
        <button (click)="volver()" pButton type="button" icon=" fa fa-close" iconPos="left" label="{{'general.boton.cancel' | translate}} "></button>
        <button [disabled]="checkIgual() || hasErrors( 'idGrupo') || hasErrors( 'descripcionGrupo') " (click)="confirmEdit()" pButton
          type="button" icon="fa fa-edit" iconPos="left" label="{{ 'general.boton.guardarCerrar' | translate}} "></button>
      </div>
    </div>
  </div>
  <app-dialog></app-dialog>
</div>