.labelError {
  color: red;
  font-weight: bold;
}

.ui-multiselect {
  color: blue;
}
.labelOK {
  color: green;
  font-weight: bold;
}

.widthAll {
  width: 100%;
}
.ui-growl-item {
  color: white !important;
}
.ui-button,
.ui-widget.ui-button,
.ui-button {
  border-left: 1px solid #c6c7c8 !important;
}
