<div class="ficha-comunicacion-container">
  <div class="header-title">
    <i class="fa fa-square"></i>
    <p>
      {{ "menu.informesYcomunicaciones" | translate }}
      <i class="fa fa-angle-right"></i>{{ "menu.informesYcomunicaciones.enviosMasivos" | translate }}
      <i class="fa fa-angle-right"></i>{{ "informesycomunicaciones.enviosMasivos.ficha.fichaEnviosMasivos" | translate }}
    </p>
  </div>
  <div *ngFor="let ficha of fichasPosibles" [ngSwitch]="ficha.key">
    <app-configuracion-envio-masivo *ngSwitchCase="'configuracion'" (emitOpenDescripcion)="emitOpenDescripcion($event)" (cuerpoPlantilla)="cuerpoPlantilla($event)"></app-configuracion-envio-masivo>
    <app-descripcion-envio-masivo *ngSwitchCase="'descripcion'" [idPlantillaEnvio]="idPlantillaEnvio" [cuerpoPlantillas]="cuerpoPlantillas"></app-descripcion-envio-masivo>
    <app-programacion-envio-masivo *ngSwitchCase="'programacion'"></app-programacion-envio-masivo>
    <app-documentos-envio-masivo *ngSwitchCase="'documentos'"></app-documentos-envio-masivo>
    <app-destinatarios-etiquetas-envio-masivo *ngSwitchCase="'destinatarios'">
    </app-destinatarios-etiquetas-envio-masivo>
    <app-destinatarios-list-envio-masivo *ngSwitchCase="'destinatariosList'"></app-destinatarios-list-envio-masivo>
    <app-destinatario-indv-envio-masivo *ngSwitchCase="'destinatariosIndv'"></app-destinatario-indv-envio-masivo>
  </div>
</div>
<div class="mt-3 text-right main-button ">
  <button (click)="backTo()" pButton type="button" icon="fa fa-angle-left" iconPos="left" label="{{ 'general.boton.volver' | translate }}"></button>
</div>