<div *ngIf="!fixed">
  <div *ngIf="!cardOpenState" class="form-row w-100 tarjeta-cerrada">

    <div class="col-lg-1 col-md-2">
      <div class="icono-wrapper">
        <i class="{{ icon }} icono"></i>
      </div>

    </div>
    <div class="col-lg-11 col-md-10 m-form-row">
      <div class="d-flex justify-content-start">
        <label class="mr-auto titulo-tarjeta">{{ cardTitle }}</label>
        <div *ngIf="enlaceCardClosed !== undefined && enlaceCardClosed !== null" class="right">
          <a *ngIf="enlaceCardClosed.href !== undefined && enlaceCardClosed.href !== null"
            [routerLink]="enlaceCardClosed.href" class="enlace"> <i class="fas fa-external-link-alt mr-2 icono-enlace"
              aria-hidden="true"></i>{{ enlaceCardClosed.title }}</a>
          <a *ngIf="(enlaceCardClosed.href === undefined || enlaceCardClosed.href === null) && (enlaceCardClosed.click !== undefined && enlaceCardClosed.click !== null) "
            (click)="irFichaColegial()" class="enlace"> <i (click)="enlaceCardClosed.click"
              class="fas fa-external-link-alt mr-2 icono-enlace" aria-hidden="true"></i>{{ enlaceCardClosed.title }}</a>
        </div>
      </div>
      <div onclick="event.stopPropagation()" *ngIf="campos"
        class="col-12 form-row m-0 p-0 pt-2 justify-content-between">
        <div *ngFor="let campo of campos" class="d-flex flex-wrap campos">
          <label *ngIf="campo.key!=null">
            {{ campo.key }}:
            <span>
              {{ campo.value }}
            </span>
          </label>
          <label *ngIf="campo.key==null">
            <span>
              {{ campo.value }}
            </span>
          </label>
        </div>
      </div>

      <div *ngIf="enlaces" class="d-flex flex-wrap justify-content-between pt-2">
        <label *ngFor="let enlace of enlaces" class="mr-auto pr-2">

          <a *ngIf="enlace.href != undefined && enlace.href != '' && enlace.params != undefined && enlace.params != ''"
            [routerLink]="[enlace.href,  enlace.params]">
            <span class="enlace">
              {{ enlace.texto }}
            </span>
          </a>

          <a *ngIf="enlace.href != undefined && enlace.href != '' && (enlace.params == undefined || enlace.params == '')"
            [routerLink]="[enlace.href]">
            <span class="enlace">
              {{ enlace.texto }}
            </span>
          </a>

          <a
            *ngIf="(enlace.href == undefined || enlace.href == '') && (enlace.params == undefined || enlace.params == '') && !enlace.sede && !enlace.detalle">
            <span class="enlace">
              {{ enlace.texto }}
            </span>
          </a>

          <a
            *ngIf="enlace.sede" (click)="goToSede(enlace.sede)">
            <span class="enlace">
              {{ enlace.texto }}
            </span>
          </a>

          <a
            *ngIf="enlace.detalle" (click)="goToDetalleEXEA(enlace.detalle)">
            <span class="enlace">
              {{ enlace.texto }}
            </span>
          </a>

        </label>
      </div>

    </div>

  </div>

  <div *ngIf="cardOpenState" class="cabecera-tarjeta-abierta d-flex spaceBet align-items-center tarjeta-abierta">
    <div>
      <div class="icono-wrapper">
        <i class="{{ icon }} icono"></i>
      </div>
      <label class="titulo-tarjeta">{{ cardTitle }}</label>
    </div>

    <div *ngIf="enlaceCardOpen !== undefined" class="right mr-4">
      <a [routerLink]="enlaceCardOpen.href" class="enlace"> <i class="fas fa-external-link-alt mr-2 icono-enlace"
          aria-hidden="true"></i>{{ enlaceCardOpen.title }}</a>
    </div>

  </div>
</div>

<div *ngIf="fixed" class="form-row w-100 tarjeta-fija">

  <div class="col-lg-1 col-md-2">

    <div class="icono-wrapper">
      <i class="{{ icon }} icono"></i>
    </div>

  </div>

  <div class="col-lg-11 col-md-10 form-row">

    <div class="d-flex">
      <label class="titulo-tarjeta">
        {{ cardTitle }}
      </label>
    </div>

  </div>

  <div class="col-1"></div>
  <div class="col-11 form-row">
    <div *ngFor="let campo of campos" class="d-flex flex-wrap mr-auto campos">
      <label>
        <b>{{ campo.key }}: </b>
        {{ campo.value }}
      </label>
    </div>
  </div>

  <div class="col-1"></div>
  <div class="col-11 form-row pt-2">
    <div *ngFor="let enlace of enlaces" class="d-flex flex-wrap mr-auto">
      <label *ngIf="enlace.href && enlace.params">
        <a (click)="goToCard(enlace)" [routerLink]="[enlace.href,  enlace.params]">
          <span class="enlace">
            {{ enlace.nombre }}
          </span>
        </a>
      </label>
      <label *ngIf="enlace.href == undefined && enlace.params == undefined">
        <a (click)="goToCard(enlace)">
          <span class="enlace">
            {{ enlace.nombre }}
          </span>
        </a>
      </label>
    </div>

    <div class="ml-auto click">
      <i (click)="goDown()" class="fa fa-angle-down pr-3"></i>
      <i (click)="goTop()" class="fa fa-angle-up"></i>
    </div>

  </div>

  <!-- <div class="col-12 text-right click">
    <i class="fas fa-thumbtack"></i>
  </div> -->

</div>
<!-- Spinner -->
<div *ngIf="progressSpinner" class="overlay-spinner">
  <div class="loader"></div>
</div>