.tarjeta-cerrada {

    .icono-wrapper {
        text-align: center;
    }

    .icono {
        font-size: 2.5rem;
        color: #c6c7c8;
        cursor: inherit;
    }

    .titulo-tarjeta {
        color: #595959;
        font-size: 0.9rem;
        font-weight: bold;
    }

    .right {
        text-align: right;
    }

    .campos {

        label {

            color: #a7b8aa;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;

            span {
                color: #595959;
            }
        }
    }

    .enlace {
        color: #0000EE !important;
        text-decoration: underline;
        cursor: pointer !important;
    }

    .m-form-row {
        margin-right: -5px;
        margin-left: -5px;
    }

}

.tarjeta-abierta {

    padding-left: 0.67rem;

    .icono,
    .icono-wrapper {
        font-size: 1rem;
        text-align: center;
        display: inline-block;
        margin-right: 0.5rem;
        color: #c6c7c8;
        cursor: inherit;
    }

    .titulo-tarjeta {
        color: #595959;
        font-size: 0.9rem;
        font-weight: bold;
    }

    .enlace {
        color: #0000EE !important;
        text-decoration: underline;
        cursor: pointer !important;
    }

}

.tarjeta-fija {

    .icono-wrapper {
        text-align: center;
    }

    .icono {
        font-size: 2.5rem;
        color: #c6c7c8;
        cursor: inherit;
    }

    .titulo-tarjeta {
        color: black;
        font-size: 0.9rem;
        font-weight: bold;
    }

    .campos {

        label {

            color: black;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;

            b {
                color: black;
            }
        }
    }

    .enlace {
        color: #0000EE !important;
        text-decoration: underline;
        cursor: pointer !important;
    }

}

.click {

    i {
        cursor: pointer !important;
    }
}

.spaceBet {
    justify-content: space-between;
}

.icono-enlace {
    color: #a7b8aa !important;
}