<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>


<!--cuerpo datos generales-->
<div class="card">
  <div class="card-header header-ficha">
    <div class="form-row">
      <div class="col-lg-1 col-md-2">
        <div class="img-colegiado">
          <i class="fas fa-link icon-ficha"></i>
        </div>
      </div>
      <div class="col-lg-11 col-md-10">
        <div class="d-flex justify-content-start mb-1">
          <label
            class="mr-auto title-ficha">{{ 'formacion.fichaCurso.boton.inscripcion' | translate }}</label>
        </div>

        <p-table #table class="tabla-listado"  [(selection)]="selectedDatos" (onRowSelect)="onRowSelect($event)" [value]="inscripcionesItem" dataKey="nombre_turno" [columns]="cols" [rows]="selectedItem">
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col *ngFor="let col of cols" [style.width]="col.width">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns; let i = index" [ngSwitch]="col.field" [pSortableColumn]="col.field">
                {{ col.header | translate }}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-expanded="expanded"
            let-columns="columns">
            <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex" class="ui-widget-header" *ngIf="rowGroupMetadata[rowData.nombre_turno].index === rowIndex">
                
              <td *ngFor="let col of columns">   
                <div class= "displayFlex">
                  <div *ngIf="col.field =='nombre_turno'">       
                  <p-checkbox [(ngModel)]='rowData.selectedBooleanPadre' (onChange)="seleccionarPadre(rowData,$event)" binary="true" ></p-checkbox>      
                  </div>                     
                <a href="#" [pRowToggler]="rowData">
                   
                  <div class="text-center" *ngIf="col.field =='nombre_turno'">                       
                      <i
                      [ngClass]="expanded ? 'fa fa-fw fa-chevron-circle-down' : 'fa fa-fw fa-chevron-circle-right'"></i>
                    <span>{{rowData[col.field]}}</span>
                  </div>
                
                </a>
              </div>
                <div class="text-center"
                  *ngIf="col.field !='nombre_turno' && col.field !='descripcion_tipo_guardia'">
                  <span>{{rowData[col.field]}}</span>
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="rowexpansion" let-dato let-columns="columns">
            <tr [pSelectableRow]="dato">        
              <td *ngFor="let col of columns">
                <div *ngIf="col.field=='nombre_turno'" class="displayMargin">    
                    <p-checkbox [disabled]="disabledGuardias" [(ngModel)]="dato.selectedBoolean" (onChange)="seleccionarFila(dato, $event)" binary="true"></p-checkbox>    
                    <span class="form-group-label">{{dato.nombre_guardia}}</span>
                </div>
              </td>

            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>

<!-- <p-confirmDialog header=" Confirmación"  icon="fa fa-question-circle"  width="425"  #cd>
                <p-footer>
                  <button type="button"  pButton icon="fa-check"  label="Si"  (click)="cd.accept()"></button>
                  <button type="button"  pButton icon="fa-close"  label="No"  (click)="cd.reject()"></button>
                </p-footer>
                </p-confirmDialog> -->

<div *ngIf="progressSpinner" class="overlay-spinner">
  <div class="loader"></div>
</div>