.displayMargin{
    display: flex;
    margin-left: 15px;
}

.displayFlex{
    display:flex;
}

.font-weight-bold{
    font-weight: bold;
}
.selectAllHeader{
    border: 1px solid #d9d9d9;
}

.ui-table .ui-sortable-column .ui-sortable-column-icon {
    color: #1b1d1f !important;
}