<div>
  <p-table [value]="datos" [columns]="cols" [(selection)]="selectedDatos" [selectionMode]="selectionMode"
    [responsive]="true" #table class="tabla-listado" [paginator]="true" [rows]="selectedItem"
    (onRowSelect)="actualizaSeleccionados()" (onRowUnselect)="actualizaSeleccionados()"
    [ngClass]="{ 'customCursor': selectMultiple}" paginatorPosition="both">
    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col *ngFor="let col of cols" [style.width]="col.width">
      </colgroup>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [ngSwitch]="col.field" [pSortableColumn]="col.field">
          {{ col.header | translate }}
          <p-sortIcon [field]="col.field"></p-sortIcon>
          <input pDroppable="false" (click)="$event.stopPropagation()" *ngSwitchCase="col.field" pInputText type="text"
            (input)="
                table.filter($event.target.value, col.field, 'contains')
              " />
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-dato let-columns="columns" let-rowIndex="rowIndex">
      <tr [pSelectableRow]="dato" [pSelectableRowIndex]="rowIndex">
        <td class="text-center" *ngFor="let col of columns">
          <div>
            <span>{{dato[col.field]}}   </span>
            <div class="ayuda-btn" *ngIf="col.field == 'motivoRenuncia'" [pTooltip]="dato.observaciones" 
            tooltipPosition="top">
              <i class="fa fa-question"></i>
          </div>
            <i ></i>
          </div>
          <!-- <div *ngIf="isEliminado(dato)">
            <span [ngStyle]="{'font-style': 'italic', 'font-weight':'bold', 'text-decoration':'line-through'}">{{dato[col.field]}}</span>
          </div> -->
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="columns.length">
          {{'censo.busquedaClientesAvanzada.literal.sinResultados' | translate }}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <div class="mostrar d-flex text-right justify-content-end">
        <label class="pr-3 registros-totales">{{'informesycomunicaciones.plantillasenvio.ficha.mostrandoRegistros' |
          translate }}{{table.first + 1}} al {{table.first
          + table.rows}} {{'informesycomunicaciones.plantillasenvio.ficha.deUnTotalDe' | translate }}
          {{table.totalRecords}}</label>
        <!-- *ngIf="selectedDatos  && selectedDatos.length > 0" -->
        <label class="pr-3 numSeleccionados">{{ 'agenda.fichaCalendario.tablaNotificaciones.mostrandoRegistros' |
          translate }}: {{numSelected}}
        </label>
        <!-- <label class="pr-3 numSeleccionados" *ngIf="selectedDatos && selectedDatos.length <= 0">{{ 'agenda.fichaCalendario.tablaNotificaciones.mostrandoRegistros' | translate }}: 0
              </label> -->
        <label>{{"general.message.mostrar" | translate}}</label>
        <p-dropdown [(ngModel)]="selectedItem" [options]="rowsPerPage" (onChange)="onChangeRowsPerPages($event)">
        </p-dropdown>
        <label class="pl-1"> {{"cargaMasivaDatosCurriculares.numRegistros.literal" | translate}}</label>
        <div class="ml-3 selectAll">
          <p-checkbox (onChange)="onChangeSelectAll()" [(ngModel)]="selectAll" binary="true"
            label="{{ 'tablas.literal.seleccionarTodo' | translate }}" name="groupname">
          </p-checkbox>
        </div>
      </div>
    </ng-template>
    <!-- *ngIf="art27=='1'" -->
    <span>(*) {{"justiciaGratuita.oficio.designas.letrados.aviso" | translate}}</span>
  </p-table>
  <div class="card-footer">
    <div class="text-right main-button">
      <button 
        (click)="NewLetrado()" pButton type="button" icon="fa fa-plus" iconPos="left"
        label="{{ 'general.boton.new' | translate}}" [disabled]="isLetrado"></button>
    </div>
  </div>
</div>

<div *ngIf="progressSpinner" class="overlay-spinner">
  <div class="loader"></div>
</div>
