table {
	display: table;
}
table tr {
	display: table-cell;
}
table tr td {
	display: block;
}
.taCenter{
    text-align: center;
}
// .mat-sort-header-container {
//     align-items: center;
//   }
table{
    text-align: center;
    margin: 2%;
}
.w100{
    width: 100%;
}