<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>
<div class="ficha-container">
  <!--DATOS GENERALES-->
  <div id="infoYComuComuFichaComuConfComu">
    <div class="card">
      <div class="card-header header-ficha">
        <div *ngIf="!openFicha" class="form-row">
          <div class="col-lg-1 col-md-2">
            <div class="img-colegiado" (click)="abreCierraFicha()">
              <i class="fas fa-cog icon-ficha"></i>
            </div>
          </div>
          <div class="col-lg-11 col-md-10">
            <div class="d-flex justify-content-start mb-1 pointer" (click)="abreCierraFicha()">
              <label class="mr-auto title-ficha">{{ 'enviosMasivos.literal.configComunicacion' | translate }}</label>
            </div>
            <div class="d-flex justify-content-between">
              <label>{{ 'justiciaGratuita.oficio.designas.contrarios.identificador' | translate
              }}:
              <span>{{body.idEnvio}}</span>
            </label>
              <label>{{ 'informesycomunicaciones.comunicaciones.fichaRegistroComunicacion.configuracion.claseComunicacion' | translate
                }}:
                <span>{{body.claseComunicacion}}</span>
              </label>
              <label>{{ 'informesycomunicaciones.comunicaciones.fichaRegistroComunicacion.configuracion.modeloComunicaciones' | translate
                }}:
                <span>{{body.modeloComunicacion}}</span>
              </label>
              <i (click)="abreCierraFicha()" *ngIf="!openFicha" class="fa fa-angle-down float-right"></i>
            </div>
          </div>
        </div>
        <div *ngIf="openFicha" class=" header-ficha-open d-flex justify-content-start align-items-center" (click)="abreCierraFicha()">
          <div class="img-colegiado" (click)="abreCierraFicha()">
            <i class="fas fa-cog icon-ficha"></i>
          </div>
          <label (click)="abreCierraFicha()"
            class="title-ficha">{{ 'enviosMasivos.literal.configComunicacion' | translate }}</label>
          <i (click)="abreCierraFicha()" class="fa fa-angle-up ml-auto"></i>
        </div>
      </div>
      <!--cuerpo datos generales-->
      <div *ngIf="openFicha" class="card-body card-body-ficha">
        <div class="row">
          <div class="bloque"
            [ngClass]="{'col-lg-12': body.idTipoEnvios!='7' && body.idTipoEnvios!='1' && body.idTipoEnvios!='4' && body.idTipoEnvios!='5','col-lg-3':body.idTipoEnvios=='7' || body.idTipoEnvios=='1' || body.idTipoEnvios=='4' || body.idTipoEnvios=='5'}">
            <div class="form-row">
              <div class="form-group col-lg-12">
                <label>
                  <strong>{{ 'enviosMasivos.literal.datosGlobales' | translate }}</strong>
                </label>
              </div>
              <div class="form-group"
              [ngClass]="{'col-lg-4': body.idTipoEnvios!='7' && body.idTipoEnvios!='1' && body.idTipoEnvios!='4' && body.idTipoEnvios!='5','col-lg-12':body.idTipoEnvios=='7' || body.idTipoEnvios=='1' || body.idTipoEnvios=='4' || body.idTipoEnvios=='5'}">
              <label>{{ 'justiciaGratuita.oficio.designas.contrarios.identificador' |
                translate }}</label>
              <input [disabled]="true" type="text" class="form-control" [(ngModel)]="body.idEnvio"
                pInputText>
            </div>
              <div class="form-group"
                [ngClass]="{'col-lg-4': body.idTipoEnvios!='7' && body.idTipoEnvios!='1' && body.idTipoEnvios!='4' && body.idTipoEnvios!='5','col-lg-12':body.idTipoEnvios=='7' || body.idTipoEnvios=='1' || body.idTipoEnvios=='4' || body.idTipoEnvios=='5'}">
                <label>{{ 'informesycomunicaciones.comunicaciones.fichaRegistroComunicacion.configuracion.claseComunicaciones' | translate
                  }}
                </label>
                <p-dropdown [filter]="true" filterBy="label,labelSinTilde" (onChange)="onChangeClase()" [showClear]="true"
                  [disabled]="true" [options]="clasesComunicaciones" [(ngModel)]="body.idClaseComunicacion"
                  class="select-form">
                </p-dropdown>
              </div>
              <div class="form-group"
                [ngClass]="{'col-lg-4': body.idTipoEnvios!='7' && body.idTipoEnvios!='1' && body.idTipoEnvios!='4' && body.idTipoEnvios!='5','col-lg-12':body.idTipoEnvios=='7' || body.idTipoEnvios=='1' || body.idTipoEnvios=='4' || body.idTipoEnvios=='5'}">
                <label>{{ 'informesycomunicaciones.comunicaciones.fichaRegistroComunicacion.configuracion.modeloComunicaciones' |
                  translate }}</label>
                <input [disabled]="true" type="text" class="form-control" [(ngModel)]="body.modeloComunicacion"
                  pInputText>
              </div>
              <div class="form-group"
                [ngClass]="{'col-lg-4': body.idTipoEnvios!='7' && body.idTipoEnvios!='1' && body.idTipoEnvios!='4' && body.idTipoEnvios!='5','col-lg-12':body.idTipoEnvios=='7' || body.idTipoEnvios=='1' || body.idTipoEnvios=='4' || body.idTipoEnvios=='5'}">
                <label class="d-block">{{ 'enviosMasivos.literal.tipoEnvio' | translate }} (*)</label>
                <p-dropdown [showClear]="true" [filter]="true" filterBy="label,labelSinTilde" [disabled]="true"
                  [options]="tipoEnvios" [(ngModel)]="body.idTipoEnvios" class="select-form"></p-dropdown>
              </div>
              <div class="form-group"
                [ngClass]="{'col-lg-4':body.idTipoEnvios!='7' && body.idTipoEnvios!='1' && body.idTipoEnvios!='4' && body.idTipoEnvios!='5','col-lg-12':body.idTipoEnvios=='7' || body.idTipoEnvios=='1' || body.idTipoEnvios=='4' || body.idTipoEnvios=='5'}">
                <label class="d-block">{{ 'enviosMasivos.literal.plantillasEnvio' | translate }} (*)</label>
                <p-dropdown [disabled]="true" [filter]="true" [options]="plantillas" [showClear]="true"
                  [(ngModel)]="body.idPlantillaEnvios" class="select-form"></p-dropdown>
              </div>
              <div class="form-group"
                [ngClass]="{'col-lg-4':body.idTipoEnvios!='7' && body.idTipoEnvios!='1' && body.idTipoEnvios!='4' && body.idTipoEnvios!='5','col-lg-12':body.idTipoEnvios=='7' || body.idTipoEnvios=='1' || body.idTipoEnvios=='4' || body.idTipoEnvios=='5'}">
                <label class="d-block">{{ 'enviosMasivos.literal.descripcion' | translate }} (*)</label>
                <input [ngClass]="styleObligatorio(body.descripcion)" [disabled]="!activacionEditar" type="text"
                  class="form-control" [(ngModel)]="body.descripcion" (ngModelChange)="onlyCheckDatos()" pInputText>
              </div>
            </div>
          </div>

          <div
            *ngIf="body.idTipoEnvios== '7' || body.idTipoEnvios== '1' || body.idTipoEnvios== '4' || body.idTipoEnvios== '5'"
            class="col-lg-9 col-md-12">
            <div class="form-row">
              <div class="form-group col-lg-12 col-md-12">
                <label *ngIf="body.idTipoEnvios== '7' || body.idTipoEnvios=='1' ">
                  <strong>{{ 'informesycomunicaciones.plantillasenvio.ficha.datosCorreoElectronico' | translate }}</strong>
                </label>
                <label *ngIf="body.idTipoEnvios=='4'">
                  <strong>{{ 'informesycomunicaciones.plantillasenvio.ficha.datosSMS' | translate }}</strong>
                </label>
                <label *ngIf="body.idTipoEnvios=='5'">
                  <strong>{{ 'informesycomunicaciones.plantillasenvio.ficha.datosBuroSMS' | translate }}</strong>
                </label>
              </div>
              <div *ngIf="body.idTipoEnvios== '7' || body.idTipoEnvios=='1'" class="form-group col-lg-12 col-md-12">
                <label>{{ 'enviosMasivos.literal.asunto' | translate }}</label>
                <input [disabled]="!activacionEditar" type="text" class="form-control" [(ngModel)]="body.asunto"
                  pInputText>
              </div>
              <div *ngIf="body.idTipoEnvios== '7' || body.idTipoEnvios=='1'" class="form-group col-lg-12 col-md-12">
                <label>{{ 'enviosMasivos.literal.cuerpo' | translate }}</label>
                <editor apiKey="{{apiKey}}" [init]="editorConfig" [(ngModel)]="body.cuerpo"
                  [disabled]="!activacionEditar"></editor>
              </div>
              <div *ngIf="body.idTipoEnvios=='4' || body.idTipoEnvios=='5'" class="form-group col-lg-3 col-md-3">
                <label>{{ 'enviosMasivos.literal.numCaracteres' | translate }}: </label>
                <label *ngIf="body.cuerpo">{{body.cuerpo.length}}</label>
              </div>
              <div *ngIf="body.idTipoEnvios=='4' || body.idTipoEnvios=='5'" class="form-group col-lg-12 col-md-12">
                <label>{{ 'enviosMasivos.literal.cuerpo' | translate }}</label>
                <textarea [disabled]="true" style="height:140px" pInputTextarea autoResize="autoResize"
                  [(ngModel)]="body.cuerpo" maxlength="160"></textarea>
              </div>
              <div *ngIf="body.idTipoEnvios=='5' && (body.csv != null && body.csv != '')"
                class="form-group col-lg-12 col-md-12">
                <label (click)="descargarJustificante()"> {{ 'enviosMasivos.literal.certificado' | translate }}
                  <i class="fa fa-download"></i>
                </label>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div *ngIf="openFicha" class="card-footer ">
        <div class="text-right main-button ">
          <button (click)="checkDatos()" [disabled]="!activacionEditar" pButton type="button" icon="far fa-save"
            iconPos="left" label="{{ 'general.boton.guardar' | translate}}"></button>
          <button (click)="onCancelar()" [disabled]="!activacionEditar" pButton type="button" icon="fa fa-close"
            iconPos="left" label="{{ 'general.boton.cancel' | translate}}"></button>
        </div>
      </div>
    </div>
  </div>

</div>