<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>

<div class="card mt-3">
  <div class="card-body p-0">

    <!-- TABLA RESULTADOS -->
    <p-table [autoLayout]="true" [value]="datosMostrados" [columns]="cols" [(selection)]="selectedDatos" [responsive]="true" #table
      class="tabla-listado overflow" [paginator]="true" [rows]="selectedItem" [ngClass]="{ 'customCursor' : selectMultiple }"
      selectionMode="multiple" paginatorPosition="both" id="tablaFoco">
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngFor="let col of cols" [style.width]="col.width">
        </colgroup>
      </ng-template>

      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns; let i = index" [ngSwitch]="col.field" [pSortableColumn]="col.field">
            {{ col.header | translate }}
            <p-sortIcon [field]="col.field"></p-sortIcon>
            <input pDroppable="false" [(ngModel)]="buscadores[i]" (click)="$event.stopPropagation()" *ngSwitchCase="col.field" pInputText
              type="text" (input)="
                table.filter($event.target.value, col.field, 'contains')
              " placeholder="{{'general.boton.search' | translate}}" />
          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="columns.length">
            {{'justiciaGratuita.maestros.fundamentosCalificacion.tabla.sinResultados'|translate}}
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-dato let-columns="columns" let-rowIndex="rowIndex">
        <tr [pSelectableRow]="dato" [pSelectableRowIndex]="rowIndex">
          <td class="text-center" *ngFor="let col of columns">

            <div *ngIf="(col.field == 'fechaCompraSuscripcionDesde' || col.field == 'fechaCompraSuscripcionHasta' || col.field == 'fechaPrevistaGeneracion' || col.field == 'fechaConfirmacion');else noDate">
              <span [ngClass]="{ historico: historico }">{{dato[col.field] != undefined ? (dato[col.field] | date: "dd/MM/yyyy") : '-' }}</span>
            </div>

            <ng-template #noDate>
              <div [ngSwitch]="col.field">
                <div *ngSwitchCase="'descripcion'">
                  <a class="enlace" (click)="openTab(dato)"><span [ngClass]="{ historico: historico }">{{ dato[col.field] }}</span></a>
                </div>

                <div *ngSwitchCase="'fechaCompraSuscripcionDesde'">
                  <span [ngClass]="{ historico: historico }">{{ dato[col.field] | date: "dd/MM/yyyy" }}</span>
                </div>

                <div *ngSwitchCase="'fechaCompraSuscripcionHasta'">
                  <span [ngClass]="{ historico: historico }">{{ dato[col.field] | date: "dd/MM/yyyy" }}</span>
                </div>

                <div *ngSwitchCase="'importe'">
                  <span *ngIf="dato[col.field] != undefined" class="pull-right" [ngClass]="{ historico: historico }">{{ (dato[col.field] | currency:'EUR':true) }}</span>
                  <span *ngIf="dato[col.field] == undefined" class="pull-right">-</span>
                </div>

                <div *ngSwitchCase="'estado'">
                  <span [ngClass]="{ historico: historico }">
                    <span class="badge badge-{{ calcBadgeEstado('gen', dato['idEstadoConfirmacion']) }}" [pTooltip]="getTooltipEstadoFact(dato['estadoGeneracion'])" tooltipPosition="top" >Gen</span>
                    <span class="badge badge-{{ calcBadgeEstado('con', dato['idEstadoConfirmacion']) }}" [pTooltip]="getTooltipEstadoFact(dato['estadoConfirmacion'])" tooltipPosition="top" >Con</span>
                    <span class="badge badge-{{ calcBadgeEstado('pdf', dato['idEstadoPDF']) }}" [pTooltip]="getTooltipEstadoFact(dato['estadoPDF'])" tooltipPosition="top">PDF</span>
                    <span class="badge badge-{{ calcBadgeEstado('env', dato['idEstadoEnvio']) }}" [pTooltip]="getTooltipEstadoFact(dato['estadoEnvio'])" tooltipPosition="top">Env</span>
                    <span class="badge badge-{{ calcBadgeEstado('tra', dato['idEstadoTraspaso']) }}" *ngIf="controlEmisionFacturasSII" [pTooltip]="getTooltipEstadoFact(dato['estadoTraspaso'])" tooltipPosition="top">Tra</span>
                  </span>
                </div>
  
                <div *ngSwitchDefault>
                  <span [ngClass]="{ historico: historico }">{{ dato[col.field] }}</span>
                </div>
              </div>
            </ng-template>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="paginatorleft">
        <div class="mostrar d-flex text-right justify-content-end">
          <label class="pr-3 registros-totales">{{'informesycomunicaciones.plantillasenvio.ficha.mostrandoRegistros' | translate }}{{table.first + 1}} al {{table.first
            + table.rows}} {{'informesycomunicaciones.plantillasenvio.ficha.deUnTotalDe' | translate }} {{table.totalRecords}}</label>
          <label class="pr-3 numSeleccionados" *ngIf="selectedDatos  && selectedDatos.length > 0">{{ 'agenda.fichaCalendario.tablaNotificaciones.mostrandoRegistros' | translate }}: {{selectedDatos.length}}
          </label>
          <label class="pr-3 numSeleccionados" *ngIf="selectedDatos && selectedDatos.length <= 0">{{ 'agenda.fichaCalendario.tablaNotificaciones.mostrandoRegistros' | translate }}: 0
          </label>
          <label>{{"general.message.mostrar" | translate}}</label>
          <p-dropdown [(ngModel)]="selectedItem" [options]="rowsPerPage" (onChange)="onChangeRowsPerPages($event)">
          </p-dropdown>
          <label class="pl-1"> {{"cargaMasivaDatosCurriculares.numRegistros.literal" | translate}}</label>
          <div class="ml-3 selectAll">
            <p-checkbox (onChange)="onChangeSelectAll()" [(ngModel)]="selectAll" binary="true" label="{{ 'tablas.literal.seleccionarTodo' | translate }}"
              name="groupname"></p-checkbox>
          </div>
        </div>
      </ng-template>

    </p-table>
  </div>

  <div class="card-footer">
    <div class="text-right main-button">
      <button pButton *ngIf="historico" (click)="toggleHistorico()" type="button" icon="fa fa-history" iconPos="left" label="{{ 'general.message.ocultarHistorico' | translate }}"></button>
      <button pButton *ngIf="!historico" (click)="toggleHistorico()" type="button" icon="fa fa-history" iconPos="left" label="{{ 'general.message.mostrarHistorico' | translate }}"></button>

      <button pButton *ngIf="permisoEscritura && !historico" (click)="archivar()" [disabled]="selectedDatos.length == 0" type="button" icon="fas fa-archive" iconPos="left" label="{{ 'general.boton.archivar' | translate }}"></button>
      <button pButton *ngIf="permisoEscritura && historico" (click)="desarchivar()" [disabled]="selectedDatos.length == 0" type="button" icon="fa fa-undo" iconPos="left" label="{{ 'form.busquedaCursos.literal.boton.desarchivar' | translate }}"></button>

      <button pButton *ngIf="permisoEscritura" (click)="confirmEliminar()" [disabled]="selectedDatos.length == 0" type="button" icon="fa fa-eraser" iconPos="left" label="{{ 'general.boton.eliminar' | translate }}"></button>

      <button pButton (click)="descargarLog()" [disabled]="selectedDatos.length == 0" type="button" icon="fa fa-download" iconPos="left" label="{{ 'facturacionSJCS.fichaCertificacion.descargarLog' | translate }}"></button>
      <button pButton (click)="confirmComunicar()" [disabled]="selectedDatos.length == 0" type="button" icon="fa fa-eraser" iconPos="left" label="{{ 'general.boton.comunicar' | translate }}"></button>
      <button pButton *ngIf="permisoDisqueteCargos" (click)="nuevoFicheroAdeudos()" [disabled]="selectedDatos.length == 0" type="button" icon="fa fa-plus" iconPos="left" label="{{ 'facturacion.factProgramadas.adeudos.nuevo' | translate }}"></button>
    </div>
  </div>
</div>

<div *ngIf="progressSpinner" class="overlay-spinner">
  <div class="loader"></div>
</div>

<!-- PRIMERA CONFIRMACIÓN -->
<p-confirmDialog key="first" header="{{ 'general.cabecera.confirmacion' | translate }}" width="425"></p-confirmDialog>

<!-- AUX CONFIRMACION-->
<p-confirmDialog key="second" header="{{ 'general.cabecera.confirmacion' | translate }}" width="425"></p-confirmDialog>

<!-- SEGUNDA CONFIRMACIÓN -->
<p-dialog width="425" responsive="true" modal="modal" [draggable]="false" resizable="false" [(visible)]="showModalEliminar">
  <p-header class="title">
    <label>{{ 'general.cabecera.confirmacion' | translate }}</label>
  </p-header>

  <div class="form-row" *ngIf="currentDataToDelete">
    <label>¿ Desea eliminar la siguiente Facturacion : <span class="text-weight-bold">{{ nombreFacturacionDel }}</span> ?</label>
  </div>

  <p-footer class="main-button" *ngIf="currentDataToDelete">
    <button type="button" pButton icon="fa-check" label="Sí" (click)="confirmEliminar2()" ></button>
    <button type="button" pButton icon="fa-close" label="No" (click)="rejectEliminar2()"></button>
  </p-footer>
</p-dialog>