.inheritTable .ui-datatable-tablewrapper table {
  table-layout: inherit !important;
}

.textAlignCenter{
  text-align: center;
  width: 100%;
}
.width20{
 width: 20%;
}
.width10{
  width: 10%;
 }
 .width5{
  width: 5%;
 }
.enlace {
  color: #0000EE !important
}