<p-table [value]="expediente.hitos" [columns]="cols" [(selection)]="selectedDatos" selectionMode="multiple"
[responsive]="true" #table class="tabla-listado" [paginator]="true" [rows]="selectedItem"
  [ngClass]="{ 'customCursor': selectMultiple}"
paginatorPosition="both">
  <ng-template pTemplate="colgroup" let-columns>
    <colgroup>
      <col *ngFor="let col of cols" [style.width]="col.width">
    </colgroup>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns; let i = index" [ngSwitch]="col.field" [pSortableColumn]="col.field">
        {{ col.header | translate }}
        <p-sortIcon [field]="col.field"></p-sortIcon>
        <input pDroppable="false" [(ngModel)]="buscadores[i]" (click)="$event.stopPropagation()"
          *ngSwitchCase="col.field" pInputText type="text" (input)="
    table.filter($event.target.value, col.field, 'contains')
  " />
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-dato let-columns="columns" let-rowIndex="rowIndex">
    <tr [pSelectableRow]="dato" [pSelectableRowIndex]="rowIndex">
        <td class="text-center" *ngFor="let col of columns">
            <div *ngIf="col.field != 'estado'">
                <label>{{ dato[col.field]}}</label>
            </div>
            <div *ngIf="col.field == 'estado'">
              <label>{{ dato[col.field].descripcion}}</label>
          </div>
        </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td [attr.colspan]="columns.length">
        {{'censo.busquedaClientesAvanzada.literal.sinResultados' | translate }}
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="paginatorleft">
    <div class="mostrar d-flex text-right justify-content-end">
      <label class="pr-3 registros-totales">{{'informesycomunicaciones.plantillasenvio.ficha.mostrandoRegistros' |
        translate }}{{table.first + 1}} al
        {{table.first + table.rows}} {{'informesycomunicaciones.plantillasenvio.ficha.deUnTotalDe' | translate
        }} {{table.totalRecords}}</label>
      <label class="pr-3 numSeleccionados" *ngIf="selectedDatos  && selectedDatos.length > 0">{{
        'agenda.fichaCalendario.tablaNotificaciones.mostrandoRegistros' | translate }}: {{selectedDatos.length}}
      </label>
      <label class="pr-3 numSeleccionados" *ngIf="selectedDatos && selectedDatos.length <= 0">{{
        'agenda.fichaCalendario.tablaNotificaciones.mostrandoRegistros' | translate }}: 0
      </label>
      <label>{{"general.message.mostrar" | translate}}</label>
      <p-dropdown [(ngModel)]="selectedItem" [options]="rowsPerPage" (onChange)="onChangeRowsPerPages($event)">
      </p-dropdown>
      <label class="pl-1"> {{"cargaMasivaDatosCurriculares.numRegistros.literal" | translate}}</label>
      <div class="ml-3 selectAll">
        <p-checkbox (onChange)="onChangeSelectAll()" [(ngModel)]="selectAll"
          binary="true" label="{{ 'tablas.literal.seleccionarTodo' | translate }}" name="groupname"></p-checkbox>
      </div>
    </div>
  </ng-template>
</p-table>