<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>
<div class="busqueda-container">
    <!--DATOS COLEGIACIÓN-->
    <div class="card">
        <div class="card-header header-ficha" (click)="abreCierraFichaColegiacion()">
            <div *ngIf="!fichaColegiacion" class="form-row">
                <div class="col-lg-1 col-md-2">
                    <div class="img-colegiado">
                        <i *ngIf="!existeImagen" class="fa fa-user icon-ficha"></i>
                        <img *ngIf="existeImagen" [src]="imagenPersonaJuridica" class="icon-ficha">
                    </div>
                </div>
                <div class="col-lg-11 col-md-10">
                    <div class="d-flex justify-content-start mb-1">
                        <label class="mr-auto title-ficha">Datos de colegiación
                            <!--{{ "general.message.datos.generales" | translate}}--></label>
                        <!--<label class="registros-ficha">(0 registros)</label>-->
                    </div>
                    <div class="d-flex justify-content-between">
                        <label>Estado
                            <!--{{"censo.fichaCliente.literal.identificacion" | translate}}-->
                            <span>{{solictudEditar.estadoSolicitud}}</span>
                        </label>
                        <label>Fecha de Estado
                            <!--{{"censo.fichaCliente.literal.identificacion" | translate}}-->
                            <span>{{solictudEditar.fechaEstado | date: 'dd/MM/yyyy'}}</span>
                        </label>
                        <label>Fecha de solicitud
                            <!--{{"censo.fichaCliente.literal.identificacion" | translate}}-->
                            <span>{{solictudEditar.fechaSolicitud | date: 'dd/MM/yyyy'}}</span>
                        </label>
                        <i *ngIf="!fichaColegiacion" class="fa fa-angle-down float-right"></i>
                    </div>
                </div>
            </div>
            <div *ngIf="fichaColegiacion" class=" header-ficha-open d-flex justify-content-start align-items-center">
                <div class="img-colegiado">
                    <i *ngIf="!existeImagen" class="fa fa-user icon-ficha"></i>
                    <img *ngIf="existeImagen" [src]="imagenPersonaJuridica" class="icon-ficha">
                </div>
                <label class="title-ficha">Datos de colegiación
                    <!--{{ "general.message.datos.generales" | translate}}--></label>
                <i class="fa fa-angle-up ml-auto"></i>
            </div>
        </div>
        <!--cuerpo datos colegiación-->
        <div *ngIf="fichaColegiacion" class="card-body card-body-ficha">
            <div class="row">
                <div class="col-lg-5 col-md-5">
                    <div class="row">
                        <div class="form-group col-lg-5 col-md-5">
                            <label>Estado
                                <!--{{"censo.busquedaClientesAvanzada.literal.tipoCliente" | translate}}--></label>
                            <p-dropdown class="select-form" [(ngModel)]="solictudEditar.idEstado" [options]="estadosSolicitud"
                                optionLabel="label"></p-dropdown>
                        </div>
                        <div class="form-group col-lg-5 col-md-5">
                            <label>Fecha estado
                                <!--{{"censo.busquedaClientesAvanzada.literal.tipoCliente" | translate}}--></label>
                            <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="1930:2050" [locale]="es"
                                [utc]="true" icon="far fa-calendar-alt" dateFormat="dd/mm/yy" showIcon="true"
                                [(ngModel)]="solictudEditar.fechaEstado"></p-calendar>
                        </div>
                        <div class="form-group col-lg-5 col-md-5" style="float:right">
                            <label>Fecha solicitud
                                <!--{{"censo.busquedaClientesAvanzada.literal.tipoCliente" | translate}}--></label>
                            <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="1930:2050" [locale]="es"
                                [utc]="true" icon="far fa-calendar-alt" dateFormat="dd/mm/yy" showIcon="true"
                                [(ngModel)]="solictudEditar.fechaSolicitud"></p-calendar>
                        </div>
                    </div>
                </div>
                <div class="bloque col-lg-7 col-md-7">
                    <div class="form-group col-lg-12 col-md-12">
                        <label>Observaciones
                            <!--{{"censo.busquedaClientesAvanzada.literal.tipoCliente" | translate}}--></label>
                        <textarea [rows]="10" [cols]="10" pInputTextarea [(ngModel)]="solictudEditar.observaciones"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--FICHA DATOS COLEGIACION-->
    <div class="card">
        <div class="card-header header-ficha" (click)="abreCierraFichaSolicitud()">
            <div *ngIf="!fichaSolicitud" class="form-row">
                <div class="col-lg-1 col-md-2">
                    <div class="img-colegiado">
                        <i *ngIf="!existeImagen" class="fa fa-user icon-ficha"></i>
                        <img *ngIf="existeImagen" [src]="imagenPersonaJuridica" class="icon-ficha">
                    </div>
                </div>
                <div class="col-lg-11 col-md-10">
                    <div class="d-flex justify-content-start mb-1">
                        <label class="mr-auto title-ficha">Datos de solicitud
                            <!--{{ "general.message.datos.generales" | translate}}--></label>
                        <!--<label class="registros-ficha">(0 registros)</label>-->
                    </div>
                    <div class="d-flex justify-content-between">
                        <label>Tipo
                            <!--{{"censo.fichaCliente.literal.identificacion" | translate}}-->
                            <span>{{solictudEditar.tipoSolicitud}}</span>
                        </label>
                        <label>Modalidad
                            <!--{{"censo.fichaCliente.literal.identificacion" | translate}}-->
                            <span>{{solictudEditar.modalidad}}</span>
                        </label>
                        <i *ngIf="!fichaSolicitud" class="fa fa-angle-down float-right"></i>
                    </div>
                </div>
            </div>
            <div *ngIf="fichaSolicitud" class=" header-ficha-open d-flex justify-content-start align-items-center">
                <div class="img-colegiado">
                    <i *ngIf="!existeImagen" class="fa fa-user icon-ficha"></i>
                    <img *ngIf="existeImagen" [src]="imagenPersonaJuridica" class="icon-ficha">
                </div>
                <label class="title-ficha">Datos de solicitud
                    <!--{{ "general.message.datos.generales" | translate}}--></label>
                <i class="fa fa-angle-up ml-auto"></i>
            </div>
        </div>
        <!--cuerpo datos modalidad-->
        <div *ngIf="fichaSolicitud" class="card-body card-body-ficha">
            <div class="form-row">
                <div class="form-group col-lg-2 col-md-2">
                    <label>Solicitud de
                        <!--{{"censo.busquedaClientesAvanzada.literal.tipoCliente" | translate}}--></label>
                    <p-dropdown class="select-form" [(ngModel)]="solictudEditar.tipoSolicitud" [options]="tiposSolicitud"
                        optionLabel="label"></p-dropdown>
                </div>
                <div class="form-group col-lg-2 col-md-2">
                    <label>Tipo de colegiación
                        <!--{{"censo.busquedaClientesAvanzada.literal.tipoCliente" | translate}}--></label>
                    <p-dropdown class="select-form" [(ngModel)]="solictudEditar.idTipo" [options]="tipoColegiacion"
                        optionLabel="label"></p-dropdown>
                </div>
                <div class="form-group col-lg-2 col-md-2">
                    <label>Modalidad de documentación
                        <!--{{"censo.busquedaClientesAvanzada.literal.tipoCliente" | translate}}--></label>
                    <p-dropdown class="select-form" [(ngModel)]="solictudEditar.idModalidadDocumentacion" [options]="modalidadDocumentacion"
                        optionLabel="label"></p-dropdown>
                </div>
                <div class="form-group col-lg-2 col-md-2">
                    <label>Fecha de incorporación
                        <!--{{"censo.busquedaClientesAvanzada.literal.tipoCliente" | translate}}--></label>
                    <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="1930:2050" [locale]="es"
                        [utc]="true" icon="far fa-calendar-alt" dateFormat="dd/mm/yy" showIcon="true" [(ngModel)]="solictudEditar.fechaSolicitud"></p-calendar>
                </div>
                <div class="form-group col-lg-2 col-md-2">
                    <label>Nº colegiado
                        <!--{{"censo.busquedaClientesAvanzada.literal.tipoCliente" | translate}}--></label>
                    <input type="text" class="form-control" pInputText disabled="true" [(ngModel)]="solictudEditar.numColegiado">
                </div>
                <div class="form-group col-lg-2 col-md-2">
                    <br>
                    <p-checkbox binary="true" label="Residente" [(ngModel)]="residente"></p-checkbox>
                </div>
            </div>
        </div>
    </div>

    <!--FICHA DATOS PERSONALES-->
    <div class="card">
        <div class="card-header header-ficha" (click)="abreCierraFichaPersonal()">
            <div *ngIf="!fichaPersonal" class="form-row">
                <div class="col-lg-1 col-md-2">
                    <div class="img-colegiado">
                        <i *ngIf="!existeImagen" class="fa fa-user icon-ficha"></i>
                        <img *ngIf="existeImagen" [src]="imagenPersonaJuridica" class="icon-ficha">
                    </div>
                </div>
                <div class="col-lg-11 col-md-10">
                    <div class="d-flex justify-content-start mb-1">
                        <label class="mr-auto title-ficha">Datos personales
                            <!--{{ "general.message.datos.generales" | translate}}--></label>
                        <!--<label class="registros-ficha">(0 registros)</label>-->
                    </div>
                    <div class="d-flex justify-content-between">
                        <label>Tipo identificación
                            <!--{{"censo.fichaCliente.literal.identificacion" | translate}}-->
                            <span>{{solictudEditar.tipoIdentificacion}}</span>
                        </label>
                        <label>Nombre
                            <!--{{"censo.fichaCliente.literal.identificacion" | translate}}-->
                            <span>{{solictudEditar.nombre}}</span>
                        </label>
                        <label>Apellidos
                            <!--{{"censo.fichaCliente.literal.identificacion" | translate}}-->
                            <span>{{solictudEditar.apellidos}}</span>
                        </label>
                        <i *ngIf="!fichaPersonal" class="fa fa-angle-down float-right"></i>
                    </div>
                </div>
            </div>
            <div *ngIf="fichaPersonal" class=" header-ficha-open d-flex justify-content-start align-items-center">
                <div class="img-colegiado">
                    <i *ngIf="!existeImagen" class="fa fa-user icon-ficha"></i>
                    <img *ngIf="existeImagen" [src]="imagenPersonaJuridica" class="icon-ficha">
                </div>
                <label class="title-ficha">Datos personales
                    <!--{{ "general.message.datos.generales" | translate}}--></label>
                <i class="fa fa-angle-up ml-auto"></i>
            </div>
        </div>
        <!--cuerpo datos personales-->
        <div *ngIf="fichaPersonal" class="card-body card-body-ficha">
            <div class="row">
                <div class="form-group col-lg-2 col-md-2">
                    <label>Tipo identificación
                        <!--{{"censo.busquedaClientesAvanzada.literal.tipoCliente" | translate}}--></label>
                    <p-dropdown class="select-form" [(ngModel)]="solictudEditar.idTipoIdentificacion" [options]="tipoIdentificacion"
                        optionLabel="label"></p-dropdown>
                </div>
                <div class="form-group col-lg-2 col-md-2">
                    <label>Nº de identificación
                        <!--{{"censo.busquedaClientesAvanzada.literal.tipoCliente" | translate}}--></label>
                    <input type="text" class="form-control" pInputText [(ngModel)]="solictudEditar.numeroIdentificacion">
                </div>
                <div class="form-group col-lg-2 col-md-2">
                    <label>Tratamiento
                        <!--{{"censo.busquedaClientesAvanzada.literal.tipoCliente" | translate}}--></label>
                    <p-dropdown class="select-form" [(ngModel)]="solictudEditar.tratamiento" [options]="tratamientos"
                        optionLabel="label"></p-dropdown>
                </div>
                <div class="form-group col-lg-2 col-md-2">
                    <label>Nombre
                        <!--{{"censo.busquedaClientesAvanzada.literal.tipoCliente" | translate}}--></label>
                    <input type="text" class="form-control" pInputText [(ngModel)]="solictudEditar.nombre">
                </div>
                <div class="form-group col-lg-2 col-md-2">
                    <label>Primer Apellido
                        <!--{{"censo.busquedaClientesAvanzada.literal.tipoCliente" | translate}}--></label>
                    <input type="text" class="form-control" pInputText [(ngModel)]="solictudEditar.apellido1">
                </div>
                <div class="form-group col-lg-2 col-md-2">
                    <label>Segundo Apellido
                        <!--{{"censo.busquedaClientesAvanzada.literal.tipoCliente" | translate}}--></label>
                    <input type="text" class="form-control" pInputText [(ngModel)]="solictudEditar.apellido2">
                </div>
                <div class="form-group col-lg-2 col-md-2">
                    <label>Sexo
                        <!--{{"censo.busquedaClientesAvanzada.literal.tipoCliente" | translate}}--></label>
                    <p-dropdown class="select-form" [(ngModel)]="solictudEditar.sexo" [options]="comboSexo" optionLabel="label"></p-dropdown>
                </div>
                <div class="form-group col-lg-2 col-md-2">
                    <label>Estado civil
                        <!--{{"censo.busquedaClientesAvanzada.literal.tipoCliente" | translate}}--></label>
                    <p-dropdown class="select-form" [(ngModel)]="solictudEditar.estadoCivil" [options]="estadoCivil"
                        optionLabel="label"></p-dropdown>
                </div>
                <div class="form-group col-lg-2 col-md-2">
                    <label>Natural de
                        <!--{{"censo.busquedaClientesAvanzada.literal.tipoCliente" | translate}}--></label>
                    <input type="text" class="form-control" pInputText [(ngModel)]="solictudEditar.naturalDe">
                </div>
                <div class="form-group col-lg-2 col-md-2">
                    <label>Fecha nacimiento
                        <!--{{"censo.busquedaClientesAvanzada.literal.tipoCliente" | translate}}--></label>
                    <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="1930:2050" [locale]="es"
                        [utc]="true" icon="far fa-calendar-alt" dateFormat="dd/mm/yy" showIcon="true" [(ngModel)]="solictudEditar.fechaNacimiento"></p-calendar>
                </div>
            </div>
        </div>

    </div>


    <!--FICHA DATOS DIRECCIÓN-->
    <div class="card">
        <div class="card-header header-ficha" (click)="abreCierraFichaDireccion()">
            <div *ngIf="!fichaDireccion" class="form-row">
                <div class="col-lg-1 col-md-2">
                    <div class="img-colegiado">
                        <i *ngIf="!existeImagen" class="fa fa-user icon-ficha"></i>
                        <img *ngIf="existeImagen" [src]="imagenPersonaJuridica" class="icon-ficha">
                    </div>
                </div>
                <div class="col-lg-11 col-md-10">
                    <div class="d-flex justify-content-start mb-1">
                        <label class="mr-auto title-ficha">Datos de dirección
                            <!--{{ "general.message.datos.generales" | translate}}--></label>
                        <!--<label class="registros-ficha">(0 registros)</label>-->
                    </div>
                    <div class="d-flex justify-content-between">
                        <label>País
                            <!--{{"censo.fichaCliente.literal.identificacion" | translate}}-->
                            <span>{{solictudEditar.pais}}</span>
                        </label>
                        <label>Dirección
                            <!--{{"censo.fichaCliente.literal.identificacion" | translate}}-->
                            <span>{{solictudEditar.domicilio}}</span>
                        </label>
                        <label>Población
                            <!--{{"censo.fichaCliente.literal.identificacion" | translate}}-->
                            <span>{{solictudEditar.nombrePoblacion}}</span>
                        </label>
                        <i *ngIf="!fichaDireccion" class="fa fa-angle-down float-right"></i>
                    </div>
                </div>
            </div>
            <div *ngIf="fichaDireccion" class=" header-ficha-open d-flex justify-content-start align-items-center">
                <div class="img-colegiado">
                    <i *ngIf="!existeImagen" class="fa fa-user icon-ficha"></i>
                    <img *ngIf="existeImagen" [src]="imagenPersonaJuridica" class="icon-ficha">
                </div>
                <label class="title-ficha">Datos de dirección
                    <!--{{ "general.message.datos.generales" | translate}}--></label>
                <i class="fa fa-angle-up ml-auto"></i>
            </div>
        </div>
        <!--cuerpo datos dirección-->
        <div *ngIf="fichaDireccion" class="card-body card-body-ficha">
            <div class="row">
                <div class="form-group col-lg-2 col-md-2">
                    <label>País
                        <!--{{"censo.busquedaClientesAvanzada.literal.tipoCliente" | translate}}--></label>
                    <p-dropdown class="select-form" [(ngModel)]="solictudEditar.idPais" [options]="paises" optionLabel="label"
                        dataKey="idPais"></p-dropdown>
                </div>
                <div class="form-group col-lg-2 col-md-2">
                    <label>Dirección
                        <!--{{"censo.busquedaClientesAvanzada.literal.tipoCliente" | translate}}--></label>
                    <input type="text" class="form-control" pInputText [(ngModel)]="solictudEditar.domicilio">
                </div>
                <div class="form-group col-lg-2 col-md-2">
                    <label>CP
                        <!--{{"censo.busquedaClientesAvanzada.literal.tipoCliente" | translate}}--></label>
                    <input type="text" class="form-control" pInputText [(ngModel)]="solictudEditar.codigoPostal">
                </div>
                <div class="form-group col-lg-2 col-md-2">
                    <label>Población
                        <!--{{"censo.busquedaClientesAvanzada.literal.tipoCliente" | translate}}--></label>
                    <input type="text" class="form-control" pInputText [(ngModel)]="solictudEditar.nombrePoblacion">
                </div>
                <div class="form-group col-lg-2 col-md-2">
                    <label>Provincia
                        <!--{{"censo.busquedaClientesAvanzada.literal.tipoCliente" | translate}}--></label>
                    <input type="text" class="form-control" pInputText [(ngModel)]="solictudEditar.nombreProvincia">
                </div>
                <div class="form-group col-lg-2 col-md-2">
                    <label>Telefono 1
                        <!--{{"censo.busquedaClientesAvanzada.literal.tipoCliente" | translate}}--></label>
                    <input type="text" class="form-control" pInputText [(ngModel)]="solictudEditar.telefono1">
                </div>
                <div class="form-group col-lg-2 col-md-2">
                    <label>Telefono 2
                        <!--{{"censo.busquedaClientesAvanzada.literal.tipoCliente" | translate}}--></label>
                    <input type="text" class="form-control" pInputText [(ngModel)]="solictudEditar.telefono2">
                </div>
                <div class="form-group col-lg-2 col-md-2">
                    <label>Fax 1
                        <!--{{"censo.busquedaClientesAvanzada.literal.tipoCliente" | translate}}--></label>
                    <input type="text" class="form-control" pInputText [(ngModel)]="solictudEditar.fax1">
                </div>
                <div class="form-group col-lg-2 col-md-2">
                    <label>Fax 2
                        <!--{{"censo.busquedaClientesAvanzada.literal.tipoCliente" | translate}}--></label>
                    <input type="text" class="form-control" pInputText [(ngModel)]="solictudEditar.fax2">
                </div>
                <div class="form-group col-lg-2 col-md-2">
                    <label>Movil
                        <!--{{"censo.busquedaClientesAvanzada.literal.tipoCliente" | translate}}--></label>
                    <input type="text" class="form-control" pInputText [(ngModel)]="solictudEditar.movil">
                </div>
                <div class="form-group col-lg-2 col-md-2">
                    <label>Correo electrónico
                        <!--{{"censo.busquedaClientesAvanzada.literal.tipoCliente" | translate}}--></label>
                    <input type="text" class="form-control" pInputText [(ngModel)]="solictudEditar.correoElectronico">
                </div>
            </div>
        </div>
    </div>


    <!--FICHA DATOS BANCARIOS-->
    <div class="card">
        <div class="card-header header-ficha" (click)="abreCierraFichaBancaria()">
            <div *ngIf="!fichaBancaria" class="form-row">
                <div class="col-lg-1 col-md-2">
                    <div class="img-colegiado">
                        <i *ngIf="!existeImagen" class="fa fa-user icon-ficha"></i>
                        <img *ngIf="existeImagen" [src]="imagenPersonaJuridica" class="icon-ficha">
                    </div>
                </div>
                <div class="col-lg-11 col-md-10">
                    <div class="d-flex justify-content-start mb-1">
                        <label class="mr-auto title-ficha">Datos bancarios
                            <!--{{ "general.message.datos.generales" | translate}}--></label>
                        <!--<label class="registros-ficha">(0 registros)</label>-->
                    </div>
                    <div class="d-flex justify-content-between">
                        <label>Titular
                            <!--{{"censo.fichaCliente.literal.identificacion" | translate}}-->
                            <span>{{solictudEditar.titular}}</span>
                        </label>
                        <label>Cuenta
                            <!--{{"censo.fichaCliente.literal.identificacion" | translate}}-->
                            <span>{{solictudEditar.iban}}</span>
                        </label>
                        <label>Uso
                            <!--{{"censo.fichaCliente.literal.identificacion" | translate}}-->
                            <span>{{solictudEditar.abonoCargo}}</span>
                        </label>
                        <label>Verficado
                            <!--{{"censo.fichaCliente.literal.identificacion" | translate}}-->
                            <span>?????</span>
                        </label>
                        <i *ngIf="!fichaDireccion" class="fa fa-angle-down float-right"></i>
                    </div>
                </div>
            </div>
            <div *ngIf="fichaBancaria" class=" header-ficha-open d-flex justify-content-start align-items-center">
                <div class="img-colegiado">
                    <i *ngIf="!existeImagen" class="fa fa-user icon-ficha"></i>
                    <img *ngIf="existeImagen" [src]="imagenPersonaJuridica" class="icon-ficha">
                </div>
                <label class="title-ficha">Datos bancarios
                    <!--{{ "general.message.datos.generales" | translate}}--></label>
                <i class="fa fa-angle-up ml-auto"></i>
            </div>
        </div>
        <!--cuerpo datos bancarios-->
        <div *ngIf="fichaBancaria" class="card-body card-body-ficha">
            <div class="row">
                <div class="form-group col-lg-3 col-md-3">
                    <label>Titular
                        <!--{{"censo.busquedaClientesAvanzada.literal.tipoCliente" | translate}}--></label>
                    <input type="text" class="form-control" pInputText [(ngModel)]="solictudEditar.titular">
                </div>
                <div class="form-group col-lg-3 col-md-2">
                    <br>
                    <p-checkbox binary="true" label="Cargo" [(ngModel)]="cargo"></p-checkbox>
                </div>
                <div class="form-group col-lg-3 col-md-2">
                    <br>
                    <p-checkbox binary="true" label="Abono" [(ngModel)]="abono"></p-checkbox>
                </div>
                <div class="form-group col-lg-3 col-md-2">
                    <br>
                    <p-checkbox binary="true" label="Cuenta SJCS" [(ngModel)]="abonoJCS"></p-checkbox>
                </div>
                <div class="form-group col-lg-3 col-md-3">
                    <label>IBAN
                        <!--{{"censo.busquedaClientesAvanzada.literal.tipoCliente" | translate}}--></label>
                    <input type="text" class="form-control" pInputText [(ngModel)]="solictudEditar.iban">
                </div>
                <div class="form-group col-lg-3 col-md-3">
                    <label>Banco
                        <!--{{"censo.busquedaClientesAvanzada.literal.tipoCliente" | translate}}--></label>
                    <input type="text" class="form-control" pInputText [(ngModel)]="solictudEditar.banco">
                </div>
            </div>
        </div>
    </div>

    <!--FICHA DATOS ALTER MUTUA-->
    <div class="card">
        <div class="card-header header-ficha" (click)="abreCierraFichaMutua()">
            <div *ngIf="!fichaMutua" class="form-row">
                <div class="col-lg-1 col-md-2">
                    <div class="img-colegiado">
                        <i *ngIf="!existeImagen" class="fa fa-user icon-ficha"></i>
                        <img *ngIf="existeImagen" [src]="imagenPersonaJuridica" class="icon-ficha">
                    </div>
                </div>
                <div class="col-lg-11 col-md-10">
                    <div class="d-flex justify-content-start mb-1">
                        <label class="mr-auto title-ficha">Alter Mutua
                            <!--{{ "general.message.datos.generales" | translate}}--></label>
                        <!--<label class="registros-ficha">(0 registros)</label>-->
                    </div>
                    <div class="d-flex justify-content-between">
                        <label>País {{"censo.fichaCliente.literal.identificacion" | translate}}
                            <span>País</span>
                        </label>
                        <i *ngIf="!fichaMutua" class="fa fa-angle-down float-right"></i>
                    </div>
                </div>
            </div>
            <div *ngIf="fichaMutua" class=" header-ficha-open d-flex justify-content-start align-items-center">
                <div class="img-colegiado">
                    <i *ngIf="!existeImagen" class="fa fa-user icon-ficha"></i>
                    <img *ngIf="existeImagen" [src]="imagenPersonaJuridica" class="icon-ficha">
                </div>
                <label class="title-ficha">Alter Mutua
                    <!--{{ "general.message.datos.generales" | translate}}--></label>
                <i class="fa fa-angle-up ml-auto"></i>
            </div>
        </div>
        <!--cuerpo datos alter mutúa-->
        <div *ngIf="fichaMutua" class="card-body card-body-ficha">
            <div class="row">
                <div class="form-group col-lg-3 col-md-3">
                    <label>País
                        <!--{{"censo.busquedaClientesAvanzada.literal.tipoCliente" | translate}}--></label>
                    <p-dropdown class="select-form" [(ngModel)]="selectedTipo" [options]="comboIdentificacion"
                        optionLabel="label"></p-dropdown>
                </div>

            </div>
        </div>
    </div>

    <!--FICHA MUTUALIDAD DE LA ABOGACÍA-->
    <div class="card">
        <div class="card-header header-ficha" (click)="abreCierraFichaAbogacia()">
            <div *ngIf="!fichaAbogacia" class="form-row">
                <div class="col-lg-1 col-md-2">
                    <div class="img-colegiado">
                        <i *ngIf="!existeImagen" class="fa fa-user icon-ficha"></i>
                        <img *ngIf="existeImagen" [src]="imagenPersonaJuridica" class="icon-ficha">
                    </div>
                </div>
                <div class="col-lg-11 col-md-10">
                    <div class="d-flex justify-content-start mb-1">
                        <label class="mr-auto title-ficha">Mutualidad de la abogacía
                            <!--{{ "general.message.datos.generales" | translate}}--></label>
                        <!--<label class="registros-ficha">(0 registros)</label>-->
                    </div>
                    <div class="d-flex justify-content-between">
                        <label>País {{"censo.fichaCliente.literal.identificacion" | translate}}
                            <span>País</span>
                        </label>
                        <i *ngIf="!fichaAbogacia" class="fa fa-angle-down float-right"></i>
                    </div>
                </div>
            </div>
            <div *ngIf="fichaAbogacia" class=" header-ficha-open d-flex justify-content-start align-items-center">
                <div class="img-colegiado">
                    <i *ngIf="!existeImagen" class="fa fa-user icon-ficha"></i>
                    <img *ngIf="existeImagen" [src]="imagenPersonaJuridica" class="icon-ficha">
                </div>
                <label class="title-ficha">Mutualidad de la abogacía
                    <!--{{ "general.message.datos.generales" | translate}}--></label>
                <i class="fa fa-angle-up ml-auto"></i>
            </div>
        </div>
        <!--cuerpo datos abogacía-->
        <div *ngIf="fichaAbogacia" class="card-body card-body-ficha">
            <div class="row">
                <div class="form-group col-lg-3 col-md-3">
                    <label>País
                        <!--{{"censo.busquedaClientesAvanzada.literal.tipoCliente" | translate}}--></label>
                    <p-dropdown class="select-form" [(ngModel)]="selectedTipo" [options]="comboIdentificacion"
                        optionLabel="label"></p-dropdown>
                </div>

            </div>
        </div>
    </div>

    <div class="mt-3 text-right main-button ">
        <button (click)="backTo()" pButton type="button " icon="fa fa-angle-left" iconPos="left" label="{{ 'general.boton.volver' | translate}}"></button>
        <button (click)="guardar()" pButton type="button " icon="fa fa-angle-left" iconPos="left" label="Guardar"></button>
    </div>
</div>
<div *ngIf="progressSpinner" class="overlay-spinner">
    <div class="loader"></div>
</div>