<!--<app-my-iframe url="{{ url }}"></app-my-iframe>-->

<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>
<div class="card">
  <div class="header-title">
    <i class="fa fa-square"></i>
    <p>{{'menu.justiciaGratuita' | translate}}
      <i class="fa fa-angle-right"></i>{{ 'c' | translate }}
      <i class="fa fa-angle-right"></i>{{'menu.justiciaGratuita.guardia.calendarios' | translate}}
    </p>
  </div>

  <div class="busqueda-container" class="card-body card-body-ficha">
    <app-filtros-guardia-calendarios  (isOpen)="isOpenReceive($event)" (filtrosValues)="getFiltrosValues($event)"></app-filtros-guardia-calendarios>
    <app-tabla-resultado-mix *ngIf="buscar" [dataToDuplicate] = "dataToDuplicate" [calendarios] ="true" [totalRegistros] = "totalRegistros" [seleccionarTodo]="seleccionarTodo"
    [cabeceras]="cabeceras" [rowGroupsAux]="rowGroupsAux" [rowGroups]="rowGroups" [comboGuardiasIncompatibles]="comboGuardiasIncompatibles" 
    (anySelected)="notifyAnySelected($event)" (selectedRow)="checkSelectedRow($event)" (save)="save($event)"  (delete)="delete($event)" (deleteFromCombo)="deleteFromCombo($event)" (descargaLOG)="descargaLOG($event)"></app-tabla-resultado-mix>
  </div>


  <div *ngIf="progressSpinner" class="overlay-spinner">
    <div class="loader"></div>
  </div>
</div>