<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>
<div class="busqueda-container">
  <div class="busqueda-container">
    <app-filtro-actas (searchEmitter)="search($event)" [permisoEscritura]="permisoEscritura"></app-filtro-actas>
    <app-tabla-actas *ngIf="buscar" [datos]="datos" [filtro]="this.filtros.body" [permisos]="permisoEscritura"  (search)="search($event)"></app-tabla-actas>
  </div>
</div>

<div *ngIf="progressSpinner" class="overlay-spinner">
    <!--<p-progressSpinner animationDuration="1s"></p-progressSpinner>-->
    <div class="loader"></div>
</div>
