<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>

<div class="card">
  <div class="card-body">
    <p class="title-module" (click)="abreCierraTipo()">{{ 'censo.consultaDatosCV.cabecera' | translate }}
      <i (click)="abreCierraTipo()" *ngIf="!showTipo" class="fa fa-angle-up float-right"></i>
      <i (click)="abreCierraTipo()" *ngIf="showTipo" class="fa fa-angle-down float-right"></i>
    </p>
    <div *ngIf="showTipo" class="module vista-simple">
      <div class="row">
        <div class="form-group col-lg-3 col-md-3">
          <label><strong>{{ "censo.datosCv.literal.fechaCarga" | translate }}</strong></label>
          <br>
          <app-fecha [(value)]="filtro.fechaCarga" (valueChangeSelected)="fillFechaCarga($event)"
            (valueChangeInput)="fillFechaCarga($event)">
          </app-fecha>
        </div>
        <div class="form-group col-lg-4 col-md-4">
          <label><strong>** Fichero</strong></label>
          <br>
          <p-fileUpload #pUploadFile icon="fa fa-plus" iconPos="left" chooseLabel="{{ 'oficio.cargasMasivas.seleccionarArchivo' | translate}}"
          name="file" mode="basic" accept=".xls"  class="edit my-0 mx-auto main-button" (onSelect)="getFile($event)" auto="true"></p-fileUpload>
        </div>
      </div>
    </div>

  </div>

  <!-- BOTON TARJETA -->
  <div class="card-footer">  
    <div class="text-right main-button">
      <button (click)="uploadFile()" pButton type="button" icon="fa fa-upload" iconPos="left"
      label="{{ 'general.boton.cargarFichero' | translate}}"></button>
    </div>
  </div>

</div>
