<p-growl [(value)]="msgs" life="1500"></p-growl>
<div class="busqueda-container">

  <!--<div *ngFor="let ficha of fichasPosibles" [ngSwitch]="ficha.key">
    <app-datos-generales *ngSwitchCase="'generales'"></app-datos-generales>
  </div>-->

  <!--DATOS GENERALES-->
  <div class="card">
    <div class="card-header header-ficha">
      <div *ngIf="!esFichaActiva('generales')" class="form-row">
        <div class="col-lg-1 col-md-2">
          <div class="img-colegiado">
            <img src="./assets/images/img-colegiado.PNG">
          </div>
        </div>
        <div class="col-lg-11 col-md-10">
          <div class="d-flex justify-content-end mb-1">
            <label class="mr-auto title-ficha">{{ "general.message.datos.generales" | translate}}</label>
            <!--<label class="registros-ficha">(0 registros)</label>-->
          </div>
          <div class="d-flex justify-content-between">
            <label>{{"administracion.usuarios.literal.NIF" | translate}} <span>{{body.nif}}</span></label>
            <label>{{"administracion.parametrosGenerales.literal.nombre" | translate}} <span>{{body.nombre}}</span></label>
            <label>{{"censo.consultaDatosColegiacion.literal.fechaNac" | translate}} <span>{{body.fechaNacimiento}}</span></label>
            <label>{{"administracion.usuarios.literal.fechaAlta" | translate}} <span>{{body.fechaAlta}}</span></label>
            <i *ngIf="!esFichaActiva('generales')" (click)="abrirFicha('generales')" class="fa fa-angle-down float-right"></i>
          </div>
        </div>
      </div>
      <div *ngIf="esFichaActiva('generales')" class=" header-ficha-open d-flex justify-content-start align-items-center">
        <div class="img-colegiado">
          <img src="./assets/images/img-colegiado.PNG">
        </div>
        <label class="title-ficha">{{ "general.message.datos.generales" | translate}}</label>
        <i (click)="cerrarFicha('generales')" class="fa fa-angle-up ml-auto"></i>
      </div>
    </div>
    <!--cuerpo datos generales-->

    <div *ngIf="esFichaActiva('generales')" class="card-body card-body-ficha">
      <div class="row">
        <div class="bloque col-lg-3 col-md-3">
          <label class="d-block">Foto</label>
          <div class="img-colegiado my-2">
            <img src="./assets/images/img-colegiado.PNG">
            <!--<img src="{{imagenURL}}">-->
            <p-fileUpload #fubauto chooseLabel="" class="edit" mode="basic" name="file" auto="true" accept="image/*" (change)="uploadImage($event)"
              auto="true">
              </p-fileUpload>
              <!--<p-fileUpload *ngIf="archivoDisponible" #fubauto mode="basic" name="file" accept="image/*" (change)="uploadImage($event)" auto="true" chooseLabel="{{'administracion.gestionEntidad.buscarLogotipo' | translate}}">
                            </p-fileUpload>-->

          </div>
          <!--<p-checkbox binary="true" [(ngModel)]="body.utilizarFoto" label="{{ 'censo.consultaDatosGenerales.literal.usarFoto' | translate}}"
            name="groupname "></p-checkbox>-->
        </div>
        <div class="bloque col-lg-5 col-md-5">
          <div class="form-row">
            <div class="form-group col-lg-6 col-md-6">
              <label>{{"censo.fichaCliente.literal.identificacion"  | translate}} (*)</label>
              <p-dropdown class="select-form" [(ngModel)]="body.identificacion" [options]="comboIdentificacion" optionLabel="value" (ngModelChange)="onChangeForm()"></p-dropdown>
            </div>
            <div class="form-group col-lg-6 col-md-6">
              <label>Tipo de persona (*)</label>
              <p-dropdown placeholder="{{'administracion.usuarios.literal.NIF' | translate}}" class="select-form" [(ngModel)]="body.tipo"
                [options]="comboTipo" (ngModelChange)="onChangeForm()"></p-dropdown>
            </div>
            <div class="form-group col-lg-6 col-md-6 form-group-date">
              <label>{{"administracion.usuarios.literal.fechaAlta" | translate}} (*)</label>
              <p-calendar [locale]="es" [(ngModel)]="body.fechaAlta" dateFormat="dd/mm/yy" icon="far fa-calendar-alt" showIcon="true" (onSelect)="calculaEdad()"
                (ngModelChange)="onChangeForm()" [(disabled)]="!editar"></p-calendar>
            </div>
            <div class="form-group col-lg-6 col-md-6 form-group-date">
              <label>{{"censo.consultaDatos.literal.fechaBaja" | translate}}</label>
              <p-calendar [locale]="es" [(ngModel)]="body.fechaBaja" dateFormat="dd/mm/yy" icon="far fa-calendar-alt" showIcon="true" (onSelect)="calculaEdad()"
                [(disabled)]="!editar"></p-calendar>
            </div>
            <div class="form-group col-lg-6 col-md-6">
              <label>{{"censo.consultaDatosGenerales.literal.denominacion" | translate}} (*)</label>
              <input [(ngModel)]="body.denominacion" type="text" class="form-control" pInputText>
            </div>
            <div class="form-group col-lg-6 col-md-6">
              <label>{{"gratuita.definirTurnosIndex.literal.abreviatura" | translate}} (*)</label>
              <input [(ngModel)]="body.abreviatura" type="text" class="form-control" (ngModelChange)="onChangeForm()" pInputText>
            </div>
          </div>
        </div>
        <!-- INFORMACIÓN ADICIONAL -->
        <div class="bloque col-lg-4 col-md-4">
          <div class="form-row">
            <div class="form-group col-lg-8 col-md-8">
              <label>{{"censo.fichaCliente.situacion.idiomaPref" | translate}}</label>
              <p-dropdown class="select-form" [options]="idiomas" [(ngModel)]="body.idiomaPreferencia" [filter]="true" filterBy="label"></p-dropdown>
            </div>
            <!--<div class="form-group col-lg-8 col-md-8">
              <label>{{"menu.administracion.gestionMultiidioma.etiquetas" | translate}}</label> <br>
              <p-multiSelect [defaultLabel]="textFilter" styleClass="widthAll" [(ngModel)]='body.etiquetas' [options]="comboEtiquetas"
                [selectedItemsLabel]="textSelected" maxSelectedLabels="1" autoWidth="false" defaultLabel="" maxSelectedLabels="1"
                styleClass="widthAll"></p-multiSelect>
            </div>-->
            <div class="form-group col-lg-12 col-md-12 ">
              <label>{{"censo.consultaDatosGenerales.literal.cuentaContable" | translate}}</label>
              <input value="1170 " type="text " class="form-control " [(ngModel)]="body.cuentaContable " pInputText>
            </div>
            <div class="form-group col-lg-8 col-md-8">
              <label>Anotaciones: </label>
              <textarea pInputTextarea [(ngModel)]="body.anotaciones"></textarea>
            </div>
            <div class="form-group col-lg-8 col-md-8">
              <label>{{"menu.administracion.gestionMultiidioma.etiquetas" | translate}}</label> <br/>
              <!--<p-multiSelect [defaultLabel]="textFilter" styleClass="widthAll" [options]="comboEtiquetas" autoWidth="false" maxSelectedLabels="1"
                styleClass="widthAll" showHeader="false">-->
              <p-multiSelect [options]="comboEtiquetas">
                <ng-template let-item pTemplate="item">
                  <p-chips>
                    {{item.label}}
                  </p-chips>
                </ng-template>
              </p-multiSelect>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="esFichaActiva('generales') " class="card-footer ">
        <div class="text-right main-button ">
          <button (click)="restablecer()" pButton type="button" icon="fa fa-undo" iconPos="left" label="Reestablecer"></button>
          <button (click)="guardar()" [disabled]="!showGuardar" pButton type="button" icon="far fa-save" iconPos="left" label="Guardar"></button>
        </div>
      </div>
    </div>
    <!--END DATOS GENERALES-->

  </div>