<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>
<form [formGroup]="dgForm">
  <div class="row padding-interior m-0">

    <div class="form-row">
      <div class="form-group col-lg-3 col-md-3" *ngFor="let input of inputs1">
        <label>{{input.nombre}}</label>
        <input type="text" class="form-control" [placeholder]="input.valor" pInputText>
      </div>

      <div class="form-group col-lg-3 col-md-3" *ngFor="let datePickerTitle of datePickers2">
        <label>{{ datePickerTitle }}</label>
        <app-fecha [utc]="true"></app-fecha>
      </div>

      <div class="inline form-group col-lg-3 col-md-3" *ngFor="let datePickerTitle of datePickers1">

        <div class="col-lg-8 col-md-8 pl-0">
          <label>{{ datePickerTitle }}</label>
          <app-fecha [utc]="false"></app-fecha>
        </div>
        <div class="col-lg-4 col-md-4 toBottom">
          <app-hora></app-hora>
        </div>

      </div>

      <div class="form-group col-lg-3 col-md-3" *ngFor="let selector of selectores1; let i = index;">
        <app-selector [i]="i" [selector]="selector"></app-selector>
      </div>
      <div class="form-group col-lg-12 col-md-12">
        <app-buscador-colegial [numColegiado]="usuarioBusquedaExpress.numColegiado"
          [nombreAp]="usuarioBusquedaExpress.nombreAp" [tarjeta]="'sjcsEjgsfichAsistDatGen'"></app-buscador-colegial>
      </div>
    </div>

  </div>
</form>

<div class="card-footer">
  <div class="text-right main-button">
    <button pButton type="button" icon="" iconPos="left" label="Anular"
      (click)="showMsg('success', 'Se ha anulado correctamente', '')"></button>
    <button pButton type="button" icon="" iconPos="left" label="Finalizar"
      (click)="showMsg('success', 'Se ha reactivado correctamente', '')"></button>
    <button pButton type="button" icon="fa fa-undo" iconPos="left" label="Restablecer"
      (click)="showMsg('success', 'Se ha restablecido correctamente', '')"></button>
    <button pButton type="button" icon="far fa-save" iconPos="left" label="Guardar"
      (click)="showMsg('success', 'Se ha guardado correctamente', '')"></button>
  </div>
</div>