::ng-deep {
    
    #paginador {

        .ui-paginator {
            text-align: right;
            border: none !important;
    
            a {
                background: none !important;
                border: none !important;
            }
    
            .ui-paginator-page.ui-state-active {
                background: none;
                border: none;
                color: #8da3c1;
            }
        }

    }

}
