<div id="paginador">
    <p-paginator styleclass="ui-paginator-top" [rows]="10" [totalRecords]="40" [templateLeft]="paginatorleft">

        <ng-template #paginatorleft>
            <div class="mostrar d-flex text-right justify-content-end">
                <label *ngIf="type === 'BOTTOM'" class="pr-3 registros-totales">Mostrando registros del 1 al 10 de un
                    total
                    de 200</label>
                <label>Mostrar</label>
                <p-dropdown [options]="opcionesDropdown">
                </p-dropdown>
                <label class="pl-1">Registros</label>
                <div *ngIf="type === 'TOP'" class="ml-3 selectAll">
                    <p-checkbox (onChange)="selectedAll()" binary="true" label="Seleccionar todo" name="groupname">
                    </p-checkbox>
                </div>
            </div>

        </ng-template>

    </p-paginator>
</div>