.padding-interior {
    padding-right: 1.25rem !important;
    padding-left: 1.25rem !important;
    padding-top: 0.6rem !important;
    padding-bottom: 0.6rem !important;
}

.messageBox {
    background-color: #8da3c1;
    color: white;
    border-radius: 5px;
    border-color: #8da3c1;
}

.vertical-align {
    display: flex;
    align-items: flex-end;
}

.border-line {
    border-right: 1px solid #c6c7c8;
}

.title-bloque {
    font-weight: bold;
    padding-left: 0.938rem;
}

.paddings-columns {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}


::ng-deep .tooltip {

    .ui-tooltip-text {

        background-color: #8da3c1 !important;
        color: white !important;

    }

    .ui-tooltip-arrow {
        display: none !important;
    }

}
