<p-growl (onHover)="clear()" [(value)]="msgs" life="30000"></p-growl>

<div class="busqueda-container" id="datosGenerales">
  <div class="card">
    <div class="card-header header-ficha">
      <div class=" header-ficha-open d-flex justify-content-start align-items-center" (click)="abreCierraFicha('generales')">
        <div class="img-colegiado">
          <i class="fas fa-user icon-ficha"></i>
        </div>
        <label class="title-ficha">{{'' | translate}} Guardias Calendario</label>
        <i class="fa fa-angle-up ml-auto"></i>
      </div>
    </div>
    <div class="card-body card-body-ficha">
      <div class="row col-12">
        <app-tabla-resultado-order *ngIf="dataReady" [estado]="tarjetaDatosGenerales.estado" [duplicar]="duplicar" [calendarios]="true" [totalRegistros] = "totalRegistros" [seleccionarTodo]="seleccionarTodo"
        [cabeceras]="cabeceras" [rowGroupsAux]="rowGroupsAux" [rowGroups]="rowGroups" [comboGuardia]="comboGuardiaConjunto"
        (anySelected)="notifyAnySelected($event)" (selectedRow)="checkSelectedRow($event)" (colaGuardiaModified)="updateColaGuardia($event)" (guardiasCalendarioModified)="updateGuardiasCalendario($event)" (rest)="rest($event)" (dupli)="duplicar($event)" (delete)="delete($event)" (guardarGuardiasEnConjunto)="guardarGuardiasEnConjunto($event)">
      </app-tabla-resultado-order>

      </div>
    </div>

    <!--<div class="card-footer">
      <div class="text-right main-button">
        <button (click)="rest()" pButton [disabled]="historico || !permisoEscritura" type="button" icon="fa fa-undo" iconPos="left"
          label="{{ 'general.boton.restablecer' | translate}}"></button>
        <button (click)="save()" pButton type="button" icon="far fa-save" iconPos="left" label="{{ 'general.boton.guardar' | translate}}"></button>
      </div>
    </div>-->
  </div>
</div>

<div *ngIf="progressSpinner" class="overlay-spinner">
  <div class="loader"></div>
</div>