<p-growl (onHover)="clear()" [(value)]="msgs" life="30000"></p-growl>
<div class="busqueda-container">
<div class="card">
  <div class="card-header header-ficha">
    <div  class="form-row">
      <div class="col-lg-1 col-md-2" >
        <div class="img-colegiado">
          <i class="fas fa-link icon-ficha"></i>
        </div>
      </div>
      <div class="col-lg-11 col-md-10 ">
        <div class="d-flex justify-content-end mb-1" >
          <label class="mr-auto title-ficha pointer">{{'dato.jgr.guardia.guardias.turno' | translate}}</label>
          <i class="fas fa-external-link-alt mr-2"></i><label (click)="navigateToFichaTurno()" class="enlace">{{'dato.jgr.guardia.saltcomp.turno' | translate}}</label>
        </div>
        <div class="d-flex justify-content-between default" >
          <label >{{'dato.jgr.guardia.guardias.guardia' | translate}}: 
            <span>{{turnosItem.nombre}}</span>
          </label>
          
          <label >{{'menu.justiciaGratuita.maestros.Materia' | translate}}: 
            <span *ngIf = "turnosItem.materia != null || turnosItem.materia != undefined ">{{turnosItem.materia}}</span>
          </label>

          <label >{{'justiciaGratuita.maestros.zonasYSubzonas.zona' | translate}}: 
            <span *ngIf = "turnosItem.zona != null || turnosItem.zona != undefined ">{{turnosItem.zona}}</span>
          </label>

          <label >{{'agenda.fichaEvento.tarjetaGenerales.partidoJudicial' | translate}}: 
            <span *ngIf = "turnosItem.nombrepartidosjudiciales != null || turnosItem.nombrepartidosjudiciales != undefined ">{{turnosItem.nombrepartidosjudiciales}}</span>
          </label>

          <label >Número de Inscritos: 
            <span>{{turnosItem.nletrados}}</span>
          </label>
          
          <i class="fa fa-angle-down ml-auto" ></i>
        </div>
      </div>
    </div>
   
  </div>
</div>

<div *ngIf="progressSpinner" class="overlay-spinner">
  <div class="loader"></div>
</div>
