<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>
<div class="busqueda-container">
    <app-filtrosturnos (busqueda)="searchPartidas($event)" [permisos]="permisoEscritura"></app-filtrosturnos>
    <app-gestion-turnos *ngIf="buscar" [datos]="datos" (searchPartidas)="searchPartidas($event)" id="tablaFoco"></app-gestion-turnos>
</div>

<div *ngIf="progressSpinner" class="overlay-spinner">
    <!--<p-progressSpinner animationDuration="1s"></p-progressSpinner>-->
    <div class="loader"></div>
</div>