<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>
<div class="ficha-container">
  <div id="infoYComuComuFichaComuProg">
    <!--DATOS GENERALES-->
    <div class="card">
      <div class="card-header header-ficha">
        <div *ngIf="!openFicha" class="form-row">
          <div class="col-lg-1 col-md-2">
            <div class="img-colegiado" (click)="abreCierraFicha()">
              <i class="fas fa-calendar-plus icon-ficha"></i>
            </div>
          </div>
          <div class="col-lg-11 col-md-10">
            <div class="d-flex justify-content-start mb-1 pointer" (click)="abreCierraFicha()">
              <label 
                class="mr-auto title-ficha">{{'enviosMasivos.literal.programacion' | translate}}</label>
            </div>
            <div class="d-flex justify-content-between">
              <label>Fecha Programación: {{body.fechaProgramada | date: 'dd/MM/yyyy, H:mm '}}
              </label>
              <i (click)="abreCierraFicha()" *ngIf="!openFicha" class="fa fa-angle-down float-right"></i>
            </div>
          </div>
        </div>
        <div *ngIf="openFicha" (click)="abreCierraFicha()" class=" header-ficha-open d-flex justify-content-start align-items-center">
          <div class="img-colegiado" (click)="abreCierraFicha()">
            <i class="fas fa-calendar-plus icon-ficha"></i>
          </div>
          <label (click)="abreCierraFicha()"
            class="title-ficha">{{'enviosMasivos.literal.programacion' | translate}}</label>
          <i (click)="abreCierraFicha()" class="fa fa-angle-up ml-auto"></i>
        </div>
      </div>
      <!--cuerpo datos generales-->
      <div *ngIf="openFicha" class="card-body card-body-ficha">
        <div class="form-row">
          <div class="form-group col-lg-3 col-md-4">
            <label class="d-block mb-1">{{'enviosMasivos.literal.creado' | translate}}</label>
            <app-fecha [(value)]="body.fechaCreacion" [disabled]="true" [minDate]="currentDate" [utc]="false"
              showTime="true" (valueChangeSelected)="fillFechaCreacion($event)"
              (valueChangeInput)="fillFechaCreacion($event)"></app-fecha>
          </div>
          <div class="form-group col-lg-3 col-md-3">
            <label>{{'enviosMasivos.literal.estado' | translate}}</label>
            <p-dropdown [showClear]="true" [filter]="true" [disabled]="true" [options]="estados"
              [(ngModel)]="body.idEstado" class="select-form no-edit">
            </p-dropdown>
          </div>

          <div class="form-group col-lg-2 col-md-2" style="padding-top: 20px;"
            *ngIf="body.idEstado==2 || body.idEstado==3">
            <button (click)="downloadLogFile()" pButton type="button" icon="fa fa-download" iconPos="left"
              label="{{'enviosMasivos.literal.descargaLog' | translate}}"></button>
          </div>

          <div class="form-group col-lg-4 col-md-4">
            <label>{{'enviosMasivos.literal.fechaProgramacion' | translate}} (*)</label>
            <app-fecha [inputStyleClass]="styleObligatorio(body.fechaProgramada)" [(value)]="body.fechaProgramada"
              [minDate]="currentDate" [disabled]="noEditar" [utc]="false" showTime="true"
              (valueChangeSelected)="fillFechaProgramada($event)" (valueChangeInput)="fillFechaProgramada($event)">
            </app-fecha>
          </div>
        </div>
      </div>
      <div *ngIf="openFicha" class="card-footer ">
        <div class="text-right main-button ">
          <button (click)="restablecer()" [disabled]="isGuardarDisabled()" pButton type="button " icon="fa fa-undo "
            iconPos="left" label="{{'general.boton.restablecer' | translate}} "></button>
          <button (click)="checkDatos()" [disabled]="noEditar" pButton type=" button " icon="far fa-save " iconPos="left"
            label="{{ 'general.boton.guardar' | translate}} "></button>
        </div>
      </div>
    </div>
  </div>

</div>