<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>

<div class="ficha-container">
  <div class="card">
    <div class="card-header header-ficha" (click)="onHideTarjeta()">
      <div *ngIf="showTarjeta" class="header-ficha-open d-flex justify-content-start align-items-center">
        <div class="img-colegiado">
          <i class="fa fa-user icon-ficha"></i>
        </div>
        <label class="title-ficha">{{ 'facturacion.productos.Solicitud' | translate }}</label>
        <div class="d-flex justify-content-start mb-1 ml-auto">
          <i class="fa fa-angle-up ml-auto"></i>
        </div>
      </div>
      <div *ngIf="!showTarjeta" class="form-row">
        <div class="col-lg-1 col-md-2">
          <div class="img-colegiado">
            <i class="fa fa-user icon-ficha"></i>
          </div>
        </div>
        <div class="col-lg-11 col-md-10">
          <div class="d-flex justify-content-start mb-1">
            <label class="mr-auto title-ficha">{{ 'facturacion.productos.Solicitud' | translate }}
            </label>
          </div>
          <div class="row">
            <div class="col-1">
              <label>{{ "facturacion.productos.nSolicitud" | translate }}
                <span>{{ ficha.nSolicitud }}</span>
              </label>
            </div>
            <div *ngIf="filas.length > 0" class="col-2">
              <label>Fecha solicitud
                <span>{{ ficha.fechaPendiente | date: 'dd/MM/yyyy' }}</span>
              </label>
            </div>
            <div *ngIf="filas.length > 0" class="col-3">
              <label>Usuario solicitud
                <span>{{ nombreApellidos }}</span>
              </label>
            </div>
            <div *ngIf="filas.length > 0" class="col-2">
              <label>Fecha aprobación
                <span>{{ ficha.fechaCompra | date: 'dd/MM/yyyy' }}</span>
              </label>
            </div>
            <div *ngIf="filas.length > 0" class="col-2">
              <label>Última modificación
                <span *ngIf="filaCabecera">{{ filaCabecera.fecha | date: 'dd/MM/yyyy' }}</span>
              </label>
            </div>
            <div *ngIf="filas.length > 0" class="col-2">
              <label>Estado
                <span *ngIf="filaCabecera">{{ filaCabecera.estado }}</span>
              </label>
            </div>
            <div class="d-flex justify-content-start mb-1 ml-auto">
              <i class="fa fa-angle-down ml-auto"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div [hidden]="!showTarjeta" class="card-body card-body-ficha">
      <div class="row">
        <div class="bloque col-lg-12 col-md-12 col-sm-12">
          <div class="form-row">
            <div class="form-group col-lg-3 col-md-3">
              <label>{{ "facturacion.productos.nSolicitud" | translate }}
              </label>
              <input [(ngModel)]="ficha.nSolicitud" type="string" class="form-control" disabled pInputText />
            </div>
            <div class="form-group col-lg-3 col-md-3">
              <label>Estado
              </label>
              <input [(ngModel)]="filaCabecera.estado" type="text" class="form-control" disabled pInputText />
            </div>
            <div class="form-group col-lg-3 col-md-3">
              <label><!--{{ "facturacion.productos.ultimoModificador" | translate }}-->Fecha solicitud
              </label>
              <input [ngModel]="ficha.fechaPendiente | date: 'dd/MM/yyyy'" type="string" class="form-control" disabled pInputText />
            </div>
            <div class="form-group col-lg-3 col-md-3">
              <label>Usuario solicitud<!--{{ "facturacion.productos.nSolicitud" | translate }}-->
              </label>
              <input [(ngModel)]="nombreApellidos" type="text" class="form-control" disabled pInputText />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-lg-3 col-md-3">
              <label>Fecha aprobacion
              </label>
              <input [ngModel]="ficha.fechaCompra | date: 'dd/MM/yyyy'" type="string" class="form-control" disabled pInputText />
            </div>
            <div class="form-group col-lg-3 col-md-3">
              <label>Última modificación
              </label>
              <input [ngModel]="filaCabecera.fecha | date: 'dd/MM/yyyy'" type="text" class="form-control" disabled pInputText />
            </div>
          </div>
          <!--<p-table *ngIf="filas.length > 0" [value]="filas" [columns]="cols" #table class="tabla-listado"
            [ngClass]="{ 'customCursor': selectMultiple}">
            <ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                <col *ngFor="let col of cols" [style.width]="col.width">
              </colgroup>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns" [ngSwitch]="col.field" [pSortableColumn]="col.field">
                  {{ col.header | translate }}
                  <p-sortIcon [field]="col.field"></p-sortIcon>
                  <input pDroppable="false" (click)="$event.stopPropagation()" *ngSwitchCase="col.field" pInputText
                    type="text" (input)="
                table.filter($event.target.value, col.field, 'contains')
              " />
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-dato let-columns="columns" let-rowIndex="rowIndex">
              <tr [pSelectableRow]="dato" [pSelectableRowIndex]="rowIndex">
                <td class="text-center" *ngFor="let col of columns">
                  <div *ngIf="col.field =='fecha'">
                    <span>{{dato[col.field] | date: 'dd/MM/yyyy'}}</span>
                  </div>
                  <div *ngIf="col.field =='estado'">
                    <span>{{dato[col.field]}}</span>
                  </div>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
              <tr>
                <td [attr.colspan]="columns.length">
                  {{'censo.busquedaClientesAvanzada.literal.sinResultados' | translate }}
                </td>
              </tr>
            </ng-template>
          </p-table>-->
        </div>
      </div>
    </div>

    <div [hidden]="!showTarjeta" class="card-footer">
      <div class="text-right main-button">
        <!-- Solicitud -->
        <button pButton *ngIf="ficha.productos != null && esColegiado" (click)="checkSolicitarCompra()" [disabled]="ficha.fechaPendiente != null || !permisoSolicitarCompra" type="button" icon="fa fa-search" iconPos="left"
          label="{{ 'facturacion.productos.solicitarCompra' | translate}}" [disabled]="ficha.fechaSolicitada != null"></button>
        <button pButton *ngIf="ficha.productos == null && esColegiado" (click)="checkSolicitarSuscripcion()" [disabled]="ficha.fechaPendiente != null || !permisoSolicitarSuscripcion" type="button" icon="fa fa-search" iconPos="left"
          label="{{ 'facturacion.productos.solicitarSuscripcion' | translate}}" [disabled]="ficha.fechaSolicitada != null"></button>
      <!-- Aprobar -->
        <button pButton *ngIf="!esColegiado"  (click)="checkAprobar()" type="button" icon="fa fa-search" iconPos="left"
          label="{{ 'facturacion.productos.aprobar' | translate}}" [disabled]="ficha.fechaAceptada != null || ficha.fechaDenegada != null 
          || (this.ficha.productos != null && !permisoAprobarCompra) || (this.ficha.servicios != null && !permisoAprobarSuscripcion)"></button>
      <!-- Denegar/Cancelar -->
        <button pButton  (click)="checkDenegar()" type="button" icon="fa fa-search" iconPos="left"
          label="{{ 'general.boton.cancel' | translate}}" [disabled]="this.checkProductos() || ficha.fechaAceptada != null || ficha.fechaDenegada != null || !permisoDenegar"></button>
      <!-- Anular -->
        <button pButton  (click)="checkAnular()" type="button" icon="fa fa-search" iconPos="left"
          label="{{ 'general.boton.anular' | translate}}" [disabled]="(ficha.fechaAceptada == null && ficha.fechaSolicitadaAnulacion == null) || ficha.fechaAnulada != null 
          || (ficha.fechaSolicitadaAnulacion != null && esColegiado) || (this.ficha.productos != null && !permisoAnularCompra) || (this.ficha.servicios != null && !permisoAnularSuscripcion)"></button>
      <!-- Facturar -->
        <button pButton  *ngIf="ficha.productos != null" (click)="checkFacturar()" type="button" icon="fa fa-search" iconPos="left"
        label="{{ 'general.boton.facturar' | translate}}" [disabled]="(ficha.fechaAceptada == null || ficha.fechaSolicitadaAnulacion != null 
        || ficha.fechaAnulada != null || esColegiado || !permisoFacturarCompra)"></button>
      <!-- Comunicaciones -->
        <button pButton  (click)="nofuncional()" type="button" icon="fa fa-search" iconPos="left"
        label="{{ 'facturacion.consultamorosos.literal.comunicaciones' | translate}}" [disabled]="ficha.fechaSolicitada == null"></button>
      </div>
    </div>
  </div>
</div>

<!-- Ventana de confirmación para la anulación de una petición -->
<p-confirmDialog header="Confirmación" icon="fa fa-question-circle" width="425" key="anulPeticion" #anulPeticion>
  <p-footer>
    <button type="button" pButton icon="fa-check" label="{{ 'messages.si' | translate }}" (click)="anulPeticion.accept()"></button>
    <button type="button" pButton icon="fa-close" label="{{ 'general.boton.no' | translate }}" (click)="anulPeticion.reject()"></button>
  </p-footer>
</p-confirmDialog>

<div *ngIf="progressSpinner" class="overlay-spinner">
  <div class="loader"></div>
</div>

<!-- Modal para seleccionar la serie de facturación -->
<p-dialog width="600" responsive="true" modal="modal" [draggable]="false" resizable="false"
  [(visible)]="showModalSerieFacturacion">
  <p-header class="title">
    <label>{{ 'factPyS.mensaje.modalFac.header' | translate}}</label>
  </p-header>
  <div class="form-row">
    <div class="form-group col-lg-12 col-md-12">
      <label>{{ 'factPyS.mensaje.modalFac.label' | translate}} (*)</label>
      <p-dropdown [(ngModel)]='serieFacturacionSeleccionada' class="select-form"
        placeholder="{{'general.boton.seleccionar' | translate}}" [options]="comboSeriesFacturacion" [filter]="true"
        filterBy="label,labelSinTilde" [showClear]="true"
        [ngClass]="{'camposObligatorios': marcarObligatorio(serieFacturacionSeleccionada)}"></p-dropdown>
    </div>
    <div class="form-group col-lg-12 col-md-12">
      <label>{{ 'factPyS.mensaje.modalFac.mensaje' | translate}}</label>
    </div>
    <div class="main-button text-right col-lg-12 col-md-12">
      <button (click)="checkModalSerieFacturacion()" pButton type="button" icon="fa fa-edit" iconPos="left"
        label="{{'general.boton.guardarCerrar' | translate}}"></button>
      <button (click)="cerrarModalSerieFacturacion()" pButton type="button" icon="fa fa-close" iconPos="left"
        label="{{'general.boton.close' | translate}}"></button>
    </div>
  </div>
</p-dialog>