<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>

<div class="ficha-container">
  <div class="card">
    <div class="card-header header-ficha" (click)="onHideTarjeta()">
      <div *ngIf="showTarjeta" class="header-ficha-open d-flex justify-content-start align-items-center">
        <div class="img-colegiado">
          <i class="fa fa-user icon-ficha"></i>
        </div>
        <label class="title-ficha">{{ 'facturacion.productos.Solicitud' | translate }}</label>
        <div class="d-flex justify-content-start mb-1 ml-auto">
          <i class="fa fa-angle-up ml-auto"></i>
        </div>
      </div>
      <div *ngIf="!showTarjeta" class="form-row">
        <div class="col-lg-1 col-md-2">
          <div class="img-colegiado">
            <i class="fa fa-user icon-ficha"></i>
          </div>
        </div>
        <div class="col-lg-11 col-md-10">
          <div class="d-flex justify-content-start mb-1">
            <label class="mr-auto title-ficha">{{ 'facturacion.productos.Solicitud' | translate }}
            </label>
          </div>
          <div class="row">
            <div class="col-3">
              <label>{{ "facturacion.productos.nSolicitud" | translate }}
                <span>{{ ficha.nSolicitud }}</span>
              </label>
            </div>
            <div *ngIf="filas.length > 0" class="col-3">
              <label>{{ "censo.resultadosSolicitudesModificacion.literal.fecha" | translate }}
                <span>{{ filas[filas.length-1].fecha | date: 'dd/MM/yyyy' }}</span>
              </label>
            </div>
            <div *ngIf="filas.length > 0" class="col-3">
              <label>{{ "facturacionSJCS.facturacionesYPagos.buscarFacturacion.estado" | translate }}
                <span>{{ filas[filas.length-1].estado }}</span>
              </label>
            </div>
            <div class="col-3 ml-auto">
              <i class="fa fa-angle-down ml-auto"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div [hidden]="!showTarjeta" class="card-body card-body-ficha">
      <div class="row">
        <div class="bloque col-lg-10 col-md-10 col-sm-10">
          <div class="form-row">
            <div class="form-group col-lg-6 col-md-6">
              <label>{{ "facturacion.productos.nSolicitud" | translate }}
              </label>
              <input [(ngModel)]="ficha.nSolicitud" type="text" class="form-control" disabled pInputText />
            </div>
            <div class="form-group col-lg-6 col-md-6">
              <label>{{ "facturacion.productos.ultimoModificador" | translate }}
              </label>
              <input [(ngModel)]="ficha.usuModificacion" type="text" class="form-control" disabled pInputText />
            </div>
          </div>
          <p-table *ngIf="filas.length > 0" [value]="filas" [columns]="cols" #table class="tabla-listado"
            [ngClass]="{ 'customCursor': selectMultiple}">
            <ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                <col *ngFor="let col of cols" [style.width]="col.width">
              </colgroup>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns" [ngSwitch]="col.field" [pSortableColumn]="col.field">
                  {{ col.header | translate }}
                  <p-sortIcon [field]="col.field"></p-sortIcon>
                  <input pDroppable="false" (click)="$event.stopPropagation()" *ngSwitchCase="col.field" pInputText
                    type="text" (input)="
                table.filter($event.target.value, col.field, 'contains')
              " />
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-dato let-columns="columns" let-rowIndex="rowIndex">
              <tr [pSelectableRow]="dato" [pSelectableRowIndex]="rowIndex">
                <td class="text-center" *ngFor="let col of columns">
                  <div *ngIf="col.field =='fecha'">
                    <span>{{dato[col.field] | date: 'dd/MM/yyyy'}}</span>
                  </div>
                  <div *ngIf="col.field =='estado'">
                    <span>{{dato[col.field]}}</span>
                  </div>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
              <tr>
                <td [attr.colspan]="columns.length">
                  {{'censo.busquedaClientesAvanzada.literal.sinResultados' | translate }}
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>

    <div [hidden]="!showTarjeta" class="card-footer">
      <div class="text-right main-button">
        <!-- Solicitud -->
        <button pButton *ngIf="ficha.productos != null && esColegiado" (click)="checkSolicitarCompra()" type="button" icon="fa fa-search" iconPos="left"
          label="{{ 'facturacion.productos.solicitarCompra' | translate}}" [disabled]="ficha.fechaSolicitada != null"></button>
        <button pButton *ngIf="ficha.productos == null && esColegiado" (click)="checkSolicitarSuscripcion()" type="button" icon="fa fa-search" iconPos="left"
          label="{{ 'facturacion.productos.solicitarSuscripcion' | translate}}" [disabled]="ficha.fechaSolicitada != null"></button>
      <!-- Aprobar -->
        <button pButton  (click)="checkAprobar()" type="button" icon="fa fa-search" iconPos="left"
          label="{{ 'facturacion.productos.aprobar' | translate}}" [disabled]="ficha.fechaAprobada != null || ficha.fechaDenegada != null"></button>
      <!-- Denegar/Cancelar -->
        <button *ngIf="!esColegiado" pButton  (click)="checkDenegar()" type="button" icon="fa fa-search" iconPos="left"
          label="{{ 'general.boton.denegar' | translate}}" [disabled]="ficha.fechaAprobada != null"></button>
        <button *ngIf="esColegiado" pButton  (click)="checkDenegar()" type="button" icon="fa fa-search" iconPos="left"
          label="{{ 'general.boton.cancel' | translate}}" [disabled]="ficha.fechaAprobada != null"></button>
      <!-- Anular -->
        <button pButton  (click)="checkSearch()" type="button" icon="fa fa-search" iconPos="left"
          label="{{ 'general.boton.anular' | translate}}" [disabled]="ficha.fechaAprobada == null && ficha.fechaSolicitadaAnulacion == null"></button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="progressSpinner" class="overlay-spinner">
  <div class="loader"></div>
</div>