<div id="busquedaCerti">
    <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel [expanded]="expanded">
            <mat-expansion-panel-header class="h100" [collapsedHeight]="'auto'" [expandedHeight]="'auto'">
                <div class="w100 font-weight-bold">
                    <p class="w100">Datos Búsqueda Certificaciones</p>
                </div>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
                <form [formGroup]="cForm">
                    <div class="form-row">

                        <div class="form-group-interlineado col-lg-3 col-md-3">
                            <app-selector [i]="i" [selector]="selectores[0]"></app-selector>
                        </div>

                        <div class="form-group-interlineado col-lg-3 col-md-3"
                            *ngFor="let datepickerTitle of datepickers">
                            <label>{{ datepickerTitle }}</label>
                            <app-fecha [utc]="false"></app-fecha>
                        </div>


                        <div class="form-group-interlineado col-lg-3 col-md-3"
                            *ngFor="let selector of selectores.slice(1,3)">
                            <app-selector [i]="i" [selector]="selector"></app-selector>
                        </div>

                        <div class="form-group-interlineado col-lg-3 col-md-3">
                            <label>Nombre</label>
                            <input type="text" class="form-control" pInputText formControlName="nombreAp">
                        </div>

                        <div class="form-group-interlineado col-lg-3 col-md-3"
                            *ngFor="let selector of selectores.slice(3,6)">
                            <app-selector [i]="i" [selector]="selector"></app-selector>
                        </div>

                    </div>
                </form>
            </ng-template>
        </mat-expansion-panel>
    </mat-accordion>
</div>