<div id="busquedaCerti">
    <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel>
            <mat-expansion-panel-header class="h100" [collapsedHeight]="'auto'" [expandedHeight]="'auto'">
                <div class="w100 pr-4 font-weight-bold">
                    <p class="borderBottom w100">Datos Justificación</p>
                </div>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
                <form [formGroup]="cForm">
                    <div class="form-row">
                        <div class="form-group-interlineado col-lg-3 col-md-3"
                            *ngFor="let selector of selectores; let i = index;">
                            <label>{{selector.nombre}}</label>
                            <p-dropdown autoWidth="false" class="inputWidth" placeholder="Selecciona"
                                [ngModelOptions]="{standalone: true}" [(ngModel)]="opcionSeleccionado[i]"
                                [options]="selector.opciones" showClear="true" (onChange)="capturar()"
                                class="select-form">
                            </p-dropdown>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group-interlineado col-lg-3 col-md-3">
                            <label>Nombre</label>
                            <input type="text" class="form-control" pInputText formControlName="nombreAp">
                        </div>
                        <div class="form-group-interlineado col-lg-3 col-md-3">
                            <label>Estado</label>
                            <p-dropdown autoWidth="false" class="inputWidth" placeholder="Selecciona"
                                [ngModelOptions]="{standalone: true}" [(ngModel)]="opcionSeleccionado"
                                [options]="selectorEstados" showClear="true" (onChange)="capturar()"
                                class="select-form">
                            </p-dropdown>
                        </div>
                    </div>
                </form>
            </ng-template>
        </mat-expansion-panel>
    </mat-accordion>
</div>