<p-growl [(value)]="msgs" life="30000"></p-growl>
<div class="busqueda-container">
  <div class="header-title">
    <i class="fa fa-square"></i>
    <p>{{ 'administracion.contadores.busqueda.contadores' | translate}}</p>
  </div>
  <div class="breadCrumb">
    <p>{{ "menu.administracion" | translate}} <i class="fa fa-angle-right"></i> {{ 'menu.administracion.contador' | translate}}
    </p>
  </div>
  <div class="card">
    <div class="card-header">
      <label>{{ 'administracion.contadores.busqueda.contadores' | translate}}</label>
    </div>
    <div class="card-body">
      <p class="title-module">{{ "general.message.datos.generales" | translate}}
        <i (click)="onHideDatosGenerales()" *ngIf="showDatosGenerales" class="fa fa-angle-up float-right"></i>
        <i (click)="onHideDatosGenerales()" *ngIf="!showDatosGenerales" class="fa fa-angle-down float-right"></i>
      </p>

      <div *ngIf="showDatosGenerales" class="module vista-avanzada">
        <div class="form-row">
          <div class="form-group col-lg-3 col-md-3">
            <label>{{ "menu.justiciaGratuita.maestros.procedimientos" | translate }}</label>
            <p-dropdown class="select-form" [(ngModel)]='body.idmodulo' [(disabled)]="editar" [options]="contadores_modo" (ngModelChange)="onChangeForm()"></p-dropdown>

          </div>
          <div class="form-group col-lg-3 col-md-3">
            <label>{{"general.boton.code" | translate}}</label>
            <input type="text" name="NIF" class="form-control" [(ngModel)]='body.codigo' (ngModelChange)="onChangeForm()" pInputText>
          </div>
          <div class="form-group col-lg-3 col-md-3">
            <label>{{"administracion.parametrosGenerales.literal.nombre" | translate}}</label>
            <input type="text" name="nombre" class="form-control" [(ngModel)]='body.nombre' (ngModelChange)="onChangeForm()" pInputText>
          </div>
          <div class="form-group col-lg-3 col-md-3">
            <label>{{ 'general.description' | translate}}</label>
            <input type="text" name="descripcion" value="" class="box" class="form-control" [(ngModel)]='body.descripcion' pInputText>
          </div>


        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="text-right main-button ">
        <div class="row">
          <div class="col-2 offset-10">
            <button (click)="isBuscar(); selectedDatos = false" pButton type="button " icon="fa fa-search " iconPos="left" label="{{'general.boton.search' | translate}}"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--FIN CARD-->
  <div *ngIf="buscar == true" class="card mt-3">
    <div class="card-body p-0">

      <p-dataTable [ngClass]="{'customCursor': selectMultiple}" [(selection)]="selectedDatos" (onRowSelect)="irEditarCatalogo(selectedDatos)"
        filterPlaceholder="Search" dataKey="idcontador" [responsive]="true" selectionMode="single" #table class="tabla-listado"
        [value]="datos" [sortOrder]="1" [paginator]="true" paginatorPosition="both" [rows]="selectedItem">
        <p-column *ngFor="let col of cols" [sortable]="true " [field]="col.field" [header]="col.header" filterPlaceholder="Search"
          [filter]="true">
          </p-column>

          <ng-template pTemplate="paginatorLeft">
            <label class="pr-3 registros-totales">Mostrando registros del {{table.first + 1}} al {{table.first + table.rows}} de un total de {{table.totalRecords}}</label>
            <label>{{ "general.message.mostrar" | translate}} <p-dropdown [(ngModel)]="selectedItem"  [options]="rowsPerPage" (onChange)="onChangeRowsPerPages($event)"></p-dropdown> {{"cargaMasivaDatosCurriculares.numRegistros.literal" | translate}}</label>
          </ng-template>

          </p-dataTable>
    </div>
  </div>
  <!--FIN DE PRINCIPAL-->
  <app-dialog></app-dialog>
</div>