<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>
<div class="busqueda-container">
    <app-filtros-ejg (busqueda)="searchEJGs($event)" [permisoEscritura] = "this.permisoEscritura" [remesa]="remesa"></app-filtros-ejg>
    <app-tabla-ejg *ngIf="buscar" [datos]="datos" [filtro]="this.filtros.body" [comboEstadoEJG]="this.filtros.comboEstadoEJG" [remesa]="remesa" (busqueda)="searchEJGs($event)" (searchHistoricalSend)="searchEJGs($event)"></app-tabla-ejg>
</div>

<div *ngIf="progressSpinner" class="overlay-spinner">
    <!--<p-progressSpinner animationDuration="1s"></p-progressSpinner>-->
    <div class="loader"></div>
</div>