<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>

<div class="datos-container">
  <div class="header-title">
    <i class="fa fa-square"></i>
    <p>SJCS &nbsp;<i class="fa fa-angle-right"></i>{{'facturacionSJCS.facturacionesYPagos.fichaPago' | translate}}</p>
  </div>

  <app-datos-pagos *ngIf="showCards" [idPago]="idPago" [idEstadoPago]="idEstadoPago" [modoEdicion]="modoEdicion"
    [numCriterios]="numCriterios" [editingConceptos]="editingConceptos" [facturasMarcadas]="facturasMarcadas"></app-datos-pagos>

  <app-conceptos-pagos *ngIf="showCards" [idPago]="idPago" [idEstadoPago]="idEstadoPago" [idFacturacion]="idFacturacion"
    (editing)="changeEditingConceptos($event)"></app-conceptos-pagos>

  <app-configuracion-ficheros *ngIf="showCards" [idPago]="idPago" [idEstadoPago]="idEstadoPago">
  </app-configuracion-ficheros>

  <app-detalle-pago *ngIf="showCards" [idPago]="idPago" [idEstadoPago]="idEstadoPago"></app-detalle-pago>

  <app-compensacion-factura *ngIf="showCards" [idPago]="idPago" [idEstadoPago]="idEstadoPago"
    (facturasMarcadasEvent)="facturasMarcadas = $event">
  </app-compensacion-factura>

  <div class="text-right main-button">
    <button (click)="volver()" pButton type="button" icon="fa fa-angle-left" iconPos="left"
      label="{{ 'general.boton.volver' | translate}}"></button>
  </div>
</div>