.home{
    margin-left: 5px;
}
.tituloComponent{
    margin-bottom: 10px;
}

.divTable{
    display:  table;
    width:calc(100% - 5px);
    background-color:#eee;
    border:1px solid  #666666;
    border-spacing:5px;
    margin-top: 10px;
}
.headRow{
    display: table-row;
    width: auto;
}
.headRow .divCell{
    background-color:#f7f7f9;
    text-align: center;
}
.divRow{
    display:table-row;
    width:auto;
}

.divCell{
    display:table-cell;
    width:25%;
}
.divRow.color1{
    background-color:#ccc;
}
.divRow.color2{
    background-color:#f7f7f9;
}