.registros-ficha-prueba{
    color:#F4F4F4 !important;
    background-color: #F4F4F4 !important;
}

.mr-auto-title-ficha-prueba{
    color:#F4F4F4 !important;
    background-color: #F4F4F4 !important;
}