<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>

<div class="busqueda-container">
  <div class="header-title">
    <i class="fa fa-square"></i>
    <p>
      {{ "menu.censo" | translate }}
      <i class="fa fa-angle-right"></i>{{ "menu.censo.busquedaCensoGeneral" | translate }}
    </p>
  </div>

  <div class="card">
    <!-- Datos generales -->
    <div class="card-body">
      <div class="form-row">
        <div class="col-4">
          <p-radioButton class="mr-2" name="exacta" value="aprox" label="{{ 'censo.busquedaCensoGeneral.boton.radio.busquedaAproximada' | translate }}"
            [(ngModel)]='modoBusqueda' (click)="changeFilters()"></p-radioButton>
          <p-radioButton class="ml-2" name="aprox" value="exacta" label="{{ 'censo.busquedaCensoGeneral.boton.radio.busquedaExacta' | translate }}"
            [(ngModel)]='modoBusqueda' (click)="changeFilters()"></p-radioButton>
        </div>
      </div>
      <p class="title-module">
        <span (click)="onHideDatosGenerales()">{{ "censo.consultaDatosGenerales.cabecera" | translate }}</span>
        <i (click)="onHideDatosGenerales()" *ngIf="showDatosGenerales" class="fa fa-angle-up float-right"></i>
        <i (click)="onHideDatosGenerales()" *ngIf="!showDatosGenerales" class="fa fa-angle-down float-right"></i>
      </p>
      <div *ngIf="showDatosGenerales && modoBusquedaAprox" class="module vista-avanzada">
        <div class="form-row">
          <!-- <div class="form-group col-lg-3 col-md-3">
            <label>{{ "administracion.usuarios.literal.NIF" | translate }}
            </label>
            <input type="text" class="form-control" [attr.maxlength]="20" pInputText [(ngModel)]="body.nif" />
          </div> -->

          <div class="form-group-interlineado col-lg-2 col-md-2">
            <label>{{ "censo.busquedaClientes.literal.apellido1" | translate }}
            </label>
            <input type="text" class="form-control" pInputText [(ngModel)]="body.primerApellido" />
          </div>
          <div class="form-group-interlineado col-lg-2 col-md-2">
            <label>{{ "censo.busquedaClientes.literal.apellido2" | translate }}
            </label>
            <input type="text" class="form-control" pInputText [(ngModel)]="body.segundoApellido" />
          </div>

          <div class="form-group-interlineado col-lg-3 col-md-3">
            <label>{{ "administracion.parametrosGenerales.literal.nombre" | translate }}
            </label>
            <input type="text" class="form-control" pInputText [(ngModel)]="body.nombre" />
          </div>

          <div class="form-group-interlineado col-lg-2 col-md-2">
            <label>{{ "censo.resultadoDuplicados.numeroColegiado" | translate }}
            </label>
            <input type="text" class="form-control" pInputText [(ngModel)]="body.numeroColegiado" />
          </div>

          <div class="form-group-interlineado col-lg-3 col-md-3">
            <label>{{ "censo.busquedaClientesAvanzada.literal.colegio" | translate }}
            </label>
            <p-multiSelect [defaultLabel]="textFilter" filterBy="label" [(ngModel)]="colegios_seleccionados" [options]="colegios" optionLabel="label"
              [selectedItemsLabel]="textSelected" maxSelectedLabels="1" styleClass="widthAll" [panelStyle]="{ width: '100%' }"></p-multiSelect>
          </div>
        </div>
      </div>
      <div *ngIf="showDatosGenerales && !modoBusquedaAprox" class="module vista-avanzada">
        <div class="form-row">
          <div class="form-group-interlineado col-lg-3 col-md-3">
            <label>{{ "administracion.usuarios.literal.NIF" | translate }}
            </label>
            <input type="text" class="form-control" [attr.maxlength]="20" pInputText [(ngModel)]="body.nif" />
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="text-right main-button">
        <button (click)="isLimpiar()" pButton type="button"  icon="fa fa-eraser"  iconPos="left"  label="{{ 'general.boton.clear' | translate}}"></button>
        <button (click)="isBuscarAprox()" pButton type="button" icon="fa fa-search" iconPos="left" label="{{ 'general.boton.search' | translate }}"></button>
      </div>
    </div>
  </div>
  <!--FIN CARD-->

  <div *ngIf="buscar == true" class="card mt-3" id="tablaFoco">
    <div class="card-body p-0">
      <!--<div class="m-3 d-flex justify-content-end">

            </div>-->
      <p-dataTable emptyMessage="{{ 'general.message.no.registros' | translate }}" [(selection)]="selectedDatos" (onRowSelect)="irFichaColegial(selectedDatos)"
        [responsive]="true" selectionMode="single" #table class="tabla-listado" [value]="datos" [sortOrder]="1" [paginator]="true"
        paginatorPosition="both" [rows]="selectedItem" pageLinks="4">
        <p-column *ngFor="let col of cols" [sortable]="true" [field]="col.field" [header]="col.header | translate" [filter]="true"
          filterPlaceholder="{{ 'general.boton.search' | translate }}" filterMatchMode="contains">
          <!-- <span *ngIf="col.field=='nombre'"><a [routerLink]="" class="enlace"
            (click)="navigateTo(selectedDatos)">{{dato.nombre}}</a></span> -->
        </p-column>
        <ng-template pTemplate="paginatorLeft">
          <div class="mostrar">
            <label class="mt-2 pr-3 registros-totales">{{'informesycomunicaciones.plantillasenvio.ficha.mostrandoRegistros' | translate}} {{ table.first + 1 }} al {{
              table.first + table.rows }} {{ 'informesycomunicaciones.plantillasenvio.ficha.deUnTotalDe' | translate }} {{
              table.totalRecords }}
            </label>
            <label>Mostrar</label>
            <p-dropdown [(ngModel)]="selectedItem" [options]="rowsPerPage" showClear="true" (onChange)="onChangeRowsPerPages($event)">
            </p-dropdown>
            <label> registros</label>
          </div>
        </ng-template>
      </p-dataTable>
    </div>
  </div>
</div>
<app-dialog></app-dialog>
<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>

<div *ngIf="progressSpinner" class="overlay-spinner ">
  <div class="loader "></div>
</div>