<p-growl [(value)]="msgs" life="1500"></p-growl>
<div class="busqueda-container">
  <div class="header-title">
    <i class="fa fa-square"></i>
    <p>{{"general.boton.edit" | translate}} <i class="fa fa-angle-right"></i>{{"administracion.usuarios.edicion.usuarios" |
      translate}} </p>
  </div>
  <!--<div class="breadCrumb">
    <p>{{"general.boton.edit" | translate}} <i class="fa fa-angle-right"></i> {{ 'menu.administracion.usuarios' | translate}}
    </p>
  </div>-->

  <div class="card">
    <div class="card-body">
      <p class="title-module">{{ "general.message.datos.generales"| translate}}
        <i (click)="onHideDatosGenerales()" *ngIf="showDatosGenerales" class="fa fa-angle-up float-right"></i>
        <i (click)="onHideDatosGenerales()" *ngIf="!showDatosGenerales" class="fa fa-angle-down float-right"></i>
      </p>

      <div *ngIf="showDatosGenerales" class="module vista-avanzada">
        <div class="form-row">
          <div class="form-group col-lg-3 col-md-3">
            <label>{{"administracion.usuarios.literal.nombre" | translate}}</label>
            <input type="text" name="nombreApellidos" [(disabled)]="editar" class="form-control" [(ngModel)]='body.nombreApellidos' (ngModelChange)="onChangeForm()"
              pInputText>

          </div>
          <div class="form-group col-lg-3 col-md-3">
            <label>{{"administracion.usuarios.literal.NIF" | translate}}</label>
            <input type="text" name="NIF" class="form-control" [(disabled)]="editar" [(ngModel)]='body.nif' pInputText>


          </div>
          <div *ngIf="editar == true" class="form-group col-lg-3 col-md-3">
          </div>
          <div *ngIf="editar == true" class="form-group col-lg-3 col-md-3">
          </div>
          <div class="form-group col-lg-3 col-md-3">
            <label>{{"administracion.usuarios.literal.grupo" | translate}}</label>
            <p-multiSelect [disabled]="!activacionEditar" [defaultLabel]="textFilter" styleClass="widthAll" (onChange)="onChangeForm()"
              [(ngModel)]='selectPerfil' [options]="usuarios_perfil" optionLabel="label" [selectedItemsLabel]="textSelected"
              maxSelectedLabels="1" [panelStyle]="{width:'100%'}"></p-multiSelect>
          </div>
          <div *ngIf="editar == true" class="form-group col-lg-3 col-md-3">
            <label>{{"general.codeext" | translate}}</label>
            <input *ngIf="!activacionEditar" disabled type="text" name="codExterno" class="form-control" [(ngModel)]='body.codigoExterno'
              [formControl]="this.formGroup.controls['codigoExterno']" pInputText>
              <input *ngIf="activacionEditar" type="text" name="codExterno" class="form-control" [(ngModel)]='body.codigoExterno' [formControl]="this.formGroup.controls['codigoExterno']"
                pInputText>
                <label *ngIf="hasErrors('codigoExterno')" class="labelError">{{getErrorMessage('codigoExterno')}}</label>
          </div>
          <div class="form-group col-lg-3 col-md-3">
            <label class="d-block pb-2">{{"administracion.usuarios.literal.activo" | translate}}</label>
            <!--<p-dropdown class="select-form" [options]="select"></p-dropdown>-->
            <p-radioButton label="{{'messages.si' | translate}}" name="activo" value="S" class="pr-3" [(ngModel)]="body.activo" [disabled]="!activacionEditar"></p-radioButton>
            <p-radioButton label="{{'general.boton.no' | translate}}" name="activo" value="N" class="pr-3" [(ngModel)]="body.activo"
              [disabled]="!activacionEditar">
              </p-radioButton>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="text-right main-button ">
        <button (click)="confirmEdit();" pButton type="button" icon="	fa fa-edit " iconPos="left" label="{{ 'general.boton.guardarCerrar' | translate}}"
          [disabled]="!edicion"></button>
          <button (click)="volver();" pButton type="button" icon="	fa fa-close " iconPos="left" label="{{ 'general.boton.cancel' | translate}}"></button>
      </div>
    </div>
  </div>
  <app-dialog></app-dialog>
</div>