.enlace-activado {
    color: blue !important; 
    text-decoration: underline; 
    cursor: pointer;
}

.enlace-desactivado {
    color: rgb(167, 184, 170) !important;
    text-decoration: underline; 
    cursor: pointer;
}