<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>
<div class="busqueda-container">
    <div class="card">
        <!-- Tarjetas Fijas -->
        <!-- Datos generales -->
        <div class="card-body">
            <div class="form-row">
                <div class="col-12">
                    <p-radioButton value="des" name="tarj" (click)="changeFilters()" [disabled]="disableRadio" label="{{'justiciaGratuita.ejg.busquedaAsuntos.designaciones' | translate}}" [(ngModel)]='radioTarjeta'></p-radioButton>

                    <p-radioButton value="soj" name="tarj" label="{{'justiciaGratuita.ejg.busquedaAsuntos.SOJ' | translate}}" [(ngModel)]='radioTarjeta'
                        (click)="changeFilters()" [disabled]="disableRadio"></p-radioButton>

                    <p-radioButton value="asi" name="tarj" (click)="changeFilters()" [disabled]="disableRadio"
                        label="{{'menu.justiciaGratuita.asistencia' | translate}}" [(ngModel)]='radioTarjeta'></p-radioButton>

                    <p-radioButton value="ejg" name="tarj" (click)="changeFilters()" [disabled]="disableRadio"
                        label="{{ 'justiciaGratuita.ejg.datosGenerales.EJG' | translate}}" [(ngModel)]='radioTarjeta'></p-radioButton>
                </div>
            </div>
            <p (click)="onHideDatosGenerales()" class="title-module">{{ "censo.consultaDatosGenerales.cabecera" |
                translate}}
                <i *ngIf="showDatosGenerales" class="fa fa-angle-up float-right"></i>
                <i *ngIf="!showDatosGenerales" class="fa fa-angle-down float-right"></i>
            </p>

            <!-- Datos generales -->
            <div *ngIf="showDatosGenerales" class="module vista-avanzada">
                <div class="form-row">

                    <div class="form-group-interlineado col-lg-3 col-md-3">
                        <label>{{"justiciaGratuita.maestros.calendarioLaboralAgenda.anio" | translate}} /
                            {{"gratuita.busquedaAsistencias.literal.numero"
                            | translate}}</label>
                        <div>
                            <input type="number" oninput="this.value=this.value.replace(/(?![0-9])./gmi,'')" maxLength="4"
                                class="form-group-interlineado col-lg-5 col-md-5" [(ngModel)]='filtros.anio' pInputText> /
                            <input type="text" oninput="this.value=this.value.replace(/(?![0-9])./gmi,'')" maxLength="9"
                                class="form-group-interlineado col-lg-5 col-md-5" [(ngModel)]='filtros.numero' pInputText>
                        </div>

                    </div>
                    <div class="form-group-interlineado col-lg-3 col-md-3">
                     <label>{{"gratuita.busquedaEJG.literal.fechaAperturaDesde" | translate}}</label>
                                <app-fecha [(value)]='filtros.fechaAperturaDesde'
                                    (valueChangeSelected)="fillFechaAperturaDesde($event)"
                                    (valueChangeInput)="fillFechaAperturaDesde($event)"></app-fecha>
                    </div>     
                    <div class="form-group-interlineado col-lg-3 col-md-3">
                                <label>{{"gratuita.busquedaEJG.literal.fechaAperturaHasta" | translate}}</label>
                                <app-fecha [minDate]="filtros.fechaAperturaDesde" [(value)]='filtros.fechaAperturaHasta'
                                    (valueChangeSelected)="fillFechaAperturaHasta($event)"
                                    (valueChangeInput)="fillFechaAperturaHasta($event)"></app-fecha>
                    </div>
                       
                        <div *ngIf="radioTarjeta == 'des'" class="form-group-interlineado col-lg-3 col-md-3">
                            <label>{{"gratuita.busquedaDesignas.literal.tipoDesigna" | translate}}</label>
                            <p-dropdown class="select-form" [(ngModel)]='filtros.idTipoDesigna'
                                placeholder="{{'general.boton.seleccionar' | translate}}" [options]="TipoDesignacion"
                                [filter]="true" filterBy="label,labelSinTilde" [showClear]="true"></p-dropdown>
                        </div>
                        <div *ngIf="radioTarjeta == 'soj'" class="form-group-interlineado col-lg-3 col-md-3">
                            <label>{{"gratuita.busquedaDesignas.literal.tipoSOJ" | translate}}</label>
                            <p-dropdown class="select-form" [(ngModel)]='filtros.idTipoSoj'
                                placeholder="{{'general.boton.seleccionar' | translate}}" [options]="comboTipoSOJ"
                                [filter]="true" filterBy="label,labelSinTilde" [showClear]="true"></p-dropdown>
                        </div>
                        <div *ngIf="radioTarjeta == 'asi'" class="form-group-interlineado col-lg-3 col-md-3">
                            <label>{{"menu.justiciaGratuita.tipoAsistencia" | translate}}</label>
                            <p-dropdown class="select-form" [(ngModel)]='filtros.idTipoAsistencia'
                                placeholder="{{'general.boton.seleccionar' | translate}}" [options]="comboTiposAsitencia"
                                [filter]="true" filterBy="label,labelSinTilde" [showClear]="true"></p-dropdown>
                        </div>
                        <div *ngIf="radioTarjeta == 'ejg'" class="form-group-interlineado col-lg-3 col-md-3">
                            <label>{{"justiciaGratuita.ejg.datosGenerales.TipoEJG" | translate}}</label>
                            <p-dropdown class="select-form" [(ngModel)]='filtros.idTipoEjg'
                                placeholder="{{'general.boton.seleccionar' | translate}}" [options]="comboTipoEjg"
                                [filter]="true" filterBy="label,labelSinTilde" [showClear]="true"></p-dropdown>
                        </div>
                    
                    <!--  <div class="form-group col-lg-3 col-md-3">
                        <label>{{ 'justiciaGratuita.sjcs.designas.DatosIden.turno' | translate}}</label>
                        <p-dropdown class="select-form" [(ngModel)]='filtros.idTurno'
                            (onChange)="getComboguardiaPorTurno($event)"
                            placeholder="{{'general.boton.seleccionar' | translate}}" [options]="comboTurno"
                            [filter]="true" filterBy="label,labelSinTilde" [showClear]="true"></p-dropdown>
                    </div>
                    <div class="form-group col-lg-3 col-md-3">
                        <label>{{"menu.justiciaGratuita.GuardiaMenu" | translate}}</label>
                        //estaba comentado -> || radioTarjeta == 'des' <- estaba comentado//
                        <p-dropdown class="select-form" [(ngModel)]='filtros.idGuardia'
                            [disabled]="comboguardiaPorTurno.length == 0 "
                            placeholder="{{'general.boton.seleccionar' | translate}}" [options]="comboguardiaPorTurno"
                            [filter]="true" filterBy="label,labelSinTilde" [showClear]="true"></p-dropdown>
                    </div> -->
                </div>
                <div *ngIf="radioTarjeta == 'des' || radioTarjeta == 'asi' " class="form-row">

                   
                    <div class="form-group-interlineado col-lg-3 col-md-3">
                        <label>{{"gratuita.busquedaDesignas.literal.numProcedimiento" | translate}}</label>
                        <input type="text" class="form-control" maxlength="20" [(ngModel)]='filtros.numeroProcedimiento'
                            pInputText>
                    </div>
                    <div class="form-group-interlineado col-lg-3 col-md-3">
                        <label>{{"justiciaGratuita.ejg.datosGenerales.Juzgado" | translate}}</label>
                        <p-dropdown class="select-form" [(ngModel)]='filtros.idJuzgado'
                            placeholder="{{'general.boton.seleccionar' | translate}}" [options]="comboJuzgado"
                            [filter]="true" filterBy="label,labelSinTilde" [showClear]="true"></p-dropdown>
                    </div>
                    <div *ngIf="radioTarjeta == 'des'" class="form-group-interlineado col-lg-3 col-md-3">
                        <label>{{"justiciaGratuita.ejg.busquedaAsuntos.NIG" | translate}}</label>
                        <input maxlength="50" type="text" class="form-control" [maxLength]="5" [(ngModel)]='filtros.nig'
                            pInputText>
                    </div>
                    <div *ngIf="radioTarjeta == 'des'" class="form-group-interlineado col-lg-3 col-md-3">
                        <label>{{"gratuita.busquedaDesignas.literal.estadoDesigna" | translate}}</label>
                        <p-dropdown class="select-form" [(ngModel)]='filtros.idEstadoDesigna' [filter]="true"
                            filterMatchMode="contains" [options]="comboEstadoDesignacion"
                            (input)="buscarPoblacion($event)" placeholder="{{'general.boton.seleccionar' | translate}}"
                            emptyFilterMessage="{{'resultadosPoblaciones' | translate}}" [showClear]="true">
                        </p-dropdown>
                    </div>
                    <div *ngIf="radioTarjeta == 'asi'" class="form-group-interlineado col-lg-3 col-md-3">
                        <label>{{"gratuita.mantAsistencias.literal.numeroDiligenciasolo" | translate}}</label>
                        <!-- / {{"gratuita.mantActuacion.literal.nasunto"
                        | translate}} -->
                        <input type="text" class="form-control"
                            maxlength="20" [(ngModel)]='filtros.numeroDiligencia' pInputText>
                        <!-- / <input type="text" oninput="this.value=this.value.replace(/(?![0-9])./gmi,'')" class="form-group col-lg-6 col-md-6" [(ngModel)]='filtros.asunto'
                                pInputText> -->
                    </div>
                    <div *ngIf="radioTarjeta == 'asi'" class="form-group-interlineado col-lg-3 col-md-3">
                        <label>{{"gratuita.volantesExpres.literal.centroDetencion" | translate}}</label>
                        <p-dropdown class="select-form" [(ngModel)]='filtros.comisaria'
                            placeholder="{{'general.boton.seleccionar' | translate}}" [options]="comboComisaria"
                            [filter]="true" filterBy="label,labelSinTilde" [showClear]="true"></p-dropdown>
                    </div>
                </div>
            </div>
          
            <!-- Interesado -->
            <p (click)="onHideJusticiable()" class="title-module">{{"justiciaGratuita.ejg.busquedaAsuntos.interesado" |
                translate}}
                <i *ngIf="showJusticiable" class="fa fa-angle-up float-right"></i>
                <i *ngIf="!showJusticiable" class="fa fa-angle-down float-right"></i>
            </p>

            <div *ngIf="showJusticiable" class="module vista-avanzada">
                <div class="form-row">

                    <div class="form-group-interlineado col-lg-3 col-md-3">
                        <label>{{"censo.fichaCliente.literal.identificacion" | translate}}</label>
                        <input type="text" maxlength="20" name="nif" class="form-control" [(ngModel)]='filtros.nif'
                            pInputText>
                    </div>
                    <div class="form-group-interlineado col-lg-3 col-md-3">
                        <label>{{"gratuita.mantenimientoTablasMaestra.literal.apellidos" | translate}}</label>
                        <input type="text" maxlength="100" name="apellidos" class="form-control"
                            [(ngModel)]='filtros.apellidos' pInputText>
                    </div>
                    <div class="form-group-interlineado col-lg-3 col-md-3">
                        <label>{{"administracion.parametrosGenerales.literal.nombre" | translate}}</label>
                        <input type="text" maxlength="100" name="nombre" class="form-control"
                            [(ngModel)]='filtros.nombre' pInputText>
                    </div>
                </div>
            </div>

            <!-- Tramitacion -->
            <!--  <p (click)="onHideDatosColegiales()" class="title-module">{{ "censo.busquedaClientes.Colegiados.titulo" |
                translate}}
                <i *ngIf="showDatosColegiales" class="fa fa-angle-up float-right"></i>
                <i *ngIf="!showDatosColegiales" class="fa fa-angle-down float-right"></i>
            </p> -->
            <p (click)="onHideDatosColegiales()" class="title-module">{{"justiciaGratuita.ejg.busquedaAsuntos.tramitacion" | translate}}
                <i *ngIf="showDatosColegiales" class="fa fa-angle-up float-right"></i>
                <i *ngIf="!showDatosColegiales" class="fa fa-angle-down float-right"></i>
            </p>

            
            <div *ngIf="showDatosColegiales" class="module vista-avanzada">
                <div class="form-row">
                    <div class="form-group-interlineado col-lg-6 col-md-6">
                        <label>{{ 'justiciaGratuita.sjcs.designas.DatosIden.turno' | translate}}</label>
                        <p-dropdown class="select-form" [(ngModel)]='filtros.idTurno'
                            (onChange)="getComboguardiaPorTurno($event)"
                            placeholder="{{'general.boton.seleccionar' | translate}}" [options]="comboTurno" [filter]="true"
                            filterBy="label,labelSinTilde" [showClear]="true"></p-dropdown>
                    </div>
                    <div class="form-group-interlineado col-lg-6 col-md-6">
                        <label>{{"menu.justiciaGratuita.GuardiaMenu" | translate}}</label>
                        <!-- || radioTarjeta == 'des' -->
                          
                        <p-dropdown class="select-form" [(ngModel)]='filtros.idGuardia'
                        [disabled]="comboguardiaPorTurno.length == 0 "
                            placeholder="{{'general.boton.seleccionar' | translate}}" [options]="comboguardiaPorTurno"
                            [filter]="true" filterBy="label,labelSinTilde" [showClear]="true"></p-dropdown>
                    </div>
    
                </div>
                <app-busqueda-colegiado-express (idPersona)="getIdPersona($event)" (colegiado)="recuperarColegiado($event)"
                [numColegiado]="usuarioBusquedaExpress.numColegiado"
                [nombreAp]="usuarioBusquedaExpress.nombreAp"
                ></app-busqueda-colegiado-express>
            </div>



            <!-- OPCIONALES RADIOBUTTON -->

           <!--  <!- EJG ->
            <p *ngIf="radioTarjeta == 'ejg'" (click)="onHideEJG()" class="title-module">{{
                "justiciaGratuita.ejg.datosGenerales.EJG" | translate}}
                <i *ngIf="showEJG" class="fa fa-angle-up float-right"></i>
                <i *ngIf="!showEJG" class="fa fa-angle-down float-right"></i>
            </p>
            <div *ngIf="showEJG && radioTarjeta == 'ejg'" class="module vista-avanzada">
                <div class="form-row">

                    <!- <div class="form-group col-lg-3 col-md-3">
                        <label>{{"censo.busquedaClientesAvanzada.literal.cp" | translate}}</label>
                        <input type="text" name="codigoPostal" class="form-control" [maxLength]="5" [(ngModel)]='codigoPostal' pInputText (input)="onChangeCodigoPostal($event)">
                    </div> ->
                    <div class="form-group col-lg-3 col-md-3">
                        <label>{{"justiciaGratuita.ejg.datosGenerales.TipoEJG" | translate}}</label>
                        <p-dropdown class="select-form" [(ngModel)]='filtros.idTipoEjg'
                            placeholder="{{'general.boton.seleccionar' | translate}}" [options]="comboTipoEjg"
                            [filter]="true" filterBy="label,labelSinTilde" [showClear]="true"></p-dropdown>
                    </div>

                    <div class="form-group col-lg-3 col-md-3">
                        <label>{{"justiciaGratuita.ejg.datosGenerales.TipoEJGColegio" | translate}}</label>
                        <p-dropdown class="select-form" [(ngModel)]='filtros.idTipoEjColegio' [filter]="true"
                            filterMatchMode="contains" [options]="comboTipoEjgColegio" (input)="buscarPoblacion($event)"
                            placeholder="{{'general.boton.seleccionar' | translate}}"
                            emptyFilterMessage="{{'resultadosPoblaciones' | translate}}" [showClear]="true">
                        </p-dropdown>
                    </div>
                    <div class="form-group col-lg-3 col-md-3">
                        <label>{{"justiciaGratuita.ejg.datosGenerales.EstadoEJG" | translate}}</label>
                        <p-dropdown class="select-form" [(ngModel)]='filtros.idEstadoPorEjg'
                            placeholder="{{'general.boton.seleccionar' | translate}}" [options]="comboEstadoEjg"
                            [filter]="true" filterBy="label,labelSinTilde" [showClear]="true"></p-dropdown>
                    </div>
                </div>
            </div>

            <!- Designaciones ->
            <p *ngIf="radioTarjeta == 'des'" (click)="onHideDesignacion()" class="title-module">{{
                "menu.justiciaGratuita.designas" | translate}}
                <i *ngIf="showDesignacion" class="fa fa-angle-up float-right"></i>
                <i *ngIf="!showDesignacion" class="fa fa-angle-down float-right"></i>
            </p>
            <div *ngIf="showDesignacion && radioTarjeta == 'des'" class="module vista-avanzada">
                <div class="form-row">

                    <div class="form-group col-lg-3 col-md-3">
                        <label>{{"gratuita.busquedaDesignas.literal.tipoDesigna" | translate}}</label>
                        <p-dropdown class="select-form" [(ngModel)]='filtros.idTipoDesigna'
                            placeholder="{{'general.boton.seleccionar' | translate}}" [options]="TipoDesignacion"
                            [filter]="true" filterBy="label,labelSinTilde" [showClear]="true"></p-dropdown>
                    </div>

                    <div class="form-group col-lg-3 col-md-3">
                        <label>{{"gratuita.busquedaDesignas.literal.estadoDesigna" | translate}}</label>
                        <p-dropdown class="select-form" [(ngModel)]='filtros.idEstadoDesigna' [filter]="true"
                            filterMatchMode="contains" [options]="comboEstadoDesignacion"
                            (input)="buscarPoblacion($event)" placeholder="{{'general.boton.seleccionar' | translate}}"
                            emptyFilterMessage="{{'resultadosPoblaciones' | translate}}" [showClear]="true">
                        </p-dropdown>
                    </div>
                    <div class="form-group col-lg-3 col-md-3">
                        <label>{{"gratuita.busquedaDesignas.literal.numProcedimiento" | translate}}</label>
                        <input type="text" class="form-control" maxlength="9" [(ngModel)]='filtros.numProcedimiento'
                            pInputText>
                    </div>
                    <div class="form-group col-lg-3 col-md-3">
                        <label>{{"justiciaGratuita.ejg.datosGenerales.Juzgado" | translate}}</label>
                        <p-dropdown class="select-form" [(ngModel)]='filtros.idJuzgado'
                            placeholder="{{'general.boton.seleccionar' | translate}}" [options]="comboJuzgado"
                            [filter]="true" filterBy="label,labelSinTilde" [showClear]="true"></p-dropdown>
                    </div>
                    <div class="form-group col-lg-3 col-md-3">
                        <label>NIG</label>
                        <input maxlength="50" type="text" class="form-control" [maxLength]="5" [(ngModel)]='filtros.nig'
                            pInputText>
                    </div>
                </div>
            </div>

            <!- SOJ ->
            <p *ngIf="radioTarjeta == 'soj'" (click)="onHideSOJ()" class="title-module">SOJ
                <i *ngIf="showSOJ" class="fa fa-angle-up float-right"></i>
                <i *ngIf="!showSOJ" class="fa fa-angle-down float-right"></i>
            </p>
            <div *ngIf="showSOJ && radioTarjeta == 'soj'" class="module vista-avanzada">
                <div class="form-row">

                    <div class="form-group col-lg-3 col-md-3">
                        <label>{{"gratuita.busquedaDesignas.literal.tipoSOJ" | translate}}</label>
                        <p-dropdown class="select-form" [(ngModel)]='filtros.idTipoSoj'
                            placeholder="{{'general.boton.seleccionar' | translate}}" [options]="comboTipoSOJ"
                            [filter]="true" filterBy="label,labelSinTilde" [showClear]="true"></p-dropdown>
                    </div>
                </div>
            </div>

            <!- Asistencias ->
            <p *ngIf="radioTarjeta == 'asi'" (click)="onHideAsistencias()" class="title-module">
                {{"menu.justiciaGratuita.asistencia" |translate}}
                <i *ngIf="showAsistencias" class="fa fa-angle-up float-right"></i>
                <i *ngIf="!showAsistencias" class="fa fa-angle-down float-right"></i>
            </p>
            <div *ngIf="showAsistencias && radioTarjeta == 'asi'" class="module vista-avanzada">
                <div class="form-row">

                    <div class="form-group col-lg-3 col-md-3">
                        <label>{{"menu.justiciaGratuita.tipoAsistencia" | translate}}</label>
                        <p-dropdown class="select-form" [(ngModel)]='filtros.idTipoAsistencia'
                            placeholder="{{'general.boton.seleccionar' | translate}}" [options]="comboTiposAsitencia"
                            [filter]="true" filterBy="label,labelSinTilde" [showClear]="true"></p-dropdown>
                    </div>

                    <div class="form-group col-lg-3 col-md-3">
                        <label>{{"gratuita.busquedaDesignas.literal.numProcedimiento" | translate}}</label>
                        <input type="text" class="form-control" maxlength="9" [(ngModel)]='filtros.numProcedimiento'
                            pInputText>

                    </div>
                    <div class="form-group col-lg-3 col-md-3">
                        <label>{{"justiciaGratuita.ejg.datosGenerales.Juzgado" | translate}}</label>
                        <p-dropdown class="select-form" [(ngModel)]='filtros.idJuzgado'
                            placeholder="{{'general.boton.seleccionar' | translate}}" [options]="comboJuzgado"
                            [filter]="true" filterBy="label,labelSinTilde" [showClear]="true"></p-dropdown>
                    </div>


                    <div class="form-group col-lg-3 col-md-3">
                        <label>{{"gratuita.mantAsistencias.literal.numeroDiligenciasolo" | translate}}</label>
                        <!- / {{"gratuita.mantActuacion.literal.nasunto"
                        | translate}} ->
                        <input type="text" class="form-control"
                            oninput="this.value=this.value.replace(/(?![0-9])./gmi,'')" maxlength="20"
                            [(ngModel)]='filtros.numeroDiligencia' pInputText>
                        <!- / <input type="text" oninput="this.value=this.value.replace(/(?![0-9])./gmi,'')" class="form-group col-lg-6 col-md-6" [(ngModel)]='filtros.asunto'
                                pInputText> ->
                    </div>
                    <div class="form-group col-lg-3 col-md-3">
                        <label>{{"gratuita.volantesExpres.literal.centroDetencion" | translate}}</label>
                        <p-dropdown class="select-form" [(ngModel)]='filtros.comisaria'
                            placeholder="{{'general.boton.seleccionar' | translate}}" [options]="comboComisaria"
                            [filter]="true" filterBy="label,labelSinTilde" [showClear]="true"></p-dropdown>
                    </div>
                </div>
            </div> -->

        </div>
        <div class="card-footer">
            <div class="text-right main-button">
                <button (click)="isLimpiar()" pButton type="button"  icon="fa fa-eraser"  iconPos="left"
                     label="{{ 'general.boton.clear' | translate}}"></button>
                <button (click)="isBuscar()" pButton type="button" icon="fa fa-search" iconPos="left"
                    label="{{'general.boton.search' | translate}}"></button>

            </div>
        </div>
    </div>
</div>

<div *ngIf="progressSpinner" class="overlay-spinner">
    <div class="loader"></div>
</div>