<div *ngIf="progressSpinner" class="overlay-spinner">
  <div class="loader"></div>
</div>

<div class="header-title">
  <i class="fa fa-square"></i>
  <p><span *ngFor="let bread of breadcrumbs; let i = index"><i *ngIf="i != 0" class="fa fa-angle-right"></i> {{bread}} </span></p>
</div>

<div class="busqueda-container">
  <app-filtro-justiciables (findJusticiable)="search($event)" [permisoEscritura]="permisoEscritura" [filtros]="filtros" [origen]="origen" [justiciable]="justiciable"></app-filtro-justiciables>
  
  <app-tabla-justiciables *ngIf="buscar" [datos]="datos" [permisoEscritura]="permisoEscritura" [nuevoInteresado]="nuevoInteresado" [nuevoContrario]="nuevoContrario" 
  [nuevaUniFamiliar]="nuevaUniFamiliar" [nuevoSOJ]="nuevoSoj" [modoRepresentante]="modoRepresentante" [nuevoContrarioEJG]="nuevoContrarioEJG" 
  [nuevoContrarioAsistencia]="nuevoContrarioAsistencia" [nuevoAsistido]="nuevoAsistido" [nuevoRepresentante]="nuevoRepresentante" (insertRepresentante)="insertRepresentante($event)"></app-tabla-justiciables>
</div>

<div *ngIf="searchJusticiable" class="mt-3 text-right main-button ">
  <button (click)="backTo()" pButton type="button" icon="fa fa-angle-left" iconPos="left" label="{{ 'general.boton.volver' | translate }}"></button>
</div>