<div class="busqueda-container" id="inscripciones">
  <div class="card">
    <div class="card-header header-ficha">
      <div class="form-row">
        <div class="col-lg-1 col-md-2">
          <div class="img-colegiado">
            <i class="fas fa-link icon-ficha"></i>
          </div>
        </div>
        <div class="col-lg-11 col-md-10 cabeza">
          <div class="d-flex justify-content-end mb-1">
            <label class="mr-auto title-ficha">{{'menu.justiciaGratuita.oficio.inscripciones' | translate}}</label>
          </div>
          <div class="d-flex justify-content-between sub">
            <a href="">{{'justiciaGratuita.oficio.turnos.listadoinscripciones'|translate}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>