<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>

<!-- <div class="header-title">
  <i class="fa fa-square"></i>
  <p>{{ "menu.censo" | translate}}
    <i class="fa fa-angle-right"></i> {{ 'menu.cen.cargaMasivaGruposFijos' | translate }}
  </p>
</div> -->
<div class="card">
  <div class="card-body">
    <p class="title-module" (click)="onHideDatosCv()">{{ 'menu.cen.cargaMasivaGruposFijos' | translate }}
      <i *ngIf="!showDatos" class="fa fa-angle-up float-right"></i>
      <i (click)="showDatos()" *ngIf="showDatos" class="fa fa-angle-down float-right"></i>
    </p>
    <div *ngIf="showDatos" class="module vista-simple">
      <div class="row">

        <div class="form-group col-lg-3 col-md-3">
          <label>{{"censo.datosCv.literal.fechaCarga" | translate}}</label>
          <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="1930:2050" [locale]="es" [utc]="true" dateFormat="dd/mm/yy"
            icon="far fa-calendar-alt" showIcon="true" [(ngModel)]="fechaCargaSelect"></p-calendar>
        </div>

        <div class="form-group col-lg-3 col-md-3">
          <label>{{"censo.sociedades.datosBancarios.adjuntar" | translate}}</label>
          <br>
          <p-fileUpload mode="basic" #pUploadFile  chooseLabel="{{ 'censo.sociedades.datosBancarios.seleccionarArchivo' | translate}}"
             class="edit my-0 mx-auto main-button" name="file"  accept="application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
             (change)="getFile($event, form)" (click)="changeDisabledButton()" (onClear)="changeDisabledButton()"></p-fileUpload>
        </div>

      </div>
    </div>

  </div>
  <div class="card-footer">
    <div class="text-right main-button ">
      <button (click)="isBuscar()" pButton type="button" icon="fa fa-search" iconPos="left" label="{{ 'general.boton.search' | translate}}"></button>
      <button pButton type="button" [disabled]="uploadFileDisable" (click)="uploadFile()" icon="fa fa-upload" iconPos="left" label="{{ 'general.boton.cargarFichero' | translate}}"></button>
      <button pButton type="button" (click)="downloadFile()" icon="fa fa-download" iconPos="left" label="{{ 'general.boton.descargaFicheroModelo' | translate}}"></button>
    </div>
  </div>
</div>
<div *ngIf="buscar" class="card mt-3">
  <div class="card-body p-0">
    <p-dataTable emptyMessage="{{ 'general.message.no.registros' | translate}}" pageLinks="4" [responsive]="true" #table class="tabla-listado"
      [value]="datos" [sortOrder]="sortO" (onRowSelect)="disabledButtons(selectedDatos)" selectionMode="single" [paginator]="activarPaginacion()"
      [(selection)]="selectedDatos" paginatorPosition="both" [rows]="selectedItem">
      <p-column *ngFor="let col of cols" [sortable]="true " [field]="col.field" [header]="col.header | translate" filterPlaceholder="{{'general.boton.search' | translate}}"
        [filter]="true" filterMatchMode="contains">
      </p-column>

      <ng-template pTemplate="paginatorLeft">
        <div class="mostrar d-flex text-right justify-content-end">
          <label class="pr-3 registros-totales">Mostrando registros del {{table.first + 1}} al {{table.first + table.rows}} de un total de {{table.totalRecords}}</label>
          <label class="pr-3 numSeleccionados">Seleccionados: {{numSelected}}</label>
          <label>{{ "general.message.mostrar" | translate}}</label>
          <p-dropdown [(ngModel)]="selectedItem" [options]="rowsPerPage" (onChange)="onChangeRowsPerPages($event)"></p-dropdown>
          <label class="pl-1">{{"cargaMasivaDatosCurriculares.numRegistros.literal" | translate}}</label>
        </div>
      </ng-template>

      <p-footer>
        <div class="text-right main-button">
          <button (click)="loadHistory()" pButton type="button" icon="fa fa-history" iconPos="left" label="{{'general.message.mostrarHistorico' | translate}}"></button>
          <button *ngIf="selectedDatos != ''" [disabled]="downloadFileDisable || selectedDatos == ''" (click)="downloadOriginalFile(selectedDatos)"
            pButton type="button" icon="fa fa-download" iconPos="left" label="{{ 'general.boton.descargar.plantilla' | translate}}"></button>
          <button *ngIf="selectedDatos != ''" [disabled]="downloadFileLogDisable || selectedDatos == ''" (click)="downloadLogFile(selectedDatos)"
            pButton type="button" icon="fa fa-download" iconPos="left" label="{{'general.boton.descargar.informe' | translate}}"></button>
        </div>
      </p-footer>
    </p-dataTable>
  </div>
</div>

<!--HISTORICO-->
<div *ngIf="history" class="card mt-3">
  <div class="card-body p-0">

    <p-dataTable emptyMessage="{{ 'general.message.no.registros' | translate}}" pageLinks="4" [responsive]="true" #table class="tabla-listado"
      [value]="datos" [sortOrder]="sortO" (onRowSelect)="disabledButtons(selectedDatos)" selectionMode="single" [paginator]="activarPaginacion()"
      [(selection)]="selectedDatos" paginatorPosition="both" [rows]="selectedItem">
      <p-column *ngFor="let col of cols" [sortable]="true " [field]="col.field" [header]="col.header | translate" filterPlaceholder="{{'general.boton.search' | translate}}"
        [filter]="true" filterMatchMode="contains">

        <ng-template let-datoH="rowData" pTemplate="body">
          <div *ngIf="setItalic(datoH)">
            <span [ngStyle]="{'font-style': 'italic', 'font-weight':'bold', 'text-decoration':'line-through'}">{{datoH[col.field]}}</span>
          </div>
          <div *ngIf="!setItalic(datoH)">
            <span>{{datoH[col.field]}}</span>
          </div>
        </ng-template>

      </p-column>

      <ng-template pTemplate="paginatorLeft">
        <div class="mostrar d-flex text-right justify-content-end">
          <label class="pr-3 registros-totales">Mostrando registros del {{table.first + 1}} al {{table.first + table.rows}} de un total de {{table.totalRecords}}</label>
          <label class="pr-3 numSeleccionados">Seleccionados: {{numSelected}}</label>
          <label>{{ "general.message.mostrar" | translate}}</label>
          <p-dropdown [(ngModel)]="selectedItem" [options]="rowsPerPage" (onChange)="onChangeRowsPerPages($event)"></p-dropdown>
          <label class="pl-1">{{"cargaMasivaDatosCurriculares.numRegistros.literal" | translate}}</label>
        </div>
      </ng-template>

      <p-footer>
        <div class="text-right main-button">
          <button (click)="isBuscar()" pButton type="button" icon="fa fa-undo" iconPos="left" label="{{'general.message.ocultarHistorico' | translate}}"></button>
          <button *ngIf="selectedDatos != ''" [disabled]="downloadFileDisable || selectedDatos == ''" (click)="downloadOriginalFile(selectedDatos)"
            pButton type="button" icon="fa fa-download" iconPos="left" label="{{ 'general.boton.descargar.plantilla' | translate}}"></button>
          <button *ngIf="selectedDatos != ''" [disabled]="downloadFileLogDisable || selectedDatos == ''" (click)="downloadLogFile(selectedDatos)"
            pButton type="button" icon="fa fa-download" iconPos="left" label="{{'general.boton.descargar.informe' | translate}}"></button>
        </div>
      </p-footer>
    </p-dataTable>
  </div>
</div>

<div *ngIf="progressSpinner" class="overlay-spinner">
  <div class="loader"></div>
</div>