<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>
<div class="card">
    <div class="card-body">
      <form [formGroup]="rForm">
          <div class="row w-100 m-0">
                  <div class="form-group col-lg-6 col-md-6">
                      <label>¿Quién ha contactado con el letrado? </label> &nbsp;&nbsp;<app-selector [i]="i" [selector]="selector"></app-selector>
                  </div>
                  <div class="form-group col-lg-12 col-md-12">
                      <label>Temas de Actuaciones: </label> &nbsp;&nbsp;
                  <div class="form-check col-lg-4 col-md-4" *ngFor="let cb of checkboxs1">
                      <br>
                      <div class="inline">
                        <p-checkbox binary="true"></p-checkbox> &nbsp;&nbsp;
                      <label *ngIf="cb != undefined" class="form-group-label"><b>{{cb.nombre}}</b></label>   
                      </div>
                  </div>
                </div>
                  <div class="form-row w-100">
                      <div class="form-group col-lg-12 col-md-12 inline">
                          <p-checkbox binary="true"></p-checkbox> &nbsp;&nbsp;
                          <label class="form-group-label"><b>Judicial</b></label>
                      </div>
                      <div class="form-group col-lg-10 col-md-10 pl-3">
                          <div class="form-group col-lg-6 col-md-6 inline">
                              <p-checkbox binary="true"></p-checkbox> &nbsp;&nbsp;
                              <label class="form-group-label"><b>Penal</b></label> 
                          </div>
                          <div class="form-check col-lg-12 col-md-12 inline pl-5" *ngFor="let cb of checkboxs2">
                              <br>
                              <p-checkbox binary="true"></p-checkbox> &nbsp;&nbsp;
                              <label *ngIf="cb != undefined" class="form-group-label"><b>{{cb.nombre}}</b></label>   
                          </div>
                          <br>
                          <div class="inline col-lg-5 col-md-5 pl-5">
                              <p-checkbox binary="true"></p-checkbox> &nbsp;&nbsp;
                              <label class="form-group-label"><b>Otras (Especificar)</b></label>  
                              <input type="text" class="form-control" pInputText>
                          </div>
                      </div>
                      <div class="form-group col-lg-2 col-md-2 inline">
                          <p-checkbox binary="true"></p-checkbox> &nbsp;&nbsp;
                          <label class="form-group-label"><b>Civil</b></label>
                      </div>
                  </div>
                  <div class="form-row w-100">
                      <div class="form-group col-lg-12 col-md-12 inline">
                          <p-checkbox binary="true"></p-checkbox> &nbsp;&nbsp;
                          <label class="form-group-label"><b>Asesoramiento</b></label> 
                      </div>
                        <div class="col-lg-12 col-md-12 d-flex justify-content-between" *ngFor="let q of questions">
                          <div class="form-group col-lg-6 col-md-6">{{q}}</div>
                          <div class="form-group col-lg-6 col-md-6 inline">
                              Si<p-checkbox binary="true"></p-checkbox>&nbsp;&nbsp;No<p-checkbox binary="true"></p-checkbox>
                          </div>
                        </div>

                    </div>
                    <div class="card form-row w-100">
                        <div class="card-box">
                            <mat-accordion class="example-headers-align" multi>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header class="h-100" [collapsedHeight]="'auto'"
                                        [expandedHeight]="'auto'">
                                       <div>Letrado</div>
                                    </mat-expansion-panel-header>
                                    <ng-template matExpansionPanelContent>
                                        <app-buscador-colegial></app-buscador-colegial>
                                    </ng-template>
                                </mat-expansion-panel>
                              </mat-accordion>
                        </div>
                    </div>
                    <div class="card form-row w-100">
                        <div class="card-box">
                            <mat-accordion class="example-headers-align" multi>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header class="h-100" [collapsedHeight]="'auto'"
                                        [expandedHeight]="'auto'">
                                        <div>Juzgado</div>
                                      </mat-expansion-panel-header>
                                      <ng-template matExpansionPanelContent>
                                        <div>
                                            <div class="form-row w-100">
                                                <div class="form-group col-lg-3 col-md-3 w-100" *ngFor="let selector of selectores3; let i = index;">
                                                  <app-selector [i]="i" [selector]="selector"></app-selector>
                                                </div>
                                              </div>
                                              <div class="form-row w-100">
                                                <div class="form-group col-lg-3 col-md-3 w-100" *ngFor="let input of inputs3">
                                                  <label>{{input.nombre}}</label>
                                                  <input type="text" class="form-control" [placeholder]="input.valor" pInputText>
                                                </div>
                                              </div>
                                        </div>
                                    </ng-template>
                                    </mat-expansion-panel>
                                    </mat-accordion>
                        </div>
                    </div>

        </div>
      </form>

<div class="card-footer">
  <div class="text-right main-button">
    <button pButton type="button" icon="far fa-save" iconPos="left" label="Guardar"
      (click)="showMsg('success', 'Se ha guardado correctamente', '')"></button>
    <button pButton type="button" icon="fa fa-undo" iconPos="left" label="Restablecer"
      (click)="showMsg('success', 'Se ha restablecido correctamente', '')"></button>
  </div>
</div>
</div>
</div>
