<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>
<div class="ficha-container">
  <div class="card">
    <div class="card-header header-ficha" (click)="abreCierraFicha()">
      <div *ngIf="!openFicha" class="form-row">
        <div class="col-lg-1 col-md-2">
          <div class="img-colegiado">
            <i class="fas fa-comment-alt icon-ficha"></i>
          </div>
        </div>
        <div class="col-lg-11 col-md-10">
          <div class="d-flex justify-content-start mb-1">
            <label class="mr-auto title-ficha">Consulta</label>
          </div>
          <div class="d-flex justify-content-between">
            <label>
              <!-- <span>{{body.nombre}}</span> -->
            </label>
            <i *ngIf="!openFicha" class="fa fa-angle-down float-right"></i>
          </div>
        </div>
      </div>
      <div *ngIf="openFicha" class=" header-ficha-open d-flex justify-content-start align-items-center">
        <div class="img-colegiado">
          <i class="fas fa-comment-alt icon-ficha">
          </i>
        </div>
        <label class="title-ficha">Consulta</label>
        <i class="fa fa-angle-up ml-auto"></i>
      </div>
    </div>
    <!--cuerpo datos generales-->
    <div *ngIf="openFicha" class="card-body card-body-ficha">
      <div *ngIf="showAyuda" class="ayuda-consulta">
        <i (click)="onShowAyuda()" class="fa fa-close float-right cursor-pointer"></i>
        <p class="mb-2">
          <strong>NORMATIVA DE USO</strong>
        </p>
        <p *ngFor=" let texto of ayuda" class="mb-2">
          {{texto.texto}}
        </p>
      </div>
      <div class=" form-row">
        <div class="form-group col-lg-12 col-md-12">
          <label>Cuerpo</label>
          <i (click)="onShowAyuda()" class="fa fa-info-circle ml-1 cursor-pointer"></i>
          <textarea (input)="onChangeConsulta()" pInputTextarea autoResize="autoResize" style="height:250px
         " [(ngModel)]="body.sentencia"></textarea>
        </div>
      </div>
    </div>
    <div *ngIf="openFicha" class="card-footer">
      <div class="text-right main-button">
        <button [disabled]="true" (click)="guardar()" pButton type="button" icon="far fa-save" iconPos="left" label="{{
          'general.boton.guardar' | translate}}"></button>
        <button [disabled]="true" (click)="restablecer()" pButton type="button" icon="fa fa-undo" iconPos="left" label="{{
          'general.boton.restablecer' | translate}}"></button>
        <button [disabled]="true" (click)="ejecutar()" pButton type="button" icon="fas fa-play
         " iconPos="left" label="{{ 'general.boton.ejecutar' | translate}}"></button>
      </div>
    </div>
  </div>

</div>



<p-dialog [(visible)]="showValores" responsive="true" [draggable]="false" modal="modal" resizable="false
         " [minWidth]="500">
  <p-header>
    <label>Valores</label>
  </p-header>
  <div *ngIf="valores">
    <div class="form-row mt-3" *ngFor="let dato of valores">
      <div class="form-group col-lg-3 col-md-3">
        <label class="mr-2">{{dato.clave}} </label>
      </div>
      <div class="form-group col-lg-9 col-md-9">
        <input type="text" class="form-control" [(ngModel)]="dato.valor" pInputText>
      </div>
    </div>
  </div>
  <p-footer>
    <div class="text-right main-button">
      <!-- <button (click)="ejecutar()" pButton type="button" icon="fa fa-close" iconPos="left" label="{{
          'general.boton.cancel' | translate}}"></button> -->
      <button (click)="enviar()" pButton type="button" icon="fa fa-save" iconPos="left" label="{{
          'general.boton.guardar' | translate}}"></button>
    </div>
  </p-footer>
</p-dialog>

<div *ngIf="progressSpinner" class="overlay-spinner">
  <!--<p-progressSpinner animationDuration="1s"></p-progressSpinner>-->
  <div class="loader"></div>
</div>