<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>
<div class="ficha-container">
  <div class="card">
    <div class="card-header header-ficha" (click)="abreCierraFicha()">
      <div *ngIf="!openFicha" class="form-row">
        <div class="col-lg-1 col-md-2">
          <div class="img-colegiado">
            <i class="fas fa-laptop-code icon-ficha"></i>
          </div>
        </div>
        <div class="col-lg-11 col-md-10">
          <div class="d-flex justify-content-center mb-1">
            <label class="mr-auto title-ficha">Consulta</label>
          </div>
          <div class="d-flex justify-content-between">
            <label>xxx:
              <!-- <span>{{body.nombre}}</span> -->
            </label>
            <label>xxx:
              <!-- <span>{{body.nombre}}</span> -->
            </label>
            <i *ngIf="!openFicha" class="fa fa-angle-down float-right"></i>
          </div>
        </div>
      </div>
      <div *ngIf="openFicha" class=" header-ficha-open d-flex justify-content-start align-items-center">
        <div class="img-colegiado">
          <i class="fas fa-laptop-code icon-ficha">
          </i>
        </div>
        <label class="title-ficha">Consulta</label>
        <i class="fa fa-angle-up ml-auto"></i>
      </div>
    </div>
    <!--cuerpo datos generales-->
    <div *ngIf="openFicha" class="card-body card-body-ficha">
      <div *ngIf="showAyuda" class="ayuda-consulta">
        <i (click)="onShowAyuda()" class="fa fa-close float-right cursor-pointer"></i>
        <p>Texto ayuda 13. Las consultas de tipo "Facturación" o "Envío a Grupos" tienen las siguientes restricciones:  No
          puede incorporar solicitudes de criterios dinámicos por interfaz.  Para las consultas de tipo "Facturación" los
          siguientes campos son obligatorios: IDINSTITUCION , IDPERSONA.  Para las consultas de tipo "Envío a Grupos": IDINSTITUCION,
          IDPERSONA, CODIGOPOSTAL, CORREOELECTRONICO, DOMICILIO, MOVIL, FAX1, FAX1, IDPAIS, IDPROVINCIA, IDPOBLACION. 14.
          Las consultas de tipo "Envío a Grupos" tiene las siguientes restricciones:  Las consultas listas para envíos han
          de llevar la tabla CEN_CLIENTE y CEN_DIRECCIONES sin alias.  NO se debe añadir condiciones para filtrar la dirección,
          ya que eso se hace automáticamente. 15. Se han añadido los nuevos operadores =,!=,IS NULL,LIKE al formato de los
          criterios TEXTO. A estos operadores se añaden >,>=,
          <,<=c uando el formato sea NUMERO, </p>
      </div>
      <div class="form-row">
        <div class="form-group col-lg-12 col-md-12">
          <label>Cuerpo</label>
          <i (click)="onShowAyuda()" class="fa fa-info-circle ml-1 cursor-pointer"></i>
          <textarea pInputTextarea autoResize="autoResize" style="height:250px" [(ngModel)]="body.sentencia"></textarea>
        </div>
      </div>
    </div>
    <div *ngIf="openFicha" class="card-footer ">
      <div class="text-right main-button ">
        <button (click)="guardar()" pButton type="button" icon="far fa-save" iconPos="left" label="{{ 'general.boton.guardar' | translate}}"></button>
        <button (click)="restablecer()" pButton type="button" icon="fa fa-undo" iconPos="left" label="{{ 'general.boton.restablecer' | translate}}"></button>
        <button (click)="onShowValores()" pButton type="button" icon="fas fa-play" iconPos="left" label="{{ 'general.boton.ejecutar' | translate}}"></button>
      </div>
    </div>
  </div>

</div>



<p-dialog [(visible)]="showValores" responsive="true" [draggable]="false" modal="modal" resizable="false" [minWidth]="500">
  <p-header>
    <label>Ayuda</label>
  </p-header>
  <div class="form-row">
    <div class="form-group col-lg-4 col-md-4">
      <label>xxx</label>
      <input type="text" class="form-control" pInputText>
    </div>
  </div>
  <p-footer>
    <div class="text-right main-button ">
      <button (click)="onShowAyuda()" pButton type="button" icon="fa fa-close " iconPos="left" label="{{'general.boton.cancel' | translate}}"></button>
    </div>
  </p-footer>
</p-dialog>