<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>

<div class="row w-100 m-0 padding-interior">

  <div class="col-lg-12 col-md-12 px-0">

    <div class="form-row">

      <div class="form-group col-lg-4 col-md-4 w-100">
        <app-selector [i]="0" [selector]="selector"></app-selector>
      </div>

    </div>

  </div>

</div>

<div class="card-footer">
  <div class="text-right main-button">
    <button pButton type="button" icon="fa fa-undo" iconPos="left" label="Restablecer"
      (click)="showMsg('success', 'Se ha restablecido correctamente', '')" disabled></button>
    <button pButton type="button" icon="far fa-save" iconPos="left" label="Guardar"
      (click)="showMsg('success', 'Se ha guardado correctamente', '')" disabled></button>
  </div>
</div>