<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>
<div class="busqueda-container" id="defensaJuridica">
  <div class="card" id="top">
    <div class="card-header header-ficha">
      <div *ngIf="!openDef" class="form-row">
        <div class="col-lg-1 col-md-2" (click)="abreCierra()">
          <!-- (click)="" -->
          <div class="img-colegiado">
            <i class="far fa-user icon-ficha pointer"></i>
          </div>
        </div>
        <div class="col-lg-11 col-md-10">
          <div class="d-flex justify-content-start mb-1" (click)="abreCierra()">
            <label class="mr-auto title-ficha pointer">{{ 'general.message.datos.generales' | translate }}</label>
          </div>
          <div class="d-flex justify-content-between default">
            <!-- <label>{{ "gratuita.busquedaEJG.literal.fechaApertura" | translate }}: <span>{{body.fechaApertura | date:
                      'dd/MM/yyyy'}}</span></label>
                    <span>{{body.estadoEJG}}</span></label> -->
            <!-- <i class="fa fa-angle-down float-right" (click)="abreCierraFicha('datosGenerales')"
                    *ngIf="!esFichaActiva('datosGenerales')"></i> -->
          </div>
        </div>
      </div>
      <div *ngIf="openDef" class=" header-ficha-open d-flex justify-content-start align-items-center"
        (click)="abreCierra()">
        <!-- (click)="" -->
        <div class="img-colegiado">
          <i class="far fa-user icon-ficha"></i>
        </div>
        <!-- Se debe introducir una cabecera "Defensa Jurídica" -->
        <label class="title-ficha pointer">{{ 'justiciaGratuita.ejg.datosGenerales.datosDefensa' | translate }}</label>
        <i class="fa fa-angle-up ml-auto"></i>
      </div>
    </div>
    <div *ngIf="openDef" class="card-body card-body-ficha">
      <div class="row">
        <label>{{'justiciaGratuita.ejg.datosGenerales.Perceptivo'|translate}}</label>
        <p-dropdown class="select-form" [(ngModel)]='body.perceptivo' placeholder="Seleccionar"
          [options]="comboPreceptivo" [filter]="true" filterBy="label,labelSinTilde" [showClear]="true">
        </p-dropdown>
        <label>{{'justiciaGratuita.ejg.datosGenerales.Renuncia'|translate}}</label>
        <p-dropdown class="select-form" [(ngModel)]='body.renuncia' placeholder="Seleccionar" [options]="comboRenuncia"
          [filter]="true" filterBy="label,labelSinTilde" [showClear]="true">
        </p-dropdown>
        <label>{{'censo.fichaCliente.situacion.cabecera'|translate}}</label>
        <p-dropdown class="select-form" [(ngModel)]='body.renuncia' placeholder="Seleccionar" [options]="comboSituacion"
          [filter]="true" filterBy="label,labelSinTilde" [showClear]="true">
        </p-dropdown>
        <label>{{"gratuita.volantesExpres.literal.centroDetencion" | translate}}</label>
        <p-dropdown class="select-form" [(ngModel)]='body.renuncia'
          placeholder="{{'general.boton.seleccionar' | translate}}" [options]="comboComisaria" [filter]="true"
          filterBy="label,labelSinTilde" [showClear]="true"></p-dropdown>
        <!-- <app-input-dividido [anio]="anio" [numero]="numero" titulo="Año / Número"></app-input-dividido> -->
      </div>
    </div>

    <div *ngIf="openDef" class="card-footer">
      <div class="text-right main-button ">
        <button (click)="checkPermisosAsociarDes()" pButton [disabled]="!permisoEscritura" type="button"
          icon="fa fa-plus" iconPos="left" label="{{ 'general.boton.AsociarDesignacion' | translate}}"></button>

        <button (click)="checkPermisosCreateDes()" pButton [disabled]="!permisoEscritura" type="button"
          icon="fa fa-download" iconPos="left" label="{{ 'general.boton.crearDesignacion' | translate}}"></button>

        <button (click)="rest()" pButton type="button" icon="fa fa-undo" iconPos="left"
          label="{{ 'general.boton.restablecer' | translate}}"></button>

        <button (click)="save()" pButton type="button" icon="fa fa-save" iconPos="left"
          label="{{ 'general.boton.guardar' | translate}}"></button>
      </div>
    </div>
  </div>
</div>

<div class="mt-3 text-right main-button" id="down">
  <button (click)="backTo()" pButton type="button" icon="fa fa-angle-left" iconPos="left" label="{{ 'general.boton.volver' | translate }}"></button>
</div>

<p-confirmDialog header="{{ 'general.cabecera.confirmacion' | translate}}" icon="icon" key="confirmGuardar" width="425"
  #confirmGuardar>
  <p-footer>
    <button type="button" pButton icon="fa-check" label="Si" (click)="confirmGuardar.accept()"></button>
    <button type="button" pButton icon="fa-close" label="No" (click)="confirmGuardar.reject()"></button>
  </p-footer>
</p-confirmDialog>
<div *ngIf="progressSpinner" class="overlay-spinner">
  <div class="loader"></div>
</div>