<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>
<div class="busqueda-container" id="defensaJuridica">
  <div class="card" id="top">
    <div class="card-header header-ficha">
      <div *ngIf="!openDef" class="form-row">
        <div class="col-lg-1 col-md-2" (click)="abreCierra()">
          <!-- (click)="" -->
          <div class="img-colegiado">
            <i class="fa fa-user icon-ficha pointer"></i>
          </div>
        </div>
        <div class="col-lg-11 col-md-10">
          <div class="d-flex justify-content-start mb-1" (click)="abreCierra()">
            <label class="mr-auto title-ficha pointer">{{ 'justiciaGratuita.ejg.preDesigna.defensaJuridica' | translate }}</label>
          </div>
          <div class="d-flex justify-content-between default">
            <label *ngIf="bodyInicial.numAnnioProcedimiento!=null">{{ "gratuita.busquedaDesignas.literal.numProcedimiento" | translate }}: <span>{{bodyInicial.numAnnioProcedimiento}}</span></label>
            <label *ngIf="bodyInicial.numAnnioProcedimiento==null">{{ "gratuita.mantAsistencias.literal.numeroDiligenciasolo" | translate }}: <span>{{bodyInicial.numerodiligencia}}</span></label>
            <label *ngIf="bodyInicial.juzgado!=null">{{ "justiciaGratuita.ejg.datosGenerales.Juzgado" | translate }}: <span>{{juzgadoCabecera}}</span></label>
            <label *ngIf="bodyInicial.juzgado==null">{{ "gratuita.volantesExpres.literal.centroDetencion" | translate }}: <span>{{comisariaCabecera}}</span></label>
            <label>{{ "justiciaGratuita.maestros.Procedimiento" | translate }}: <span>{{procedimientoCabecera}}</span></label>
            <label>{{ "justiciaGratuita.ejg.datosGenerales.calidad" | translate }}: <span>{{calidadCabecera}}</span></label>
            <i class="fa fa-angle-down float-right" (click)="abreCierra()"></i>
          </div>
        </div>
      </div>
      <div *ngIf="openDef" class=" header-ficha-open d-flex justify-content-start align-items-center"
        (click)="abreCierra()">
        <!-- (click)="" -->
        <div class="img-colegiado">
          <i class="fa fa-user icon-ficha"></i>
        </div>
        <label class="title-ficha pointer">{{ 'justiciaGratuita.ejg.preDesigna.defensaJuridica' | translate }}</label>
        <i class="fa fa-angle-up ml-auto"></i>
      </div>
    </div>
    <div *ngIf="openDef" class="card-body card-body-ficha">
      <div class="form-group col-lg-12 col-md-1 input-ayuda">
        <label style="font-weight: bold;">{{ 'justiciaGratuita.ejg.preDesigna.datosPre' | translate }}</label>
      </div>
      <div class="form-row">
        <div class="form-group-interlineado col-lg-3 col-md-3">
          <label>{{'justiciaGratuita.ejg.datosGenerales.annioNum' |translate}}</label>
          <input type="text" class="form-control" maxLength="4" (keypress)="numberOnly($event)" pInputText
            [(ngModel)]="body.numAnnioProcedimiento" [disabled]="!permisoEscritura">
        </div>
        <div class="form-group-interlineado col-lg-3 col-md-3">
          <label>{{'justiciaGratuita.ejg.datosGenerales.NIG'|translate}}</label>
          <input type="text" class="form-control" maxLength="49" pInputText [(ngModel)]="body.nig" [disabled]="!permisoEscritura">
        </div>
        <div class="form-group-interlineado col-lg-3 col-md-3">
          <label>{{ 'justiciaGratuita.ejg.datosGenerales.Juzgado' | translate}}</label>
          <p-dropdown class="select-form" [(ngModel)]='body.juzgado' placeholder="Seleccionar"
            [options]="comboJuzgado" (onChange)="onChangeJuzgado()" [filter]="true" filterBy="label,labelSinTilde" [showClear]="true" [disabled]="!permisoEscritura"></p-dropdown>
        </div>
        <div class="form-group-interlineado col-lg-3 col-md-3">
          <label>{{'justiciaGratuita.maestros.Procedimiento'|translate}}</label>
          <p-dropdown class="select-form" [(ngModel)]='body.idPretension' placeholder="Seleccionar"
            [options]="comboProcedimiento" [(disabled)]="isDisabledProcedimiento || !permisoEscritura" [filter]="true" filterBy="label,labelSinTilde" [showClear]="true">
          </p-dropdown>
        </div>

        <div class="form-group-interlineado col-lg-3 col-md-3">
          <label>{{"justiciaGratuita.Calendarios.Observaciones" | translate}}</label>
          <input type="text" class="form-control" maxLength="1023" pInputText [(ngModel)]="body.observaciones" [disabled]="!permisoEscritura">
        </div>
        <div class="form-group col-lg-3 col-md-3 w-100">
          <label>{{"justiciaGratuita.ejg.preDesigna.delitos" | translate}}</label>
          <p-multiSelect #someDropdown [defaultLabel]="textFilter" autoWidth="false" [(ngModel)]='delitosValue'
                [options]="comboDelitos" [selectedItemsLabel]="textSelected" styleClass="widthAll" [filter]="true"
                filterBy="label,labelSinTilde" maxSelectedLabels="10" selectionLimits="10"
                [panelStyle]="{width:'100%'}" [disabled]="!permisoEscritura"></p-multiSelect>
        </div>
      </div>
      <div class="form-group col-lg-12 col-md-1 input-ayuda">
        <label style="font-weight: bold;">{{ 'justiciaGratuita.ejg.preDesigna.defensaJuridica' | translate }}</label>
      </div>
      <div class="form-row">
        <div class="form-group col-lg-3 col-md-3">
          <label>{{'justiciaGratuita.ejg.datosGenerales.Perceptivo'|translate}}</label>
          <p-dropdown class="select-form" [(ngModel)]='body.perceptivo' placeholder="Seleccionar"
            [options]="comboPreceptivo" [filter]="true" filterBy="label,labelSinTilde" [showClear]="true" [disabled]="!permisoEscritura">
          </p-dropdown>
        </div>
        <div class="form-group col-lg-3 col-md-3">
          <label>{{'justiciaGratuita.ejg.datosGenerales.Renuncia'|translate}}</label>
          <p-dropdown class="select-form" [(ngModel)]='body.renuncia' placeholder="Seleccionar"
            [options]="comboRenuncia" [filter]="true" filterBy="label,labelSinTilde" [showClear]="true" [disabled]="!permisoEscritura">
          </p-dropdown>
        </div>
        <div class="form-group col-lg-3 col-md-3">
          <label>{{'censo.fichaCliente.situacion.cabecera'|translate}}</label>
          <p-dropdown class="select-form" [(ngModel)]='body.idsituacion' placeholder="Seleccionar"
            [options]="comboSituacion" [filter]="true" filterBy="label,labelSinTilde" [showClear]="true" [disabled]="!permisoEscritura">
          </p-dropdown>
        </div>
        <div class="form-group col-lg-3 col-md-3">
          <label>{{'gratuita.mantAsistencias.literal.numeroDiligenciasolo'|translate}}</label>
          <input type="text" [(ngModel)]="body.numerodiligencia" class="form-control" (keypress)="numberOnly($event)"
            maxLength="10" [disabled]="!permisoEscritura" pInputText>
        </div>
        <div class="form-group col-lg-3 col-md-3">
          <label>{{"gratuita.volantesExpres.literal.centroDetencion" | translate}}</label>
          <p-dropdown class="select-form" [(ngModel)]='body.comisaria'
            placeholder="{{'general.boton.seleccionar' | translate}}" [options]="comboComisaria" [filter]="true"
            filterBy="label,labelSinTilde" [showClear]="true" [disabled]="!permisoEscritura"></p-dropdown>
        </div>
        <div class="form-group col-lg-3 col-md-3">
          <label>{{"justiciaGratuita.ejg.datosGenerales.calidad" | translate}}</label>
          <p-dropdown class="select-form" [(ngModel)]='body.calidad'
            placeholder="{{'general.boton.seleccionar' | translate}}" [options]="comboCalidad" [filter]="true"
            filterBy="label,labelSinTilde" [showClear]="true" [disabled]="!permisoEscritura"></p-dropdown>
        </div>
        <!-- <app-input-dividido [anio]="anio" [numero]="numero" titulo="Año / Número"></app-input-dividido> -->
      </div>
    </div>

    <div *ngIf="openDef" class="card-footer">
      <div class="text-right main-button ">
        <button (click)="checkPermisosAsociarDes()" pButton type="button"
          icon="fa fa-plus" iconPos="left" label="{{ 'general.boton.AsociarDesignacion' | translate}}" [disabled]="!permisoEscritura"></button>

        <button (click)="checkPermisosCreateDes()" pButton type="button"
          icon="fa fa-download" iconPos="left" label="{{ 'general.boton.crearDesignacion' | translate}}" [disabled]="!permisoEscritura"></button>

        <button (click)="rest()" pButton type="button" icon="fa fa-undo" iconPos="left"
          label="{{ 'general.boton.restablecer' | translate}}" [disabled]="!permisoEscritura"></button>

        <button (click)="checkSave()" pButton type="button" icon="fa fa-save" iconPos="left"
          label="{{ 'general.boton.guardar' | translate}}" [disabled]="!permisoEscritura"></button>
      </div>
    </div>
  </div>
</div>



<p-confirmDialog header="{{ 'general.cabecera.confirmacion' | translate}}" icon="icon" key="confirmGuardar" width="425"
  #confirmGuardar>
  <p-footer>
    <button type="button" pButton icon="fa-check" label="Si" (click)="confirmGuardar.accept()"></button>
    <button type="button" pButton icon="fa-close" label="No" (click)="confirmGuardar.reject()"></button>
  </p-footer>
</p-confirmDialog>
<div *ngIf="progressSpinner" class="overlay-spinner">
  <div class="loader"></div>
</div>