<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>

<div class="card">
  <div class="card-body">
    <p (click)="onHideDatosGenerales()" class="title-module"> {{ 'general.message.datos.generales' | translate }}
      <i *ngIf="showDatosGenerales" class="fa fa-angle-up float-right"></i>
      <i *ngIf="!showDatosGenerales" class="fa fa-angle-down float-right"></i>
    </p>

    <!-- CAMPOS COMPONEN FILTROS BUSQUEDA-->
    <div *ngIf="showDatosGenerales" class="module vista-simple">
      <div class="form-row">
        <div class="form-group-interlineado col-lg-3 col-md-3">
          <label><strong>{{ 'formacion.fichaCursos.tarjetaPrecios.resumen.numRegistros' |
            translate}}</strong></label>
          <div class="form-row">
            <div class="form-group-interlineado col-lg-4 col-md-4 px-1">
              <input type="text" name="prefijo" value="" class="box" class="registro-control w-100" (keypress)="numberOnly($event)"
                [(ngModel)]='filtros.numRemesaPrefijo' maxLength="8" pInputText placeholder= "{{ 'administracion.parametrosGenerales.literal.prefijo' | translate}}" >
            </div>
            <div class="form-group-interlineado col-lg-4 col-md-4 px-1">
              <input type="text" name="numero" value="" class="box" class="registro-control w-100" (keypress)="numberOnly($event)"
                [(ngModel)]='filtros.numRemesaNumero' maxLength="10" pInputText placeholder= "{{ 'justiciaGratuita.sjcs.designas.DatosIden.numero' | translate}}">
            </div>

            <div class="form-group-interlineado col-lg-4 col-md-4 px-1">
              <input type="text" name="sufijo" value="" class="box" class="registro-control w-100" (keypress)="numberOnly($event)"
                [(ngModel)]='filtros.numRemesaSufijo' maxLength="8" pInputText placeholder= "{{ 'administracion.parametrosGenerales.literal.sufijo' | translate}}">
            </div>
          </div>
        </div>

        <div class="form-group-interlineado col-lg-3 col-md-3">
          <label><strong>{{ 'censo.cargaMasivaDatosCurriculares.literal.nombreFichero' |
            translate}}</strong></label>
          <input type="text" name="nombreFichero" value="" class="box" class="form-control" [(ngModel)]='filtros.nombreFichero'
            maxLength="200" pInputText>
        </div>
        <div class="form-group-interlineado col-lg-3 col-md-3">
            <label><strong>{{ 'justiciaGratuita.remesasResultados.filtro.fechaRemesaDesde' |
              translate}}</strong></label>
            <app-fecha [(value)]="filtros.fechaResolucionDesde" (valueChangeSelected)="fillFechaResolucionDesde($event)"
              (valueChangeInput)="fillFechaResolucionDesde($event)">
            </app-fecha>
          </div>
  
          <div class="form-group-interlineado col-lg-3 col-md-3">
            <label><strong>{{ 'justiciaGratuita.remesasResultados.filtro.fechaRemesaHasta' |
              translate}}</strong></label>
            <app-fecha [(value)]="filtros.fechaResolucionHasta" (valueChangeSelected)="fillFechaResolucionHasta($event)"
              (valueChangeInput)="fillFechaResolucionHasta($event)" [minDate]="filtros.fechaResolucionHasta">
            </app-fecha>
          </div>

      </div>

      <div class="form-row">
        <div class="form-group-interlineado col-lg-3 col-md-3">
          <label><strong>{{ 'justiciaGratuita.remesasResultados.filtro.fechaCargaDesde' |
            translate}}</strong></label>
          <app-fecha [(value)]="filtros.fechaCargaDesde" (valueChangeSelected)="fillFechaCargaDesde($event)"
            (valueChangeInput)="fillFechaCargaDesde($event)">
          </app-fecha>
        </div>

        <div class="form-group-interlineado col-lg-3 col-md-3">
          <label><strong>{{ 'justiciaGratuita.remesasResultados.filtro.fechaCargaHasta' |
            translate}}</strong></label>
          <app-fecha [(value)]="filtros.fechaCargaHasta" (valueChangeSelected)="fillFechaCargaHasta($event)"
            (valueChangeInput)="fillFechaCargaHasta($event)" [minDate]="filtros.fechaCargaHasta">
          </app-fecha>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card-footer">
  <!-- BOTONES TARJETA -->
  <div class="text-right main-button">
    <button (click)="clearFilters()" pButton type="button" icon="fa fa-eraser" iconPos="left"
      label="{{ 'general.boton.clear' | translate}}"></button>
    <button (click)="search()" pButton type="button" icon="fa fa-search" iconPos="left"
      label="{{ 'general.boton.search' | translate }}"></button>

    <button (click)="openTab()" *ngIf="buttonNew" pButton type="button"  icon="fa fa-plus"
       iconPos="left"  label="{{ 'general.boton.new' | translate}}"></button>
  
    <button  (click)="obtenerDesignaProcurador()" *ngIf="!buttonNew" pButton type="button"  icon="fa fa-search"
     iconPos="left" label="{{ 'general.boton.obtenerDesignaProcurador' | translate}}"></button>
    </div>
</div>