<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>
<div class="card">
    <div class="card-body">

        <div>
            <p-radioButton *ngFor="let radio of radios" [(ngModel)]='modoBusqueda' (click)="changeTab()" class="mr-4"
                name="modo" [value]="radio.value" [label]="radio.label"></p-radioButton>
        </div>

        <app-busqueda-asuntos [selectorEstados]="" [datePickers]="datePickers" [selectores]="selectores"
            [emptyAccordions]="emptyAccordions" (formulario)="saveForm($event)" [modoBusqueda]="modoBusqueda"
            [datos]="datos">
        </app-busqueda-asuntos>

    </div>

    <div class="card-footer">
        <div class="text-right main-button">
            <button pButton type="button"  icon="fa fa-eraser"  iconPos="left"
                label="{{ 'general.boton.clear' | translate}}" (click)="hideResponse()"></button>
            <button type="submit" pButton icon="fa fa-search" iconPos="left"
                label="{{'general.boton.search' | translate}}"
                (click)="showResponse();showMsg('info', 'Mostrando información buscada', '')"
                [disabled]="!cFormValidity"></button>
        </div>
    </div>
</div>
<div *ngIf="show">
    <div class="card mt-3">
        <div class="card-body">

            <app-paginador (seleccionarTodo)="selectedAll($event)" [type]="'TOP'"></app-paginador>

            <app-resultado-asuntos [allSelected]="allSelected" [showResponse]="show" [cabeceras]="cabeceras"
                [elementos]="elementos" [elementosAux]="elementosAux"></app-resultado-asuntos>

            <div>
                <app-paginador [type]="'BOTTOM'"></app-paginador>
            </div>
        </div>
    </div>
</div>