.enlace {
  color: #0000ee !important;
}

#permisoEjecucionLabel {
  display: flex !important;
}

#checkboxPermisoEjecucion {
  margin-left: 0rem;
}

#checkboxPermisoEjecucionDiv {
  padding-bottom: 0.3rem;
}
