<p-growl [(value)]="msgs "></p-growl>

<div class="busqueda-container">
  <div class="header-title">
    <i class="fa fa-square"></i>
    <p>Consultar editar datos bancarios</p>
  </div>

  <!-- Datos cuenta bancaria -->
  <div class="busqueda-container">
    <div class="card">
      <div class="card-header header-ficha">
        <div *ngIf="!openFichaCuentaBancaria" class="form-row">
          <div class="col-lg-1 col-md-2">
            <div class="img-colegiado">
              <i class="fa fa-credit-card icon-ficha"></i>
            </div>
          </div>
          <div class="col-lg-11 col-md-10">
            <div class="d-flex justify-content-end mb-1">
              <label class="mr-auto title-ficha">Datos Cuenta Bancaria</label>
            </div>
            <div class="d-flex justify-content-between">
              <label>Titular
                <span>{{ body.titular }}</span>
              </label>
              <label>{{"administracion.usuarios.literal.NIF" | translate}}
                <span>{{ body.nifTitular }}</span>
              </label>
              <label>IBAN
                <span>{{ body.iban }}</span>
              </label>
              <i (click)="abrirFichaCuentaBancaria()" [ngClass]="{ 'fa fa-angle-up': openFichaCuentaBancaria, 'fa fa-angle-down': !openFichaCuentaBancaria} "></i>
            </div>
          </div>
        </div>
        <div *ngIf="openFichaCuentaBancaria" class=" header-ficha-open d-flex justify-content-start align-items-center">
          <div class="img-colegiado">
            <i class="fa fa-credit-card icon-ficha"></i>
          </div>
          <label class="title-ficha">Datos Cuenta Bancaria</label>
          <i (click)="abrirFichaCuentaBancaria()" class="fa fa-angle-up ml-auto"></i>
        </div>
      </div>

      <div *ngIf="openFichaCuentaBancaria" class="card-body card-body-ficha">
        <div class="row">
          <div class="bloque col-lg-12 col-md-12">
            <div class="row">
              <div class="form-group col-lg-3 col-md-6">
                <label>Titular</label>
                <input type="text" class="form-control" [(ngModel)]="body.titular" pInputText>
                <div *ngIf="titularValido == false">
                  <label class="labelError">{{"El campo no puede estar vacío"}}</label>
                </div>
              </div>
              <div class="form-group col-lg-3 col-md-6">
                <label>{{"administracion.usuarios.literal.NIF" | translate}}</label>
                <input type="text" class="form-control" [(ngModel)]="body.nifTitular" [disabled]="!editar" pInputText>
              </div>
              <div class="form-group col-lg-3 col-md-6">
                <label>IBAN</label>
                <input type="text" class="form-control" [(ngModel)]="body.iban" (ngModelChange)="autogenerarDatos()" pInputText>
                <div *ngIf="ibanValido == false">
                  <label class="labelError">{{"IBAN incorrecto"}}</label>
                </div>
              </div>
              <div class="form-group col-lg-3 col-md-6">
                <label>BIC</label>
                <input [(ngModel)]="body.bic" type="text" class="form-control" (ngModelChange)="recuperarBicBanco()" [disabled]="!editar"
                  pInputText>
              </div>
              <div class="form-group col-lg-3 col-md-6">
                <label>Banco</label>
                <input [(ngModel)]="body.banco" type="text" class="form-control" [disabled]="!editar" pInputText>
              </div>
              <div class="form-group col-lg-3 col-md-6">
                <label>Tipo de cuenta</label>
                <p-multiSelect [defaultLabel]="textFilter" styleClass="widthAll" [(ngModel)]='selectedTipo' [options]="tipoCuenta" [selectedItemsLabel]="textSelected"
                  maxSelectedLabels="1" autoWidth="false" defaultLabel="" maxSelectedLabels="1" optionLabel="name"></p-multiSelect>
                <div *ngIf="tipoCuentaSeleccionado == false">
                  <label class="labelError">{{"Debe seleccionar al menos 1 elemento"}}</label>
                </div>
              </div>
              <div class="form-group col-lg-3 col-md-6">
                <label>Cuenta contable</label>
                <input type="text" class="form-control " [(ngModel)]="body.cuentaContable" pInputText>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="card-footer ">
          <div class="text-right main-button ">
            <button (click)="validarFormulario()" pButton type="button" icon="far fa-save" iconPos="left" label="Guardar"></button>
            <button *ngIf="!nuevo" (click)="restablecer()" pButton type="button" icon="fa fa-repeat" iconPos="left" label="Restablecer"></button>
            <button *ngIf="nuevo" (click)="restablecerNuevo()" pButton type="button" icon="fa fa-repeat" iconPos="left" label="Restablecer"></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Datos Mandatos -->
  <div class="busqueda-container">
    <div class="card">
      <div class="card-header header-ficha">
        <div *ngIf="!openFichaDatosMandatos" class="form-row">
          <div class="col-lg-1 col-md-2">
            <div class="img-colegiado">
              <i class="fa fa-hand-o-right icon-ficha"></i>
            </div>
          </div>
          <div class="col-lg-11 col-md-10 ">
            <div class="d-flex justify-content-end mb-1">
              <label class="mr-auto title-ficha">Datos Mandatos</label>
            </div>
            <div class="d-flex justify-content-between">
              <br>
              <i (click)="abrirFichaDatosMandatos()" [ngClass]="{ 'fa fa-angle-up': openFichaDatosMandatos, 'fa fa-angle-down': !openFichaDatosMandatos} "></i>
            </div>
          </div>
        </div>
        <div *ngIf="openFichaDatosMandatos" class=" header-ficha-open d-flex justify-content-start align-items-center">
          <div class="img-colegiado">
            <i class="fa fa-hand-o-right icon-ficha"></i>
          </div>
          <label class="title-ficha">Datos Mandatos</label>
          <i (click)="abrirFichaDatosMandatos()" class="fa fa-angle-up ml-auto"></i>
        </div>
      </div>

      <div *ngIf="openFichaDatosMandatos" class="card-body card-body-ficha">
        <div class="row">
          <div class="bloque col-lg-6 col-md-6">

            <div class="form-row">

              <div class="form-group col-lg-12 col-md-12">
                <label style="font-weight: bold;">Datos Generales Productos</label>
              </div>

              <div class="form-group col-lg-12 col-md-12">
                <label>Referencia</label>
                <input [(ngModel)]="bodyDatosMandatos.referenciaProducto" type="text" class="form-control" [disabled]="!editarMandato" pInputText>
              </div>
              <div class="form-group col-lg-6 col-md-6">
                <label>Tipo de pago</label>
                <input [(ngModel)]="bodyDatosMandatos.tipoPagoProducto" type="text" class="form-control" [disabled]="!editarMandato" pInputText>
              </div>
              <div class="form-group col-lg-6 col-md-6">
                <label>Esquema utilizado</label>
                <p-dropdown class="select-form" [(ngModel)]='selectedEsquemaProducto' optionLabel="label" *ngIf="nuevo" [disabled]="!editarMandato"
                  [options]="combooItemsProducto" (onChange)="onChangeEsquemaProducto($event)">
                </p-dropdown>
                <p-dropdown class="select-form" [(ngModel)]='selectedEsquemaProducto' optionLabel="label" *ngIf="!nuevo" [options]="combooItemsProducto"
                  (onChange)="onChangeEsquemaProducto($event)">
                </p-dropdown>
              </div>
              <p-checkbox *ngIf="isSelectedProducto == true" [(ngModel)]='checkProducto' binary="true" (ngModelChange)="validarCheckProducto()"
                label='{{ "censo.fichaCliente.datosBancarios.autorizacion.b2b" }}'></p-checkbox>
              <br>
              <div *ngIf="isCheckedProducto == false">
                <label class="labelError">{{"facturacion.ficheroBancarioPagos.errorMandatos.mensajeMandatoB2BNoAutorizado"}}</label>
              </div>
            </div>
          </div>

          <div class="bloque col-lg-6 col-md-6">

            <div class="form-row">

              <div class="form-group col-lg-12 col-md-12">
                <label style="text-align:center; font-weight: bold;">Datos Generales Servicios</label>
              </div>

              <div class="form-group col-lg-12 col-md-12">
                <label>Referencia</label>
                <input [(ngModel)]="bodyDatosMandatos.referenciaServicio" type="text" class="form-control" [disabled]="!editarMandato" pInputText>
              </div>
              <div class="form-group col-lg-6 col-md-6">
                <label>Tipo de pago</label>
                <input [(ngModel)]="bodyDatosMandatos.tipoPagoServicio" type="text" class="form-control" [disabled]="!editarMandato" pInputText>
              </div>
              <div class="form-group col-lg-6 col-md-6">
                <label>Esquema utilizado</label>
                <p-dropdown class="select-form" [(ngModel)]='selectedEsquemaServicio' optionLabel="label" *ngIf="nuevo" [disabled]="!editarMandato"
                  [options]="combooItemsServicio" (onChange)="onChangeEsquemaServicio($event)">
                </p-dropdown>
                <p-dropdown class="select-form" [(ngModel)]='selectedEsquemaServicio' optionLabel="label" *ngIf="!nuevo" [options]="combooItemsServicio"
                  (onChange)="onChangeEsquemaServicio($event)">
                </p-dropdown>
              </div>
              <p-checkbox *ngIf="isSelectedServicio == true" [(ngModel)]='checkServicio' binary="true" (ngModelChange)="validarCheckServicio()"
                label='{{ "censo.fichaCliente.datosBancarios.autorizacion.b2b" }}'></p-checkbox>
              <br>
              <div *ngIf="isCheckedServicio == false">
                <label class="labelError">{{"facturacion.ficheroBancarioPagos.errorMandatos.mensajeMandatoB2BNoAutorizado"}}</label>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div *ngIf="!nuevo" class="card-footer">
          <div class="text-right main-button">
            <button (click)="validarGuardarMandato()" pButton type="button" icon="far fa-save" iconPos="left" label="Guardar"></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Listado ficheros anexo -->
  <div class="busqueda-container">
    <div class="card">
      <div class="card-header header-ficha">
        <div *ngIf="!openFichaListadoFicherosAnexos" class="form-row">
          <div class="col-lg-1 col-md-2">
            <div class="img-colegiado">
              <i class="fa fa-list-ul icon-ficha"></i>
            </div>
          </div>
          <div class="col-lg-11 col-md-10">
            <div class="d-flex justify-content-end mb-1">
              <label class="mr-auto title-ficha">Listado ficheros y anexos</label>
            </div>
            <div class="d-flex justify-content-between">
              <br>
              <i (click)="abrirFichaListadoFicherosAnexos()" [ngClass]="{ 'fa fa-angle-up': openFichaListadoFicherosAnexos, 'fa fa-angle-down': !openFichaListadoFicherosAnexos} "></i>
            </div>
          </div>
        </div>
        <div *ngIf="openFichaListadoFicherosAnexos" class=" header-ficha-open d-flex justify-content-start align-items-center">
          <div class="img-colegiado ">
            <i class="fa fa-list-ul icon-ficha"></i>
          </div>
          <label class="title-ficha">Listado ficheros y anexos</label>
          <i (click)="abrirFichaListadoFicherosAnexos()" class="fa fa-angle-up ml-auto"></i>
        </div>
      </div>
      <div *ngIf="openFichaListadoFicherosAnexos" class="card-body card-body-ficha">
        <!--<p-dataTable emptyMessage="{{ 'general.message.no.registros' | translate}}" [ngClass]="{'customCursor': selectMultiple}"
          [(selection)]="selectedDatos" [responsive]="true" selectionMode="single" #table class="tabla-listado" [value]="bodyDatosBancariosAnexoSearch.datosBancariosAnexoItem"
          [sortOrder]="1" [paginator]="activarPaginacion()" paginatorPosition="both" [rows]="selectedItem">-->
        <!-- <p-dataTable #table emptyMessage="{{ 'general.message.no.registros' | translate}}" [value]="bodyDatosBancariosAnexoSearch.datosBancariosAnexoItem"
          [responsive]="true" class="tabla-listado" [sortOrder]="1" [(selection)]="selectedDatos" [paginator]="activarPaginacion()"
          paginatorPosition="both" [rows]="selectedItem" selectionMode="single" [editable]="!selectMultiple" (onEdit)="editarCompleto($event)"> -->
        <p-dataTable emptyMessage="{{ 'general.message.no.registros' | translate}}" [ngClass]="{'customCursor': selectMultiple}"
          [(selection)]="selectedDatos" [responsive]="true" [sortOrder]="1" [paginator]="activarPaginacion()" #table class="tabla-listado"
          [value]="bodyDatosBancariosAnexoSearch.datosBancariosAnexoItem" [paginator]="true" paginatorPosition="both" datakey="descripcion"
          [rows]="selectedItem" [editable]="!selectMultiple" (onEdit)="editarCompleto($event)" (onEditInit)="editar=true; guardarCodigo($event)">

          <p-column field="descripcion" header="Descripcion" [editable]="!selectMultiple" [sortable]="true" [filter]="true"></p-column>
          <p-column field="tipo" header="Tipo" [editable]="selectMultiple" [sortable]="true" [filter]="true"></p-column>
          <p-column field="tipoMandato" header="Tipo Mandato" [editable]="selectMultiple" [sortable]="true" [filter]="true"></p-column>
          <p-column field="fechaUso" header="Fecha Uso" [editable]="selectMultiple" [sortable]="true" [filter]="true"></p-column>
          <p-column field="firmaFecha" header="Fecha de Firma" [editable]="selectMultiple" [sortable]="true" [filter]="true"></p-column>
          <p-column field="firmaLugar" header="Lugar de la firma" [editable]="selectMultiple" [sortable]="true" [filter]="true"></p-column>


          <ng-template pTemplate="paginatorLeft ">
            <div class="mostrar d-flex text-right justify-content-end">
              <label class="pr-3 registros-totales">Mostrando registros del {{table.first + 1}} al {{table.first + table.rows}} de un total de {{table.totalRecords}}</label>
              <label class="pr-3 numSeleccionados">Seleccionados: {{numSelected}}</label>
              <label>{{ "general.message.mostrar" | translate}}</label>
              <p-dropdown [(ngModel)]="selectedItem" [options]="rowsPerPage" (onChange)="onChangeRowsPerPages($event)"></p-dropdown>
              <label class="pl-1"> {{"cargaMasivaDatosCurriculares.numRegistros.literal" | translate}}</label>
              <div class="ml-3 selectAll">
                <p-checkbox (onChange)="onChangeSelectAll()" [(ngModel)]="selectAll" binary="true" label="Seleccionar todo" name="groupname"></p-checkbox>
              </div>
              <label class="ml-3 seleccionMultiple" [ngClass]="{' seleccion-multiple': selectMultiple}" (click)="isSelectMultiple(); selectedDatos=false">
                <i class="pr-2 fa fa-mouse-pointer"></i>{{ "general.message.seleccion.multiple" | translate}}</label>
            </div>
          </ng-template>
          <p-footer>
            <div class="text-right main-button ">
              <button *ngIf="selectedDatos && selectedDatos !=''" (click)="descargarXml(selectedDatos)" pButton type="button" icon="fa fa-download"
                iconPos="left" label="Descargar"></button>
              <button *ngIf="selectedDatos && selectedDatos !=''" (click)="mostrarDialogoFirmar(selectedDatos)" pButton type="button" icon="fa fa-rupee"
                iconPos="left" label="Firmar"></button>
              <button *ngIf="selectedDatos && selectedDatos !=''" (click)="comunicar(selectedDatos)" pButton type="button" icon="fa fa-comment"
                iconPos="left" label="Comunicar"></button>
              <button *ngIf="selectedDatos && selectedDatos !='' && !editar" (click)="activarEdicion(selectedDatos)" pButton type="button"
                icon="fa fa-edit" iconPos="left" label="Editar"></button>
              <button *ngIf="editar" (click)="actualizarAnexo(selectedDatos)" pButton type="button" icon="fa fa-save" iconPos="left" label="{{ 'general.boton.guardar' | translate}}"></button>
              <button *ngIf="!nuevo" (click)="mostrarDialogoNuevo()" pButton type="button" icon="fa fa-plus" iconPos="left" label="Nuevo"></button>
            </div>

          </p-footer>

        </p-dataTable>
        <!--END DATOS GENERALES-->
      </div>
    </div>
  </div>

  <!--FIRMA-->
  <p-dialog [(visible)]="displayFirmar" responsive="true" [draggable]="false" modal="modal" resizable="false" [minHeight]="500"
    [minWidth]="500">
    <p-header class="title">
      <label>SIGA- Ficheros y Anexos</label>
    </p-header>

    <div class="bloque col-lg-12 col-md-12">
      <div class="row">
        <div class="form-group col-lg-6 col-md-6">
          <br>
          <p-checkbox name="groupname" binary="true" label="Firmado(*)" [(ngModel)]="checkFirma"></p-checkbox>
        </div>
        <div class="form-group col-lg-6 col-md-6">
          <label>Fecha firma (*)</label>
          <p-calendar [(ngModel)]="firmaFechaDate" dateFormat="dd/mm/yy" icon="far fa-calendar-alt" showIcon="true" [style]="{ 'position': 'relative', 'z-index': '1000' }"></p-calendar>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-lg-12 col-md-12">
          <label>Lugar firma (*)</label>
          <input type="text" [(ngModel)]="firmaLugar" class="form-control" pInputText>
        </div>
        <div class="form-group col-lg-12 col-md-12">
          <label>Adjuntar</label>
          <br>
          <p-fileUpload chooseLabel="Seleccionar archivo" mode="basic" name="demo[]" url="./upload.php" accept="image/*" maxFileSize="1000000"
            (onUpload)="onBasicUpload($event)"></p-fileUpload>
        </div>
      </div>
    </div>
    <p-footer>
      <div class="text-right main-button ">
        <button (click)="actualizarAnexos()" [disabled]="!validarFirma()" pButton type="button" icon="fa fa-save" iconPos="left"
          label="{{ 'general.boton.guardar' | translate}}"></button>
        <button (click)="restablecerDatosFirma()" pButton type="button" icon="fa fa-repeat" iconPos="left" label="Restablecer"></button>
      </div>
    </p-footer>
  </p-dialog>


  <!--NUEVO-->
  <p-dialog [(visible)]="displayNuevo" responsive="true" [draggable]="false" modal="modal" resizable="false" [minHeight]="500"
    [minWidth]="500">
    <p-header class="title">
      <label>SIGA - Insertar Anexo</label>
    </p-header>

    <div class="bloque col-lg-12 col-md-12">
      <div class="row">
        <div class="form-group col-lg-6 col-md-6">
          <label>Fecha uso (*)</label>
          <p-calendar [(ngModel)]="datefechaUso" dateFormat="dd/mm/yy" icon="far fa-calendar-alt" showIcon="true" [style]="{ 'position': 'relative', 'z-index': '1000' }"
            [required]="true"></p-calendar>
        </div>
        <div class="form-group col-lg-6 col-md-6">
          <label>Tipo (*)</label>
          <br>
          <p-dropdown [(ngModel)]="selectedProductoServicio" [options]="comboProductoServicio" [style]="{'width':'250px'}" (onChange)="onChangeComboProductoServicio($event)"></p-dropdown>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="form-group col-lg-12 col-md-12">
          <label>Descripción</label>
          <textarea pInputTextarea autoResize="autoResize" [(ngModel)]="descripcion"></textarea>
        </div>
      </div>
    </div>
    <p-footer>
      <div class="text-right main-button ">
        <button (click)="insertarAnexo()" [disabled]="!validarInsertarAnexo()" pButton type="button" icon="fa fa-save" iconPos="left"
          label="{{ 'general.boton.guardar' | translate}}"></button>
        <button (click)="limpiarDatosAnexo()" pButton type="button" icon="fa fa-repeat" iconPos="left" label="Restablecer"></button>
      </div>
    </p-footer>
  </p-dialog>

  <div class="mt-3 text-right main-button ">
    <button (click)="backTo()" pButton type="button " icon="fa fa-angle-left" iconPos="left" label="Volver"></button>
  </div>

  <app-dialog></app-dialog>

  <div *ngIf="progressSpinner " class="overlay-spinner">
    <div class="loader "></div>
  </div>