<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>
<form [formGroup]="dForm">
  <div class="row w-100 m-0 padding-interior">
    <label class="title-section mb-2">Datos del Informe de Calificación</label>
    <div class="form-row w-100">
      <div class="form-group col-lg-3 col-md-3 w-100" *ngFor="let datePickerTitle of datePickers1">
        <label>{{ datePickerTitle }}</label>
        <app-fecha [utc]="false"></app-fecha>
      </div>
    </div>
    <div class="form-row w-100">
      <div class="form-group col-lg-3 col-md-3 w-100" *ngFor="let selector of selectores1; let i = index;">
        <app-selector [i]="i" [selector]="selector"></app-selector>
      </div>
    </div>
    <div class="form-row w-100">
      <div class="form-group col-lg-6 col-md-6 w-100" *ngFor="let input of inputs1">
        <label>{{input.nombre}}</label>
        <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="false" [placeholder]="input.valor"></textarea>
      </div>
    </div>
  </div>
</form>

<div class="card-footer">
  <div class="text-right main-button">
    <button pButton type="button" icon="" iconPos="left" label="Informe Calificación"
      (click)="showMsg('success', 'Se ha obtenido el informe correctamente', '')"></button>
    <button pButton type="button" icon="far fa-save" iconPos="left" label="Guardar"
      (click)="showMsg('success', 'Se ha guardado correctamente', '')"></button>
    <button pButton type="button" icon="fa fa-undo" iconPos="left" label="Restablecer"
      (click)="showMsg('success', 'Se ha restablecido correctamente', '')"></button>
    <button pButton type="button" icon="fa fa-trash-alt" iconPos="left" label="Borrar Dictamen"
      (click)="showMsg('success', 'Se ha borrado el dictamen correctamente', '')"></button>
  </div>
</div>