  <!-- TAJERTA CONSULTAS-->
  <div id="infoYComuModeComuFicPlaDocConsul">
    <div class="card">
      <div class="card-header header-ficha">

        <div *ngIf="!showConsultas" class="form-row">
          <div class="col-lg-1 col-md-2">
            <div class="img-colegiado" (click)="onShowConsultas()">
              <i class="fas fa-file-alt icon-ficha"></i>
            </div>
          </div>
          <div class="col-lg-11 col-md-10">
            <div class="d-flex justify-content-start mb-1 pointer" (click)="onShowConsultas()">
              <label  class="mr-auto title-ficha">{{ 'menu.consultas' | translate }}</label>
            </div>
            <div class="d-flex justify-content-between">
              <label>Nº {{ 'menu.consultas' | translate }}:
                <span *ngIf="datos">{{datos.length}}</span>
              </label>

              <i (click)="onShowConsultas()" *ngIf="!showConsultas" class="fa fa-angle-down float-right"></i>
            </div>
          </div>
        </div>
        <div *ngIf="showConsultas" (click)="onShowConsultas()" class=" header-ficha-open d-flex justify-content-start align-items-center">
          <div class="img-colegiado" (click)="onShowConsultas()">
            <i class="fas fa-file-alt icon-ficha"></i>
          </div>
          <label (click)="onShowConsultas()" class="title-ficha">{{ 'menu.consultas' | translate }}</label>
          <i (click)="onShowConsultas()" class="fa fa-angle-up ml-auto"></i>
        </div>
      </div>

      <div *ngIf="showConsultas && !esPorDefecto" class="card-body p-0 py-2">
        <p-steps [model]="steps" [readonly]="false" [(activeIndex)]="activeStep"></p-steps>
        <p-table [value]="datos" [columns]="cols" [(selection)]="selectedDatos" [responsive]="true" #table class="tabla-listado"
          [paginator]="true" [rows]="selectedItem" [first]="first" [ngClass]="{ 'customCursor': selectMultiple}
              " paginatorPosition="both" [selectionMode]="selectionMode" (onRowSelect)="onSelectConsulta($event,selectedDatos)"
          (onRowUnselect)="actualizaSeleccionados(selectedDatos)">
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col *ngFor="let col of columns" [style.width]="col.width">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns" [ngSwitch]="col.field" [pSortableColumn]="col.field">
                {{ col.header | translate }}
                <p-sortIcon [field]="col.field"></p-sortIcon>
                <input placeholder="{{ 'general.boton.search' | translate }}" pDroppable="false" (click)="$event.stopPropagation()" *ngSwitchCase="col.field
              " pInputText type="text" (input)="table.filter($event.target.value, col.field, 'contains')">
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-dato let-columns="columns" let-rowIndex="rowIndex">
            <tr [pSelectableRow]="dato" [pSelectableRowIndex]="rowIndex">
              <td *ngFor="let col of columns" pEditableColumn>
                <p-dropdown placeholder="{{ 'general.boton.seleccionar' | translate }}" [filter]="true" [showClear]="true" filterBy="label,labelSinTilde"
                [filter]="true" (onChange)="onChangePlantillas($event, consultasComboPlantillas)" *ngIf="col.field=='plantillas'"
                [(ngModel)]="dato[col.field]" [options]="consultasComboPlantillas" class="select-form " ></p-dropdown>
           
                <p-dropdown placeholder="{{'general.boton.seleccionar' | translate}}" [filter]="true" [showClear]="true" (onChange)="onChangeConsultas($event, consultasComboDestinatarios)"
                  *ngIf="col.field=='idConsulta' && dato.idObjetivo == 1 && !dato.fechaBaja" [(ngModel)]="dato[col.field]" [options]="consultasComboDestinatarios"
                  class="select-form "></p-dropdown>
                <p-dropdown placeholder="{{'general.boton.seleccionar' | translate}}" [filter]="true" [showClear]="true" (onChange)="onChangeConsultas($event, consultasComboMulti)"
                  *ngIf="col.field=='idConsulta' && dato.idObjetivo == 2  && !dato.fechaBaja" [(ngModel)]="dato[col.field]" [options]="consultasComboMulti"
                  class="select-form"></p-dropdown>
                <p-dropdown placeholder="{{'general.boton.seleccionar' | translate}}" [filter]="true" [showClear]="true" (onChange)="onChangeConsultas($event, consultasComboCondicional)"
                  *ngIf="col.field=='idConsulta' && dato.idObjetivo == 3  && !dato.fechaBaja" [(ngModel)]="dato[col.field]" [options]="consultasComboCondicional"
                  class="select-form"></p-dropdown>
                <p-dropdown placeholder="{{'general.boton.seleccionar' | translate}}" [filter]="true" [showClear]="true" (onChange)="onChangeConsultas($event, consultasComboDatos)"
                  *ngIf="col.field=='idConsulta' && dato.idObjetivo == 4  && !dato.fechaBaja" [(ngModel)]="dato[col.field]" [options]="consultasComboDatos"
                  class="select-form"></p-dropdown>
                <span [ngStyle]="{'font-style': 'italic', 'font-weight':'bold', 'text-decoration':'line-through'}" *ngIf="col.field=='finalidad' && dato.finalidad != '' && dato.fechaBaja">{{dato[col.field]}}</span>
                <span [ngStyle]="{'font-style': 'italic', 'font-weight':'bold', 'text-decoration':'line-through'}" *ngIf="col.field=='objetivo' && dato.fechaBaja"
                  class="text-uppercase">{{dato[col.field]}}</span>
                <span [ngStyle]="{'font-style': 'italic', 'font-weight':'bold', 'text-decoration':'line-through'}" *ngIf="col.field=='idConsulta' && dato.fechaBaja"
                  class="text-uppercase">{{dato.descripcion}}</span>
                <span *ngIf="col.field=='finalidad' && dato.finalidad != '' && !dato.fechaBaja">{{dato[col.field]}}</span>
                <span *ngIf="col.field=='objetivo' && !dato.fechaBaja" class="text-uppercase">{{dato[col.field]}}</span>
                <input *ngIf="col.field=='region' && !dato.fechaBaja" type="text" class="form-control" [(ngModel)]="dato[col.field]" pInputText>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr>
              <td [attr.colspan]="columns.length">
                {{ 'censo.busquedaClientesAvanzada.literal.sinResultados' | translate }}.
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="paginatorleft">
            <div class="mostrar d-flex text-right justify-content-end">
              <label class="pr-3 registros-totales">{{'informesycomunicaciones.plantillasenvio.ficha.mostrandoRegistros' | translate}} {{table.first + 1}} al {{table.first
                + table.rows}} {{'informesycomunicaciones.plantillasenvio.ficha.deUnTotalDe' | translate }} {{table.totalRecords}}
              </label>
              <label class="pr-3 numSeleccionados">{{'agenda.fichaCalendario.tablaNotificaciones.mostrandoRegistros' |translate}}: {{numSelected}}
              </label>
              <label>{{"general.message.mostrar" | translate}}</label>
              <p-dropdown [(ngModel)]="selectedItem" [options]="rowsPerPage" (onChange)="onChangeRowsPerPages($event)">
              </p-dropdown>
              <label class="pl-1"> {{"cargaMasivaDatosCurriculares.numRegistros.literal" | translate}}</label>
              <div class="ml-3 selectAll">
                <p-checkbox (onChange)="onChangeSelectAllConsultas()" [(ngModel)]="selectAll" binary="true" label="Seleccionar
                  todo" name="groupname"></p-checkbox>
              </div>
              <label class="ml-3 seleccionMultiple" [ngClass]="{ ' seleccion-multiple': selectMultiple}" (click)="isSelectMultiple()">
                <i class="pr-2 fa fa-mouse-pointer"></i>{{"general.message.seleccion.multiple" | translate}}</label>
            </div>
          </ng-template>
        </p-table>
        <p-footer>
          <div class="text-right main-button">
            <button (click)="restablecerConsultas()" pButton type="button" icon=" fa fa-undo" iconPos="left" label="{{ 'general.boton.restablecer' | translate}}"></button>
            <button *ngIf="showHistorico" (click)="getHistorico('hidden')" pButton type="button" icon="fa fa-undo" iconPos="left" label="{{'general.message.ocultarHistorico' | translate}}"></button>
            <button *ngIf="!showHistorico" (click)="getHistorico('visible')" pButton type="button" icon="fa fa-history" iconPos="left"
              label="{{ 'general.message.mostrarHistorico' | translate}}"></button>
            <button (click)="guardarConsultas()" pButton type="button" icon="fa fa-save" iconPos="left" label="{{ 'general.boton.guardar' | translate}}"></button>
            <button [disabled]="eliminarDisabled || !(selectedDatos && selectedDatos !='')" *ngIf="!showHistorico" (click)="eliminar(selectedDatos)"
              pButton type="button" icon="fa fa-trash-alt" iconPos="left" label="{{ 'general.boton.eliminar' | translate}}"></button>
            <button (click)="addConsulta()" pButton type="button" icon="fa fa-plus" iconPos="left" label="{{'general.boton.new' | translate}}"></button>


          </div>
        </p-footer>

      </div>



      <div *ngIf="showConsultas && esPorDefecto" class="card-body p-0 py-2">
        <p-steps [model]="steps" [readonly]="false" [(activeIndex)]="activeStep"></p-steps>
        <p-table [value]="datos" [columns]="cols" dataKey="idConsulta" [(selection)]="selectedDatos" [responsive]="true" #table class="tabla-listado"
          [paginator]="true" [rows]="selectedItem" [first]="first" [ngClass]="{ 'customCursor': selectMultiple}
              " paginatorPosition="both" (onRowSelect)="onSelectConsulta($event,selectedDatos)">
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col *ngFor="let col of columns" [style.width]="col.width">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns" [ngSwitch]="col.field" [pSortableColumn]="col.field">
                {{ col.header | translate }}
                <p-sortIcon [field]="col.field"></p-sortIcon>
                <input placeholder="{{ 'general.boton.search' | translate }}" pDroppable="false" (click)="$event.stopPropagation()" *ngSwitchCase="col.field
              " pInputText type="text" (input)="table.filter($event.target.value, col.field, 'contains')">
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-dato let-columns="columns" let-rowIndex="rowIndex">
            <tr [pSelectableRow]="dato" [pSelectableRowIndex]="rowIndex">
              <td *ngFor="let col of columns">
                <p-dropdown placeholder="{{ 'general.boton.seleccionar' | translate }}" [filter]="true" [showClear]="true" filterBy="label,labelSinTilde"
                [filter]="true" (onChange)="onChangePlantillas($event, consultasComboPlantillas)" *ngIf="col.field=='plantillas'"
                [(ngModel)]="dato[col.field]" [options]="consultasComboPlantillas" class="select-form " disabled="true"></p-dropdown>
           
                <p-dropdown placeholder="{{ 'general.boton.seleccionar' | translate }}" [filter]="true" [showClear]="true" filterBy="label,labelSinTilde"
                  [filter]="true" (onChange)="onChangeConsultas($event, consultasComboDestinatarios)" *ngIf="col.field=='idConsulta' && dato.idObjetivo == 1 && !dato.fechaBaja"
                  [(ngModel)]="dato[col.field]" [options]="consultasComboDestinatarios" class="select-form " disabled="true"></p-dropdown>
                <p-dropdown placeholder="{{ 'general.boton.seleccionar' | translate }}" [filter]="true" [showClear]="true" filterBy="label,labelSinTilde"
                  [filter]="true" (onChange)="onChangeConsultas($event, consultasComboMulti)" *ngIf="col.field=='idConsulta' && dato.idObjetivo == 2  && !dato.fechaBaja"
                  [(ngModel)]="dato[col.field]" [options]="consultasComboMulti" class="select-form" disabled="true">
                </p-dropdown>
                <p-dropdown placeholder="{{ 'general.boton.seleccionar' | translate }}" [filter]="true" [showClear]="true" filterBy="label,labelSinTilde"
                  [filter]="true" (onChange)="onChangeConsultas($event, consultasComboCondicional)" *ngIf="col.field=='idConsulta' && dato.idObjetivo == 3  && !dato.fechaBaja"
                  [(ngModel)]="dato[col.field]" [options]="consultasComboCondicional" class="select-form" disabled="true">
                </p-dropdown>
                <p-dropdown placeholder="{{ 'general.boton.seleccionar' | translate }}" [filter]="true" [showClear]="true" filterBy="label,labelSinTilde"
                  [filter]="true" (onChange)="onChangeConsultas($event, consultasComboDatos)" *ngIf="col.field=='idConsulta' && dato.idObjetivo == 4  && !dato.fechaBaja"
                  [(ngModel)]="dato[col.field]" [options]="consultasComboDatos" class="select-form" disabled="true">
                </p-dropdown>
                <span [ngStyle]="{'font-style': 'italic', 'font-weight':'bold', 'text-decoration':'line-through'}" *ngIf="col.field=='finalidad' && dato.finalidad != '' && dato.fechaBaja">{{dato[col.field]}}</span>
                <span [ngStyle]="{'font-style': 'italic', 'font-weight':'bold', 'text-decoration':'line-through'}" *ngIf="col.field=='objetivo' && dato.fechaBaja"
                  class="text-uppercase">{{dato[col.field]}}</span>
                <span [ngStyle]="{'font-style': 'italic', 'font-weight':'bold', 'text-decoration':'line-through'}" *ngIf="col.field=='idConsulta' && dato.fechaBaja"
                  class="text-uppercase">{{dato.descripcion}}</span>
                <span *ngIf="col.field=='finalidad' && dato.finalidad != '' && !dato.fechaBaja">{{dato[col.field]}}</span>
                <span *ngIf="col.field=='objetivo' && !dato.fechaBaja" class="text-uppercase">{{dato[col.field]}}</span>
                <input *ngIf="col.field=='region' && !dato.fechaBaja" type="text" class="form-control" [(ngModel)]="dato[col.field]" disabled="true"
                  pInputText>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr>
              <td [attr.colspan]="columns.length">
                {{ 'censo.busquedaClientesAvanzada.literal.sinResultados' | translate}}.
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="paginatorleft">
            <div class="mostrar d-flex text-right justify-content-end">
              <label class="pr-3 registros-totales">{{'informesycomunicaciones.plantillasenvio.ficha.mostrandoRegistros' | translate}} {{table.first + 1}} al {{table.first
                + table.rows}} {{'informesycomunicaciones.plantillasenvio.ficha.deUnTotalDe' | translate }} {{table.totalRecords}}
              </label>
              <label class="pr-3 numSeleccionados">{{'agenda.fichaCalendario.tablaNotificaciones.mostrandoRegistros' |translate}}: {{numSelected}}
              </label>
              <label>{{"general.message.mostrar" | translate}}</label>
              <p-dropdown [(ngModel)]="selectedItem" [options]="rowsPerPage" (onChange)="onChangeRowsPerPages($event)">
              </p-dropdown>
              <label class="pl-1"> {{"cargaMasivaDatosCurriculares.numRegistros.literal" | translate}}</label>
              <div class="ml-3 selectAll">
                <p-checkbox (onChange)="onChangeSelectAllConsultas()" [(ngModel)]="selectAll" binary="true" label="Seleccionar
                  todo" name="groupname" [disabled]="esPorDefecto"></p-checkbox>
              </div>
              <label class="ml-3 seleccionMultiple" [ngClass]="{ ' seleccion-multiple': selectMultiple}" (click)="isSelectMultiple()">
                <i class="pr-2 fa fa-mouse-pointer"></i>{{"general.message.seleccion.multiple" | translate}}</label>
            </div>
          </ng-template>
        </p-table>
        <p-footer>
          <div class="text-right main-button">
            <button [disabled]="esPorDefecto" (click)="restablecerConsultas()" pButton type="button" icon=" fa fa-undo" iconPos="left"
              label="{{ 'general.boton.restablecer' | translate}}"></button>
            <button *ngIf="showHistorico" (click)="getHistorico('hidden')" pButton type="button" icon="fa fa-undo" iconPos="left" label="{{'general.message.ocultarHistorico' | translate}}"></button>
            <button *ngIf="!showHistorico" (click)="getHistorico('visible')" pButton type="button" icon="fa fa-history" iconPos="left"
              label="{{ 'general.message.mostrarHistorico' | translate}}"></button>
            <button [disabled]="esPorDefecto" (click)="guardarConsultas()" pButton type="button" icon="fa fa-save" iconPos="left" label="{{ 'general.boton.guardar' | translate}}"></button>
            <button [disabled]="esPorDefecto || eliminarDisabled || !(selectedDatos && selectedDatos !='')" *ngIf="!showHistorico" (click)="eliminar(selectedDatos)"
              pButton type="button" icon="fa fa-trash-alt" iconPos="left" label="{{ 'general.boton.eliminar' | translate}}"></button>
            <button [disabled]="esPorDefecto" (click)="addConsulta()" pButton type="button" icon="fa fa-plus" iconPos="left" label="{{'general.boton.new' | translate}}"></button>


          </div>
        </p-footer>

      </div>


    </div>
  </div>

