<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>

<div class="card">
  <div class="card-body mb-50">

    <div class="padding-interior w-100">
      <app-paginador (perPage)="perPage($event)" (seleccionarTodo)="selectedAll($event)" (fromReg)="fromReg($event)"
        (toReg)="toReg($event)" [totalRegistros]="totalRegistros"></app-paginador>
    </div>

    <div class="table" matSort (matSortChange)="sortData($event)" matSortDirection="asc" #table>
      <div class="table-header ">
        <div class="table-header-child p-2" *ngFor="let cabecera of cabeceras; let j = index" #BorderedHeader>
          <div>
            <div [mat-sort-header]=cabecera.id disableClear>{{cabecera.name | translate}}</div>
            <input type="text" class="form-control" pInputText [(ngModel)]="searchText[j]"
              (ngModelChange)="searchChange(j)" autocomplete="off" placeholder="Buscar">
          </div>
        </div>
      </div>
      <div *ngFor="let row of rowGroups | slice:from:to; let i = index" class="table-row child">
        <div (click)="selectRow(row['id'], row['cells'])" class="table-row-wrapper hoverBlue"
          [ngClass]="{'hoverBlue2': isSelected(row['id']), 'fixedBlue': seleccionarTodo}" #rowSelected>
          <div *ngFor="let cell of row['cells'] | slice:0:10; let z = index" class="table-cell p-2 selectedRowClass"
            [ngClass]="{'borders-child': isPar(row['id'])}" #cellSelected>
            <div class="cell-wrapper selectedRowClass wrapText">
              <span class="w100 cell-value" *ngIf="cell.type == 'text' && calendarios" class="enlace wrapText"
                (click)="openTab(row)">{{cell.value}}</span>
              <span class="w100 cell-value" *ngIf="cell.type == 'input'"><input type="text" class="form-control mt-2"
                  pInputText [(ngModel)]="cell.value" (change)="inputChange($event, row['id'], z, cell)"></span>
              <span class="w100 cell-value" *ngIf="cell.type == 'text'  && !calendarios">{{cell.value}}</span>
              <span class="w100 cell-value" *ngIf="cell.type == 'label'  && calendarios">{{cell.value.label}}</span>
              <span class="w100 cell-value" *ngIf="cell.type == 'buttom'"><button pButton type="button" iconPos="left"
                  [label]="cell.value"></button></span>
              <span class="w100 cell-value" *ngIf="cell.type == 'checkbox'">
                <p-checkbox [ngModel]="validaCheck(cell.value)" binary="true">
                </p-checkbox>
              </span>
              <span class="w100 cell-value" *ngIf="cell.type == 'datePicker'">
                <app-fecha [(value)]="fechaIncorporacionDesdeSelect" [utc]="false"
                  (valueChangeSelected)="fillFechaIncorporacionDesde($event)"
                  (valueChangeInput)="fillFechaIncorporacionDesde($event)">
                </app-fecha>
              </span>
              <span class="w100 cell-value" *ngIf="cell.type == 'select'">
                <app-selector class="center" [i]="0" [textoVisible]="" [selector]="cell.value"></app-selector>
              </span>
              <span class="w100 cell-value" *ngIf="cell.type == 'number'">{{cell.value}}</span>
              <span class="w100 cell-value" *ngIf="cell.type == 'link'"><a>{{cell.value}}</a></span>
              <span class="w100 cell-value" *ngIf="cell.type == 'download'">
                <div (click)="showMsg('success', 'Documento descargado', '')"><i class="pointer fa fa-download"></i>
                </div>
              </span>
              <span class="w100 cell-value" *ngIf="cell.type == '5InputSelector'">
                <input type="text" class="form-control " pInputText size="10" [placeholder]="cell.value[0]">
                <input type="text" class="form-control " pInputText size="10" [placeholder]="cell.value[1]">
                <input type="text" class="form-control " pInputText size="10" [placeholder]="cell.value[2]">
                <input type="text" class="form-control " pInputText size="10" [placeholder]="cell.value[3]">
                <app-selector [textoVisible]="cell.value[4]" [i]="0" [selector]="cell.value"></app-selector>
              </span>
              <span class="w100 cell-value" *ngIf="cell.type == '2SelectorInput'">
                <app-selector [i]="0" [selector]="cell.value"></app-selector>
                <input type="text" class="form-control mt-2" pInputText [placeholder]="cell.value">
              </span>
              <span class="w100 cell-value" *ngIf="cell.type == 'multiselect'">

                <p-multiSelect #{i} autoWidth="false" [(ngModel)]='cell.value' [selectedItemsLabel]="textSelected"
                  [defaultLabel]="textFilter" [options]="cell.combo" maxSelectedLabels="10" styleClass="widthAll"
                  [filter]="true" filterBy="label,labelSinTilde" (onChange)="onChangeMulti($event, row['id'], cell)">
                </p-multiSelect>
              </span>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div  *ngIf='inscripciones==true' class="card-footer h50 pt-5" >
    <div class="text-right main-button butBottom mt10">
      <button pButton type="button" label="Validar" [disabled]="isDisabled" (click)="validar()"></button>
       <button pButton type="button" label="Denegar" [disabled]="!anySelected" (click)="denegar()"></button>
        <button pButton type="button" label="Solicitar Baja" [disabled]="!anySelected"
              (click)="eliminar(); showMsg('success', 'Se ha eliminado correctamente', '')"></button>
        <button *ngIf="calendarios" pButton type="button" icon="fa fa-plus" iconPos="left" label="Duplicar" [disabled]="!anySelected && this.selectedRowValue.length == 0"
              (click)="duplicar()"></button>
        <button pButton type="button" icon="fa fa-download" iconPos="left" label="Descargar LOG" 
              (click)="descargarLOG(); showMsg('success', 'LOG descargado correctamente', '')"></button>
    </div>
</div>-->


  <div class="card-footer h50">
    <div class="col-lg-12 col-md-12 flex2 text-right main-button">

      <div *ngIf="inscripciones" class="col-lg-8 col-md-8 flex2 align">
        <div class="w-50 mr-5">
          <label> Fecha </label>
          <app-fecha [disabled]="isDisabled" [(ngModel)]='fechaActual' onChange="changeFecha($event)"
            (valueChangeInput)="fillFechaCalendar($event)" (valueChangeSelected)="fillFechaCalendar($event)"
            name="BotonfechaActual" ngDefaultControl></app-fecha>
        </div>
        <div class=" w-50">
          <label> Observaciones </label>
          <textarea class="textareains" [(ngModel)]='observaciones' onChange="changeObservaciones($event)"
            name="observaciones" [disabled]="isDisabled" class="form-control" pInputTextarea autoResize="autoResize"
            maxLength="1024" name="Botonobservaciones" ngDefaultControl></textarea>
        </div>

      </div>



      <div class="col-lg-4 col-md-4 align auto">
        <button *ngIf='inscripciones' pButton type="button" label="Validar" [disabled]="isDisabled"
          (click)="validar()"></button>
        <button *ngIf='inscripciones' pButton type="button" label="Denegar" [disabled]="isDisabled"
          (click)="denegar()"></button>
        <button *ngIf='inscripciones' pButton type="button" label="Solicitar Baja" [disabled]="isDisabled"
          (click)="solicitarBaja()"></button>
        <button *ngIf='inscripciones' pButton type="button" label="Cambiar Fecha" [disabled]="isDisabled"
          (click)="cambiarFecha()"></button>



        <button pButton *ngIf="!calendarios && !inscripciones" type="button" icon="far fa-save" iconPos="left"
          label="Guardar" [disabled]="isDisabled" (click)="guardar()"></button>
        <button *ngIf="!calendarios  && !inscripciones" pButton type="button" icon="fa fa-plus" iconPos="left"
          label="Nuevo" [disabled]="!anySelected"
          (click)="nuevo(); showMsg('success', 'Se ha creado correctamente', '')"></button>
        <button pButton *ngIf="!inscripciones" type="button" icon="fa fa-trash-alt" iconPos="left" label="Eliminar"
          [disabled]="!anySelected"
          (click)="eliminar(); showMsg('success', 'Se ha eliminado correctamente', '')"></button>
        <button *ngIf="!calendarios  && !inscripciones" pButton type="button" icon="fa fa-plus" iconPos="left"
          label="Duplicar" [disabled]="!anySelected && this.selectedRowValue.length == 0" (click)="duplicar()"></button>
        <button pButton *ngIf="!inscripciones" type="button" icon="fa fa-download" iconPos="left" label="Descargar LOG"
          (click)="descargarLOG(); showMsg('success', 'LOG descargado correctamente', '')"></button>
      </div>



    </div>
  </div>

</div>
<!--<div *ngIf="inscripciones" class="card-footer">
    <div class="main-button">
      <div class="form-row">
        <div class="form-group offset-0 col-lg-3 col-md-3">
          <label>
            Fecha
          </label>
          <app-fecha [disabled]="isDisabled"  (valueChangeInput)="fillFechaCalendar($event)"
            (valueChangeSelected)="fillFechaCalendar($event)"></app-fecha>
        </div>
        <div class="form-group col-4">
            <label>
                Observaciones
              </label>
              <textarea class="textareains" name="observaciones" [disabled]="isDisabled"  class="form-control" pInputTextarea autoResize="autoResize"
                 maxLength="1024"></textarea>
        </div>
        <div class="form-group prueba">
          <label>
          </label>
          <button pButton [disabled]="((!selectMultiple || !selectAll) && selectedDatos.length == 0 || disabledValidar || isLetrado)" (click)="validar(selectedDatos)"
            type="button" label="{{ 'general.boton.validar' | translate}}"></button>

        </div>
        <div class="form-group">
          <label>
          </label>
          <button  pButton [disabled]="!permisos || ((!selectMultiple || !selectAll) && selectedDatos.length == 0 || disabledDenegar || isLetrado)" (click)="denegar(selectedDatos)"
            type="button" label="{{ 'general.boton.denegar' | translate}}"></button>
        </div>
        <div class="form-group">
          <label>
          </label>
          <button pButton [disabled]="!permisos || ((!selectMultiple || !selectAll) && selectedDatos.length == 0 || disabledSolicitarBaja)" (click)="solicitarBaja(selectedDatos)"
            type="button" label="{{ 'general.boton.solicitarbaja' | translate}}"></button>
        </div>
        <div class="form-group">
          <label>
          </label>
          <button pButton [disabled]="!permisos || ((!selectMultiple || !selectAll) && selectedDatos.length == 0 || disabledCambiarFecha)" (click)="cambiarFecha(selectedDatos)"
            type="button" label="{{ 'justiciaGratuita.oficio.inscripciones.cambiarfecha' | translate}}"></button>
        </div>
      </div>

    </div>
  </div> -->