<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>
<div class="busqueda-container">
  <div class="header-title">
    <i class="fa fa-square"></i>
    <p>
      {{ "menu.censo" | translate }}
      <i class="fa fa-angle-right"></i>
      {{ "menu.censo.verSolicitudesModificacion.solicitudesEspecificas" | translate }}
    </p>
  </div>

  <div class="card">
    <div class="card-body">
      <p class="title-module">
        {{ "menu.censo.verSolicitudesModificacion.solicitudesEspecificas" | translate }}
        <i (click)="onHideCard()" *ngIf="showCard" class="fa fa-angle-up float-right"></i>
        <i (click)="onHideCard()" *ngIf="!showCard" class="fa fa-angle-down float-right"></i>
      </p>

      <div *ngIf="showCard" class="module vista-avanzada">
        <div class="form-row">
          <div class="form-group col-lg-2 col-md-2">
            <label>{{ "censo.busquedaSolicitudesModificacion.literal.estado" | translate }}
            </label>
            <input type="text" name="estado" value="" class="box" class="form-control" [(ngModel)]="body.estado" [disabled]="true" pInputText
            />
          </div>

          <div class="form-group col-lg-2 col-md-2">
            <label>{{ "censo.resultadosSolicitudesModificacion.literal.idSolicitud" | translate }}
            </label>
            <input type="text" name="idSolicitud" value="" class="box" class="form-control" [(ngModel)]="body.idSolicitud" [disabled]="true"
              pInputText />
          </div>

          <div class="form-group col-lg-2 col-md-2">
            <label>{{ "censo.resultadosSolicitudesTextoLibre.literal.tipoModificacion" | translate }}
            </label>
            <input type="text" name="tipoModificacion" value="" class="box" class="form-control" [(ngModel)]="body.tipoModificacion"
              [disabled]="true" pInputText />
          </div>

          <div class="form-group col-lg-2 col-md-2">
            <label>{{ "censo.resultadosSolicitudesModificacion.literal.nColegiado" | translate }}
            </label>
            <input type="text" name="nColegiado" value="" class="box" class="form-control" [(ngModel)]="body.numColegiado" [disabled]="true"
              pInputText />
          </div>

          <div class="form-group col-lg-2 col-md-2">
            <label>{{ "censo.resultadosSolicitudesModificacion.literal.Nombre" | translate }}
            </label>
            <input type="text" name="nombre" value="" class="box" class="form-control" [(ngModel)]="body.nombre" [disabled]="true" pInputText
            />
          </div>

          <div class="form-group col-lg-2 col-md-2">
            <label>{{ "censo.resultadosSolicitudesModificacion.literal.fecha" | translate }}
            </label>
            <p-calendar [keepInvalid]="true" selectionMode="range" [locale]="es" icon="far fa-calendar-alt" showIcon="true" dateFormat="dd/mm/yy"
              [(ngModel)]="body.fechaAlta" [disabled]="true"></p-calendar>
          </div>
        </div>

        <div *ngIf="!solicitudFoto" class="card-body p-0">
          <p-dataTable emptyMessage="{{ 'general.message.no.registros' | translate}}" [responsive]="true" #table class="tabla-listado"
            [value]="data" [sortOrder]="1" paginatorPosition="both" [rows]="selectedItem" [paginator]="enablePagination()">
            <p-column [style]="{ width: col.width }" *ngFor="let col of cols" [sortable]="true" [field]="col.field" [header]="col.header | translate"
              filterPlaceholder="{{'general.boton.search' | translate}}" [filter]="true" filterMatchMode="contains">
              <ng-template *ngIf="col.field == 'texto'" let-dato="rowData " pTemplate="body ">
                {{ dato.texto | translate }}
              </ng-template>
            </p-column>

            <ng-template pTemplate="paginatorLeft">
              <div class="mostrar">
                <label class="pr-3 registros-totales">Mostrando registros del {{ table.first + 1 }} al {{ table.first + table.rows }} de un total de {{ table.totalRecords
                  }}
                </label>
                <label>{{ "general.message.mostrar" | translate }}</label>
                <p-dropdown [(ngModel)]="selectedItem" [options]="rowsPerPage" (onChange)="onChangeRowsPerPages($event)"></p-dropdown>
                <label>{{ "cargaMasivaDatosCurriculares.numRegistros.literal" | translate }}
                </label>
              </div>
            </ng-template>
          </p-dataTable>
        </div>
        <div class="row fotos">
          <div *ngIf="solicitudFoto" class="col-lg-4 col-md-4 fotovieja">
            <label>Imagen Actual</label>
            <img *ngIf="imagenAnterior != undefined" [src]="imagenAnterior" class="imagenCentrada1" />
            <i *ngIf="imagenAnterior == undefined" class="fa fa-user imagenCentrada1" style="font-size:19rem;color:grey"></i>
          </div>
          <div *ngIf="solicitudFoto" class="col-lg-4 col-md-4 fotonueva">
          </div>
          <div *ngIf="solicitudFoto" class="col-lg-4 col-md-4 fotonueva">
            <label>Imagen Nueva</label>
            <img [src]="bodySolModiChangeFoto.fotografia" class="imagenCentrada2" />
          </div>
        </div>

        <div>
          <div class="form-group col-lg-12 col-md-12">
            <label>{{ "censo.resultadosSolicitudesModificacion.literal.descripcion" | translate }}
            </label>
            <textarea pInputTextarea [rows]="4" [cols]="10" [(ngModel)]="body.motivo" [disabled]="true"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="text-right main-button ">
        <button (click)="comprobarAuditoria()" pButton type="button" icon="fa fa-gears" iconPos="left" label="{{'modificacionDatos.boton.procesarSolicitud' | translate}}"
          [(disabled)]="disableButton"></button>
        <button (click)="denyRequest()" pButton type="button" icon="fa fa-times" iconPos="left" label="{{ 'general.boton.denegarSolicitud' | translate}}"
          [(disabled)]="disableButton"></button>
      </div>
    </div>
  </div>

  <div class="mt-3 text-right main-button ">
    <button (click)="return()" pButton type="button" icon="fa fa-angle-left" iconPos="left" label="{{ 'general.boton.volver' | translate}}"></button>
  </div>

  <!-- AUDITORIA -->
  <p-dialog [(visible)]="displayAuditoria" responsive="true" [draggable]="false" modal="modal" resizable="false" [minHeight]="500"
    [minWidth]="500">
    <p-header class="title">
      <label>{{"general.ventana.cgae" | translate}} -{{"censo.consultaHistorico.cabecera" | translate}}</label>
    </p-header>

    <div class="bloque col-lg-12 col-md-12">
      <div class="row">
        <div class="form-group col-lg-12 col-md-12">
          <label>{{"censo.datosHistorico.literal.motivo" | translate}} (*)</label>
          <textarea pInputTextarea [(ngModel)]="motivoAuditoria" (ngModelChange)="comprobarCampoMotivo()"></textarea>
        </div>
      </div>
    </div>
    <p-footer>
      <div class="text-right main-button ">
        <button (click)="cerrarAuditoria()" pButton type="button" icon="fa fa-close" iconPos="left" label="{{ 'general.boton.close' | translate}}"></button>
        <button (click)="processRequest()" [disabled]="!showGuardarAuditoria" pButton type="button" icon="fa fa-save" iconPos="left"
          label="{{ 'general.boton.guardarCerrar' | translate}}"></button>
      </div>
    </p-footer>
  </p-dialog>

  <div *ngIf="progressSpinner" class="overlay-spinner ">
    <div class="loader "></div>
  </div>
</div>