.form-group textarea {
  height: inherit;
}

.imagenCentrada1{
  width: 95%;
  float: right;
}

.imagenCentrada2{
  width: 95%;
  float: left;
}
.fotovieja{
  float: left;
}

.fotonueva{
  float: right;
}

.fotos{
  margin-bottom: 2em;
}