<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>

<div class="header-title">
  <i class="fa fa-square"></i>
  <p>{{ "menu.facturacion" | translate }}
    <i class="fa fa-angle-right"></i>{{ "menu.facturacion.exportacionesyotros" | translate }}
    <i class="fa fa-angle-right"></i>{{ "menu.facturacion.contabilidad" | translate }}
  </p>
</div>
<div class="card">
    <!-- Datos generales -->
    <div class="card-body">
      <p class="title-module" (click)="onHideDatosGenerales()">{{ "administracion.catalogos.titulo.datos.generales" | translate }}
        <i *ngIf="showDatosGenerales" class="fa fa-angle-up float-right"></i>
        <i *ngIf="!showDatosGenerales" class="fa fa-angle-down float-right"></i>
      </p>
  
      <div *ngIf="showDatosGenerales" class="module vista-avanzada">
        <div class="form-row">
          <!-- IDENTIFICADOR DESDE -->
          <div class="form-group-interlineado col-lg-3 col-md-3">
            <label>{{ "facturacion.contabilidad.filtro.identficadorDesde" | translate }}</label>
            <input (keypress)="($event.charCode >= 48 && $event.charCode < 58)" maxlength="10" type="text" class="form-control" [(ngModel)]="filtros.idContabilidadDesde" pInputText />
          </div>

          <!-- IDENTIFICADOR HASTA -->
          <div class="form-group-interlineado col-lg-3 col-md-3">
            <label>{{ "facturacion.contabilidad.filtro.identficadorHasta" | translate }}</label>
            <input (keypress)="($event.charCode >= 48 && $event.charCode < 58)" maxlength="10" type="text" class="form-control" [(ngModel)]="filtros.idContabilidadHasta" pInputText />
          </div>

          <!-- FECHA CREACION DESDE -->
          <div class="form-group-interlineado col-lg-3 col-md-3">
            <label>{{ "facturacion.ficherosAdeudos.fechaCreacionDesde" | translate }}</label>
            <app-fecha [(value)]="filtros.fechaCreacionDesde" (valueChangeSelected)="fillFecha($event, 'creacionDesde')" (valueChangeInput)="fillFecha($event, 'creacionDesde')" [maxDate]="filtros.fechaCreacionHasta">
            </app-fecha>
          </div>

          <!-- FECHA CREACION HASTA -->
          <div class="form-group-interlineado col-lg-3 col-md-3">
            <label>{{ "facturacion.ficherosAdeudos.fechaCreacionHasta" | translate }}</label>
            <app-fecha [(value)]="filtros.fechaCreacionHasta" (valueChangeSelected)="fillFecha($event, 'creacionHasta')" (valueChangeInput)="fillFecha($event, 'creacionHasta')">
            </app-fecha>
          </div>
        </div>
      </div>
  
      <!-- Datos Exportación -->
      <p class="title-module" (click)="onHideDatosExportacion()">Datos Exportación
        <i *ngIf="showDatosExportacion" class="fa fa-angle-up float-right"></i>
        <i *ngIf="!showDatosExportacion" class="fa fa-angle-down float-right"></i>
      </p>
  
      <div *ngIf="showDatosExportacion" class="module vista-avanzada">
        <div class="form-row">
            <!-- NUM ASIENTOS DESDE -->
            <div class="form-group-interlineado col-lg-3 col-md-3">
                <label>{{ "facturacion.contabilidad.filtro.numAsientosDesde" | translate }}</label>
                <input (keypress)="($event.charCode >= 48 && $event.charCode < 58)" maxlength="10" type="text" class="form-control" [(ngModel)]="filtros.numAsientosDesde" pInputText />
              </div>
    
              <!-- NUM ASIENTOS DESDE -->
              <div class="form-group-interlineado col-lg-3 col-md-3">
                <label>{{ "facturacion.contabilidad.filtro.numAsientosHasta" | translate }}</label>
                <input (keypress)="($event.charCode >= 48 && $event.charCode < 58)" maxlength="10" type="text" class="form-control" [(ngModel)]="filtros.numAsientosHasta" pInputText />
              </div>
    
              <!-- FECHA EXPORTACION DESDE -->
              <div class="form-group-interlineado col-lg-3 col-md-3">
                <label>{{ "facturacion.contabilidad.filtro.fechaExportacionDesde" | translate }}</label>
                <app-fecha [(value)]="filtros.fechaExportacionDesde" (valueChangeSelected)="fillFecha($event, 'exportacionDesde')" (valueChangeInput)="fillFecha($event, 'exportacionDesde')" [maxDate]="filtros.fechaExportacionDesde">
                </app-fecha>
              </div>

              <!-- FECHA EXPORTACION HASTA -->
              <div class="form-group-interlineado col-lg-3 col-md-3">
                <label>{{ "facturacion.contabilidad.filtro.fechaExportacionHasta" | translate }}</label>
                <app-fecha [(value)]="filtros.fechaExportacionHasta" (valueChangeSelected)="fillFecha($event, 'exportacionHasta')" (valueChangeInput)="fillFecha($event, 'exportacionHasta')" >
                </app-fecha>
              </div>
        </div>
      </div>
    </div>
  
    <div class="card-footer">
      <div class="text-right main-button">
        <button (click)="clearFilters()" pButton type="button"  icon="fa fa-eraser"  iconPos="left"
          label="{{ 'general.boton.clear' | translate}}"></button>
        <button (click)="searchExportacionesContabilidad()" pButton type="button" icon="fa fa-search" iconPos="left"
          label="{{'general.boton.search' | translate}}"></button>
      </div>
    </div>
  </div>
  
  <div *ngIf="progressSpinner" class="overlay-spinner">
    <div class="loader"></div>
  </div>