<div class="center mb-3">
    <p-multiSelect [filter]="false" [options]="cabeceras" [(ngModel)]="selectedHeader" [defaultLabel]="'Ocultar'"
        class="mr-2">
    </p-multiSelect>
    <!-- <mat-form-field appearance="fill">
        <mat-label>Ocultar</mat-label>
        <mat-select [formControl]="info" multiple [(value)]="selectedHeader">
            <mat-select-trigger>
                {{numCabeceras - info.value?.length}} <span>visibles</span>
            </mat-select-trigger>
            <mat-option *ngFor="let cabecera of cabeceras" [value]="cabecera.value">{{cabecera.label}}</mat-option>
        </mat-select>
    </mat-form-field> -->
    <label>Columnas</label>
</div>



<div class="table" matSort (matSortChange)="sortData($event)" #table>
    <div class="table-header">
        <div class="table-header-child p-2" *ngFor="let cabecera of cabeceras; let j = index" #BorderedHeader
            [ngClass]="{'collapse': cabeceraOculta(selectedHeader, cabecera.value, BorderedHeader, BorderedCell)}">
            <div class="w-100">
                <div [mat-sort-header]=cabecera.value>{{cabecera.label}}</div>
                <input type="text" class="form-control" pInputText [(ngModel)]="searchText[j]"
                    (ngModelChange)="searchChange(j)" placeholder="Buscar">
            </div>
        </div>
    </div>

    <div *ngFor="let rowGroup of rowGroups" class="table-row-group" #rowGroupEl>
        <div class="table-row parent">
            <span class="mr-2 arrow" (click)="rowGroupArrowClick(rowGroupEl, rowGroup.id)">
                <span (click)="iconClickChange(iconrightEl, icondownEl)" #iconrightEl><i
                        class="fas fa-chevron-right"></i></span>
                <span class="collapse" (click)="iconClickChange2(iconrightEl, icondownEl)" #icondownEl><i
                        class="fas fa-chevron-down"></i></span>
            </span>
            <div class="table-row-wrapper" [id]="rowGroup.id">
                <div *ngIf="!posicionOcultar(-1)" class="table-row-header p-2">
                    {{rowGroup.id}}
                </div>
                <div *ngFor="let cell of rowGroup.rows[0]['cells']; let z = index" class="table-cell p-2" #BorderedCell
                    [ngClass]="{'collapse':posicionOcultar(z)}">

                    <span class="w100" *ngIf="cell.type == 'text'">{{cell.value}}</span>
                    <span class="w100 main-button" *ngIf="cell.type == 'buttom'">
                        <button type="button" pButton label="{{cell.value}}"></button>
                        <!-- <button>{{cell.value}}</button> -->
                    </span>
                    <span class="w100" *ngIf="cell.type == 'checkbox'">
                        <!-- <mat-checkbox class="ml-1">{{cell.value}}</mat-checkbox> -->
                        <p-checkbox [ngModel]="validaCheck(cell.value)" binary="true">
                        </p-checkbox>
                    </span>
                    <span class="w100" *ngIf="cell.type == 'datePicker'">
                        <div>
                            <app-fecha [(value)]="fechaIncorporacionDesdeSelect" [utc]="false"
                                (valueChangeSelected)="fillFechaIncorporacionDesde($event)"
                                (valueChangeInput)="fillFechaIncorporacionDesde($event)">
                            </app-fecha>
                        </div>
                        <!-- <app-calendario [datePickerTitle]=""></app-calendario> -->
                    </span>
                    <span class="w100" *ngIf="cell.type == 'select'">
                        <app-selector [i]="0" [selector]="cell.value" [textoVisible]="cell.value">
                        </app-selector>
                    </span>
                    <span class="w100" *ngIf="cell.type == 'number'">{{cell.value}}</span>
                    <span class="w100" *ngIf="cell.type == 'link'"><a>{{cell.value}}</a></span>
                    <span class="w100" *ngIf="cell.type == '5InputSelector'">
                        <input type="text" class="form-control" pInputText [placeholder]="cell.value[0]">
                        <input type="text" class="form-control" pInputText [placeholder]="cell.value[1]">
                        <input type="text" class="form-control" pInputText [placeholder]="cell.value[2]">
                        <input type="text" class="form-control" pInputText [placeholder]="cell.value[3]">
                        <app-selector [textoVisible]="cell.value[4]" [i]="0" [selector]="cell.value">
                        </app-selector>
                    </span>
                    <span class="w100" *ngIf="cell.type == '2SelectorInput'">
                        <app-selector [i]="0" [selector]="cell.value"></app-selector>
                        <input type="text" class="form-control" pInputText [placeholder]="cell.value">
                    </span>
                    <span class="w100" *ngIf="cell.type == 'input'">
                        <input type="text" class="form-control" pInputText [placeholder]="cell.value">
                    </span>
                </div>
            </div>
        </div>
        <div *ngFor="let row of rowGroup.rows | slice:1; let i = index;" class="table-row child collapse">
            <div class="table-row-wrapper" [id]="rowGroup.id">
                <div *ngIf="!posicionOcultar(-1)" class="table-row-header p-2 hidden">
                </div>
                <div *ngFor="let cell of row['cells']; let z = index;" class="table-cell p-2"
                    [ngClass]="{'collapse':posicionOcultar(z), 'borders-child': isPar(i)}">
                    <span class="w100" *ngIf="cell.type == 'text'">{{cell.value}}</span>
                    <span class="w100 main-button" *ngIf="cell.type == 'buttom'">
                        <!-- <button>{{cell.value}}</button> -->
                        <button type="button" pButton label="{{cell.value}}"></button>
                    </span>
                    <span class="w100" *ngIf="cell.type == 'checkbox'">
                        <!-- <mat-checkbox class="ml-1">{{cell.value}}</mat-checkbox> -->
                        <p-checkbox [ngModel]="validaCheck(cell.value)" binary="true">
                        </p-checkbox>
                    </span>
                    <span class="w100" *ngIf="cell.type == 'datePicker'">
                        <!-- <app-calendario [datePickerTitle]="cell.value"></app-calendario> -->
                        <div>
                            <app-fecha [(value)]="fechaIncorporacionDesdeSelect" [utc]="false"
                                (valueChangeSelected)="fillFechaIncorporacionDesde($event)"
                                (valueChangeInput)="fillFechaIncorporacionDesde($event)">
                            </app-fecha>
                        </div>
                    </span>
                    <span class="w100" *ngIf="cell.type == 'select'">
                        <app-selector [i]="0" [textoVisible]="cell.value" [selector]="cell.value">
                        </app-selector>
                    </span>
                    <span class="w100" *ngIf="cell.type == 'number'">{{cell.value}}</span>
                    <span class="w100" *ngIf="cell.type == 'link'"><a>{{cell.value}}</a></span>
                    <span class="w100" *ngIf="cell.type == '5InputSelector'">
                        <input type="text" class="form-control" pInputText [placeholder]="cell.value[0]">
                        <input type="text" class="form-control" pInputText [placeholder]="cell.value[1]">
                        <input type="text" class="form-control" pInputText [placeholder]="cell.value[2]">
                        <input type="text" class="form-control" pInputText [placeholder]="cell.value[3]">
                        <input type="text" class="form-control" pInputText [placeholder]="cell.value[4]">
                        <app-selector [i]="0" [selector]="cell.value"></app-selector>
                    </span>
                    <span class="w100" *ngIf="cell.type == '2SelectorInput'">
                        <app-selector [i]="0" [selector]="cell.value"></app-selector>
                        <input type="text" class="form-control" pInputText [placeholder]="cell.value">
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>