<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>
<div class="ficha-container">
  <!--DATOS GENERALES-->
  <div class="card">
    <div class="card-body">
      <div class="form-row">
        <div class="form-group col-lg-4 col-md-4">
          <label>Descripción</label>
          <input type="text" class="form-control" [(ngModel)]="bodySearch.asunto" pInputText>
        </div>
        <div class="form-group col-lg-4 col-md-4">
          <label>Fecha creación *</label>
          <p-calendar [locale]="es" [(ngModel)]="bodySearch.fechaCreacion" dateFormat="dd/mm/yy" [utc]="true" icon=" far fa-calendar-alt"
            showIcon="true"></p-calendar>
        </div>
      </div>
      <div class="form-row d-flex align-items-end">

        <div class="form-group col-lg-4 col-md-4">
          <label>Fecha programación</label>
          <p-calendar [locale]="es" [(ngModel)]="bodySearch.fechaProgramada" dateFormat="dd/mm/yy" [utc]="true" icon=" far fa-calendar-alt"
            showIcon="true"></p-calendar>
        </div>
      </div>
      <div class="form-row d-flex align-items-end">
        <div class="form-group col-lg-4 col-md-4">
          <label>Clase de comunicaciones</label>
          <p-dropdown [options]="clasesComunicaciones" [(ngModel)]="bodySearch.idClaseComunicaciones" class="select-form"></p-dropdown>
        </div>

        <div class="form-group col-lg-4 col-md-4">
          <label>Tipo de envío</label>
          <p-dropdown [options]="tiposEnvio" [(ngModel)]="bodySearch.idTipoEnvio" class="select-form"></p-dropdown>
        </div>
        <div class="form-group col-lg-4 col-md-4">
          <label>Estado</label>
          <p-dropdown [options]="estados" [(ngModel)]="bodySearch.idEstado" class="select-form"></p-dropdown>
        </div>


      </div>
    </div>
    <div class="card-footer">
      <div class="text-right main-button">
        <button (click)="buscar()" [disabled]="isButtonDisabled()" pButton type="button" icon="fa fa-search" iconPos="left" label="{{'general.boton.search' | translate}}"></button>
        <button (click)="onAddComunicacion()" pButton type="button" icon="fa fa-plus" iconPos="left" label="{{ 'general.boton.new' | translate}}"></button>
      </div>
    </div>
  </div>


</div>