<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>
<app-dialog></app-dialog>
<div class="ficha-container">
  <div class="header-title">
    <i class="fa fa-square"></i>
    <p>{{'menu.informesYcomunicaciones' | translate}}
      <i class="fa fa-angle-right"></i>{{ 'menu.informesYcomunicaciones.comunicaciones' | translate}}

    </p>
  </div>
  <!--DATOS GENERALES-->
  <div class="card">
    <div class="card-body">
      <p class="title-module">
        <span (click)="abreCierraFicha()">{{'general.message.datos.generales' | translate }}</span>
        <i (click)="abreCierraFicha()" *ngIf="fichaBusqueda" class="fa fa-angle-up float-right"></i>
        <i (click)="abreCierraFicha()" *ngIf="!fichaBusqueda" class="fa fa-angle-down float-right"></i>
      </p>
      <div *ngIf="fichaBusqueda" class="module vista-avanzada">
        <div class="form-row">
          <div class="form-group-interlineado col-lg-4 col-md-4">
            <label>{{'administracion.parametrosGenerales.literal.descripcion' | translate}}</label>
            <input type="text" class="form-control" [(ngModel)]="bodySearch.descripcion" pInputText>
          </div>
          <div class="form-group-interlineado col-lg-4 col-md-4">
            <label>{{'administracion.auditoriaUsuarios.fechaDesde' | translate}} (*)</label>
            <app-fecha [(value)]="bodySearch.fechaCreacion" [utc]="false"
              (valueChangeSelected)="fillFechaCreacion($event)" (valueChangeInput)="fillFechaCreacion($event)">
            </app-fecha>
          </div>
          <div class="form-group-interlineado col-lg-4 col-md-4">
            <label>{{'enviosMasivos.literal.fechaProgramacion' | translate}}</label>
            <app-fecha [(value)]="bodySearch.fechaProgramacion" [utc]="false"
              (valueChangeSelected)="fillFechaProgramacion($event)" (valueChangeInput)="fillFechaProgramacion($event)">
            </app-fecha>
          </div>
        </div>

        <div class="form-row d-flex align-items-end">
          <div class="form-group-interlineado col-lg-4 col-md-4">
            <label>{{'comunicaciones.literal.claseComunicaciones' | translate}}</label>
            <p-dropdown [filter]="true" [showClear]="true" filterBy="label,labelSinTilde"
              [options]="clasesComunicaciones" [(ngModel)]="bodySearch.idClaseComunicacion" class="select-form"
              placeholder="{{'general.boton.seleccionar' | translate}}"></p-dropdown>
          </div>

          <!-- <div class="form-group-interlineado col-lg-4 col-md-4">
          <label>{{'enviosMasivos.literal.tipoEnvio' | translate}}</label>
          <p-dropdown [filter]="true" filterBy="label,labelSinTilde" [options]="tiposEnvio" [(ngModel)]="bodySearch.idTipoEnvios" class="select-form"></p-dropdown>
        </div> -->
          <div class="form-group-interlineado col-lg-4 col-md-4">
            <label>{{'enviosMasivos.literal.estado' | translate}}</label>
            <p-dropdown placeholder="{{ 'general.boton.seleccionar' | translate }}" [filter]="true" [showClear]="true"
              filterBy="label,labelSinTilde" [options]="estados" [(ngModel)]="bodySearch.idEstado" class="select-form">
            </p-dropdown>
          </div>
        </div>
        <p class="title-module" (click)="onHideDatosDestinatarios()">
          <span>{{ "informesycomunicaciones.comunicaciones.busqueda.destinatario" | translate }}</span>
          <i *ngIf="showDatosDestinatarios" class="fa fa-angle-up float-right"></i>
          <i *ngIf="!showDatosDestinatarios" class="fa fa-angle-down float-right"></i>
        </p>
        <div *ngIf="showDatosDestinatarios" class="module vista-avanzada">
          <div class="form-row">
            <div class="form-group-interlineado col-lg-2 col-md-2">
              <label>{{ "administracion.usuarios.literal.NIF" | translate }}
              </label>
              <input [disabled]="busquedaDestinatarioDisabled" type="text" class="form-control" [attr.maxlength]="20"
                pInputText [(ngModel)]="bodySearch.nif" />
            </div>
            <div class="form-group-interlineado col-lg-3 col-md-3">
              <label>{{ "gratuita.mantenimientoTablasMaestra.literal.apellidos" | translate }}
              </label>
              <input [disabled]="busquedaDestinatarioDisabled" type="text" class="form-control" pInputText
                [(ngModel)]="bodySearch.apellidos" />
            </div>
            <div class="form-group-interlineado col-lg-3 col-md-3">
              <label>{{ "administracion.parametrosGenerales.literal.nombre" | translate }}
              </label>
              <input [disabled]="busquedaDestinatarioDisabled" type="text" class="form-control" pInputText
                [(ngModel)]="bodySearch.nombre" />
            </div>
            <div class="form-group-interlineado col-lg-2 col-md-2">
              <label>{{ "censo.resultadoDuplicados.numeroColegiado" | translate }}
              </label>
              <input [disabled]="busquedaDestinatarioDisabled" type="text" class="form-control" pInputText
                [(ngModel)]="bodySearch.numColegiado" />
            </div>
            <div class="form-group-interlineado col-lg-2 col-md-2">
              <label>{{ "censo.busquedaClientesAvanzada.literal.colegio" | translate }}
              </label>
              <p-dropdown [disabled]="busquedaDestinatarioDisabled" [showClear]="true"
                placeholder="{{'general.boton.seleccionar' | translate}}" [filter]="true" filterBy="label,labelSinTilde"
                [options]="colegios" [(ngModel)]="bodySearch.idInstitucion" class="select-form"></p-dropdown>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="text-right main-button">
        <button (click)="limpiar()" pButton type="button" icon="fa fa-eraser" iconPos="left" label="{{
            'general.boton.clear'| translate }}"></button>
        <button (click)="buscar()" [disabled]="isButtonDisabled()" pButton type="button" icon="fa fa-search"
          iconPos="left" label="{{'general.boton.search' | translate}}"></button>
        <button [disabled]="!permisoIntPNJ || !permisoNuevaCom" (click)="checkPermisosNuevaCom()" pButton type="button" icon="fa fa-plus"
          iconPos="left" label="{{'general.boton.new' | translate}}"></button>
      </div>
    </div>
  </div>
  <div class="card" *ngIf="showResultados" id="tablaFoco">
    <div class="card-body p-0">
      <p-table [value]="datos" [columns]="cols" [(selection)]="selectedDatos" [responsive]="true" #table
        class="tabla-listado" [paginator]="true" [rows]="selectedItem" [first]="first"
        (onRowSelect)="fila(selectedDatos)" [ngClass]="{ 'customCursor': selectMultiple}" selectionMode="multiple"
        paginatorPosition="both" id="tablaFoco">
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col *ngFor="let col of columns" [style.width]="col.width">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" [ngSwitch]="col.field" [pSortableColumn]="col.field">
              {{col.header | translate}}
              <p-sortIcon [field]="col.field"></p-sortIcon>
              <input placeholder="{{ 'general.boton.search' | translate }}" pDroppable="false"
                (click)="$event.stopPropagation()" *ngSwitchCase="col.field" pInputText type="text" (input)="table.filter($event.target.value,
                          col.field, 'contains')">
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-dato let-columns="columns" let-rowIndex="rowIndex">
          <tr [pSelectableRow]="dato" [pSelectableRowIndex]="rowIndex">
            <td class="text-center" *ngFor="let col of columns">
              <span
                *ngIf="col.field !='fechaCreacion'  && col.field !='fechaProgramada' && col.field != 'destinatario'">
                {{dato[col.field]}}</span>
              <span
                *ngIf="
                col.field=='fechaProgramada'">{{ dato[col.field] | date: 'dd/MM/yyyy, H:mm '}}
              </span>
              <span
              *ngIf="
              col.field=='fechaCreacion'"><a [routerLink]="" (click)="navigateTo([dato])" class="enlace">{{ dato[col.field] | date: 'dd/MM/yyyy, H:mm '}}</a>
            </span>
              <span *ngIf="dato[col.field]==null || dato[col.field]==''">-</span>
              <a [routerLink]="" (click)="navigateTo([dato])" class="enlace"
                *ngIf="col.field == 'destinatario'">{{dato[col.field]}}</a>

            </td>

          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="columns.length">
              {{'censo.busquedaClientesAvanzada.literal.sinResultados' | translate }}
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
          <div class="mostrar d-flex text-right justify-content-end">
            <label
              class="pr-3 registros-totales">{{ 'informesycomunicaciones.plantillasenvio.ficha.mostrandoRegistros' | translate }}
              {{table.first + 1}} al {{table.first
              + table.rows}} {{ 'informesycomunicaciones.plantillasenvio.ficha.deUnTotalDe' | translate }}
              {{table.totalRecords}}</label>
            <label class="pr-3 numSeleccionados"
              *ngIf="selectedDatos  && selectedDatos.length > 0">{{'agenda.fichaCalendario.tablaNotificaciones.mostrandoRegistros' | translate}}:
              {{selectedDatos.length}}
            </label>
            <label class="pr-3 numSeleccionados"
              *ngIf="selectedDatos && selectedDatos.length <= 0">{{'agenda.fichaCalendario.tablaNotificaciones.mostrandoRegistros' | translate}}:
              0
            </label>
            <label>{{"general.message.mostrar" | translate}}</label>
            <p-dropdown [(ngModel)]="selectedItem" [options]="rowsPerPage" (onChange)="onChangeRowsPerPages($event)">
            </p-dropdown>
            <label class="pl-1"> {{"cargaMasivaDatosCurriculares.numRegistros.literal" | translate}}</label>
            <div class="ml-3 selectAll">
              <p-checkbox (onChange)="onChangeSelectAll()" [(ngModel)]="selectAll" binary="true"
                label="{{ 'tablas.literal.seleccionarTodo' | translate }}" name="groupname"></p-checkbox>
            </div>
            <!-- <label class="ml-3 seleccionMultiple" [ngClass]="{' seleccion-multiple': selectMultiple}" (click)="isSelectMultiple()">
              <i class="pr-2 fa fa-mouse-pointer"></i>{{"general.message.seleccion.multiple" | translate}}</label> -->
          </div>
        </ng-template>
      </p-table>
      <div *ngIf="selectedDatos && selectedDatos != ''" class="card-footer">
        <div class="text-right main-button">
          <button *ngIf="selectedDatos.length == 1 && estado && (estado == 3 || estado == 6)"
            (click)="duplicar(selectedDatos)" pButton type="button" icon="fas fa-share-square" iconPos="left"
            label="{{ 'general.boton.reenviar' | translate}}"></button>
          <button *ngIf="estado && estado == 4" (click)="onShowProgamar(selectedDatos)" pButton type="button"
            icon="fas fa-cog" iconPos="left" label="{{ 'general.boton.programar' | translate}}"></button>
          <button *ngIf="estado && estado == 4" (click)="cancelar(selectedDatos)" pButton type="button"
            icon="fa fa-close" iconPos="left" label="{{ 'general.boton.cancel' | translate}}"></button>
        </div>
      </div>
    </div>
  </div>

  <p-dialog [(visible)]="showProgramar" responsive="true" [draggable]="false" modal="modal" resizable="false"
    [minWidth]="400">
    <p-header class="title">
      <label>{{ 'general.boton.programar' | translate}}</label>
    </p-header>
    <div class="form-row">
      <div class="form-group-interlineado col-lg-12 col-md-12">
        <label>{{"envio.programar" | translate}}</label>
        <app-fecha [(value)]="bodyProgramar.fechaProgramada" [minDate]="currentDate" [utc]="false" showTime="true"
          (valueChangeSelected)="fillFechaProgramada($event)" (valueChangeInput)="fillFechaProgramada($event)">
        </app-fecha>
      </div>
    </div>
    <p-footer>
      <div class="text-right main-button ">
        <button (click)="programar(selectedDatos)" pButton type="button" icon="fa fa-save" iconPos="left"
          label="{{ 'general.boton.guardar' | translate}}"></button>
      </div>
    </p-footer>
  </p-dialog>

















  <!-- CREACIÓN NUEVA COMUNICACIÓN -->
  <p-dialog [(visible)]="showNuevaComm" responsive="true" [draggable]="false" modal="modal" resizable="false"
    [minWidth]="400" (onHide)="cerrarDialogNueva()" #nuevaComm>
    <p-header class="title">
      <label>{{ "informesycomunicaciones.comunicaciones.nuevaComunicacion" | translate}}</label>
    </p-header>
    <div class="form-row">
      <div class="form-group-interlineado col-lg-4 col-md-4">
        <label>{{ 'justiciaGratuita.ejg.datosGenerales.Juzgado' | translate}} ({{'facturacionSJCS.retenciones.destinatario' | translate}}) (*)</label>
        <p-dropdown class="select-form" [ngClass]="styleObligatorio(bodyNuevaComm.juzgado)" [(ngModel)]='bodyNuevaComm.juzgado' [options]="comboJuzgado" [filter]="true"
          filterBy="label,labelSinTilde" placeholder="{{'general.boton.seleccionar' | translate}}" [showClear]="true" ></p-dropdown>
      </div>
      <div class="form-group-interlineado col-lg-4 col-md-4">
        <label class="d-block">{{'enviosMasivos.literal.plantillasEnvio' | translate}} (*)</label>
        <p-dropdown [ngClass]="styleObligatorio(bodyNuevaComm.idPlantillaEnvios)"
          [options]="comboPlantillas" placeholder="{{'general.boton.seleccionar' | translate}}" [(ngModel)]="bodyNuevaComm.idPlantillaEnvios" class="select-form" (onChange)="detallePlantilla()"></p-dropdown>
      </div>
      <div class="form-group-interlineado col-lg-4 col-md-4">
        <label>{{"administracion.auditoriaUsuarios.literal.fechaEfectiva" | translate}} (*)</label>
        <app-fecha [(value)]="bodyNuevaComm.fechaEfecto" [utc]="false" showTime="true"
          (valueChangeSelected)="fillNuevaFechaEfecto($event)" [inputStyleClass]="styleObligatorio(bodyNuevaComm.fechaEfecto)" (valueChangeInput)="fillNuevaFechaEfecto($event)">
        </app-fecha>
      </div>
      <div class="form-group-interlineado col-lg-6 col-md-6">
        <label>{{ "enviosMasivos.literal.asunto" | translate }} (*)
        </label>
        <input type="text" class="form-control" [ngClass]="styleObligatorio(bodyNuevaComm.asunto)" [attr.maxlength]="100" pInputText [(ngModel)]="bodyNuevaComm.asunto" />
      </div>
      
      <div class="form-group-interlineado col-lg-12 col-md-12">
        <label>{{"informesycomunicaciones.comunicaciones.mensaje" | translate}}
        </label>
        <textarea pInputTextarea [(ngModel)]="bodyNuevaComm.mensaje" class="form-control ui-inputtext"
          autoResize="autoResize" maxLength="65535 "></textarea>
      </div>
      <div class="form-group-interlineado col-lg-4 col-md-4">
        <label>{{'gratuita.busquedaDesignas.literal.numProcedimiento' | translate}}</label>
        <input type="text" class="form-control" pInputText [(ngModel)]="bodyNuevaComm.numProcedimiento">
      </div>
      <div class="form-group-interlineado col-lg-4 col-md-4">
        <label>{{'justiciaGratuita.ejg.datosGenerales.NIG' | translate}}</label>
        <input type="text" class="form-control" maxLength="49" pInputText [(ngModel)]="bodyNuevaComm.nig">
      </div>
      <div class="form-group-interlineado col-lg-4 col-md-4">
        <label>{{'informesYcomunicaciones.consultas.ficha.modelosComunicacion.modelo' | translate}}</label>
        <p-dropdown [filter]="true" [showClear]="true" filterBy="label,labelSinTilde" [options]="comboModelos"
          [(ngModel)]="bodyNuevaComm.idModeloComunicacion" class="select-form"
          placeholder="{{'general.boton.seleccionar' | translate}}"></p-dropdown>
      </div>
      <div class="form-row">
        <p-table [value]="bodyNuevaComm.docs" [columns]="colsDocNuevaComm" [responsive]="true" #tableDocsNuevaComm
          class="tabla-listado" [paginator]="true" [rows]="3" selectionMode="multiple"
          [(selection)]="selectedDocsNuevaComm" [responsive]="true" paginatorPosition="both" [first]="first"
          [ngClass]="{ 'customCursor': selectMultiple}">
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col *ngFor="let col of columns" [style.width]="col.width">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns" [ngSwitch]="col.field" [pSortableColumn]="col.field">
                {{ col.header | translate }}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-dato let-columns="columns" let-rowIndex="rowIndex">
            <tr [pSelectableRow]="dato" [pSelectableRowIndex]="rowIndex">
              <td class="text-center" *ngFor="let col of columns">
                <div>
                  <span>{{ dato[col.field] }}</span>
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr>
              <td [attr.colspan]="columns.length">
                {{ 'censo.busquedaClientesAvanzada.literal.sinResultados' | translate }}.
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="paginatorleft">
            <div class="mostrar d-flex text-right justify-content-end">
              <label
                class="pr-3 registros-totales">{{ 'informesycomunicaciones.plantillasenvio.ficha.mostrandoRegistros' | translate }}
                {{tableDocsNuevaComm.first + 1}} al {{tableDocsNuevaComm.first
                + tableDocsNuevaComm.rows}} {{ 'informesycomunicaciones.plantillasenvio.ficha.deUnTotalDe' | translate }}
                {{tableDocsNuevaComm.totalRecords}}</label>
              <label class="pr-3 numSeleccionados"
                *ngIf="selectedDocsNuevaComm  && selectedDocsNuevaComm.length > 0">{{'agenda.fichaCalendario.tablaNotificaciones.mostrandoRegistros' | translate}}:
                {{selectedDocsNuevaComm.length}}
              </label>
              <label class="pr-3 numSeleccionados"
                *ngIf="selectedDocsNuevaComm && selectedDocsNuevaComm.length <= 0">{{'agenda.fichaCalendario.tablaNotificaciones.mostrandoRegistros' | translate}}:
                0
              </label>
              <div class="ml-3 selectAll">
                <p-checkbox (onChange)="onChangeSelectAllNewDocs()" [(ngModel)]="selectAllNewDocs" binary="true"
                  label="{{ 'tablas.literal.seleccionarTodo' | translate }}" name="groupname"></p-checkbox>
              </div>
              <!-- <label class="ml-3 seleccionMultiple" [ngClass]="{' seleccion-multiple': selectMultiple}" (click)="isSelectMultiple()">
                <i class="pr-2 fa fa-mouse-pointer"></i>{{"general.message.seleccion.multiple" | translate}}</label> -->
            </div>
          </ng-template>
        </p-table>
        <div class="text-right form-group main-button col-lg-12 col-md-12 pt-2">
          <button [disabled]="selectedDocsNuevaComm.length == 0" (click)="deleteDocumentos()" pButton type="button"
            icon="fa fa-trash" iconPos="left" label="{{ 'general.boton.eliminar' | translate}}"></button>
          <p-fileUpload #pUploadFile icon="fa fa-plus" iconPos="left" chooseLabel="{{ 'general.boton.new' | translate}}"
            name="file" mode="basic"  class="edit my-0 mx-auto main-button" (onSelect)="seleccionarFichero($event)"
            auto="true">
          </p-fileUpload>
        </div>
      </div>
    </div>
    <!-- <p-footer>
      <div class="text-right main-button ">
        <button (click)="checkSaveNuevaComm()" pButton type="button" icon="fa fa-save" iconPos="left"
          label="{{ 'general.boton.guardar' | translate}}"></button>
      </div>
    </p-footer> -->
    <div>
      <div class="text-right main-button ">
        <button (click)="checkSaveNuevaComm()" pButton type="button" icon="fa fa-save" iconPos="left"
          label="{{ 'general.boton.guardar' | translate}}"></button>
      </div>
    </div>
  </p-dialog>

</div>

<div *ngIf="progressSpinner || loaderEtiquetas" class="overlay-spinner">
  <!--<p-progressSpinner animationDuration="1s"></p-progressSpinner>-->
  <div class="loader"></div>
</div>