<p-growl (onHover)="clear()" [(value)]="msgs" life="30000"></p-growl>
<div class="ficha-container" id="envio">
  <div class="card" id="top">
    <div class="card-header header-ficha">

      <!-- Cabecera en ficha cerrada -->
      <div *ngIf="!esFichaActiva()" class="form-row">
        <div class="col-lg-1 col-md-2" (click)="abreCierraFicha('envio')">
          <div class="img-colegiado">
            <i class="far fa-paper-plane icon-ficha pointer"></i>
          </div>
        </div>
        <div class="col-lg-11 col-md-10">
          <div class="d-flex justify-content-start mb-1" (click)="abreCierraFicha('envio')">
            <label class="mr-auto title-ficha pointer">{{ 'facturacion.seriesFactura.envioFact.literal' | translate }}</label>
          </div>
          <div class="d-flex justify-content-between default">
            
            <label>{{ 'facturacion.seriesFactura.envioFact.auto' | translate }}: 
              <span>{{body.envio ? "Sí" : "No" }}</span></label>
            <label>{{ 'facturacion.seriesFactura.envioFact.plantilla' | translate }}: 
              <span>{{body.tipoPlantillaMail }}</span></label>
            <label>{{ 'facturacionSJCS.facturacionesYPagos.buscarFacturacion.estado' | translate }}: 
              <span>{{body.estadoEnvio  | translate }}</span></label>
            
            <i class="fa fa-angle-down float-right" (click)="abreCierraFicha('envio')"
              *ngIf="!esFichaActiva()"></i>
          </div>
        </div>
      </div>

      <!-- Cabecera en ficha abierta -->
      <div *ngIf="esFichaActiva()" class=" header-ficha-open d-flex justify-content-start align-items-center"
        (click)="abreCierraFicha('envio')">
        <div class="img-colegiado">
          <i class="far fa-paper-plane icon-ficha"></i>
        </div>
        <label class="title-ficha pointer">{{ 'facturacion.seriesFactura.envioFact.literal' | translate }}</label>
        <i class="fa fa-angle-up ml-auto"></i>
      </div>
    </div>

    <!-- Cuerpo en ficha abierta -->
    <div [hidden]="!esFichaActiva()" class="card-body card-body-ficha">
      <div class="form-row">
        <div class="form-check col-lg-3 col-md-3 align-self-center d-flex justify-content-between">
          <label class="form-group-label">{{ 'facturacion.seriesFactura.envioFact.auto' | translate }}</label>
          &nbsp;&nbsp;
          <p-checkbox class="float-right" [(ngModel)]="body.envio" binary="true" [disabled]="!permisoEscritura || !(porProgramar || porConfirmarError || confirmada && noAplica || confirmada && finalizadoError)"></p-checkbox>
        </div>
        <div class="form-group col-lg-3 col-md-3">
          <label>{{ 'facturacion.seriesFactura.envioFact.plantilla' | translate }}</label>
          <p-dropdown class="select-form" [(ngModel)]='body.idTipoPlantillaMail' placeholder="Seleccionar"
              [options]="comboPlantillas" [filter]="true" filterBy="label,labelSinTilde" [disabled]="!permisoEscritura || !(porProgramar || porConfirmarError || confirmada && noAplica || confirmada && finalizadoError)"
              [showClear]="true"></p-dropdown>
        </div>
        <div class="form-group col-lg-3 col-md-3">
          <label>{{ 'facturacionSJCS.facturacionesYPagos.buscarFacturacion.estado' | translate }}</label>
          <input type="text" class="form-control" [disabled]="true" pInputText value="{{body.estadoEnvio | translate}}">
        </div>
      </div>
    </div>

    <div *ngIf="esFichaActiva()" class="card-footer">
      <div class="text-right main-button">
        <button [disabled]="!(confirmada && finalizado && logDisponible)" pButton (click)="confirmDescargar()"
          type="button" icon="fa fa-download" iconPos="left" label="{{ 'facturacionSJCS.fichaCertificacion.descargarLog' | translate }}"></button>

        <button *ngIf="permisoEscritura" [disabled]="deshabilitarGuardado() || !(porProgramar || porConfirmarError || confirmada && noAplica || confirmada && finalizadoError)" pButton type="button" icon="fa fa-undo" iconPos="left"
          (click)="restablecer()" label="{{ 'general.boton.restablecer' | translate }}"></button>

        <button *ngIf="permisoEscritura" [disabled]="deshabilitarGuardado() || !(porProgramar || porConfirmarError || confirmada && noAplica || confirmada && finalizadoError)" pButton type="button" icon="fa fa-save" iconPos="left"
          (click)="checkSave()" label="{{ 'general.boton.guardar' | translate }}"></button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="progressSpinner" class="overlay-spinner">
  <div class="loader"></div>
</div>