
  .field-radiobutton {
    margin-top: 0px;
    margin-bottom: 25px;
  }

  .radio-style{
    display:flex;

    ::ng-deep .ui-radiobutton {
      .ui-radiobutton-box {
         .ui-radiobutton-icon {
          vertical-align: middle;
        }
      }
    }
  }