
  .field-radiobutton {
    margin-top: 0px;
    margin-bottom: 25px;
  }

  .enlaceRepresentante {
    color: blue; 
    text-decoration: underline;
    cursor:pointer;
  }

  .enlaceRepresentanteLess {
    color: gray; 
    text-decoration: underline;
    cursor:pointer;
  }