<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>
<div *ngIf="progressSpinner" class="overlay-spinner">
  <div class="loader"></div>
</div>

<!-- Campos Buscador -->
<div class="form-row p-lg-3 p-md-3">

  <!-- Categoria -->
  <div class="form-group-interlineado col-lg-3 col-md-3 pb-lg-2 pb-md-2">
    <label>{{ "facturacion.productos.categoria" | translate}}</label>
    <p-dropdown (onChange)="valueChangeCategoria()" [filter]="true" styleClass="widthAll" [showClear]="true"
      placeholder="{{ 'general.boton.seleccionar' | translate }}" [(ngModel)]='filtrosServicios.categoria'
      [options]="categoriasObject.combooItems">
    </p-dropdown>
  </div>

  <!-- Tipo -->
  <div class="form-group-interlineado col-lg-3 col-md-3 pb-lg-2 pb-md-2">
    <label>{{ "facturacion.productos.tipo" | translate}}</label>
    <p-dropdown [disabled]="filtrosServicios.categoria == null" [filter]="true" styleClass="widthAll" [showClear]="true"
      placeholder="{{ 'general.boton.seleccionar' | translate }}" [(ngModel)]='filtrosServicios.tipo'
      [options]="tiposObject.combooItems">
    </p-dropdown>
  </div>

  <!-- Servicio -->
  <div class="form-group-interlineado col-lg-3 col-md-3 pb-lg-2 pb-md-2">
    <label>{{ "facturacion.servicios.servicio" | translate}}</label>
    <input type="text" class="form-control" [(ngModel)]='filtrosServicios.servicio' pInputText>
  </div>

  <!-- Codigo -->
  <div class="form-group-interlineado col-lg-3 col-md-3 pb-lg-2 pb-md-2">
    <label>{{ "facturacion.productos.codigo" | translate}}</label>
    <input type="text" maxLength="20" class="form-control" [(ngModel)]='filtrosServicios.codigo' pInputText>
  </div>

  <!-- Precio Desde -->
  <div class="form-group-interlineado col-lg-3 col-md-3">
    <label>{{ "facturacion.productos.preciodesde" | translate}}</label>
    <input DigitDecimaNumber type="text" class="form-control" [(ngModel)]='filtrosServicios.precioDesde' pInputText>
  </div>

  <!-- Precio hasta -->
  <div class="form-group-interlineado col-lg-3 col-md-3">
    <label>{{ "facturacion.productos.preciohasta" | translate}}</label>
    <input DigitDecimaNumber type="text" class="form-control" [(ngModel)]='filtrosServicios.precioHasta' pInputText>
  </div>

  <!-- IVA -->
  <div class="form-group-interlineado col-lg-3 col-md-3">
    <label>{{ "facturacion.productos.iva" | translate}}</label>
    <p-dropdown [filter]="true" styleClass="widthAll" [showClear]="true"
      placeholder="{{ 'general.boton.seleccionar' | translate }}" [(ngModel)]='filtrosServicios.iva'
      [options]="ivasObject.combooItems">
    </p-dropdown>
  </div>

  <!-- Forma de pago -->
  <div class="form-group-interlineado col-lg-3 col-md-3">
    <label>{{ "facturacion.productos.formapago" | translate}}</label>
    <p-dropdown [filter]="true" styleClass="widthAll" [showClear]="true"
      placeholder="{{ 'general.boton.seleccionar' | translate }}" [(ngModel)]='filtrosServicios.formaPago'
      [options]="formasPagoObject.combooItems">
    </p-dropdown>
  </div>

  <!-- Tipo de suscripcion -->
  <div class="form-group-interlineado col-lg-3 col-md-3">
    <label>{{ "facturacion.servicios.tiposuscripcion" | translate}}</label>
    <p-dropdown [filter]="true" styleClass="widthAll" [showClear]="true"
      placeholder="{{ 'general.boton.seleccionar' | translate }}" [(ngModel)]='filtrosServicios.tipoSuscripcion'
      [options]="tiposSuscripcionItems">
    </p-dropdown>
  </div>

</div>

<!-- Botones -->
<div class="card-footer">
  <div class="text-right main-button">
    <button pButton type="button" icon="fa fa-eraser" iconPos="left" label="{{ 'general.boton.clear' | translate}}"
      (click)="limpiar()">
    </button>

    <button pButton type="button" icon="fa fa-search" iconPos="left" label="{{'general.boton.search' | translate}}"
      (click)="buscar()">
    </button>

    <button (click)="nuevo()" *ngIf="isLetrado == false" pButton type="button" icon="fa fa-plus" iconPos="left" label="Nuevo"></button>
  </div>
</div>