<div *ngIf="tarjetaCertificados == '3' || tarjetaCertificados == '2'" class="card">
  <div (click)="abreCierraFicha('certificados')" class="card-header header-ficha">
    <div *ngIf="!esFichaActiva('certificados')" class="form-row">
      <div class="col-lg-1 col-md-2">
        <div class="img-colegiado">
          <i class="fa fa-certificate icon-ficha"></i>
        </div>
      </div>
      <div class="col-lg-11 col-md-10">
        <div class="d-flex justify-content-start mb-1">
          <label class="mr-auto title-ficha">{{ "menu.certificados" | translate }}
          </label>
          <!-- <label class="registros-ficha">(0 registros)</label> -->
        </div>
        <div class="d-flex justify-content-between">
          <!-- <label>{{ "censo.consultaComponentesJuridicos.literal.descripcioncertificados" | translate }}:
              <span *ngIf="mostrarDatosCertificados">{{ DescripcionCertificado.descripcion }}</span>
            </label>

            <label>{{ "censo.consultaComponentesJuridicos.literal.fechaemision" | translate }}:
              <span *ngIf="mostrarDatosCertificados">{{ DescripcionCertificado.fechaEmision }}</span>
            </label> -->

          <label>{{ "censo.datosDireccion.literal.numero.certificados" | translate }}
            <span>{{ message }}</span>
          </label>
          <i *ngIf="!esFichaActiva('certificados')" class="fa fa-angle-down float-right"></i>
        </div>
      </div>
    </div>
    <div *ngIf="esFichaActiva('certificados')" class=" header-ficha-open d-flex justify-content-start align-items-center">
      <div class="img-colegiado">
        <i class="fa fa-certificate icon-ficha"></i>
      </div>
      <label class="title-ficha">{{ "menu.certificados" | translate }}</label>
      <i class="fa fa-angle-up ml-auto"></i>
    </div>
  </div>
  <!-- cuerpo -->

  <div *ngIf="esFichaActiva('certificados')" class="card-body card-body-ficha">
    <div class="row">
      <p-dataTable emptyMessage="{{ messageNoContent }}" [(selection)]="selectedDatosCertificados" pageLinks="4"
        dataKey="idSolicitud" [responsive]="true" selectionMode="multiple" #tableCertificados class="tabla-listado tableCertificados"
        [value]="datosCertificados" [sortOrder]="1" [paginator]="activarPaginacionCertificados()" paginatorPosition="both"
        [rows]="selectedItemCertificados">
        <p-column *ngFor="let col of colsCertificados" [sortable]="true" [field]="col.field" [header]="col.header | translate" filterPlaceholder="{{'general.boton.search' | translate}}"
          [filter]="true" filterMatchMode="contains">
          <ng-template let-datoH="rowData" pTemplate="body">
            <span *ngIf="setItalic(datoH)" [ngStyle]="{
                'font-style': 'italic',
                'font-weight': 'bold',
                'text-decoration': 'line-through'
              }">{{ datoH[col.field] }}</span>
            <span *ngIf="!setItalic(datoH)">{{ datoH[col.field] }}</span>
          </ng-template>
        </p-column>

        <ng-template pTemplate="paginatorLeft">
          <div class="mostrar d-flex text-right justify-content-end">
            <label class="pr-3 registros-totales">{{'informesycomunicaciones.plantillasenvio.ficha.mostrandoRegistros' | translate}} {{ tableCertificados.first
              + 1 }} al {{ tableCertificados.first + tableCertificados.rows }} {{ 'informesycomunicaciones.plantillasenvio.ficha.deUnTotalDe'
              | translate }} {{ tableCertificados.totalRecords }}</label>
            <!--
              <label class="pr-3 numSeleccionados">{{'agenda.fichaCalendario.tablaNotificaciones.mostrandoRegistros' | translate }}: {{numSelected}}</label>
            -->
            <label>{{ "general.message.mostrar" | translate }}</label>
            <p-dropdown [(ngModel)]="selectedItemCertificados" [options]="rowsPerPage" (onChange)="onChangeRowsPerPagesCertificados($event)"></p-dropdown>
            <label class="pl-1">
              {{ "cargaMasivaDatosCurriculares.numRegistros.literal" | translate }}
            </label>
          </div>
        </ng-template>
      </p-dataTable>
    </div>
    <br />
  </div>
</div>