<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>
<div *ngIf="progressSpinner" class="overlay-spinner">
  <div class="loader"></div>
</div>

<div class="form-row p-lg-3 p-md-3">

  <!-- No Facturable -->
  <div class="form-group-interlineado col-lg-3 col-md-3">
    <div class="d-flex align-items-baseline justify-content-between alineacionCheckboxes">
      <p-checkbox binary="true" label="No Facturable" [(ngModel)]="checkboxNoFacturable"
        (onChange)="onChangeNoFacturable()">
      </p-checkbox>
    </div>
  </div>

  <!-- Precio -->
  <div class="form-group-interlineado col-lg-3 col-md-3">
    <label>{{"form.busquedaCursos.literal.precio" | translate}}</label><span *ngIf="obligatorio">(*)</span>
    <input [disabled]="checkboxNoFacturable" DigitDecimaNumber type="text" class="form-control"
      [(ngModel)]='producto.valor' [ngClass]="{'camposObligatorios': aGuardar && obligatorio && producto.valor == ''}"
      pInputText>
  </div>

  <!-- IVA -->
  <div class="form-group-interlineado col-lg-3 col-md-3">
    <label>{{"facturacion.productos.iva" | translate}}</label><span *ngIf="obligatorio">(*)</span>
    <p-dropdown [disabled]="checkboxNoFacturable" [filter]="true" styleClass="widthAll" [showClear]="true"
      placeholder="{{ 'general.boton.seleccionar' | translate }}" [(ngModel)]='producto.idtipoiva'
      [ngClass]="{'camposObligatorios': aGuardar && obligatorio && producto.idtipoiva == null}"
      [options]="ivasNoDerogablesObject.combooItems">
    </p-dropdown>
  </div>

  <!-- Formas de pago aceptadas por internet -->
  <div *ngIf="esColegiado" class="form-group-interlineado col-lg-3 col-md-3 pb-lg-2 pb-md-2">
    <label>{{"facturacion.fichaproductos.formasdepago.pagointernet" | translate}}</label><span
      *ngIf="obligatorio && producto.solicitaralta == '1'">(*)</span>
    <p-multiSelect [disabled]="checkboxNoFacturable" [defaultLabel]="defaultLabelCombosMultiSelect" autoWidth="false"
      [options]="internetPayMethodsObject.combooItems" styleClass="widthAll" filterBy="label, labelSinTilde"
      [(ngModel)]='producto.formasdepagointernet'
      [ngClass]="{'camposObligatorios': aGuardar && obligatorio && (producto.formasdepagointernet == null || producto.formasdepagointernet.length == 0) && producto.solicitaralta == '1'}">
    </p-multiSelect>
  </div>

  <!-- Formas de pago aceptadas en secretaria -->
  <div class="form-group-interlineado col-lg-3 col-md-3">
    <label>{{"facturacion.fichaproductos.formasdepago.pagosecretaria" | translate}}</label><span
      *ngIf="obligatorio">(*)</span>
    <p-multiSelect [disabled]="checkboxNoFacturable" [defaultLabel]="defaultLabelCombosMultiSelect" autoWidth="false"
      [options]="secretaryPayMethodsObject.combooItems" styleClass="widthAll" filterBy="label, labelSinTilde"
      [(ngModel)]='producto.formasdepagosecretaria'
      [ngClass]="{'camposObligatorios': aGuardar && obligatorio && (producto.formasdepagosecretaria == null || producto.formasdepagosecretaria.length == 0)}">
    </p-multiSelect>
  </div>
</div>

<!-- Botones -->
<div class="card-footer">
  <div class="text-right main-button">
    <!-- Restablecer -->
    <button (click)="restablecer()" pButton type="button" icon="fa fa-undo" iconPos="left"
      label="{{'general.boton.restablecer' | translate}}"></button>
    <!-- Guardar -->
    <button (click)="guardar()" pButton type="button" icon="far fa-save" iconPos="left"
      label="{{ 'general.boton.guardar' | translate}}"></button>
  </div>
</div>