<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>
<div class="ficha-container">
  <div class="card">
    <div class="card-header header-ficha" (click)="abreCierraFicha()">
      <div *ngIf="!openFicha" class="form-row">
        <div class="col-lg-1 col-md-2">
          <div class="img-colegiado">
            <i class="fas fa-users icon-ficha"></i>
          </div>
        </div>
        <div class="col-lg-11 col-md-10">
          <div class="d-flex justify-content-start mb-1">
            <label class="mr-auto title-ficha">{{'enviosMasivos.literal.destinatarios' | translate}}</label>
          </div>
          <div class="d-flex justify-content-between">
            <label>Nº etiquetas existentes:
              <span *ngIf="etiquetasNoSeleccionadas">{{etiquetasNoSeleccionadas.length}}</span>
            </label>
            <label>Nº etiquetas seleccionadas:
              <span *ngIf="etiquetasSeleccionadas">{{etiquetasSeleccionadas.length}}</span>
            </label>
            <i *ngIf="!openFicha" class="fa fa-angle-down float-right"></i>
          </div>
        </div>
      </div>
      <div *ngIf="openFicha" class=" header-ficha-open d-flex justify-content-start align-items-center">
        <div class="img-colegiado">
          <i class="fas fa-users icon-ficha"></i>
        </div>
        <label class="title-ficha">{{'enviosMasivos.literal.destinatarios' | translate}}</label>
        <i class="fa fa-angle-up ml-auto"></i>
      </div>
    </div>
    <!--tarjetas destinatario-->
    <div *ngIf="openFicha" class=" card-body card-body-ficha">
      <p-pickList [source]="etiquetasNoSeleccionadas" [target]="etiquetasSeleccionadas"
        sourceHeader="{{'enviosMasivos.literal.etiquetasExistentes' | translate}}"
        targetHeader="{{'enviosMasivos.literal.etiquetasSeleccionadas' | translate}}" [responsive]="true"
        filterBy="label" dragdrop="true" dragdropScope="etiquetasSeleccionadas"
        sourceFilterPlaceholder="{{'enviosMasivos.literal.buscarEtiqueta' | translate}}"
        targetFilterPlaceholder="Buscar etiqueta" [showSourceControls]="false" [showTargetControls]="false"
        [sourceStyle]="{ 'height': '300px'} " [targetStyle]="{ 'height': '300px'}">
        <ng-template let-item pTemplate="item">
          <div>{{item.label}}</div>
        </ng-template>
      </p-pickList>
    </div>
    <div *ngIf="openFicha" class="card-footer ">
      <div class="text-right main-button ">
        <button (click)="restablecer()" pButton type="button" icon="fa fa-undo" iconPos="left"
          label="{{ 'general.boton.restablecer' | translate}}"></button>
        <button (click)="guardar()" [disabled]="noEditar" pButton type="button" icon="far fa-save" iconPos="left"
          label="{{ 'general.boton.guardar' | translate}}"></button>
      </div>
    </div>
  </div>
</div>


<div *ngIf="progressSpinner " class="overlay-spinner">
  <div class="loader "></div>
</div>