.form-group-date textarea, .form-group textarea {
    display: block;
    width: 100%;
    height: 70px;
    margin-top: 0.33em;
}
.form-group-date, .form-group,.prueba {
    margin-top: auto;
}

.enlace {
    color: #0000EE !important
  }