<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>

<div>
  <app-tabla-simple [cabeceras]="cabeceras2" [elementos]="elementos2" (anySelected)="notifyAnySelected($event)">
  </app-tabla-simple>
</div>

<div class="card-footer">
  <div class="text-right main-button">
    <button pButton type="button" icon="fa fa-download" iconPos="left" label="Descargar Exp." [disabled]="isDisabled"
      (click)="showMsg('success', 'Se ha descargado correctamente', '')"></button>
  </div>
</div>