<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>

<div class="header-title">
  <i class="fa fa-square"></i>
  <p>{{'menu.justiciaGratuita' | translate}}
    <i class="fa fa-angle-right"></i>{{ 'menu.justiciaGratuita.GuardiaMenu' | translate}}
    <i class="fa fa-angle-right"></i>{{ 'menu.productosYServicios.solicitudes' | translate}}
  </p>
</div>
<div class="card">
  <div class="card-body">

    <!-- CAMPOS COMPONEN FILTROS BUSQUEDA-->
    <div  class="module vista-avanzada">

      <!--Primera fila-->
      <div class="form-row">

        <div class="col-lg-3 col-md-6" style="display: flex; gap: 5%;">
          <!--Tipo-->
          <div class="form-group-interlineado" style="flex: 1 1 auto;">
            <label>{{'censo.nuevaSolicitud.tipoSolicitud'|translate}} (*)</label>
            <span style="display: flex; justify-content: center; padding-top: 0.3em;">
              <span style="margin-right: 1em;">
                <p-radioButton [(ngModel)]='selectedTipo' name="tipoSol" value="0" (click)="reviewEstado()"
                      label="{{'sjcs.oficio.solicitudes.tipo.alta'|translate}}"></p-radioButton>
              </span>
              <span></span>
              <span>
                <p-radioButton [(ngModel)]='selectedTipo' name="tipoSol" value="1" (click)="reviewEstado()"
                      label="{{'sjcs.oficio.solicitudes.tipo.baja'|translate}}"></p-radioButton>
              </span>
            </span>
          </div>
          <!--Tipo-->

          <!--Estado-->
          <div class="form-group-interlineado" style="flex: 1 1 auto;">
            <label>{{'censo.fichaIntegrantes.literal.estado'|translate}}</label>
            <p-multiSelect *ngIf="!selectedTipo" class="select-form" disabled=true placeholder="Seleccionar" styleClass="widthAll" 
              defaultLabel="{{ 'general.boton.seleccionar' | translate}}"></p-multiSelect>
            <p-multiSelect *ngIf="selectedTipo == '0'" class="select-form" [(ngModel)]='selectedEstado' placeholder="Seleccionar" [options]="comboEstadosAlta"
              [filter]="true" [disabled]="!selectedTipo" maxSelectedLabels="10" filterBy="label,labelSinTilde" selectionLimit="10" styleClass="widthAll"
              defaultLabel="{{ 'general.boton.seleccionar' | translate}}"></p-multiSelect>
            <p-multiSelect *ngIf="selectedTipo == '1'" class="select-form" [(ngModel)]='selectedEstado' placeholder="Seleccionar" [options]="comboEstadosBaja"
              [filter]="true" [disabled]="!selectedTipo" maxSelectedLabels="10" filterBy="label,labelSinTilde" selectionLimit="10" styleClass="widthAll"
              defaultLabel="{{ 'general.boton.seleccionar' | translate}}"></p-multiSelect>
          </div>
          <!--Estado-->
        </div>
        
        <div class="col-lg-3 col-md-6" style="display: flex; gap: 5%;">
          <!-- Fecha desde -->
          <div class="form-group-interlineado" style="flex: 1 1 auto;">
            <label>{{ 'censo.busquedaSolicitudesTextoLibre.literal.fechaDesde' | translate }}
            </label>
            <app-fecha [(value)]="filtros.fechadesde" (valueChangeInput)="fillFechaDesdeCalendar($event)" (valueChangeSelected)="fillFechaDesdeCalendar($event)"></app-fecha>
          </div>
          <!-- Fecha desde -->

          <!-- Fecha hasta -->
          <div class="form-group-interlineado" style="flex: 1 1 auto;">
            <label>{{ 'censo.busquedaSolicitudesTextoLibre.literal.fechaHasta' | translate }}
            </label>
            <app-fecha [(value)]="filtros.fechahasta" [disabled]="disabledFechaHasta" [minDate]="filtros.fechadesde" (valueChangeInput)="fillFechaHastaCalendar($event)" (valueChangeSelected)="fillFechaHastaCalendar($event)"></app-fecha>
          </div>
          <!-- Fecha hasta -->
        </div>        

      <!--Turno-->
        <div class="form-group-interlineado col-lg-3 col-md-6">
          <label>{{'menu.justiciaGratuita.oficio.comboturno'|translate}}</label>
          <p-multiSelect class="select-form" (onChange)="onChangeTurno()" [(ngModel)]='filtros.idturno' placeholder="Seleccionar" [options]="turnos"
            [filter]="true" filterBy="label,labelSinTilde" maxSelectedLabels="10" selectionLimit="10" styleClass="widthAll" 
            defaultLabel="{{ 'general.boton.seleccionar' | translate}}"></p-multiSelect>
        </div>
      <!--Turno-->

      <!--Guardia-->
      <div class="form-group-interlineado col-lg-3 col-md-6">
        <label>{{'menu.justiciaGratuita.GuardiaMenu' | translate }}</label>
        <p-multiSelect class="select-form" [(ngModel)]='filtros.idguardia' placeholder="Seleccionar" [options]="guardias"
          [filter]="true" filterBy="label,labelSinTilde" maxSelectedLabels="10" selectionLimit="10" styleClass="widthAll" 
          defaultLabel="{{ 'general.boton.seleccionar' | translate}}"  [disabled]="disabledguardia"></p-multiSelect>
      </div>
      <!--Guardia-->

      <!-- A Fecha de -->
      <!--  <div class="form-group-interlineado col-lg-3 col-md-2">
          <label>{{ 'justiciaGratuita.oficio.turnos.mostrarinscripciones' | translate }}
          </label>
          <app-fecha [(value)]="filtros.afechade"   (valueChangeInput)="fillAfechaDeCalendar($event)" (valueChangeSelected)="fillAfechaDeCalendar($event)"></app-fecha>
        </div>
      -->
      <!-- A Fecha de -->

      </div>
      <!--Acaba la Primera fila-->

    </div>
    <p (click)="onHideDatosGenerales()" class="title-module">{{ "justiciaGratuita.justiciables.literal.colegiado" | translate}}
      <i *ngIf="showDatosGenerales" class="fa fa-angle-up float-right"></i>
      <i *ngIf="!showDatosGenerales" class="fa fa-angle-down float-right"></i>
    </p>
    <div *ngIf="showDatosGenerales" class="module vista-avanzada">
      <div class="form-row">
        <div class="form-group col-lg-12 col-md-12">
          <app-busqueda-colegiado-express [pantalla]="'inscripciones'" [numColegiado]="usuarioBusquedaExpress.numColegiado" [nombreAp]="usuarioBusquedaExpress.nombreAp" (colegiado)="changeColegiado($event)"></app-busqueda-colegiado-express>
        </div>
      </div>
    </div>
    
    <!--     <div class="module vista-avanzada">
      <div class="form-row">      
        <div class="form-group-interlineado col-lg-6 col-md-6">
          <app-busqueda-colegiado-express [pantalla]="'inscripciones'" [numColegiado]="usuarioBusquedaExpress.numColegiado" [nombreAp]="usuarioBusquedaExpress.nombreAp" (colegiado)="changeColegiado($event)"></app-busqueda-colegiado-express>
        </div>            
      </div>   
    </div> -->
  </div>
  <div class="card-footer">

    <!-- BOTONES TARJETA -->
    <div class="text-right main-button">
      <button (click)="clearFilters()" pButton type="button" icon="fa fa-eraser" iconPos="left" label="{{ 'general.boton.clear' | translate}}"></button>
      <button (click)="isBuscar()" pButton type="button" icon="fa fa-search" iconPos="left" label="{{ 'general.boton.search' | translate }}"></button>
      <!--<button (click)="newInscripcion()" [disabled]="permisos" pButton type="button" icon="fa fa-plus" iconPos="left" label="{{ 'general.boton.new' | translate}}"></button>-->
      <button (click)="newInscripcion()" pButton type="button" icon="fa fa-plus" iconPos="left" label="{{ 'general.boton.new' | translate}}" [disabled]="!permisos || desactivarNuevo"></button>

    </div>
  </div>
</div>


<div *ngIf="progressSpinner" class="overlay-spinner">
  <div class="loader"></div>
</div>