<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>

<div class="header-title">
  <i class="fa fa-square"></i>
  <p>{{'menu.justiciaGratuita' | translate}}
    <i class="fa fa-angle-right"></i>{{ 'menu.justiciaGratuita.GuardiaMenu' | translate}}
    <i class="fa fa-angle-right"></i>{{ 'formacion.fichaCurso.inscripciones.cabecera' | translate}}
  </p>
</div>
<div class="card">
  <div class="card-body">

    <!-- CAMPOS COMPONEN FILTROS BUSQUEDA-->
    <div  class="module vista-avanzada">

      <!--Primera fila-->
      <div class="form-row">

      <!--Estado-->
        <div class="form-group-interlineado col-lg-3 col-md-3">
          <label>{{'censo.fichaIntegrantes.literal.estado'|translate}}</label>
          <p-multiSelect class="select-form" [(ngModel)]='filtros.estado' placeholder="Seleccionar" [options]="comboEstados"
            [filter]="true" [disabled]="disabledestado" maxSelectedLabels="10" filterBy="label,labelSinTilde" selectionLimit="10" styleClass="widthAll"
            defaultLabel="{{ 'general.boton.seleccionar' | translate}}"></p-multiSelect>
        </div>
      <!--Estado-->

      <!--Turno-->
        <div class="form-group-interlineado col-lg-3 col-md-3">
          <label>{{'menu.justiciaGratuita.oficio.comboturno'|translate}}</label>
          <p-multiSelect class="select-form" (onChange)="onChangeTurno()" [(ngModel)]='filtros.idturno' placeholder="Seleccionar" [options]="turnos"
            [filter]="true" filterBy="label,labelSinTilde" maxSelectedLabels="10" selectionLimit="10" styleClass="widthAll" 
            defaultLabel="{{ 'general.boton.seleccionar' | translate}}"></p-multiSelect>
        </div>
      <!--Turno-->

      <!--Guardia-->
      <div class="form-group-interlineado col-lg-3 col-md-3">
        <label>{{'menu.justiciaGratuita.GuardiaMenu' | translate }}</label>
        <p-multiSelect class="select-form" [(ngModel)]='filtros.idguardia' placeholder="Seleccionar" [options]="guardias"
          [filter]="true" filterBy="label,labelSinTilde" maxSelectedLabels="10" selectionLimit="10" styleClass="widthAll" 
          defaultLabel="{{ 'general.boton.seleccionar' | translate}}"  [disabled]="disabledguardia"></p-multiSelect>
      </div>
    <!--Guardia-->


      <!-- A Fecha de -->
        <div class="form-group-interlineado col-lg-3 col-md-2">
          <label>{{ 'justiciaGratuita.oficio.turnos.mostrarinscripciones' | translate }}
          </label>
          <app-fecha [(value)]="filtros.afechade" (valueChangeInput)="fillAfechaDeCalendar($event)" (valueChangeSelected)="fillAfechaDeCalendar($event)"></app-fecha>
        </div>
      <!-- A Fecha de -->

      </div>
      <!--Acaba la Primera fila-->

    </div>
    <div class="module vista-avanzada">

      <!--Segunda Fila-->
      <div class="form-row">

      <!--Colegiado-->
        <div class="form-group-interlineado col-lg-6 col-md-6">
          <app-busqueda-colegiado-express [pantalla]="'inscripciones'" [numColegiado]="usuarioBusquedaExpress.numColegiado" [nombreAp]="usuarioBusquedaExpress.nombreAp" (colegiado)="changeColegiado($event)"></app-busqueda-colegiado-express>
        </div>
      <!--Colegiado-->

      <!-- Fecha desde -->
        <div class="form-group-interlineado col-lg-3 col-md-3">
          <label>{{ 'censo.busquedaSolicitudesTextoLibre.literal.fechaDesde' | translate }}
          </label>
          <app-fecha [(value)]="filtros.fechadesde" (valueChangeInput)="fillFechaDesdeCalendar($event)" (valueChangeSelected)="fillFechaDesdeCalendar($event)"></app-fecha>
        </div>
      <!-- Fecha desde -->

      <!-- Fecha hasta -->
        <div class="form-group-interlineado col-lg-3 col-md-3">
          <label>{{ 'censo.busquedaSolicitudesTextoLibre.literal.fechaHasta' | translate }}
          </label>
          <app-fecha [(value)]="filtros.fechahasta" [disabled]="disabledFechaHasta" [minDate]="filtros.fechadesde" (valueChangeInput)="fillFechaHastaCalendar($event)" (valueChangeSelected)="fillFechaHastaCalendar($event)"></app-fecha>
        </div>
      <!-- Fecha hasta -->
      </div>
     <!-- Termina la Segunda Fila-->

    </div>
  </div>
  <div class="card-footer">

    <!-- BOTONES TARJETA -->
    <div class="text-right main-button">
      <button (click)="clearFilters()" pButton type="button" icon="fa fa-eraser" iconPos="left" label="{{ 'general.boton.clear' | translate}}"></button>
      <button (click)="isBuscar()" pButton type="button" icon="fa fa-search" iconPos="left" label="{{ 'general.boton.search' | translate }}"></button>
      <!--<button (click)="newInscripcion()" [disabled]="permisos" pButton type="button" icon="fa fa-plus" iconPos="left" label="{{ 'general.boton.new' | translate}}"></button>-->
      <button (click)="newInscripcion()" pButton type="button" icon="fa fa-plus" iconPos="left" label="{{ 'general.boton.new' | translate}}" [disabled]="!permisos || desactivarNuevo"></button>

    </div>
  </div>
</div>


<div *ngIf="progressSpinner" class="overlay-spinner">
  <div class="loader"></div>
</div>