.card-header * {
    cursor: pointer;
  }
  
  .ui-growl-message-info .ui-growl-item {
    color: white !important;
    background-color: #33a1ff !important;
  }
  
  .ui-growl-message-success .ui-growl-item {
    color: white !important;
    background-color: #28a745 !important;
  }
  
  .ui-growl-message-warn .ui-growl-item {
    color: white !important;
    background-color: #ffc107 !important;
  }
  
  .ui-growl-message-error .ui-growl-item {
    color: white !important;
    background-color: #dc3545 !important;
  }
  