<div class="ficha-comunicacion-container">
  <div class="header-title">
    <i class="fa fa-square"></i>
    <p>{{'menu.justiciaGratuita' | translate}}
      <i class="fa fa-angle-right"></i>{{'menu.justiciaGratuita.maestros' | translate}}
      <i class="fa fa-angle-right"></i>{{ 'menu.justiciaGratuita.maestros.gestionprocedimientos' | translate}}
    </p>
  </div>
  <div>
    <app-edicion-modulos [modulosItem]="modulosItem" (modoEdicionSend)="modoEdicionSend($event)"></app-edicion-modulos>
    <app-tabla-acreditaciones [idProcedimiento]="idProcedimiento" [modoEdicion]="modoEdicion"></app-tabla-acreditaciones>
  </div>
</div>
<div class="mt-3 text-right main-button ">
  <button (click)="backTo()" pButton type="button" icon="fa fa-angle-left" iconPos="left" label="{{ 'general.boton.volver' | translate }}"></button>
</div>