<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>
<div class="row w-100 m-0">

  <div class="padding-interior w-100">
    <app-paginador [type]="'TOP'"></app-paginador>
  </div>

  <div class="col-md-12 col-lg-12 p-0">
    <app-tabla-resultado [cabeceras]="cabeceras" [elementos]="elementos" [elementosAux]="elementosAux">
    </app-tabla-resultado>
  </div>

  <div class="padding-interior w-100">
    <app-paginador [type]="'BOTTOM'"></app-paginador>
  </div>

</div>

<div class="card-footer">
  <div class="text-right main-button">
    <button pButton type="button" icon="fa fa-download" iconPos="left" label="Descargar EEJ"
      (click)="showMsg('success', 'Se ha descargado correctamente', '')"></button>
    <button pButton type="button" icon="" iconPos="left" label="Solicitar EEJ"
      (click)="showMsg('success', 'Se ha solicitado correctamente', '')"></button>
    <button pButton type="button" icon="fa fa-comment" iconPos="left" label="Comunicar"
      (click)="showMsg('success', 'Se ha comunicado correctamente', '')"></button>
    <button pButton type="button" icon="fa fa-history" iconPos="left" label="Mostrar Histórico"
      (click)="showMsg('success', 'Se ha mostrado el histórico correctamente', '')"></button>
    <button pButton type="button" icon="fa fa-trash-alt" iconPos="left" label="Eliminar"
      (click)="showMsg('success', 'Se ha eliminado correctamente', '')"></button>
    <button pButton type="button" icon="fa fa-plus" iconPos="left" label="Nuevo"></button>
  </div>
</div>