<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>
<div class="ficha-container">
  <!--DATOS GENERALES-->
  <div id="infoYComuConFicConDatosGen">
    <div class="card">
      <div class="card-header header-ficha">
        <div *ngIf="!openFicha" class="form-row">
          <div class="col-lg-1 col-md-2">
            <div class="img-colegiado" (click)="abreCierraFicha()">
              <i class="fas fa-align-left icon-ficha"></i>
            </div>
          </div>
          <div class="col-lg-11 col-md-10">
            <div class="d-flex justify-content-start mb-1 pointer" (click)="abreCierraFicha()">
              <label 
                class="mr-auto title-ficha">{{ "general.message.datos.generales" | translate}}</label>
            </div>
            <div class="d-flex justify-content-between">
              <label>{{'administracion.parametrosGenerales.literal.modulo' | translate}}:
                <span>{{body.modulo}}</span>
              </label>
              <label>{{'administracion.parametrosGenerales.literal.nombre' | translate}}:
                <span>{{body.nombre}}</span>
              </label>
              <i (click)="abreCierraFicha()" *ngIf="!openFicha" class="fa fa-angle-down float-right"></i>
            </div>
          </div>
        </div>
        <div *ngIf="openFicha" (click)="abreCierraFicha()" class=" header-ficha-open d-flex justify-content-start align-items-center">
          <div class="img-colegiado" (click)="abreCierraFicha()">
            <i class="fas fa-align-left icon-ficha"></i>
          </div>
          <label (click)="abreCierraFicha()"
            class="title-ficha">{{ "general.message.datos.generales" | translate}}</label>
          <i (click)="abreCierraFicha()" class="fa fa-angle-up ml-auto"></i>
        </div>
      </div>
      <!--cuerpo datos generales-->
      <div *ngIf="openFicha" class="card-body card-body-ficha">
        <div class="row">
          <div class="col-lg-8 col-md-8">
            <div class="form-row">
              <div class="form-group col-lg-6 col-md-6">
                <label>{{'administracion.parametrosGenerales.literal.modulo' | translate}} (*)</label>
                <p-dropdown [ngClass]="styleObligatorio(body.idModulo)" [filter]="true" [showClear]="true"
                  filterBy="label,labelSinTilde" placeholder="{{ 'general.boton.seleccionar' | translate }}"
                  [options]="modulos" [(ngModel)]="body.idModulo" class="select-form"
                  (onChange)="cargaComboClaseCom($event)" [disabled]="editMode"></p-dropdown>
              </div>
              <div class="form-group col-lg-6 col-md-6">
                <label>{{'administracion.parametrosGenerales.literal.nombre' | translate}} (*)</label>
                <input [ngClass]="styleObligatorio(body.nombre)" type="text" class="form-control" (ngModelChange)="onlyCheckDatos()"
                  [(ngModel)]="body.nombre" [disabled]="editMode" pInputText>
              </div>
            </div>
            <div class="form-row d-flex align-items-start">
              <div class="form-group col-lg-4 col-md-4">
                <label>{{'informesycomunicaciones.consultas.objetivo' | translate}} (*)</label>
                <p-dropdown [ngClass]="styleObligatorio(body.idObjetivo)"
                  placeholder="{{ 'general.boton.seleccionar' | translate }}" [filter]="true" [showClear]="true"
                  filterBy="label,labelSinTilde" (onChange)="onChangeObjetivo()" [options]="objetivos"
                  [(ngModel)]="body.idObjetivo" class="select-form" [disabled]="editMode"></p-dropdown>
              </div>
              <div class="form-group col-lg-2 col-md-2">
                <label class="d-block">{{'informesycomunicaciones.consultas.generica' | translate}}</label>
                <p-radioButton [(ngModel)]="generica" [disabled]="institucionActual != 2000 " name="groupname" value="N"
                  label="No" (onClick)="body.generica = 'N'"></p-radioButton>
                <p-radioButton [(ngModel)]="generica" [disabled]="institucionActual != 2000 " class="mr-2 mt-auto"
                  name="groupname" value="S" label="Sí" (onClick)="body.generica = 'S'"></p-radioButton>
              </div>
              <div class="form-group col-lg-6 col-md-6">
                <label>{{ 'comunicaciones.literal.claseComunicaciones' | translate }}</label>
                <p-dropdown placeholder="{{ 'general.boton.seleccionar' | translate }}" [filter]="true" [showClear]="true"
                  filterBy="label,labelSinTilde" [filter]="true" filterBy="label,labelSinTilde"
                  [options]="clasesComunicaciones" [(ngModel)]="body.idClaseComunicacion" class="select-form"
                  [disabled]="editMode"></p-dropdown>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 pl-0">
            <div class="form-row">
              <div class="form-group col-lg-12 col-md-12">
                <label>{{'general.description' | translate}} (*)</label>
                <textarea [ngClass]="styleObligatorio(body.descripcion)" pInputTextarea style="height:90px"
                  autoResize="autoResize" [(ngModel)]="body.descripcion" [disabled]="editMode" (ngModelChange)="onlyCheckDatos()"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-lg-12 col-md-12">
            <p-radioButton [(ngModel)]="constructorConsultaExperta" name="usoConstructorConsultaExperta" value="constructor"
                    label="Utilizar Constructor***" (onClick)="constructorConsultaExperta = 'constructor'; emitUsoConstructorConsultaExperta()"></p-radioButton>
            <p-radioButton [(ngModel)]="constructorConsultaExperta" class="mr-2 mt-auto"
                    name="usoConstructorConsultaExperta" value="consultaExperta" label="Utilizar Consulta experta***" (onClick)="constructorConsultaExperta = 'consultaExperta'; emitUsoConstructorConsultaExperta()"></p-radioButton>
          </div>
        </div>
      </div>
      <div *ngIf="openFicha" class="card-footer ">
        <div class="text-right main-button ">
          <button [disabled]="!editar || !activaRestablecer()" (click)="restablecer()" pButton type="button"
            icon="fa fa-undo" iconPos="left" label="{{ 'general.boton.restablecer' | translate}}"></button>
          <button [disabled]="!editar" (click)="checkDatos()" pButton type="button" icon="far fa-save" iconPos="left"
            label="{{ 'general.boton.guardar' | translate}}"></button>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="progressSpinner" class="overlay-spinner">
  <!--<p-progressSpinner animationDuration="1s"></p-progressSpinner>-->
  <div class="loader"></div>
</div>