<div id="facSJCSFichaBarConfiFac">

    <div class="card">

        <div class="card-header header-ficha">

            <!-- <div *ngIf="!showTarjeta" class="form-row">

                <div class="col-lg-1 col-md-2">
                    <div class="img-colegiado" (click)="onHideTarjeta()">
                        <i class="fa fa-user icon-ficha"></i>
                    </div>
                </div>

                <div class="col-lg-11 col-md-10">
                    <div class="d-flex justify-content-start mb-1" (click)="onHideTarjeta()">
                        <label class="mr-auto title-ficha">{{ 'facturacionSJCS.baremosDeGuardia.confiFac' | translate }}
                        </label>
                    </div>
                    <div class="d-flex justify-content-between">
                        <label>{{ 'facturacionSJCS.retenciones.tipoDeRetencion' | translate }}:
                            <span>A</span>
                        </label>
                        <i *ngIf="!showTarjeta" class="fa fa-angle-down float-right" (click)="onHideTarjeta()"></i>
                    </div>
                </div>

            </div> -->

            <div *ngIf="showTarjeta" class="header-ficha-open d-flex justify-content-start align-items-center"
                (click)="onHideTarjeta()">
                <div class="img-colegiado">
                    <i class="fa fa-user icon-ficha"></i>
                </div>
                <label class="title-ficha">{{ 'facturacionSJCS.baremosDeGuardia.confiFac' | translate }} </label>
                <i class="fa fa-angle-up ml-auto"></i>
            </div>

        </div>

        <div *ngIf="showTarjeta" class="card-body card-body-ficha">

            <div class="row">

                <div class="bloque col-lg-6 col-md-6 col-sm-6 py-2 pl-2">
                    <div class="form-row">
                        <div class="form-group col-lg-12 col-md-12">
                            <p-checkbox [(ngModel)]="disponibilidad" name="porDispo" label="Por disponibilidad" class="ml-0"></p-checkbox>
                        </div>
                        <div class="form-group col-lg-6 col-md-6">
                            <p-checkbox [(ngModel)]="agruparDis" name="agrupar1" label="Agrupar" class="ml-0"></p-checkbox>
                        </div>
                        <div class="form-group col-lg-6 col-md-6">
                            <p-checkbox [(ngModel)]="checkDisL" (onChange)="onChangeDias($event,'L')" value="L" name="L" #LDis binary = "true" label="L" checked = "false"></p-checkbox>
                            <p-checkbox [(ngModel)]="checkDisM" (onChange)="onChangeDias($event,'M')" value="M" name="M" #MDis binary = "true" label="M" checked = "false"></p-checkbox>
                            <p-checkbox [(ngModel)]="checkDisX" (onChange)="onChangeDias($event,'X')" value="X" name="X" #XDis binary = "true" label="X" checked = "false"></p-checkbox>
                            <p-checkbox [(ngModel)]="checkDisJ" (onChange)="onChangeDias($event,'J')" value="J" name="J" #JDis binary = "true" label="J" checked = "false"></p-checkbox>
                            <p-checkbox [(ngModel)]="checkDisV" (onChange)="onChangeDias($event,'V')" value="V" name="V" #VDis binary = "true" label="V" checked = "false"></p-checkbox>
                            <p-checkbox [(ngModel)]="checkDisS" (onChange)="onChangeDias($event,'S')" value="S" name="S" #SDis binary = "true" label="S" checked = "false"></p-checkbox>
                            <p-checkbox [(ngModel)]="checkDisD" (onChange)="onChangeDias($event,'D')" value="D" name="D" #DDis binary = "true" label="D" checked = "false"></p-checkbox>
                        </div>
                        <div class="form-group col-lg-6 col-md-6">
                            <p-radioButton [(ngModel)]="contAsiDis" label="Contando Asistencias"></p-radioButton>
                        </div>
                        <div class="form-group col-lg-6 col-md-6">
                            <p-radioButton [(ngModel)]="contAcDis" label="Contando Actuaciones"></p-radioButton>
                        </div>
                        <div class="form-group col-lg-6 col-md-6">
                            <label>Importe</label>
                            <input type="number" [(value)]="filtrosDis.importeDis" class="form-control" />
                        </div>
                        <div class="form-group col-lg-6 col-md-6"></div>
                        <div class="form-group col-lg-6 col-md-6">
                            <label>Disponibilidad con asuntos</label>
                            <input type="number"  [(value)]="filtrosDis.dispAsuntos" class="form-control" />
                        </div>
                        <div class="form-group col-lg-6 col-md-6">
                            <label>A partir de</label>
                            <input type="number"  [(value)]="filtrosDis.aPartirDis" class="form-control" />
                        </div>
                        <div class="form-group col-lg-6 col-md-6">
                            <label>Máximo</label>
                            <input type="number"  [(value)]="filtrosDis.importeMaxDis" class="form-control" />
                        </div>
                        <div class="form-group col-lg-6 col-md-6">
                            <label>A partir de</label>
                            <input type="number"  [(value)]="filtrosDis.aPartirMax" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="bloque col-lg-6 col-md-6 col-sm-6">
                    <div class="form-row">
                        <div class="form-group col-lg-12 col-md-12">
                            <p-checkbox name="porAsisActu" [(ngModel)]="asiac" label="Por asistencia / actuaciones" class="ml-0">
                            </p-checkbox>
                        </div>
                        <div class="form-group col-lg-6 col-md-6">
                            <p-checkbox [(ngModel)]="agruparAsAc" name="agrupar1" label="Agrupar" class="ml-0"></p-checkbox>
                        </div>
                        <div class="form-group col-lg-6 col-md-6">
                            <p-checkbox [(ngModel)]="checkAsAcL" (onChange)="onChangeDias($event,'L')" value="L" #LAsAc binary = "true" name="L" label="L" checked = "false"></p-checkbox>
                            <p-checkbox [(ngModel)]="checkAsAcM" (onChange)="onChangeDias($event,'M')" value="M" #MAsAc binary = "true" name="M" label="M" checked = "false"></p-checkbox>
                            <p-checkbox [(ngModel)]="checkAsAcX" (onChange)="onChangeDias($event,'X')" value="X" #XAsAc binary = "true" name="X" label="X" checked = "false"></p-checkbox>
                            <p-checkbox [(ngModel)]="checkAsAcJ" (onChange)="onChangeDias($event,'J')" value="J" #JAsAc binary = "true" name="J" label="J" checked = "false"></p-checkbox>
                            <p-checkbox [(ngModel)]="checkAsAcV" (onChange)="onChangeDias($event,'V')" value="V" #VAsAc binary = "true" name="V" label="V" checked = "false"></p-checkbox>
                            <p-checkbox [(ngModel)]="checkAsAcS" (onChange)="onChangeDias($event,'S')" value="S" #SAsAc binary = "true" name="S" label="S" checked = "false"></p-checkbox>
                            <p-checkbox [(ngModel)]="checkAsAcD" (onChange)="onChangeDias($event,'D')" value="D" #DAsAc binary = "true" name="D" label="D" checked = "false"></p-checkbox>
                        </div>
                        <div class="form-group col-lg-6 col-md-6">
                            <p-radioButton [(ngModel)]="contAsiAsAc" label="Contando Asistencias"></p-radioButton>
                        </div>
                        <div class="form-group col-lg-6 col-md-6">
                            <p-radioButton [(ngModel)]="contAcAsAc" label="Contando Actuaciones"></p-radioButton>
                        </div>
                        <div class="form-group col-lg-6 col-md-6">
                            <p-radioButton [(ngModel)]="precioUnico" label="Precio Único"></p-radioButton>
                        </div>
                        <div class="form-group col-lg-6 col-md-6">
                            <p-radioButton [(ngModel)]="precioTipos" label="Precio por tipos"></p-radioButton>
                        </div>
                        <div class="form-group col-lg-6 col-md-6">
                            <label>Importe</label>
                            <input type="number"  [(value)]="filtrosAsAc.importeAsAc" class="form-control" />
                        </div>
                        <div class="form-group col-lg-6 col-md-6 verticalAlign">
                            <a>Ir a tipos</a>
                        </div>
                        <div class="form-group col-lg-6 col-md-6">
                            <label>Mínimo</label>
                            <input type="number"  [(value)]="filtrosAsAc.importeMinAsAc" class="form-control" />
                        </div>
                        <div class="form-group col-lg-6 col-md-6">
                            <label>Máximo</label>
                            <input type="number"  [(value)]="filtrosAsAc.importeMaxAsAc" class="form-control" />
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>