  .borderBottom {
    border-bottom: 1px solid black;
  }

  .h100 {
    height: 100%;
  }

  .w100 {
    width: 100%;
  }

  .w50 {
    width: 50%;
  }

  .inline {
    display: inline-block
  }

  .inputWidth {
    width: 350px;
  }

  .flexCenter {
    display: flex;
    align-items: flex-end;
  }

  ::ng-deep {

    #buscadAsisExpr {

      .mat-expansion-panel {
        box-shadow: none !important;
      }

      .mat-expansion-panel-header {
        padding-right: 0px !important;
        padding-left: 0px !important;
        border-bottom: 1px solid black;
      }

      .mat-expansion-panel-body {
        padding-left: 0px !important;
        padding-right: 0px !important;
      }

      div.mat-expansion-panel-content {
        margin-top: 0.5rem !important;
      }

    }

  }
  .camposObligatorios{
    border-color: red !important;
  }

  .camposObligatorios > div{
    border-color: red !important;
  }

  
  .camposObligatorios div{
    border-color: red !important;
  }

  .camposObligatorios > input{
    border-color: red !important;
  }

  .camposObligatorios > div .ui-multiselect{
    border: 1px solid red !important;
  }

  .ui-inputtext .camposObligatorios{
    border: 1px solid red !important;
  }