<div class="ficha-comunicacion-container">
  <div class="header-title">
    <i class="fa fa-square"></i>
    <p>{{'menu.justiciaGratuita' | translate}}
      <i class="fa fa-angle-right"></i>{{'menu.justiciaGratuita.maestros' | translate }}
      <i class="fa fa-angle-right"></i>{{'menu.facturacionSJCS.mantenimientoGestionComisarias'|translate}}
    </p>
  </div>
  <div>
    <app-tarjeta-resumen-fija *ngIf="permisoEscrituraResumen != undefined" [titulo]="titulo" [datos]="infoResumen" [icono]="clipboard"></app-tarjeta-resumen-fija>

    <app-datos-generales-guardias *ngIf="permisoEscrituraDatosGenerales != undefined" [permisoEscritura]="permisoEscrituraDatosGenerales"
      [modoEdicion]="modoEdicion" (modoEdicionSend)="modoEdicionSend($event)"></app-datos-generales-guardias>

    <app-datos-calendarios-guardias *ngIf="permisoEscrituraConfCalen != undefined" [permisoEscritura]="permisoEscrituraConfCalen"
      [modoEdicion]="modoEdicion"></app-datos-calendarios-guardias>

    <app-datos-conf-cola *ngIf="permisoEscrituraConfCola != undefined" [permisoEscritura]="permisoEscrituraConfCola" [modoEdicion]="modoEdicion"
      (modoEdicionSend)="modoEdicionSend($event)"></app-datos-conf-cola>

    <app-datos-cola-guardia *ngIf="permisoEscrituraColaGuardia != undefined" [permisoEscritura]="permisoEscrituraColaGuardia"
      [modoEdicion]="modoEdicion"></app-datos-cola-guardia>

    <app-datos-incompatibilidades *ngIf="permisoEscrituraIncomp != undefined" [modoEdicion]="modoEdicion"></app-datos-incompatibilidades>

    <app-datos-baremos *ngIf="permisoEscrituraBaremos != undefined" [modoEdicion]="modoEdicion"></app-datos-baremos>

    <app-calendarios *ngIf="permisoEscrituraCalen != undefined"></app-calendarios>

    <app-datos-incripciones-guardias *ngIf="permisoEscrituraInscripciones != undefined" [modoEdicion]="modoEdicion"></app-datos-incripciones-guardias>

    <app-datos-turno-guardias *ngIf="permisoEscrituraTurno != undefined" [modoEdicion]="modoEdicion"></app-datos-turno-guardias>
  </div>
</div>
<div class="mt-3 text-right main-button ">
  <button (click)="backTo()" pButton type="button" icon="fa fa-angle-left" iconPos="left" label="{{ 'general.boton.volver' | translate }}"></button>
</div>

<div *ngIf="progressSpinner" class="overlay-spinner">
  <div class="loader"></div>
</div>