:host{
    background-color: black;
}

/*div.ui-menubar p-menubarsub li.ui-menu-parent p-menubarsub.ui-submenu ul.ui-submenu-list li.ui-menu-parent p-menubarsub{
    position: relative!important;
}*/

/*div.ui-menubar p-menubarsub li.ui-menu-parent p-menubarsub.ui-submenu ul.ui-submenu-list li.ui-menu-parent p-menubarsub ul.ui-submenu-list{
    top:-36px!important;
}*/

