<div *ngIf="progressSpinner" class="overlay-spinner">
    <div class="loader"></div>
</div>

<div class="busqueda-container">
    <app-filtros-modulos [permisos]="permisoEscritura" (searchModulos)="searchModulos($event)"></app-filtros-modulos>
    <app-tabla-modulos *ngIf="isResult" [datos]="datos" [permisos]="permisoEscritura" (searchModulos)="searchModulos($event)"></app-tabla-modulos>
</div>

<div class="mt-3 text-right main-button ">
    <button *ngIf="vieneDeFichaJuzgado" (click)="volver()" pButton type="button" icon="fa fa-angle-left" iconPos="left" label="{{ 'general.boton.volver' | translate }}"></button>
</div>