<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>

<div class="header-title">
  <i class="fa fa-square"></i>
  <p>{{'menu.justiciaGratuita' | translate}}
    <i class="fa fa-angle-right"></i>{{ 'menu.justiciaGratuita.TurnosOficio' | translate}}
    <i class="fa fa-angle-right"></i>{{ 'menu.justiciaGratuita.Turnos' | translate}}
  </p>
</div>
<div class="card">
  <div class="card-body">
    <p (click)="onHideDatosGenerales()" class="title-module"> {{'general.message.datos.generales' | translate}}
      <i *ngIf="showDatosGenerales" class="fa fa-angle-up float-right"></i>
      <i *ngIf="!showDatosGenerales" class="fa fa-angle-down float-right"></i>
    </p>

    <!-- CAMPOS COMPONEN FILTROS BUSQUEDA-->
    <div *ngIf="showDatosGenerales" class="module vista-simple">
      <div class="form-row">
        <div class="form-group-interlineado col-lg-3 col-md-3">
          <label>{{ 'gratuita.definirTurnosIndex.literal.abreviatura' | translate}}</label>
          <input type="text" name="abreviatura" value="" class="box" class="form-control" [(ngModel)]='filtros.abreviatura' 
          maxLength="200" pInputText>
        </div>
        <div class="form-group-interlineado col-lg-3 col-md-3">
          <label>{{ 'administracion.parametrosGenerales.literal.nombre' | translate}}</label>
          <input type="text" name="nombre" value="" class="box" class="form-control" [(ngModel)]='filtros.nombre' maxLength="100"
            pInputText>
        </div>
        <div class="form-group-interlineado col-lg-3 col-md-3">
          <label>{{ 'menu.justiciaGratuita.maestros.Area' | translate}}</label>
          
          <p-multiSelect #someDropdown1 [defaultLabel]="textFilter" autoWidth="false" [(ngModel)]='filtros.idarea'
          [options]="areas" maxSelectedLabels="10" selectionLimits="10" [selectedItemsLabel]="textSelected"
          styleClass="widthAll" (onChange)="onChangeArea()" [filter]="true" filterBy="label,labelSinTilde" ></p-multiSelect>
        </div>
        <div class="form-group-interlineado col-lg-3 col-md-3">
          <label>{{ 'menu.justiciaGratuita.maestros.Materia' | translate}}</label>
          
          <p-multiSelect #someDropdown2 [defaultLabel]="textFilter" autoWidth="false" [(ngModel)]='filtros.idmateria'
          [options]="materias" maxSelectedLabels="10" selectionLimits="10" [selectedItemsLabel]="textSelected" [(disabled)]="isDisabledMateria"
          styleClass="widthAll" [filter]="true" filterBy="label,labelSinTilde" ></p-multiSelect>
        </div>
        <div class="form-group-interlineado col-lg-3 col-md-3">
          <label>{{'justiciaGratuita.maestros.zonasYSubzonas.grupoZona.cabecera'|translate}}</label>
          <p-multiSelect #someDropdown3 [defaultLabel]="textFilter" autoWidth="false" [(ngModel)]='filtros.idzona'
          [options]="zonas" maxSelectedLabels="10" (onChange)="onChangeZona()" [selectedItemsLabel]="textSelected"
          styleClass="widthAll" [filter]="true" filterBy="label,labelSinTilde"  ></p-multiSelect>
        </div>

        <div class="form-group-interlineado col-lg-3 col-md-3">
          <label>{{'justiciaGratuita.maestros.zonasYSubzonas.zona'|translate}}</label>
          <p-multiSelect #someDropdown4 [defaultLabel]="textFilter" autoWidth="false" [(ngModel)]='filtros.idsubzona'
          [options]="subzonas" maxSelectedLabels="10" selectionLimits="10" (onChange)="partidoJudiciales()"[selectedItemsLabel]="textSelected"
          styleClass="widthAll" [filter]="true" [(disabled)]="isDisabledSubZona" filterBy="label,labelSinTilde" ></p-multiSelect>
        
        </div>

        <div class="form-group-interlineado col-lg-3 col-md-3">
          <label>{{ 'agenda.fichaEvento.tarjetaGenerales.partidoJudicial' | translate}}</label>
          <input type="text" name="nombre" [placeholder]="partidoJudicial" class="box" class="form-control" [(ngModel)]='filtros.idpartido'
            pInputText maxLength="200" disabled="true" pInputText>
        </div>

        <div class="form-group-interlineado col-lg-3 col-md-3">
          <label>{{'menu.justiciaGratuita.maestros.Jurisdiccion'|translate}}</label>
          
            <p-multiSelect #someDropdown5 [defaultLabel]="textFilter" autoWidth="false" [(ngModel)]='filtros.jurisdiccion'
          [options]="jurisdicciones" maxSelectedLabels="10" selectionLimits="10" [selectedItemsLabel]="textSelected"
          styleClass="widthAll" [filter]="true" filterBy="label,labelSinTilde" ></p-multiSelect>
        
        </div>

        <div class="form-group-interlineado col-lg-3 col-md-3">
          <label>{{'menu.justiciaGratuita.maestros.partidas'|translate}}</label>
          <p-multiSelect #someDropdown6 [defaultLabel]="textFilter" autoWidth="false" [(ngModel)]='filtros.idpartidapresupuestaria'
          [options]="partidas" maxSelectedLabels="10" selectionLimits="10" [selectedItemsLabel]="textSelected" 
          styleClass="widthAll" [filter]="true" filterBy="label,labelSinTilde" ></p-multiSelect>
        
        </div>

        <div class="form-group-interlineado col-lg-3 col-md-3">
          <label>{{'justiciaGratuita.oficio.turnos.grupofacturacion'|translate}}</label>
          
          <p-multiSelect #someDropdown7 [defaultLabel]="textFilter" autoWidth="false" [(ngModel)]='filtros.grupofacturacion'
          [options]="grupofacturacion" maxSelectedLabels="10" selectionLimits="10" [selectedItemsLabel]="textSelected"
          styleClass="widthAll" [filter]="true" filterBy="label,labelSinTilde" ></p-multiSelect>
        </div>

        <div class="form-group-interlineado col-lg-3 col-md-3">
          <label>{{'justiciaGratuita.oficio.turnos.tipoturno'|translate}}</label>
         <p-multiSelect #someDropdown8 [defaultLabel]="textFilter" autoWidth="false" [(ngModel)]='filtros.idtipoturno'
          [options]="tiposturno" maxSelectedLabels="10" selectionLimits="10" [selectedItemsLabel]="textSelected"
          styleClass="widthAll" [filter]="true" filterBy="label,labelSinTilde" ></p-multiSelect>
        <!-- [showClear]="true" -->
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <!-- BOTONES TARJETA -->
    <div class="text-right main-button">
      <button (click)="clearFilters()" pButton type="button" icon="fa fa-eraser" iconPos="left" label="{{ 'general.boton.clear' | translate}}"></button>
      <button (click)="isBuscar()" pButton type="button" icon="fa fa-search" iconPos="left" label="{{ 'general.boton.search' | translate }}"></button>
      <button (click)="newTurno()" [disabled]="!permisos" pButton type="button" icon="fa fa-plus" iconPos="left" label="{{ 'general.boton.new' | translate}}"></button>
    </div>
  </div>
</div>