<div id="fichaActuacionOficio">

  <div>

    <div id="top"></div>

    <app-migas-de-pan [rutas]="rutas"></app-migas-de-pan>

    <div class="tarjetaFija">

      <div class="card">
        <div class="card-body p-0">
          <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel [disabled]="true">
              <mat-expansion-panel-header class="h-100" [collapsedHeight]="'auto'" [expandedHeight]="'auto'">
                <app-tarjeta [image]="tarjetaFija.imagen" [cardTitle]="tarjetaFija.nombre" [campos]="tarjetaFija.campos"
                  [icon]="tarjetaFija.icono" [enlaces]="tarjetaFija.enlaces" [fixed]="tarjetaFija.fixed" class="w-100"
                  (isOpen)="isOpenReceive($event)">
                </app-tarjeta>
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
              </ng-template>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>

    </div>

    <div>

      <div *ngFor="let tarj of listaTarjetas; let i = index;">
        <div class="card" [id]="tarj.id">
          <div class="card-body p-0">
            <mat-accordion class="example-headers-align" multi>
              <mat-expansion-panel (opened)="tarj.opened = true" (closed)="tarj.opened = false"
                [disabled]="tarj.fixed || !tarj.detalle || (isNewActDesig && tarj.id != 'sjcsDesigActuaOfiDatosGen')"
                [expanded]="tarj.opened">
                <mat-expansion-panel-header class="h-100" [collapsedHeight]="'auto'" [expandedHeight]="'auto'">
                  <app-tarjeta [image]="tarj.imagen" [cardTitle]="tarj.nombre" [campos]="tarj.campos"
                    [icon]="tarj.icono" [enlaces]="tarj.enlaces" [cardOpenState]="tarj.opened" [fixed]="tarj.fixed"
                    class="w-100">
                  </app-tarjeta>
                </mat-expansion-panel-header>
                <ng-template matExpansionPanelContent>
                  <div *ngIf="tarj.nombre == 'Datos Generales'">
                    <app-tarjeta-datos-gen-ficha-act [actuacionDesigna]="actuacionDesigna" [isAnulada]="isAnulada"
                      [isColegiado]="isColegiado" [usuarioLogado]="usuarioLogado" [modoLectura2]="modoLectura"
                      [institucionActual]="institucionActual" (buscarActEvent)="getActuacionDesigna($event)">
                    </app-tarjeta-datos-gen-ficha-act>
                  </div>
                  <div *ngIf="tarj.nombre == 'Justificación'">
                    <app-tarjeta-jus-ficha-act [actuacionDesigna]="actuacionDesigna" [isColegiado]="isColegiado"
                      [usuarioLogado]="usuarioLogado" (isAnuladaEvent)="isAnulada = $event" [modoLectura2]="modoLectura"
                      (buscarActuacionEvent)="getActuacionDesigna($event)">
                    </app-tarjeta-jus-ficha-act>
                  </div>
                  <div *ngIf="tarj.nombre == 'Datos Facturación'">
                    <app-tarjeta-datos-fact-ficha-act [isAnulada]="isAnulada" [actuacionDesigna]="actuacionDesigna"
                      (buscarActEvent)="getActuacionDesigna($event)" [modoLectura2]="modoLectura">
                    </app-tarjeta-datos-fact-ficha-act>
                  </div>
                  <div *ngIf="tarj.nombre == 'Relaciones'">
                    <app-tarjeta-rel-ficha-act [relaciones]="relaciones">
                    </app-tarjeta-rel-ficha-act>
                  </div>
                  <div *ngIf="tarj.nombre == 'Histórico'">
                    <app-tarjeta-his-ficha-act [listaAcciones]="listaAcciones">
                    </app-tarjeta-his-ficha-act>
                  </div>
                  <div *ngIf="tarj.nombre == 'Documentación'">
                    <app-tarjeta-doc-ficha-act [actuacionDesigna]="actuacionDesigna" [documentos]="documentos"
                      (buscarDocumentosEvent)="getDocumentosPorActDesigna()" [usuarioLogado]="usuarioLogado"
                      [isColegiado]="isColegiado" [isAnulada]="isAnulada" [modoLectura2]="modoLectura">
                    </app-tarjeta-doc-ficha-act>
                  </div>
                </ng-template>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
      </div>

      <app-tarjeta-facturacion-generica [datosEntrada]="actuacionDesigna" [pantalla]="'ACTUACIONDESIGNA'"
        (guardarDatos)="guardarDatos()">
      </app-tarjeta-facturacion-generica>

    </div>

    <div class="mt-3 text-right main-button">
      <button (click)="backTo()" pButton type="button" icon="fa fa-angle-left" iconPos="left"
        label="{{ 'general.boton.volver' | translate}}"></button>
    </div>

    <div id="down"></div>

  </div>

</div>

<!-- Alertas -->
<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>
<!-- Alertas -->

<!-- Spinner -->
<div *ngIf="progressSpinner" class="overlay-spinner">
  <div class="loader"></div>
</div>
<!-- Spinner -->