.ui-growl-message-info .ui-growl-item {
  color: white !important;
  background-color: #33a1ff !important;
}

.ui-growl-message-success .ui-growl-item {
  color: white !important;
  background-color: #28a745 !important;
}

.ui-growl-message-warn .ui-growl-item {
  color: white !important;
  background-color: #ffc107 !important;
}

.ui-growl-message-error .ui-growl-item {
  color: white !important;
  background-color: #dc3545 !important;
}

.ui-multiselect .ui-multiselect-label {
  padding: 0.112em !important;
}

.ui-tooltip .ui-tooltip-text {
  white-space: pre-line !important;
}

.ui-tooltip-text.ui-shadow.ui-corner-all {
  background-color: white;
}

.ui-tooltip {
  max-width: 80%;
  box-shadow: none;
  .ui-tooltip-text {
    font-size: 0.8rem;
  }
}

.labelError {
  color: red;
  font-weight: bold;
}

.labelOK {
  color: green;
  font-weight: bold;
}

.card-header * {
  cursor: pointer;
}

.widthAll {
  width: 100%;
}
iframe {
  margin: 0 auto;
  border: none;
}


.mainFrameWrapper{
  height: 86vh;
  // height: 100%;
  #mainWorkArea{
    // min-height: 500px;
    height: 100%;
    width: 100%;
    display: block;
  }
}

@media screen and (max-width: 1200px){
  .mainFrameWrapper{
    height: 81vh;
  }

}

@media screen and (max-width: 768px){
  .mainFrameWrapper{            
    height: 81vh;
  }
}

@media screen and (max-width: 400px){
  .mainFrameWrapper{            
    height: 81vh;
  }
}