<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>

<div class="busqueda-container">
  <div class="header-title">
    <i class="fa fa-square"></i>
    <p>{{ 'menu.censo' | translate}}
      <i class="pl-1 fa fa-angle-right"></i>{{ 'menu.censo.fichaColegial' | translate}}
  </div>

  <!-- FICHA DATOS GENERALES -->
  <div class="card">
    <div class="card-header header-ficha" (click)="abreCierraFicha('generales')">
      <div *ngIf="!esFichaActiva('generales')" class="form-row">
        <div class="col-lg-1 col-md-2">
          <div class="img-colegiado">
            <i *ngIf="!existeImagen" class="fa fa-user icon-ficha"></i>
            <img *ngIf="existeImagen" [src]="imagenPersona" class="icon-ficha">
          </div>
        </div>
        <div class="col-lg-11 col-md-10">
          <div class="d-flex justify-content-start mb-1">
            <label class="mr-auto title-ficha">{{ "general.message.datos.generales" | translate}}</label>
            <!--<label class="registros-ficha">(0 registros)</label>-->
          </div>
          <div class="d-flex justify-content-between">
            <label>{{"censo.fichaCliente.literal.identificacion" | translate}}
              <span>{{generalBody.nif}}</span>
            </label>
            <label>{{"gratuita.mantenimientoTablasMaestra.literal.apellidos" | translate}}
              <span>{{generalBody.apellidos1}} {{generalBody.apellidos2}}</span>
            </label>
            <label>{{"administracion.parametrosGenerales.literal.nombre" | translate}}
              <span>{{generalBody.soloNombre}}</span>
            </label>
            <label>{{"censo.consultaDatosColegiacion.literal.fechaNac" | translate}}
              <span>{{generalBody.fechaNacimiento}}</span>
            </label>
            <i *ngIf="!esFichaActiva('generales')" class="fa fa-angle-down float-right"></i>
          </div>
        </div>
      </div>
      <div *ngIf="esFichaActiva('generales')" class=" header-ficha-open d-flex justify-content-start align-items-center">
        <div class="img-colegiado">
          <i *ngIf="!existeImagen" class="fa fa-user icon-ficha"></i>
          <img *ngIf="existeImagen" [src]="imagenPersona" class="icon-ficha">
        </div>
        <label class="title-ficha">{{ "general.message.datos.generales" | translate}}</label>
        <i class="fa fa-angle-up ml-auto"></i>
      </div>
    </div>
    <div *ngIf="esFichaActiva('generales')" class="card-body card-body-ficha">
      <div class="row">
        <div class="bloque col-lg-2 col-md-3 col-sm-3 p-2">
          <div class="img-colegiado text-center my-0 mx-auto">
            <i *ngIf="!existeImagen" class="fa fa-user" style="font-size:6.5rem;color:grey"></i>
            <img *ngIf="existeImagen" [src]="imagenPersona" class="imagenCentrada">
            <p-fileUpload #fubauto chooseLabel="" class="edit my-0 mx-auto main-button" [(disabled)]="isLetrado" mode="basic" name="file" auto="true" accept="image/*"
              (change)="uploadImage($event)" auto="true">
            </p-fileUpload>
          </div>
        </div>
        <div class="bloque col-lg-6 col-md-5 col-sm-5">
          <div class="form-row">
            <div class="form-group col-lg-6 col-md-6">
              <label>{{"censo.fichaCliente.literal.identificacion" | translate}} (*)</label>
              <input [(ngModel)]="generalBody.nif" type="text" [(disabled)]="isLetrado" class="form-control" (ngModelChange)="activacionGuardarGenerales()" pInputText>
              <div *ngIf="identificacionValida == false">
                <label class="labelError">{{"El documento es inválido"}}</label>
              </div>
            </div>
            <div class="form-group col-lg-6 col-md-6">
              <label>{{"censo.busquedaClientesAvanzada.literal.tipoCliente" | translate}} (*)</label>
              <p-dropdown class="select-form" [options]="tipoIdentificacion" [(disabled)]="isLetrado" placeholder="{{'general.boton.seleccionar' | translate}}"
                [(ngModel)]="generalBody.idTipoIdentificacion" (onChange)="activacionGuardarGenerales()"></p-dropdown>
            </div>
            <div class="form-group col-lg-6 col-md-6">
              <label>{{"administracion.parametrosGenerales.literal.nombre" | translate}} (*)</label>
              <input [(ngModel)]="generalBody.soloNombre" [(disabled)]="isLetrado" type="text" class="form-control" (ngModelChange)="activacionGuardarGenerales()"
                [maxLength]="100" pInputText>
            </div>
            <div class="form-group col-lg-6 col-md-6 form-group-date">
              <label>{{"censo.busquedaClientes.literal.apellido1" | translate}} (*)</label>
              <input [(ngModel)]="generalBody.apellidos1" type="text" [(disabled)]="isLetrado" class="form-control" [maxLength]="100" (ngModelChange)="activacionGuardarGenerales()"
                pInputText>
            </div>
            <div class="form-group col-lg-6 col-md-6 form-group-date">
              <label>{{"censo.busquedaClientes.literal.apellido2" | translate}}</label>
              <input [(ngModel)]="generalBody.apellidos2" [(disabled)]="isLetrado" (ngModelChange)="activacionGuardarGenerales()" dateFormat="dd/mm/yy" [style]="{ 'position': 'relative', 'z-index': '1000' }"
                type="text" class="form-control" pInputText>
            </div>
            <div class="form-group col-lg-6 col-md-6">
              <label>{{"censo.busquedaClientesAvanzada.literal.sexo" | translate}}</label>
              <!-- <input [(ngModel)]="generalBody.sexo" type="text" class="form-control" [maxLength]="99" pInputText> -->
              <p-dropdown class="select-form" [(ngModel)]='generalBody.sexo' [options]="comboSexo" [(disabled)]="isLetrado" (onChange)="activacionGuardarGenerales()"
                [filter]="true" filterBy="label,labelSinTilde"></p-dropdown>

            </div>

            <div class="form-group col-lg-6 col-md-6">
              <label>{{"censo.consultaDatosGenerales.literal.tratamiento" | translate}} (*)</label>
              <p-dropdown class="select-form" placeholder="{{'general.boton.seleccionar' | translate}}" [options]="generalTratamiento"
                [(ngModel)]="generalBody.idTratamiento" [(disabled)]="isLetrado" (onChange)="activacionGuardarGenerales()"></p-dropdown>
            </div>
            <!-- 
            <div class="form-group col-lg-6 col-md-6" [hidden]="esColegiado">
              <label>{{"censo.consultaDatosGenerales.literal.tratamiento" | translate}} (*)</label>

              <p-dropdown class="select-form" placeholder="{{'general.boton.seleccionar' | translate}}" [options]="generalTratamiento"
                [(ngModel)]="generalBody.tratamiento" (ngModelChange)="activacionGuardarGenerales()"></p-dropdown>
            </div> -->

            <div class="form-group col-lg-6 col-md-6">
              <label>{{"censo.consultaDatosColegiacion.literal.fechaNac" | translate}}</label>
              <p-calendar [monthNavigator]="true" [yearNavigator]="true" (onSelect)="onChangeCalendar($event)" yearRange="1930:2050" [locale]="es"
                [(ngModel)]="fechaNacimiento" (onSelect)="activacionGuardarGenerales()" [(disabled)]="isLetrado" dateFormat="dd/mm/yy" icon="far fa-calendar-alt"
                [utc]="true" showIcon="true"></p-calendar>
            </div>
            <div class="form-group col-lg-6 col-md-6">
              <label>{{"censo.consultaDatosGenerales.literal.edad" | translate}}</label>
              <input [(ngModel)]="edadCalculada" (ngModelChange)="activacionGuardarGenerales()" type="text" class="form-control" disabled
                pInputText>
            </div>

            <div class="form-group col-lg-6 col-md-6">
              <label>{{"censo.consultaDatosGenerales.literal.nacido" | translate}}</label>
              <input [(ngModel)]="generalBody.naturalDe" (ngModelChange)="activacionGuardarGenerales()" [(disabled)]="isLetrado" type="text" class="form-control"
                pInputText>
            </div>
            <div class="form-group col-lg-6 col-md-6">
              <label>{{"censo.consultaDatosGenerales.literal.estadoCivil" | translate}} </label>
              <p-dropdown class="select-form" (onChange)="activacionGuardarGenerales()" placeholder="{{'general.boton.seleccionar' | translate}}"
                [(ngModel)]="generalBody.idEstadoCivil" [(disabled)]="isLetrado" [options]="generalEstadoCivil"></p-dropdown>
            </div>

            <div class="form-check col-lg-6 col-md-6">
              <br>
              <label class="form-group-label">No publicar datos de contacto (antiguo LOPD)</label> &nbsp;&nbsp;
              <p-checkbox [(disabled)]="isLetrado" (onChange)="activacionGuardarGenerales()" [(ngModel)]='generalBody.publicarDatosContacto'
                binary="true"></p-checkbox>
            </div>
            <div class="form-check col-lg-6 col-md-6">
              <br>
              <label class="form-group-label">Comisiones</label> &nbsp;&nbsp;
              <p-checkbox [(disabled)]="isLetrado" (onChange)="activacionGuardarGenerales()" [(ngModel)]='comisiones' binary="true"></p-checkbox>
            </div>
            <div class="form-group col-lg-6 col-md-6">
              <!-- <label>{{"menu.administracion.gestionMultiidioma.etiquetasSociedad" | translate}}</label>
              <p-dropdown class="select-form" [(ngModel)]="generalBody.etiquetas" (onChange)="activacionGuardarGenerales()" placeholder="{{'general.boton.seleccionar' | translate}}"
                [options]="comboIdentificacion"></p-dropdown> -->
              <label>{{"menu.administracion.gestionMultiidioma.etiquetasSociedad" | translate}}
                <i class="fa fa-plus" style="color:grey" (click)="habilitarAutocompletar($event)"></i>
              </label>

              <br>
              <p-autoComplete #auto [(ngModel)]="etiquetasPersonaJuridicaSelecionados" [suggestions]="comboEtiquetas" (completeMethod)="filterLabelsMultiple($event)"
                [minLength]="1" field="label" [multiple]="true" (onSelect)="onSelect($event)" (onUnselect)="onUnselect($event)"
                [disabled]="!autocompletar" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}">
                <ng-template let-etiquetasPersonaJuridicaSelecionados pTemplate="selectedItem">
                  <div *ngIf="etiquetasPersonaJuridicaSelecionados.backgroundColor != ''" class="ui-autocomplete-multiple-container ui-widget ui-inputtext ui-corner-all ng-star-inserted li"
                    [ngStyle]="{'background': etiquetasPersonaJuridicaSelecionados.backgroundColor}" (click)="onClick($event, etiquetasPersonaJuridicaSelecionados)">
                    {{ etiquetasPersonaJuridicaSelecionados.label }}
                  </div>
                </ng-template>
              </p-autoComplete>
            </div>
          </div>
        </div>
        <!-- info adicional -->
        <div class="bloque col-lg-4 col-md-4">
          <div class="form-row">
            <div class="form-group col-lg-12 col-md-12" [hidden]="!esColegiado">
              <label>{{"censo.fichaCliente.situacion.cabecera" | translate}}</label>
              <p-dropdown class="select-form" [options]="comboSituacion"   [(disabled)]="isLetrado" (onSelect)="activacionGuardarGenerales()" placeholder="{{'general.boton.seleccionar' | translate}}"
                [(ngModel)]="generalBody.situacion"></p-dropdown>
            </div>
            <div class="form-group col-lg-12 col-md-12" [hidden]="!esColegiado">
              <label>{{"administracion.usuarios.literal.fechaAlta" | translate}} (*)</label>
              <p-calendar [monthNavigator]="true"  [yearNavigator]="true" yearRange="1930:2050" [locale]="es" [(disabled)]="!esNewColegiado || isLetrado"
                [(ngModel)]="fechaAlta" dateFormat="dd/mm/yy" icon="far fa-calendar-alt" showIcon="true" [utc]="true" (onSelect)="activacionGuardarGenerales()"></p-calendar>
            </div>
            <div class="form-group col-lg-12 col-md-12">
              <label>{{"censo.fichaCliente.situacion.idiomaPref" | translate}} (*)</label>
              <p-dropdown class="select-form" [options]="generalIdiomas" (onChange)="activacionGuardarGenerales()" placeholder="{{'general.boton.seleccionar' | translate}}"
                [(ngModel)]="generalBody.idLenguaje"></p-dropdown>
            </div>
            <div class="form-group col-lg-12 col-md-12">
              <label>{{"censo.consultaDatosGenerales.literal.cuentaContable" | translate}}</label>
              <input type="text " class="form-control " [(disabled)]="isLetrado" (ngModelChange)="activacionGuardarGenerales()" [(ngModel)]="generalBody.asientoContable"
                [maxLength]="19" pInputText>
            </div>
            <div class="form-check col-lg-6 col-md-6">
              <br>
              <label class="form-group-label">{{"censo.consultaDatosGenerales.literal.publicidad" | translate}}</label> &nbsp;&nbsp;
              <p-checkbox (onChange)="activacionGuardarGenerales()" [(ngModel)]='publicidad' binary="true"></p-checkbox>
            </div>
            <div class="form-check col-lg-6 col-md-6">
              <br>
              <label class="form-group-label">{{"censo.consultaDatosGenerales.literal.guiaJudicial" | translate}}</label> &nbsp;&nbsp;
              <p-checkbox (onChange)="activacionGuardarGenerales()" [(ngModel)]='guiaJudicial' binary="true"></p-checkbox>
            </div>
            <br>
            <div class="form-group col-lg-12 col-md-12" [hidden]="!esColegiado">
              <!-- <span> -->
              <!-- <button pButton type="button" disabled [pTooltip]="partidoJudicial" tooltipPosition="top">Provincias</button> -->
              <!-- <input type="text" disabled [pTooltip]="partidoJudicial" tooltipPosition="top" pInputText> -->
              <!-- </span> -->
              <div class="ayuda-btn">
                <label>Partido Judicial </label>
                <i class="fa fa-question" [pTooltip]="partidoJudicial" tooltipPosition="bottom"></i>
              </div> &nbsp;&nbsp;
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>

    <div *ngIf="esFichaActiva('generales')" class="card-footer ">
      <div class="text-right main-button ">
        <button (click)="restablecerGenerales()" [disabled]="!activacionRestablecerGenerales()"  pButton type="button" icon="fa fa-undo" iconPos="left" label="{{ 'general.boton.restablecer' | translate}}"></button>
        <button *ngIf="!isLetrado" (click)="generalesGuardar()" [(disabled)]="!activarGuardarGenerales" pButton type="button" icon="far fa-save" iconPos="left"
          label="{{ 'general.boton.guardar' | translate}}"></button>
        <button *ngIf="isLetrado" (click)="comprobarAuditoria()" [(disabled)]="!activarGuardarGenerales" pButton type="button" icon="fa fa-save" iconPos="left" label="{{ 'general.boton.solicitarModificacion' | translate}}"></button>
        <!-- <button *ngIf="isLetrado" (click)="comprobarAuditoria()" disabled pButton type="button" icon="fa fa-save" iconPos="left" label="{{ 'general.boton.guardar' | translate}}"></button> -->
      </div>
    </div>
  </div>

  <!--END DATOS GENERALES-->


















  <!-- FICHA DATOS COLEGIALES -->
  <div class="card" [hidden]="!esColegiado">
    <div class="card-header header-ficha" (click)="abreCierraFicha('colegiales')">
      <div *ngIf="!esFichaActiva('colegiales')" class="form-row">
        <div class="col-lg-1 col-md-2">
          <div class="img-colegiado">
            <i class="far fa-address-book icon-ficha"></i>
          </div>
        </div>
        <div class="col-lg-11 col-md-10">
          <div class="d-flex justify-content-start mb-1">
            <label class="mr-auto title-ficha">{{ "censo.consultaDatosColegiales.literal.cabecera" | translate}}</label>
            <!--<label class="registros-ficha">(0 registros)</label>-->
          </div>
          <div class="d-flex justify-content-between">
            <label>{{"censo.busquedaClientesAvanzada.literal.nColegiado" | translate}}
              <span>{{colegialesBody.numColegiado}}</span>
            </label>
            <label>{{"censo.fusionDuplicados.colegiaciones.inscrito" | translate}}
              <span>{{colegialesBody.inscrito}}</span>
            </label>
            <label>{{"censo.consultaDatosColegiales.literal.nMutualista" | translate}}
              <span>{{colegialesBody.nMutualista}}</span>
            </label>
            <label>{{"censo.consultaDatosGenerales.literal.fechaIncorporacion" | translate}}
              <span>{{colegialesBody.incorporacion}}</span>
            </label>
            <i *ngIf="!esFichaActiva('colegiales')" class="fa fa-angle-down float-right"></i>
          </div>
        </div>
      </div>
      <div *ngIf="esFichaActiva('colegiales')" class=" header-ficha-open d-flex justify-content-start align-items-center">
        <div class="img-colegiado">
          <i class="far fa-address-book icon-ficha"></i>
        </div>
        <label class="title-ficha">{{ "censo.consultaDatosColegiales.literal.cabecera" | translate}}</label>
        <i class="fa fa-angle-up ml-auto"></i>
      </div>
    </div>
    <!--cuerpo-->

    <div *ngIf="esFichaActiva('colegiales')" class="card-body card-body-ficha">
      <div class="row">
        <div class="bloque col-lg-12 col-md-12 col-sm-12">
          <div class="form-row">
            <div class="form-group col-lg-3 col-md-3">
              <label>{{"censo.busquedaClientesAvanzada.literal.nColegiado" | translate}}</label>
              <input [(ngModel)]="colegialesBody.numColegiado" [(disabled)]="isLetrado" (ngModelChange)="activacionGuardarColegiales()" type="text" class="form-control" pInputText>
              <div *ngIf="identificacionValida == false">
                <label class="labelError">{{"El documento es inválido"}}</label>
              </div>
            </div>
            <div class="form-group col-lg-3 col-md-3">
              <label>{{"censo.consultaDatosGenerales.literal.seguro" | translate}}</label>
              <p-dropdown class="select-form" [(disabled)]="isLetrado" (onChange)="activacionGuardarColegiales()" [(ngModel)]="colegialesBody.idTiposSeguro" placeholder="{{'general.boton.seleccionar' | translate}}"
                [options]="comboTipoSeguro"></p-dropdown>
            </div>
            <div class="form-group col-lg-3 col-md-3">
              <label>{{"censo.ws.literal.residenteInscrito" | translate}}</label>
              <!-- <input [(ngModel)]="colegialesBody.residenteInscrito" type="text"  (ngModelChange)="activacionGuardarColegiales()" class="form-control" [maxLength]="100" pInputText> -->
              <p-dropdown class="select-form"  (onChange)="activacionGuardarColegiales()" [(disabled)]="isLetrado" [(ngModel)]="inscritoSeleccionado" placeholder="{{'general.boton.seleccionar' | translate}}"
              [options]="comboResidente"></p-dropdown>
            </div>
            <div class="form-group col-lg-3 col-md-3 form-group-date">
              <label>{{"censo.consultaDatosColegiales.literal.nMutualista" | translate}}</label>
              <input [(ngModel)]="colegialesBody.nMutualista" type="text" class="form-control"  [(disabled)]="isLetrado" (ngModelChange)="activacionGuardarColegiales()"  [maxLength]="100" pInputText>
              <div *ngIf="!numMutualistaCheck()">
                <label class="labelError">Solo números</label>
              </div>
            </div>

            <div class="form-group col-lg-3 col-md-3">
              <label>{{"censo.consultaDatosGenerales.literal.fechaIncorporacion" | translate}}</label>
              <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="1930:2050" [locale]="es"  [(disabled)]="isLetrado"  (onSelect)="activacionGuardarColegiales()" [(ngModel)]="colegialesBody.incorporacion"
                dateFormat="dd/mm/yy" icon="far fa-calendar-alt" showIcon="true" [utc]="true"></p-calendar>
            </div>
            <div class="form-group col-lg-3 col-md-3">
              <label>{{"censo.consultaDatosGenerales.literal.fechaPresentacion" | translate}}</label>
              <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="1930:2050" [locale]="es"  [(disabled)]="isLetrado" (onSelect)="activacionGuardarColegiales()"  [(ngModel)]="colegialesBody.fechapresentacion"
                dateFormat="dd/mm/yy" icon="far fa-calendar-alt" showIcon="true" [utc]="true"></p-calendar>
            </div>
            <div class="form-group col-lg-3 col-md-3">
              <label>{{"censo.consultaDatosGenerales.literal.fechaJura" | translate}}</label>
              <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="1930:2050" [locale]="es"  [(disabled)]="isLetrado" (onSelect)="activacionGuardarColegiales()"  [(ngModel)]="colegialesBody.fechaJura"
                dateFormat="dd/mm/yy" icon="far fa-calendar-alt" showIcon="true" [utc]="true"></p-calendar>
            </div>
            <div class="form-group col-lg-3 col-md-3">
              <label>{{"censo.consultaDatosColegiales.literal.fechaTitulacion" | translate}}</label>
              <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="1930:2050" [locale]="es"  [(disabled)]="isLetrado"  (onSelect)="activacionGuardarColegiales()" [(ngModel)]="colegialesBody.fechaTitulacion"
                dateFormat="dd/mm/yy" icon="far fa-calendar-alt" showIcon="true" [utc]="true"></p-calendar>
            </div>
          </div>
        </div>

      </div>
      <br>
      <p-dataTable emptyMessage="{{ 'general.message.no.registros' | translate}}" pageLinks="4" [responsive]="true" #table class="tabla-listado"
        [value]="datosColegiales" [sortOrder]="1" [paginator]="activarPaginacionColegial()" paginatorPosition="both" [rows]="selectedItem">
        <p-column *ngFor="let col of colsColegiales" [sortable]="true " [field]="col.field" [header]="col.header | translate" filterPlaceholder="{{'general.boton.search' | translate}}"
          [filter]="true" filterMatchMode="contains">
          <ng-template let-datoH="rowData" pTemplate="body">
            <span *ngIf="setItalic(datoH)" [ngStyle]="{'font-style': 'italic', 'font-weight':'bold', 'text-decoration':'line-through'}">{{datoH[col.field]}}</span>
            <span *ngIf="!setItalic(datoH)">{{datoH[col.field]}}</span>
          </ng-template>
        </p-column>



        <ng-template pTemplate="paginatorLeft">
          <div class="mostrar d-flex text-right justify-content-end">
            <label class="pr-3 registros-totales">Mostrando registros del {{table.first + 1}} al {{table.first + table.rows}} de un total de {{table.totalRecords}}</label>
            <!-- <label class="pr-3 numSeleccionados">Seleccionados: {{numSelected}}</label> -->
          </div>
        </ng-template>
      </p-dataTable>
    </div>

    <div *ngIf="esFichaActiva('colegiales')" class="card-footer ">
      <div class="text-right main-button ">
        <button [(disabled)]="!activarGuardarColegiales" (click)="restablecerColegiales()" pButton type="button" icon="fa fa-undo" iconPos="left" label="{{ 'general.boton.restablecer' | translate}}"></button>
        <button *ngIf="!isLetrado" (click)="guardarColegiales()" [(disabled)]="!activarGuardarColegiales" pButton type="button" icon="far fa-save" iconPos="left" label="{{ 'general.boton.guardar' | translate}}"></button>
        <button *ngIf="isLetrado" (click)="guardarColegiales()" disabled pButton type="button" icon="far fa-save" iconPos="left" label="{{ 'general.boton.guardar' | translate}}"></button>
      </div>
    </div>
  </div>
  <!-- END DATOS COLEGIALES -->

























  <!-- FICHA OTRAS COLEGIACIONES -->
  <div class="card" [hidden]="!esColegiado">
    <div class="card-header header-ficha" (click)="abreCierraFicha('colegiaciones')">
      <div *ngIf="!esFichaActiva('colegiaciones')" class="form-row">
        <div class="col-lg-1 col-md-2">
          <div class="img-colegiado">
            <i class="fa fa-graduation-cap icon-ficha"></i>
          </div>
        </div>
        <div class="col-lg-11 col-md-10">
          <div class="d-flex justify-content-start mb-1">
            <label class="mr-auto title-ficha">{{ "censo.consultaDatosColegiacion.literal.otrasColegiaciones" | translate}}</label>
            <!-- <label class="registros-ficha">(0 registros)</label> -->

          </div>
          <div class="d-flex justify-content-between">
            <label class="registros-ficha">Número total de Colegiaciones:
              <span>{{ datosColegiaciones.length }}</span>
            </label>
            <i *ngIf="!esFichaActiva('colegiaciones')" class="fa fa-angle-down float-right"></i>
          </div>
        </div>
      </div>
      <div *ngIf="esFichaActiva('colegiaciones')" class=" header-ficha-open d-flex justify-content-start align-items-center">
        <div class="img-colegiado">
          <i class="fa fa-graduation-cap icon-ficha"></i>
        </div>
        <label class="title-ficha">{{ "censo.consultaDatosColegiacion.literal.otrasColegiaciones" | translate}}</label>
        <i class="fa fa-angle-up ml-auto"></i>
      </div>
    </div>
    <!--cuerpo-->

    <div *ngIf="esFichaActiva('colegiaciones')" class="card-body card-body-ficha">
      <div class="row">
        <p-dataTable emptyMessage="{{ 'general.message.no.registros' | translate}}" pageLinks="4" dataKey="movil" [responsive]="true"
          #table class="tabla-listado" [value]="datosColegiaciones" [sortOrder]="1" [paginator]="activarPaginacionOtrasColegiaciones()"
          paginatorPosition="both" [rows]="selectedItem">
          <p-column *ngFor="let col of colsColegiaciones" [sortable]="true " [field]="col.field" [header]="col.header | translate"
            filterPlaceholder="{{'general.boton.search' | translate}}" [filter]="true" filterMatchMode="contains">
            <ng-template let-datoH="rowData" pTemplate="body">
              <span *ngIf="setItalic(datoH)" [ngStyle]="{'font-style': 'italic', 'font-weight':'bold', 'text-decoration':'line-through'}">{{datoH[col.field]}}</span>
              <span *ngIf="!setItalic(datoH)">{{datoH[col.field]}}</span>
            </ng-template>
          </p-column>

          <ng-template pTemplate="paginatorLeft">
            <div class="mostrar d-flex text-right justify-content-end">
              <label class="pr-3 registros-totales">Mostrando registros del {{table.first + 1}} al {{table.first + table.rows}} de un total de {{table.totalRecords}}</label>
              <!-- <label class="pr-3 numSeleccionados">Seleccionados: {{numSelected}}</label> -->
              <label>{{ "general.message.mostrar" | translate}}</label>
              <p-dropdown [(ngModel)]="selectedItem" [options]="rowsPerPage" (onChange)="onChangeRowsPerPages($event)"></p-dropdown>
              <label class="pl-1"> {{"cargaMasivaDatosCurriculares.numRegistros.literal" | translate}}</label>

            </div>
          </ng-template>
        </p-dataTable>

      </div>
      <br>

    </div>

    <div *ngIf="esFichaActiva('colegiaciones')" class="card-footer ">

    </div>
  </div>

  <!-- END FICHA OTRAS COLEGIACIONES -->






























  <!-- FICHA CERTIFICADOS -->
  <div class="card">
    <div class="card-header header-ficha" (click)="abreCierraFicha('certificados')">
      <div *ngIf="!esFichaActiva('certificados')" class="form-row">
        <div class="col-lg-1 col-md-2">
          <div class="img-colegiado">
            <i class="fa fa-certificate icon-ficha"></i>
          </div>
        </div>
        <div class="col-lg-11 col-md-10">
          <div class="d-flex justify-content-start mb-1">
            <label class="mr-auto title-ficha">{{ "menu.certificados" | translate}}</label>
            <!-- <label class="registros-ficha">(0 registros)</label> -->

          </div>
          <div class="d-flex justify-content-between">
            <div class="d-flex justify-content-between">
              <label>Número total de Certificados:
                <span>{{ datosCertificados.length }}</span>
              </label>

            </div>
            <i *ngIf="!esFichaActiva('certificados')" class="fa fa-angle-down float-right"></i>
          </div>
        </div>
      </div>
      <div *ngIf="esFichaActiva('certificados')" class=" header-ficha-open d-flex justify-content-start align-items-center">
        <div class="img-colegiado">
          <i class="fa fa-certificate icon-ficha"></i>
        </div>
        <label class="title-ficha">{{ "menu.certificados" | translate}}</label>
        <i class="fa fa-angle-up ml-auto"></i>
      </div>
    </div>
    <!--cuerpo-->

    <div *ngIf="esFichaActiva('certificados')" class="card-body card-body-ficha">
      <div class="row">
        <p-dataTable emptyMessage="{{ 'general.message.no.registros' | translate}}" [(selection)]="selectedDatos" pageLinks="4" dataKey="idSolicitud"
          [responsive]="true" selectionMode="multiple" #table class="tabla-listado" [value]="datosCertificados" [sortOrder]="1"
          [paginator]="activarPaginacionCertificados()" paginatorPosition="both" [rows]="selectedItem" (onRowSelect)="redireccionarCerts(selectedDatos)">
          <p-column *ngFor="let col of colsCertificados" [sortable]="true " [field]="col.field" [header]="col.header | translate" filterPlaceholder="{{'general.boton.search' | translate}}"
            [filter]="true" filterMatchMode="contains">
            <ng-template let-datoH="rowData" pTemplate="body">
              <span *ngIf="setItalic(datoH)" [ngStyle]="{'font-style': 'italic', 'font-weight':'bold', 'text-decoration':'line-through'}">{{datoH[col.field]}}</span>
              <span *ngIf="!setItalic(datoH)">{{datoH[col.field]}}</span>
            </ng-template>
          </p-column>

          <ng-template pTemplate="paginatorLeft">
            <div class="mostrar d-flex text-right justify-content-end">
              <label class="pr-3 registros-totales">Mostrando registros del {{table.first + 1}} al {{table.first + table.rows}} de un total de {{table.totalRecords}}</label>
              <!-- <label class="pr-3 numSeleccionados">Seleccionados: {{numSelected}}</label> -->
              <label>{{ "general.message.mostrar" | translate}}</label>
              <p-dropdown [(ngModel)]="selectedItem" [options]="rowsPerPage" (onChange)="onChangeRowsPerPages($event)"></p-dropdown>
              <label class="pl-1"> {{"cargaMasivaDatosCurriculares.numRegistros.literal" | translate}}</label>

            </div>
          </ng-template>
        </p-dataTable>
      </div>
      <br>
    </div>
    <div *ngIf="esFichaActiva('certificados')" class="card-footer ">
    </div>
  </div>

  <!-- END FICHA CERTIFICADOS -->
































  <!-- FICHA SOCIEDADES -->
  <div class="card">
    <div class="card-header header-ficha" (click)="abreCierraFicha('sociedades')">
      <div *ngIf="!esFichaActiva('sociedades')" class="form-row">
        <div class="col-lg-1 col-md-2">
          <div class="img-colegiado">
            <i class="fa fa-briefcase icon-ficha"></i>
          </div>
        </div>
        <div class="col-lg-11 col-md-10">
          <div class="d-flex justify-content-start mb-1">
            <label class="mr-auto title-ficha">{{ "censo.fichaColegial.titulo" | translate}}</label>
            <!-- <label class="registros-ficha">(0 registros)</label> -->

          </div>
          <div class="d-flex justify-content-between">
            <div class="d-flex justify-content-between">
              <label>Número total de Sociedades:
                <span>{{ sociedadesBody.busquedaJuridicaItems.length }}</span>
              </label>
            </div>
            <i *ngIf="!esFichaActiva('sociedades')" class="fa fa-angle-down float-right"></i>
          </div>
        </div>
      </div>
      <div *ngIf="esFichaActiva('sociedades')" class=" header-ficha-open d-flex justify-content-start align-items-center">
        <div class="img-colegiado">
          <i class="fa fa-briefcase icon-ficha"></i>
        </div>
        <label class="title-ficha">{{ "censo.fichaColegial.titulo" | translate}}</label>
        <i class="fa fa-angle-up ml-auto"></i>
      </div>
    </div>
    <div *ngIf="esFichaActiva('sociedades')" class="card-body card-body-ficha">
      <div class="row">
        <p-dataTable emptyMessage="{{ 'general.message.no.registros' | translate}}" [(selection)]="selectedDatos" pageLinks="4" dataKey="idDireccion"
          [responsive]="true" selectionMode="multiple" #table class="tabla-listado" [value]="datosSociedades" [sortOrder]="1"
          [paginator]="activarPaginacionSociedades()" paginatorPosition="both" [rows]="selectedItem" (onRowSelect)="redireccionarSociedades(selectedDatos)">
          <p-column *ngFor="let col of colsSociedades" [sortable]="true " [field]="col.field" [header]="col.header | translate" filterPlaceholder="{{'general.boton.search' | translate}}"
            [filter]="true" filterMatchMode="contains">
          </p-column>

          <ng-template pTemplate="paginatorLeft">
            <div class="mostrar d-flex text-right justify-content-end">
              <label class="pr-3 registros-totales">Mostrando registros del {{table.first + 1}} al {{table.first + table.rows}} de un total de {{table.totalRecords}}</label>
              <label>{{ "general.message.mostrar" | translate}}</label>
              <p-dropdown [(ngModel)]="selectedItem" [options]="rowsPerPage" (onChange)="onChangeRowsPerPages($event)"></p-dropdown>
              <label class="pl-1"> {{"cargaMasivaDatosCurriculares.numRegistros.literal" | translate}}</label>
            </div>
          </ng-template>
        </p-dataTable>
      </div>
      <br>
    </div>
    <div *ngIf="esFichaActiva('sociedades')" class="card-footer">
      <div class="text-right main-button ">

      </div>
    </div>
  </div>

  <!-- END FICHA SOCIEDADES -->


























  <!-- FICHA DATOS CURRICULARES -->
  <div class="card">
    <div class="card-header header-ficha" (click)="abreCierraFicha('curriculares')">
      <div *ngIf="!esFichaActiva('curriculares')" class="form-row">
        <div class="col-lg-1 col-md-2">
          <div class="img-colegiado">
            <i class="fa fa-paperclip icon-ficha"></i>
          </div>
        </div>
        <div class="col-lg-11 col-md-10">
          <div class="d-flex justify-content-start mb-1">
            <label class="mr-auto title-ficha">{{ "censo.consultaDatosCV.cabecera" | translate}}</label>
            <!-- <label class="registros-ficha">(0 registros)</label> -->

          </div>
          <div class="d-flex justify-content-between">
            <div class="d-flex justify-content-between">
              <label>Número total de Datos:
                <span>{{ datosCurriculares.length }}</span>

              </label>

            </div>
            <i *ngIf="!esFichaActiva('curriculares')" class="fa fa-angle-down float-right"></i>
          </div>
        </div>
      </div>
      <div *ngIf="esFichaActiva('curriculares')" class=" header-ficha-open d-flex justify-content-start align-items-center">
        <div class="img-colegiado">
          <i class="fa fa-paperclip icon-ficha"></i>
        </div>
        <label class="title-ficha">{{ "censo.consultaDatosCV.cabecera" | translate}}</label>
        <i class="fa fa-angle-up ml-auto"></i>
      </div>
    </div>
    <!--cuerpo-->

    <div *ngIf="esFichaActiva('curriculares')" class="card-body card-body-ficha">
      <div class="row">
        <p-dataTable emptyMessage="{{ 'general.message.no.registros' | translate}}" [(selection)]="selectedDatos" pageLinks="4" [sortField]="sortF"
          [sortOrder]="sortO" (onSort)="changeSort($event)" [responsive]="true" selectionMode="multiple" #table class="tabla-listado"
          [value]="datosCurriculares" [sortOrder]="1" [paginator]="activarPaginacionCurriculares()" paginatorPosition="both"
          [rows]="selectedItem" (onRowSelect)="redireccionarCurriculares(selectedDatos)">
          <p-column *ngFor="let col of colsCurriculares" [sortable]="true " [field]="col.field" [header]="col.header | translate" filterPlaceholder="{{'general.boton.search' | translate}}"
            [filter]="true" filterMatchMode="contains">
            aaa
            <!-- <ng-template let-datoH="rowData" pTemplate="body">
              <span *ngIf="setItalic(datoH)" [ngStyle]="{'font-style': 'italic', 'font-weight':'bold', 'text-decoration':'line-through'}">{{datoH[col.field]}}</span>
              <span *ngIf="!setItalic(datoH)">{{datoH[col.field]}}</span>
            </ng-template> -->
          </p-column>

          <ng-template pTemplate="paginatorLeft">
            <div class="mostrar d-flex text-right justify-content-end">
              <label class="pr-3 registros-totales">Mostrando registros del {{table.first + 1}} al {{table.first + table.rows}} de un total de {{table.totalRecords}}</label>
              <!-- <label class="pr-3 numSeleccionados">Seleccionados: {{numSelected}}</label> -->
              <label>{{ "general.message.mostrar" | translate}}</label>
              <p-dropdown [(ngModel)]="selectedItem" [options]="rowsPerPage" (onChange)="onChangeRowsPerPages($event)"></p-dropdown>
              <label class="pl-1"> {{"cargaMasivaDatosCurriculares.numRegistros.literal" | translate}}</label>
              <!-- <div class="ml-3 selectAll">
                <p-checkbox (onChange)="onChangeSelectAll(this.datosCurriculares)" [(ngModel)]="selectAll" binary="true" label="Seleccionar todo"
                  name="groupname"></p-checkbox>
              </div>
              <label class="ml-3 seleccionMultiple" [ngClass]="{' seleccion-multiple': selectMultiple}" (click)="isSelectMultiple(); selectedDatos=false">
                <i class="pr-2 fa fa-mouse-pointer"></i>{{ "general.message.seleccion.multiple" | translate}}</label> -->
            </div>
          </ng-template>
        </p-dataTable>
      </div>
      <br>
    </div>

    <div *ngIf="esFichaActiva('curriculares')" class="card-footer">
      <div class="text-right main-button ">
        <!-- <button (click)="restablecer()" pButton type="button" icon="fa fa-undo" iconPos="left" label="{{ 'general.boton.restablecer' | translate}}"></button> -->
        <button (click)="deleteCurriculares(W)" pButton type="button" [(disabled)]="isLetrado" icon="fa fa-trash-alt " iconPos="left" label="{{'general.boton.eliminar' | translate}}"></button>
        <button (click)="irNuevoCurriculares()" pButton type="button" [(disabled)]="isLetrado" icon="fa fa-plus" iconPos="left" label="{{ 'general.boton.new' | translate}}"></button>

      </div>
    </div>
  </div>

  <!-- END FICHA DATOS CURRICULARES -->






























  <!-- INICIO FICHA DATOS DIRECCIONES -->
    <div class="card">
      <div class="card-header header-ficha" (click)="abreCierraFicha('direcciones')">
        <div *ngIf="!esFichaActiva('direcciones')" class="form-row">
          <div class="col-lg-1 col-md-2">
            <div class="img-colegiado">
              <i class="fa fa-map-marker icon-ficha"></i>
            </div>
          </div>
          <div class="col-lg-11 col-md-10">
            <div class="d-flex justify-content-start mb-1">
              <label class="mr-auto title-ficha">{{"censo.fichaCliente.datosDirecciones.cabecera" | translate}}</label>
            </div>
            <div class="d-flex justify-content-between">
              <div class="d-flex justify-content-between">
                <label>Número total de Direcciones:
                  <span>{{ searchDireccionIdPersona.datosDireccionesItem.length }}</span>
                </label>

              </div>
              <br>
              <i [ngClass]="{ 'fa fa-angle-up': esFichaActiva('direcciones'), 'fa fa-angle-down': ! esFichaActiva('direcciones')} "></i>
            </div>
          </div>

        </div>
        <div *ngIf="esFichaActiva('direcciones')" class=" header-ficha-open d-flex justify-content-start align-items-center">
          <div class="img-colegiado">
            <i class="fa fa-map-marker icon-ficha"> </i>
          </div>
          <label class="title-ficha">{{"censo.fichaCliente.datosDirecciones.cabecera" | translate}}</label>
          <i class="fa fa-angle-up ml-auto"></i>
        </div>
      </div>

      <div *ngIf="esFichaActiva('direcciones')" class="card-body card-body-ficha">
        <div class="row">
        <p-dataTable emptyMessage="{{ 'general.message.no.registros' | translate}}" [(selection)]="selectedDatosDirecciones" pageLinks="4"
          [ngClass]="{'customCursor': selectMultipleDirecciones}" dataKey="idDireccion" [responsive]="true" selectionMode="multiple"
          #table class="tabla-listado" [value]="datosDirecciones" [sortOrder]="1" [paginator]="activarPaginacionDireciones()"
          paginatorPosition="both" [rows]="selectedItem" (onRowSelect)="redireccionarDireccion(selectedDatosDirecciones)" (onRowUnselect)="actualizaSeleccionadosDirecciones(selectedDatosDirecciones)">
          <p-column *ngFor="let col of colsDirecciones" [sortable]="true " [field]="col.field" [header]="col.header | translate" filterPlaceholder="{{'general.boton.search' | translate}}"
            [filter]="true" filterMatchMode="contains">
            <ng-template let-datoH="rowData" pTemplate="body">
              <div *ngIf="setItalic(datoH)">
                <span [ngStyle]="{'font-style': 'italic', 'font-weight':'bold', 'text-decoration':'line-through'}">{{datoH[col.field]}}</span>
              </div>
              <div *ngIf="!setItalic(datoH)">
                <span>{{datoH[col.field]}}</span>
              </div>

            </ng-template>
          </p-column>

          <ng-template pTemplate="paginatorLeft">
            <div class="mostrar d-flex text-right justify-content-end">
              <label class="pr-3 registros-totales">Mostrando registros del {{table.first + 1}} al {{table.first + table.rows}} de un total de {{table.totalRecords}}</label>
              <label class="pr-3 numSeleccionados">Seleccionados: {{numSelectedDirecciones}}</label>
              <label>{{ "general.message.mostrar" | translate}}</label>
              <p-dropdown [(ngModel)]="selectedItem" [options]="rowsPerPage" (onChange)="onChangeRowsPerPages($event)"></p-dropdown>
              <label class="pl-1"> {{"cargaMasivaDatosCurriculares.numRegistros.literal" | translate}}</label>
              <div class="ml-3 selectAll">
                <p-checkbox (onChange)="onChangeSelectAllDirecciones(this.datosDirecciones)" [(ngModel)]="selectAll" binary="true" label="Seleccionar todo"
                  name="groupname"></p-checkbox>
              </div>
              <label class="ml-3 seleccionMultiple" [ngClass]="{' seleccion-multiple': selectMultipleDirecciones}" (click)="isSelectMultipleDirecciones(); selectedDatosDirecciones=false">
                <i class="pr-2 fa fa-mouse-pointer"></i>{{ "general.message.seleccion.multiple" | translate}}</label>
            </div>
          </ng-template>
        </p-dataTable>
      </div>
        <br>
      </div>
      <div *ngIf="esFichaActiva('direcciones')" class="card-footer">
        <div class="text-right main-button">
          <button *ngIf="bodyDirecciones.historico" (click)="onInitDirecciones()" pButton type="button" icon="fa fa-undo" iconPos="left"
            label="{{ 'general.message.ocultarHistorico' | translate}}"></button>

          <button *ngIf="!bodyDirecciones.historico" (click)="searchHistoricoDatosDirecciones()" pButton type="button" icon="fa fa-history"
            iconPos="left" label="{{'general.message.mostrarHistorico' | translate}}"></button>

          <button *ngIf="selectedDatosDirecciones && selectedDatosDirecciones != '' && bodyDirecciones.historico==false" [disabled]="activadoBotonesLetrado()"
            (click)="borrarSelectedDatos(selectedDatosDirecciones); selectedDatosDirecciones=false" pButton type="button"
            icon="fa fa-trash-alt" iconPos="left" label="{{'general.boton.eliminar' | translate}}"></button>

          <button (click)="nuevaDireccion()" pButton type="button" [(disabled)]="isLetrado" icon="fa fa-plus" iconPos="left" label="{{ 'general.boton.new' | translate}}"></button>
        </div>
      </div>
    </div>


  <!-- END FICHA DATOS DIRECCIONES -->































  <!-- INICIO FICHA DATOS BANCARIOS -->
  <div class="card">
    <div class="card-header header-ficha" (click)="abreCierraFicha('bancarios')">
      <div *ngIf="!esFichaActiva('bancarios')" class="form-row">
        <div class="col-lg-1 col-md-2">
          <div class="img-colegiado">
            <i class="fa fa-bank icon-ficha"></i>
          </div>
        </div>
        <div class="col-lg-11 col-md-10">
          <div class="d-flex justify-content-start mb-1">
            <label class="mr-auto title-ficha">{{"censo.consultaDatosBancarios.cabecera" | translate}}</label>
          </div>
          <div class="d-flex justify-content-between">
            <label>{{"censo.datosDireccion.literal.numero.cuentas" | translate}}
              <span>{{ datosBancarios.length }}</span>
            </label>
            <i [ngClass]="{ 'fa fa-angle-up': esFichaActiva('bancarios'), 'fa fa-angle-down': ! esFichaActiva('bancarios')} "></i>
          </div>
        </div>
      </div>
      <div *ngIf="esFichaActiva('bancarios')" class=" header-ficha-open d-flex justify-content-start align-items-center">
        <div class="img-colegiado ">
          <i class="fa fa-bank icon-ficha"></i>
        </div>
        <label class="title-ficha">{{"censo.consultaDatosBancarios.cabecera" | translate}}</label>
        <i class="fa fa-angle-up ml-auto"></i>
      </div>
    </div>

    <div *ngIf="esFichaActiva('bancarios')" class="card-body card-body-ficha">
      <div class="row">
      <p-dataTable emptyMessage="{{ 'general.message.no.registros' | translate}}" [ngClass]="{'customCursor': selectMultipleBancarios}"
        [(selection)]="selectedDatosBancarios" [responsive]="true" selectionMode="multiple" dataKey="idPersona" #table class="tabla-listado"
        [value]="datosBancarios" [sortOrder]="1" [paginator]="activarPaginacionBancarios()" (onRowSelect)="redireccionarDatosBancarios(selectedDatosBancarios)"
        (onRowUnselect)="actualizaSeleccionadosBancarios(this.selectedDatosBancarios)" paginatorPosition="both" [rows]="selectedItem"
        pageLinks="4">
        <p-column *ngFor="let col of colsBancarios" [sortable]="true " [field]="col.field" [header]="col.header" filterPlaceholder="{{'general.boton.search' | translate}}"
          [filter]="true" filterMatchMode="contains">
          <ng-template let-datoH="rowData" pTemplate="body">
            <div *ngIf="setItalic(datoH)">
              <span [ngStyle]="{'font-style': 'italic', 'font-weight':'bold', 'text-decoration':'line-through'}">{{datoH[col.field]}}</span>
            </div>
            <div *ngIf="!setItalic(datoH)">
              <span>{{datoH[col.field]}}</span>
            </div>
          </ng-template>
        </p-column>
        <ng-template pTemplate="paginatorLeft">
          <div class="mostrar d-flex text-right justify-content-end">
            <label class="pr-3 registros-totales">Mostrando registros del {{table.first + 1}} al {{table.first + table.rows}} de un total de {{table.totalRecords}}</label>
            <label class="pr-3 numSeleccionados">Seleccionados: {{numSelectedBancarios}}</label>
            <label>{{ "general.message.mostrar" | translate}}</label>
            <p-dropdown [(ngModel)]="selectedItem" [options]="rowsPerPage" (onChange)="onChangeRowsPerPages($event)"></p-dropdown>
            <label class="pl-1"> {{"cargaMasivaDatosCurriculares.numRegistros.literal" | translate}}</label>
            <div class="ml-3 selectAll">
              <p-checkbox (onChange)="onChangeSelectAllBancarios(this.datosBancarios)" [(ngModel)]="selectAll" binary="true" label="Seleccionar todo"
                name="groupname"></p-checkbox>
            </div>
            <label class="ml-3 seleccionMultiple" [ngClass]="{' seleccion-multiple': selectMultipleBancarios}" (click)="isSelectMultipleBancarios(); selectedDatosBancarios=false">
              <i class="pr-2 fa fa-mouse-pointer"></i>{{ "general.message.seleccion.multiple" | translate}}</label>
          </div>
        </ng-template>
      </p-dataTable>
      </div>
      <br>
    </div>
    <div *ngIf="esFichaActiva('bancarios')" class="card-footer">
      <div class="text-right main-button">
        <button *ngIf="bodyDatosBancarios.historico" (click)="onInitDatosBancarios()" pButton type="button" icon="fa fa-undo" iconPos="left"
          label="{{ 'general.message.ocultarHistorico' | translate}}"></button>
        <button *ngIf="!bodyDatosBancarios.historico" (click)="searchHistoricoDatosBancarios()" pButton type="button" icon="fa fa-history"
          iconPos="left" label="{{'general.message.mostrarHistorico' | translate}}"></button>
        <button *ngIf="selectedDatosBancarios && selectedDatosBancarios != '' && !historico" (click)="confirmarEliminar(selectedDatosBancarios)" pButton type="button"
          icon="fa fa-trash-alt" iconPos="left" [disabled]="activadoBotonesLetrado()" label="{{'general.boton.eliminar'  | translate}}"></button>
        <button *ngIf="!isLetrado" (click)="nuevaCuentaBancaria()" [disabled]="activadoBotonesLetrado()" pButton type="button" icon="fa fa-plus" iconPos="left"
          label="{{ 'general.boton.new' | translate}}"></button>
          <button *ngIf="isLetrado" (click)="nuevaCuentaBancaria()" disabled pButton type="button" icon="fa fa-plus" iconPos="left"
          label="{{ 'general.boton.new' | translate}}"></button>
      </div>
    </div>
  </div>
  <!-- END FICHA DATOS BANCARIOS -->






























  <!--SERVICIOS INTERES-->
  <div class="card">
    <div class="card-header header-ficha">
      <div class="form-row">
        <div class="col-lg-1 col-md-2">
          <div class="img-colegiado">
            <i class="fas fa-link icon-ficha"></i>
          </div>
        </div>
        <div class="col-lg-11 col-md-10">
          <div class="d-flex justify-content-start mb-1">
            <label class="mr-auto title-ficha">{{"facturacion.tarjetas.literal.serviciosInteres" | translate}}</label>
          </div>
          <div class="d-flex justify-content-between">
            <label>
              <a (click)="irTurnoOficio()">
                <span style="color: blue; text-decoration: underline">{{"pestana.fichaCliente.datosSJCS" | translate}}</span>
              </a>
            </label>
            <label>
              <a (click)="irFacturacion()">
                <span style="color: blue; text-decoration: underline">{{"menu.facturacion" | translate}}</span>
              </a>
            </label>
            <label>
              <a (click)="irExpedientes()">
                <span style="color: blue; text-decoration: underline">{{"menu.expedientes" | translate}}</span>
              </a>
            </label>
            <label>
              <a (click)="irAuditoria()">
                <span style="color: blue; text-decoration: underline">{{"menu.administracion.auditoria" | translate}}</span>
              </a>
            </label>
            <label>
              <a (click)="irRegTel()">
                <span style="color: blue; text-decoration: underline">{{"censo.fichaCliente.regtel.cabecera" | translate}}</span>
              </a>
            </label>
            <label>
              <a (click)="irComunicaciones()">
                <span style="color: blue; text-decoration: underline">{{"facturacion.consultamorosos.literal.comunicaciones" | translate}}</span>
              </a>
            </label>
            <i class="float-right"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- FIN TARJETA SERVICIOS INTERES -->


  <div class="mt-3 text-right main-button ">
    <button (click)="backTo()" pButton type="button" icon="fa fa-angle-left" iconPos="left" label="{{ 'general.boton.volver' | translate}}"></button>
  </div>

  

  <!-- CREAR ETIQUETA -->
  <p-dialog #dialog [(visible)]="checked" responsive="true" [draggable]="false" modal="modal" resizable="false" [minHeight]="500"
    [minWidth]="500">
    <p-header class="title">
      <label>{{ mensaje }}</label>
    </p-header>

    <div class="bloque col-lg-12 col-md-12">
      <div class="row">

        <!-- DESHABILITA EL FOCO  -->
        <span class="ui-helper-hidden-accessible">
          <input type="text" />
        </span>

        <div class="form-group col-lg-6 col-md-6">
          <label *ngIf="historico">{{"administracion.auditoriaUsuarios.fechaDesde" | translate}}</label>
          <label *ngIf="!historico">{{"administracion.auditoriaUsuarios.fechaDesde" | translate}} (*)</label>
          <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="1930:2050" [(ngModel)]="item.fechaInicio" [locale]="es"
            [utc]="true" icon="far fa-calendar-alt" dateFormat="dd/mm/yy" showIcon="true" (onSelect)="validateFields()"
            [(disabled)]="historico"></p-calendar>
        </div>

        <div class="form-group col-lg-6 col-md-6 form-group-date">
          <label *ngIf="historico">{{"administracion.auditoriaUsuarios.fechaHasta" | translate}}</label>
          <label *ngIf="!historico">{{"administracion.auditoriaUsuarios.fechaHasta" | translate}} (*)</label>
          <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="1930:2050" [(ngModel)]="item.fechaBaja" [locale]="es"
            [utc]="true" icon="far fa-calendar-alt" dateFormat="dd/mm/yy" showIcon="true" (onSelect)="validateFields()"
            [(disabled)]="historico"></p-calendar>
          <div *ngIf="item.fechaBaja != null && !isFechaBajaCorrect && !historico">
            <label class="labelError">La fecha de baja no puede ser anterior a la fecha de inicio</label>
          </div>
        </div>
      </div>
    </div>

    <p-footer *ngIf="!historico">
      <div class="text-right main-button">
        <button (click)="aceptDialogConfirmation(item)" pButton type="button" icon="fa fa-check" iconPos="left" label="{{ 'general.boton.submit' | translate}}"
          [disabled]="!isTrue"></button>
        <button (click)="closeDialogConfirmation(item)" pButton type="button" icon="fa fa-close" iconPos="left" label="{{ 'general.boton.cancel' | translate}}"></button>
      </div>
    </p-footer>
  </p-dialog>

  <!-- AUDITORIA -->

  <p-dialog [(visible)]="displayAuditoria" responsive="true" [draggable]="false" modal="modal" resizable="false" [minHeight]="500"
    [minWidth]="500">
    <p-header class="title">
      <label>{{"general.ventana.cgae" | translate}} -{{"censo.consultaHistorico.cabecera" | translate}}</label>
    </p-header>

    <div class="bloque col-lg-12 col-md-12">
      <div class="row">
        <div class="form-group col-lg-12 col-md-12">
          <label>{{"censo.datosHistorico.literal.motivo" | translate}} (*)</label>
          <textarea pInputTextarea [(ngModel)]="generalBody.motivo" (ngModelChange)="comprobarCampoMotivo()"></textarea>
        </div>
      </div>
    </div>
    <p-footer>
      <div class="text-right main-button ">
        <button (click)="cerrarAuditoria()" pButton type="button" icon="fa fa-close" iconPos="left" label="{{ 'general.boton.close' | translate}}"></button>
        <button (click)="solicitarModificacionGenerales()" [disabled]="!showGuardarAuditoria" pButton type="button" icon="fa fa-save" iconPos="left" label="{{ 'general.boton.guardarCerrar' | translate}}"></button>
      </div> 
    </p-footer>
  </p-dialog>


  <app-dialog></app-dialog>

  <div *ngIf="progressSpinner" class="overlay-spinner">
    <!--<p-progressSpinner animationDuration="1s"></p-progressSpinner>-->
    <div class="loader"></div>
  </div>