<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>
<div *ngIf="isCargado('menu.enviosAGrupos')" class="plantillas-envio-container">
  <div class="header-title">
    <i class="fa fa-square"></i>
    <p>{{'menu.comunicaciones' | translate}}
      <i class="pl-1 fa fa-angle-right"></i>Búsqueda plantillas de envío
    </p>
  </div>
  <div class="card">
    <div class="card-body">
      <p class="title-module"> {{'general.message.datos.generales' | translate }}
        <i (click)="abreCierraFicha()" *ngIf="fichaBusqueda" class="fa fa-angle-up float-right"></i>
        <i (click)="abreCierraFicha()" *ngIf="!fichaBusqueda" class="fa fa-angle-down float-right"></i>
      </p>
      <div *ngIf="fichaBusqueda" class="module vista-simple">
        <div class="form-row">
          <div class="form-group col-lg-4 col-md-4">
            <label>Nombre</label>
            <input type="text" class="form-control" [(ngModel)]="bodySearch.nombre" pInputText>
          </div>
          <div class="form-group col-lg-4 col-md-4">
            <label>Tipo de envío</label>
            <p-dropdown class="select-form" [options]="tiposEnvio" [(ngModel)]="bodySearch.idTipoEnvios" dataKey="value"></p-dropdown>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="text-right main-button">
        <button (click)="buscar()" pButton type="button" icon="fa fa-search" iconPos="left" label="{{'general.boton.search' | translate}}"></button>
        <button (click)="addPlantilla()" pButton type="button" icon="fa fa-plus " iconPos="left" label="{{ 'general.boton.new' | translate}}"></button>
      </div>
    </div>
  </div>
  <div class="card" *ngIf="showResultados">
    <div class="card-body p-0">
      <p-table [value]="datos" [columns]="cols" [(selection)]="selectedDatos" [responsive]="true" #table class="tabla-listado"
        [paginator]="true" [rows]="selectedItem" [first]="first" [ngClass]="{ 'customCursor': selectMultiple}" selectionMode="multiple"
        paginatorPosition="both" (onRowSelect)="detallePlantilla(selectedDatos)">
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col *ngFor="let col of columns" [style.width]="col.width">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" [ngSwitch]="col.field" [pSortableColumn]="col.field">
              {{col.header}}
              <p-sortIcon [field]="col.field"></p-sortIcon>
              <input pDroppable="false" (click)="$event.stopPropagation()" *ngSwitchCase="col.field" pInputText type="text" (input)="table.filter($event.target.value,
                      col.field, 'contains')">
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-dato let-columns="columns" let-rowIndex="rowIndex">
          <tr [pSelectableRow]="dato" [pSelectableRowIndex]="rowIndex">
            <td class="text-center" *ngFor="let col of columns">
              <span *ngIf="col.field !='preseleccionado'"> {{dato[col.field]}}</span>
              <span *ngIf="col.field=='preseleccionado'">
                <i class="fa fa-check"></i>
              </span>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="columns.length">
              No hay resultados.
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
          <div class="mostrar d-flex text-right justify-content-end">
            <label class="pr-3 registros-totales">Mostrando registros del {{table.first + 1}} al {{table.first + table.rows}} de un total de {{table.totalRecords}}</label>
            <label class="pr-3 numSeleccionados">Seleccionados: {{numSelected}}</label>
            <label>{{"general.message.mostrar" | translate}}</label>
            <p-dropdown [(ngModel)]="selectedItem" [options]="rowsPerPage" (onChange)="onChangeRowsPerPages($event)"></p-dropdown>
            <label class="pl-1"> {{"cargaMasivaDatosCurriculares.numRegistros.literal" | translate}}</label>
            <div class="ml-3 selectAll">
              <p-checkbox (onChange)="onChangeSelectAll()" [(ngModel)]="selectAll" binary="true" label="Seleccionar todo" name="groupname"></p-checkbox>
            </div>
            <label class="ml-3 seleccionMultiple" [ngClass]="{' seleccion-multiple': selectMultiple}" (click)="isSelectMultiple()">
              <i class="pr-2 fa fa-mouse-pointer"></i>{{"general.message.seleccion.multiple" | translate}}</label>
          </div>
        </ng-template>
      </p-table>
      <p-footer>
        <div class="text-right main-button">
          <button (click)="isSelectMultiple()" pButton type="button" icon="fa fa-check" iconPos="left" label="{{'general.message.deseleccionar' | translate}}"></button>
          <button *ngIf="selectedDatos && selectedDatos != ''" (click)="onBorrar(selectedDatos)" pButton type="button" icon="fa fa-trash-alt"
            iconPos="left" label="{{'general.boton.eliminar'  | translate}}"></button>
        </div>
      </p-footer>
    </div>
  </div>
</div>

<div *ngIf="progressSpinner || loaderEtiquetas" class="overlay-spinner">
  <!--<p-progressSpinner animationDuration="1s"></p-progressSpinner>-->
  <div class="loader"></div>
</div>