<div class="busqueda-container">

  <!--DATOS GENERALES-->
  <div class="card">
    <div class="card-header header-ficha">
      <div *ngIf="!openFicha" class="form-row">
        <div class="col-lg-1 col-md-2">
          <div class="img-colegiado">
            <i class="fa fa-credit-card icon-ficha"></i>
          </div>
        </div>
        <div class="col-lg-11 col-md-10">
          <div class="d-flex justify-content-end mb-1">
            <label class="mr-auto title-ficha">Notario</label>
          </div>
          <div class="d-flex justify-content-between">
            <label>Titular <span>{{ body.titular }}</span></label>
            <label>{{"administracion.usuarios.literal.NIF" | translate}} <span>{{ body.nif }}</span></label>
            <label>IBAN <span>{{ body.iban }}</span></label>
            <i (click)="abrirFicha()" [ngClass]="{ 'fa fa-angle-up': openFicha, 'fa fa-angle-down': !openFicha} "></i>
          </div>
        </div>
      </div>
      <div *ngIf="openFicha" class=" header-ficha-open d-flex justify-content-start align-items-center">
        <div class="img-colegiado">
          <i class="fa fa-credit-card icon-ficha"></i>
        </div>
        <label class="title-ficha">Datos Cuenta Bancaria</label>
        <i (click)="abrirFicha()" class="fa fa-angle-up ml-auto"></i>
      </div>
    </div>

    <!--cuerpo datos generales-->
    <div *ngIf="openFicha" class="card-body card-body-ficha">
      <div class="row">
        <div class="bloque col-lg-6 col-md-6">
          <div class="form-row">
            <div class="form-group col-lg-6 col-md-6">
              <label>Titular</label>
              <input type="text" class="form-control" [(ngModel)]="body.titular" pInputText>
            </div>
            <div class="form-group col-lg-6 col-md-6">
              <label>{{"administracion.usuarios.literal.NIF" | translate}}</label>
              <input type="text" class="form-control" [(ngModel)]="body.nif" pInputText>
            </div>
            <div class="form-group col-lg-6 col-md-6">
              <label>IBAN</label>
              <input type="text" class="form-control" [(ngModel)]="body.iban" pInputText>
            </div>
            <!--<div class="form-group col-lg-6 col-md-6"></div>-->
            <!--<div class="form-group col-lg-6 col-md-6">
              <label>BIC </label>
              <input [(ngModel)]="body.bic" type="text" class="form-control" [(disabled)]="!editar" pInputText>
            </div>-->
            <!--<div class="form-group col-lg-6 col-md-6">
              <label>Banco</label>

            </div>
            <div class="form-group col-lg-3 col-md-6 ">
              <label>Operación</label>
              <p-dropdown class="select-form" [(ngModel)]="body.uso" [options]="comboTipo"></p-dropdown>
            </div>
            <div class="form-group col-lg-3 col-md-6 ">
              <label>Cuenta contable</label>
              <input type="text " class="form-control " [(ngModel)]="body.iban" [(disabled)]="!editar" pInputText>
            </div>
          </div>-->
          </div>
        </div>
        <br>
        <div class="card-footer ">
          <div class="text-right main-button ">
            <button (click)="guardar()" pButton type="button" icon="far fa-save" iconPos="left" label="Guardar"></button>
            <button (click)="restablecer()" pButton type="button" icon="fa fa-repeat" iconPos="left" label="Restablecer"></button>
          </div>
        </div>
        <!--END DATOS GENERALES-->
      </div>
      <p-growl [(value)]="msgs "></p-growl>
      <div *ngIf="progressSpinner " class="overlay-spinner ">
        <div class="loader "></div>
      </div>