<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>
<div class="busqueda-container">
  <div class="header-title">
    <i class="fa fa-square"></i>
    <!-- <p>{{"menu.justiciaGratuita" | translate}} -->
      <p>{{ "menu.facturacion" | translate }}
      <i class="fa fa-angle-right"></i>$$Fichero de Adeudos$$
    </p>
  </div>

  <div class="card">
    <div class="card-body">
      <!-- Datos generales -->
      <div class="w100 font-weight-bold">
        <p (click)="onHideDatosGenerales()" class="title-module">{{
          "justiciaGratuita.ejg.datosGenerales.datosGeneralesEJG" | translate }}
          <i *ngIf="showDatosGenerales" class="fa fa-angle-up float-right"></i>
          <i *ngIf="!showDatosGenerales" class="fa fa-angle-down float-right"></i>
        </p>
      </div>
      <div *ngIf="showDatosGenerales" class="module vista-avanzada">
        <div class="form-row">
          <div class="form-group-interlineado col-lg-3 col-md-3">
            <label>{{ "facturacion.seriesFactura.cuentaBancaria" | translate }}</label>
            <p-dropdown class="select-form" [(ngModel)]='body.bancosCodigo' placeholder="{{'general.boton.seleccionar' | translate}}" [options]="comboCuentaBancaria" [filter]="true" filterBy="label,labelSinTilde" [showClear]="true"></p-dropdown>
          </div>
          <div class="form-group-interlineado col-lg-3 col-md-3">
            <label>{{ "facturacionSJCS.facturacionesYPagos.sufijo" | translate }}</label>
            <p-dropdown class="select-form" [(ngModel)]='body.idSufijo' placeholder="{{'general.boton.seleccionar' | translate}}" [options]="comboSufijo" [filter]="true" filterBy="label,labelSinTilde" [showClear]="true"></p-dropdown>
          </div>
          <div class="form-group-interlineado col-lg-3 col-md-3">
            <label>$$Fecha Creación desde $$</label>
            <app-fecha [(value)]="body.fechaCreacionDesde" [minDate]="fechaHoy" [maxDate]="body.fechaCreacionHasta" (valueChangeSelected)="fillFecha($event, 'creacionDesde')" (valueChangeInput)="fillFecha($event, 'creacionDesde')"></app-fecha>
          </div>
          <div class="form-group-interlineado col-lg-3 col-md-3">
            <label>$$Fecha Creación Hasta $$</label>
            <app-fecha [(value)]="body.fechaCreacionHasta" (valueChangeSelected)="fillFecha($event, 'creacionHasta')" (valueChangeInput)="fillFecha($event, 'creacionHasta')"></app-fecha>
          </div>
          <div class="form-group-interlineado col-lg-3 col-md-3">
            <label>{{ "censo.busquedaClientesAvanzada.literal.colegio" | translate }}</label>
            <p-dropdown class="select-form" [(ngModel)]='body.colegio' placeholder="Seleccionar" [options]="comboCuentasBancarias" [filter]="true" filterBy="label,labelSinTilde" [showClear]="true"></p-dropdown>
          </div>
          <div class="form-group-interlineado col-lg-3 col-md-3">
            <label>{{ "censo.busquedaClientesAvanzada.literal.colegio" | translate }}</label>
            <p-dropdown class="select-form" [(ngModel)]='body.colegio' placeholder="Seleccionar" [options]="comboCuentasBancarias" [filter]="true" filterBy="label,labelSinTilde" [showClear]="true"></p-dropdown>
          </div>
          <div class="form-group-interlineado col-lg-3 col-md-3">
            <label>{{ 'justiciaGratuita.maestros.calendarioLaboralAgenda.anio' | translate}}</label>
            <input type="text" [(ngModel)]="body.annio" class="form-control" pInputText>
          </div>
        </div>
      </div>

      <!-- Sumatorios -->
      <div class="w100 font-weight-bold">
        <p (click)="onHideSumatorio()" class="title-module">
          <!-- {{'justiciaGratuita.ejg.datosGenerales.datosDefensa'|translate}} -->dddd
          <i *ngIf="showSumatorio" class="fa fa-angle-up float-right"></i>
          <i *ngIf="!showSumatorio" class="fa fa-angle-down float-right"></i>
        </p>
      </div>
      <div *ngIf="showSumatorio" class="module vista-avanzada">
        <div class="form-row">
          <div class="form-group-interlineado col-lg-3 col-md-3">

          </div>
        </div>
      </div>
    </div>

    <div class="card-footer">
      <div class="text-right main-button">
        <button (click)="clearFilters()" pButton type="button"  icon="fa fa-eraser"  iconPos="left"
           label="{{ 'general.boton.clear' | translate}}"></button>
        <button (click)="buscar()" pButton type="button" icon="fa fa-search" iconPos="left"
          label="{{'general.boton.search' | translate}}"></button>
        <button (click)="checkPermisosIsNuevo()" [disabled]="!permisoEscritura" pButton type="button"  icon="fa fa-plus" iconPos="left"  label="{{ 'general.boton.new' | translate}}"></button>
      </div>
    </div>
  </div>
  <div *ngIf="progressSpinner" class="overlay-spinner">
    <div class="loader"></div>
  </div>