
:host{
    ::ng-deep .ui-multiselect-panel{
         max-width: 50% !important;
         }
 }
 
 #cabeza {
         position: sticky;
         top: 0;
         width: 100%;
         z-index: 1;
     }
     .card .header-ficha label {
         color: black;
         cursor: pointer;
     }
     .div {
         cursor: default;
     }
     .card-header.header-ficha {
         overflow: overlay;
     }
     .d-flex.flex-wrap {
         margin-right: auto;
     }
 