.table-login {
  margin-left: auto;
  margin-right: auto;
}

#title {
  text-align: center;
  font-size: 1.7em;
  font-style: bold;
  margin-bottom: 0.5em;
}

#dropdown {
  margin-right: 1em;
}

label {
  margin-right: 1em;
}

#paramContainer{
 position: fixed;
 left: 0;
 bottom: 0;
 width: 100%;
 text-align: center;
}

#params {
  text-align: center;
  font-style: bold;
  margin-bottom: 0.5em;
}
tr:hover {
  background-color: transparent !important;
}