.estiloHistorico {
  font-style: italic !important;
  font-weight: bold !important;
  text-decoration: line-through !important;
}

.inheritTable .ui-datatable-tablewrapper table {
  table-layout: inherit !important;
}
.enlace {
  color: #0000EE !important;
}

.overflow{
  // overflow: hidden !important;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
 }