<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>
<div #widthContent class="permisos-container">
    <div class="header-title">
        <i class="fa fa-square"></i>
        <p>{{'menu.administracion' | translate}}
            <i class="pl-1 fa fa-angle-right"></i>{{ 'menu.administracion.parametrosGenerales' | translate}}</p>
    </div>
    <div class="mt-4 permisos-filters d-flex  justify-content-start">
        <div class="mr-auto pl-0 form-group col-lg-3 col-md-3">
            <label>{{'administracion.parametrosGenerales.literal.modulo' | translate}}</label>
            <p-dropdown class="select-form" [(ngModel)]='selectedModulo' [options]="modulos" (ngModelChange)="onChangeForm($event)" [filter]="true"
                filterBy="label"></p-dropdown>
        </div>

    </div>
    <div class="card" *ngIf="showDatosGenerales && !buscar && !historico">
        <div class="py-2 card-body">
            <p class="text-center">Selecciona un módulo para comenzar</p>
        </div>
    </div>

    <!--FIN CARD-->
    <div *ngIf="buscar == true" class="card mt-3">
        <div class="card-body p-0">
            <p-dataTable emptyMessage="{{ 'general.message.no.registros' | translate}}" selectionMode="single" [value]="datosBuscar"
                [editable]="true" [(selection)]="filaSelecionadaTabla" [responsive]="true" #table class="tabla-listado" [sortOrder]="1"
                [paginator]="activarPaginacionBuscar()" paginatorPosition="both" [rows]="selectedItem" [editable]="true" (onRowSelect)="onRowSelect(filaSelecionadaTabla)">
                <p-column *ngFor="let col of columnasTabla" [sortable]="true" [field]="col.field" [header]="col.header | translate" [filter]="true"
                    filterPlaceholder="{{'general.boton.search' | translate}}" filterMatchMode="contains">
                    <ng-template *ngIf="col.field == 'valor'" let-dato="rowData" pTemplate="body">
                        <span class="input-group input-ayuda">
                            <div class="ayuda-btn" [pTooltip]="mostrarDatosTooltip(dato.descripcion)" tooltipPosition="top">
                                <i class="fa fa-question"></i>
                            </div> &nbsp;&nbsp;
                            <input type="text" [(disabled)]="!activacionEditar" class="form-control" pInputText [(ngModel)]="dato[col.field]" (input)="guardar($event,dato)"
                                tooltipPosition="bottom">
                        </span>
                    </ng-template>
                    <ng-template *ngIf="col.field == 'parametro'" let-dato="rowData" pTemplate="body">

                        <label>{{dato.parametro}}</label>
                    </ng-template>
                </p-column>
                <ng-template pTemplate="paginatorLeft">
                    <div class="mostrar">
                        <label class="pr-3 registros-totales">{{'informesycomunicaciones.plantillasenvio.ficha.mostrandoRegistros' | translate}} {{table.first + 1}} al {{table.first + table.rows}} {{ 'informesycomunicaciones.plantillasenvio.ficha.deUnTotalDe' | translate }} {{table.totalRecords}}</label>
                        <label>{{ 'general.message.mostrar' | translate}}</label>
                        <p-dropdown [(ngModel)]="selectedItem" [options]="rowsPerPage" (onChange)="onChangeRowsPerPages($event)"></p-dropdown>
                        <label> {{'cargaMasivaDatosCurriculares.numRegistros.literal' | translate}}</label>
                    </div>
                </ng-template>

                <p-footer>
                    <div *ngIf="activarPaginacionBuscar() == true" class="text-right main-button">
                        <!-- misma funcion de disabled para botones de restablecer  y guardar-->
                        <button (click)="isGuardar()" pButton type="button" [(disabled)]="!isHabilitadoSave" icon="fa fa-save " iconPos="left" label="{{ 'general.boton.guardar' | translate}}"></button>
                        <button (click)="isHistorico()" pButton type="button" icon="fa fa-history" iconPos="left" label="{{'general.message.mostrarHistorico' | translate}}"></button>
                        <button (click)="confirmarEliminar(filaSelecionadaTabla)" pButton type="button" [disabled]="isHabilitadoEliminar()" icon="fa fa-trash-alt "
                            iconPos="left" label="{{'general.boton.eliminar' | translate}}"></button>
                    </div>
                </p-footer>
            </p-dataTable>
        </div>
    </div>
    <div *ngIf="historico == true" class="card mt-3">
        <div class="card-body p-0">
            <p-dataTable emptyMessage="{{ 'general.message.no.registros' | translate}}" [value]="datosHistorico" [responsive]="true"
                #table class="tabla-listado" [sortOrder]="1" [paginator]="activarPaginacionHistorico()" paginatorPosition="both"
                [rows]="selectedItem">
                <p-column *ngFor="let col of columnasTabla" [sortable]="true" [field]="col.field" [header]="col.header | translate" [filter]="true"
                    filterMatchMode="contains">
                    <ng-template let-datoH="rowData" pTemplate="body">
                        <div *ngIf="setItalic(datoH)">
                            <span [ngStyle]="{'font-style': 'italic', 'font-weight':'bold', 'text-decoration':'line-through'}">{{datoH[col.field]}}</span>
                        </div>
                        <div *ngIf="!setItalic(datoH)">
                            <span>{{datoH[col.field]}}</span>
                        </div>
                    </ng-template>
                </p-column>
                <ng-template pTemplate="paginatorLeft">
                    <label class="pr-3 registros-totales">{{'informesycomunicaciones.plantillasenvio.ficha.mostrandoRegistros' | translate}} {{table.first + 1}} al {{table.first + table.rows}} {{ 'informesycomunicaciones.plantillasenvio.ficha.deUnTotalDe' | translate }} {{table.totalRecords}}</label>
                    <label>{{ 'general.message.mostrar' | translate}}
                        <p-dropdown [(ngModel)]="selectedItem" [options]="rowsPerPage" (onChange)="onChangeRowsPerPages($event)"></p-dropdown> {{'cargaMasivaDatosCurriculares.numRegistros.literal' | translate}}</label>
                </ng-template>
                <p-footer>
                    <div *ngIf="activarPaginacionHistorico() == true" class="text-right main-button">
                        <button (click)="isBuscar()" pButton type="button" icon="fa fa-undo" iconPos="left" label="{{'general.message.ocultarHistorico' | translate}}"></button>
                        <button (click)="confirmarEliminar(filaSelecionadaTabla)" pButton type="button" [disabled]="isHabilitadoEliminar()" icon="fa fa-trash-alt "
                            iconPos="left" label="{{'general.boton.eliminar' | translate}}"></button>
                    </div>
                </p-footer>
            </p-dataTable>
        </div>
    </div>
    <app-dialog></app-dialog>
</div>
<div *ngIf="progressSpinner" class="overlay-spinner">
    <!--<p-progressSpinner animationDuration="1s"></p-progressSpinner>-->
    <div class="loader"></div>
</div>
<div *ngIf="progressSpinner" class="overlay-spinner">
    <!--<p-progressSpinner animationDuration="1s"></p-progressSpinner>-->
    <div class="loader"></div>
</div>