<p-growl [(value)]="msgs" life="30000"></p-growl>
<div class="busqueda-container">
    <div class="header-title">
        <i class="fa fa-square"></i>
        <p>{{ 'menu.administracion.parametrosGenerales' | translate}}</p>
    </div>
    <div class="breadCrumb">
        <p>{{'menu.administracion' | translate}} <i class="fa fa-angle-right"></i> {{'menu.administracion.gestionParametros'
            | translate}} <i class="fa fa-angle-right"></i> {{ 'menu.administracion.parametrosGenerales' | translate}}
        </p>
    </div>
    <div class="card">
        <div class="card-body">
            <p class="title-module">{{'administracion.catalogos.titulo.datos.generales' | translate}}
                <i (click)="onHideDatosGenerales()" *ngIf="showDatosGenerales" class="fa fa-angle-up float-right"></i><i
                    (click)="onHideDatosGenerales()" *ngIf="!showDatosGenerales" class="fa fa-angle-down float-right"></i></p>

            <div *ngIf="showDatosGenerales" class="module vista-avanzada">
                <div class="form-row">
                    <div class="form-group col-lg-3 col-md-3">
                        <label>{{'administracion.parametrosGenerales.literal.modulo' | translate}}</label>
                        <p-dropdown class="select-form" [(ngModel)]='selectedModulo' [options]="modulos" (ngModelChange)="onChangeForm()" [filter]="true"
                            filterBy="label"></p-dropdown>
                    </div>
                    <div class="form-group col-lg-6 col-md-6">
                        <br/>
                        <label class="form-group-label">{{'administracion.parametrosGenerales.literal.checkParametrosGenerales' | translate}}</label>
                    </div>
                    <div class="form-group col-lg-3 col-md-3">
                        <br/>
                        <p-checkbox [(ngModel)]='valorCheckParametros' binary="true"></p-checkbox>
                    </div>

                </div>
            </div>
        </div>
        <div class="card-footer" *ngIf="showDatosGenerales">
            <div class="text-right main-button">
                <button (click)="confirmarBuscar()" [disabled]="isHabilitadoBuscar()" pButton type="button " icon="fa fa-search" iconPos="left"
                    label="{{'general.boton.search' | translate}}"></button>
            </div>
        </div>
    </div>
    <!--FIN CARD-->
    <div *ngIf="buscar == true" class="card mt-3">
        <div class="card-body p-0">
            <p-dataTable emptyMessage="{{ 'general.message.no.registros' | translate}}" selectionMode="single" [value]="datosBuscar"
                [editable]="true" [(selection)]="filaSelecionadaTabla" [responsive]="true" #table class="tabla-listado" [sortOrder]="1"
                [paginator]="activarPaginacionBuscar()" paginatorPosition="both" [rows]="selectedItem" [editable]="true" (onRowSelect)="onRowSelect($event)">
                <p-column *ngFor="let col of columnasTabla" [sortable]="true" [field]="col.field" [header]="col.header | translate" [filter]="true">
                    <ng-template *ngIf="col.field == 'valor'" let-dato="rowData" pTemplate="body">
                        <input type="text" class="form-control" pInputText [(ngModel)]="dato[col.field]" (change)="isGuardar($event,dato)">
                    </ng-template>
                </p-column>

                <ng-template pTemplate="paginatorLeft">
                    <label class="pr-3 registros-totales">Mostrando registros del {{table.first + 1}} al {{table.first + table.rows}} de un total de {{table.totalRecords}}</label>
                    <label>{{ 'general.message.mostrar' | translate}}<p-dropdown [(ngModel)]="selectedItem"  [options]="rowsPerPage" (onChange)="onChangeRowsPerPages($event)"></p-dropdown> {{'cargaMasivaDatosCurriculares.numRegistros.literal' | translate}}</label>
                </ng-template>

                <p-footer>
                    <div *ngIf="activarPaginacionBuscar() == true" class="text-right main-button">
                        <button (click)="confirmarEliminar(filaSelecionadaTabla)" pButton type="button" [disabled]="isHabilitadoEliminar()" icon="fa fa-trash-alt "
                            iconPos="left" label="{{'general.boton.eliminar' | translate}}"></button>
                            <button (click)="isHistorico()" pButton type="button" icon="fa fa-history" iconPos="left" label="{{'general.message.historico' | translate}}"></button>
                    </div>
                </p-footer>
                </p-dataTable>
        </div>
    </div>
    <div *ngIf="historico == true" class="card mt-3">
        <div class="card-body p-0">
            <p-dataTable emptyMessage="{{ 'general.message.no.registros' | translate}}" [value]="datosHistorico" [responsive]="true"
                #table class="tabla-listado" [sortOrder]="1" [paginator]="activarPaginacionHistorico()" paginatorPosition="both"
                [rows]="selectedItem">
                <p-column *ngFor="let col of columnasTabla" [sortable]="true" [field]="col.field" [header]="col.header | translate" [filter]="true">
                    <ng-template let-datoH="rowData" pTemplate="body">
                        <div *ngIf="setItalic(datoH)">
                            <span [ngStyle]="{'font-style': 'italic', 'font-weight':'bold'}">{{datoH[col.field]}}</span>
                        </div>
                        <div *ngIf="!setItalic(datoH)">
                            <span>{{datoH[col.field]}}</span>
                        </div>
                    </ng-template>
                </p-column>
                <ng-template pTemplate="paginatorLeft">
                    <label class="pr-3 registros-totales">Mostrando registros del {{table.first + 1}} al {{table.first + table.rows}} de un total de {{table.totalRecords}}</label>
                    <label>{{ 'general.message.mostrar' | translate}}<p-dropdown [(ngModel)]="selectedItem"  [options]="rowsPerPage" (onChange)="onChangeRowsPerPages($event)"></p-dropdown> {{'cargaMasivaDatosCurriculares.numRegistros.literal' | translate}}</label>
                </ng-template>
                <p-footer>
                    <div *ngIf="activarPaginacionHistorico() == true" class="text-right main-button">
                        <button (click)="confirmarEliminar(filaSelecionadaTabla)" pButton type="button" [disabled]="isHabilitadoEliminar()" icon="fa fa-trash-alt "
                            iconPos="left" label="{{'general.boton.eliminar' | translate}}"></button>
                            <button (click)="isHistorico()" pButton type="button" icon="fa fa-history" iconPos="left" label="{{'general.message.historico' | translate}}"></button>
                    </div>
                </p-footer>
                </p-dataTable>
        </div>
    </div>
    <app-dialog></app-dialog>
</div>