<form [formGroup]='form' *ngIf="ocultar">
    <br>

    <p class="titulos" id="title">BIENVENIDO AL SISTEMA DE GESTIÓN DE LA ABOGACÍA (S.I.G.A)</p>


    <table align="center" class="table-login">
        <tr>
            <td class="labelText">
                <label>Institución</label>
            </td>
            <td>
                <p-dropdown [filter]="true" filterBy="label,labelSinTilde" [style]="{'width':'400px'}" formControlName="tmpLoginInstitucion"
                    [(ngModel)]="tmpLoginInstitucion" [options]="instituciones" (onChange)="onChangeInstitucion($event)" id="dropdown">
                </p-dropdown>

            </td>
            <button [disabled]="isHabilitadoEntrar()" pButton type="button " (click)='submit()' title="Entrar con los datos de los combos"
                label="Entrar"></button>

        </tr>
        <tr>
            <td class="labelText">
                <label>Rol</label>
            </td>
            <td colspan="2">
                <p-dropdown [filter]="true" filterBy="label,labelSinTilde" [style]="{'width':'400px'}" formControlName="tmpLoginRol" [(ngModel)]="tmpLoginRol"
                    [options]="roles" (onChange)="onChangeRol($event)" id="dropdown">
                </p-dropdown>


            </td>

        </tr>

    </table>


    <input type="hidden" formControlName="location">
    <input type="hidden" formControlName="user">
    <input type="hidden" formControlName="rol">
    <input type="hidden" formControlName="posMenu">


</form>

<div *ngIf="progressSpinner" class="overlay-spinner">
    <div class="loader"></div>
</div>