<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>
<div *ngIf="progressSpinner" class="overlay-spinner">
  <div class="loader"></div>
</div>
<p-dataTable #table [value]="listas" emptyMessage="{{ 'general.message.no.registros' | translate}}" [responsive] = "true" loadingIcon="fa-spinner" sortField="nombre"
class="tabla-listado" [sortOrder]="1" [(selection)]="selectedDatos" [paginator]="true" paginatorPosition="both" [rows]="rows" selectionMode="multiple" (onRowSelect)="onSelectRow($event.data)"
(onRowUnselect)="actualizaSeleccionados()">
  <p-column field="tipoDesc" header="{{'facturacion.productos.tipo' | translate}}" [sortable]="true" [filter]="true" filterMatchMode = "contains" filterPlaceholder="{{'general.boton.search' | translate}}">
  </p-column>
  <p-column field="nombre" header="{{'administracion.parametrosGenerales.literal.nombre' | translate}}" [sortable]="true" [filter]="true" filterMatchMode = "contains" filterPlaceholder="{{'general.boton.search' | translate}}">
    <ng-template let-col let-dato="rowData" let-ri="rowIndex" pTemplate="body">
      <td class="text-center">
        <div>
          <a class="enlace" (click)="onClickEnlace(dato)"><span>{{dato[col.field]}}</span></a>
        </div>
      </td>
    </ng-template>
  </p-column>
  <p-column field="lugar" header="{{'justiciaGratuita.guardia.asistenciasexpress.cabeceralugar' | translate}}" [sortable]="true" [filter]="true" filterMatchMode = "contains" filterPlaceholder="{{'general.boton.search' | translate}}"></p-column>
  <p-column field="observaciones" header="{{'justiciaGratuita.Calendarios.Observaciones' | translate}}" [sortable]="true" [filter]="true" filterMatchMode = "contains" filterPlaceholder="{{'general.boton.search' | translate}}"></p-column>
  <ng-template pTemplate="paginatorLeft">
    <div class="mostrar d-flex text-right justify-content-end">
        <label class="pr-3 registros-totales">{{'informesycomunicaciones.plantillasenvio.ficha.mostrandoRegistros' | translate}} {{table.first
            + 1}} al {{table.first + table.rows}} {{ 'informesycomunicaciones.plantillasenvio.ficha.deUnTotalDe'
            | translate }} {{table.totalRecords}} {{'agenda.fichaCalendario.tablaNotificaciones.mostrandoRegistros' | translate}} : {{numSeleccionado}}</label>
        <label>{{ 'general.message.mostrar' | translate}}</label>
        <p-dropdown [(ngModel)]="rows" [options]="rowsPerPage" (onChange)="onChangeRowsPerPages($event)"></p-dropdown>
        <label class="pl-1">{{'cargaMasivaDatosCurriculares.numRegistros.literal' | translate}}</label>
        <div class="ml-3 selectAll">
          <p-checkbox (onChange)="onChangeSeleccionarTodo()" [(ngModel)]="seleccionarTodo" binary="true" label="{{ 'tablas.literal.seleccionarTodo' | translate }}"
            name="groupname"></p-checkbox>
        </div>
        <!--<label class="ml-3 seleccionMultiple" [ngClass]="{' seleccion-multiple': seleccionMultiple}" (click)="onChangeSeleccionMultiple()">
          <i class="pr-2 fa fa-mouse-pointer"></i>{{ "general.message.seleccion.multiple" | translate}}</label>-->
    </div>
  </ng-template>
  <p-footer>
    <div class="text-right main-button">
      <button pButton type="button" icon="fa fa-send" iconPos="left" label="{{'general.boton.comunicar' | translate}}" (click)="navigateToComunicar()" 
      [disabled]="!permisosEscritura || numSeleccionado <= 0"></button>
    </div>
  </p-footer>
</p-dataTable>
