<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>
<div class="ficha-container">
  <div id="infoYComuComuFichaComuDocs">
    <div class="card">
      <div class="card-header header-ficha">
        <div *ngIf="!openFicha" class="form-row">
          <div class="col-lg-1 col-md-2">
            <div class="img-colegiado" (click)="abreCierraFicha()" >
              <i class="fas fa-file icon-ficha"></i>
            </div>
          </div>
          <div class="col-lg-11 col-md-10">
            <div class="d-flex justify-content-start mb-1 pointer" (click)="abreCierraFicha()" > 
              <label class="mr-auto title-ficha">{{
                "enviosMasivos.literal.documentos" | translate
              }}</label>
            </div>
            <div class="d-flex justify-content-between">
              <label>{{ "enviosMasivos.literal.documentos" | translate }}:
                <span *ngIf="datos">{{ datos.length }}</span>
              </label>
              <i (click)="abreCierraFicha()" *ngIf="!openFicha" class="fa fa-angle-down float-right"></i>
            </div>
          </div>
        </div>
        <div *ngIf="openFicha" (click)="abreCierraFicha()"  class=" header-ficha-open d-flex justify-content-start align-items-center">
          <div class="img-colegiado" (click)="abreCierraFicha()" >
            <i class="fas fa-file icon-ficha"></i>
          </div>
          <label (click)="abreCierraFicha()" class="title-ficha">{{
            "enviosMasivos.literal.documentos" | translate
          }}</label>
          <i (click)="abreCierraFicha()" class="fa fa-angle-up ml-auto"></i>
        </div>
      </div>
      <!--tarjetas doc-->
      <div *ngIf="openFicha" class=" card-body card-body-ficha">
        <p-table [value]="datos" [columns]="cols" [(selection)]="selectedDatos" [responsive]="true" #table
          class="tabla-listado" [paginator]="true" [rows]="selectedItem" [first]="first" selectionMode="single"
          paginatorPosition="both">
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col *ngFor="let col of columns" [style.width]="col.width" />
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns" [ngSwitch]="col.field" [pSortableColumn]="col.field">
                {{ col.header | translate}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
                <input placeholder="{{ 'general.boton.search' | translate }}" pDroppable="false" (click)="$event.stopPropagation()" *ngSwitchCase="col.field" pInputText
                  type="text" (input)="
                    table.filter($event.target.value, col.field, 'contains')
                  " />
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-dato let-columns="columns" let-rowIndex="rowIndex">
            <tr [pSelectableRow]="dato" [pSelectableRowIndex]="rowIndex">
              <td class="text-center" *ngFor="let col of columns">
                <span *ngIf="col.field != 'pathDocumento'">
                  {{ dato[col.field] }}</span>
                <span (click)="downloadDocumento(dato)" *ngIf="col.field == 'pathDocumento'">
                  <i class="fa fa-download"></i>
                </span>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr>
              <td [attr.colspan]="columns.length">
                {{
                  "censo.busquedaClientesAvanzada.literal.sinResultados"
                    | translate
                }}
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="paginatorleft">
            <div class="mostrar d-flex text-right justify-content-end">
              <label
                class="pr-3 registros-totales">{{'informesycomunicaciones.plantillasenvio.ficha.mostrandoRegistros' | translate}}
                {{ table.first + 1 }} al
                {{ table.first + table.rows }}
                {{ 'informesycomunicaciones.plantillasenvio.ficha.deUnTotalDe' | translate }}
                {{ table.totalRecords }}</label>
              <label class="pr-3 numSeleccionados"
                *ngIf="selectedDatos && selectedDatos.length > 0">{{'agenda.fichaCalendario.tablaNotificaciones.mostrandoRegistros' | translate }}:
                {{ selectedDatos.length }}</label>

              <p-dropdown [showClear]="true" [(ngModel)]="selectedItem" [options]="rowsPerPage"
                (onChange)="onChangeRowsPerPages($event)"></p-dropdown>
              <label class="pl-1">
                {{
                  "cargaMasivaDatosCurriculares.numRegistros.literal" | translate
                }}</label>
            </div>
          </ng-template>
        </p-table>
        <div *ngIf="openFicha" class="card-footer">
          <div class="text-right main-button">
            <!-- <button pButton type="button" icon="fa fa-plus" iconPos="left" label="{{ 'general.boton.new' | translate}}"></button> -->
            <p-fileUpload #fubauto chooseLabel="{{ 'general.boton.adjuntarFichero' | translate }}" name="file" mode="basic"
              accept=".pdf,.doc,.docx" multiple="multiple" (onSelect)="uploadFile($event)" auto="true"
              [disabled]="!habilitado">
            </p-fileUpload>
            <button (click)="eliminar(selectedDatos)" *ngIf="selectedDatos && selectedDatos !=''" pButton type="button"
              icon="fa fa-trash-alt" iconPos="left" label="{{ 'general.boton.eliminar' | translate }}"
              [disabled]="!habilitado"></button>
          </div>
        </div>
      </div>
      
    </div>
   
  </div>
</div>

<div *ngIf="progressSpinner" class="overlay-spinner">
  <div class="loader "></div>
</div>