<div id="sInteres">
  <div *ngIf="activacionTarjeta">
    <div *ngIf="tarjetaInteres == '3' || tarjetaInteres == '2'" class="card">
      <div class="card-header header-ficha">
        <div class="form-row">
          <div class="col-lg-1 col-md-2">
            <div class="img-colegiado">
              <i class="fas fa-link icon-ficha"></i>
            </div>
          </div>
          <div class="col-lg-11 col-md-10">
            <div class="d-flex justify-content-start mb-1">
              <label class="mr-auto title-ficha">{{ "facturacion.tarjetas.literal.serviciosInteres" | translate }}
              </label>
            </div>
            <div class="d-flex justify-content-between">
              <label>
                <a (click)="irTurnoOficio()">
                  <span class="enlace">{{ "gratuita.personaJG.literal.masInfo" | translate }}</span>
                </a>
              </label>
              <label [checkPermission]="permisosGuardia.guardias_colegiado">
                <a (click)="guardiasColegiado()">
                  <span class="enlace">{{"justiciaGratuita.guardia.guardiasColegiado" | translate }}</span>
                </a>
              </label>
              <label [checkPermission]="permisosGuardia.solicitudes_centralita">
                <a (click)="preAsistencia()">
                  <span class="enlace">{{ "menu.sjcs.solicitudesAceptadasCentralita" | translate }}</span>
                </a>
              </label>
              <label [checkPermission]="permisosGuardia.asistencias">
                <a (click)="asistencias()">
                  <span class="enlace">{{"menu.justiciaGratuita.asistencia" | translate }}</span>
                </a>
              </label>
              <label [checkPermission]="permisosOficio.inscripciones">
                <a (click)="turnoInscrito()">
                  <span class="enlace">{{"justiciaGratuita.oficio.designas.turnoInscrito" | translate }}</span>
                </a>
              </label>
              <label [checkPermission]="permisosOficio.designa">
                <a (click)="designas()">
                  <span class="enlace">{{"menu.justiciaGratuita.designas" | translate }}</span>
                </a>
              </label>
              <!--
              <label [checkPermission]="permisosOficio.inscripciones">
                <a (click)="turnoInscrito()">
                  <span class="enlace">{{"justiciaGratuita.oficio.designas.proximasDesignaciones" | translate }}</span>
                </a>
              </label>
              <label [checkPermission]="permisosFacturacion.cartasFacturacionPago">
                <a (click)="cartasFacturacion()">
                  <span class="enlace">{{ "facturacionSJCS.facturacionesYPagos.cartaFacturacion" | translate }}</span>
                </a>
              </label>
              <label [checkPermission]="permisosFacturacion.cartasFacturacionPago">
                <a (click)="cartasPago()">
                  <span class="enlace">{{ "facturacionSJCS.facturacionesYPagos.cartaPago" | translate }}</span>
                </a>
              </label>

              <label [checkPermission]="permisosGuardia.solicitudes_centralita">
                <a (click)="facturas()">
                  <span class="enlace">{{ "menu.facturacion.facturas" | translate }}</span>
                </a>
              </label>
              <label [checkPermission]="'50'">
                <a (click)="monederos()">
                  <span class="enlace">{{ "menu.facturacion.busquedaMonedero" | translate }} </span>
                </a>
              </label>
              <label [checkPermission]="'45'">
                <a (click)="cuotasSuscripciones()">
                  <span class="enlace">{{ "menu.facturacion.cuotasSuscripciones" | translate }} </span>
                </a>
              </label>
              <label [checkPermission]="'307'">
                <a (click)="comprasProductos()">
                  <span class="enlace">{{ "menu.facturacion.compraProductos" | translate }} </span>
                </a>
              </label>
               -->
              <i class="float-right"></i>
            </div>

            <!-- <div class="d-flex justify-content-between">

              <label [checkPermission]="'60A'">
                <a (click)="abonosSJCS()">
                  <span class="enlace">{{"menu.facturacionSJCS.abonosSJCS" | translate }}</span>
                </a>
              </label>
              <label [checkPermission]="'INGBU'">
                <a (click)="inscripcionesGuardia()">
                  <span class="enlace">{{"justiciaGratuita.guardia.inscripcionesGuardia" | translate }}</span>
                </a>
              </label>
              <label [checkPermission]="'DESBU'">
                <a (click)="designas()">
                  <span class="enlace">{{"menu.justiciaGratuita.designas" | translate }}</span>
                </a>
              </label>
              <label [checkPermission]="'BATMP'">
                <a (click)="bajasTemporales()">
                  <span class="enlace">{{ "justiciaGratuita.oficio.bajasTemporales" | translate }}</span>
                </a>
              </label>
              <i class="float-right"></i>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>