<div *ngIf="progressSpinner" class="overlay-spinner">
  <div class="loader"></div>
</div>

<div class="ficha-comunicacion-container" id="mainContainer">
  <div class="header-title">
    <i class="fa fa-square"></i>
    <p>{{'menu.justiciaGratuita' | translate}}
      <i class="fa fa-angle-right"></i> {{ 'menu.justiciaGratuita.justiciables' | translate }}
      <i class="fa fa-angle-right"></i> {{ 'menu.justiciaGratuita.justiciables.gestionjusticiables' | translate }}
    </p>
  </div>
  <div>
    
    <app-tarjeta-resumen-fija class="pb-50" [chincheta]="true" [datos]="datosResumen" [icono]="'clipboard'" [enlaces]="enlacesResumen" (isOpen)="openTarjeta($event)"></app-tarjeta-resumen-fija>

    <app-datos-generales id="tarjetaGenerales" [body]="body" [modoEdicion]="modoEdicion" [permisoEscritura]="isPermisoTarjeta('tarjetaGenerales')" 
      [showTarjeta]="isOpenTarjeta('tarjetaGenerales')" [origen]="origen" (bodyChange)="updateBody($event)"></app-datos-generales>

    <app-datos-personales *ngIf="modoEdicion" id="tarjetaPersonales" [body]="body" [modoEdicion]="modoEdicion" [permisoEscritura]="isPermisoTarjeta('tarjetaPersonales')" 
      [showTarjeta]="isOpenTarjeta('tarjetaPersonales')" (bodyChange)="updateBody($event)"></app-datos-personales>

    <app-datos-solicitud *ngIf="modoEdicion" id="tarjetaSolicitud" [body]="body" [modoEdicion]="modoEdicion" [permisoEscritura]="isPermisoTarjeta('tarjetaSolicitud')" 
      [showTarjeta]="isOpenTarjeta('tarjetaSolicitud')" (bodyChange)="updateBody($event)"></app-datos-solicitud>

    <app-datos-representante *ngIf="modoEdicion" id="tarjetaRepresentante" [modoEdicion]="modoEdicion" [permisoEscritura]="isPermisoTarjeta('tarjetaRepresentante')" 
    [showTarjeta]="isOpenTarjeta('tarjetaRepresentante')" [body]="body" (bodyChange)="updateBody($event)"></app-datos-representante>
    
    <app-asuntos *ngIf="modoEdicion" id="tarjetaAsunto" [modoEdicion]="modoEdicion" [permisoEscritura]="isPermisoTarjeta('tarjetaAsunto')" 
    [showTarjeta]="isOpenTarjeta('tarjetaAsunto')" [body]="body" (bodyChange)="updateBody($event)"></app-asuntos>

    <!-- 
    <app-datos-abogado-contrario *ngIf="modoEdicion && origen == 'ContrarioEJG'" id="tarjetaAbogado" [modoEdicion]="modoEdicion" [permisoEscritura]="isPermisoTarjeta('tarjetaAbogado')" 
      [showTarjeta]="isOpenTarjeta('tarjetaAbogado')" [body]="body" 
    
      [tarjetaDatosAbogado]="tarjetaDatosAbogado"
      [fromContrario]="fromContrario" 
      [fromContrarioEJG]="fromContrarioEJG"

      (contrario)="contrario($event)" 
      (contrarioEJG)="contrarioEJG($event)"></app-datos-abogado-contrario> 
    -->

    <!-- 
    <app-datos-procurador-contrario *ngIf="modoEdicion && origen == 'ContrarioEJG'" id="tarjetaProcurador" [modoEdicion]="modoEdicion" [permisoEscritura]="isPermisoTarjeta('tarjetaProcurador')" 
      [showTarjeta]="isOpenTarjeta('tarjetaProcurador')" [body]="body" 
      
      [fromContrario]="fromContrario" 
      [fromContrarioEJG]="fromContrarioEJG"
      [tarjetaDatosProcurador]="tarjetaDatosProcurador"

      (contrario)="contrario($event)"
      (contrarioEJG)="contrarioEJG($event)"></app-datos-procurador-contrario> 
    -->

    <!--
    <app-datos-unidad-familiar *ngIf="modoEdicion && origen == 'UnidadFamiliar'" id="tarjetaUnidadFamiliar" [modoEdicion]="modoEdicion" [permisoEscritura]="isPermisoTarjeta('tarjetaUnidadFamiliar')" 
      [showTarjeta]="isOpenTarjeta('tarjetaProcurador')" [body]="body"
      
      [solicitante]="solicitante" 
      [tarjetaDatosUnidadFamiliar]="tarjetaDatosUnidadFamiliar"
      [fromUniFamiliar]="fromUniFamiliar"></app-datos-unidad-familiar> 
    -->

  </div>
</div>

<div class="mt-3 text-right main-button ">
  <button (click)="backTo()" pButton type="button" icon="fa fa-angle-left" iconPos="left" label="{{ 'general.boton.volver' | translate }}"></button>
</div>