<div class="card">
  <div class="card-body">

    <!-- INICIO - Datos Generales -->
    <p class="title-module">
      <span (click)="onHideDatosGenerales()">{{ 'general.message.datos.generales' | translate }}</span>
      <i (click)="onHideDatosGenerales()" *ngIf="showDatosGenerales" class="fa fa-angle-up float-right"></i>
      <i (click)="onHideDatosGenerales()" *ngIf="!showDatosGenerales" class="fa fa-angle-down float-right"></i>
    </p>


    <div *ngIf="showDatosGenerales" class="module vista-avanzada">
      <div class="form-row">

        <div class="form-group-interlineado col-lg-3 col-md-3">
          <label>
            {{"dato.jgr.guardia.guardias.turno" | translate}}
          </label>
          <p-multiSelect #someDropdown [defaultLabel]="textFilter" autoWidth="false" [(ngModel)]='filtros.idTurno'
            [options]="comboTurnos" maxSelectedLabels="10" [selectedItemsLabel]="textSelected" styleClass="widthAll"
            [filter]="true" filterBy="label,labelSinTilde" (onPanelShow)="focusInputField(someDropdown)"
            (onChange)="onChangeTurno()">
          </p-multiSelect>
        </div>

        <div class="form-group-interlineado col-lg-3 col-md-3">
          <label>
            {{"menu.justiciaGratuita.GuardiaMenu" | translate}}
          </label>
          <p-multiSelect #someDropdown1 [defaultLabel]="textFilter" autoWidth="false" [(ngModel)]='filtros.idGuardia'
            [options]="comboGuardias" maxSelectedLabels="10" [selectedItemsLabel]="textSelected" styleClass="widthAll"
            [filter]="true" filterBy="label,labelSinTilde" [disabled]="isDisabledGuardia"
            (onPanelShow)="focusInputField(someDropdown)">
          </p-multiSelect>
        </div>

        <div class="form-group-interlineado col-lg-3 col-md-3">
          <label>{{"administracion.auditoriaUsuarios.fechaDesde" | translate}}</label>
          <app-fecha [(value)]="filtros.fechaDesde" [utc]="false"
            (valueChangeSelected)="fillFechaDesde($event)"  (valueChangeInput)="fillFechaDesde($event)"></app-fecha>
        </div>

        <div class="form-group-interlineado col-lg-3 col-md-3">
          <label>{{"administracion.auditoriaUsuarios.fechaHasta" | translate}}</label>
          <app-fecha [(value)]="filtros.fechaHasta" [utc]="false"
            (valueChangeSelected)="fillFechaHasta($event)"  (valueChangeInput)="fillFechaHasta($event)"></app-fecha>
        </div>

      </div>

    </div>

    <!-- FIN - Datos Generales -->

    <!-- INICIO - COLEGIADO -->
    <p class="title-module">
      <span (click)="onHideColegiado()">{{ 'justiciaGratuita.justiciables.literal.colegiado' | translate }}</span>
      <i (click)="onHideColegiado()" *ngIf="showColegiado" class="fa fa-angle-up float-right"></i>
      <i (click)="onHideColegiado()" *ngIf="!showColegiado" class="fa fa-angle-down float-right"></i>
    </p>

    <div *ngIf="showColegiado" class="module vista-avanzada">
      <div class="form-row">
        <div class="form-group-interlineado col-lg-6 col-md-6">
          <app-busqueda-colegiado-express class="flexCenter" [pantalla]="'guardia'"
            [numColegiado]="usuarioBusquedaExpress.numColegiado" [nombreAp]="usuarioBusquedaExpress.nombreAp"
            [disabled]="disabledBusquedaExpress" (colegiado)="changeColegiado($event)">
          </app-busqueda-colegiado-express>
        </div>
      </div>
    </div>
    <!-- FIN - COLEGIADO -->

  </div>

  <div class="card-footer">
    <!-- BOTONES TARJETA -->
    <div class="text-right main-button">
      <button (click)="clearFilters()" pButton type="button" icon="fa fa-eraser" iconPos="left"
        label="{{ 'general.boton.clear' | translate}}"></button>
      <button (click)="search()" pButton type="button" icon="fa fa-search" iconPos="left"
        label="{{ 'general.boton.search' | translate }}"></button>
    </div>
  </div>

</div>

<div *ngIf="progressSpinner" class="overlay-spinner">
  <div class="loader"></div>
</div>
