<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>

<div class="card">
  <div class="card-body">

    <!-- INICIO - Datos Generales -->
    <p class="title-module">
      <span (click)="onHideDatosGenerales()">{{ 'general.message.datos.generales' | translate }}</span>
      <i (click)="onHideDatosGenerales()" *ngIf="showDatosGenerales" class="fa fa-angle-up float-right"></i>
      <i (click)="onHideDatosGenerales()" *ngIf="!showDatosGenerales" class="fa fa-angle-down float-right"></i>
    </p>


    <div *ngIf="showDatosGenerales" class="module vista-avanzada">
      <div class="form-row">

        <div class="form-group-interlineado col-lg-3 col-md-3">
          <label>
            {{"dato.jgr.guardia.guardias.turno" | translate}}
          </label>
          <p-dropdown class="select-form" placeholder="{{'general.boton.seleccionar' | translate}}"
            (onChange)="onChangeTurno()" [filter]="true" filterBy="label,labelSinTilde" filterMatchMode="contains"
            [options]="comboTurnos" [(ngModel)]='filtros.idTurno' [showClear]="true">
          </p-dropdown>
        </div>

        <div class="form-group-interlineado col-lg-3 col-md-3">
          <label>
            {{"menu.justiciaGratuita.GuardiaMenu" | translate}}
          </label>
          <p-dropdown class="select-form" placeholder="{{'general.boton.seleccionar' | translate}}"
            [(ngModel)]='filtros.idGuardia' [filter]="true" filterBy="label,labelSinTilde" filterMatchMode="contains"
            [options]="comboGuardias" [disabled]="isDisabledGuardia" [showClear]="true"></p-dropdown>
        </div>

        <div class="form-group-interlineado col-lg-3 col-md-3">
          <label>{{"administracion.auditoriaUsuarios.fechaDesde" | translate}}</label>
          <app-fecha [(value)]="filtros.fechaDesde" [maxDate]="getFechaHasta(filtros.fechaDesde, filtros.fechaHasta)"
            (valueChangeSelected)="fillFechaDesde($event)"  (valueChangeInput)="fillFechaDesde($event)"></app-fecha>
        </div>

        <div class="form-group-interlineado col-lg-3 col-md-3">
          <label>{{"administracion.auditoriaUsuarios.fechaHasta" | translate}}</label>
          <app-fecha [(value)]="filtros.fechaHasta" [minDate]="getFechaDesde(filtros.fechaDesde,filtros.fechaHasta)"
            (valueChangeSelected)="fillFechaHasta($event)"  (valueChangeInput)="fillFechaHasta($event)"></app-fecha>
        </div>

      </div>

    </div>

    <!-- FIN - Datos Generales -->

    <!-- INICIO - COLEGIADO -->
    <p class="title-module">
      <span (click)="onHideColegiado()">{{ 'justiciaGratuita.justiciables.literal.colegiado' | translate }}</span>
      <i (click)="onHideColegiado()" *ngIf="showColegiado" class="fa fa-angle-up float-right"></i>
      <i (click)="onHideColegiado()" *ngIf="!showColegiado" class="fa fa-angle-down float-right"></i>
    </p>

    <div *ngIf="showColegiado" class="module vista-avanzada">
      <div class="form-row">
        <div class="form-group-interlineado col-lg-6 col-md-6">
          <app-busqueda-colegiado-express></app-busqueda-colegiado-express>
        </div>
      </div>
    </div>
    <!-- FIN - COLEGIADO -->

  </div>

  <div class="card-footer">
    <!-- BOTONES TARJETA -->
    <div class="text-right main-button">
      <button (click)="clearFilters()" pButton type="button" icon="fa fa-eraser" iconPos="left"
        label="{{ 'general.boton.clear' | translate}}"></button>
      <button (click)="search()" pButton type="button" icon="fa fa-search" iconPos="left"
        label="{{ 'general.boton.search' | translate }}"></button>
    </div>
  </div>

</div>