<p-growl (onHover)="clear()" [(value)]="msgs" life="30000"></p-growl>
<div class="ficha-container" id="serviciosTramitacion">
  <div class="card" id="top">
    <div class="card-header header-ficha">
      <!-- Cabecera en ficha abierta -->
      <div *ngIf="true" class=" header-ficha-open d-flex justify-content-start align-items-center"
        (click)="abreCierraFicha('serviciosTramitacion')">
        <div class="img-colegiado">
          <i class="far fa-address-book icon-ficha"></i>
        </div>
        <label class="title-ficha pointer">{{ 'justiciaGratuita.ejg.datosGenerales.ServiciosTramit' | translate
          }}</label>
        <i class="fa fa-angle-up ml-auto"></i>
      </div>
    </div>

    <!-- Cuerpo en ficha abierta -->
    <div *ngIf="true" class="card-body card-body-ficha">
      <div class="form-row">
        <div class="form-group col-lg-6 col-md-6">
          <label>{{ "dato.jgr.guardia.guardias.turno" | translate }} (*)</label>
          <p-dropdown class="select-form" (onChange)="onChangeTurnos()" [(ngModel)]='body.idTurno'
            placeholder="Seleccionar" [options]="comboTurno" [filter]="true" filterBy="label,labelSinTilde"
            [showClear]="true" [disabled]="!permisoEscritura" ></p-dropdown>
        </div>
        <div class="form-group col-lg-6 col-md-6">
          <label>{{ "menu.justiciaGratuita.GuardiaMenu" | translate }} (*)</label>
          <p-dropdown class="select-form" [(ngModel)]='body.idGuardia' [disabled]="!permisoEscritura"
            placeholder="Seleccionar" [options]="comboGuardia" [filter]="true" filterBy="label,labelSinTilde"
            [showClear]="true"></p-dropdown>
        </div>

        <div class="form-group col-lg-9 col-md-9">
          <app-busqueda-colegiado-express (idPersona)="idPersona($event)" [idTurno]="body.idTurno"
            [idGuardia]="body.idGuardia" [tarjeta]="'ServiciosTramit'" [pantalla]="'gestionEjg'"
            [numColegiado]="usuarioBusquedaExpress.numColegiado" [obligatorio]="false" [art27]="art27"
            [nombreAp]="usuarioBusquedaExpress.nombreAp" (colegiado)="changeColegiado($event)" [disabled]="!permisoEscritura">
          </app-busqueda-colegiado-express>
        </div>

        <div class="form-group col-lg-3 col-md-3 form-row">
          <!-- Revisar más adelante -->
          <div class="form-group col-lg-6 pt-1 col-md-6">
            <label>Art 27-28</label>
            <p-checkbox [(ngModel)]="art27"  binary="true" (onChange)="clearBusqueda()" [disabled]="!permisoEscritura">
            </p-checkbox>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="true" class="card-footer">
      <div class="text-right main-button">

        <button pButton type="button" icon="fa fa-undo" iconPos="left" (click)="checkPermisosRest()"
          label="{{ 'general.boton.restablecer' | translate }}" [disabled]="!permisoEscritura"></button>

        <button pButton type="button" icon="fa fa-save" iconPos="left" (click)="checkPermisosSave()" 
          label="{{ 'general.boton.guardar' | translate }}" [disabled]="!permisoEscritura"></button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="progressSpinner" class="overlay-spinner">
  <div class="loader"></div>
</div>