::ng-deep .custom-frame {
    & .mat-checkbox-background, .mat-checkbox-frame {
      border-radius: 70% !important;
    }
  }
  .borderBottom{
      border-bottom: 1px solid black;
  }
  .h100{
    height: 100%;
  }
  .w100{
    width: 100%;
  }
  .w50{
    width: 50%;
  }
  .inline{
    display:inline-block
  }
  .inputWidth{
    width: 350px;
  }
  .flexCenter{
    display: flex;
    align-items: flex-end;
}