<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>

<div class="ficha-container">
  <div class="card">
    <div class="card-header header-ficha" (click)="onHideTarjeta()">
      <div *ngIf="showTarjeta" class="header-ficha-open d-flex justify-content-start align-items-center">
        <div class="img-colegiado">
          <i class="fa fa-user icon-ficha"></i>
        </div>
        <label class="title-ficha">{{ "menu.productosYServicios.categorias.servicios" | translate }}</label>
        <div class="d-flex justify-content-start mb-1 ml-auto">
          <i class="fa fa-angle-up ml-auto"></i>
        </div>
      </div>
      <div *ngIf="!showTarjeta" class="form-row">
        <div class="col-lg-1 col-md-2">
          <div class="img-colegiado">
            <i class="fa fa-user icon-ficha"></i>
          </div>
        </div>
        <div class="col-lg-11 col-md-10">
          <div class="d-flex justify-content-start mb-1">
            <label class="mr-auto title-ficha">{{ "menu.productosYServicios.categorias.servicios" | translate }}
            </label>
          </div>
          <div class="row">
            <div class="col-2">
              <label>{{ "facturacion.servicios.servicio" | translate }}
                <span *ngIf="serviciosTarjeta.length > 0">{{ serviciosTarjeta[0].descripcion }}</span>
              </label>
            </div>
            <div class="col-2">
              <label>{{ "facturacion.productos.tipo" | translate }}
                <span *ngIf="serviciosTarjeta.length > 0 && serviciosTarjeta[0].automatico == '1'" >{{'facturacion.servicios.automatico' | translate}}</span>
                <span *ngIf="serviciosTarjeta.length > 0 && serviciosTarjeta[0].automatico != '1'" >{{'facturacion.servicios.manual' | translate}}</span>
              </label>
            </div>
            <div class="col-2">
              <label>{{ "form.busquedaCursos.literal.precio" | translate }}
                <span *ngIf="serviciosTarjeta.length > 0">{{ serviciosTarjeta[0].precioServicioDesc }}</span>
              </label>
            </div>
            <div class="col-2">
              <label>{{ "facturacionSJCS.facturacionesYPagos.buscarFacturacion.total" | translate }}
                <span *ngIf="serviciosTarjeta.length > 0">{{ serviciosTarjeta[0].total }} €</span>
              </label>
            </div>
            <div class="col-2">
              <label>{{ "facturacion.productos.formapago" | translate }}
                <span>{{ pagoCabecera }}</span>
              </label>
            </div>
            <div class="d-flex justify-content-start mb-1 ml-auto">
              <i class="fa fa-angle-down ml-auto"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div [hidden]="!showTarjeta">
      
      <!-- Activo a fecha de -->
      <div class="form-group col-lg-3 col-md-3" *ngIf="ficha.aFechaDeServicio != null && serviciosTarjeta.length > 0 && serviciosTarjeta[0].automatico == '1'">
        <label>{{ "aFechaDe" | translate }}
        </label>
        <!--  Solo se muestra cuando una suscripcion automatica -->
        <app-fecha disabled  [(value)]="ficha.aFechaDeServicio"></app-fecha>
      </div>
      <div class="card-body card-body-ficha row">
        <div class="row">
          <div class="col-lg-11 col-md-11">
            <p-table #servicesSuscripcionTable [value]="serviciosTarjeta" [columns]="cols" [(selection)]="selectedRows"
              selectionMode="multiple" [responsive]="true" class="tabla-listado" [paginator]="true" [rows]="rowsPerPage"
              (onRowSelect)="onRowSelect()" (onRowUnselect)="onRowUnselect()" [first]="first"
              (sortFunction)="customSort($event)" [customSort]="true" paginatorPosition="both">

              <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                  <col *ngFor="let col of cols" [style.width]="col.width">
                </colgroup>
              </ng-template>

              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th *ngFor="let col of columns; let i = index" [ngSwitch]="col.field" [pSortableColumn]="col.field">
                    {{ col.header | translate}}
                  </th>
                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                  <td class="text-center" *ngFor="let col of columns">
                    <span *ngIf="col.field == 'descripcion'" class="enlace" (click)="openTab(rowData)">{{rowData[col.field]}}</span>

                    <!-- REVISAR CONDICION DE "FACTURADA" -->
                    <span *ngIf="col.field == 'fechaAlta' && !(!esColegiado && (ficha.facturas == null || ficha.facturas.length == 0 )) && ficha.fechaAceptada != null">{{rowData[col.field] | date : 'dd/MM/yyyy'}}</span>
                    <app-fecha  [inputStyleClass]="styleObligatorio(rowData[col.field])"
                      *ngIf="col.field == 'fechaAlta' && !esColegiado  && (ficha.facturas == null || ficha.facturas.length == 0) && ficha.fechaAceptada != null" [(value)]="rowData[col.field]"
                      (valueChangeInput)="fillFechaAlta($event)" (valueChangeSelected)="fillFechaAlta($event)"></app-fecha>
                      
                      
                    <app-fecha  [inputStyleClass]="styleObligatorio(rowData[col.field])"
                      *ngIf="col.field == 'fechaBaja' && rowData[col.field] != null" [minDate]="getFechaUltFact()" [(value)]="rowData[col.field]"
                      (valueChangeInput)="fillFechaBaja($event)" (valueChangeSelected)="fillFechaBaja($event)"></app-fecha>
                      
                    <span *ngIf="col.field == 'automatico' && rowData[col.field] == '1'" >{{'facturacion.servicios.automatico' | translate}}</span>
                    <span *ngIf="col.field == 'automatico' && rowData[col.field] != '1'" >{{'facturacion.servicios.manual' | translate}}</span>

                    <span *ngIf="col.field == 'precioServicioDesc' && (ficha.fechaAceptada != null || (ficha.fechaAceptada == null && rowData['automatico'] == '1'))">{{rowData[col.field]}}</span>
                    <p-dropdown  *ngIf="col.field == 'precioServicioDesc' && ficha.fechaAceptada == null && rowData['automatico'] != '1'" [filter]="true" styleClass="widthAll" [showClear]="true"
                    placeholder="{{ 'facturacion.seriesFactura.pagos.literal' | translate }}" [(ngModel)]='rowData.idComboPrecio' [disabled]="comboPrecios.length == 0"
                    [options]="comboPrecios" (onChange)="onChangePrecio(rowData)" (input)="checkTotal()"> <!-- [ngClass]="styleObligatorio(rowData[col.field])"-->
                    </p-dropdown>

                    <span *ngIf="col.field == 'periodicidadDesc'">{{rowData[col.field]}}</span>
                    <span *ngIf="col.field == 'precioServicioValor'">{{rowData[col.field]}} €</span>



                    <span *ngIf="col.field == 'iva'">{{rowData[col.field]}}</span>
                    
                    <span
                      *ngIf="col.field == 'total'">{{rowData[col.field]}}
                      €</span>
                    <span *ngIf="col.field == 'orden'">{{rowData[col.field]}}</span>
                  </td>
                </tr>

              </ng-template>

              <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                  <td [attr.colspan]="columns.length">
                    {{'censo.busquedaClientesAvanzada.literal.sinResultados' | translate }}
                  </td>
                </tr>
              </ng-template>

              <ng-template pTemplate="paginatorleft">
                <div class="mostrar d-flex text-right justify-content-end">
                  <label class="pr-3 registros-totales">Mostrando registros del {{servicesSuscripcionTable.first + 1}} al
                    {{servicesSuscripcionTable.first +
                      servicesSuscripcionTable.rows}} de un total de {{servicesSuscripcionTable.totalRecords}}</label>
                  <div>
                    <label class="pr-3 numSeleccionados">{{
                      'agenda.fichaCalendario.tablaNotificaciones.mostrandoRegistros'
                      |
                      translate }}: {{numSelectedRows}}
                    </label>
                  </div>
                  <label>{{"general.message.mostrar" | translate}}</label>
                  <p-dropdown [(ngModel)]="rowsPerPage" [options]="rowsPerPageSelectValues"
                    (onChange)="onChangeRowsPerPages($event)">
                  </p-dropdown>
                  <label class="pl-1"> {{"cargaMasivaDatosCurriculares.numRegistros.literal" | translate}}</label>

                  <div class="ml-3 selectAll">
                    <p-checkbox (onChange)="onChangeSelectAllRows()" [(ngModel)]="selectAllRows" binary="true"
                      label="{{ 'tablas.literal.seleccionarTodo' | translate }}" name="groupname">
                    </p-checkbox>
                  </div>
                </div>
              </ng-template>
            </p-table>
          </div>
          <div class="col-lg-1 col-md-1 centerAlign">
            <div class="col-lg-12 col-md-12 centerAlign" style="
            top: 50%;
            transform: translate(0, -50%);"><button class="styledBut" [disabled]="disableUp"
                class="pointer p-2" (click)="moveRow('up')"><i class="fas fa-chevron-up"></i></button></div>
            <div class="col-lg-12 col-md-12 centerAlign" style="
            top: 50%;
            transform: translate(0, -50%);"><button class="styledBut" [disabled]="disableDown"
                class="pointer p-2" (click)="moveRow('down')"><i class="fas fa-chevron-down"></i></button></div>
          </div>
        </div>
        <div class="col-lg-12 col-md-12">
          <div class="form-row col-lg-12 col-md-12">
            <div class="form-group col-lg-6 col-md-6">
              <label>{{ "facturacion.productos.formapago" | translate }}
              </label>
              <p-dropdown [ngClass]="styleObligatorio(selectedPago)" class="select-form" [options]="comboComun" [disabled]="ficha.fechaAceptada != null || ficha.fechaDenegada != null || selectedPago == '-1' || comboComun.length == 0"
                placeholder="{{'general.boton.seleccionar' | translate}}" (onChange)="onChangePago()" [(ngModel)]="selectedPago" showClear="true">
              </p-dropdown>
            </div>
            <div *ngIf="ficha.servicios != null" class="form-row col-lg-6 col-md-6">
              <div class="form-group col-lg-3 col-md-3">
                <label>{{ "facturacion.productos.totalUnidades" | translate }}
                </label>
                <input [(ngModel)]="totalUnidades" type="number" class="form-control" disabled pInputText />
              </div>
              <div class="form-group col-lg-3 col-md-3">
                <label>{{ "facturacion.productos.totalNeto" | translate }}
                </label>
                <input [(ngModel)]="datosTarjeta.totalNeto" type="number" class="form-control" disabled pInputText step=".01" />
              </div>
              <div class="form-group col-lg-3 col-md-3">
                <label>{{ "facturacion.productos.iva" | translate }}
                </label>
                <input [(ngModel)]="datosTarjeta.totalIVA" type="number" class="form-control" disabled pInputText step=".01"/>
              </div>
              <div class="form-group col-lg-3 col-md-3">
                <label>{{ "facturacionSJCS.facturacionesYPagos.importeTotal" | translate }}
                </label>
                <input [(ngModel)]="datosTarjeta.impTotal" type="number" class="form-control" disabled pInputText step=".01"/>
              </div>
            </div>
            <!-- Desplegable condicional que solo aparece si la forma de pago seleccionada es "Domiciliación bancaria". corresponde a idformapago = 20 -->
            <div *ngIf="selectedPago == '80' || selectedPago == '20'" class="form-group col-lg-6 col-md-6">
              <label>{{ "facturacion.seriesFactura.cuentaBancaria" | translate }}
              </label>
              <p-dropdown [ngClass]="styleObligatorio(datosTarjeta.cuentaBancSelecc)" class="select-form" [options]="cuentasBanc"
              [disabled]="ficha.fechaAceptada != null || ficha.fechaDenegada != null || ficha.idPersona == null"
                placeholder="{{'general.boton.seleccionar' | translate}}" [(ngModel)]="datosTarjeta.cuentaBancSelecc"
                showClear="true"></p-dropdown>
             </div>
          </div>
          <div class="text-right main-button">
            <!-- Guardar -->
            <!-- Se permite guardar aunque la peticion ya haya sido aceptada porque en algunos casos se puede modificar la fecha de alta y baja -->
            <button pButton (click)="checkSave()" type="button" icon="far fa-save" iconPos="left"
              label="{{ 'general.boton.guardar' | translate}}"
              [disabled]="ficha.fechaPendiente == null || (!(!esColegiado  && (ficha.facturas == null || ficha.facturas.length == 0) && ficha.fechaAceptada != null) && ficha.fechaAnulada == null) 
              || !permisoActualizarServicioSuscripcion"></button>
            <!-- Nuevo -->
            <button pButton (click)="openHideModal()" type="button" icon="fa fa-plus" iconPos="left"
              label="{{ 'general.boton.new' | translate}}"
              [disabled]="ficha.fechaAceptada != null || ficha.fechaDenegada != null || serviciosTarjeta.length > 0"></button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div *ngIf="progressSpinner" class="overlay-spinner">
    <div class="loader"></div>
  </div>


























  <p-dialog responsive="true" modal="modal" [draggable]="false" resizable="false" [(visible)]="showModal"
    (onHide)="cerrarDialog()" header="{{ 'facturacion.servicios.serviciosManuales' | translate}}">
    
    <p-table #servicesTable [value]="comboServiciosManuales" [columns]="colsServs" class="tabla-listado" [paginator]="true"
      [rows]="10" [first]="first" [responsive]="true" paginatorPosition="both" selectionMode="multiple"
      [(selection)]="selectedRowsAux" (onRowSelect)="anadirServicio($event)">
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngFor="let col of colsServs" [style.width]="col.width">
        </colgroup>
      </ng-template>

      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns; let i = index" [ngSwitch]="col.field" [pSortableColumn]="col.field">
            {{ col.header | translate}}
            <p-sortIcon [field]="col.field"></p-sortIcon>
            <input pDroppable="false" [(ngModel)]="buscadoresServicios[i]" (click)="$event.stopPropagation()"
              *ngSwitchCase="col.field" pInputText type="text"
              (input)="servicesTable.filter($event.target.value, col.field, 'contains')" />
          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
        <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
          <td class="text-center" *ngFor="let col of columns">
            <div>
              <a *ngIf="rowData.fechabaja == null" ><span>{{rowData[col.field]}}</span></a>
              <span *ngIf="rowData.fechabaja != null" [ngStyle]="{'font-style': 'italic', 'font-weight':'bold', 'text-decoration':'line-through'}">{{rowData[col.field]}}</span>
            </div>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="columns.length">
            {{'censo.busquedaClientesAvanzada.literal.sinResultados' | translate }}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-dialog>