.enlace {
    color: #0000EE !important
  }

.seleccionarRegistro{
  color: #1b1d1f;
  font-weight: normal;
  font-size: 1.25em;
}

.tablaFlechas {
  flex: 0 0 5%;
}

.tablaDatos {
  flex: 0 0 94%;
  max-width: 94%;
  padding-right: 19px
}