<div id="fichaCertificacion">
    <div class="card">
        <div class="card-body p-0">
            <mat-accordion class="example-headers-align" multi>

                <mat-expansion-panel (opened)="panelDatGenOpenState = true" (closed)="panelDatGenOpenState = false"
                    [ngClass]="{'tarjeta-cerrada': !panelDatGenOpenState, 'tarjeta-abierta' : panelDatGenOpenState}">
                    <mat-expansion-panel-header class="h100" [collapsedHeight]="'auto'" [expandedHeight]="'auto'">
                        <div *ngIf="!panelDatGenOpenState" class="form-row w100">

                            <div class="col-lg-1 col-md-2">
                                <div class="icono-wrapper">
                                    <i class="far fa-address-book icono"></i>
                                </div>

                            </div>
                            <div class="col-lg-11 col-md-10">
                                <div class="d-flex justify-content-start mb-1">
                                    <label class="mr-auto titulo-tarjeta">Datos Generales</label>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="panelDatGenOpenState"
                            class="cabecera-tarjeta-abierta d-flex justify-content-start align-items-center">
                            <div class="icono-wrapper">
                                <i class="far fa-address-book icono"></i>
                            </div>
                            <label class="titulo-tarjeta">Datos Generales</label>
                        </div>
                    </mat-expansion-panel-header>
                    <ng-template matExpansionPanelContent>
                        <div class="form-row padding-interior">
                            <div class="form-group-interlineado col-lg-6 col-md-6" style="padding-left: 2px;">
                                <div class="form-row mb-3">
                                    <div class="col-md-12 col-lg-12 form-group-interlineado">
                                        <div *ngFor="let input of inputs">
                                            <label>{{input.nombre}}</label>
                                            <input type="text" class="form-control" pInputText
                                                [placeholder]="input.valor">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12 col-lg-12 form-group-interlineado">
                                        <div class="form-row">
                                            <div *ngFor="let campo of campos"
                                                class="col-md-6 col-lg-6 form-group-interlineado">
                                                <div>{{campo.nombre}}</div>
                                                <div>{{campo.valor}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group-interlineado col-lg-6 col-md-6">
                                <div>
                                    <app-paginador (seleccionarTodo)="selectedAll($event)"></app-paginador>
                                </div>
                                <div>
                                    <app-tabla-simple [cabeceras]="cabeceras2" [elementos]="elementos2"
                                        (anySelected)="notifyAnySelected($event)"></app-tabla-simple>
                                </div>
                                <div>
                                    <app-paginador [type]="'BOTTOM'"></app-paginador>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div *ngIf="panelDatGenOpenState" class="card-footer">
            <div class="text-right main-button">

                <button [disabled]="isDisabled" pButton type="button"  icon="fa fa-eraser"  iconPos="left"
                    label="Incidencias"></button>
                <button [disabled]="isDisabled" pButton type="button"  icon="fa fa-eraser"  iconPos="left"
                    label="Subir fichero"
                    (click)="showMsg('success', 'Se ha subido el fichero correctamente', '')"></button>
                <button [disabled]="isDisabled" pButton type="button"  icon="fa fa-eraser"  iconPos="left"
                    label="Reabrir" (click)="showMsg('success', 'Se ha reabierto correctamente', '')"></button>
                <button [disabled]="isDisabled" pButton type="button"  icon="fa fa-eraser"  iconPos="left"
                    label="Cerrar y Enviar"
                    (click)="showMsg('success', 'Se ha cerrado y enviado correctamente', '')"></button>
                <button [disabled]="isDisabled" pButton type="button"  icon="fa fa-eraser"  iconPos="left"
                    label="Comunicar" (click)="showMsg('success', 'Se ha comunicado correctamente', '')"></button>
                <button [disabled]="isDisabled" pButton type="button"  icon="far fa-save"  iconPos="left"
                    label="Guardar" (click)="showMsg('success', 'Se ha guardado correctamente', '')"></button>
                <button [disabled]="isDisabled" pButton type="button"  icon="fa fa-undo"  iconPos="left"
                    label="Restablecer" (click)="showMsg('success', 'Se ha restablecido correctamente', '')"></button>

            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body p-0">
            <mat-accordion class="example-headers-align" multi>
                <mat-expansion-panel (opened)="panelFacOpenState = true" (closed)="panelFacOpenState = false"
                    [ngClass]="{'tarjeta-cerrada': !panelFacOpenState, 'tarjeta-abierta' : panelFacOpenState}">
                    <mat-expansion-panel-header class="h100" [collapsedHeight]="'auto'" [expandedHeight]="'auto'">
                        <div *ngIf="!panelFacOpenState" class="form-row w100">

                            <div class="col-lg-1 col-md-2">
                                <div class="icono-wrapper">
                                    <i class="far fa-address-book icono"></i>
                                </div>

                            </div>
                            <div class="col-lg-11 col-md-10">
                                <div class="d-flex justify-content-start mb-1">
                                    <label class="mr-auto titulo-tarjeta">Facturaciones</label>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="panelFacOpenState"
                            class="cabecera-tarjeta-abierta d-flex justify-content-start align-items-center">
                            <div class="icono-wrapper">
                                <i class="far fa-address-book icono"></i>
                            </div>
                            <label class="titulo-tarjeta">Facturaciones</label>
                        </div>
                    </mat-expansion-panel-header>
                    <ng-template matExpansionPanelContent>
                        <app-tabla-resultado [cabeceras]="cabeceras" [elementos]="elementos"
                            [elementosAux]="elementosAux" (anySelected)="notifyAnySelected($event)">
                        </app-tabla-resultado>
                    </ng-template>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div *ngIf="panelFacOpenState" class="card-footer">
            <div class="text-right main-button">
                <button [disabled]="isDisabled" pButton type="button"  icon="fa fa-eraser"  iconPos="left"
                    label="Reabrir" (click)="showMsg('success', 'Se ha reabierto correctamente', '')"></button>
                <button [disabled]="isDisabled" pButton type="button"  icon="fa fa-eraser"  iconPos="left"
                    label="Comunicar" (click)="showMsg('success', 'Se ha comunicado correctamente', '')"></button>
                <button [disabled]="isDisabled" pButton type="button"  icon="fa fa-eraser"  iconPos="left"
                    label="Nuevo"></button>
                <button [disabled]="isDisabled" pButton type="button"  icon="fa fa-eraser"  iconPos="left"
                    label="Restablecer" (click)="showMsg('success', 'Se ha restablecido correctamente', '')"></button>
                <button [disabled]="isDisabled" pButton type="button"  icon="fa fa-eraser"  iconPos="left"
                    label="Guardar" (click)="showMsg('success', 'Se ha guardado correctamente', '')"></button>
            </div>
        </div>
    </div>

</div>