<form [formGroup]='form'>
    <br>

    <p class="titulos" style="text-align:center">BIENVENIDO AL SISTEMA DE GESTIÓN DE LA ABOGACÍA (S.I.G.A)</p>


    <table align="center" class="table-login">
        <tr>
            <td class="labelText">Institución</td>
            <td>
                <select formControlName="tmpLoginInstitucion" style="width:300px" (ngModelChange)="onChange($event)">
                    <option value="" selected></option>
                    <option *ngFor="let i of instituciones" [ngValue]="i.value">{{ i.label }}</option>
                </select>
            </td>
            <td valign="middle" align="center">
                <button (click)='submit()' title="Entrar con los datos de los combos">Entrar</button>
                <!-- <input type="button" class="button" value="Entrar" onClick="entrar()" > -->
            </td>
        </tr>
        <tr>
            <td class="labelText">¿Letrado?</td>
            <td colspan="2">
                <select formControlName="sLetrado" class="boxCombo" style="width:300px;">
                    <option value=N selected="">NO, no soy Letrado</option>
                    <option value=S>SÍ, soy Letrado</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="labelText">Perfil</td>
            <td colspan="2">

                <p-listbox formControlName="tmpLoginPerfil" [options]="perfiles" [(ngModel)]="tmpLoginPerfil" multiple="multiple" [style]="{'width':'300px'}"
                    [listStyle]="{'height':'300px'}"></p-listbox>

                    <!--<select formControlName="tmpLoginPerfil" style="width:300px;width:300px;" size="20">
                    <option *ngFor="let i of perfiles" [ngValue]="i.value">{{ i.label }}</option>
                </select>-->
            </td>
        </tr>

    </table>


    <!-- <input type="hidden" formControlName="tmpLoginInstitucion"> -->
    <input type="hidden" formControlName="location">
    <!-- <input type="hidden" formControlName="sLetrado"> -->
    <input type="hidden" formControlName="user">
    <input type="hidden" formControlName="profile">
    <!-- <input type="hidden" formControlName="tmpLoginPerfil"> -->
    <input type="hidden" formControlName="letrado">
    <input type="hidden" formControlName="posMenu">

</form>