<p-growl (onHover)="clear()" [(value)]="msgs" life="30000"></p-growl>
<div class="busqueda-container">

  <div class="header-title">
    <i class="fa fa-square"></i>
    <p>{{ 'menu.censo' | translate}}
      <i class="pl-1 fa fa-angle-right"></i> {{ migaPan }}
      <i class="pl-1 fa fa-angle-right"></i> {{"censo.fichaCliente.datosDirecciones.cabecera" | translate}}</p>
  </div>

  <div class="busqueda-container">
    <div class="card">
      <div class="card-header header-ficha" (click)="abrirFicha()">
        <div *ngIf="!openFicha" class="form-row">
          <div class="col-lg-1 col-md-2">
            <div class="img-colegiado">
              <i class="fa fa-mail-forward icon-ficha"></i>
            </div>
          </div>
          <div class="col-lg-11 col-md-10 ">
            <div class="d-flex justify-content-end mb-1">
              <label class="mr-auto title-ficha">{{ 'censo.datosDireccion.literal.edicion.creacion' | translate }}</label>
            </div>
            <div class="d-flex justify-content-between">
              <br>
              <i [ngClass]="{ 'fa fa-angle-up': openFicha, 'fa fa-angle-down': !openFicha} "></i>
            </div>
          </div>
        </div>
        <div *ngIf="openFicha" class=" header-ficha-open d-flex justify-content-start align-items-center">
          <div class="img-colegiado">
            <i class="fa fa-mail-forward icon-ficha"></i>
          </div>
          <label class="title-ficha">{{ 'censo.datosDireccion.literal.edicion.creacion' | translate }}</label>
          <i class="fa fa-angle-up ml-auto"></i>
        </div>
      </div>

      <div *ngIf="openFicha" class="card-body card-body-ficha">
        <div class="row">
          <div class="bloque col-lg-6 col-md-6">

            <div class="form-row">

              <div class="form-group col-lg-12 col-md-1 input-ayuda">
                <label style="font-weight: bold;">{{ 'envios.definir.literal.datosdestino' | translate }}</label>
                <!--<span class="ml-2 ayuda-btn" [pTooltip]="tooltipFechaMod" tooltipPosition="top">
                  <i class="fa fa-info"></i>
                </span>-->
              </div>
              <div class="form-group col-lg-12 col-md-12">
                <label>{{'censo.datosDireccion.literal.fechaModificacion' | translate}}: {{fechaModificacion}}</label>
                <!-- <br>
                <input [(ngModel)]="fechaModificacion" dateFormat="dd/mm/yy" [disabled]="!isEditable" [style]="{ 'position': 'relative', 'z-index': '1000' }"
                  type="text" class="form-control" pInputText>
                <label>{{fechaModificacion}}</label> -->
              </div>
              <!-- <div class="form-group col-lg-4 col-md-4 ">
                <br>
                  <input [(ngModel)]="fechaModificacion" dateFormat="dd/mm/yy" [disabled]="!isEditable" [style]="{ 'position': 'relative', 'z-index': '1000' }"
                    type="text" class="form-control" pInputText>
                  <label>{{fechaModificacion}}</label>
              </div> -->
              <div class="form-group col-lg-12 col-md-12">
                <label>
                  {{"censo.consultaDirecciones.literal.direccion" | translate}}
                </label>
                <input [(ngModel)]="body.domicilio" type="text" class="form-control" [disabled]="historyDisable || permisoTarjeta == '2'"
                  [maxLength]="99" pInputText>
              </div>
              <div class="form-group col-lg-6 col-md-6">
                <label>
                  {{"censo.datosDireccion.literal.pais2" | translate}}
                </label>
                <p-dropdown class="select-form" placeholder="{{ 'general.boton.seleccionar' | translate }}" [(ngModel)]="body.idPais" [showClear]="true"
                  [filter]="true" filterMatchMode="contains" [options]="comboPais" [disabled]="historyDisable || permisoTarjeta == '2'"
                  (onChange)="onChangePais()">
                </p-dropdown>
              </div>

              <div class="form-group col-lg-6 col-md-6">
                <label>
                  {{"censo.ws.literal.codigopostal" | translate}} (*)
                </label>
                <input [ngClass]="styleObligatorio(body.codigoPostal)" *ngIf="!poblacionExtranjera" [disabled]="isDisabledCodigoPostal || permisoTarjeta == '2'"
                  type="text" class="form-control" [maxLength]="5" [(ngModel)]="body.codigoPostal" (ngModelChange)="onChangeCodigoPostal()"
                  pInputText>
                <input *ngIf="poblacionExtranjera" [(ngModel)]="body.codigoPostal" type="text" class="form-control" [maxLength]="5" [disabled]="isDisabledCodigoPostal || permisoTarjeta == '2'"
                  pInputText>
              </div>

              <div class="form-group col-lg-6 col-md-6">
                <label>
                  {{"censo.datosDireccion.literal.provincia" | translate}}
                </label>
                <!--  -->
                <p-dropdown class="select-form" placeholder="{{ 'general.boton.seleccionar' | translate }}" [(ngModel)]='provinciaSelecionada'
                  [showClear]="true" (onChange)="onChangeProvincia()" [filter]="true" filterBy="label,labelSinTilde" filterMatchMode="contains"
                  [disabled]="isDisabledProvincia || permisoTarjeta == '2' || poblacionExtranjera" [options]="comboProvincia">
                </p-dropdown>
              </div>

              <div class="form-group col-lg-6 col-md-6">
                <label>Otra Provincia</label>
                <p-checkbox name="otraProvincia" [(ngModel)]="checkOtraProvincia" #provincia [disabled]="disableCheck || permisoTarjeta == '2'"
                  binary="true" (onChange)="onChangeOtherProvincia($event)"></p-checkbox>
              </div>

              <div *ngIf="!poblacionExtranjera" class="form-group col-lg-6 col-md-6">
                <label>
                  {{"censo.consultaDirecciones.literal.poblacion" | translate}}
                </label>
                <p-dropdown placeholder="{{'general.boton.seleccionar' | translate}}" #input2 class="select-form" [(ngModel)]='body.idPoblacion'
                  [showClear]="true" [filter]="true" filterBy="label,labelSinTilde" [disabled]="isDisabledPoblacion || permisoTarjeta == '2'"
                  [options]="comboPoblacion" (input)="buscarPoblacion($event)" [emptyFilterMessage]="resultadosPoblaciones"
                  id="dropdown">
                </p-dropdown>

              </div>

              <div *ngIf="poblacionExtranjera" class="form-group col-lg-6 col-md-6">
                <label>{{"censo.consultaDirecciones.literal.poblacion" | translate}} (*)</label>
                <input [ngClass]="styleObligatorio(body.poblacionExtranjera)" [(ngModel)]="body.poblacionExtranjera" type="text" class="form-control"
                  [maxLength]="99" pInputText>
              </div>

              <div class="form-group col-lg-6 col-md-6">
                <label>{{ 'censo.datosDireccion.literal.tipo.direccion' | translate }} (*)</label>
                <p-multiSelect #someDropdown [ngClass]="styleObligatorio(body.idTipoDireccion)" [defaultLabel]="textFilter" styleClass="widthAll" [(ngModel)]='body.idTipoDireccion'
                  [options]="comboTipoDireccion" [selectedItemsLabel]="textSelected" maxSelectedLabels="10"
                  [disabled]="tipoDireccionDisable() || permisoTarjeta == '2'" (onChange)="onChangeTipoDireccion($event)" (onPanelShow)="focusInputField()"></p-multiSelect>
              </div>
            </div>
          </div>

          <div class="bloque col-lg-6 col-md-6">

            <div class="form-row">

              <div class="form-group col-lg-12 col-md-12">
                <label style="text-align:center; font-weight: bold;">{{ 'censo.datosDireccion.literal.datos.contacto' | translate }}</label>
              </div>
              <div class="form-group col-lg-12 col-md-12">
                <p-dataTable emptyMessage="{{ 'general.message.no.registros' | translate}}" [value]="datosContacto" [editable]="true" [responsive]="true"
                  #table class="tabla-listado" [sortOrder]="1" paginatorPosition="both" [rows]="selectedItem" [editable]="true"
                  (onRowSelect)="onRowSelect($event)" pageLinks="4">
                  <p-column *ngFor="let col of columnasDirecciones" [sortable]="true" [field]="col.field" [header]="col.header | translate">
                    <ng-template *ngIf="col.field == 'valor'" let-dato="rowData" pTemplate="body">
                      <!-- <span class="input-group"> -->
                      <!-- <input *ngIf="dato.tipo == 'Correo-Electrónico'" (click)="openOutlook(dato)" type="text" class="form-control" [(ngModel)]="dato[col.field]"
                          [maxLength]="dato.longitud" [disabled]="historyDisable || permisoTarjeta == '2'" pInputText> -->

                      <div *ngIf="dato.tipo == 'Telefono'">
                        <input class="form-control" [(ngModel)]="dato[col.field]" [maxLength]="dato.longitud" [disabled]="historyDisable || permisoTarjeta == '2'"
                          (input)="changeTelefono(dato)" pInputText>
                        <div *ngIf="!tlfValido">
                          <small class="input-error">{{ 'general.mensaje.validacion.telefono' | translate}}</small>
                        </div>
                      </div>

                      <div *ngIf="dato.tipo == 'Fax'">
                        <input class="form-control" [(ngModel)]="dato[col.field]" [maxLength]="dato.longitud" [disabled]="historyDisable || permisoTarjeta == '2'"
                          (input)="changeFax(dato)" pInputText>
                        <div *ngIf="!faxValido">
                          <small class="input-error">{{ 'general.mensaje.validacion.fax' | translate}}</small>
                        </div>
                      </div>
                      <div *ngIf="dato.tipo == 'Móvil'">
                        <input class="form-control" [(ngModel)]="dato[col.field]" [maxLength]="dato.longitud" [disabled]="historyDisable || permisoTarjeta == '2'"
                          (input)="changeMovil(dato)" pInputText>
                        <div *ngIf="!mvlValido">
                          <small class="input-error">{{ 'general.mensaje.validacion.movil' | translate}}</small>
                        </div>
                      </div>

                      <div *ngIf="dato.tipo == 'Página Web'">
                        <input type="text" class="form-control" [(ngModel)]="dato[col.field]" [maxLength]="dato.longitud" [disabled]="historyDisable || permisoTarjeta == '2'"
                          (input)="changeWeb(dato)" pInputText>
                        <div *ngIf="!webValido">
                          <small class="input-error">{{ 'general.mensaje.validacion.paginaWeb' | translate}}</small>
                        </div>
                      </div>

                      <div *ngIf="dato.tipo == 'Correo-Electrónico'">
                        <div *ngIf="edicionEmail" class="ui-inputgroup">
                          <input [disabled]="historyDisable || permisoTarjeta == '2'" type="text" class="form-control enlace" pInputText [(ngModel)]="dato[col.field]"
                            (input)="changeEmail(dato)" />
                          <button [disabled]="historyDisable || permisoTarjeta == '2'" (click)="editEmail()" pButton type="button" icon="fas fa-check"
                            class="ui-button-warn"></button>
                        </div>
                        <div *ngIf="!emailValido">
                          <small class="input-error">{{ 'general.mensaje.validacion.email' | translate}}</small>
                        </div>
                        <div *ngIf="!edicionEmail" class="ui-inputgroup">
                          <a *ngIf="dato[col.field] != undefined && dato[col.field] != ''" [href]="'mailto:'+dato[col.field]" class="col-11 enlace" target="_blank">{{dato[col.field]}}</a>
                          <span *ngIf="dato[col.field] == undefined || dato[col.field] == ''" class="col-11">{{dato[col.field]}}</span>
                          <button (click)="editEmail()" pButton type="button" icon="fas fa-pencil-alt" class="ui-button-warn button-edit col-1"></button>
                        </div>
                      </div>
                      <!-- </span> -->
                    </ng-template>
                    <ng-template *ngIf="col.field == 'tipo'" let-dato="rowData" pTemplate="body">
                      <label>{{dato.tipo}}</label>
                    </ng-template>
                  </p-column>
                </p-dataTable>

              </div>
            </div>
          </div>
        </div>
        <br>
      </div>
      <div *ngIf="openFicha" class="card-footer ">
        <div class="text-right main-button ">
          <button *ngIf="nuevo == false" (click)="duplicarRegistro()" pButton type="button" [disabled]="desactivaDuplicar() || permisoTarjeta == '2'"
            icon="fa fa-reply-all" iconPos="left" label="{{ 'general.boton.duplicar' | translate}}"></button>

          <button (click)="restablecer()" pButton type="button" icon="fa fa-undo" iconPos="left" [disabled]="igualInicio() || permisoTarjeta == '2'"
            label="{{ 'general.boton.restablecer' | translate}}"></button>

          <button *ngIf="!isLetrado" (click)="checkDatos()" pButton type="button" icon="far fa-save" iconPos="left" [disabled]="desactivaDuplicar() || permisoTarjeta == '2'"
            label="{{ 'general.boton.guardar' | translate}}"></button>

          <button *ngIf="isLetrado" (click)="checkDatos()" pButton type="button" icon="far fa-save" iconPos="left" [disabled]="permisoTarjeta == '2'"
            label="{{ 'general.boton.solicitarModificacion' | translate}}"></button>

          <!-- <button *ngIf="isLetrado && nuevo" (click)="comprobarAuditoria()" pButton type="button" icon="far fa-save" iconPos="left" [disabled]="desactivaGuardar()"
            label="{{ 'general.boton.solicitarNuevo' | translate}}"></button> -->
        </div>
      </div>
    </div>
  </div>

  <div class="mt-3 text-right main-button ">
    <button (click)="backTo()" pButton type="button " icon="fa fa-angle-left" iconPos="left" label="{{ 'general.boton.volver' | translate}}"></button>
  </div>

</div>


<!-- AUDITORIA -->

<p-dialog [(visible)]="displayAuditoria" responsive="true" [draggable]="false" modal="modal" resizable="false" [minWidth]="500">
  <p-header class="title">
    <label>{{"general.ventana.cgae" | translate}} -{{"censo.consultaHistorico.cabecera" | translate}}</label>
  </p-header>

  <div class="bloque col-lg-12 col-md-12">
    <div class="row">
      <div class="form-group col-lg-12 col-md-12">
        <label>{{"censo.datosHistorico.literal.motivo" | translate}} (*)</label>
        <textarea pInputTextarea [(ngModel)]="body.motivo" (ngModelChange)="comprobarCampoMotivo()"></textarea>
      </div>
    </div>
  </div>
  <p-footer>
    <div class="text-right main-button ">
      <button (click)="cerrarAuditoria()" pButton type="button" icon="fa fa-close" iconPos="left" label="{{ 'general.boton.close' | translate}}"></button>
      <button (click)="guardarAuditoria()" [disabled]="!showGuardarAuditoria || permisoTarjeta == '2'" pButton type="button" icon="fa fa-save"
        iconPos="left" label="{{ 'general.boton.guardarCerrar' | translate}}"></button>

    </div>
  </p-footer>
</p-dialog>


<app-dialog></app-dialog>

<div *ngIf="progressSpinner" class="overlay-spinner">
  <!--<p-progressSpinner animationDuration="1s"></p-progressSpinner>-->
  <div class="loader"></div>
</div>