<div class="busqueda-container">
  <div class="header-title">
    <i class="fa fa-square"></i>
    <p>Agenda
  </div>
  <div class="card">
    <div class="card-body">
      <p class="title-module"> {{ 'general.message.datos.generales' | translate }}
        <i (click)="abrirFicha('generales')" *ngIf="!esFichaActiva('generales')" class="fa fa-angle-up float-right"></i>
        <i (click)="cerrarFicha('generales')" *ngIf="esFichaActiva('generales')" class="fa fa-angle-down float-right"></i>
      </p>
      <div *ngIf="esFichaActiva('generales')" class="module vista-simple">
        <div class="card-body card-body-ficha">
          <div class="row">
            <div class="bloque col-lg-5 col-md-3 col-sm-3">
              <div class="row pb-3">
                <div class="col-lg-6 col-md-6">
                  <label>Tipo</label>
                  <p-dropdown class="select-form" [options]="comboCalendarType" [filter]="true" filterBy="label,labelSinTilde" placeholder="Seleccionar"
                    [(ngModel)]='calendar.idTipoCalendario' name="type"></p-dropdown>
                </div>
                <div class="col-lg-6 col-md-6 pt-3">
                  <label class="pr-1">Color:</label>
                  <p-colorPicker [(ngModel)]="colorSelect" name="color"></p-colorPicker>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-md-12">
                  <label>Descripción</label>
                  <input type="text" class="form-control" [(ngModel)]='calendar.descripcion' pInputText name="descripcion">
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="card-footer ">
      <div class="text-right main-button">
        <button pButton (click)="resetCalendar()" type="button" icon="fa fa-undo" iconPos="left" label="{{ 'general.boton.restablecer'| translate }}"></button>
        <button pButton (click)="saveCalendar()" [disabled]="!validarCalendario()" type="button" icon="fa fa-search" iconPos="left"
          label="{{ 'general.boton.guardar' | translate }}"></button>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <p class="title-module"> Configuración de perfiles
        <i (click)="abrirFicha('confi')" *ngIf="!esFichaActiva('confi')" class="fa fa-angle-up float-right"></i>
        <i (click)="cerrarFicha('confi')" *ngIf="esFichaActiva('confi')" class="fa fa-angle-down float-right"></i>
      </p>
      <div *ngIf="esFichaActiva('confi')" class="module vista-simple scroll-perfil">
        <div class="card-body card-body-ficha">
          <div class="row">
            <div expandedIcon="fa fa-angle-down" class="permisos-tree col-lg-12 col-md-12">
              <p-tree (onNodeSelect)="onNodeSelect()" (onNodeUnselect)="onNodeUnselect()" [(selection)]="selectedProfiles" #expandingTree
                [value]="profilesTree" selectionMode="checkbox" [propagateSelectionDown]="propagateDown">
                <ng-template let-node pTemplate="default">
                  <i class="fa fa-circle icon-acceso" [ngClass]="{ 'color-sinAsignar':node.derechoacceso == 0 , 'color-denegado':node.derechoacceso == 1 ,'color-lectura':node.derechoacceso == 2,  'color-total':node.derechoacceso == 3}"></i>
                  <label (click)="onChangePropagate(node)">{{node.nombrePerfil}}</label>
                </ng-template>
              </p-tree>
            </div>
          </div>
          <div *ngIf="selectProfile" [ngClass]="{'widthChange':isWidthChange,'widthNotChange':!isWidthChange}" class="menu-accesos">
            <div class="ml-auto">
              <div class="text-right d-flex align-items-center justify-content-start">
                <div (click)="onChangeAcceso('total')" class="btn-acceso acceso-total d-flex align-items-center">
                  <p>Acceso total ({{accesoTotal}})</p>
                </div>
                <div (click)="onChangeAcceso('lectura')" class="mr-3 btn-acceso solo-lectura d-flex align-items-center">
                  <p>Solo lectura ({{accesoLectura}})</p>
                </div>
                <div (click)="onChangeAcceso('sinAsignar')" class="mr-3 btn-acceso sin-asignar d-flex align-items-center">
                  <p>Sin asignar ({{sinAsignar}})</p>
                </div>
                <div class="ml-auto main-button d-flex">
                  <button pButton type="button" icon="fa fa-redo" iconPos="left" (click)="restablecerPermisos()" label="{{'general.boton.restablecer' | translate}}"></button>
                  <button class="mr-2" pButton type="button" icon="far fa-save" iconPos="left" (click)="savePermisos()" label="{{ 'general.boton.guardar' | translate}}"></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="progressSpinner" class="overlay-spinner">
  <div class="loader"></div>
</div>