.menu-accesos {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
  justify-content: start;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  background: white;
  bottom: 0;
  width: 100%;
  -ms-flex-positive: 1;
  flex-grow: 1;
  right: 0;
  padding: 1rem;
  padding-right: 12px;
  border: 0px solid #e3e9f6;
  box-shadow: 0 -5px 5px -5px gray;
  padding-left: 24rem;
}

.scroll-perfil {
  overflow: auto;
  height: 320px;
}
