<div id="socied">
  <div *ngIf="tarjetaSociedades == '3' || tarjetaSociedades == '2'" class="card">
    <div class="card-header header-ficha">
      <div *ngIf="!esFichaActiva()" class="form-row">
        <div class="col-lg-1 col-md-2">
          <div class="img-colegiado" (click)="abreCierraFicha('sociedades')">
            <i class="fa fa-briefcase icon-ficha"></i>
          </div>
        </div>
        <div class="col-lg-11 col-md-10">
          <div class="d-flex justify-content-start mb-1 pointer" (click)="abreCierraFicha('sociedades')"> 
            <label  class="mr-auto title-ficha">{{ "censo.fichaColegial.titulo" | translate }}
            </label>
            <!-- <label class="registros-ficha">(0 registros)</label> -->
          </div>
          <div class="d-flex justify-content-between">

            <label *ngIf="!mostrarNumero" class="registros-ficha-prueba">{{ "censo.consultaComponentesJuridicos.literal.identificacionsociedad" | translate }}
              <span class="registros-ficha-prueba">{{ message }}</span>
            </label>

            <label *ngIf="mostrarNumero && mostrarDatosSociedades">{{ "censo.consultaComponentesJuridicos.literal.identificacionsociedad" | translate }}:
              <span *ngIf="mostrarDatosSociedades">{{ DescripcionSociedades.nif }}</span>
            </label>

            <label *ngIf="!mostrarNumero" class="registros-ficha-prueba">{{ "censo.consultaComponentesJuridicos.literal.tiposociedad" | translate }}
              <span class="registros-ficha-prueba">{{ message }}</span>
            </label>

            <label *ngIf="mostrarNumero && mostrarDatosSociedades">{{ "censo.consultaComponentesJuridicos.literal.tiposociedad" | translate }}:
              <span *ngIf="mostrarDatosSociedades">{{ DescripcionSociedades.tipo }}</span>
            </label>

            <label *ngIf="!mostrarNumero" class="registros-ficha-prueba">{{ "censo.consultaDatosGenerales.literal.denominacion" | translate }}
              <span class="registros-ficha-prueba">{{ message }}</span>
            </label>

            <label *ngIf="mostrarNumero && mostrarDatosSociedades">{{ "censo.consultaDatosGenerales.literal.denominacion" | translate }}:
              <span *ngIf="mostrarDatosSociedades">{{ DescripcionSociedades.denominacion }}</span>
            </label>

            <label *ngIf="!mostrarNumero" class="registros-ficha-prueba">{{ "administracion.usuarios.literal.fechaAlta" | translate }}
              <span class="registros-ficha-prueba">{{ message }}</span>
            </label>

            <label *ngIf="mostrarNumero && mostrarDatosSociedades">{{ "administracion.usuarios.literal.fechaAlta" | translate }}:
              <span *ngIf="mostrarDatosSociedades">{{ DescripcionSociedades.fechaConstitucion }}</span>
            </label>

            <label *ngIf="mostrarNumero" class="registros-ficha">{{ "censo.datosDireccion.literal.numero.sociedades" | translate }}
              <span>{{ message }}</span>
            </label>

            <label *ngIf="!mostrarNumero" class="registros-ficha-prueba">{{ "censo.datosDireccion.literal.numero.sociedades" | translate }}
              <span class="registros-ficha-prueba">{{ message }}</span>
            </label>
            <i (click)="abreCierraFicha('sociedades')" *ngIf="!esFichaActiva()" class="fa fa-angle-down float-right"></i>
          </div>
        </div>
      </div>
      <div *ngIf="esFichaActiva()" (click)="abreCierraFicha('sociedades')" class=" header-ficha-open d-flex justify-content-start align-items-center">
        <div class="img-colegiado" (click)="abreCierraFicha('sociedades')">
          <i class="fa fa-briefcase icon-ficha"></i>
        </div>
        <label (click)="abreCierraFicha('sociedades')" class="title-ficha">{{ "censo.fichaColegial.titulo" | translate }}
        </label>
        <i (click)="abreCierraFicha('sociedades')" class="fa fa-angle-up ml-auto"></i>
      </div>
    </div>
    <div *ngIf="esFichaActiva()" class="card-body card-body-ficha">
      <div class="rowPrueba">
        <p-dataTable emptyMessage="{{ 'general.message.no.registros' | translate}}" [(selection)]="selectedDatosSociedades" pageLinks="4"
          dataKey="idDireccion" [responsive]="true" selectionMode="multiple" #tableSociedades class="tabla-listado" [value]="datosSociedades"
          [sortOrder]="1" [paginator]="activarPaginacionSociedades()" paginatorPosition="both" [rows]="selectedItemSociedades">
          <p-column *ngFor="let col of colsSociedades" [sortable]="true" [field]="col.field" [header]="col.header | translate" filterPlaceholder="{{'general.boton.search' | translate}}"
            [filter]="true" filterMatchMode="contains">
          <ng-template let-dato="rowData" pTemplate="body">
            <div *ngIf="col.field != 'nif' && col.field !='denominacion'">
                <span>{{dato[col.field]}}</span>
            </div>
            <div *ngIf="col.field == 'nif' || col.field =='denominacion'">
                <a (click)="redireccionarSociedades(dato)" class="enlace">{{dato[col.field]}}</a>
            </div>
        </ng-template>
      </p-column>
          <ng-template pTemplate="paginatorLeft">
            <div class="mostrar d-flex text-right justify-content-end">
              <label class="pr-3 registros-totales">{{'informesycomunicaciones.plantillasenvio.ficha.mostrandoRegistros' | translate}} {{ tableSociedades.first
                + 1 }} al {{ tableSociedades.first + tableSociedades.rows }} {{ 'informesycomunicaciones.plantillasenvio.ficha.deUnTotalDe'
                | translate }} {{ tableSociedades.totalRecords }}</label>
              <label>{{ "general.message.mostrar" | translate }}</label>
              <p-dropdown [(ngModel)]="selectedItemSociedades" [options]="rowsPerPage" (onChange)="onChangeRowsPerPagesSociedades($event)"></p-dropdown>
              <label class="pl-1">
                {{ "cargaMasivaDatosCurriculares.numRegistros.literal" | translate }}
              </label>
            </div>
          </ng-template>
        </p-dataTable>
      </div>
      <br />
    </div>
  </div>
</div>