<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>
<div *ngIf="progressSpinner" class="overlay-spinner">
  <div class="loader"></div>
</div>
  <div class="row w-100 m-0 padding-interior">
    <div class="bloque col-lg-7 col-md-7 col-sm-7 pl-0 mb-3">
      <div class="form-row">
        <div class="form-group col-lg-6 col-md-6">
          <label>{{'justiciaGratuita.ejg.datosGenerales.Juzgado' | translate}}</label>
          <p-dropdown class="select-form"
          placeholder="{{'general.boton.seleccionar' | translate}}" [filter]="true" [disabled]="!editable"
          [showClear]="true" [(ngModel)]="defensaJuridicaItem.idJuzgado"
          [ngModelOptions]="{standalone: true}" [options]="comboJuzgados">
          </p-dropdown>
        </div>
        <div class="form-group col-lg-6 col-md-6">
          <label>{{'justiciaGratuita.ejg.datosGenerales.NIG' | translate}}</label>
          <input type="text" class="form-control" [(ngModel)]='defensaJuridicaItem.nig' pInputText [ngModelOptions]="{standalone: true}" [disabled]="!editable">
        </div>
        <div class="form-group col-lg-6 col-md-6">
          <label>{{'justiciaGratuita.maestros.Procedimientos' | translate}}</label>
          <p-dropdown class="select-form"
          placeholder="{{'general.boton.seleccionar' | translate}}" [filter]="true" [disabled]="!editable"
          [showClear]="true" [(ngModel)]="defensaJuridicaItem.idProcedimiento"
          [ngModelOptions]="{standalone: true}" [options]="comboProcedimientos">
          </p-dropdown>
        </div>
        <div class="form-group col-lg-6 col-md-6">
          <label>{{'gratuita.busquedaDesignas.literal.numProcedimiento' | translate}}</label>
          <input type="text" class="form-control" [(ngModel)]='defensaJuridicaItem.numProcedimiento' pInputText [ngModelOptions]="{standalone: true}" [disabled]="!editable">
        </div> 
        <div class="form-group col-lg-6 col-md-6">
          <label>{{'justiciaGratuita.guardia.fichaasistencia.comisaria' | translate}}</label>
          <p-dropdown class="select-form"
          placeholder="{{'general.boton.seleccionar' | translate}}" [filter]="true" [disabled]="!editable"
          [showClear]="true" [(ngModel)]="defensaJuridicaItem.idComisaria"
          [ngModelOptions]="{standalone: true}" [options]="comboComisarias">
          </p-dropdown>
        </div>
        <div class="form-group col-lg-6 col-md-6">
          <label>{{'gratuita.mantAsistencias.literal.numeroDiligenciasolo' | translate}}</label>
          <input type="text" class="form-control" [(ngModel)]='defensaJuridicaItem.numDiligencia' pInputText [ngModelOptions]="{standalone: true}" [disabled]="!editable">
        </div>
        <div class="form-group col-lg-6 col-md-6">
          <label>{{ 'justiciaGratuita.ejg.preDesigna.delitos' | translate }}</label>
          <p-multiSelect class="select-form" [(ngModel)]='defensaJuridicaItem.idDelitos' [options]="comboDelitos" [disabled]="!editable"
          [filter]="true" filterBy="label,labelSinTilde" styleClass="widthAll" [ngModelOptions]="{standalone: true}"
          defaultLabel="{{ 'general.boton.seleccionar' | translate}}" ></p-multiSelect>
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-5 pr-0 mb-3">
      <div class="form-row">
        <div class="form-group col-lg-12 col-md-12 w-100">
          <label>{{'justiciaGratuita.guardia.fichaasistencia.observacionesdf' | translate}}</label>
          <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="false" [(ngModel)]="defensaJuridicaItem.observaciones" [disabled]="!editable"></textarea>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-lg-12 col-md-12 w-100">
          <label>{{'justiciaGratuita.guardia.fichaasistencia.delitosfaltas' | translate}}</label>
          <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="false" [(ngModel)]="defensaJuridicaItem.comentariosDelitos" [disabled]="!editable"></textarea>
        </div>
      </div>
    </div>
  </div>

<div class="card-footer">
  <div class="text-right main-button">
    <button pButton type="button" icon="fa fa-undo" iconPos="left" label="{{'general.boton.restablecer' | translate}}" [disabled] = "idAsistencia == null || idAsistencia == '' || !editable || modoLectura"
      (click)="restablecer();"></button>
    <button pButton type="button" icon="far fa-save" iconPos="left" label="{{'general.boton.guardar' | translate}}" [disabled] = "idAsistencia == null || idAsistencia == '' || !editable || modoLectura"
      (click)="saveDefensaJuridicaData();"></button>
  </div>
</div>