:host {
  display: block;
  background: #f7f7f9;
  width: 90%;
  margin: 0 auto;
  /* padding: 10px; */
}

section.content{
    min-height: 500px;    
    float: right;
    width: 87%;
    margin: 0 auto;
    /* margin-bottom: 5%; */
}

/* section.content .contentHead{
} */

h1{
    text-align: center;
    padding: 10px;
    background: #efefef;
    border: solid 1px #efefef;
    border-radius: 5px;
}