@import "../sass/variables.scss";

@keyframes showCookies {
  from {
    bottom: -100%;
  }
  to {
    bottom: 0;
  }
}
@keyframes hideCookies {
  from {
    bottom: 0;
  }
  to {
    bottom: -100%;
  }
}

.siga-app-container {
  position: relative;
  height: 100vh;
  .wrapper-menu-sidebar {
    display: flex;
    height: 100%;
    position: relative;
    .menu-sidebar {
      z-index: 200;
    }

    .content {
      flex-grow: 1;
      padding: 0rem 1rem 1rem 1rem;
      margin: 7rem 0 0 0;
      overflow-y: scroll;
      font-size: 0.85rem;
    }
  }
}

.cookies {
  position: fixed;
  width: 100%;
  z-index: 1006;
  padding: 1.5em;
  bottom: -100%;
  left: 0;
  color: white;
  background: $secondary-color;
  font-size: 0.8rem;
  transition: all 1.2s ease-in 0.2s;
  h3 {
    font-family: $general-font;
    font-size: 1rem;
  }
  p {
    display: inline-block;
    a {
      color: $blue3;
      cursor: pointer;
      &:hover {
        color: white;
        transition: color 0.2s;
      }
    }
  }

  .ui-button:enabled:hover,
  .ui-button:enabled:hover,
  .ui-widget.ui-button:enabled:hover,
  .ui-button:enabled:hover {
    background: white;
    border: none;
    box-shadow: none;
    color: $secondary-color;
  }


  button {
    color: $secondary-color;
    background: white;
    padding: 0.2rem 0.5rem;
    border: none;
    border-radius: 3px;
    margin-left: 0.5rem;
    cursor: pointer;
    color: $secondary-color;
  }
}

.showCookies {
  animation-name: showCookies;
  animation-duration: 1.2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.hideCookies {
  animation-name: hideCookies;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@media screen and (max-width: 1250px) {
  .siga-app-container {
    .wrapper-menu-sidebar {
      .content {
        margin-left: 2rem;
        padding: 0rem 1rem 1rem 1rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .content {
    padding-top: 3rem;
  }
}

@media screen and (max-width:525px) {
  .content {
    margin: 9rem 0 0 0 !important;
    padding-left:3rem !important;
  }
}
.widthAll {
  width: 100% !important;
}
