<div class="siga-app-container">
    <app-header *ngIf="isLogged()"></app-header>
    <div class="wrapper-menu-sidebar">
        <div class="menu-sidebar ">
            <app-menu *ngIf="isLogged()"></app-menu>
        </div>
        <div (scroll)="onWindowScroll($event,content)" #content class="content">
            <router-outlet></router-outlet>
            <div class="scroll-arrow" *ngIf="scroll" (click)="subirTop($event, content)"><i class="fa fa-arrow-up"></i></div>
        </div>
    </div>
</div>

<!--<div class="siga-app-container">
    <app-header></app-header>
    <div class="wrapper-menu-sidebar">
        <div class="menu-sidebar ">
            <app-menu></app-menu>
        </div>
        <div (scroll)="onWindowScroll($event,content)" #content class="content">
            <router-outlet></router-outlet>
            <div class="scroll-arrow" *ngIf="scroll" (click)="subirTop($event, content)"><i class="fa fa-arrow-up"></i></div>
        </div>
    </div>
</div>-->