
<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>
<div class="table"  matSort (matSortChange)="sortData($event)" #table>
    <div class="table-header ">
        <div class="table-header-child p-2" *ngFor="let cabecera of cabeceras; let j = index" #BorderedHeader>
            <div>
                <div [mat-sort-header]=cabecera.id >{{cabecera.name}}</div>
                <input type="text" class="form-control" pInputTex  [(ngModel)]="searchText[j]" (ngModelChange)="searchChange(j)" autocomplete="off" placeholder="Buscar">
            </div>
        </div>
    </div> 
    <div *ngFor="let row of rowGroups; let i = index" class="table-row child">
        <div (click)="selectRow(i)" class="table-row-wrapper hoverBlue" [ngClass]="{'hoverBlue2': isSelected(i), 'fixedBlue': seleccionarTodo}" #rowSelected>
            <!--<div  class="table-row-header p-2 hidden selectedRowClass">
            </div>-->
            <div *ngFor="let cell of row['cells']; let z = index" class="table-cell p-2 selectedRowClass" [ngClass]="{'borders-child': isPar(i)}" #cellSelected>
                <div class="cell-wrapper selectedRowClass">
                    <span class="w100 cell-value" *ngIf="cell.type == 'input'"><input type="text" class="form-control mt-2" pInputText   [placeholder]="cell.value"></span>
                    <span class="w100 cell-value" *ngIf="cell.type == 'text'">{{cell.value}}</span> 
                    <span class="w100 cell-value" *ngIf="cell.type == 'buttom'"><button pButton type="button"  iconPos="left" [label]="cell.value"></button></span> 
                    <span class="w100 cell-value" *ngIf="cell.type == 'checkbox'"> <p-checkbox [ngModel]="validaCheck(cell.value)" binary="true">
                    </p-checkbox></span> 
                    <span class="w100 cell-value" *ngIf="cell.type == 'datePicker'"><app-fecha [(value)]="fechaIncorporacionDesdeSelect" [utc]="false" (valueChangeSelected)="fillFechaIncorporacionDesde($event)"	(valueChangeInput)="fillFechaIncorporacionDesde($event)">	
                    </app-fecha></span>
                    <span class="w100 cell-value" *ngIf="cell.type == 'select'"><app-selector class="center" [i]="0" [textoVisible]="" [selector]="cell.value"></app-selector></span>
                    <span class="w100 cell-value" *ngIf="cell.type == 'number'">{{cell.value}}</span>
                    <span class="w100 cell-value" *ngIf="cell.type == 'link'"><a>{{cell.value}}</a></span>
                    <span class="w100 cell-value" *ngIf="cell.type == 'download'"><div (click)="showMsg('success', 'Documento descargado', '')"><i class="pointer fa fa-download"></i></div></span>
                    <span class="w100 cell-value" *ngIf="cell.type == '5InputSelector'">
                        <input type="text" class="form-control " pInputText   size="10" [placeholder]="cell.value[0]">
                    <input type="text" class="form-control " pInputText   size="10" [placeholder]="cell.value[1]">
                    <input type="text" class="form-control " pInputText   size="10" [placeholder]="cell.value[2]">
                    <input type="text" class="form-control " pInputText   size="10" [placeholder]="cell.value[3]">
                    <app-selector [textoVisible]="cell.value[4]" [i]="0" [selector]="cell.value"></app-selector>
                    </span>
                    <span class="w100 cell-value" *ngIf="cell.type == '2SelectorInput'">
                        <app-selector [i]="0" [selector]="cell.value"></app-selector>
                        <input type="text" class="form-control mt-2" pInputText   [placeholder]="cell.value">
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>