<p-growl (onHover)="clear()" [(value)]="msgs" life="30000"></p-growl>
<div class="ficha-container" id="datosGeneracion">
  <div class="card" id="top">
    <div class="card-header header-ficha">
      <div *ngIf="!esFichaActiva('datosGeneracion')" class="form-row">
        <div class="col-lg-1 col-md-2" (click)="abreCierraFicha('datosGeneracion')">
          <div class="img-colegiado">
            <i class="far fa-address-book icon-ficha pointer"></i>
          </div>
        </div>
        <div class="col-lg-11 col-md-10">
          <div class="d-flex justify-content-start mb-1" (click)="abreCierraFicha('datosGeneracion')">
            <label class="mr-auto title-ficha pointer">{{ 'menu.facturacion.facturas' | translate }}</label>
            <div class="d-flex justify-content-between default">
              <label class="fa fa-angle-down float-right ml-auto" (click)="abreCierraFicha('datosGeneracion')" *ngIf="!esFichaActiva('datosGeneracion')"></label>
            </div>
          </div>
          <div class="d-flex justify-content-between default">
            <label>{{ 'administracion.grupos.literal.id' | translate }}: 
              <span>{{ body.idDisqueteAbono }}</span>
            </label>
            <label>{{ 'informesycomunicaciones.enviosMasivos.fechaCreacion' | translate }}: 
              <span>{{ body.fechaCreacion | date: 'dd/MM/yyyy' }}</span>
            </label>
          </div>
        </div>
      </div>
      <div *ngIf="esFichaActiva('datosGeneracion')"
        class=" header-ficha-open d-flex justify-content-start align-items-center"
        (click)="abreCierraFicha('datosGeneracion')">
        <div class="img-colegiado">
          <i class="far fa-address-book icon-ficha"></i>
        </div>
        <label class="title-ficha pointer">{{ 'facturacionPyS.ficherosAdeudos.datosGeneracion' | translate }}</label>
        <i class="fa fa-angle-up ml-auto"></i>
      </div>
    </div>
    <div *ngIf="esFichaActiva('datosGeneracion')" class="card-body card-body-ficha">
      <div class="form-row">
        <div class="form-group-interlineado col-lg-3 col-md-3">
          <label>{{ "administracion.grupos.literal.id" | translate }}</label>
          <input type="text" class="form-control" pInputText [(ngModel)]="body.idDisqueteAbono" disabled/>
        </div>
        <div class="form-group-interlineado col-lg-3 col-md-3">
          <label>{{ "informesycomunicaciones.enviosMasivos.fechaCreacion" | translate }}</label>
          <app-fecha [(value)]="body.fechaCreacion" disabled></app-fecha>
        </div>
        <div class="form-group-interlineado col-lg-3 col-md-3">
          <label>{{ "facturacionPyS.ficherosAdeudos.gestionFicherosTransferencias.propositoSepa" | translate }}</label>
          <input type="text" class="form-control" pInputText [(ngModel)]="body.propSEPA" disabled/>
        </div>
        <div class="form-group-interlineado col-lg-3 col-md-3">
          <label>{{ "facturacionPyS.ficherosAdeudos.gestionFicherosTransferencias.propositoOtros" | translate }}</label>
          <input type="text" class="form-control" pInputText [(ngModel)]="body.propOtros" disabled/>
        </div>
      </div>
    </div>

    <div *ngIf="esFichaActiva('datosGeneracion')" class="card-footer">
      <div class="text-right main-button ">
        <button pButton type="button" icon="fas fa-download" iconPos="left" (click)="descargarLog()" label="{{'general.boton.download' | translate }}"></button>

        <button pButton type="button" icon="fa fa-eraser" iconPos="left" (click)="confirmEliminar()" label="{{ 'general.boton.eliminar' | translate }}"></button>
      </div>
    </div>
  </div>
</div>


<div *ngIf="progressSpinner" class="overlay-spinner">
  <div class="loader"></div>
</div>

<!-- PRIMERA CONFIRMACIÓN -->
<p-confirmDialog key="first" header="{{ 'general.cabecera.confirmacion' | translate }}" width="425"></p-confirmDialog>

<!-- SEGUNDA CONFIRMACIÓN -->
<p-dialog width="425" responsive="true" modal="modal" [draggable]="false" resizable="false" [(visible)]="showModalEliminar">
  <p-header class="title">
    <label>{{ 'general.cabecera.confirmacion' | translate }}</label>
  </p-header>

  <div class="form-row">
    <label>{{ 'facturacionPyS.ficherosTransferencias.messages.segundaConfirmacion.importe' | translate }} (<span class="font-weight-bold">{{ bodyInicial.importeTotal }} €</span>). {{ 'facturacionPyS.ficherosTransferencias.messages.segundaConfirmacion' | translate }}</label>
    <input DigitDecimaNumber type="text" class="form-control" pInputText [(ngModel)]="confirmImporteTotal"/>
  </div>

  <p-footer class="main-button">
    <button type="button" pButton icon="fa-check" label="Sí" (click)="confirmEliminar2()" [disabled]="disableConfirmEliminar()"></button>
    <button type="button" pButton icon="fa-close" label="No" (click)="rejectEliminar2()"></button>
  </p-footer>
</p-dialog>