<div *ngIf="progressSpinner" class="overlay-spinner">
  <div class="loader"></div>
</div>

<div class="header-title">
  <i class="fa fa-square"></i>
  <p>{{ "agenda.cabecera" | translate }}</p>
</div>

<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-2">

        <div class="ui-g" style="width:250px;margin-bottom:10px">
          <div *ngFor="let calendario of calendarios" class="ui-g-12">
            <div class="ui-chkbox ui-widget">
              <div class="ui-helper-hidden-accessible">
                <input type="checkbox" attr.id="{calendario.idCalendario}}" value="{{calendario.idCalendario}}" [(ngModel)]="calendario.checked"/>
              </div>

              <div class="ui-chkbox-box ui-widget ui-corner-all ui-state-default" (click)="onClickCheckBox(calendario)" [style.background-color]="calendario.checked ? calendario.color : 'white'" [style.border-color]="calendario.color">
                <span class="ui-chkbox-icon ui-clickable" [style.color]="'white'" [ngClass]="{ 'fa fa-check': calendario.checked }"></span>
              </div>
            </div>

            <label (click)="onClickLabelCheckbox(calendario)" class="ui-chkbox-label">{{ calendario.descripcion }}</label>
          </div>
        </div>
      </div>

      <div class="col-10">
        <p-schedule #calendario [options]="options" [events]="events" [height]="600" [eventLimit]="4" [editable]="true" (onEventClick)="onClickEvento($event)"
          (onDayClick)="onDayClickEvento($event)" [locale]="es"></p-schedule>
      </div>
    </div>
  </div>
</div>