<div class="busqueda-container">
  <div class="header-title">
    <i class="fa fa-square"></i>
    <p>Agenda
  </div>


  <div class="card">
    <!-- Datos generales -->
    <div class="col-lg-12 col-md-10 pb-5">
      <div class="card-header header-ficha header-ficha-open d-flex justify-content-start align-items-center pt-2">
        <label class="mr-auto title-ficha">{{ "general.message.datos.generales" | translate}}</label>
      </div>
      <div class="card-body card-body-ficha">
        <div class="row">
          <div class="bloque col-lg-6 col-md-3 col-sm-3">
            <p-table [columns]="cols" [value]="datos">
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th *ngFor="let col of columns">
                    {{col.header}}
                  </th>
                  <th>Solo Lectura</th>
                  <th>Acceso Total</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                  <td *ngFor="let col of columns">
                    {{rowData[col.field]}}
                  </td>
                  <td>
                    <p-checkbox name="groupname" value="val1"></p-checkbox>
                  </td>
                  <td>
                    <p-checkbox name="groupname" value="val1"></p-checkbox>
                  </td>
                </tr>
              </ng-template>
            </p-table>
            <div class="pt-4">
              <button pButton type="button" label="Solo Lectura" (click)="activateLectura()"></button>
              <button pButton type="button" label="Acceso Total" (click)="activateAcceso()"></button>
              <div [hidden]="lectura" class="pt-3">
                <p-pickList sourceHeader="Perfiles Sin Acceso" targetHeader="Perfiles Solo Lectura" [source]="listLectura" [target]="listLecturaSelect">
                  <ng-template let-dato pTemplate="item">
                    <div class="ui-helper-clearfix">
                      <div>{{dato.perfil}}</div>
                    </div>
                  </ng-template>
                </p-pickList>
              </div>
              <div [hidden]="acceso" class="pt-3">
                <p-pickList sourceHeader="Perfiles Sin Acceso" targetHeader="Perfiles Acceso Total" [source]="listLectura" [target]="listAccesoSelect">
                  <ng-template let-dato pTemplate="item">
                    <div class="ui-helper-clearfix">
                      <div>{{dato.perfil}}</div>
                    </div>
                  </ng-template>
                </p-pickList>
              </div>
            </div>
          </div>

          <div class="bloque col-lg-6 col-md-3 col-sm-3">
            <p-table [columns]="cols" [value]="datos">
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th *ngFor="let col of columns">
                    {{col.header}}
                  </th>
                  <th>Tipo Acceso</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                  <td *ngFor="let col of columns">
                    {{rowData[col.field]}}
                  </td>
                  <td>
                    <p-selectButton [options]="types"></p-selectButton>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>