<p-growl (onHover)="clear()" [(value)]="msgs" life="30000"></p-growl>
<div class="ficha-comunicacion-container" id="top">
  <div class="header-title">
    <i class="fa fa-square"></i>
    <p>{{ "menu.facturacion" | translate }}
      <i class="fa fa-angle-right"></i>{{ "menu.facturacion.asignacionDeConceptosFacturables" | translate }}
    </p>
  </div>

  <div>
    <app-tarjeta-resumen-fija class="pb-50" [titulo]="'justiciaGratuita.oficio.turnos.inforesumen'" [chincheta]="true" [datos]="datos" [icono]="iconoTarjetaResumen" (modoEdicionSend)="modoEdicionSend($event)" [enlaces]="enlacesTarjetaResumen" (isOpen)="isOpenReceive($event)" [manuallyOpened]="manuallyOpened">
    </app-tarjeta-resumen-fija>

    <app-datos-generales-series-factura [modoEdicion]="modoEdicion" [bodyInicial]="body" [openTarjetaDatosGenerales]="openTarjetaDatosGenerales" (opened)="manuallyOpened = $event" (idOpened)="isCloseReceive($event)" (guardadoSend)="guardadoSend($event)" (refreshData)="refreshData()"></app-datos-generales-series-factura>
    <app-observaciones-series-factura *ngIf="modoEdicion" [bodyInicial]="body" [openTarjetaObservaciones]="openTarjetaObservaciones" (opened)="manuallyOpened = $event" (idOpened)="isCloseReceive($event)" (guardadoSend)="guardadoSend($event)"></app-observaciones-series-factura>
    <app-destinatarios-etiquetas-series-factura *ngIf="modoEdicion" [body]="body" [openTarjetaDestinatariosEtiquetas]="openTarjetaDestinatariosEtiquetas" (opened)="manuallyOpened = $event" (idOpened)="isCloseReceive($event)" (refreshData)="refreshData()"></app-destinatarios-etiquetas-series-factura>
    <app-destinatarios-individuales-series-factura *ngIf="modoEdicion" [body]="body" [openTarjetaDestinatariosIndividuales]="openTarjetaDestinatariosIndividuales" (opened)="manuallyOpened = $event" (idOpened)="isCloseReceive($event)" (refreshData)="refreshData()"></app-destinatarios-individuales-series-factura>
    <app-destinatarios-lista-series-factura *ngIf="modoEdicion" [body]="body" [openTarjetaListaDestinatarios]="openTarjetaListaDestinatarios" (opened)="manuallyOpened = $event" (idOpened)="isCloseReceive($event)" (guardadoSend)="guardadoSend($event)" (refreshData)="refreshData()"></app-destinatarios-lista-series-factura>
    <app-pago-automatico-series-factura *ngIf="modoEdicion" [body]="body" [openTarjetaPagoAutomatico]="openTarjetaPagoAutomatico" (opened)="manuallyOpened = $event" (idOpened)="isCloseReceive($event)" (refreshData)="refreshData()"></app-pago-automatico-series-factura>
    <app-contador-series-factura *ngIf="modoEdicion" [bodyInicial]="body" [openTarjetaContadorFacturas]="openTarjetaContadorFacturas" (opened)="manuallyOpened = $event" (idOpened)="isCloseReceive($event)" (guardadoSend)="guardadoSend($event)" (refreshData)="refreshData()"></app-contador-series-factura>
    <app-contador-rect-series-factura *ngIf="modoEdicion" [bodyInicial]="body" [openTarjetaContadorFacturasRectificativas]="openTarjetaContadorFacturasRectificativas" (opened)="manuallyOpened = $event" (idOpened)="isCloseReceive($event)" (guardadoSend)="guardadoSend($event)" (refreshData)="refreshData()"></app-contador-rect-series-factura>
    <app-generacion-series-factura *ngIf="modoEdicion" [bodyInicial]="body" [openTarjetaGeneracion]="openTarjetaGeneracion" (opened)="manuallyOpened = $event" (idOpened)="isCloseReceive($event)" (guardadoSend)="guardadoSend($event)"></app-generacion-series-factura>
    <app-envio-series-factura *ngIf="modoEdicion" [bodyInicial]="body" [openTarjetaEnvioFacturas]="openTarjetaEnvioFacturas" (opened)="manuallyOpened = $event" (idOpened)="isCloseReceive($event)" (guardadoSend)="guardadoSend($event)"></app-envio-series-factura>
    <app-traspaso-series-factura *ngIf="modoEdicion" [bodyInicial]="body" [openTarjetaTraspasoFacturas]="openTarjetaTraspasoFacturas" (opened)="manuallyOpened = $event" (idOpened)="isCloseReceive($event)" (guardadoSend)="guardadoSend($event)"></app-traspaso-series-factura>
    <app-exportacion-series-factura *ngIf="modoEdicion" [bodyInicial]="body" [openTarjetaExportacionContabilidad]="openTarjetaExportacionContabilidad" (opened)="manuallyOpened = $event" (idOpened)="isCloseReceive($event)" (guardadoSend)="guardadoSend($event)"></app-exportacion-series-factura>
  </div>
</div>

<div class="mt-3 text-right main-button" id="down">
  <button (click)="backTo()" pButton type="button" icon="fa fa-angle-left" iconPos="left" label="{{ 'general.boton.volver' | translate }}"></button>
</div>

<div *ngIf="progressSpinner" class="overlay-spinner">
  <div class="loader"></div>
</div>

<p-confirmDialog header="{{ 'general.cabecera.confirmacion' | translate }}" width="425"></p-confirmDialog>