<div class="ficha-comunicacion-container" id="top">
  <div class="header-title">
    <i class="fa fa-square"></i>
    <p>{{ "menu.facturacion" | translate }}
      <i class="fa fa-angle-right"></i>{{ "menu.facturacion.asignacionDeConceptosFacturables" | translate }}
    </p>
  </div>

  <div>
    <app-tarjeta-resumen-fija class="pb-50" [titulo]="'justiciaGratuita.oficio.turnos.inforesumen'" [chincheta]="true" [datos]="datos" [icono]="iconoTarjetaResumen" (modoEdicionSend)="modoEdicionSend($event)" [enlaces]="enlacesTarjetaResumen" (isOpen)="isOpenReceive($event)" [manuallyOpened]="manuallyOpened">
    </app-tarjeta-resumen-fija>

    <app-datos-generales-series-factura [openTarjetaDatosGenerales]="openTarjetaDatosGenerales" (guardadoSend)="guardadoSend()"></app-datos-generales-series-factura>
    <app-observaciones-series-factura (guardadoSend)="guardadoSend()"></app-observaciones-series-factura>
    <app-destinatarios-etiquetas-series-factura (guardadoSend)="guardadoSend()"></app-destinatarios-etiquetas-series-factura>
    <app-destinatarios-individuales-series-factura (guardadoSend)="guardadoSend()"></app-destinatarios-individuales-series-factura>
    <app-destinatarios-lista-series-factura (guardadoSend)="guardadoSend()"></app-destinatarios-lista-series-factura>
    <app-pago-automatico-series-factura (guardadoSend)="guardadoSend()"></app-pago-automatico-series-factura>
    <app-contador-series-factura (guardadoSend)="guardadoSend()"></app-contador-series-factura>
    <app-contador-rect-series-factura (guardadoSend)="guardadoSend()"></app-contador-rect-series-factura>
    <app-generacion-series-factura (guardadoSend)="guardadoSend()"></app-generacion-series-factura>
    <app-envio-series-factura (guardadoSend)="guardadoSend()"></app-envio-series-factura>
    <app-traspaso-series-factura (guardadoSend)="guardadoSend()"></app-traspaso-series-factura>
    <app-exportacion-series-factura (guardadoSend)="guardadoSend()"></app-exportacion-series-factura>
  </div>
</div>

<div class="mt-3 text-right main-button" id="down">
  <button (click)="backTo()" pButton type="button" icon="fa fa-angle-left" iconPos="left" label="{{ 'general.boton.volver' | translate }}"></button>
</div>

<p-confirmDialog header="{{ 'general.cabecera.confirmacion' | translate }}" width="425"></p-confirmDialog>