<!-- <p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl> -->

<div class="header-title">
  <i class="fa fa-square"></i>
  <p>{{'menu.justiciaGratuita' | translate}}
    <i class="fa fa-angle-right"></i>{{ 'menu.justiciaGratuita.maestros' | translate }}
    <i class="fa fa-angle-right"></i>{{'menu.facturacionSJCS.mantenimientoComisarias'|translate}}
  </p>
</div>

<div class="busqueda-container">
  <app-filtro-comisarias [permisoEscritura]="permisoEscritura" (isOpen)="isOpenReceive($event)"></app-filtro-comisarias>
  <app-tabla-comisarias *ngIf="buscar" [datos]="datos" [institucionActual]="institucionActual" (searchHistoricalSend)="search($event)"></app-tabla-comisarias>
</div>

<div *ngIf="progressSpinner" class="overlay-spinner">
  <div class="loader"></div>
</div>