<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>

<div class="card mt-3">
  <div class="card-body p-0">

    <!-- TABLA RESULTADOS -->
    <p-table [value]="datos" [columns]="cols" [(selection)]="selectedDatos" [responsive]="true" #table
      class="tabla-listado overflow" [paginator]="true" [rows]="selectedItem" [ngClass]="{ 'customCursor' : selectMultiple }"
      selectionMode="multiple" paginatorPosition="both" id="tablaFoco" (onRowSelect)="onRowSelect()" (onRowUnselect)="onRowUnselect()">
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngFor="let col of cols" [style.width]="col.width">
        </colgroup>
      </ng-template>

      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of cols; let i = index" [ngSwitch]="col.field" [pSortableColumn]="col.field">
            {{ col.header }}
            <p-sortIcon [field]="col.field"></p-sortIcon>
            <input pDroppable="false" [(ngModel)]="buscadores[i]" (click)="$event.stopPropagation()" *ngSwitchCase="col.field" pInputText
              type="text" (input)="
                table.filter($event.target.value, col.field, 'contains')
              " />
          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="columns.length">
            {{'justiciaGratuita.maestros.fundamentosCalificacion.tabla.sinResultados'|translate}}
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-dato let-columns="columns" let-rowIndex="rowIndex">
        <tr [pSelectableRow]="dato" [pSelectableRowIndex]="rowIndex">
          <td class="text-center" *ngFor="let col of columns">
            <div [ngSwitch]="col.field">
              <div *ngSwitchCase="'nombreFichero'">  

                <input *ngIf="!dato['nuevo']" [disabled]="true" type="text" class="form-control" [(ngModel)]="dato[col.field]" [ngClass]="{'historico': dato.fechaBaja != null}" pInputText />
                
                <input *ngIf="dato['nuevo']"  type="text" class="form-control" [(ngModel)]="dato[col.field]" pInputText [ngClass]="{'camposObligatorios': checkCampoEsVacio(dato[col.field])}"/>


              </div>
              <div *ngSwitchCase="'fechaExportacionDesde'">  

                <app-fecha *ngIf="dato['nuevo']" [(value)]="dato[col.field]" (valueChangeSelected)="fillFechaNew($event, 'exportacionDesde')" (valueChangeInput)="fillFechaNew($event, 'exportacionDesde')" 
                [inputStyleClass]="styleObligatorio(dato[col.field])"> 
                </app-fecha>

                <span *ngIf="!dato['nuevo']" [ngClass]="{'historico': dato.fechaBaja != null}"> {{ dato[col.field] }}</span>

              </div>

              <div *ngSwitchCase="'fechaExportacionHasta'">  

                <app-fecha *ngIf="dato['nuevo']"  [(value)]="dato[col.field]" (valueChangeSelected)="fillFechaNew($event, 'exportacionHasta')" (valueChangeInput)="fillFechaNew($event, 'exportacionHasta')" >
                </app-fecha>

                <span *ngIf="!dato['nuevo']" [ngClass]="{'historico': dato.fechaBaja != null}"> {{ dato[col.field] }}</span>

              </div>
              <div *ngSwitchCase="'numAsientos'"><span *ngIf="!dato['nuevo']" [ngClass]="{'historico': dato.fechaBaja != null}">{{ dato[col.field] }} </span></div>

              <div *ngSwitchDefault><span [ngClass]="{'historico': dato.fechaBaja != null}">{{ dato[col.field] }}</span></div>
            </div>

          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="paginatorleft">
        <div class="mostrar d-flex text-right justify-content-end">
          <label class="pr-3 registros-totales">{{'informesycomunicaciones.plantillasenvio.ficha.mostrandoRegistros' | translate }}{{table.first + 1}} al {{table.first
            + table.rows}} {{'informesycomunicaciones.plantillasenvio.ficha.deUnTotalDe' | translate }} {{table.totalRecords}}</label>
          <label class="pr-3 numSeleccionados" *ngIf="selectedDatos  && selectedDatos.length > 0">{{ 'agenda.fichaCalendario.tablaNotificaciones.mostrandoRegistros' | translate }}: {{selectedDatos.length}}
          </label>
          <label class="pr-3 numSeleccionados" *ngIf="selectedDatos && selectedDatos.length <= 0">{{ 'agenda.fichaCalendario.tablaNotificaciones.mostrandoRegistros' | translate }}: 0
          </label>
          <label>{{"general.message.mostrar" | translate}}</label>
          <p-dropdown [(ngModel)]="selectedItem" [options]="rowsPerPage" (onChange)="onChangeRowsPerPages($event)">
          </p-dropdown>
          <label class="pl-1"> {{"cargaMasivaDatosCurriculares.numRegistros.literal" | translate}}</label>
          <div class="ml-3 selectAll">
            <p-checkbox (onChange)="onChangeSelectAll()" [disabled]="!permisoEscritura" [(ngModel)]="selectAll" binary="true" label="{{ 'tablas.literal.seleccionarTodo' | translate }}"
              name="groupname"></p-checkbox>
          </div>
        </div>
      </ng-template>
    </p-table>
  </div>

  <div class="card-footer">
    <div class="text-right main-button">
      <!-- DESCARGAR -->
      <button pButton (click)="descargar()" [disabled]="selectedDatos.length == 0" type="button" icon="fa fa-download" iconPos="left" label="{{ 'general.boton.download' | translate }}"></button>

      <!-- ELIMINAR -->
      <button
      [disabled]="(selectedDatos == '') || (numSelectedAbleRegisters > 0 && numSelectedDisableRegisters > 0) || disabledNuevo"
      *ngIf="(numSelectedAbleRegisters > 0 && numSelectedDisableRegisters > 0) || (numSelectedAbleRegisters >= 0 && numSelectedDisableRegisters == 0)"
      (click)="checkActivarDesactivar()" pButton type="button" icon="fa fa-trash-alt " iconPos="left"
      label="{{'general.boton.eliminar' | translate}}"></button>

      <!-- REACTIVAR -->
      <button [disabled]="(selectedRows == '')" (click)="checkActivarDesactivar()"
      *ngIf="numSelectedAbleRegisters == 0 && numSelectedDisableRegisters > 0" pButton type="button"
      icon="fa fa-undo " iconPos="left"
      label="{{'facturacion.maestros.tiposproductosservicios.reactivar' | translate}}"></button>

      <!-- MOSTRAR HISTORICO -->
      <button *ngIf="!historico" (click)="getListaFacRegistroHistorico(); selectedDatos=[]" pButton type="button"
      icon="fa fa-history" iconPos="left" label="{{ 'general.message.mostrarHistorico' | translate}}"></button>

      <!-- OCULTAR HISTORICO -->
      <button *ngIf="historico" (click)="getListaFacRegistroSinHistorico(); selectedDatos=[]" pButton type="button" icon="fa fa-undo"
      iconPos="left" label="{{'general.message.ocultarHistorico' | translate}}"></button>

      <!-- NUEVO -->
      <button pButton (click)="getNewFacRegistroFichConta()" [disabled]="disabledNuevo" type="button" icon="fa fa-plus" iconPos="left" label="{{ 'general.boton.new' | translate }}"></button>

      <!-- RESTABLECER -->
      <button pButton (click)="restablecer()" [disabled]="!enabledSave" type="button" icon="fa fa-eraser" iconPos="left" label="{{ 'general.boton.restablecer' | translate }}"></button>

      <!--GUARDAR -->
      <button pButton (click)="checkGuardarPermisos()" [disabled]="!enabledSave" type="button" icon="far fa-save" iconPos="left" label="{{ 'general.boton.guardar' | translate }}"></button>

    </div>
  </div>
</div>

<p-confirmDialog header="{{ 'general.cabecera.confirmacion' | translate}}" key="deletePlantillaDoc" icon="icon"
  width="425" #deletePlantillaDoc>
  <p-footer>
    <button type="button" pButton icon="fa-check" label="Si" (click)="deletePlantillaDoc.accept()"></button>
    <button type="button" pButton icon="fa-close" label="No" (click)="deletePlantillaDoc.reject()"></button>
  </p-footer>
</p-confirmDialog>