<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>

<div class="header-title">
    <i class="fa fa-square"></i>
    <p>{{ "menu.censo" | translate}}
        <i class="fa fa-angle-right"></i>{{'pestana.fichaCliente.mutualidad.planProfesional' | translate}}
    </p>
</div>

<!--Tarjeta estado solicitud-->
<div class="card" [hidden]="!modoLectura">
    <div class="card-header header-ficha">
        <div class="form-row">
            <div class="col-lg-1 col-md-2">
                <div class="img-colegiado">
                    <i *ngIf="!existeImagen" class="fas fa-info icon-ficha"></i>
                    <img *ngIf="existeImagen" [src]="imagenPersonaJuridica" class="icon-ficha">
                </div>
            </div>
            <div class="col-lg-11 col-md-10">
                <div class="d-flex justify-content-start mb-1">
                    <label class="mr-auto title-ficha">{{"censo.nuevaSolicitud.headerSolicitud" | translate}}</label>
                </div>
                <div class="d-flex justify-content-between">
                    <label>{{"censo.resultadosSolicitudesModificacion.literal.idSolicitud" | translate}}
                        <span>{{solicitud.idSolicitudMutualidad}}</span>
                    </label>
                    <label>{{"censo.fichaIntegrantes.literal.estado" | translate}}
                        <span>{{solicitud.estadoMutualidad}}</span>
                    </label>
                    <i class="float-right"></i>

                </div>
            </div>
        </div>
    </div>
</div>


<!--FICHA DATOS PERSONALES-->
<div class="card">
    <div class="card-header header-ficha" (click)="abreCierraFichaPersonal()">
        <div [hidden]="fichaPersonal" class="form-row">
            <div class="col-lg-1 col-md-2">
                <div class="img-colegiado">
                    <i *ngIf="!existeImagen" class="fa fa-user icon-ficha"></i>
                    <img *ngIf="existeImagen" [src]="imagenPersonaJuridica" class="icon-ficha">
                </div>
            </div>
            <div class="col-lg-11 col-md-10">
                <div class="d-flex justify-content-start mb-1">
                    <label class="mr-auto title-ficha">{{ "formacion.fichaInscripcion.datosPersonales.cabecera" | translate}}</label>
                </div>
                <div class="d-flex justify-content-between">
                    <label>
                        {{"censo.consultaDatosColegiacion.literal.numIden" | translate}}
                        <span>{{solicitud.numeroIdentificacion}}</span>
                    </label>
                    <label>
                        {{"administracion.parametrosGenerales.literal.nombre" | translate}}
                        <span>{{body.nombre}}</span>
                    </label>
                    <label>
                        {{"gratuita.mantenimientoTablasMaestra.literal.apellidos" | translate}}
                        <span>{{solicitud.apellido1}} {{solicitud.apellido2}}</span>
                    </label>
                    <i *ngIf="!fichaPersonal" class="fa fa-angle-down float-right"></i>
                </div>
            </div>
        </div>
        <div *ngIf="fichaPersonal" class=" header-ficha-open d-flex justify-content-start align-items-center">
            <div class="img-colegiado">
                <i *ngIf="!existeImagen" class="fa fa-user icon-ficha"></i>
                <img *ngIf="existeImagen" [src]="imagenPersonaJuridica" class="icon-ficha">
            </div>
            <label class="title-ficha">{{ "formacion.fichaInscripcion.datosPersonales.cabecera" | translate}}</label>
            <i class="fa fa-angle-up ml-auto"></i>
        </div>
    </div>
    <!--cuerpo datos personales-->
    <div [hidden]="!fichaPersonal" class="card-body card-body-ficha">
        <div class="row">
            <div class="form-group col-lg-3 col-md-3">
                <label>
                    {{"censo.SolicitudIncorporacion.literal.tipoIdentificacion" | translate}}</label>
                <input disabled type="text" class="form-control" pInputText [(ngModel)]="solicitud.tipoIdentificacion">
            </div>
            <div class="form-group col-lg-3 col-md-3">
                <label>{{"censo.consultaDatosColegiacion.literal.numIden" | translate}}</label>
                <input disabled type="text" class="form-control" pInputText [(ngModel)]="solicitud.numeroIdentificacion">
            </div>
            <div class="form-group col-lg-3 col-md-3">
                <label>
                    {{"censo.consultaDatosGenerales.literal.tratamiento" | translate}}</label>
                <input disabled type="text" class="form-control" pInputText [(ngModel)]="solicitud.tratamiento">
            </div>
            <div class="form-group col-lg-3 col-md-3">
                <label>
                    {{"administracion.parametrosGenerales.literal.nombre" | translate}}
                </label>
                <input disabled type="text" class="form-control" pInputText [(ngModel)]="solicitud.nombre">
            </div>
            <div class="form-group col-lg-3 col-md-3">
                <label>
                    {{"censo.busquedaClientes.literal.apellido1" | translate}}</label>
                <input disabled type="text" class="form-control" pInputText [(ngModel)]="solicitud.apellido1">
            </div>
            <div class="form-group col-lg-3 col-md-3">
                <label>
                    {{"censo.busquedaClientes.literal.apellido2" | translate}}</label>
                <input disabled type="text" class="form-control" pInputText [(ngModel)]="solicitud.apellido2">
            </div>
            <div class="form-group col-lg-3 col-md-3">
                <label>
                    {{"censo.busquedaClientesAvanzada.literal.sexo" | translate}}</label>
                <input disabled type="text" class="form-control" pInputText [(ngModel)]="solicitud.sexo">
            </div>
            <div class="form-group col-lg-3 col-md-3">
                <label>
                    {{"censo.consultaDatosGenerales.literal.estadoCivil" | translate}} (*)</label>
                <p-dropdown [disabled]="modoLectura" class="select-form" [(ngModel)]="solicitud.idEstadoCivil" (ngModelChange)="getEstadoCivilDesc()"
                    [options]="estadoCivil" filter="true" filterBy="label,labelSinTilde" filterMatchMode="contains" placeholder="{{'general.boton.seleccionar' | translate}}"></p-dropdown>
            </div>
            <div class="form-group col-lg-3 col-md-3">
                <label>
                    {{"censo.SolicitudIncorporacion.literal.naturalDe" | translate}}</label>
                <input disabled type="text" class="form-control" pInputText [(ngModel)]="solicitud.naturalDe">
            </div>
            <div class="form-group col-lg-3 col-md-3">
                <label>
                    {{"censo.consultaDatosColegiacion.literal.fechaNac" | translate}}</label>
                <input disabled type="text" class="form-control" pInputText [(ngModel)]="fechaNacimiento">
            </div>
        </div>
    </div>

</div>

<!--FICHA DATOS DIRECCIÓN-->
<div class="card">
    <div class="card-header header-ficha" (click)="abreCierraDatosDireccion()">
        <div [hidden]="datosDireccion" class="form-row">
            <div class="col-lg-1 col-md-2">
                <div class="img-colegiado">
                    <i *ngIf="!existeImagen" class="fa fa-map-marker icon-ficha"></i>
                    <img *ngIf="existeImagen" [src]="imagenPersonaJuridica" class="icon-ficha">
                </div>
            </div>
            <div class="col-lg-11 col-md-10">
                <div class="d-flex justify-content-start mb-1">
                    <label class="mr-auto title-ficha">{{"envios.definir.literal.datosdestino" | translate}}
                        <!--{{ "general.message.datos.generales" | translate}}-->
                    </label>
                    <!--<label class="registros-ficha">(0 registros)</label>-->
                </div>
                <div class="d-flex justify-content-between">
                    <label>
                        {{"censo.datosDireccion.literal.pais2" | translate}}
                        <span>{{body.pais}}</span>
                    </label>
                    <label>
                        {{"censo.consultaDirecciones.literal.direccion" | translate}}
                        <span>{{body.domicilio}}</span>
                    </label>
                    <label>
                        {{"censo.consultaDirecciones.literal.poblacion" | translate}}
                        <span>{{body.nombrePoblacion}}</span>
                    </label>
                    <i *ngIf="!datosDireccion" class="fa fa-angle-down float-right"></i>
                </div>
            </div>
        </div>
        <div *ngIf="datosDireccion" class=" header-ficha-open d-flex justify-content-start align-items-center">
            <div class="img-colegiado">
                <i *ngIf="!existeImagen" class="fa fa-map-marker icon-ficha"></i>
                <img *ngIf="existeImagen" [src]="imagenPersonaJuridica" class="icon-ficha">
            </div>
            <label class="title-ficha">
                {{ "envios.definir.literal.datosdestino" | translate}}</label>
            <i class="fa fa-angle-up ml-auto"></i>
        </div>
    </div>
    <!--cuerpo datos dirección-->
    <div [hidden]="!datosDireccion" class="card-body card-body-ficha">
        <div class="row">
            <div class="form-group col-lg-3 col-md-3">
                <label>
                    {{"censo.datosDireccion.literal.pais2" | translate}} (*)
                </label>
                <p-dropdown [disabled]="modoLectura" placeholder="{{'general.boton.seleccionar' | translate}}" class="select-form" [(ngModel)]="paisSelected"
                    [options]="paises" (onChange)="onChangePais($event)"></p-dropdown>
            </div>
            <div class="form-group col-lg-3 col-md-3">
                <label>
                    {{"censo.consultaDirecciones.literal.direccion" | translate}} (*)
                </label>
                <input [disabled]="modoLectura" type="text" class="form-control" pInputText [(ngModel)]="body.domicilio">
            </div>
            <div class="form-group col-lg-3 col-md-3">
                <label>
                    {{"censo.ws.literal.codigopostal" | translate}} (*)
                </label>
                <input [disabled]="modoLectura" type="text" class="form-control" [maxLength]="5" [(ngModel)]="body.codigoPostal" (ngModelChange)="onChangeCodigoPostal()"
                    pInputText>
            </div>
            <div class="form-group col-lg-3 col-md-3">
                <label>
                    {{"censo.datosDireccion.literal.provincia" | translate}} (*)
                </label>
                <p-dropdown class="select-form" [(ngModel)]='provinciaSelected' (onChange)="obtenerProvinciaDesc($event)" [options]="provincias"
                    [filter]="true" filterBy="label,labelSinTilde" filterMatchMode="contains" disabled></p-dropdown>

                <!--<input type="text" class="form-control" pInputText [(ngModel)]="body.nombreProvincia">-->
            </div>
            <div class="form-group col-lg-3 col-md-3">
                <label>
                    {{"censo.consultaDirecciones.literal.poblacion" | translate}} (*)
                </label>
                <p-dropdown #poblacion [disabled]="deshabilitarDireccion() || modoLectura" (input)="buscarPoblacion($event)" class="select-form"
                    [(ngModel)]="poblacionSelected" [options]="poblaciones" [filter]="true" filterBy="label,labelSinTilde" filterMatchMode="contains"
                    (onChange)="obtenerPoblacionDesc($event)" emptyFilterMessage="{{'resultadosPoblaciones' | translate}}"></p-dropdown>

                <!-- <input type="text" class="form-control" pInputText [(ngModel)]="body.nombrePoblacion">-->
            </div>
            <div class="form-group col-lg-3 col-md-3">
                <label>
                    {{"censo.ws.literal.telefono" | translate}} 1 (*)</label>
                <input [disabled]="modoLectura" type="text" class="form-control" [(ngModel)]="body.telefono" (input)="changeTelefono()" pInputText>
                <div *ngIf="!tlfValido">
                    <small class="input-error">{{ 'general.mensaje.validacion.telefono' | translate}}</small>
                </div>
            </div>
            <div class="form-group col-lg-3 col-md-3">
                <label>
                    {{"censo.datosDireccion.literal.telefonoMovil" | translate}}</label>
                <input [disabled]="modoLectura" type="text" class="form-control" [(ngModel)]="body.movil" (input)="changeMovil()" pInputText>
                <div *ngIf="!mvlValido">
                    <small class="input-error">{{ 'general.mensaje.validacion.movil' | translate}}</small>
                </div>
            </div>
            <div class="form-group col-lg-3 col-md-3">
                <label>
                    {{"censo.datosDireccion.literal.correo" | translate}} (*)</label>
                <input [disabled]="modoLectura" type="text" class="form-control" [(ngModel)]="body.correoElectronico" (input)="changeEmail()"
                    pInputText>
                <div *ngIf="!emailValido">
                    <small class="input-error">{{ 'general.mensaje.validacion.email' | translate}}</small>
                </div>
            </div>
        </div>
    </div>
</div>


<!--TARJETA DATOS BANCARIOS-->
<div class="card">
    <div class="card-header header-ficha" (click)="abreCierraDatosBancarios()">
        <div [hidden]="datosBancarios" class="form-row">
            <div class="col-lg-1 col-md-2">
                <div class="img-colegiado">
                    <i *ngIf="!existeImagen" class="fas fa-credit-card icon-ficha"></i>
                    <img *ngIf="existeImagen" [src]="imagenPersonaJuridica" class="icon-ficha">
                </div>
            </div>
            <div class="col-lg-11 col-md-10">
                <div class="d-flex justify-content-start mb-1">
                    <label class="mr-auto title-ficha">{{"censo.consultaDatosBancarios.cabecera" | translate}}</label>
                </div>
                <div class="d-flex justify-content-between">
                    <label>{{"facturacion.devolucionManual.titularDomiciliacion" | translate}}
                        <span>{{body.titular}}</span>
                    </label>
                    <label>{{"censo.mutualidad.literal.iban" | translate}}
                        <span>{{body.iban}}</span>
                    </label>
                    <label>{{"censo.fichaCliente.datosBancarios.cuentaBancaria.bic" | translate}}
                        <span>{{body.bic}}</span>
                    </label>
                    <i *ngIf="!datosBancarios" class="fa fa-angle-down float-right"></i>
                </div>
            </div>
        </div>
        <div *ngIf="datosBancarios" class=" header-ficha-open d-flex justify-content-start align-items-center">
            <div class="img-colegiado">
                <i *ngIf="!existeImagen" class="fas fa-credit-card icon-ficha"></i>
                <img *ngIf="existeImagen" [src]="imagenPersonaJuridica" class="icon-ficha">
            </div>
            <label class="title-ficha">{{"censo.consultaDatosBancarios.cabecera" | translate}}</label>
            <i class="fa fa-angle-up ml-auto"></i>
        </div>
    </div>

    <div [hidden]="!datosBancarios" class="card-body card-body-ficha">
        <div class="form-row">
            <div class="form-group col-lg-3 col-md-3">
                <label>{{"facturacion.devolucionManual.titularDomiciliacion" | translate}}</label> (*)
                <input type="text" class="form-control" pInputText [disabled]="modoLectura" [(ngModel)]="body.titular">
            </div>
            <div class="form-group col-lg-3 col-md-3">
                <label>{{"censo.mutualidad.literal.iban" | translate}}</label> (*)
                <!-- <input (onChange)="autogenerarDatos()" type="text" class="form-control" [disabled]="modoLectura" [(ngModel)]="body.iban"
                    pInputText> -->
                <input type="text" class="form-control" [(disabled)]="modoLectura" [(ngModel)]="body.iban" (ngModelChange)="autogenerarDatos()"
                    pInputText>
                <!-- ES8321074133977199419022 -->
                <div *ngIf="ibanValido == false">
                    <label class="labelError">{{"IBAN incorrecto"}}</label>
                </div>
            </div>
            <div class="form-group col-lg-3 col-md-3">
                <label>{{"censo.fichaCliente.datosBancarios.cuentaBancaria.bic" | translate}}</label>
                <input type="text" class="form-control" [disabled]="modoLectura" pInputText disabled [(ngModel)]="body.bic">
            </div>
            <div class="form-group col-lg-3 col-md-3">
                <label>{{"censo.mutualidad.literal.periodicidadPago" | translate}}</label>
                <p-dropdown class="select-form" [(ngModel)]="pagoSelected" [disabled]="modoLectura" [options]="formasPago" optionLabel="label"
                    dataKey="value"></p-dropdown>
            </div>
        </div>

    </div>
</div>

<!--TARJETA DATOS POLIZA-->
<div class="card">
    <div class="card-header header-ficha" (click)="abreCierraDatosPoliza()">
        <div [hidden]="datosPoliza" class="form-row">
            <div class="col-lg-1 col-md-2">
                <div class="img-colegiado">
                    <i *ngIf="!existeImagen" class="fas fa-file-alt icon-ficha"></i>
                    <img *ngIf="existeImagen" [src]="imagenPersonaJuridica" class="icon-ficha">
                </div>
            </div>
            <div class="col-lg-11 col-md-10">
                <div class="d-flex justify-content-start mb-1">
                    <label class="mr-auto title-ficha">{{"censo.consultaDatosRegistrales.literal.DatosPoliza" | translate}}</label>
                </div>
                <div class="d-flex justify-content-between">
                    <label>{{"censo.mutualidad.literal.opcionCobertura" | translate}}
                        <span>{{body.opcionCobertura}}</span>
                    </label>

                    <label>{{"censo.mutualidad.literal.cuotaMensual" | translate}}
                        <span>{{body.cuotaMensual}} €</span>
                    </label>

                    <label>{{"censo.mutualidad.literal.capitalObjetivo" | translate}}
                        <span>{{body.capitalObjetivo}} €</span>
                    </label>

                    <i *ngIf="!datosPoliza" class="fa fa-angle-down float-right"></i>
                </div>
            </div>
        </div>
        <div *ngIf="datosPoliza" class=" header-ficha-open d-flex justify-content-start align-items-center">
            <div class="img-colegiado">
                <i *ngIf="!existeImagen" class="fas fa-file-alt icon-ficha"></i>
                <img *ngIf="existeImagen" [src]="imagenPersonaJuridica" class="icon-ficha">
            </div>
            <label class="title-ficha">{{"censo.consultaDatosRegistrales.literal.DatosPoliza" | translate}}</label>
            <i class="fa fa-angle-up ml-auto"></i>
        </div>
    </div>
    <!--cuerpo datos poliza-->
    <div [hidden]="!datosPoliza" class="card-body card-body-ficha">
        <div class="form-row">
            <div class="col-lg-3 col-md-3">
                <label>{{"censo.mutualidad.literal.opcionCobertura" | translate}}</label>
                <p-dropdown class="select-form" [(ngModel)]="body.idCobertura" (onChange)="obtenerCuotaYCapObj()" [disabled]="modoLectura"
                    [options]="opcionesCoberturas" optionLabel="label" dataKey="value"></p-dropdown>
            </div>
            <div class="col-lg-3 col-md-3">
                <label>{{"censo.mutualidad.literal.cuotaMensual" | translate}}</label>
                <input type="text" class="form-control" pInputText disabled [(ngModel)]="body.cuotaMensual">
            </div>
            <div class="col-lg-3 col-md-3">
                <label>{{"censo.mutualidad.literal.capitalObjetivo" | translate}}</label>
                <input type="text" class="form-control" pInputText disabled [(ngModel)]="body.capitalObjetivo">
            </div>
            <div class="col-lg-3 col-md-3">
                <label>{{"censo.mutualidad.literal.beneficiarios" | translate}}</label>
                <p-dropdown class="select-form" [(ngModel)]="body.idBeneficiario" [disabled]="modoLectura" [options]="designacionBeneficiarios"
                    optionLabel="label" dataKey="value"></p-dropdown>
            </div>
            <div class="col-lg-3 col-md-3">
                <label>{{"censo.mutualidad.literal.asistenciaSanitaria" | translate}}</label>
                <p-dropdown class="select-form" [(ngModel)]="body.idAsistenciaSanitaria" [disabled]="modoLectura" [options]="asistenciaSanitaria"
                    optionLabel="label" dataKey="value"></p-dropdown>
            </div>
            <div class="col-lg-12 col-md-12">
                <br>
                <label style="font-style:italic">Las cuotas aportadas durante los tres primeros años al sistema de previsión profesional para las garantías
                    de Ahorro-Jubilacion, Fallecimiento, Incapacidad Permanente, Incapacidad Temporal Profesional y Dependencia,
                    tendrán una reducción del 50% para los menores de 50 años
                </label>
            </div>
        </div>
    </div>
</div>


<!--TARJETA UNIDAD FAMILIAR-->
<div class="card">
    <div class="card-header header-ficha" (click)="abreCierraDatosUdFamiliar()">
        <div [hidden]="datosUdFamiliar" class="form-row">
            <div class="col-lg-1 col-md-2">
                <div class="img-colegiado">
                    <i *ngIf="!existeImagen" class="fas fa-file-alt icon-ficha"></i>
                    <img *ngIf="existeImagen" [src]="imagenPersonaJuridica" class="icon-ficha">
                </div>
            </div>
            <div class="col-lg-11 col-md-10">
                <div class="d-flex justify-content-start mb-1">
                    <label class="mr-auto title-ficha">{{"gratuita.personaJG.literal.unidadFamiliar" | translate}}</label>
                </div>
                <div class="d-flex justify-content-between">
                    <label>Fecha nacimiento
                        <span>{{ body.fechaNacConyuge }}</span>
                    </label>
                    <label>Número de hijos
                        <span>{{ body.numHijos }}</span>
                    </label>
                    <i *ngIf="!datosUdFamiliar" class="fa fa-angle-down float-right"></i>
                </div>
            </div>
        </div>
        <div *ngIf="datosUdFamiliar" class=" header-ficha-open d-flex justify-content-start align-items-center">
            <div class="img-colegiado">
                <i *ngIf="!existeImagen" class="fas fa-file-alt icon-ficha"></i>
                <img *ngIf="existeImagen" [src]="imagenPersonaJuridica" class="icon-ficha">
            </div>
            <label class="title-ficha">{{"gratuita.personaJG.literal.unidadFamiliar" | translate}}</label>
            <i class="fa fa-angle-up ml-auto"></i>
        </div>
    </div>
    <!--cuerpo datos unidad familiar-->
    <div [hidden]="!datosUdFamiliar" class="card-body card-body-ficha">
        <div class="form-row">
            <div class="col-lg-3 col-md-3">
                <label>Fecha nacimiento cónyuge</label>
                <app-fecha [(value)]="body.fechaNacConyuge" [disabled]="modoLectura" [utc]="false" (valueChangeSelected)="fillFechaNacimientoConyuge($event)"
                    (valueChangeInput)="fillFechaNacimientoConyuge($event)"></app-fecha>
            </div>
            <div class="col-lg-3 col-md-3">
                <label>Número de hijos</label>
                <input type="number" class="form-control" [disabled]="modoLectura" pInputText [(ngModel)]="body.numHijos">
            </div>
            <div class="col-lg-6 col-md-6">
            </div>
            <div class="edadesHijos col-lg-12 col-md-12">
                <label>Edades de los hijos</label>
            </div>
            <div class="col-lg-2 col-md-2">
                <label>Hijo 1</label>
                <input type="number" class="form-control" pInputText [disabled]="modoLectura" [(ngModel)]="body.hijos[0]">
            </div>
            <div class="col-lg-2 col-md-2">
                <label>Hijo 2</label>
                <input type="number" class="form-control" pInputText [disabled]="modoLectura" [(ngModel)]="body.hijos[1]">
            </div>
            <div class="col-lg-2 col-md-2">
                <label>Hijo 3</label>
                <input type="number" class="form-control" pInputText [disabled]="modoLectura" [(ngModel)]="body.hijos[2]">
            </div>
            <div class="col-lg-2 col-md-2">
                <label>Hijo 4</label>
                <input type="number" class="form-control" pInputText [disabled]="modoLectura" [(ngModel)]="body.hijos[3]">
            </div>
            <div class="col-lg-2 col-md-2">
                <label>Hijo 5</label>
                <input type="number" class="form-control" pInputText [disabled]="modoLectura" [(ngModel)]="body.hijos[4]">
            </div>
        </div>
    </div>
</div>
<div>
    <p-checkbox [(ngModel)]="cedeDatos" binary="true" label="El colegiado consiente la cesión de los datos por parte del Colegio a la Mutualidad General de la Abogacía"
        [disabled]="modoLectura" name="groupname"></p-checkbox>
</div>
<div class="mt-3 text-right main-button ">
    <button (click)="backTo()" pButton type="button " icon="fa fa-angle-left" iconPos="left" label="{{ 'general.boton.volver' | translate}}"></button>
    <button (click)="guardar()" pButton type="button " [disabled]="!isGuardar()" icon="fa fa-save" iconPos="left" label="Guardar"></button>
</div>

<div *ngIf="progressSpinner" class="overlay-spinner">
    <div class="loader"></div>
</div>