<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>
<app-dialog></app-dialog>

<div class="card">
  <!-- Cabecera -->
  <div (click)="abreCierraFicha()" class="card-header header-ficha" >
    <div *ngIf="!openFicha" class="form-row">
      <div class="col-lg-1 col-md-2">
        <div class="img-colegiado">
          <i class="fas fa-file icon-ficha"></i>
        </div>
      </div>
      <div class="col-lg-11 col-md-10">
        <div class="d-flex justify-content-start mb-1">
          <label (click)="abreCierraFicha()" class="mr-auto title-ficha">{{'administracion.parametrosGenerales.literal.descripcion' | translate}}</label>
        </div>
        <div class="d-flex justify-content-between">
          <label>
          </label>
          <i (click)="abreCierraFicha()" class="fa fa-angle-down float-right"></i>
        </div>
      </div>
    </div>

    <div *ngIf="openFicha" class=" header-ficha-open d-flex justify-content-start align-items-center">
      <div class="img-colegiado">
        <i class="fas fa-file icon-ficha"></i>
      </div>
      <label (click)="abreCierraFicha()" class="title-ficha">{{'administracion.parametrosGenerales.literal.descripcion' | translate}}</label>
      <i (click)="abreCierraFicha()" class="fa fa-angle-up ml-auto"></i>
    </div>
  </div>
  <!-- Cuerpo -->
  <div class="card-body card-body-ficha" *ngIf="openFicha">
    <div class="row">
      <div *ngIf="body.idTipoEnvios=='4' || body.idTipoEnvios=='5'" class="form-group col-lg-12 col-md-12">
        <label>{{'enviosMasivos.literal.cuerpo' | translate}}</label>
        <textarea style="height:140px" [disabled]="editar" autoResize="autoResize" [(ngModel)]="body.cuerpo" maxlength="160" pInputTextarea></textarea>
      </div>
      <div *ngIf="body.idTipoEnvios=='1' || body.idTipoEnvios=='7' " class="form-group col-lg-12 col-md-12">
        <label>{{'enviosMasivos.literal.cuerpo' | translate}}</label>
        <editor apiKey="{{apiKey}}" [init]="editorConfig" [disabled]="editar" [(ngModel)]="body.cuerpo" (ngModelChange)="onChangeEditor()"></editor>
      </div>
      <div *ngIf="body.idTipoEnvios=='4' || body.idTipoEnvios=='5'" class="form-group col-lg-3 col-md-3">
        <label>{{'enviosMasivos.literal.numCaracteres' | translate}}: </label>
        <label *ngIf="body.cuerpo">{{body.cuerpo.length}}</label>
      </div>
    </div>
  </div>
  <div class="card-footer" *ngIf="openFicha">
    <div class="text-right main-button">
      <!-- Botón guardar -->
      <button (click)="guardar()" [disabled]="isGuardarDisabled() || editar" pButton type="button" icon="far fa-save" iconPos="left"
          label="{{ 'general.boton.guardar' | translate}}"></button>
    </div>
  </div>
</div>
<div *ngIf="progressSpinner " class="overlay-spinner">
  <div class="loader "></div>
</div>