<table width="20%" border="0" align="center" cellpadding="0" cellspacing="0">


  <tbody>
    <tr>
      <td class="labelText" width="10%">
        <input type="radio" name="opt" value="1" checked="">
      </td>
      <td class="labelText" width="35%">
        <img src="/SIGA/html/imagenes/lenguaje_es.gif">
      </td>
      <td class="labelText" width="50%">
        Castellano
      </td>
      <td class="labelText" width="5%">

        <img src="/SIGA/html/imagenes/visto.gif">

      </td>
    </tr>



    <tr>
      <td class="labelText" width="10%">
        <input type="radio" name="opt" disabled="" value="2">
      </td>
      <td class="labelText" width="35%">
        <img src="/SIGA/html/imagenes/lenguaje_ca.gif">
      </td>
      <td class="labelText" width="50%">
        Català
      </td>
      <td class="labelText" width="5%">

      </td>
    </tr>



    <tr>
      <td class="labelText" width="10%">
        <input type="radio" name="opt" disabled="" value="3">
      </td>
      <td class="labelText" width="35%">
        <img src="/SIGA/html/imagenes/lenguaje_eu.gif">
      </td>
      <td class="labelText" width="50%">
        Euskara
      </td>
      <td class="labelText" width="5%">

      </td>
    </tr>



    <tr>
      <td class="labelText" width="10%">
        <input type="radio" name="opt" disabled="" value="4">
      </td>
      <td class="labelText" width="35%">
        <img src="/SIGA/html/imagenes/lenguaje_gl.gif">
      </td>
      <td class="labelText" width="50%">
        Galego
      </td>
      <td class="labelText" width="5%">

      </td>
    </tr>



    <tr>
      <td class="labelText" width="10%">
        <input type="radio" name="opt" disabled="" value="5">
      </td>
      <td class="labelText" width="35%">
        <img src="/SIGA/html/imagenes/lenguaje_jptl.gif">
      </td>
      <td class="labelText" width="50%">
        JPT-Lenguaje
      </td>
      <td class="labelText" width="5%">

      </td>
    </tr>



  </tbody>
</table>