<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>

<div class="row w-100 m-0 padding-interior">
  <div class="form-row w-100">

    <div class="form-group col-lg-3 col-md-3 w-100" *ngFor="let inputTitle of inputs">
      <label>{{ inputTitle.nombre }}</label>
      <input type="text" [(ngModel)]="inputTitle.value" class="form-control" pInputText>
    </div>

    <div class="form-group col-lg-3 col-md-3 w-100" *ngFor="let selector of selectores">
      <!-- <app-selector [i]="0" [selector]="selector" [textoVisible]="estado"></app-selector> -->
      <app-selector [i]="0" [selector]="selector"  [refresh] = "refresh" [refreshProcedimiento] = "refreshProcedimiento"  [refreshModulo] = "refreshModulo" (value)='selector.value=$event' (refreshDataCombos)="refreshDataCombos($event)" (busqueda)="busquedaCombos($event)" (busquedaProcedimiento)="busquedaCombosProcedimiento($event)" (busquedaCombosModulo)="busquedaCombosModulo($event)"></app-selector>
    </div>

    <div class="form-group col-lg-3 col-md-3 w-100" *ngFor="let datePickerTitle of datePickers; let i = index;">
      <label>{{ datePickerTitle.nombre }}</label>
      <app-fecha [utc]="true" [disabled]="i === 0" [(value)]='datePickerTitle.value' (valueChangeInput)="fillFechaHastaCalendar($event, datePickerTitle.nombre)" (valueChangeSelected)="fillFechaHastaCalendar($event, datePickerTitle.nombre)"></app-fecha>
    </div>

  </div>
</div>

<p-confirmDialog  header="{{ 'general.cabecera.confirmacion' | translate}}" icon="icon"   key="confirmGuardar" width="425" #confirmGuardar>
  <p-footer>
    <button type="button" pButton icon="fa-check" label="Si" (click)="confirmGuardar.accept()"></button>
    <button type="button" pButton icon="fa-close" label="No" (click)="confirmGuardar.reject()"></button>
  </p-footer>
</p-confirmDialog>

<div class="card-footer">
  <div class="text-right main-button">
    <button pButton type="button" icon="" iconPos="left" label="Finalizar" [disabled] ="disableFinalizar"
      (click)="showMsg('success', 'Se ha finalizado correctamente', 'Finalizar')"></button>
    <button pButton type="button" icon="fa fa-trash-alt" iconPos="left" label="Anular" [disabled] ="disableAnular"
      (click)="showMsg('success', 'Se ha anulado correctamente', 'Anular')"></button>
      <button pButton type="button" icon="" iconPos="left" label="Reactivar" [disabled] ="disableReactivar"
      (click)="showMsg('success', 'Se ha anulado correctamente', 'Reactivar')"></button>
    <button pButton type="button" icon="fa fa-undo" iconPos="left" label="Restablecer"
      (click)="showMsg('success', 'Se ha restablecido correctamente', 'Restablecer')" [disabled]= "disableRestablecer"></button>
    <button pButton type="button" icon="far fa-save" iconPos="left" label="Guardar"
      (click)="showMsg('success', 'Se ha guardado correctamente', 'Guardar')" [disabled]="disableGuardar"></button>
  </div>
</div>