#divCont{
    margin-left: 0px;
}

#divPeq1{
    padding-left: 1px;
    padding-right: 8px;

}
#divPeq2{
    padding-left: 7px;
    padding-right: 3px;
}
#rowCalidad{
    padding-left: 0.3rem !important;
    padding-right: 0.3rem !important;
}
