.form-group-date textarea, .form-group textarea {
    height: 70px;
}

::ng-deeep {
    #tablaLetrado{
        p-sortIcon {
            a {
                i {
                    color: grey !important;
                }
            }
        }
    }
}

.card-header{
    position: relative;
}

.card-actions-wrapper{
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    label{
        padding-right: 15px;
    }
}

