<p-growl (onHover)="clear()" [(value)]="msgs" life="30000"></p-growl>
<div class="busqueda-container" id="relaciones">
  <div class="card">
    <div class="card-header header-ficha">

      <div class=" header-ficha-open d-flex justify-content-start align-items-center">
        <div class="img-colegiado">
          <i class="fas fa-link icon-ficha"></i>
        </div>
        <label class="title-ficha pointer">Permutas</label>
        <i class="fa fa-angle-up ml-auto"></i>
      </div>
    </div>
    <div  class="px-0 pt-0 pb-0 card-body card-body-ficha">
       <p-table [value]="permutas" [columns]="cols" [(selection)]="selectedDatos" selectionMode="multiple"
        [responsive]="true" #table class="tabla-listado" [paginator]="true" [rows]="selectedItem"
         [ngClass]="{ 'customCursor': selectMultiple}" selectionMode="multiple"
        paginatorPosition="both">
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col *ngFor="let col of cols" [style.width]="col.width">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns; let i = index" [ngSwitch]="col.field" [pSortableColumn]="col.field">
              {{ col.header | translate }}
              <p-sortIcon [field]="col.field"></p-sortIcon>
              <input pDroppable="false" [(ngModel)]="buscadores[i]" (click)="$event.stopPropagation()"
                *ngSwitchCase="col.field" pInputText type="text" (input)="
           table.filter($event.target.value, col.field, 'contains')
         " />
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-dato let-columns="columns" let-rowIndex="rowIndex">
          <tr [pSelectableRow]="dato" [pSelectableRowIndex]="rowIndex">
            <td class="text-center" *ngFor="let col of columns">
              <div>
                <div *ngIf="col.field == 'fechaconfirmacion'">
                  <span>
                    {{dato[col.field] | date: 'dd/MM/yyyy'}}
                  </span>
                </div>
                <div *ngIf="col.field == 'fechasolicitud'">
                  <span>
                    {{dato[col.field] | date: 'dd/MM/yyyy'}}
                  </span>
                </div>

                <div *ngIf="col.field != 'fechasolicitud' && col.field != 'fechaconfirmacion'">
                  <span>
                    {{dato[col.field]}}
                  </span>
                </div>
               
              </div>

            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="columns.length">
              {{'censo.busquedaClientesAvanzada.literal.sinResultados' | translate }}
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
          <div class="mostrar d-flex text-right justify-content-end">
            <label class="pr-3 registros-totales">{{'informesycomunicaciones.plantillasenvio.ficha.mostrandoRegistros' |
              translate }}{{table.first + 1}} al
              {{table.first + table.rows}} {{'informesycomunicaciones.plantillasenvio.ficha.deUnTotalDe' | translate
              }} {{table.totalRecords}}</label>
            <label class="pr-3 numSeleccionados" *ngIf="selectedDatos  && selectedDatos.length > 0">{{
              'agenda.fichaCalendario.tablaNotificaciones.mostrandoRegistros' | translate }}: {{selectedDatos.length}}
            </label>
            <label class="pr-3 numSeleccionados" *ngIf="selectedDatos && selectedDatos.length <= 0">{{
              'agenda.fichaCalendario.tablaNotificaciones.mostrandoRegistros' | translate }}: 0
            </label>
            <label>{{"general.message.mostrar" | translate}}</label>
            <p-dropdown [(ngModel)]="selectedItem" [options]="rowsPerPage" (onChange)="onChangeRowsPerPages($event)">
            </p-dropdown>
            <label class="pl-1"> {{"cargaMasivaDatosCurriculares.numRegistros.literal" | translate}}</label>
            <div class="ml-3 selectAll">
              <p-checkbox (onChange)="onChangeSelectAll()" [disabled]="!permisoEscritura" [(ngModel)]="selectAll"
                binary="true" label="{{ 'tablas.literal.seleccionarTodo' | translate }}" name="groupname"></p-checkbox>
            </div>
          </div>
        </ng-template>
      </p-table>


      <div class="card-footer">
        <div class="text-right main-button">
          <button pButton [disabled]="((!selectMultiple || !selectAll) && selectedDatos.length != 0) || !permisoEscritura" (click)="validar()"
            type="button" icon="fa fa-save" iconPos="left" label="{{'general.boton.validar' | translate}}"></button>
          <button pButton
            [disabled]="((!selectMultiple || !selectAll) && selectedDatos.length != 0) || !permisoEscritura"
            (click)="permutar()" type="button" iconPos="left"
            label="{{ 'general.boton.permutar' | translate }}"></button>

        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="progressSpinner" class="overlay-spinner">
  <div class="loader"></div>
</div>