<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>

<div class="header-title">
  <i class="fa fa-square"></i>
  <p>SJCS
    <i class="fa fa-angle-right"></i> {{ 'menu.facturacionSJCS.cartaFacturacionPago' | translate }}
  </p>
</div>

<div class="busqueda-container">
  <app-filtro-cartas-facturacion-pago [permisoEscritura]="permisoEscritura" (emitSearch)="search($event)"
    (changeModoBusqueda)="changeModoBusqueda()" [disabledLetradoFicha]="disabledLetradoFicha" [apartado]="apartado"></app-filtro-cartas-facturacion-pago>
  <app-tabla-cartas-facturacion-pago *ngIf="buscar" [permisoEscritura]="permisoEscritura" [datos]="datos"
    [modoBusqueda]="modoBusqueda"></app-tabla-cartas-facturacion-pago>
</div>

<div *ngIf="progressSpinner" class="overlay-spinner">
  <div class="loader"></div>
</div>