<div class="busqueda-container">

  <!--DATOS GENERALES-->
  <div class="card">
    <div class="card-header header-ficha">
      <div *ngIf="!openFicha" class="form-row">
        <div class="col-lg-1 col-md-2">
          <div class="img-colegiado">
            <i class="fa fa-users icon-ficha"> </i>
          </div>
        </div>
        <div class="col-lg-11 col-md-10">
          <div class="d-flex justify-content-end mb-1">
            <label class="mr-auto title-ficha">Integrantes</label>
          </div>
          <div class="d-flex justify-content-between">
            <div *ngIf="datosIntegrantes.datosIntegrantesItems.length == 1">
              <label>{{"administracion.usuarios.literal.NIF" | translate}} <span>{{ body.nif }}</span></label>
              <label>{{"administracion.parametrosGenerales.literal.nombre" | translate}} <span>{{ body.nombre }}</span></label>
              <label>{{"gratuita.mantenimientoTablasMaestra.literal.apellidos" | translate}} <span>{{ body.apellidos }}</span></label>
              <label>Fecha de alta – fecha de baja <span>{{ body.fechaInicioCargo }} - {{ body.fechaFinCargo }}</span></label>
              <label>Cargos del integrante <span>{{ body.cargo }}</span></label>
              <label>Liquidación como sociedad <span> hola </span></label>
              <label>Ejerciente <span> mundo </span></label>
              <label>Participación en la sociedad <span>{{ body.participacionSociedad }}</span></label>
            </div>
            <div *ngIf="datosIntegrantes.datosIntegrantesItems.length > 1">
              <div class="row mb-1">
                <div class="mb-1" *ngFor="let integrante of datosIntegrantes.datosIntegrantesItems; let last = last">
                  <div *ngIf="!last">
                    <label>&nbsp;{{ integrante.nombre }},</label>
                  </div>
                  <div *ngIf="last">
                    <label>&nbsp;{{ integrante.nombre }}</label>
                  </div>
                </div>
                <div>
                </div>
              </div>
            </div>
            <i (click)="abrirFicha()" [ngClass]="{ 'fa fa-angle-up': openFicha, 'fa fa-angle-down': !openFicha} "></i>
          </div>
        </div>
      </div>
      <div *ngIf="openFicha" class=" header-ficha-open d-flex justify-content-start align-items-center">
        <div class="img-colegiado">
          <i class="fa fa-users icon-ficha"> </i>
        </div>
        <label class="title-ficha">Integrantes</label>
        <i (click)="abrirFicha()" class="fa fa-angle-up ml-auto"></i>
      </div>
    </div>

    <!--cuerpo datos generales-->
    <div *ngIf="openFicha" class="card-body card-body-ficha">

      <!--<p-dataTable #table emptyMessage="{{ 'general.message.no.registros' | translate}}" [value]="datosIntegrantes" [responsive]="true"
        class="tabla-listado" [sortOrder]="1" [(selection)]="selectedDatos" [paginator]="true" paginatorPosition="both" [rows]="selectedItem"
        (onRowSelect)="irEditarUsuario(selectedDatos)" selectionMode="single">
        <p-column *ngFor="let col of columnasTabla" [sortable]="true" [field]="col.field" [header]="col.header | translate" [filter]="true"
          filterMatchMode="contains" filterPlaceholder="{{'general.boton.search' | translate}}">
          </p-column>

          <ng-template pTemplate="paginatorLeft">
            <div class="mostrar">
              <label class="pr-3 registros-totales">Mostrando registros del {{table.first + 1}} al {{table.first + table.rows}} de un total de {{table.totalRecords}}</label>
              <label>{{ 'general.message.mostrar' | translate}}</label>
              <p-dropdown [(ngModel)]="selectedItem" [options]="rowsPerPage" (onChange)="onChangeRowsPerPages($event)"></p-dropdown> <label>{{'cargaMasivaDatosCurriculares.numRegistros.literal' | translate}}</label>
            </div>
          </ng-template>
          </p-dataTable>-->


      <br>
      <div class="card-footer ">
        <div class="text-right main-button ">
          <button (click)="anadirIntegrante()" pButton type="button" icon="fa-user-plus" iconPos="left" label="Nuevo"></button>
          <button (click)="editarIntegrante()" pButton type="button" icon="fa fa-edit" iconPos="left" label="Editar"></button>
          <button (click)="eliminarIntegrante()" pButton type="button" icon="fa fa-undo" iconPos="left" label="Borrar"></button>
          <button (click)="buscarIntegrante()" pButton type="button" icon="fa fa-search" iconPos="left" label="Historico/Buscar"></button>
        </div>
      </div>
      <!--END DATOS GENERALES-->
    </div>
    <p-growl [(value)]="msgs "></p-growl>
    <div *ngIf="progressSpinner " class="overlay-spinner ">
      <div class="loader "></div>
    </div>