::ng-deep {

    #facSJCSFichaRetDatRetJud {

        .camposObligatorios {
            border-color: red !important;
        }

        .camposObligatorios>div {
            border-color: red !important;
        }

        .camposObligatorios>input {
            border-color: red !important;
        }

        .camposObligatorios>div .ui-multiselect {
            border: 1px solid red !important;
        }

        .ui-inputtext .camposObligatorios {
            border: 1px solid red !important;
        }
    }

}