<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>

<div class="busqueda-container">
  <div class="header-title">
    <i class="fa fa-square"></i>
    <p>SJCS<i class="fa fa-angle-right"></i>{{'facturacionSJCS.facturacionesYPagos.buscarFacturacion.titulo' | translate}}</p>
  </div>
  <div class="card">
    <div class="card-body">         
      <p class="title-module">
        <p-radioButton name="filtroBusquedaFacturacion" value="facturacion" label="{{'facturacionSJCS.facturacionesYPagos.buscarFacturacion.facturacion' | translate}}" [(ngModel)]="selectedValue"></p-radioButton>
        <p-radioButton name="filtroBusquedaFacturacion" value="pagos" label="{{'facturacionSJCS.facturacionesYPagos.buscarFacturacion.pago' | translate}}" [(ngModel)]="selectedValue" disabled></p-radioButton>  
        <i (click)="onHideDatosGenerales()" *ngIf="showFiltroBusquedaFacturacion" class="fa fa-angle-up float-right"></i>
        <i (click)="onHideDatosGenerales()" *ngIf="!showFiltroBusquedaFacturacion" class="fa fa-angle-down float-right"></i>
      </p>
      <div *ngIf="showFiltroBusquedaFacturacion" class="module vista-avanzada">
        <div class="form-row">
          <div class="form-group col-lg-3 col-md-3">   
            <label>{{'facturacionSJCS.facturacionesYPagos.buscarFacturacion.estado' | translate}}</label>
            <p-dropdown class="select-form" [(ngModel)]='filtros.idEstado' [options]="estadoFacturas" [filter]="true" placeholder="{{'general.boton.seleccionar' | translate}}" filterBy="label,labelSinTilde" [showClear]="true"></p-dropdown>
          </div>  
          <div class="form-group col-lg-3 col-md-3">
            <label>{{'facturacionSJCS.facturacionesYPagos.buscarFacturacion.fechaDesde' | translate}}</label>
            <app-fecha [utc]="false" [(value)]="filtros.fechaDesde" (valueChangeSelected)="fillFechaDesde($event)" (valueChangeInput)="fillFechaDesde($event)"></app-fecha>
          </div>  
          <div class="form-group col-lg-3 col-md-3">
            <label>{{'facturacionSJCS.facturacionesYPagos.buscarFacturacion.fechaHasta' | translate}}</label>
            <app-fecha [utc]="false" [(value)]="filtros.fechaHasta" [minDate]="filtros.fechaDesde" (valueChangeSelected)="fillFechaHasta($event)" (valueChangeInput)="fillFechaHasta($event)"></app-fecha>
          </div>  
          <div class="form-group col-lg-3 col-md-3">
            <label>{{'facturacionSJCS.facturacionesYPagos.buscarFacturacion.conceptosyservicios' | translate}}</label>
            <p-dropdown class="select-form" [(ngModel)]='filtros.idConcepto' [options]="conceptos" [filter]="true" placeholder="{{'general.boton.seleccionar' | translate}}" filterBy="label,labelSinTilde" [showClear]="true"></p-dropdown>    
          </div>  
        </div>
        <div class="form-row">
          <div class="form-group col-lg-6 col-md-6">   
            <label>{{'facturacionSJCS.facturacionesYPagos.buscarFacturacion.nombre' | translate}}</label>
            <input type="text"  maxlength="100"  name="nombre" class="form-control" [(ngModel)]='filtros.nombre' pInputText />
          </div>  
          <div class="form-group col-lg-3 col-md-3">
            <label>{{'facturacionSJCS.facturacionesYPagos.buscarFacturacion.grupoTurnos' | translate}}</label>
            <p-dropdown class="select-form" [(ngModel)]='filtros.idFacturacion' [options]="grupoTurnos" [filter]="true" placeholder="{{'general.boton.seleccionar' | translate}}" filterBy="label,labelSinTilde" [showClear]="true"></p-dropdown>      
          </div>  
          <div class="form-group col-lg-3 col-md-3">
            <label>{{'facturacionSJCS.facturacionesYPagos.buscarFacturacion.partidaPresupuestaria' | translate}}</label>
            <p-dropdown class="select-form" [(ngModel)]='filtros.idPartidaPresupuestaria' [options]="partidaPresupuestaria" [filter]="true" placeholder="{{'general.boton.seleccionar' | translate}}" filterBy="label,labelSinTilde" [showClear]="true"></p-dropdown>     
          </div>  
        </div>
      </div>
    </div>
    <div class="card-footer" *ngIf="showFiltroBusquedaFacturacion">
      <div class="text-right main-button">
          <button (click)="restablecer()" pButton type="button" icon="fa fa-eraser" iconPos="left" label="{{ 'general.boton.restablecer' | translate }}"></button>
          <button (click)="nuevo()" pButton type="button" icon="fa fa-plus" iconPos="left" label="{{ 'general.boton.new' | translate }}"></button>
          <button (click)="isBuscar()" pButton type="button" icon="fa fa-search" iconPos="left" label="{{ 'general.boton.search' | translate }}"></button>
      </div>
    </div>
  </div>
</div>