<div class="busqueda-container">
    <div class="header-title">
        <i class="fa fa-square"></i>
        <p>Búsqueda de Colegiados</p>
    </div>
    <div class="breadCrumb">
        <p>Censo <i class="fa fa-angle-right"></i> Búsqueda de Colegiados</p>
    </div>
    <div class="card">
        <!--<div class="card-header">
      <label>Búsqueda de Colegiados</label>
      <p-radioButton label="Simple" name="groupname" value="simple" class="float-right" [(ngModel)]="selectedValue"></p-radioButton>
      <p-radioButton label="Avanzada" name="groupname" value="avanzada" class="pr-3 float-right" [(ngModel)]="selectedValue"></p-radioButton>
    </div>-->
        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    <p-radioButton name="person" value="f" label="Personas Fisicas" [(ngModel)]='persona' (click)="changeColsAndData();"></p-radioButton>
                    <p-radioButton name="person" value="j" label="Personas Juridicas" [(ngModel)]='persona' (click)="changeColsAndData();"></p-radioButton>
                </div>
            </div>
            <p class="title-module">Datos generales<i (click)="abrirFicha('generales')" *ngIf="!esFichaActiva('generales')" class="fa fa-angle-up float-right"></i><i
                    (click)="cerrarFicha('generales')" *ngIf="esFichaActiva('generales')" class="fa fa-angle-down float-right"></i></p>
            <div *ngIf="persona=='f'" class="module vista-simple">
                <div class="form-row">
                    <div class="form-group col-lg-3 col-md-3">
                        <label>NIF/CIF</label>
                        <input type="text" class="form-control" pInputText [(ngModel)]='bodyFisica.nif'>
                    </div>
                    <div class="form-group col-lg-3 col-md-3">
                        <label>Nombre</label>
                        <input type="text" class="form-control" pInputText [(ngModel)]='bodyFisica.nombre'>
                    </div>
                    <div class="form-group col-lg-3 col-md-3">
                        <label>Primer Apellido</label>
                        <input type="text" class="form-control" pInputText [(ngModel)]='bodyFisica.primerApellido'>
                    </div>
                    <div class="form-group col-lg-3 col-md-3">
                        <label>Segundo Apellido</label>
                        <input type="text" class="form-control" pInputText [(ngModel)]='bodyFisica.segundoApellido'>
                    </div>
                    <div class="form-group col-lg-3 col-md-3">
                        <label>Colegio</label>
                        <p-dropdown class="select-form" [filter]="true" filterBy="label" [(ngModel)]='bodyFisica.colegio'></p-dropdown>
                    </div>
                    <div class="form-group col-lg-3 col-md-3">
                        <label>Nº Colegiado</label>
                        <input type="text" class="form-control" pInputText [(ngModel)]='bodyFisica.numeroColegiado'>
                    </div>
                </div>
            </div>

            <div *ngIf="persona=='j'" class="module vista-simple">
                <div class="form-row">
                    <div class="form-group col-lg-3 col-md-3">
                        <label>Tipo persona Juridica</label>
                        <input type="text" class="form-control" pInputText [(ngModel)]='bodyJuridica.tipo'>
                    </div>
                    <div class="form-group col-lg-3 col-md-3">
                        <label>NIF</label>
                        <input type="text" class="form-control" pInputText [(ngModel)]='bodyJuridica.nif'>
                    </div>
                    <div class="form-group col-lg-3 col-md-3">
                        <label>Denominacion</label>
                        <input type="text" class="form-control" pInputText [(ngModel)]='bodyJuridica.denominacion'>
                    </div>
                    <div class="form-group col-lg-3 col-md-3">
                        <label>Abreviatura</label>
                        <input type="text" class="form-control" pInputText [(ngModel)]='bodyJuridica.Abreviatura'>
                    </div>
                    <div class="form-group col-lg-3 col-md-3">
                        <label>Colegio</label>
                        <p-dropdown class="select-form" [filter]="true" filterBy="label" [(ngModel)]='bodyJuridica.nif'> </p-dropdown>
                    </div>
                </div>
            </div>

        </div>
        <div class="card-footer">
            <div class="text-right main-button ">
                <button pButton type="button " icon="fa fa-eraser " iconPos="left" label="Limpiar"></button>
                <button (click)="search()" pButton type="button " icon="fa fa-search " iconPos="left" label="Buscar"></button>
            </div>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body p-0">
            <div class="m-3 d-flex justify-content-end">

            </div>
            <p-dataTable emptyMessage="{{ 'general.message.no.registros' | translate}}" [ngClass]="{'customCursor': selectMultiple}"
                [(selection)]="selectedDatos" (onRowSelect)="irFichaColegial(selectedDatos)" dataKey="nif" selectionMode="multiple"
                [responsive]="true" #table class="tabla-listado" [value]="datos" [sortOrder]="1" [paginator]="true" paginatorPosition="both"
                [rows]="selectedItem">
                <p-column *ngFor="let col of cols" [sortable]="true " [field]="col.field" [header]="col.header" [filter]="true" filterPlaceholder="{{'general.boton.search' | translate}}"></p-column>
                <ng-template pTemplate="paginatorLeft">
                    <div class="mostrar">
                        <label class="mt-2 pr-3 registros-totales">Mostrando registros del {{table.first + 1}} al {{table.first + table.rows}} de un total de {{table.totalRecords}}</label>
                        <label>Mostrar</label>
                        <p-dropdown [(ngModel)]="selectedItem" [options]="rowsPerPage" (onChange)="onChangeRowsPerPages($event)"></p-dropdown><label> registros</label>
                    </div>
                </ng-template>
                <p-footer *ngIf="selectedDatos && selectedDatos != ''">
                    <div class="text-right main-button">
                        <button pButton type="button" icon="fa fa-download" iconPos="left" label="Descargar"></button>
                    </div>
                </p-footer>
                </p-dataTable>
        </div>
    </div>
</div>