<p-growl [(value)]="msgs" [life]="30000" (onHover)="clear()"></p-growl>
<div class="busqueda-container">
    <div class="header-title">
        <i class="fa fa-square"></i>
        <p>Censo
            <i class="fa fa-angle-right"></i> Búsqueda de Colegiados</p>
    </div>
    <!--<div class="breadCrumb">

    </div>-->
    <div class="card">

        <div class="card-body">
            <div class="form-row">
                <div class="col-4">
                    <p-radioButton name="person" value="f" label="Personas Fisicas" [(ngModel)]='persona' (click)="changeColsAndData();"></p-radioButton>
                    <p-radioButton name="person" value="j" label="Personas Juridicas" [(ngModel)]='persona' (click)="changeColsAndData();"></p-radioButton>
                </div>
            </div>
            <p class="title-module">Datos generales
                <i (click)="abrirFicha('generales')" *ngIf="!esFichaActiva('generales')" class="fa fa-angle-up float-right"></i>
                <i (click)="cerrarFicha('generales')" *ngIf="esFichaActiva('generales')" class="fa fa-angle-down float-right"></i>
            </p>
            <div *ngIf="persona=='f'" class="module vista-avanzada">
                <div class="form-row">
                    <div class="form-group col-lg-3 col-md-3">
                        <label>NIF/CIF</label>
                        <input type="text" class="form-control" pInputText [(ngModel)]='bodyFisica.nif'>
                    </div>
                    <div class="form-group col-lg-3 col-md-3">
                        <label>Nombre</label>
                        <input type="text" class="form-control" pInputText [(ngModel)]='bodyFisica.nombre'>
                    </div>
                    <div class="form-group col-lg-3 col-md-3">
                        <label>Primer Apellido</label>
                        <input type="text" class="form-control" pInputText [(ngModel)]='bodyFisica.primerApellido'>
                    </div>
                    <div class="form-group col-lg-3 col-md-3">
                        <label>Segundo Apellido</label>
                        <input type="text" class="form-control" pInputText [(ngModel)]='bodyFisica.segundoApellido'>
                    </div>
                    <div class="form-group col-lg-6 col-md-6">
                        <label>Colegio</label>
                        <!--<p-multiSelect [filter]="true" filterBy="label" [options]="colegios_rol" optionLabel="label" [defaultLabel]="textFilter"
                            styleClass="widthAll" [(ngModel)]='colegios_seleccionados' maxSelectedLabels="1" [panelStyle]="{width:'100%'}"></p-multiSelect>-->
                        <p-multiSelect [defaultLabel]="textFilter" [(ngModel)]='colegios_seleccionados' [options]="colegios_rol" optionLabel="label"
                            [selectedItemsLabel]="textSelected" maxSelectedLabels="1" styleClass="widthAll" [panelStyle]="{width:'100%'}"></p-multiSelect>

                    </div>
                    <div class="form-group col-lg-3 col-md-3">
                        <label>Nº Colegiado</label>
                        <input type="text" class="form-control" pInputText [(ngModel)]='bodyFisica.numeroColegiado'>
                    </div>
                </div>
            </div>

            <div *ngIf="persona=='j'" class="module vista-avanzada">
                <div class="form-row">
                    <div class="form-group col-lg-3 col-md-3">
                        <label>Tipo persona Juridica</label>
                        <input type="text" class="form-control" pInputText [(ngModel)]='bodyJuridica.tipo'>
                    </div>
                    <div class="form-group col-lg-3 col-md-3">
                        <label>CIF</label>
                        <input type="text" class="form-control" pInputText [(ngModel)]='bodyJuridica.nif'>
                    </div>
                    <div class="form-group col-lg-3 col-md-3">
                        <label>Denominacion</label>
                        <input type="text" class="form-control" pInputText [(ngModel)]='bodyJuridica.denominacion'>
                    </div>
                    <div class="form-group col-lg-3 col-md-3">
                        <label>Abreviatura</label>
                        <input type="text" class="form-control" pInputText [(ngModel)]='bodyJuridica.abreviatura'>
                    </div>
                    <div class="form-group col-lg-6 col-md-6">
                        <label>Colegio</label>
                        <p-multiSelect [filter]="true" filterBy="label" [options]="colegios_rol" optionLabel="label" [defaultLabel]="textFilter"
                            styleClass="widthAll" [(ngModel)]='colegios_seleccionados' maxSelectedLabels="1" [panelStyle]="{width:'100%'}"></p-multiSelect>
                    </div>
                </div>
            </div>

        </div>
        <div class="card-footer">
            <div class="text-right main-button ">
                <button (click)="changeColsAndData()" pButton type="button " icon="fa fa-eraser " iconPos="left" label="Limpiar"></button>
                <button (click)="search()" pButton type="button " icon="fa fa-search " iconPos="left" label="Buscar"></button>
            </div>
        </div>
    </div>
    <div *ngIf="buscar == true" class="card mt-3">
        <div class="card-body p-0">
            <!--<div class="m-3 d-flex justify-content-end">

            </div>-->
            <p-dataTable emptyMessage="{{ 'general.message.no.registros' | translate}}" [ngClass]="{'customCursor': selectMultiple}"
                [(selection)]="selectedDatos" (onRowSelect)="irFichaColegial(selectedDatos)" dataKey="nif" [responsive]="true"
                selectionMode="multiple" #table class="tabla-listado" [value]="datos" [sortOrder]="1" [paginator]="true" paginatorPosition="both"
                [rows]="selectedItem">
                <p-column *ngFor="let col of cols" [sortable]="true " [field]="col.field" [header]="col.header" [filter]="true" filterPlaceholder="{{'general.boton.search' | translate}}"
                    filterMatchMode="contains"></p-column>
                <ng-template pTemplate="paginatorLeft">
                    <div class="mostrar">
                        <label class="mt-2 pr-3 registros-totales">Mostrando registros del {{table.first + 1}} al {{table.first + table.rows}} de un total de {{table.totalRecords}}</label>
                        <label>Mostrar</label>
                        <p-dropdown [(ngModel)]="selectedItem" [options]="rowsPerPage" (onChange)="onChangeRowsPerPages($event)"></p-dropdown>
                        <label> registros</label>
                    </div>
                </ng-template>
                <p-footer *ngIf="selectedDatos && selectedDatos != ''">
                    <div class="text-right main-button">
                        <button pButton type="button" icon="fa fa-download" iconPos="left" label="Descargar"></button>
                    </div>
                </p-footer>
            </p-dataTable>
        </div>
    </div>
</div>
<app-dialog></app-dialog>
<p-growl [(value)]="msgs" [life]="30000" (onHover)="clear()"></p-growl>

<div class="mt-3 text-right main-button ">
    <button (click)="backTo()" pButton type="button " icon="fa fa-angle-left" iconPos="left" label="Volver"></button>
</div>

<div *ngIf="progressSpinner " class="overlay-spinner ">
    <div class="loader "></div>
</div>