<p-growl (onHover)="clear()" [(value)]="msgs" life="30000"></p-growl>
<div class="ficha-container" id="facturacion">
  <div class="card" id="top">
    <div class="card-header header-ficha">

      <div *ngIf="!esFichaActiva('facturas')" class="form-row">
        <div class="col-lg-1 col-md-2" (click)="abreCierraFicha('facturas')">
          <div class="img-colegiado">
            <i class="far fa-address-book icon-ficha pointer"></i>
          </div>
        </div>
        <div class="col-lg-11 col-md-10">
          <div class="d-flex justify-content-start mb-1" (click)="abreCierraFicha('facturas')">
            <label class="mr-auto title-ficha pointer">{{ 'menu.facturacion.facturas' | translate }}</label>
            <div class="d-flex justify-content-between default">
              <label class="fa fa-angle-down float-right ml-auto" (click)="abreCierraFicha('facturas')" *ngIf="!esFichaActiva('facturas')"></label>
            </div>
          </div>
          <div class="d-flex justify-content-between default">
            <label>{{ 'menu.facturacion.facturas' | translate }}: 
              <span>{{ 'menu.facturacion.facturas' | translate }}</span>
            </label>
            <label>{{ 'facturacionSJCS.facturacionesYPagos.buscarFacturacion.total' | translate }}: 
              <span>{{ 'menu.facturacion.facturas' | translate }}</span>
            </label>
            <label>{{ 'facturacionSJCS.facturacionesYPagos.buscarFacturacion.pendiente' | translate }}: 
              <span>{{ 'menu.facturacion.facturas' | translate }}</span>
            </label>
            <label class="mr-3">
              <i (click)="ir();$event.stopPropagation();"
                class="fas fa-external-link-alt mr-2"></i>
              <a (click)="ir();$event.stopPropagation();">
                <span style="color: blue; text-decoration: underline;cursor:pointer;">
                  {{ 'menu.facturacion.facturas' | translate }}
                </span>
              </a>
            </label>
          </div>
        </div>
      </div>

      <div *ngIf="esFichaActiva('facturas')" class=" header-ficha-open d-flex justify-content-start align-items-center" (click)="abreCierraFicha('facturas')">
        <div class="img-colegiado">
          <i class="far fa-address-book icon-ficha"></i>
        </div>
        <label class="title-ficha pointer">{{ 'menu.facturacion.facturas' | translate }}</label>

        <label class="ml-auto mr-3">
          <i (click)="ir();$event.stopPropagation();"
            class="fas fa-external-link-alt mr-2"></i>
          <a (click)="ir();$event.stopPropagation();">
            <span style="color: blue; text-decoration: underline;cursor:pointer;">
              {{ 'menu.facturacion.facturas' | translate }}
            </span>
          </a>
        </label>
        <i class="fa fa-angle-up"></i>
      </div>
    </div>
    <div *ngIf="esFichaActiva('facturas')" class="card-body card-body-ficha">
      <p-table [autoLayout]="true" [value]="datosFicheros" [columns]="cols" [responsive]="true" #table class="tabla-listado" [paginator]="true" [rows]="selectedItem" selectionMode="single" paginatorPosition="both" >

        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col *ngFor="let col of cols" [style.width]="col.width">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns; let i = index" [ngSwitch]="col.field" [pSortableColumn]="col.field">
              {{ col.header | translate }}
              <p-sortIcon [field]="col.field"></p-sortIcon>
              <input pDroppable="false" [(ngModel)]="buscadores[i]" (click)="$event.stopPropagation()" *ngSwitchCase="col.field" pInputText
                type="text" (input)="
                  table.filter($event.target.value, col.field, 'contains')
                " />
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-dato let-columns="columns" let-rowIndex="rowIndex">
          <tr [pSelectableRow]="dato" [pSelectableRowIndex]="rowIndex">
            <td class="text-center" *ngFor="let col of columns">
              <div *ngIf="col.field != 'totalPendiente' && col.field != 'total'">
                <span>{{dato[col.field]}}</span>
              </div>
  
              <div *ngIf="col.field == 'totalPendiente' || col.field == 'total'">
                <span>{{ dato[col.field] | number:'':'es-ES' }} €</span>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="columns.length">
              {{'justiciaGratuita.maestros.fundamentosCalificacion.tabla.sinResultados'|translate}}
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
          <div class="mostrar d-flex text-right justify-content-end">
            <label class="pr-3 registros-totales">{{'informesycomunicaciones.plantillasenvio.ficha.mostrandoRegistros' | translate }}{{table.first + 1}} al {{table.first
              + table.rows}} {{'informesycomunicaciones.plantillasenvio.ficha.deUnTotalDe' | translate }} {{table.totalRecords}}</label>
            <label class="pr-3 numSeleccionados" *ngIf="selectedDatos  && selectedDatos.length > 0">{{ 'agenda.fichaCalendario.tablaNotificaciones.mostrandoRegistros' | translate }}: {{selectedDatos.length}}
            </label>
            <label class="pr-3 numSeleccionados" *ngIf="selectedDatos && selectedDatos.length <= 0">{{ 'agenda.fichaCalendario.tablaNotificaciones.mostrandoRegistros' | translate }}: 0
            </label>
            <label>{{"general.message.mostrar" | translate}}</label>
            <p-dropdown [(ngModel)]="selectedItem" [options]="rowsPerPage" (onChange)="onChangeRowsPerPages($event)">
            </p-dropdown>
            <label class="pl-1"> {{"cargaMasivaDatosCurriculares.numRegistros.literal" | translate}}</label>
          </div>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
<div *ngIf="progressSpinner" class="overlay-spinner">
  <div class="loader"></div>
</div>