<div class="row w-100 m-0">

  <div class="padding-interior w-100">
    <app-paginador [type]="'TOP'"></app-paginador>
  </div>


  <div class="col-lg-12 col-md-12 w-100">
    <app-tabla-resultado [cabeceras]="cabeceras" [elementos]="elementos" [elementosAux]="elementosAux"
      (anySelected)="notifyAnySelected($event)"  (rowSelected)="notifyRowSelected($event)">
    </app-tabla-resultado>
  </div>

  <div class="padding-interior w-100">
    <app-paginador [type]="'BOTTOM'"></app-paginador>
  </div>

</div>