<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>
<div class="header-title">
  <i class="fa fa-square"></i>
  <p>{{'menu.justiciaGratuita' | translate}}
    <i class="fa fa-angle-right"></i>{{'menu.justiciaGratuita.remesas.envio' | translate}}
  </p>
</div>

<div class="busqueda-container">
  <app-tarjeta-datos-generales [remesaTabla]="remesaTabla" [remesaItem]="remesaItem" (estado) = "checkAcciones()"></app-tarjeta-datos-generales>
  <app-tarjeta-ejgs [remesaTabla]="remesaTabla" [remesaItem]="remesaItem"></app-tarjeta-ejgs>

  <div class="card-footer">
    <div id="botonesAccion" class="text-right main-button ">
      <ng-container *ngIf="acciones">
        <button *ngFor="let i of getAccionesRemesas" (click)="buttonClicked(i)" pButton type="button" icon="fa fa-trash-alt" iconPos="left"
        [label]= "i.descripcion"></button>
       </ng-container>
      <button (click)="confirmDelete(true)" pButton type="button" icon="fa fa-trash-alt" iconPos="left" [disabled] = "!guardado"
        label="{{ 'general.boton.eliminarRemesa' | translate}}"></button>
      <button (click)="openTab()" pButton type="button"  icon="fa fa-plus"
       iconPos="left"  label="{{ 'general.boton.aniadirExpedientes' | translate}}"></button>
      <button (click)="confirmDelete(false)" pButton type="button" icon="fa fa-trash-alt" iconPos="left"
        label="{{ 'general.boton.eliminarExpedientes' | translate}}"></button>
      <button (click)="save()" pButton type="button" icon="far fa-save" iconPos="left"
        label="{{ 'general.boton.guardar' | translate}}"></button>
    </div>
  </div>

</div>

<p-confirmDialog header="Confirmación" icon="fa fa-question-circle" width="425" #cd>
  <p-footer>
    <button type="button" pButton icon="fa-check" label="Si" (click)="cd.accept()"></button>
    <button type="button" pButton icon="fa-close" label="No" (click)="cd.reject()"></button>
  </p-footer>
</p-confirmDialog>

<div *ngIf="progressSpinner" class="overlay-spinner">
  <div class="loader"></div>
</div>