table {
    display: table;
    text-align: center;
    border-collapse: collapse;
    width: 100%;

    tr {
        td {
            white-space: nowrap;
        }
        th {
            white-space: nowrap;
        }
    }
}

.taCenter{
    text-align: center;
}

.w100 {
    width: 100%;
}

::ng-deep {
    
    #tablaResultado {

        span.cdk-visually-hidden {
            display: none !important;
        }
    
        button.mat-sort-header-button {
            margin: auto !important;
            color: #595959 !important;
            font-family: "Ubuntu" !important;
        }
    
        div.mat-sort-header-arrow {
            margin: 0 !important;
        }

    }

}

.fixedBlue{
    background-color: lightsteelblue !important;
  }
  .hoverBlue2{
    background-color: lightsteelblue !important;
  }
  