<div class="consultas-container">
  <div class="header-title">
    <i class="fa fa-square"></i>
    <p>
      {{ "menu.informesYcomunicaciones" | translate }}
      <i class="fa fa-angle-right"></i>{{ "menu.informesYcomunicaciones.consultas" | translate }}
      <i class="fa fa-angle-right"></i>{{ "informesycomunicaciones.consultas.ficha.fichaConsulta" | translate }}
    </p>
  </div>
  <div *ngFor="let ficha of fichasPosibles">
    <div *ngIf="ficha.key == 'generales'">
      <app-datos-generales-consulta (emitConstructorConsultaExperta)="emitConstructorConsultaExperta($event)"></app-datos-generales-consulta>
    </div>
    <div *ngIf="ficha.key == 'consultas' && constructorConsultaExperta == 'consultaExperta'">
      <app-consulta></app-consulta>
    </div>
    <div *ngIf="ficha.key == 'modelos'">
      <app-modelos-comunicaciones-consulta></app-modelos-comunicaciones-consulta>
    </div>
    <div *ngIf="ficha.key == 'plantillas'">
      <app-plantillas-envios-consultas ></app-plantillas-envios-consultas>
    </div>
    <div *ngIf="constructorConsultaExperta == 'constructor' && ficha.key == 'constructor'">
      <app-constructor-consultas ></app-constructor-consultas>
    </div>
  </div>
</div>
<div class="mt-3 text-right main-button ">
  <button (click)="backTo()" pButton type="button" icon="fa fa-angle-left" iconPos="left" label="{{ 'general.boton.volver' | translate }}"></button>
</div>
<app-dialog></app-dialog>