.padding-interior {
    padding-right: 1.25rem !important;
    padding-left: 1.25rem !important;
}

.inline {
    display: inline-flex
}

::ng-deep {

    #check6 {

        p-checkbox {
            margin-left: 0px !important;

            label {
                float: left !important;
                margin-right: .5rem !important;
                font-weight: bold;
            }
        }

    }

}