.alineacionCheckboxes{
    position: absolute;
    top: 80%;
    left: 7%;
    margin: -25px 0 0 -25px;
}

.alineacionCheckboxes2{
    position: absolute;
    top: 124%;
    left: 7%;
    margin: -25px 0 0 -25px;
}

.form-group-interlineado2{
    margin-left: 0.59rem;;
    display: block;
}