<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>
<div class="card">
    <div class="card-body">
        <app-busqueda-certificacion (formulario)="saveForm($event)"></app-busqueda-certificacion>
    </div>
    <div class="card-footer">
        <div class="text-right main-button">
            <button pButton type="button" icon="fas fa-eraser" iconPos="left" label="Limpiar"
                (click)="hideResponse()"></button>
            <button pButton type="button" icon="fas fa-search" iconPos="left" label="Buscar"
                (click)="showResponse();showMsg('info', 'Mostrando información buscada', '')"
                [disabled]="!cFormValidity"></button>
            <button pButton type="button" icon="fas fa-plus" iconPos="left" label="Nuevo"></button>
        </div>
    </div>
</div>

<div *ngIf="show">
    <div class="card mt-3">
        <div class="card-body">
            <app-paginador (seleccionarTodo)="selectedAll($event)" [type]="'TOP'"></app-paginador>

            <app-resultado-certificacion [allSelected]="allSelected" [showResponse]="show" [cabeceras]="cabeceras" [elementos]="elementos"
                [elementosAux]="elementosAux" (anySelected)="notifyAnySelected($event)"></app-resultado-certificacion>

            <div>
                <app-paginador [type]="'BOTTOM'"></app-paginador>
            </div>
        </div>
        <div class="card-footer">
            <div class="text-right main-button">
                <button [disabled]="isDisabled" pButton type="button" icon="fa fa-times" iconPos="left" label="Eliminar"
                    (click)="hideResponse()"></button>
                <button [disabled]="isDisabled" pButton type="button" icon="fa fa-reply-all" iconPos="left" label="Comunicar"
                    (click)="showResponse()"></button>
                <button [disabled]="isDisabled" pButton type="button" icon="fa fa-times" iconPos="left" label="Eliminar"
                    (click)="showMsg('success', 'Se ha eliminado correctamente', '')"></button>
                <button [disabled]="isDisabled" pButton type="button" icon="fa fa-reply-all" iconPos="left" label="Comunicar"
                    (click)="showMsg('success', 'Se ha comunicado correctamente', '')"></button>
            </div>
        </div>
    </div>
</div>