<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>
<app-dialog></app-dialog>
<div class="ficha-container">
  <!--DATOS GENERALES-->
  <div class="card">
    <div class="card-header header-ficha" (click)="abreCierraFicha()">
      <div *ngIf="!openFicha" class="form-row">
        <div class="col-lg-1 col-md-2">
          <div class="img-colegiado">
            <i class="fas  fa-cog icon-ficha"></i>
          </div>
        </div>
        <div class="col-lg-11 col-md-10">
          <div class="d-flex justify-content-center mb-1">
            <label class="mr-auto title-ficha">{{'enviosMasivos.literal.configComunicacion' | translate}}</label>
          </div>
          <div class="d-flex justify-content-between">

            <label>{{'enviosMasivos.literal.tipoEnvio' | translate}}
              <span>{{tipoEnvio}}</span>
            </label>

            <i *ngIf="!openFicha" class="fa fa-angle-down float-right"></i>
          </div>
        </div>
      </div>
      <div *ngIf="openFicha" class=" header-ficha-open d-flex justify-content-start align-items-center">
        <div class="img-colegiado">
          <i class="fas fa-cog icon-ficha"></i>
        </div>
        <label class="title-ficha">{{'enviosMasivos.literal.datosGlobales' | translate}}</label>
        <i class="fa fa-angle-up ml-auto"></i>
      </div>
    </div>
    <!--cuerpo datos generales-->
    <div *ngIf="openFicha" class="card-body card-body-ficha">
      <div class="row">
        <div class="bloque" [ngClass]="{'col-lg-12':body.idTipoEnvio!='1' && body.idTipoEnvio!='4' && body.idTipoEnvio!='5','col-lg-6':body.idTipoEnvio=='1' || body.idTipoEnvio=='4' || body.idTipoEnvio=='5'}">
          <div class="form-row">
            <div class="form-group col-lg-12">
              <label>
                <strong>{{'enviosMasivos.literal.configComunicacion' | translate}}</strong>
              </label>
            </div>
            <div class="form-group" [ngClass]="{'col-lg-4':body.idTipoEnvio!='1' && body.idTipoEnvio!='4' && body.idTipoEnvio!='5','col-lg-12':body.idTipoEnvio=='1' || body.idTipoEnvio=='4' || body.idTipoEnvio=='5'}">
              <label class="d-block">{{'enviosMasivos.literal.tipoEnvio' | translate}} *</label>
              <p-dropdown [disabled]="editar" (onChange)="onChangeTipoEnvio()" [options]="tipoEnvios" [(ngModel)]="body.idTipoEnvio" class="select-form"></p-dropdown>
            </div>
            <div class="form-group" [ngClass]="{'col-lg-4':body.idTipoEnvio!='1' && body.idTipoEnvio!='4' && body.idTipoEnvio!='5','col-lg-12':body.idTipoEnvio=='1' || body.idTipoEnvio=='4' || body.idTipoEnvio=='5'}">
              <label class="d-block">{{'enviosMasivos.literal.plantillasEnvio' | translate}} *</label>
              <p-dropdown [disabled]="(plantillas && plantillas.length <= 0) || editar" [options]="plantillas" [(ngModel)]="body.idPlantillasEnvio"
                dataKey="value" class="select-form"></p-dropdown>
            </div>
            <div class="form-group" [ngClass]="{'col-lg-4':body.idTipoEnvio!='1' && body.idTipoEnvio!='4' && body.idTipoEnvio!='5','col-lg-12':body.idTipoEnvio=='1' || body.idTipoEnvio=='4' || body.idTipoEnvio=='5'}">
              <label class="d-block">{{'enviosMasivos.literal.descripcion' | translate}} *</label>
              <input type="text" class="form-control" [(ngModel)]="body.descripcion" pInputText>
            </div>
          </div>
        </div>

        <div *ngIf="body.idTipoEnvio== '1' || body.idTipoEnvio== '4' || body.idTipoEnvio== '5'" class="col-lg-6 col-md-12">
          <div class="form-row">
            <div class="form-group col-lg-12 col-md-12">
              <label *ngIf="body.idTipoEnvio=='1'">
                <strong>{{'enviosMasivos.literal.datosCorreo' | translate}}</strong>
              </label>
              <label *ngIf="body.idTipoEnvio=='4'">
                <strong>Datos de SMS</strong>
              </label>
              <label *ngIf="body.idTipoEnvio=='5'">
                <strong>Datos de Buro SMS</strong>
              </label>
            </div>
            <div *ngIf="body.idTipoEnvio=='1'" class="form-group col-lg-12 col-md-12">
              <label>{{'enviosMasivos.literal.asunto' | translate}}</label>
              <input type="text" class="form-control" [(ngModel)]="body.asunto" pInputText>
            </div>
            <div *ngIf="body.idTipoEnvio=='1'" class="form-group col-lg-12 col-md-12">
              <label>{{'enviosMasivos.literal.cuerpo' | translate}}</label>
              <p-editor [(ngModel)]="body.email" [style]="{'height':'140px','text-align':'left'}">
                <p-header>
                  <span class=" ql-formats">
                    <select class="ql-header">
                      <option value="1">Heading</option>
                      <option value="2">Subheading</option>
                      <option selected>Normal</option>
                    </select>
                    <select class="ql-font">
                      <option selected>Sans Serif</option>
                      <option value="serif">Serif</option>
                      <option value="monospace">Monospace</option>
                    </select>
                  </span>
                  <span class="ql-formats">
                    <button class="ql-bold" aria-label="Bold"></button>
                    <button class="ql-italic" aria-label="Italic"></button>
                    <button class="ql-underline" aria-label="Underline"></button>
                  </span>
                  <span class="ql-formats">
                    <button class="ql-list" value="ordered" aria-label="Ordered List"></button>
                    <button class="ql-list" value="bullet" aria-label="Unordered List"></button>
                    <select class="ql-align">
                      <option selected></option>
                      <option value="center"></option>
                      <option value="right"></option>
                      <option value="justify"></option>
                    </select>
                  </span>
                  <span class="ql-formats">
                    <button class="ql-link" aria-label="Insertar Link"></button>
                    <button class="ql-code-block" aria-label="Insertar código"></button>
                  </span>
                  <span class="ql-formats">
                    <button class="ql-clean" aria-label="Remove Styles"></button>
                  </span>
                </p-header>
              </p-editor>
            </div>
            <div *ngIf="body.idTipoEnvio=='4' || body.idTipoEnvio=='5'" class="form-group col-lg-3 col-md-3">
              <label>{{'enviosMasivos.literal.numCaracteres' | translate}}: </label>
              <label *ngIf="body.cuerpo">{{body.cuerpo.length}}</label>
            </div>
            <div *ngIf="body.idTipoEnvio=='4' || body.idTipoEnvio=='5'" class="form-group col-lg-12 col-md-12">
              <label>{{'enviosMasivos.literal.cuerpo' | translate}}</label>
              <textarea style="height:140px" pInputTextarea autoResize="autoResize" [(ngModel)]="body.cuerpo" maxlength="160"></textarea>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div *ngIf="openFicha" class="card-footer">
      <div class="text-right main-button">
        <button (click)="guardar()" [disabled]="isGuardarDisabled()" pButton type="button" icon="far fa-save" iconPos="left" label="{{ 'general.boton.guardar' | translate}}"></button>
        <button (click)="restablecer()" pButton type="button" icon="fa fa-undo" iconPos="left" label="{{ 'general.boton.restablecer' | translate}}"></button>
        <button *ngIf="editar" (click)="cancelar()" pButton type="button" icon="fa fa-close" iconPos="left" label="{{ 'general.boton.cancel' | translate}}"></button>
        <button pButton type="button" icon="fas fa-share-square" iconPos="left" label="{{ 'general.boton.reenviar' | translate}}"></button>
        <button *ngIf="editar" (click)="duplicar()" pButton type="button" icon="fa fa-reply-all" iconPos="left" label="{{ 'general.boton.duplicar' | translate}}"></button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="progressSpinner " class="overlay-spinner">
  <div class="loader "></div>
</div>