<!-- <p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl> -->
<div class="ficha-container">
  <!--DATOS GENERALES-->
  <div class="card">
    <div class="card-header header-ficha" (click)="abreCierraFicha()">
      <div *ngIf="!openFicha" class="form-row">
        <div class="col-lg-1 col-md-2">
          <div class="img-colegiado">
            <i class="fas  fa-cog icon-ficha"></i>
          </div>
        </div>
        <div class="col-lg-11 col-md-10">
          <div class="d-flex justify-content-center mb-1">
            <label class="mr-auto title-ficha">Configuración de la comunicación</label>
          </div>
          <div class="d-flex justify-content-between">

            <label>Plantilla de envío:
              <span>{{tipoEnvio}}</span>
            </label>

            <label>Tipo de envío:

            </label>
            <i *ngIf="!openFicha" class="fa fa-angle-down float-right"></i>
          </div>
        </div>
      </div>
      <div *ngIf="openFicha" class=" header-ficha-open d-flex justify-content-start align-items-center">
        <div class="img-colegiado">
          <i class="fas fa-cog icon-ficha"></i>
        </div>
        <label class="title-ficha">Configuración de la comunicación</label>
        <i class="fa fa-angle-up ml-auto"></i>
      </div>
    </div>
    <!--cuerpo datos generales-->
    <div *ngIf="openFicha" class="card-body card-body-ficha">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="form-row">
            <div class="form-group col-lg-12 col-md-12">
              <label>Plantilla de envío</label>
              <p-dropdown [disabled]="editar" [options]="plantillas" [(ngModel)]="body.idPlantilla" class="select-form"></p-dropdown>
            </div>
            <div class="form-group col-lg-12 col-md-12">
              <label>Tipo de envío</label>
              <p-dropdown [disabled]="editar" [options]="plantillas" [(ngModel)]="body.idPlantilla" class="select-form"></p-dropdown>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 pl-0">
          <div class="form-row">
            <div class="form-group col-lg-12 col-md-12">
              <label>Asunto</label>
              <input type="text" class="form-control" [(ngModel)]="body.asunto" pInputText>
            </div>
            <div class="form-group col-lg-12 col-md-12">
              <label>Cuerpo</label>
              <textarea style="height:155px" pInputTextarea autoResize="autoResize" [(ngModel)]="body.cuerpo"></textarea>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div *ngIf="openFicha" class="card-footer ">
      <div class="text-right main-button ">
        <button (click)="onGuardar()" pButton type="button" icon="far fa-save" iconPos="left" label="{{ 'general.boton.guardar' | translate}}"></button>
        <button (click)="restablecer()" pButton type="button" icon="fa fa-undo" iconPos="left" label="{{ 'general.boton.restablecer' | translate}}"></button>
        <button pButton type="button" icon="fa fa-close" iconPos="left" label="{{ 'general.boton.cancel' | translate}}"></button>
        <button pButton type="button" icon="fas fa-share-square" iconPos="left" label="{{ 'general.boton.reenviar' | translate}}"></button>
        <button pButton type="button" icon="fa fa-reply-all" iconPos="left" label="{{ 'general.boton.duplicar' | translate}}"></button>
      </div>
    </div>
  </div>

</div>