<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>
<app-dialog></app-dialog>
<div class="ficha-container">
  <!--DATOS GENERALES-->
  <div class="card">
    <div class="card-header header-ficha" (click)="abreCierraFicha()">
      <div *ngIf="!openFicha" class="form-row">
        <div class="col-lg-1 col-md-2">
          <div class="img-colegiado">
            <i class="fas  fa-cog icon-ficha"></i>
          </div>
        </div>
        <div class="col-lg-11 col-md-10">
          <div class="d-flex justify-content-start mb-1">
            <label class="mr-auto title-ficha">{{'enviosMasivos.literal.configComunicacion' | translate}}</label>
          </div>
          <div class="d-flex justify-content-between">

            <label>{{'enviosMasivos.literal.tipoEnvio' | translate}}:
              <span *ngIf="body.tipoEnvio">{{body.tipoEnvio}}</span>
            </label>

            <i *ngIf="!openFicha" class="fa fa-angle-down float-right"></i>
          </div>
        </div>
      </div>
      <div *ngIf="openFicha" class=" header-ficha-open d-flex justify-content-start align-items-center">
        <div class="img-colegiado">
          <i class="fas fa-cog icon-ficha"></i>
        </div>
        <label class="title-ficha">{{'enviosMasivos.literal.datosGlobales' | translate}}</label>
        <i class="fa fa-angle-up ml-auto"></i>
      </div>
    </div>
    <!--cuerpo datos generales-->
    <div *ngIf="openFicha" class="card-body card-body-ficha">
      <div class="row">
        <div class="bloque"
          [ngClass]="{'col-lg-12':body.idTipoEnvios!='1' && body.idTipoEnvios!='4' && body.idTipoEnvios!='5','col-lg-3':body.idTipoEnvios=='1' || body.idTipoEnvios=='4' || body.idTipoEnvios=='5'}">
          <div class="form-row">
            <div class="form-group col-lg-12">
              <label>
                <strong>{{'enviosMasivos.literal.configComunicacion' | translate}}</strong>
              </label>
            </div>
            <div class="form-group"
              [ngClass]="{'col-lg-4':body.idTipoEnvios!='1' && body.idTipoEnvios!='4' && body.idTipoEnvios!='5','col-lg-12':body.idTipoEnvios=='1' || body.idTipoEnvios=='4' || body.idTipoEnvios=='5'}">
              <label class="d-block">{{'enviosMasivos.literal.tipoEnvio' | translate}} *</label>
              <p-dropdown [filter]="true" filterBy="label,labelSinTilde" [disabled]="editar || editarPlantilla"
                (onChange)="onChangeTipoEnvio()" [options]="tipoEnvios" [(ngModel)]="body.idTipoEnvios"
                class="select-form"></p-dropdown>
            </div>
            <div class="form-group"
              [ngClass]="{'col-lg-4':body.idTipoEnvios!='1' && body.idTipoEnvios!='4' && body.idTipoEnvios!='5','col-lg-12':body.idTipoEnvios=='1' || body.idTipoEnvios=='4' || body.idTipoEnvios=='5'}">
              <label class="d-block">{{'enviosMasivos.literal.plantillasEnvio' | translate}} *</label>
              <p-dropdown [disabled]="(plantillas && plantillas.length <= 0) || editar || editarPlantilla"
                [options]="plantillas" [(ngModel)]="body.idPlantillaEnvios" dataKey="value" class="select-form"
                (onChange)="detallePlantilla($event)"></p-dropdown>
            </div>
            <div class="form-group"
              [ngClass]="{'col-lg-4':body.idTipoEnvios!='1' && body.idTipoEnvios!='4' && body.idTipoEnvios!='5','col-lg-12':body.idTipoEnvios=='1' || body.idTipoEnvios=='4' || body.idTipoEnvios=='5'}">
              <label class="d-block">{{'enviosMasivos.literal.descripcion' | translate}} *</label>
              <input type="text" class="form-control" [(ngModel)]="body.descripcion" [disabled]="editar" pInputText>
            </div>
          </div>
        </div>

        <div *ngIf="body.idTipoEnvios== '1' || body.idTipoEnvios== '4' || body.idTipoEnvios== '5'"
          class="col-lg-9 col-md-12">
          <div class="form-row">
            <div class="form-group col-lg-12 col-md-12">
              <label *ngIf="body.idTipoEnvios=='1'">
                <strong>{{'enviosMasivos.literal.datosCorreo' | translate}}</strong>
              </label>
              <label *ngIf="body.idTipoEnvios=='4'">
                <strong>{{'informesycomunicaciones.plantillasenvio.ficha.datosSMS' | translate}}</strong>
              </label>
              <label *ngIf="body.idTipoEnvios=='5'">
                <strong>{{'informesycomunicaciones.plantillasenvio.ficha.datosBuroSMS' | translate }}</strong>
              </label>
            </div>
            <div *ngIf="body.idTipoEnvios=='1'" class="form-group col-lg-12 col-md-12">
              <label>{{'enviosMasivos.literal.asunto' | translate}}</label>
              <input type="text" class="form-control" [(ngModel)]="body.asunto" [disabled]="true" pInputText>
            </div>
            <div *ngIf="body.idTipoEnvios=='1'" class="form-group col-lg-12 col-md-12">
              <label>{{'enviosMasivos.literal.cuerpo' | translate}}</label>
              <editor apiKey="i5n3sixi894luh5sdh6x79pdl7jlumexms8t7fndqqqen15q" [init]="editorConfig"
                [(ngModel)]="body.cuerpo" [disabled]="true"></editor>
            </div>
            <div *ngIf="body.idTipoEnvios=='4' || body.idTipoEnvios=='5'" class="form-group col-lg-3 col-md-3">
              <label>{{'enviosMasivos.literal.numCaracteres' | translate}}: </label>
              <label *ngIf="body.cuerpo">{{body.cuerpo.length}}</label>
            </div>
            <div *ngIf="body.idTipoEnvios=='4' || body.idTipoEnvios=='5'" class="form-group col-lg-12 col-md-12">
              <label>{{'enviosMasivos.literal.cuerpo' | translate}}</label>
              <textarea style="height:140px" autoResize="autoResize" [(ngModel)]="body.cuerpo" maxlength="160"
                pInputTextarea></textarea>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div *ngIf="openFicha" class="card-footer">
      <div class="text-right main-button">
        <button *ngIf="editar" (click)="cancelar()" pButton type="button" icon="fa fa-close" iconPos="left"
          label="{{ 'general.boton.cancel' | translate}}" [disabled]="body.idEstado == 6"></button>
        <button (click)="restablecer()" pButton type="button" icon="fa fa-undo" iconPos="left"
          label="{{ 'general.boton.restablecer' | translate}}"></button>
        <button pButton type="button" (click)="enviar()" icon="fas fa-share-square" iconPos="left"
          label="{{ 'general.boton.reenviar' | translate}}"></button>
        <button (click)="guardar()" [disabled]="isGuardarDisabled()" pButton type="button" icon="far fa-save"
          iconPos="left" label="{{ 'general.boton.guardar' | translate}}" [disabled]="editar"></button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="progressSpinner " class="overlay-spinner">
  <div class="loader "></div>
</div>