<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>
<div class="row w-100 m-0">

  <div class="padding-interior w-100 mb-3">
    <app-paginador (seleccionarTodo)="selectedAll($event)" [type]="'TOP'"></app-paginador>
  </div>

  <div class="col-md-12 col-lg-12 p-0">
      <app-tabla-resultado-mix *ngIf="showResponse" [seleccionarTodo]="seleccionarTodo"
      [cabeceras]="cabeceras" [rowGroupsAux]="rowGroupsAux" [rowGroups]="rowGroups"
      (anySelected)="notifyAnySelected($event)"></app-tabla-resultado-mix>
  </div>

  <div class="padding-interior w-100 mt-3">
    <app-paginador [type]="'BOTTOM'"></app-paginador>
  </div>

</div>

<div class="card-footer">
  <div class="text-right main-button">
      <button [disabled]="isDisabled" pButton type="button" icon="far fa-save" iconPos="left" label="Guardar"
      (click)="showMsg('success', 'Se ha guardado correctamente', '')"></button>
    <button pButton type="button" icon="fa fa-undo" iconPos="left" label="Restablecer"
      (click)="showMsg('success', 'Se ha restablecido correctamente', '')"></button>
    <button pButton type="button" icon="fa fa-plus" iconPos="left" label="Nuevo"></button>

   
  </div>
</div>