.bloque {
    border-right: 1px solid #c6c7c8;
}

.padding-interior {
    padding-right: 1.25rem !important;
    padding-left: 1.25rem !important;
}

::ng-deep {

    #check2 {

        p-checkbox {
            margin-left: 0px !important;
        }

    }

}

.camposObligatorios{
    border-color: red !important;
  }

  .camposObligatorios > div{
    border-color: red !important;
  }

  .camposObligatorios > input{
    border-color: red !important;
  }

  .camposObligatorios > div .ui-multiselect{
    border: 1px solid red !important;
  }

  .ui-inputtext .camposObligatorios{
    border: 1px solid red !important;
  }

  ::ng-deep {
    .campoDate {
        p-calendar {
            span {
                input {
                    border-color: red !important;
                }
            }
        }
    }
}