<p-growl (onHover)="clear()" [(value)]="msgs" life="30000"></p-growl>
<div class="ficha-container" id="genFactura">
  <div class="card" id="top">
    <div class="card-header header-ficha">

      <!-- Cabecera en ficha cerrada -->
      <div *ngIf="!esFichaActiva('genFactura')" class="form-row">
        <div class="col-lg-1 col-md-2" (click)="abreCierraFicha('genFactura')">
          <div class="img-colegiado">
            <i class="far fa-address-book icon-ficha pointer"></i>
          </div>
        </div>
        <div class="col-lg-11 col-md-10">
          <div class="d-flex justify-content-start mb-1" (click)="abreCierraFicha('genFactura')">
            <label class="mr-auto title-ficha pointer">{{ 'facturacion.seriesFactura.generarPDF.literal' | translate }}</label>
          </div>
          <div class="d-flex justify-content-between default">
            
            <label>{{ 'facturacion.seriesFactura.generarPDF.auto' | translate }}: 
                <span>{{body.generaPDF ? "Sí" : "No" }}</span></label>
            <label>{{ 'facturacion.seriesFactura.generarPDF.modFact' | translate }}: 
                <span>{{body.modeloFactura }}</span></label>
            <label>{{ 'facturacion.seriesFactura.generarPDF.modFactRect' | translate }}: 
              <span>{{body.modeloRectificativa }}</span></label>
            <label>{{ 'facturacionSJCS.facturacionesYPagos.buscarFacturacion.estado' | translate }}: 
              <span>{{body.estadoPDF }}</span></label>
            
            <i class="fa fa-angle-down float-right" (click)="abreCierraFicha('genFactura')"
              *ngIf="!esFichaActiva('genFactura')"></i>
          </div>
        </div>
      </div>

      <!-- Cabecera en ficha abierta -->
      <div *ngIf="esFichaActiva('genFactura')" class=" header-ficha-open d-flex justify-content-start align-items-center"
        (click)="abreCierraFicha('genFactura')">
        <div class="img-colegiado">
          <i class="far fa-address-book icon-ficha"></i>
        </div>
        <label class="title-ficha pointer">{{ 'facturacion.seriesFactura.generarPDF.literal' | translate }}</label>
        <i class="fa fa-angle-up ml-auto"></i>
      </div>
    </div>

    <!-- Cuerpo en ficha abierta -->
    <div [hidden]="!esFichaActiva('genFactura')" class="card-body card-body-ficha">
      <div class="form-row">
        <div class="form-check col-lg-3 col-md-3 align-self-center d-flex justify-content-between">
          <label class="form-group-label">{{ 'facturacion.seriesFactura.generarPDF.auto' | translate }}</label>
          &nbsp;&nbsp;
          <p-checkbox class="float-right" [(ngModel)]="body.generaPDF" binary="true"></p-checkbox>
        </div>
        <div class="form-group col-lg-3 col-md-3">
          <label>{{ 'facturacion.seriesFactura.generarPDF.modFact' | translate }}</label>
          <p-dropdown class="select-form" [(ngModel)]='body.idModeloFactura' placeholder="Seleccionar"
              [options]="comboModelosFactura" [filter]="true" filterBy="label,labelSinTilde"
              [showClear]="true"></p-dropdown>
        </div>
        <div class="form-group col-lg-3 col-md-3">
          <label>{{ 'facturacion.seriesFactura.generarPDF.modFactRect' | translate }}</label>
          <p-dropdown class="select-form" [(ngModel)]='body.idModeloRectificativa' placeholder="Seleccionar"
              [options]="comboModelosFactura" [filter]="true" filterBy="label,labelSinTilde"
              [showClear]="true"></p-dropdown>
        </div>
        <div class="form-group col-lg-3 col-md-3">
          <label>{{ 'facturacionSJCS.facturacionesYPagos.buscarFacturacion.estado' | translate }}</label>
          <input type="text" [(ngModel)]="body.estadoPDF" class="form-control" [disabled]="true" pInputText>
        </div>
      </div>
    </div>

    <div *ngIf="esFichaActiva('genFactura')" class="card-footer">
      <div class="text-right main-button">
        <button pButton type="button" icon="fa fa-undo" iconPos="left"
          (click)="restablecer()" label="{{ 'general.boton.restablecer' | translate }}"></button>

        <button pButton type="button" icon="fa fa-save" iconPos="left"
          (click)="checkSave()" label="{{ 'general.boton.guardar' | translate }}"></button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="progressSpinner" class="overlay-spinner">
  <div class="loader"></div>
</div>