::ng-deep {

    #facSJCSFichaBarConfiAdi {

        .camposObligatorios {
            border-color: red !important;
        }

        .camposObligatorios>div {
            border-color: red !important;
        }

        .camposObligatorios>input {
            border-color: red !important;
        }

        .camposObligatorios>div .ui-multiselect {
            border: 1px solid red !important;
        }

        .ui-inputtext .camposObligatorios {
            border: 1px solid red !important;
        }

        .verticalAlign{
            display: flex;
            align-items: end;
        }

    }

}

.enlace {
    color: #0000EE !important;
    text-decoration: underline;
    cursor: pointer !important;
}

.checkboxexRightCard{
    display: contents !important;
}
.overlayPanelPrueba > .ui-overlaypanel{
    //   top: 50% !important;
    //   left: 40% !important;
      // width: 30em !important;
      left: 5% !important;
      // border-radius: 2em;
      width: 90%;
     }
    
     .overlayPanelCount > .ui-overlaypanel > .ui-overlaypanel-content{
      text-align: center;
      // vertical-align: middle;
      // line-height: 4em;
     }
    
    .overlayPanelPrueba{
      max-width: 60%;
      max-height: 60%;
      margin-right: 40%;
      // position:absolute;
      // margin-left:50%;
      text-align: center;
    }
    
    .ui-overlaypanel{
      border-radius: 2em;
      width: auto;
    }

    ::ng-deep div.ui-overlaypanel{
        left: 0px !important;
        margin-left: 6%;
        margin-right: 6%;
    }

    /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.importesBaremos{
    text-align: right;
}
