
  
  <p-growl (onHover)="clear()" [(value)]="msgs" life="30000"></p-growl>
<div class="busqueda-container">
<div class="card">
  <div class="card-header header-ficha">
    <div  class="form-row">
      <div class="col-lg-1 col-md-2" >
        <div class="img-colegiado">
          <i class="fas fa-link icon-ficha"></i>
        </div>
      </div>
      <div class="col-lg-11 col-md-10 ">
        <div class="d-flex justify-content-end mb-1" >
          <label class="mr-auto title-ficha pointer">{{'agenda.fichaEventos.datosGenerales.calendario' | translate}}</label>
          <i class="fas fa-external-link-alt mr-2"></i><label (click)="navigateToFichaGuardia()" class="enlace">{{'dato.jgr.guardia.guardias.fichaProgramacion' | translate}}</label>
        </div>
        <div *ngIf="dataRecived" class="d-flex justify-content-between default" >
          <label >{{'administracion.auditoriaUsuarios.fechaDesde' | translate}}: 
            <span>{{calendarioItem.fechaDesde | date: 'dd/MM/yyyy'}}</span>
          </label>
          <label  >{{'administracion.auditoriaUsuarios.fechaHasta' | translate}}: 
            <span>{{calendarioItem.fechaHasta | date: 'dd/MM/yyyy'}}</span>
          </label>
          <label >{{'justiciaGratuita.Calendarios.Observaciones' | translate}}: 
            <span *ngIf="calendarioItem.observaciones != null">{{calendarioItem.observaciones}}</span>
          </label>
          
          
          <i class="fa fa-angle-down ml-auto" ></i>
        </div>
        <div *ngIf="!dataRecived" class="d-flex justify-content-between default" >
          <label >"Sin calendario para la guardia"</label>
        </div>
      </div>
    </div>
   
  </div>
  <div *ngIf="progressSpinner" class="overlay-spinner">
    <div class="loader"></div>
  </div>
</div>

