<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>
<p-growl class="errorPosition" [(value)]="msgsDescarga" (onHover)="clear()" life="150000"></p-growl>
<p-growl [(value)]="msgsEnvio" (onHover)="clear()" life="150000"></p-growl>
<div class="dialogo-comunicaciones-container">
    <div class="header-title">
        <i class="fa fa-square"></i>
        <p>{{'menu.dialogoComunicaciones' | translate}}</p>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-lg-2 col-md-2">
                    <label>{{'informesycomunicaciones.comunicaciones.busqueda.fechaProgramada' | translate}}</label>
                    <app-fecha [utc]="false" [(value)]="bodyComunicacion.fechaProgramacion" [minDate]="currentDate" showTime="true" (valueChangeSelected)="fillFechaProgramacionCalendar($event)"
                        (valueChangeInput)="fillFechaProgramacionCalendar($event)"></app-fecha>
                </div>
            </div>
            <!-- onChangeSelectAll -->

            <p-table [value]="modelosComunicacion" [columns]="colsModelos" [(selection)]="selectedModelos" [responsive]="true" #tableModelos
                class="tabla-listado" [paginator]="true" [rows]="selectedItem" [first]="first" [ngClass]="{ 'customCursor': selectMultipleComunicar}"
                paginatorPosition="both" (onRowSelect)="onRowSelectModelos($event)" (onRowUnselect)="onUnRowSelectModelos($event)">

                <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                        <col *ngFor="let col of columns" [style.width]="col.width">
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th style="width: 3em">
                            <!-- <p-tableHeaderCheckbox></p-tableHeaderCheckbox> -->
                        </th>
                        <th *ngFor="let col of columns" [ngSwitch]="col.field" [pSortableColumn]="col.field">
                            {{col.header | translate}}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                            <input placeholder="{{ 'general.boton.search' | translate }}" pDroppable="false" (click)="$event.stopPropagation()" *ngSwitchCase="col.field" pInputText type="text" (input)="tableModelos.filter($event.target.value,
                            col.field, 'contains')">
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-dato let-columns="columns">
                    <tr [pSelectableRow]="dato">
                        <td>
                            <p-tableCheckbox [value]="dato" [disabled]="selectedModelos.length >= maxNumModelos && !dato.selected">
                            </p-tableCheckbox>
                        </td>
                        <td *ngFor="let col of columns" pEditableColumn>
                            <!-- <span *ngIf="col.field == 'tipoEnvio'">{{dato[col.field]}}</span> -->
                            <p-dropdown [filter]="true" [showClear]="true"placeholder="{{'general.boton.seleccionar' | translate}}" filterBy="label,labelSinTilde" *ngIf="col.field == 'plantillas'" [(ngModel)]="dato.idPlantillaEnvio"
                                [options]="plantillas" class="select-form" (onChange)="onChangePlantillaEnvio(dato)"></p-dropdown>
                            <span *ngIf="col.field=='nombre'">{{dato[col.field]}}</span>
                            <span *ngIf="col.field=='tipoEnvio'">{{dato[col.field]}}</span>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                        <td [attr.colspan]="columns.length +1">
                            {{ 'censo.busquedaClientesAvanzada.literal.sinResultados' | translate }}.
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="paginatorleft">
                    <div class="mostrar d-flex text-right justify-content-end">
                        <label class="pr-3 registros-totales">{{ 'informesycomunicaciones.plantillasenvio.ficha.mostrandoRegistros' | translate }} {{tableModelos.first
                            + 1}} al {{tableModelos.first + tableModelos.rows}} {{ 'informesycomunicaciones.plantillasenvio.ficha.deUnTotalDe'
                            | translate }} {{tableModelos.totalRecords}}</label>

                    </div>
                </ng-template>
                <ng-template pTemplate="paginatorleft" let-state>
                    <div class="ml-3 selectAll">
                        <p-checkbox (onChange)="onChangeSelectAll()" [(ngModel)]="selectAll" binary="true" label="{{ 'tablas.literal.seleccionarTodo'| translate }}"
                            name="groupname">
                        </p-checkbox>
                    </div>
                </ng-template>
            </p-table>
        </div>
    </div>
    <div class="card-footer">
        <div class="text-right main-button ">
            <button [disabled]="!selectedModelos || selectedModelos.length == 0" (click)="obtenerCamposDinamicos('comunicar')" pButton
                type="button" icon="fa fa-send" iconPos="left" label="{{'general.boton.enviar' | translate }}"></button>
            <button [disabled]="!selectedModelos || selectedModelos.length == 0" (click)="obtenerCamposDinamicos('descargar')" pButton
                type="button" icon="fas fa-download" iconPos="left" label="{{'dialogo.boton.descargar' | translate }}"></button>
            <button (click)="backTo()" pButton type="button" icon="fa fa-angle-left" iconPos="left" label="{{ 'general.boton.volver' | translate }}"></button>
        </div>
    </div>
</div>
<p-dialog [(visible)]="showValores" responsive="true" [draggable]="false" modal="modal" resizable="true" [minWidth]="850">

    <p-header>
        <label>{{ 'header.consultas.informesYcomunicaciones.valores' | translate }}</label>
    </p-header>
    <div *ngIf="valores">
        <div class="form-row" *ngFor="let dato of valores">
            <div class="form-group col-lg-4 col-md-4">
                <input [disabled]="true" type="text" class="form-control" [(ngModel)]="dato.campo" pInputText>
            </div>
            <div class="form-group col-lg-2 col-md-2">
                <p-dropdown *ngIf="dato.tipoDato=='N' || dato.tipoDato=='D' || dato.tipoDato=='MV'" [disabled]="dato.operadorDefecto"
                    [options]="operadoresNumero" [(ngModel)]="dato.operacion" class="select-form"></p-dropdown>
                <p-dropdown *ngIf="dato.tipoDato=='A'" [options]="operadoresTexto" [(ngModel)]="dato.operacion" [disabled]="dato.operadorDefecto"
                    class="select-form"></p-dropdown>
            </div>
            <div class="form-group col-lg-6 col-md-6">
                <input *ngIf="dato.tipoDato=='A' || dato.tipoDato=='N'" type="text" class="form-control" [(ngModel)]="dato.valor" pInputText>
                <app-fecha  *ngIf="dato.tipoDato=='D' || dato.tipoDato=='X'" [(value)]="dato.valor" [utc]="true" (valueChangeSelected)="fillFecha($event,dato)"
                    (valueChangeInput)="fillFecha($event, dato)"></app-fecha>

                <p-dropdown *ngIf="dato.tipoDato=='MV' || dato.tipoDato=='E'" [options]="dato.valores"
                    [(ngModel)]="dato.valor" class="select-form" optionLabel="DESCRIPCION"></p-dropdown>
            </div>
        </div>
    </div>
    <p-footer>
        <div class="text-right main-button">
            <!-- <button (click)="ejecutar()" pButton type="button" icon="fa fa-close" iconPos="left" label="{{
          'general.boton.cancel' | translate}}"></button> -->
            <button *ngIf="comunicar" (click)="enviarComunicacion()" [disabled]="!validarCamposDinamicos()" pButton type="button" icon="fa fa-send"
                iconPos="left" label="{{ 'general.boton.enviar' | translate}}"></button>
            <button *ngIf="!comunicar" (click)="descargarComunicacion()" [disabled]="!validarCamposDinamicos()" pButton type="button"
                icon="fas fa-download" iconPos="left" label="{{ 'dialogo.boton.descargar' | translate}}"></button>
        </div>
    </p-footer>

</p-dialog>

<div *ngIf="progressSpinner" class="overlay-spinner">
    <div class="loader"></div>
</div>