
<app-tarjeta-resumen-fija class="pb-50" [titulo]="'justiciaGratuita.oficio.turnos.inforesumen'" 
[chincheta]="true" [datos]="datosImportantes" [icono]="iconoTarjetaResumen" [enlaces]="enlacesTarjetaResumen">
</app-tarjeta-resumen-fija>
<app-colegiado-abonos-sjcs [datos]="datos"></app-colegiado-abonos-sjcs>
<app-pago-abonos-sjcs [datos]="datos"></app-pago-abonos-sjcs>
<app-sociedad-abonos-sjcs [datos]="datos"></app-sociedad-abonos-sjcs>
<app-datos-generales-abonos-sjcs [datos]="datos"></app-datos-generales-abonos-sjcs>
<app-lineas-abonos [bodyInicial]="body"></app-lineas-abonos>
<app-observaciones-abonos-sjcs [bodyInicial]="body"></app-observaciones-abonos-sjcs>