<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>

 <div id="tarjetaCriteriosAplicacion">
  <div class="card">
    <div class="card-header header-ficha">
      <div *ngIf="!showFichaCriteriosAplicacion" class="form-row">
        <div class="col-lg-1 col-md-1">
          <div class="img-colegiado" (click)="onHideCriteriosAplicacion()">
            <i class="fas fa-university icon-ficha"></i>
          </div>
        </div>
        <div class="col-lg-11 col-md-11">
          <div class="d-flex justify-content-start mb-1" (click)="onHideCriteriosAplicacion()">
            <label class="mr-auto title-ficha">{{ "facturacionSJCS.movimientosVarios.criteriosAplicacion" |
              translate }}
            </label>
            <i *ngIf="!showFichaCriteriosAplicacion" class="fa fa-angle-down float-right" (click)="onHideCriteriosAplicacion()"></i>
          </div>
          <div class="d-flex justify-content-between">
            <label>{{ "facturacionSJCS.facturacionesYPagos.buscarFacturacion.facturacion" | translate }}:
              <span> {{ datos.nombrefacturacion }}</span>
            </label>
          </div>
        </div>
      </div>

      <div *ngIf="showFichaCriteriosAplicacion" class="header-ficha-open d-flex justify-content-start align-items-center"
        (click)="onHideCriteriosAplicacion()">
        <div class="img-colegiado">
          <i class="fas fa-university icon-ficha"></i>
        </div>
        <label class="title-ficha">{{ "facturacionSJCS.movimientosVarios.criteriosAplicacion" |
          translate }}</label>
        <i class="fa fa-angle-up ml-auto"></i>
      </div>
    </div>
    <div *ngIf="showFichaCriteriosAplicacion" class="card-body card-body-ficha">
   
            <div class="form-row pb-3">
              <!--FACTURACIÓN DE APLICACIÓN INICIAL-->
          <div class="form-group-interlineado col-lg-3 col-md-3">
            <label>{{'facturacionSJCS.movimientosVarios.facturacionApInicial' | translate}}</label>
 
            <p-dropdown class="select-form" [(ngModel)]='datos.idFacturacion' placeholder="{{'general.boton.seleccionar' | translate}}" 
            [options]="facturacion"> 
            </p-dropdown>
          
          </div>
          <!--FACTURACIÓN DE APLICACIÓN INICIAL-->

          <!--GRUPOS DE TURNOS-->
          <div class="form-group-interlineado col-lg-3 col-md-3">
            <label>{{'facturacionSJCS.movimientosVarios.gruposTurnos' | translate}}</label>

            <p-dropdown class="select-form" [(ngModel)]='datos.idGrupoFacturacion' placeholder="{{'general.boton.seleccionar' | translate}}" 
            [options]="gruposFacturacion">
            </p-dropdown>

          </div>
          <!--GRUPOS DE TURNOS-->

          <!--CONCEPTO-->
          <div class="form-group-interlineado col-lg-3 col-md-3">
            <label>{{'facturacionSJCS.facturacionesYPagos.conceptos' | translate}}</label>

            <p-dropdown class="select-form" [(ngModel)]='datos.idConcepto' placeholder="{{'general.boton.seleccionar' | translate}}" 
            [options]="concepto"> 
            </p-dropdown>

          </div>

          <!--CONCEPTO-->


          <!--PARTIDA PRESUPUESTARIA-->
          <div class="form-group-interlineado col-lg-3 col-md-3">
            <label>{{'facturacionSJCS.facturacionesYPagos.buscarFacturacion.partidaPresupuestaria' | translate}}</label>

            <p-dropdown class="select-form" [(ngModel)]='datos.idPartidaPresupuestaria' placeholder="{{'general.boton.seleccionar' | translate}}" 
            [options]="partidaPresupuestaria" > 
            </p-dropdown>
          </div>         
          <!--PARTIDA PRESUPUESTARIA-->
            </div>

  </div>
  <div class="card-footer" *ngIf="showFichaCriteriosAplicacion">
    <div class="text-right main-button">
      <button  [disabled]="!permisoEscritura || isLetrado" (click)="restablecer()" pButton type="button" icon="fa fa-undo" iconPos="left"
        label="{{ 'general.boton.restablecer' | translate }}" ></button>
      <button  [disabled]="!permisoEscritura || isLetrado" (click)="guardar()" pButton type="button" icon="fa fa-save" iconPos="left"
        label="{{ 'general.boton.guardar' | translate }}" ></button>
  
    </div>
  </div>
</div>

<p-confirmDialog header="Confirmación"  icon="fa fa-question-circle"  width="425"  #cd>
  <p-footer>
    <button type="button"  pButton icon="fa-check"  label="Si"  (click)="cd.accept()"></button>
    <button type="button"  pButton icon="fa-close"  label="No"  (click)="cd.reject()"></button>
  </p-footer>
</p-confirmDialog>

<div *ngIf="progressSpinner" class="overlay-spinner">
  <div class="loader"></div>
</div>