.padding-interior {
    padding-right: 1.25rem !important;
    padding-left: 1.25rem !important;
}

.messageBox{
    background-color: #8da3c1;
    color: white;
    border-radius: 5px;
    border-color: #8da3c1;
}

.vertical-align {
    display: flex;
    align-items: flex-end;
}

.inline{
    display: inline-flex
}

.w100{
    width: 100%;
}
