<p-growl (onHover)="clear()" [(value)]="msgs" life="30000"></p-growl>
<div class="ficha-container" id="exportacionContabilidad">
  <div class="card" id="top">
    <div class="card-header header-ficha">

      <!-- Cabecera en ficha cerrada -->
      <div *ngIf="!esFichaActiva('exportacionContabilidad')" class="form-row">
        <div class="col-lg-1 col-md-2" (click)="abreCierraFicha('exportacionContabilidad')">
          <div class="img-colegiado">
            <i class="far fa-address-book icon-ficha pointer"></i>
          </div>
        </div>
        <div class="col-lg-11 col-md-10">
          <div class="d-flex justify-content-start mb-1" (click)="abreCierraFicha('exportacionContabilidad')">
            <label class="mr-auto title-ficha pointer">{{ 'facturacion.seriesFactura.export.literal' | translate }}</label>
          </div>
          <div class="d-flex justify-content-between default">
            <label>{{ 'facturacion.seriesFactura.export.confCliente' | translate }}: 
              <span>{{ findLabelInCombo(comboConfDeudor, body.confDeudor) }}</span></label>
            <label>{{ 'facturacion.seriesFactura.export.ctaCliente' | translate }}: 
              <span>{{ body.ctaClientes }}</span></label>
            <label>{{ 'facturacion.seriesFactura.export.confIngresos' | translate }}: 
              <span>{{ findLabelInCombo(comboConfIngresos, body.confIngresos) }}</span></label>
            <label>{{ 'facturacion.seriesFactura.export.ctaIngresos' | translate }}: 
              <span>{{ body.ctaIngresos }}</span></label>

            <i class="fa fa-angle-down float-right" (click)="abreCierraFicha('exportacionContabilidad')"
              *ngIf="!esFichaActiva('exportacionContabilidad')"></i>
          </div>
        </div>
      </div>

      <!-- Cabecera en ficha abierta -->
      <div *ngIf="esFichaActiva('exportacionContabilidad')" class=" header-ficha-open d-flex justify-content-start align-items-center"
        (click)="abreCierraFicha('exportacionContabilidad')">
        <div class="img-colegiado">
          <i class="far fa-address-book icon-ficha"></i>
        </div>
        <label class="title-ficha pointer">{{ 'facturacion.seriesFactura.export.literal' | translate }}</label>
        <i class="fa fa-angle-up ml-auto"></i>
      </div>
    </div>

    <!-- Cuerpo en ficha abierta -->
    <div *ngIf="esFichaActiva('exportacionContabilidad')" class="card-body card-body-ficha">
      <div class="form-row">
        <div class="form-group-interlineado col-lg-3 col-md-3">
          <label>{{ 'facturacion.seriesFactura.export.confCliente' | translate }}</label>
          <p-dropdown class="select-form" [(ngModel)]='body.confDeudor' placeholder="{{'general.boton.seleccionar' | translate}}"
              [options]="comboConfDeudor" [filter]="true" filterBy="label,labelSinTilde"
              [showClear]="true"></p-dropdown>
        </div>
        <div class="form-group-interlineado col-lg-3 col-md-3">
          <label>{{ 'facturacion.seriesFactura.export.ctaCliente' | translate }}</label>
          <input type="text" class="form-control" pInputText [(ngModel)]="body.ctaClientes" />
        </div>
        <div class="form-group-interlineado col-lg-3 col-md-3">
          <label>{{ 'facturacion.seriesFactura.export.confIngresos' | translate }}</label>
          <p-dropdown class="select-form" [(ngModel)]='body.confIngresos' placeholder="{{'general.boton.seleccionar' | translate}}"
              [options]="comboConfIngresos" [filter]="true" filterBy="label,labelSinTilde"
              [showClear]="true"></p-dropdown>
        </div>
        <div class="form-group-interlineado col-lg-3 col-md-3">
          <label>{{ 'facturacion.seriesFactura.export.ctaIngresos' | translate }}</label>
          <input type="text" class="form-control" pInputText [(ngModel)]="body.ctaIngresos" />
        </div>
      </div>
    </div>

    <div *ngIf="esFichaActiva('exportacionContabilidad')" class="card-footer">
      <div class="text-right main-button">
        <button pButton type="button" icon="fa fa-undo" iconPos="left"
          (click)="restablecer()" label="{{ 'general.boton.restablecer' | translate }}"></button>

        <button pButton type="button" icon="fa fa-save" iconPos="left"
          (click)="guardar()" label="{{ 'general.boton.guardar' | translate }}"></button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="progressSpinner" class="overlay-spinner">
  <div class="loader"></div>
</div>