
<div class="busqueda-container">
  <div class="header-title">
    <i class="fa fa-square"></i>
    <p>Facturas Header</p>
  </div>

  <div class="card">
    <div class="card-body">
      <!-- Datos generales -->
      <p class="title-module" (click)="onHideDatosGenerales()">{{ "administracion.catalogos.titulo.datos.generales" | translate }}
        <i *ngIf="showDatosGenerales" class="fa fa-angle-up float-right"></i>
        <i *ngIf="!showDatosGenerales" class="fa fa-angle-down float-right"></i>
      </p>

      <div *ngIf="showDatosGenerales" class="module vista-avanzada">
        <div class="form-row">
          <div class="form-group-interlineado col-lg-3 col-md-3">
            <label>Numero factura {{ "facturacion.facturas.Numero" | translate }}</label>
            <input type="text" class="form-control" pInputText/>
          </div>
          <div class="form-group-interlineado col-lg-3 col-md-3">
            <label>Estado</label>
            <input type="text" class="form-control" pInputText/>
            <!-- 
            <p-multiSelect #etiquetas class="select-form" [(ngModel)]='body.idConsultasDestinatarios'
            defaultLabel="{{'general.boton.seleccionar' | translate}}" [options]="comboConsultasDestinatarios" [filter]="true"
            maxSelectedLabels="10" [selectedItemsLabel]="'{0} consultas seleccionadas'" filterBy="label,labelSinTilde"
            styleClass="widthAll" (onPanelShow)="focusInputField(consultasDestinatarios)"></p-multiSelect>
            -->
          </div>
          <div class="form-group-interlineado col-lg-3 col-md-3">
            <label>Forma de cobro/abono</label>
            <p-dropdown class="select-form" placeholder="Seleccionar"
            [filter]="true" [showClear]="true"></p-dropdown>
          </div>
          <div class="form-group-interlineado col-lg-3 col-md-3">
            <label>Numero abono SJCS compensador</label>
            <input type="text" class="form-control" pInputText/>
          </div>
          <div class="form-group-interlineado col-lg-3 col-md-3">
            <label>Fecha emision desde</label>
            <app-fecha></app-fecha>
          </div>
          <div class="form-group-interlineado col-lg-3 col-md-3">
            <label>Fecha emision hasta</label>
            <input type="text" class="form-control" />
          </div>
          <div class="form-group-interlineado col-lg-3 col-md-3">
            <label>Importe facturado desde</label>
            <input type="text" class="form-control" pInputText/>
          </div>
          <div class="form-group-interlineado col-lg-3 col-md-3">
            <label>Importe facturado hasta</label>
            <input type="text" class="form-control" pInputText/>
          </div>
          <div class="form-group-interlineado col-lg-3 col-md-3">
            <label>Contabilizado</label>
            <p-dropdown class="select-form" placeholder="Seleccionar"
            [filter]="true" [showClear]="true"></p-dropdown>
          </div>
        </div>
      </div>

      <!-- Datos de agrupacion -->
      <p class="title-module" (click)="onShowDatosAgrupacion()">Datos de agrupacion
        <i *ngIf="showDatosAgrupacion" class="fa fa-angle-up float-right"></i>
        <i *ngIf="!showDatosAgrupacion" class="fa fa-angle-down float-right"></i>
      </p>

      <div *ngIf="showDatosAgrupacion" class="module vista-avanzada">
        <div class="form-row">
          <div class="form-group-interlineado col-lg-3 col-md-3">
            <label>Serie</label>
            <p-dropdown class="select-form" [(ngModel)]='body.serie' placeholder="{{'general.boton.seleccionar' | translate}}"
              [options]="comboSeriesFacturacion" [filter]="true" filterBy="label,labelSinTilde"
              [showClear]="true"></p-dropdown>
          </div>
          <div class="form-group-interlineado col-lg-3 col-md-3">
            <label>Facturacion</label>
            <p-dropdown class="select-form" placeholder="Seleccionar"
            [filter]="true" [showClear]="true"></p-dropdown>
          </div>
          <div class="form-group-interlineado col-lg-3 col-md-3">
            <div class="form-group-interlineado col-lg-6 col-md-6">
              <label>Ident. fich. adeudos</label>
              <input type="text" class="form-control" pInputText/>
            </div>
            <div class="form-group-interlineado col-lg-6 col-md-6">
              <label>Ident. fich. adeudos</label>
              <input type="text" class="form-control" pInputText/>
            </div>
          </div>
          <div class="form-group-interlineado col-lg-3 col-md-3">
            <div class="form-group-interlineado col-lg-6 col-md-6">
              <label>Ident. fich. transfer.</label>
              <input type="text" class="form-control" pInputText/>
            </div>
          </div>
        </div>
      </div>

      <!-- Cliente -->
      <p class="title-module" (click)="onShowCliente()">Cliente
        <i *ngIf="showCliente" class="fa fa-angle-up float-right"></i>
        <i *ngIf="!showCliente" class="fa fa-angle-down float-right"></i>
      </p>

      <div *ngIf="showCliente" class="module vista-avanzada">
        <div class="form-row">
          <div class="form-group-interlineado col-lg-3 col-md-3">
            <label>Colegio</label>
            <input type="text" class="form-control"/>
          </div>
          <div class="form-group-interlineado col-lg-3 col-md-3">
            <div class="form-group-interlineado col-lg-6 col-md-6">
              <label>Num. colegiado</label>
              <input type="text" class="form-control"/>
            </div>
            <div class="form-group-interlineado col-lg-6 col-md-6">
              <label>Num. indentificacion</label>
              <input type="text" class="form-control"/>
            </div>
          </div>
          <div class="form-group-interlineado col-lg-3 col-md-3">
            <label>Apellidos</label>
            <input type="text" class="form-control"/>
          </div>
          <div class="form-group-interlineado col-lg-3 col-md-3">
            <label>Nombre</label>
            <input type="text" class="form-control"/>
          </div>
        </div>
      </div>

      <!-- Comunicaciones de cobros y recobros -->
      <p class="title-module" (click)="onShowComunicacionesCobrosRecobros()">Comunicaciones de cobros y recobros
        <i *ngIf="showComunicacionesCobrosRecobros" class="fa fa-angle-up float-right"></i>
        <i *ngIf="!showComunicacionesCobrosRecobros" class="fa fa-angle-down float-right"></i>
      </p>

      <div *ngIf="showComunicacionesCobrosRecobros" class="module vista-avanzada">
        <div class="form-row">
          <div class="form-group-interlineado col-lg-3 col-md-3">
            <label>Num. facturas pendientes por cliente desde</label>
            <input type="text" class="form-control" pInputText/>
          </div>
          <div class="form-group-interlineado col-lg-3 col-md-3">
            <label>Num. facturas pendientes por cliente hasta</label>
            <input type="text" class="form-control" pInputText/>
          </div>
          <div class="form-group-interlineado col-lg-3 col-md-3">
            <label>Importe adeudado por factura desde</label>
            <input type="text" class="form-control" pInputText/>
          </div>
          <div class="form-group-interlineado col-lg-3 col-md-3">
            <label>Importe adeudado por factura hasta</label>
            <input type="text" class="form-control" pInputText/>
          </div>
          <div class="form-group-interlineado col-lg-3 col-md-3">
            <label>Num. comunicaciones por factura desde</label>
            <input type="text" class="form-control" pInputText/>
          </div>
          <div class="form-group-interlineado col-lg-3 col-md-3">
            <label>Num. comunicaciones por factura hasta</label>
            <input type="text" class="form-control" pInputText/>
          </div>
        </div>
      </div>

    </div>

    <div class="card-footer">
      <div class="text-right main-button">
        <button pButton type="button"  icon="fa fa-eraser"  iconPos="left"
          label="Limpiar"></button>
        <button pButton type="button" icon="fa fa-search" iconPos="left"
          label="Buscar"></button>
      </div>
    </div>
  </div>
</div>