<p-growl (onHover)="clear()" [(value)]="msgs" life="30000"></p-growl>
<div class="ficha-container" id="datosGenerales">
  <div class="card" id="top">
    <div class="card-header header-ficha">

      <!-- Cabecera en ficha cerrada -->
      <div *ngIf="!esFichaActiva('datosGenerales')" class="form-row">
        <div class="col-lg-1 col-md-2" (click)="abreCierraFicha('datosGenerales')">
          <div class="img-colegiado">
            <i class="far fa-address-book icon-ficha pointer"></i>
          </div>
        </div>
        <div class="col-lg-11 col-md-10">
          <div class="d-flex justify-content-start mb-1" (click)="abreCierraFicha('datosGenerales')">
            <label class="mr-auto title-ficha pointer">{{ 'general.message.datos.generales' | translate }}</label>
          </div>
          <div class="d-flex justify-content-between default">
            
            <label>{{ "administracion.parametrosGenerales.literal.abreviatura" | translate }}: 
                <span>{{body.abreviatura }}</span></label>
            <label>{{ "general.description" | translate }}: 
                <span>{{body.descripcion }}</span></label>
            <label>{{ "facturacion.seriesFactura.tipoProductos" | translate }}: 
                <span *ngFor="let item of body.tiposProductos">{{ item.label }}</span>
            </label>
            <label>{{ "facturacion.seriesFactura.tipoServicios" | translate }}: 
              <span *ngFor="let item of body.tiposServicios">{{ item.label }}</span>
            </label>
            
            <i class="fa fa-angle-down float-right" (click)="abreCierraFicha('datosGenerales')"
              *ngIf="!esFichaActiva('datosGenerales')"></i>
          </div>
        </div>
      </div>

      <!-- Cabecera en ficha abierta -->
      <div *ngIf="esFichaActiva('datosGenerales')" class=" header-ficha-open d-flex justify-content-start align-items-center"
        (click)="abreCierraFicha('datosGenerales')">
        <div class="img-colegiado">
          <i class="far fa-address-book icon-ficha"></i>
        </div>
        <label class="title-ficha pointer">{{ 'general.message.datos.generales' | translate }}</label>
        <i class="fa fa-angle-up ml-auto"></i>
      </div>
    </div>

    <!-- Cuerpo en ficha abierta -->
    <div *ngIf="esFichaActiva('datosGenerales')" class="card-body card-body-ficha">
      <div class="row">
        <div class="bloque col-lg-4 col-md-4">
          <div class="form-group">
            <label>{{ 'gratuita.definirTurnosIndex.literal.abreviatura' | translate }} (*)</label>
            <input type="text" [ngClass]="styleObligatorio(body.abreviatura)" id="abreviatura" [(ngModel)]="body.abreviatura" class="form-control" pInputText maxLength="20">
          </div>
          <div class="form-group">
            <label>{{ 'facturacion.seriesFactura.facturacionPrevia' | translate }}</label>
            <p-dropdown class="select-form" [(ngModel)]='body.idSerieFacturacionPrevia' placeholder="Seleccionar"
              [options]="comboPlanificacion" [filter]="true" filterBy="label,labelSinTilde" [showClear]="true"></p-dropdown>
          </div>
          <div class="form-check d-flex justify-content-between">
            <label class="form-group-label">{{ 'facturacion.seriesFactura.serieGenricaFacturar' | translate }}</label>
            &nbsp;&nbsp;
            <p-checkbox class="float-right" [(ngModel)]="body.serieGenerica" binary="true"></p-checkbox>
          </div>
          <div class="form-group">
            <label>{{ 'menu.justiciaGratuita.calendarios.Estado' | translate }}</label>
            <input type="text" [(ngModel)]="estado" [disabled]="true" class="form-control" pInputText>
          </div>
        </div>

        <div class="bloque col-lg-4 col-md-4">
          <div class="form-group">
            <label>{{ 'general.description' | translate }} (*)</label>
            <input type="text" [ngClass]="styleObligatorio(body.descripcion)" [(ngModel)]="body.descripcion" class="form-control" pInputText maxLength="100">
          </div>
          <div class="form-group">
            <label>{{ 'facturacion.maestros.tiposproductos' | translate }}</label>

            <p-autoComplete #autocompleteTiposProductos [style]="{'width':'100%'}" [(ngModel)]="body.tiposProductos" [suggestions]="suggestionsTiposProductos" field="label" 
              (completeMethod)="filterLabelsTiposProductos($event)" [multiple]="true" [forceSelection]="true">
              
              <ng-template let-item pTemplate="selectedItem">
                <div class="ui-autocomplete-multiple-container ui-widget ui-inputtext ui-corner-all ng-star-inserted li ui-state-highlight"
                  [ngStyle]="{'background': item.color, 'margin': '4px', 'border': 'white'}">
                  <span style="color: white">{{ item.label }}</span>
                </div>
              </ng-template>
            </p-autoComplete>
          </div>
          <div class="form-group">
            <label>{{ 'facturacion.maestros.tiposservicios' | translate }}</label>

            <p-autoComplete #autocompleteTiposServicios [style]="{'width':'100%'}" [(ngModel)]="body.tiposServicios" [suggestions]="suggestionsTiposServicios" field="label" 
              (completeMethod)="filterLabelsTiposServicios($event)" [multiple]="true" [forceSelection]="true">

              <ng-template let-item pTemplate="selectedItem">
                <div class="ui-autocomplete-multiple-container ui-widget ui-inputtext ui-corner-all ng-star-inserted li ui-state-highlight"
                  [ngStyle]="{'background': item.color, 'margin': '4px', 'border': 'white'}">
                  <span style="color: white">{{ item.label }}</span>
                </div>
              </ng-template>
            </p-autoComplete>
          </div>
        </div>

        <div class="bloque col-lg-4 col-md-4">
          <div class="form-group">
            <label>{{ 'facturacion.seriesFactura.bancoEntidad' | translate }} (*)</label>
            <p-dropdown class="select-form" [(ngModel)]='body.idCuentaBancaria' placeholder="Seleccionar"
              [options]="comboCuentaBancaria" [filter]="true" filterBy="label,labelSinTilde"
              [ngClass]="styleObligatorio(body.idCuentaBancaria)" [showClear]="true"></p-dropdown>
          </div>
          <div class="form-group">
            <label>{{ 'administracion.parametrosGenerales.literal.sufijo' | translate }} (*)</label>
            <p-dropdown class="select-form" [(ngModel)]='body.idSufijo' placeholder="Seleccionar"
              [options]="comboSufijo" [ngClass]="styleObligatorio(body.idSufijo)" [filter]="true" filterBy="label,labelSinTilde" [showClear]="true"></p-dropdown>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="esFichaActiva('datosGenerales')" class="card-footer">
      <div class="text-right main-button">
        <button pButton *ngIf="esActivo()" (click)="confirmEliminar()" type="button" icon="fa fa-eraser" iconPos="left" label="{{ 'general.boton.eliminar' | translate }}"></button>
        <button pButton *ngIf="!esActivo()" (click)="confirmReactivar()" type="button" icon="fa fa-eraser" iconPos="left" label="{{ 'general.boton.reactivar' | translate }}"></button>

        <button pButton type="button" icon="fa fa-undo" iconPos="left"
          (click)="restablecer()" label="{{ 'general.boton.restablecer' | translate }}"></button>

        <button pButton type="button" icon="fa fa-save" iconPos="left" [disabled]="deshabilitarGuardado()"
          (click)="checkSave()" label="{{ 'general.boton.guardar' | translate }}"></button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="progressSpinner" class="overlay-spinner">
  <div class="loader"></div>
</div>