<p-growl (onHover)="clear()" [(value)]="msgs" life="30000"></p-growl>

<div class="card" id="calendarioGuardia">
  <div class="card-header header-ficha">
    <div *ngIf="!openFicha" class="form-row">
      <div class="col-lg-1 col-md-2">
        <div class="img-colegiado" (click)="abreCierraFicha('calendarioGuardia')">
          <i class="fas fa-calendar-alt icon-ficha"></i>
        </div>
      </div>
      <div class="col-lg-11 col-md-10 cabeza">
        <div class="d-flex justify-content-end mb-1 pointer" (click)="abreCierraFicha('calendarioGuardia')">
          <label class="mr-auto title-ficha" (click)="abreCierraFicha('calendarioGuardia')">{{ 'justiciaGratuita.guardia.gestion.configuracionCalendarios' | translate }}</label>
        </div>
        <div class="d-flex justify-content-between sub">
          <label>{{'dato.jgr.guardia.guardias.duracion' | translate}}:
            <strong>{{resumen.duracion}}</strong>
          </label>
          <label>{{'justiciaGratuita.guardia.gestion.tipoDias' | translate}}:
            <strong> {{resumen.dias}}</strong>
          </label>
          <label>{{'justiciaGratuita.guardia.gestion.diasSeparacionGuardias' | translate}}:
            <strong>{{resumen.diasSeparacion}}</strong>
          </label>
          <label>{{'justiciaGratuita.guardia.gestion.separarGuardiaCalendario' | translate}}:
            <strong *ngIf="!resumen.separarGuardia">No</strong>
            <strong *ngIf="resumen.separarGuardia">Sí</strong>
          </label>
          <i (click)="abreCierraFicha('calendarioGuardia')" [ngClass]="{ 'fa fa-angle-up': openFicha, 'fa fa-angle-down': !openFicha} "></i>
        </div>
      </div>
    </div>
    <div *ngIf="openFicha" class=" header-ficha-open d-flex justify-content-start align-items-center" (click)="abreCierraFicha('calendarioGuardia')">
      <div class="img-colegiado">
        <i class="fas fa-calendar-alt icon-ficha"></i>
      </div>
      <label class="title-ficha" >{{ 'justiciaGratuita.guardia.gestion.configuracionCalendarios' | translate }}</label>
      <i class="fa fa-angle-up ml-auto"></i>
    </div>
  </div>


  <div *ngIf="openFicha" class="card-body card-body-ficha">
    <div class="row">
      <div class="bloque col-6">

        <div class="form-row">

          <div class="form-group col-lg-12 col-md-12">
            <label style="text-align:center; font-weight: bold;">{{ "justiciaGratuita.guardia.gestion.configuracionCalendarios" | translate }}</label>
          </div>

          <!-- DURACION -->
          <div class="form-group col-6">
            <label>
              {{ "dato.jgr.guardia.guardias.duracion" | translate }} (*)
            </label>
            <input type="text" [ngClass]="styleObligatorio(body.diasGuardia)" [(ngModel)]="body.diasGuardia" (keypress)="numberOnly($event)" [disabled]="!permisoEscritura || historico  || isLetrado"
              class="form-control" pInputText>
            <!-- <input [(ngModel)]="body.duracion" [disabled]="!permisoEscritura || historico" type="text" class="form-control" [maxLength]="200"
              pInputText> -->
          </div>

          <!-- UNIDAD (PRIMERA FILA) -->
          <div class="form-group col-6">
            <label>
              {{"justiciaGratuita.guardia.gestion.unidad" | translate}}
            </label>
            <p-dropdown class="select-form" placeholder="{{'general.boton.seleccionar' | translate}}" [disabled]="!permisoEscritura || historico || isLetrado"
              [showClear]="true" [(ngModel)]="body.tipoDiasGuardia" autoDisplayFirst="true" [options]="comboUnidad" [ngClass]="styleObligatorioDuracionTipoDia(body.tipoDiasGuardia)"></p-dropdown>
            <!-- <p-dropdown class="select-form" [(ngModel)]='body.idProvincia' (onChange)="onChangeProvincia()" [filter]="true" filterBy="label,labelSinTilde"
              filterMatchMode="contains" [options]="comboProvincias" placeholder="{{'general.boton.seleccionar' | translate}}"
              [disabled]="!permisoEscritura || historico" [showClear]="true">
            </p-dropdown> -->
          </div>

          <!-- PERIODO -->
          <div class="form-group col-6">
            <label>
              {{"justiciaGratuita.guardia.gestion.periodo" | translate}}
            </label>
            <input type="text" [disabled]="!permisoEscritura || historico || isLetrado" [(ngModel)]="body.diasPeriodo" (keypress)="numberOnly($event)" [ngClass]="styleObligatorioPeriodo(body.diasPeriodo)"
              class="form-control" pInputText>

          </div>

          <!-- UNIDAD (SEGUNDA FILA) -->
          <div class="form-group col-6">
            <label>
              {{"justiciaGratuita.guardia.gestion.unidad" | translate}}
            </label>
            <p-dropdown class="select-form" [(ngModel)]="body.tipoDiasPeriodo" [disabled]="!permisoEscritura || historico || isLetrado || !body.diasPeriodo" placeholder="{{'general.boton.seleccionar' | translate}}"
              [showClear]="true" autoDisplayFirst="true" [options]="comboUnidad" [ngClass]="styleObligatorioPeriodoTipoDia(body.tipoDiasPeriodo)"></p-dropdown>
          </div>

          <!-- DIAS DE SEPARACION ENTRE GUARDIAS -->
          <div class="form-group col-6">
            <label>
              {{"justiciaGratuita.guardia.gestion.diasSeparacionGuardias" | translate}} (*)
            </label>
            <input type="text" [ngClass]="styleObligatorio(body.diasSeparacionGuardias)" (keypress)="numberOnly($event)" [disabled]="!permisoEscritura || historico || isLetrado" [(ngModel)]="body.diasSeparacionGuardias"
              class="form-control" pInputText>
          </div>


          <!-- REQUERIDA LA VALIDACION DE LAS GUARDIAS DE COLEGIADO POR EL COLEGIO -->
          <div class="form-group row col-6 pt-2 selectAll">
            <div class="col-10">
              <strong>{{ "justiciaGratuita.guardia.gestion.requeridaValidacionGuardiasColegio" | translate }}</strong>
            </div>
            <div class="col-2 p-0 pt-2">
              <p-checkbox binary="true" [disabled]="!permisoEscritura || historico || isLetrado" [(ngModel)]="body.requeridaValidacion"></p-checkbox>
            </div>
          </div>
        </div>
      </div>
      <div class="bloque col-6">
        <div class="form-row p-4">
          <div class="col-12 ">
            <label>{{'justiciaGratuita.guardia.gestion.tipoDias'| translate}} </label>
          </div>
          <div class="form-group col-5 pt-4">
            <label>{{'justiciaGratuita.guardia.gestion.laborables' | translate }}/{{ 'justiciaGratuita.guardia.gestion.noFestivos'
              | translate }}</label>
            <div class="form-group selectAll">
              <div class="form-row">
                <div *ngFor="let dia of laborables" class="col-1 p-0">
                  <label>
                    <strong>{{dia.label}}</strong>
                  </label>
                </div>
              </div>
              <div class="form-row m-0">
                <div *ngFor="let dia of laborables" class="col-1 p-0">
                  <p-checkbox [(ngModel)]="dia.value" [disabled]="!permisoEscritura || historico || isLetrado" (onChange)="changeLaborables()" binary="true"></p-checkbox>

                </div>
              </div>
              <div class="form-row mt-3">
                <div class="col-5 ml-2 p-0">
                  <strong>{{'justiciaGratuita.guardia.gestion.seleccionarTodos'|translate}}</strong>
                </div>
                <div class="col-2">
                  <p-checkbox (onChange)="onChangeSeleccLaborables()" [disabled]="!permisoEscritura || historico || isLetrado" [(ngModel)]="selectLaborables"
                    binary="true"></p-checkbox>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group col-5 pt-4">
            <label>{{ "justiciaGratuita.guardia.gestion.festividades" | translate }}</label>
            <div class="form-group selectAll">
              <div class="form-row">
                <div *ngFor="let dia of festividades" class="col-1 p-0">
                  <label>
                    <strong>{{dia.label}}</strong>
                  </label>
                </div>
              </div>
              <div class="form-row m-0">
                <div *ngFor="let dia of festividades" class="col-1 p-0">
                  <p-checkbox [(ngModel)]="dia.value" [disabled]="!permisoEscritura || historico || isLetrado" (onChange)="changeFestividades()" binary="true"></p-checkbox>
                </div>
              </div>
              <div class="form-row mt-3">
                <div class="col-5 ml-2 p-0">
                  <strong>{{'justiciaGratuita.guardia.gestion.seleccionarTodos'|translate}}</strong>
                </div>
                <div class="col-2">
                  <p-checkbox (onChange)="onChangeSeleccFestividades()" [disabled]="!permisoEscritura || historico || isLetrado" [(ngModel)]="selectFestividades"
                    binary="true"></p-checkbox>
                </div>
              </div>
            </div>
          </div>
          <div class="col-2 p-1">
            {{ 'justiciaGratuita.guardia.gestion.seleccion' | translate}}:
            <br>
            <strong> {{infoDiasLab}}</strong>
            <br>
            <strong>{{infoDiasFes}}</strong>
          </div>
          <div class="form-group col-12">
            <div class="form-row mt-3">
              <div class="col-7 ml-2 p-0">
                <strong *ngIf="!body.separarGuardia">{{'justiciaGratuita.guardia.gestion.separarGuardiaCalendario'|translate}}</strong>
                <strong *ngIf="body.separarGuardia">{{'justiciaGratuita.guardia.gestion.separarGuardiaCalendario'|translate}} </strong>
              </div>
              <div class="col-2">
                <p-checkbox binary="true" [disabled]="!permisoEscritura || historico || permisoEscritura || isLetrado" [(ngModel)]="body.separarGuardia"></p-checkbox>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="openFicha" class="card-footer ">
    <div class="text-right main-button ">
      <button (click)="rest()" pButton [disabled]="historico || !permisoEscritura || isLetrado" type="button" icon="fa fa-undo" iconPos="left"
        label="{{ 'general.boton.restablecer' | translate}}"></button>
      <button (click)="save()" pButton type="button" icon="far fa-save" iconPos="left" label="{{ 'general.boton.guardar' | translate}}" [disabled]="isLetrado || !permisoEscritura"></button>
    </div>
  </div>
</div>


<div *ngIf="progressSpinner" class="overlay-spinner">
  <div class="loader"></div>
</div>