::ng-deep {

    #fichaDesignacionOficio {
        .mat-expansion-panel {
            box-shadow: none !important;
        }

        .mat-expansion-panel-header {
            padding: 0.5rem 1rem 0.5rem .67rem !important;
        }

        .mat-expansion-panel-body {
            padding-left: 0px !important;
            padding-right: 0px !important;
            padding-top: 0.6rem !important;
        }

        div.mat-expansion-panel-content {
            margin-top: 0.5rem !important;
            border-top: 1px solid #E3E9F6;
        }

        #sjcsDesigaDatosGen,
        #sjcsDesigaDet,
        #sjcsDesigDatAdicionales,
        #sjcsDesigDatFac,
        #sjcsDesigDoc,
        #sjcsDesigAct,
        #sjcsDesigInt,
        #sjcsDesigContra,
        #sjcsDesigProc,
        #sjcsDesigCamb,
        #sjcsDesigRel {

            div.mat-expansion-panel-body {
                padding-bottom: 0px;
            }

        }
    }

}

.padding-interior {
    padding-right: 1.25rem !important;
    padding-left: 1.25rem !important;
}

#tarjetaFija {
    #fijoInscripciones {
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 2;
    }
}