<div class="ficha-comunicacion-container" id="top">
  <div class="header-title">
    <i class="fa fa-square"></i>
    <p>{{'menu.justiciaGratuita' | translate}}
      <i class="fa fa-angle-right"></i>
      {{'menu.justiciaGratuita.GuardiaMenu' | translate}}
      <i class="fa fa-angle-right"></i>
      Guardia de Colegiado
  </div>
  <div>
      <app-turno-gestion-guardia-colegiado class="pb-50">
      </app-turno-gestion-guardia-colegiado>
      
      <app-guardia-gestion-guardia-colegiado class="pb-50" >
      </app-guardia-gestion-guardia-colegiado>

      <app-calendario-gestion-guardia-colegiado class="pb-50" >
      </app-calendario-gestion-guardia-colegiado>

      <app-colegiado-gestion-guardia-colegiado class="pb-50" >
      </app-colegiado-gestion-guardia-colegiado>

      <app-datos-generales-gestion-guardia-colegiado class="pb-50" [modificar] = "modificar">
      </app-datos-generales-gestion-guardia-colegiado>

      <app-sustituciones-gestion-guardia-colegiado class="pb-50" >
      </app-sustituciones-gestion-guardia-colegiado>

      <app-permutas-gestion-guardia-colegiado class="pb-50" >
      </app-permutas-gestion-guardia-colegiado>

 <app-tarjeta-facturacion-generica [datosEntrada]="guardia" [pantalla]="'GUARDIA'" (guardarDatos)="guardarDatos()">
    </app-tarjeta-facturacion-generica>
  </div>

</div>
<div class="mt-3 text-right main-button" id="down">
  <button (click)="backTo()" pButton type="button" icon="fa fa-angle-left" iconPos="left"
    label="{{ 'general.boton.volver' | translate }}"></button>
</div>
