<p-growl (onHover)="clear()" [(value)]="msgs" life="30000"></p-growl>
<div class="busqueda-container" id="datosGenerales">
  <div class="card">
    <div class="card-header header-ficha">
      <label class="title-ficha" style="cursor:pointer">Datos Generales de la Remesa</label>
    </div>

    <div class="row">

      <div class="bloque mt-2 pt-2 col-lg-6 col-md-6">

        <div class="form-row ml-2">
          <div class="col-lg-10 col-md-10">
            <label>
              <strong> {{ "formacion.fichaCursos.tarjetaPrecios.resumen.numRegistros" | translate }} </strong>
              <span *ngIf="remesaTabla != null"> {{ remesaTabla[0].nRegistro }}</span>
              <span *ngIf="remesaTabla == null"> {{ remesaItem.numero }}</span>
            </label>
          </div>
        </div>

        <p><br /></p>

        <div class="form-row ml-2">
          <div class="col-lg-10 col-md-10">
            <label>
              <strong> {{"administracion.parametrosGenerales.literal.descripcion" | translate}}</strong>
            </label>
            <input *ngIf="remesaTabla != null" [(ngModel)]="remesaTabla[0].descripcion"
              [disabled]="disableAll || historico" type="text" class="form-control" [maxLength]="100" pInputText>

            <input *ngIf="remesaTabla == null" [(ngModel)]="remesaItem.descripcion" [disabled]="disableAll || historico"
              type="text" class="form-control" [maxLength]="100" pInputText>
          </div>
        </div>

        <p><br /></p>

        <div class="form-row ml-2">
          <div class="col-lg-10 col-md-10">
            <b>
              <p-checkbox *ngIf="localStorageService.institucionActual == 2003" [(ngModel)]="busquedaActualizaciones"
                binary="true" label="Busqueda actulizaciones" name="groupname">
              </p-checkbox>
            </b>
          </div>
        </div>
      </div>

      <div class="bloque  mt-3 pt-2 col-lg-6 col-md-6">
        <div class="form-row">
          <div class="form-group col-lg-3 col-md-3"></div>
          <div class="form-group col-lg-8 col-md-8">
            <p-table [value]="resultado" [columns]="cols" [first]="page" [responsive]="true" #tabla class="tabla-listado">
              <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                  <col *ngFor="let col of cols" [style.width]="col.width">
                </colgroup>
              </ng-template>
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th *ngFor="let col of columns; let i = index" [ngSwitch]="col.field" [pSortableColumn]="col.field">
                    {{ col.header | translate }}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                  </th>
                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-dato let-columns="columns" let-rowIndex="rowIndex">
                <tr [pSelectableRow]="dato" [pSelectableRowIndex]="rowIndex">

                  <td class="text-center" *ngFor="let col of columns">

                    <span *ngIf="col.field == 'estado'  || col.field == 'fechaModificacion'">
                      {{dato[col.field]}}
                    </span>

                  </td>

                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                  <td [attr.colspan]="columns.length">
                    {{'censo.busquedaClientesAvanzada.literal.sinResultados' | translate }}
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>

  <div *ngIf="progressSpinner" class="overlay-spinner">
    <div class="loader"></div>
  </div>