<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>
<div class="busqueda-container" id="baremos">
  <div class="card">
    <div class="card-header header-ficha">
      <div class="form-row">
        <div class="col-lg-1 col-md-2">
          <div class="img-colegiado">
            <i class="fas fa-link icon-ficha"></i>
          </div>
        </div>
        <div class="col-lg-11 col-md-10 cabeza">
          <div class="d-flex justify-content-end mb-1">
            <label class="mr-auto title-ficha">{{'dato.jgr.guardia.guardias.baremos' | translate}}</label>
          </div>
          <div class="d-flex justify-content-between sub">
            <label *ngFor="let dato of datos">
              {{dato.label}}:
              <strong>{{dato.value}}</strong>
            </label>
            <div> </div>
            <div>
              <i class="fas fa-external-link-alt mr-2 icono-enlace"
              aria-hidden="true"></i>
            </div>
            <a class="enlace" (click)="goToFichaBaremos()">Listado de baremos</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>