<!-- <p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl> -->
<div class="ficha-container">
  <div class="card">
    <div class="card-header header-ficha" (click)="abreCierraFicha()">
      <div *ngIf="!openFicha" class="form-row">
        <div class="col-lg-1 col-md-2">
          <div class="img-colegiado">
            <i class="fas fa-users icon-ficha"></i>
          </div>
        </div>
        <div class="col-lg-11 col-md-10">
          <div class="d-flex justify-content-start mb-1">
            <label class="mr-auto title-ficha">Destinatarios</label>
          </div>
          <div class="d-flex justify-content-between">
            <label *ngIf="destinatarios && destinatarios.length == 0">
              No existen destinatarios
            </label>
            <label *ngIf="destinatarios && destinatarios.length > 0">
              Destinatarios: {{destinatarios.length}}
            </label>
            <i *ngIf="!openFicha && destinatarios && destinatarios.length > 0" class="fa fa-angle-down float-right"></i>
          </div>
        </div>
      </div>
      <div *ngIf="openFicha" class=" header-ficha-open d-flex justify-content-start align-items-center">
        <div class="img-colegiado">
          <i class="fas fa-users icon-ficha"></i>
        </div>
        <label class="title-ficha">Destinatarios</label>
        <i class="fa fa-angle-up ml-auto"></i>
      </div>
    </div>
    <!--tarjetas destinatario-->
    <div *ngIf="openFicha" class=" card-body card-body-ficha">
      <div class="card" *ngFor="let destinatario of destinatarios">
        <div (click)="onOpenDestinatario(destinatario)" class="card-header header-ficha">
          <div *ngIf="!destinatario.open" class="form-row">
            <div class="col-lg-1 col-md-2">
              <div class="img-colegiado">
                <i class="fa fa-user"></i>
              </div>
            </div>
            <div class="col-lg-11 col-md-10">
              <div class="d-flex justify-content-start mb-1">
                <label class="mr-auto title-ficha">Destinatario</label>
              </div>
              <div class="d-flex justify-content-between">
                <label>Documento Identidad:
                  <!-- <span>{{body.nombre}}</span> -->
                </label>
                <i (click)="navigateTo() " *ngIf="!destinatario.open" class="fas fa-redo mr-4 float-right"></i>
                <i *ngIf="!destinatario.open" class="fa fa-angle-down float-right"></i>
              </div>
            </div>
          </div>
          <div *ngIf="destinatario.open" class=" header-ficha-open d-flex justify-content-start align-items-center">
            <!-- <div class="img-colegiado">
                  <i class="fas fa-file-alt icon-ficha"></i>
            </div> -->
            <label class="title-ficha">Destinatario</label>
            <i class="fa fa-angle-up ml-auto"></i>
          </div>
        </div>

        <div *ngIf="destinatario.open" class="card-body card-body-ficha">
          <div class="row">
            <div class="bloque col-lg-2 col-md-3 col-sm-3 p-2">
              <div class="img-colegiado text-center my-0 mx-auto">
                <i class="fa fa-user" style="font-size:6.5rem;color:grey"></i>
              </div>
            </div>
            <div class="bloque col-lg-10 col-md-9">
              <div class="form-row d-flex align-items-center">
                <div class="form-group col-lg-4 col-md-4">
                  <label>Identificación (*)</label>
                  <input type="text" class="form-control" [(ngModel)]="destinatario.nifcif" [attr.maxlength]="20" [disabled]="true" pInputText>
                </div>
                <div class="form-group col-lg-4 col-md-4">
                  <i (click)="navigateTo() " class="fas fa-redo mr-4"></i>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-lg-4 col-md-4">
                  <label>Nombre</label>
                  <input [(ngModel)]="destinatario.nombre" type="text" class="form-control" [disabled]="true" pInputText>
                </div>
                <div class="form-group col-lg-34 col-md-4">
                  <label>Primer apellido</label>
                  <input [(ngModel)]="destinatario.apellidos1" type="text" class="form-control" [disabled]="true" pInputText>
                </div>
                <div class="form-group col-lg-4 col-md-4">
                  <label>Segundo apellido</label>
                  <input [(ngModel)]="destinatario.apellidos2" type="text " class="form-control" [disabled]="true" pInputText>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>