<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>

<div class="header-title">
    <i class="fa fa-square"></i>
    <p>SJCS&nbsp;<i class="fa fa-angle-right"></i>{{'menu.sjcs.facturacionSJCS.certificacion' |
        translate}}
    </p>
</div>

<div class="busqueda-container">
    <app-filtro-certificacion-fac [disableColegio]="disableColegio" (busqueda)="getCertificaciones($event)" (nuevo)="newCertificacion($event)" [permisoEscritura]="permisoEscritura"> </app-filtro-certificacion-fac>
    <app-tabla-certificacion-fac *ngIf="buscar" [datos]="datos" (delete)="deleteCertificacion($event)" [permisoEscritura]="permisoEscritura"></app-tabla-certificacion-fac>
</div>


<div *ngIf="progressSpinner || filtros.progressSpinnerFiltro" class="overlay-spinner">
    <div class="loader"></div>
</div>