<div class="busqueda-container">

  <!--<div *ngFor="let ficha of fichasPosibles" [ngSwitch]="ficha.key">
    <app-datos-generales *ngSwitchCase="'generales'"></app-datos-generales>
  </div>-->

  <!--SERVICIOS INTERES-->
  <div class="card">
    <div class="card-header header-ficha">
      <div class="form-row">
        <div class="col-lg-1 col-md-2">
          <div class="img-colegiado">
            <i class="fas fa-link icon-ficha"></i>
          </div>
        </div>
        <div class="col-lg-11 col-md-10">
          <div class="d-flex justify-content-start mb-1">
            <label class="mr-auto title-ficha">{{"facturacion.tarjetas.literal.serviciosInteres" | translate}}</label>
          </div>
          <div class="d-flex justify-content-between">
            <label>
              <a (click)="irFacturacion()">
                <span style="color: blue; text-decoration: underline">{{"menu.facturacion" | translate}}</span>
              </a>
            </label>
            <label>
              <a (click)="irAuditoria()">
                <span style="color: blue; text-decoration: underline">{{"menu.administracion.auditoria" | translate}}</span>
              </a>
            </label>
            <label>
              <a (click)="irComunicaciones()">
                <span style="color: blue; text-decoration: underline">{{"facturacion.consultamorosos.literal.comunicaciones" | translate}}</span>
              </a>
            </label>
            <i class="float-right"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<app-dialog></app-dialog>-->