<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>
<div *ngIf="progressSpinner" class="overlay-spinner">
  <div class="loader"></div>
</div>

<!-- Campos Buscador -->
<div class="card-body">

  <div class="form-row">
    <!-- Fecha de solicitud -->
    <div class="col-lg-3 col-md-3">
      <label>{{ "oficio.busquedaBajasTemporales.fechaSolicitudDesde" | translate }}
      </label>
      <app-fecha [(value)]="filtrosCompraProductos.fechaSolicitudDesde"
        [maxDate]="getFechaHastaCalendar(filtrosCompraProductos.fechaSolicitudDesde, filtrosCompraProductos.fechaSolicitudHasta)"
        (valueChangeSelected)="fillFechaSolicitudDesde($event)" (valueChangeInput)="fillFechaSolicitudDesde($event)">
      </app-fecha>
    </div>
    <div class="ol-lg-3 col-md-3">
      <label>{{ "oficio.busquedaBajasTemporales.fechaSolicitudHasta" | translate }}
      </label>
      <app-fecha [(value)]="filtrosCompraProductos.fechaSolicitudHasta"
        [minDate]="getFechaDesdeCalendar(filtrosCompraProductos.fechaSolicitudDesde, filtrosCompraProductos.fechaSolicitudHasta)"
        (valueChangeSelected)="fillFechaSolicitudHasta($event)" (valueChangeInput)="fillFechaSolicitudHasta($event)">
      </app-fecha>
    </div>

  </div>
</div>

<!-- Botones -->
<div class="card-footer">
  <div class="text-right main-button">
    <button pButton type="button" icon="fa fa-eraser" iconPos="left" label="{{ 'general.boton.clear' | translate}}"
      (click)="limpiar()">
    </button>

    <button pButton type="button" icon="fa fa-search" iconPos="left" label="{{'general.boton.search' | translate}}"
      (click)="checkBuscar()">
    </button>
    
    <!-- <button (click)="checkNuevaCompra()" pButton type="button" icon="fa fa-plus" iconPos="left" label="{{'general.boton.new' | translate}}"></button> -->
  </div>
</div>
