.nombre-colegio {
  padding: 0.5em 0em;
  display: block;
}

.widthAll {
  width: 100%;
}

.card-header * {
  cursor: pointer;
}

#formu {
  display: table !important;
  padding-left: 1.4em;
}

#check {
  display: table-cell !important;
  vertical-align: middle !important;
  padding-left: 0.8em;
}

.ui-growl-message-info .ui-growl-item {
  color: white !important;
  background-color: #33a1ff !important;
}

.ui-growl-message-success .ui-growl-item {
  color: white !important;
  background-color: #28a745 !important;
}

.ui-growl-message-warn .ui-growl-item {
  color: white !important;
  background-color: #ffc107 !important;
}

.ui-growl-message-error .ui-growl-item {
  color: white !important;
  background-color: #dc3545 !important;
}

.labelError {
  color: red;
  font-weight: bold;
}


.camposObligatorios{
  border-color: red !important;
}

.camposObligatorios > div{
  border-color: red !important;
}


.camposObligatorios div{
  border-color: red !important;
}

.camposObligatorios > input{
  border-color: red !important;
}

.camposObligatorios > div .ui-multiselect{
  border: 1px solid red !important;
}

.ui-inputtext .camposObligatorios{
  border: 1px solid red !important;
}