<p-growl [(value)]="msgs" (onHover)="clear()"></p-growl>
<div class="busqueda-container">
    <div class="header-title">
        <i class="fa fa-square"></i>
        <p>{{'menu.administracion' | translate}}
            <i class="pl-1 fa fa-angle-right"></i>{{'menu.administracion.configurarInterfazAplicacion' | translate}}</p>
    </div>
    <div class="card">
        <div class="card-body">
            <p class="title-module">{{'administracion.catalogos.titulo.datos.generales' | translate}}
                <i (click)="onHideDatosGenerales()" *ngIf="showDatosGenerales" class="fa fa-angle-up float-right"></i>
                <i (click)="onHideDatosGenerales()" *ngIf="!showDatosGenerales" class="fa fa-angle-down float-right"></i>
            </p>
            <div *ngIf="showDatosGenerales" class="module vista-avanzada">
                <div class="form-row">
                    <div class="form-group col-lg-3 col-md-3">
                        <label>{{'administracion.multidioma.etiquetas.literal.idioma' | translate}}</label>
                        <p-dropdown class="select-form" [(ngModel)]='selectedIdiomaBusqueda' [options]="idiomaBusqueda" [filter]="true" filterBy="label,labelSinTilde">
                        </p-dropdown>
                    </div> &nbsp;&nbsp;
                    <div class="form-group col-lg-3 col-md-3">
                        <label>{{'administracion.confInterfaz.logotipo' | translate}}</label>
                        <br>
                        <div class="ui-inputgroup">
                            <p-fileUpload #fubauto mode="basic" name="file" accept="image/*" (change)="uploadImage($event)" auto="true" chooseLabel="{{'administracion.gestionEntidad.buscarLogotipo' | translate}}">
                            </p-fileUpload>
                            <div *ngIf="archivoDisponible">
                                <input type="text" pInputText disabled="true" [(ngModel)]="nombreImagen" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer" *ngIf="showDatosGenerales">
            <div class="text-right main-button">
                <button (click)="isGuardar()" [disabled]="isHabilitadoGuardar()" pButton type="button " icon="far fa-save" iconPos="left"
                    label="{{'general.boton.guardar' | translate}}"></button>
            </div>
        </div>
    </div>
</div>