<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>

<div class="busqueda-container">
  <div class="header-title">
    <i class="fa fa-square"></i>
    <p>{{ "menu.facturacion" | translate }}
      <i class="fa fa-angle-right"></i>{{ "menu.facturacion.asignacionDeConceptosFacturables" | translate }}
    </p>
  </div>

  <div class="card">
    <!-- Datos generales -->
    <div class="card-body">
      <p class="title-module">{{ "administracion.catalogos.titulo.datos.generales" | translate }}
        <i *ngIf="showDatosGenerales" class="fa fa-angle-up float-right"></i>
        <i *ngIf="!showDatosGenerales" class="fa fa-angle-down float-right"></i>
      </p>

      <div class="form-row">
        <div class="form-group-interlineado col-lg-3 col-md-3">
          <label>{{ "gratuita.definirTurnosIndex.literal.abreviatura" | translate }}</label>
          <input type="text" class="form-control" #inputAbreviatura pInputText [(ngModel)]="body.abreviatura" />
        </div>
        <div class="form-group-interlineado col-lg-3 col-md-3">
          <label>{{ "general.description" | translate }}</label>
          <input type="text" class="form-control" #inputDescripcion pInputText [(ngModel)]="body.descripcion" />
        </div>
        <div class="form-group-interlineado col-lg-3 col-md-3">
          <label>{{ "facturacion.seriesFactura.cuentaBancaria" | translate }}</label>
          <p-dropdown class="select-form" [(ngModel)]='body.cuentaBancaria' placeholder="{{'general.boton.seleccionar' | translate}}"
              [options]="comboCuentaBancaria" [filter]="true" filterBy="label,labelSinTilde"
              [showClear]="true"></p-dropdown>
        </div>
        <div class="form-group-interlineado col-lg-3 col-md-3">
          <label>{{ "facturacionSJCS.facturacionesYPagos.sufijo" | translate }}</label>
          <p-dropdown class="select-form" [(ngModel)]='body.sufijo' placeholder="{{'general.boton.seleccionar' | translate}}"
              [options]="comboSufijo" [filter]="true" filterBy="label,labelSinTilde"
              [showClear]="true"></p-dropdown>
        </div>
        <div class="form-group-interlineado col-lg-3 col-md-3">
          <label>{{ "facturacion.seriesFactura.tipoProductos" | translate }}</label>
          <p-multiSelect #tipoProductos class="select-form" [(ngModel)]='body.tiposProductos'
            defaultLabel="{{'general.boton.seleccionar' | translate}}" [options]="comboTiposProductos" [filter]="true"
            maxSelectedLabels="10" [selectedItemsLabel]="'{0} tipos seleccionados'" filterBy="label,labelSinTilde"
            styleClass="widthAll" (onPanelShow)="focusInputField(tiposProductos)"></p-multiSelect>
        </div>
        <div class="form-group-interlineado col-lg-3 col-md-3">
          <label>{{ "facturacion.seriesFactura.tipoServicios" | translate }}</label>
          <p-multiSelect #tipoServicios class="select-form" [(ngModel)]='body.tiposServicios'
            defaultLabel="{{'general.boton.seleccionar' | translate}}" [options]="comboTiposServicios" [filter]="true"
            maxSelectedLabels="10" [selectedItemsLabel]="'{0} tipos seleccionados'" filterBy="label,labelSinTilde"
            styleClass="widthAll" (onPanelShow)="focusInputField(tiposServicios)"></p-multiSelect>
        </div>
        <div class="form-group-interlineado col-lg-3 col-md-3">
          <label>{{ "menu.administracion.gestionMultiidioma.etiquetasSociedad" | translate }}</label>
          <p-multiSelect #etiquetas class="select-form" [(ngModel)]='body.etiquetas'
            defaultLabel="{{'general.boton.seleccionar' | translate}}" [options]="comboEtiquetas" [filter]="true"
            maxSelectedLabels="10" [selectedItemsLabel]="'{0} etiquetas seleccionadas'" filterBy="label,labelSinTilde"
            styleClass="widthAll" (onPanelShow)="focusInputField(etiquetas)"></p-multiSelect>
        </div>
        <div class="form-group-interlineado col-lg-3 col-md-3">
          <label>{{ "facturacion.seriesFactura.consultasDestinatarios" | translate }}</label>
          <p-multiSelect #etiquetas class="select-form" [(ngModel)]='body.consultasDestinatarios'
            defaultLabel="{{'general.boton.seleccionar' | translate}}" [options]="comboConsultasDestinatarios" [filter]="true"
            maxSelectedLabels="10" [selectedItemsLabel]="'{0} consultas seleccionadas'" filterBy="label,labelSinTilde"
            styleClass="widthAll" (onPanelShow)="focusInputField(consultasDestinatarios)"></p-multiSelect>
        </div>
        <div class="form-group-interlineado col-lg-3 col-md-3">
          <label>{{ "facturacion.seriesFactura.contadorFacturas" | translate }}</label>
          <p-dropdown class="select-form" [(ngModel)]='body.contadorFacturas' placeholder="{{'general.boton.seleccionar' | translate}}"
              [options]="comboContadorFacturas" [filter]="true" filterBy="label,labelSinTilde"
              [showClear]="true"></p-dropdown>
        </div>
        <div class="form-group-interlineado col-lg-3 col-md-3">
          <label>{{ "facturacion.seriesFactura.contadorFacturasRectificativas" | translate }}</label>
          <p-dropdown class="select-form" [(ngModel)]='body.contadorFacturasRectificativas' placeholder="{{'general.boton.seleccionar' | translate}}"
              [options]="comboContadorFacturasRectificativas" [filter]="true" filterBy="label,labelSinTilde"
              [showClear]="true"></p-dropdown>
        </div>
      </div>
    </div>
  </div>

  <div class="card-footer">
    <div class="text-right main-button">
      <button (click)="checkPermisosIsNuevo()" [disabled]="!permisoEscritura" pButton type="button"  icon="fa fa-plus"
         iconPos="left"  label="{{ 'general.boton.new' | translate}}"></button>
      <button (click)="clearFilters()" pButton type="button"  icon="fa fa-eraser"  iconPos="left"
         label="{{ 'general.boton.clear' | translate}}"></button>
      <button (click)="isBuscar()" pButton type="button" icon="fa fa-search" iconPos="left"
        label="{{'general.boton.search' | translate}}"></button>
    </div>
  </div>
</div>

<div *ngIf="progressSpinner" class="overlay-spinner">
  <div class="loader"></div>
</div>