<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>
<app-migas-de-pan [rutas]="rutas"></app-migas-de-pan>

<div class="card">
    <div class="card-body">
        <app-busqueda-ejg [selectorEstados]="selectorEstados" [datePickers]="datePickers" [selectores]="selectores"
            [inputs]="inputs" (formulario)="saveForm($event)"></app-busqueda-ejg>
    </div>
    <div class="card-footer">
        <div class="text-right main-button">
            <button pButton type="button" icon="fas fa-eraser" iconPos="left" label="Limpiar"
                (click)="hideResponse()"></button>
            <button pButton type="button" icon="fas fa-search" iconPos="left" label="Buscar"
                (click)="showResponse();showMsg('info', 'Mostrando información buscada', '')"
                [disabled]="!cFormValidity"></button>
            <button pButton type="button" icon="fas fa-plus" iconPos="left" label="Nuevo"></button>
        </div>
    </div>
</div>

<div *ngIf="show">
    <div class="card mt-3">
        <div class="card-body">
            <app-paginador (seleccionarTodo)="selectedAll($event)" [type]="'TOP'"></app-paginador>

            <app-resultado-ejg [allSelected]="allSelected" [showResponse]="show" [cabeceras]="cabeceras"
                [elementos]="elementos" [elementosAux]="elementosAux" (anySelected)="notifyAnySelected($event)"
                [columnsSize]="columnsSize"></app-resultado-ejg>

            <div>
                <app-paginador [type]="'BOTTOM'"></app-paginador>
            </div>
        </div>

        <div class="card-footer">
            <div class="text-right main-button">
                <button [disabled]="isDisabled" pButton type="button" icon="fa fa-plus" iconPos="left"
                    label="Añadir a Remesa"
                    (click)="showMsg('success', 'Se ha añadido a Remesa correctamente', '')"></button>
                <button [disabled]="isDisabled" pButton type="button" icon="fa fa-download" iconPos="left"
                    label="Descargar EEJ" (click)="showMsg('success', 'Se ha descargado correctamente', '')"></button>
                <button [disabled]="isDisabled" pButton type="button" icon="fa fa-eraser" iconPos="left"
                    label="Cambiar Estado"
                    (click)="showMsg('success', 'Se ha cambiado el estado correctamente', '')"></button>
                <button [disabled]="isDisabled" pButton type="button" icon="fa fa-comment" iconPos="left"
                    label="Comunicar" (click)="showMsg('success', 'Se ha comunicado correctamente', '')"></button>
            </div>
        </div>
    </div>
</div>