<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>
<form [formGroup]="rForm">
  <div class="row w-100 m-0 padding-interior">
    <div class="bloque col-lg-3 col-md-3 col-sm-3 mb-5 pl-0">
      <div class="form-row" *ngFor="let campo of campos1">
        <div class="form-group col-lg-6 col-md-6 w-100">
          <label>{{ campo.nombre }}</label>
          <span class="font-weight-bold d-block w-100" style="height: 27.38px;">{{ campo.valor }}</span>
        </div>
      </div>
      <div class="form-row" *ngFor="let datePickerTitle of datePickers1">
        <div class="form-group col-lg-12 col-md-12 w-100">
          <label>{{ datePickerTitle }}</label>
          <app-fecha [utc]="true"></app-fecha>
        </div>
      </div>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9 mb-5 pr-0">
      <div class="form-row">
        <div class="form-group col-lg-6 col-md-6 w-100" *ngFor="let input of inputs1;">
          <label>{{input.nombre}}</label>
          <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="false" [placeholder]="input.valor"></textarea>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="card-footer">
  <div class="text-right main-button">
    <button pButton type="button" icon="fa fa-undo" iconPos="left" label="Restablecer"
      (click)="showMsg('success', 'Se ha restablecido correctamente', '')"></button>
    <button pButton type="button" icon="far fa-save" iconPos="left" label="Guardar"
      (click)="showMsg('success', 'Se ha guardado correctamente', '')"></button>
  </div>
</div>