<p-growl (onHover)="clear()" [(value)]="msgs" life="30000"></p-growl>

<div class="busqueda-container">
  <div class="card">
    <div class="card-header header-ficha" (click)="abreCierraFicha()">
      <div *ngIf="!openFicha" class="form-row">
        <div class="col-lg-1 col-md-2">
          <div class="img-colegiado">
            <i class="fas fa-cog icon-ficha"></i>
          </div>
        </div>
        <div class="col-lg-11 col-md-10 ">
          <div class="d-flex justify-content-end mb-1">
            <label class="mr-auto title-ficha">{{'administracion.catalogos.titulo.datos.generales' | translate}}</label>
          </div>
          <div class="d-flex justify-content-between">
            <label> {{ "justiciaGratuita.ejg.datosGenerales.annioNum" | translate }} {{ "justiciaGratuita.ejg.datosGenerales.Acta" | translate }}
              <span> {{ datosFiltro.anioacta }}/{{ datosFiltro.numeroacta }}</span>
            </label>
            <label> {{ "justiciaGratuita.ejg.datosGenerales.FechaReunion" | translate }}
              <span> {{ this.datosFiltro.fechareunion | date: 'dd/MM/yyyy' }}</span>
            </label>
            <label> {{ "justiciaGratuita.ejg.datosGenerales.FechaResolucion" | translate }}
              <span> {{ this.datosFiltro.fecharesolucion | date: 'dd/MM/yyyy' }}</span>
            </label>
            <label> {{ "justiciaGratuita.ejg.datosGenerales.Presidente" | translate }}
              <span> {{ nombrePresidente.label }}</span>
            </label>
            <i [ngClass]="{ 'fa fa-angle-up': openFicha, 'fa fa-angle-down': !openFicha} "></i>
          </div>
        </div>
      </div>
      <div *ngIf="openFicha" class=" header-ficha-open d-flex justify-content-start align-items-center">
        <div class="img-colegiado">
          <i class="fas fa-cog icon-ficha"></i>
        </div>
        <label class="title-ficha">{{'administracion.catalogos.titulo.datos.generales' | translate}}</label>
        <i class="fa fa-angle-up ml-auto"></i>
      </div>
    </div>

    <div *ngIf="openFicha" class="card-body card-body-ficha">
      <div class="row">
        <div class="bloque col-lg-9 col-md-9">

          <div *ngIf="editable" >
          <div class="form-row">
            <div class="col-lg-2 col-md-2 pl5">
              <label><strong>{{ 'justiciaGratuita.maestros.calendarioLaboralAgenda.anio' |
                  translate}}</strong></label>
              <input type="text" [(ngModel)]="datosFiltro.anioacta" class="form-control" (keypress)="numberOnly($event)"
                maxLength="4" pInputText [disabled]="disabledAnio">
            </div>
            <div class="col-log-2 col-md-2 pr5">
              <label><strong>{{ 'gratuita.busquedaAsistencias.literal.numero' |
                  translate}}</strong></label>
              <input type="text" class="form-control" maxLength="10" #inputNumero pInputText [(ngModel)]="datosFiltro.numeroacta">
            </div>
            <div *ngIf="controlComboSufijo">
              <div class="form-group col-lg-2 col-md-2">
                <label>{{ 'justiciaGratuita.ejg.datosGenerales.Sufijo' |
                  translate}}</label>
                <p-dropdown class="select-form" [(ngModel)]='datosFiltro.sufijo' placeholder="Seleccionar" [options]="comboSufijo"
                (onChange)="onChangeSufijo()" [filter]="true" filterBy="label,labelSinTilde" [showClear]="true">
                </p-dropdown>
              </div>
            </div>
          </div>
          <div *ngIf="!editable" >
            <div class="form-row">
              <div class="col-lg-2 col-md-2 pl5">
                <label><strong>{{ anioNum}}</strong></label>
                <input type="text" [(ngModel)]="datosFiltro.numeroacta" class="form-control"
                  maxLength="4" pInputText [disabled]="disabledAnio">
              </div>
            </div>

            <div class="form-group col-lg-3 col-md-3">
              <label>{{ 'justiciaGratuita.ejg.datosGenerales.FechaResolucion' |
                 translate}}</label>
              <app-fecha [(value)]="this.datosFiltro.fecharesolucion" (valueChangeSelected)="fillFechaResolucion($event)"
                (valueChangeInput)="fillFechaResolucion($event)">
              </app-fecha>
            </div>

            <div class="form-group col-lg-2 col-md-2">
              <label><strong>{{ "sjcs.actas.horainicio" | translate }}</strong></label>
                  <input type="time" id="appt" name="appt" min="00:00" max="00:59" required [(ngModel)]="inicio">
            </div>
            <div class="form-group col-lg-2 col-md-2">
              <label><strong>{{ "sjcs.actas.horafin" | translate }}</strong></label>
                  <input type="time" id="appt" name="appt" min="00:00" max="00:59" required [(ngModel)]="fin">
            </div>
    
            <div class="form-group col-lg-3 col-md-3">
              <label>{{ 'justiciaGratuita.ejg.datosGenerales.FechaReunion' |
                translate}}</label>
              <app-fecha [(value)]="this.datosFiltro.fechareunion" (valueChangeSelected)="fillFechaReunion($event)"
                (valueChangeInput)="fillFechaReunion($event)">
              </app-fecha>
            </div>
    
            <div class="form-group col-lg-3 col-md-3">
              <label>{{ 'justiciaGratuita.ejg.datosGenerales.Presidente' |
                translate}}</label>
              <p-dropdown class="select-form" [(ngModel)]='datosFiltro.idpresidente' placeholder="Seleccionar" [options]="comboPresidente"
                [filter]="true" filterBy="label,labelSinTilde" [showClear]="true">
              </p-dropdown>
            </div>
    
            <div class="form-group col-lg-3 col-md-3">
              <label>{{ 'justiciaGratuita.ejg.datosGenerales.Secretario' |
                translate}}</label>
              <p-dropdown class="select-form" [(ngModel)]='datosFiltro.idsecretario' placeholder="Seleccionar" [options]="comboSecretario"
                [filter]="true" filterBy="label,labelSinTilde" [showClear]="true">
              </p-dropdown>
            </div>

            <div class="col-log-9 col-md-9 pr5">
              <label><strong>{{ 'sjcs.actas.miembroscomision' |
                translate}}</strong></label>
                  <textarea  class="form-control" maxLength="4000" #inputNumero pInputText [(ngModel)]="datosFiltro.miembroscomision"></textarea>
            </div>

            <div class="col-log-9 col-md-9 pr5">
              <label><strong>{{ 'justiciaGratuita.remesasResultados.tabla.observaciones' |
                translate}}</strong></label>
                  <textarea  class="form-control" #inputNumero pInputText [(ngModel)]="datosFiltro.observaciones"></textarea>
            </div>

            <div class="col-log-9 col-md-9 pr5">
              <label><strong>{{ 'sjcs.actas.expedienteretirado' |
                translate}}</strong></label>
                  <textarea  class="form-control" maxLength="4000" #inputNumero pInputText [(ngModel)]="datosFiltro.pendientes"></textarea>
            </div>

            <div class="col-log-4 col-md-4 pr5">
              <label><strong>{{ 'sjcs.actas.expedientesacta' |
                translate}}</strong></label>
              <input type="text" class="form-control" readonly="readonly" #inputNumero pInputText [(ngModel)]="datosFiltro.usumodificacion">
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>

    <div *ngIf="openFicha" class="card-footer">
      <div class="text-right main-button ">
        <button (click)="guardarActaDialogo()" pButton type="button" icon="far fa-save" iconPos="left"
          label="Guardar"></button>
          <button (click)="restablecer()" pButton type="button" icon="fa fa-eraser" iconPos="left"
          label="Restablecer"></button>
          <button (click)="anadirEJGPendientesCAJG()" pButton [(disabled)]="disabledSave" type="button" icon="far fa-folder-open" iconPos="left"
          label="Añadir EJG`s pendientes de CAJG"></button>
          <button (click)="abrirActaDialogo()" pButton [(disabled)]="disabledSave" type="button" icon="far fa-folder-open" iconPos="left"
          label="Abrir Acta"></button>
          <button (click)="cerrarActaDialogo()" pButton [(disabled)]="disabledSave" type="button" icon="far fa-times-circle" iconPos="left"
          label="Cerrar Acta"></button>
          <p-confirmDialog  header="Confirmación" icon="fa fa-question-circle" width="425" #cd>
            <p-footer>
              <button type="button" pButton icon="fa-check" label="Si" (click)="cd.accept()"></button>
              <button type="button" pButton icon="fa-close" label="No" (click)="cd.reject()"></button>
            </p-footer>
          </p-confirmDialog>
      </div>
    </div>
  </div>
</div>

<div *ngIf="progressSpinner" class="overlay-spinner">
  <div class="loader"></div>
</div>