<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>
<div *ngIf="progressSpinner" class="overlay-spinner">
  <div class="loader"></div>
</div>
<div class="row w-100 m-0 padding-interior">
  <div class="form-row">
    <div class="form-group-interlineado col-lg-6 col-md-6">
      <label>{{'facturacion.devolucionManual.titularDomiciliacion' | translate}}</label>
      <input type="text" class="form-control" pInputText [disabled]="true" [(ngModel)]="expediente.titular" [disabled]="true"/>
    </div>
    <div class="form-group-interlineado col-lg-6 col-md-6">
      <label>{{'exp.expedientesexea.organismo' | translate}}</label>
      <input type="text" class="form-control" pInputText [disabled]="true" [(ngModel)]="expediente.descInstitucion" [disabled]="true"/>
    </div>
    <div class="form-group-interlineado col-lg-3 col-md-3">
      <label>{{'exp.expedientesexea.numeroexp' | translate}}</label>
      <input type="text" class="form-control" pInputText [disabled]="true" [(ngModel)]="expediente.numExpediente" [disabled]="true"/>
    </div>
    <div class="form-group-interlineado col-lg-3 col-md-3">
      <label>{{'facturacion.seriesFacturacion.literal.fInicio' | translate}}</label>
      <app-fecha [(value)]="fechaInicio"  [disabled]="true" [showTime]="true"></app-fecha>
    </div>
    <div class="form-group-interlineado col-lg-3 col-md-3">
      <label>{{'exp.expedientesexea.numeroregistro' | translate}}</label>
      <input type="text" class="form-control" pInputText [disabled]="true" [(ngModel)]="expediente.numRegistro" [disabled]="true"/>
    </div>
    <div class="form-group-interlineado col-lg-3 col-md-3">
      <label>{{'censo.consultaDatosRegistrales.literal.fechaRegistro' | translate}}</label>
      <app-fecha [(value)]="fechaRegistro"  [disabled]="true" [showTime]="true"></app-fecha>
    </div>
    <div class="form-group-interlineado col-lg-6 col-md-6">
      <label>{{'justiciaGratuita.ejg.datosGenerales.TipoExpediente' | translate}}</label>
      <input type="text" class="form-control" pInputText [disabled]="true" [(ngModel)]="expediente.tipoExpediente" [disabled]="true"/>
    </div>
    <div class="form-group-interlineado col-lg-3 col-md-3">
      <label>{{'exp.expedientesexea.estadoexp' | translate}}</label>
      <input type="text" class="form-control" pInputText [disabled]="true" [(ngModel)]="expediente.estadoExpediente" [disabled]="true"/>
    </div>
  </div>
</div>
<div class="card-footer">
  <div class="text-right main-button">
    <button pButton type="button" iconPos="left" label="Abrir en EXEA" icon="fas fa-link icon-ficha"
      (click)="tramitar();" [disabled]="isLetrado"></button>
  </div>
</div>