
.padding-interior {
    padding-right: 1.25rem !important;
    padding-left: 1.25rem !important;
}

.title-section {
    color: #595959;
	font-size: 0.9rem;
	font-weight: bold;
}
.inline{
    display: inline-flex
}
.toBottom{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}