<p-growl (onHover)="clear()" [(value)]="msgs" life="30000"></p-growl>
<div class="ficha-container" id="configuracion">
  <div class="card" id="top">
    <div class="card-header header-ficha">

      <!-- Cabecera en ficha cerrada -->
      <div *ngIf="!esFichaActiva('configuracion')" class="form-row">
        <div class="col-lg-1 col-md-2" (click)="abreCierraFicha('configuracion')">
          <div class="img-colegiado">
            <i class="far fa-address-book icon-ficha pointer"></i>
          </div>
        </div>
        <div class="col-lg-11 col-md-10">
          <div class="d-flex justify-content-start mb-1" (click)="abreCierraFicha('configuracion')">
            <label class="mr-auto title-ficha pointer">Configuración particular del banco para la generación de ficheros de adeudos</label>
          </div>
          <div class="d-flex justify-content-between default">
            <label>Ficheros por secuencia: 
              <span>{{ body.configFicherosSecuencia }}</span></label>
            <label>Ficheros por esquema: 
              <span>{{ body.configFicherosEsquema }}</span></label>
            <label>Lugar esquema y secuencia: 
              <span>{{ body.configLugaresQueMasSecuencia }}</span></label>
            <label>Concepto: 
              <span>{{ body.configConceptoAmpliado }}</span></label>
              
            
            <i class="fa fa-angle-down float-right" (click)="abreCierraFicha('configuracion')"
              *ngIf="!esFichaActiva('configuracion')"></i>
          </div>
        </div>
      </div>

      <!-- Cabecera en ficha abierta -->
      <div *ngIf="esFichaActiva('configuracion')" class=" header-ficha-open d-flex justify-content-start align-items-center"
        (click)="abreCierraFicha('configuracion')">
        <div class="img-colegiado">
          <i class="far fa-address-book icon-ficha"></i>
        </div>
        <label class="title-ficha pointer">Configuración particular del banco para la generación de ficheros de adeudos</label>
        <i class="fa fa-angle-up ml-auto"></i>
      </div>
    </div>

    <!-- Cuerpo en ficha abierta -->
    <div *ngIf="esFichaActiva('configuracion')" class="card-body card-body-ficha">
      <div class="form-row lg-12 md-12">
        <div class="form-group col-lg-3 col-md-3">
          <label>Ficheros por secuencia (*)</label>
          <p-dropdown class="select-form" [(ngModel)]='body.configFicherosSecuencia' placeholder="Seleccionar"
              [options]="comboConfigFicherosSecuencia" [filter]="true" filterBy="label,labelSinTilde"
              [ngClass]="styleObligatorio(body.configFicherosSecuencia)" [showClear]="true"></p-dropdown>
        </div>
        <div class="form-group col-lg-3 col-md-3">
          <label>Ficheros por esquema (*)</label>
          <p-dropdown class="select-form" [(ngModel)]='body.configFicherosEsquema' placeholder="Seleccionar"
              [options]="comboconfigFicherosEsquema" [filter]="true" filterBy="label,labelSinTilde"
              [ngClass]="styleObligatorio(body.configFicherosEsquema)" [showClear]="true"></p-dropdown>
        </div>
        <div class="form-group col-lg-3 col-md-3">
          <label>Lugar esquema y secuencia (*)</label>
          <p-dropdown class="select-form" [(ngModel)]='body.configLugaresQueMasSecuencia' placeholder="Seleccionar"
              [options]="comboConfigLugaresQueMasSecuencia" [filter]="true" filterBy="label,labelSinTilde"
              [ngClass]="styleObligatorio(body.configLugaresQueMasSecuencia)" [showClear]="true"></p-dropdown>
        </div>
        <div class="form-group col-lg-3 col-md-3">
          <label>Concepto (*)</label>
          <p-dropdown class="select-form" [(ngModel)]='body.configConceptoAmpliado' placeholder="Seleccionar"
              [options]="comboConfigConceptoAmpliado" [filter]="true" filterBy="label,labelSinTilde"
              [ngClass]="styleObligatorio(body.configConceptoAmpliado)" [showClear]="true"></p-dropdown>
        </div>
      </div>
    </div>

    <div *ngIf="esFichaActiva('configuracion')" class="card-footer">
      <div class="text-right main-button">
        <button pButton type="button" icon="fa fa-undo" iconPos="left"
          (click)="restablecer()" label="{{ 'general.boton.restablecer' | translate }}"></button>

        <button pButton type="button" icon="fa fa-save" iconPos="left"
          (click)="checkSave()" label="{{ 'general.boton.guardar' | translate }}"></button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="progressSpinner" class="overlay-spinner">
  <div class="loader"></div>
</div>