<p-growl [(value)]="msgs" life="1500"></p-growl>
<div class="busqueda-container">

  <!--<div *ngFor="let ficha of fichasPosibles" [ngSwitch]="ficha.key">
    <app-datos-generales *ngSwitchCase="'generales'"></app-datos-generales>
  </div>-->

  <!--DATOS REGISTRALES-->
  <div class="card">
    <div class="card-header header-ficha">
      <div *ngIf="!esFichaActiva('registrales')" class="form-row">
        <div class="col-lg-1 col-md-2">
          <div class="img-colegiado">
            <i class="far fa-address-book icon-ficha"></i>
          </div>
        </div>
        <div class="col-lg-11 col-md-10">
          <div class="d-flex justify-content-end mb-1">
            <label class="mr-auto title-ficha">Datos Registrales</label>
            <label class="registros-ficha">(0 registros)</label>
          </div>
          <div class="d-flex justify-content-between">
            <label>{{"administracion.usuarios.literal.NIF" | translate}}: <span>21489943J</span></label>
            <label>{{"administracion.parametrosGenerales.literal.nombre" | translate}}: <span>María José Abella Mestanza</span></label>
            <label>{{"censo.consultaDatosColegiacion.literal.fechaNac" | translate}}: <span>18/03/1970</span></label>
            <label>{{"administracion.usuarios.literal.fechaAlta" | translate}}: <span>04/02/1997</span></label>
            <i *ngIf="!esFichaActiva('registrales')" (click)="abrirFicha('registrales')" class="fa fa-angle-down float-right"></i>
          </div>
        </div>
      </div>
      <div *ngIf="esFichaActiva('registrales')" class=" header-ficha-open d-flex justify-content-start align-items-center">
        <div class="img-colegiado">
          <i class="far fa-address-book icon-ficha"></i>
        </div>
        <label class="title-ficha">Datos Registrales</label>
        <i (click)="cerrarFicha('registrales')" class="fa fa-angle-up ml-auto"></i>
      </div>
    </div>
    <!--cuerpo datos colegiales-->

    <div *ngIf="esFichaActiva('registrales')" class="card-body card-body-ficha">
      <div class="row">
        <div class="bloque col-lg-6 col-md-6">
          <div class="form-row">
            <div class="form-group col-lg-6 col-md-6">
              <label>{{"censo.fichaCliente.literal.identificacion"  | translate}}</label>
              <input value="38475777C" type="text" class="form-control" pInputText>
            </div>
            <div class="form-group col-lg-6 col-md-6">
              <label></label>
              <p-dropdown placeholder="NIF" class="select-form" [(ngModel)]="selectedDoc" [options]="select"></p-dropdown>
            </div>
            <div class="form-group col-lg-6 col-md-6">
              <label>{{"gratuita.mantenimientoTablasMaestra.literal.apellidos" | translate}}</label>
              <input value="Abella" type="text" class="form-control" pInputText>
            </div>
            <div class="form-group col-lg-6 col-md-6">
              <label></label>
              <input value="Mestanza" type="text" class="form-control" pInputText>
            </div>
            <div class="form-group col-lg-12 col-md-12">
              <label>{{"administracion.parametrosGenerales.literal.nombre" | translate}} </label>
              <input value="María José" type="text" class="form-control" pInputText>
            </div>
            <div class="form-group col-lg-6 col-md-6 form-group-date">
              <label>{{"censo.consultaDatosColegiacion.literal.fechaNac" | translate}}</label>
              <p-calendar [locale]="es" icon="far fa-calendar-alt" showIcon="true"></p-calendar>
            </div>
            <div class="d-flex mb-0 align-items-center form-group col-lg-6 col-md-6">
              <label>Edad: 66</label>
            </div>
            <div class="form-group col-lg-12 col-md-12">
              <label>{{"censo.consultaDatosGenerales.literal.nacido" | translate}}</label>
              <input value="España" type="text" class="form-control" pInputText>
            </div>
            <div class="form-group col-lg-6 col-md-6">
              <label>{{"censo.consultaDatosGenerales.literal.tratamiento" | translate}}</label>
              <p-dropdown placeholder="Mujer" class="select-form"></p-dropdown>
            </div>
            <div class="form-group col-lg-6 col-md-6">
              <label></label>
              <p-dropdown placeholder="Doña" class="select-form"></p-dropdown>
            </div>
          </div>
        </div>

        <div class="bloque col-lg-6 col-md-6">
          <div class="form-row">
            <div class="form-group col-lg-8 col-md-8">
              <label>{{"censo.fichaCliente.situacion.cabecera" | translate}}: Activo</label>
            </div>
            <div class="form-group col-lg-8 col-md-8">
              <label>{{"administracion.usuarios.literal.fechaAlta" | translate}}: 10/02/1984</label>
            </div>
            <div class="form-group col-lg-8 col-md-8">
              <label>{{"censo.fichaCliente.situacion.idiomaPref" | translate}}</label>
              <p-dropdown class="select-form" placeholder="Castellano"></p-dropdown>
            </div>
            <div class="form-group col-lg-12 col-md-12">
              <label>{{"censo.consultaDatosGenerales.literal.cuentaContable" | translate}}</label>
              <input value="1170" type="text" class="form-control" pInputText>
            </div>
            <div class="form-group col-lg-12 col-md-12">
              <p-checkbox binary="true" label="No exportar datos (LOPD)" name="groupname " class="ml-0"></p-checkbox>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="esFichaActiva('registrales')" class="card-footer">
      <div class="text-right main-button ">
        <button (click)="cerrarFicha('registrales')" pButton type="button " icon="far fa-save " iconPos="left" label="Guardar"></button>
        <button (click)="cerrarFicha('registrales')" pButton type="button " icon="fa fa-redo " iconPos="left" label="Restablecer"></button>
      </div>
    </div>
  </div>


</div>