.nombre-colegio {
  padding: 0.5em 0em;
  display: block;
}

.widthAll {
  width: 100%;
}

#formu {
  display: table !important;
  padding-left: 1.4em;
}

#check {
  display: table-cell !important;
  vertical-align: middle !important;
  padding-left: 0.8em;
}

.sociedadprof {
  float: left;
}
