<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>

<div class="card mt-3">
    <div class="card-body p-0">
        <div class="padding-interior padding-superior">
            <app-paginador (seleccionarTodo)="selectedAll($event)" [type]="'TOP'"></app-paginador>
        </div>

        <app-tabla-resultado-desplegable [seleccionarTodo]="seleccionarTodo" [cabeceras]="cabeceras" [rowGroupsAux]="rowGroupsAux" [rowGroups]="rowGroups" (anySelected)="notifyAnySelected($event)"></app-tabla-resultado-desplegable>

        <div class="mt-4 padding-interior padding-inferior">
            <app-paginador [type]="'BOTTOM'"></app-paginador>
        </div>
    </div>

    <div class="card-footer">
        <div class="row inline ajustar">
            <div class="left col-lg-4 col-md-3">
                <span>Cambio Designas {{numDesignas}}/{{totalDesignas}}</span>
                <span class="ml-3">Cambio Actuaciones {{numActuaciones}}/{{totalActuaciones}}</span>
            </div>

            <div class="center col-lg-4 col-md-4 ajustar">
                <div class="form-inline">
                    <label class="mr-3 textoAlineado form-group">Fecha Justificación</label>
                    <app-fecha [utc]="false"></app-fecha>
                </div>
            </div>

            <div class="right col-lg-4 col-md-4 ajustar">
                <div class="inline-block text-right main-button">
                    <button pButton type="button" icon="fa fa-trash-alt" iconPos="left" label="Eliminar" (click)="showMsg('success', 'Se ha eliminado correctamente', '')">
                    </button>

                    <button pButton type="button" icon="fa fa-comment" iconPos="left" label="Comunicar" (click)="showMsg('success', 'Se ha comunicado correctamente', '')">
                    </button>
                    
                    <button pButton type="button" icon="far fa-save" iconPos="left" label="Guardar" (click)="showMsg('success', 'Se ha guardado correctamente', '')">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>-->

<div *ngIf="progressSpinner" class="overlay-spinner">
    <div class="loader"></div>
</div>