<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>
<div class="busqueda-container">
    <app-tarjeta-resumen-fija class="pb-50" [titulo]="'justiciaGratuita.oficio.turnos.inforesumen'" [chincheta]="true" [datos]="datos" [icono]="iconoTarjetaResumen" (modoEdicionSend)="modoEdicionSend($event)" >
    </app-tarjeta-resumen-fija>
    <app-defensa-juridica></app-defensa-juridica>
</div>

<div *ngIf="progressSpinner" class="overlay-spinner">
    <!--<p-progressSpinner animationDuration="1s"></p-progressSpinner>-->
    <div class="loader"></div>
</div>
