<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>

<div class="card mt-3">
  <div class="card-body p-0 padding-paginador" #tablaFoco>

    <div class="padding-interior w-100" id="paginador">
      <app-paginador (perPage)="perPage($event)" (seleccionarTodo)="selectedAll($event)" (fromReg)="fromReg($event)"
        (toReg)="toReg($event)" [totalRegistros]="totalRegistros"></app-paginador>
    </div>

    <div class="table" matSort (matSortChange)="sortData($event)" #table>
      <div class="table-header">
        <div class="table-header-child p-2" *ngFor="let cabecera of cabeceras; let j = index" #BorderedHeader
          [style.minWidth]="cabecera.width">
          <div>
            <div [mat-sort-header]=cabecera.id>{{cabecera.name | translate}}</div>
            <input type="text" class="form-control" pInputTex [(ngModel)]="searchText[j]"
              (ngModelChange)="searchChange(j)" autocomplete="off" placeholder="Buscar">
          </div>
        </div>
      </div>
      <div *ngFor="let row of rowGroups | slice:from:to; let i = index; " class="table-row child">
        <div (click)="selectRow(row['id'])" class="table-row-wrapper hoverBlue"
          [ngClass]="{'hoverBlue2': isSelected(row['id']), 'fixedBlue': seleccionarTodo}" #rowSelected>
          <div *ngFor="let cell of row['cells'] | slice:0:8; let z = index; "
            class="table-cell p-2 selectedRowClass" [ngClass]="{'borders-child': isPar(i)}" #cellSelected
            [style.minWidth]="getTamanioColumn(cell.header)">
            <div class="cell-wrapper selectedRowClass w-100">

              <span class="w100 cell-value" *ngIf="cell.type == 'text'"
                [ngClass]="{'setItalic': row.italic}">{{cell.value}}</span>

              <span class="w100 cell-value" *ngIf="cell.type == 'arrayText'">
                <p *ngFor="let item of cell.value" [ngClass]="{'setItalic': row.italic}">
                  {{item}}
                </p>
              </span>


              <span class="w100 cell-value" *ngIf="cell.type == 'datePicker'">
                <app-fecha [(value)]="cell.value" [utc]="false" (valueChangeSelected)="fillFecha($event, cell)"
                  (valueChangeInput)="fillFecha($event, cell)">
                </app-fecha>
              </span>

              <span class="w100 cell-value selectWrap" *ngIf="cell.type == 'select'">
                <p-dropdown autoWidth="false" class="center" [placeholder]="textFilter" [(ngModel)]="cell.value"
                  [options]="cell.combo" showClear="true" styleClass="widthAll" (onChange)="changeSelect(row, cell)"
                  [disabled]="cell.disabled" [filter]="true">
                </p-dropdown>
              </span>

              <span class="w100 cell-value selectWrap" *ngIf="cell.type == 'select-grupo'">
                <p-dropdown autoWidth="false" class="center" [placeholder]="textFilter" [(ngModel)]="cell.value"
                  [options]="cell.combo" showClear="true" styleClass="widthAll" (onChange)="changeSelectGroup(row, cell)"
                  [disabled]="cell.disabled">
                </p-dropdown>
              </span>

              <span class="w100 cell-value" *ngIf="cell.type == 'multiselect'">
                <p-multiSelect #{i} autoWidth="false" [(ngModel)]='cell.value' [selectedItemsLabel]="textSelected"
                  [defaultLabel]="textFilter" [options]="cell.combo" maxSelectedLabels="10" styleClass="widthAll"
                  [filter]="true" filterBy="label,labelSinTilde" (onChange)="changeMultiSelect(row, cell)" id="notSelectAll"
                  [disabled]="cell.disabled">
                </p-multiSelect>
              </span>

              <span class="w100 cell-value" *ngIf="cell.type == 'multiselect-grupo'">
                <p-multiSelect #{i} autoWidth="false" [(ngModel)]='cell.value' [selectedItemsLabel]="textSelected"
                  [defaultLabel]="textFilter" [options]="cell.combo" maxSelectedLabels="10" styleClass="widthAll"
                  [filter]="true" filterBy="label,labelSinTilde" (onChange)="changeMultiSelectGrupo(row, cell)" id="notSelectAll"
                  [disabled]="cell.disabled">
                </p-multiSelect>
              </span>

              <span class="w100 cell-value" *ngIf="cell.type == 'textarea'">
                <textarea pInputTextarea [(ngModel)]="cell.value" class="form-control"></textarea>
              </span>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="padding-interior paginador-bottom"></div>

  <div class="card-footer">
    <div class="text-right main-button butBottom mt10">

      <button *ngIf="!historico" (click)="toogleHistorico(true)" pButton type="button" icon="fa fa-history"
        iconPos="left" [disabled]="disableButtons" label="{{ 'general.message.mostrarHistorico' | translate}}"></button>

      <button *ngIf="historico" (click)="toogleHistorico(false)" pButton type="button" icon="fa fa-undo" iconPos="left"
        label="{{'general.message.ocultarHistorico' | translate}}"></button>

      <button pButton type="button" icon="far fa-save" iconPos="left" label="{{ 'general.boton.guardar' | translate}}"
        [disabled]="historico" (click)="guardar()"></button>


      <button pButton type="button" icon="far fa-save" iconPos="left" label="{{ 'general.boton.anular' | translate}}"
        [disabled]="historico || disableButtons || isDisabled" (click)="anular()"></button>

      <button pButton type="button" icon="fa fa-plus" iconPos="left" label="{{ 'general.boton.new' | translate}}"
        [disabled]="!anySelected || disableButtons || historico" (click)="nuevo(false)"></button>

      <button pButton type="button" icon="fa fa-plus" iconPos="left" label="Grupo"
        [disabled]="!anySelected || disableButtons || historico" (click)="nuevo(true)"></button>

      <button pButton type="button" icon="fa fa-trash-alt" iconPos="left"
        label="{{ 'general.boton.eliminar' | translate}}" [disabled]="!anySelected || disableButtons || historico || isDisabled" (click)="delete()"></button>

      <button (click)="restablecer()" pButton type="button" icon="fa fa-undo" iconPos="left" [disabled]="disableButtons || historico"
        label="{{ 'general.boton.restablecer' | translate}}"></button>
    </div>
  </div>
</div>
<div class="mt-3 text-right main-button " id="down" *ngIf="showVolver">
  <button (click)="backTo()" pButton type="button" icon="fa fa-angle-left" iconPos="left" label="{{ 'general.boton.volver' | translate }}"></button>
</div>