.rowPrueba{
    display: -ms-flexbox;
    display: block;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.registros-ficha-prueba{
    color:#F4F4F4 !important;
    background-color: #F4F4F4 !important;
}
.mr-auto-title-ficha-prueba{
    color:#F4F4F4 !important;
    background-color: #F4F4F4 !important;
}