#desPago{
  padding-right: 0px;

}

#desFact{
  padding-right: 15px;
  padding-left: 0px;
}

#div1{
  margin-right: 0px;
  margin-left: 0px
}

#div2{
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  margin-top: 24px
}
.lab{
  float: right;
}
#tipoCentDiv {
  padding-top: 24px !important;
}
p-table.tabla-listado th{
  border: 1px solid #ccc !important
}

.cabeza .sub label {
  color: rgb(51, 51, 51)
}