.borderBottom{
    border-bottom: 1px solid black;
}
.h100{
  height: 100%;
}
.w100{
  width: 100%;
}
.center{
    text-align: center;
}
.right{
    text-align: right;
}
.inline{
  display: flex;
  align-items: flex-end;
}

@media (max-width: 1256px) {
  .ajustar{
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .textoAlineado{
      width: 100%;
      text-align: left;
  }
}
@media (max-width: 378px) {
  .ajustar{
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .textoAlineado{
      width: 100%;
      text-align: left;
  }
}

.padding-interior {
  padding-right: 1.25rem !important;
  padding-left: 1.25rem !important;
}

.marginButtons{
  margin-top: 115px;
}