<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>
<div class="busqueda-container">
    <app-filtrossaltosycompensaciones (busqueda)="searchPartidas($event)" [permisos]="permisoEscritura"></app-filtrossaltosycompensaciones>
    <!-- <app-gestion-inscripciones *ngIf="buscar" [datos]="datos" (searchPartidas)="searchPartidas($event)"></app-gestion-inscripciones> -->
</div>

<div *ngIf="progressSpinner" class="overlay-spinner">
    <!--<p-progressSpinner animationDuration="1s"></p-progressSpinner>-->
    <div class="loader"></div>
</div>