<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>

<div class="header-title">
    <i class="fa fa-square"></i>
    <p>SJCS
      <i class="fa fa-angle-right"></i> {{'facturacionSJCS.facturacionesYPagos.buscarFacturacion.titulo' | translate}}
    </p>
</div>

<div class="busqueda-container">
    <app-filtro-busqueda-facturacion (buscarFacturacion)="buscarFacturaciones($event)" [permisos]="permisoEscritura"></app-filtro-busqueda-facturacion>
    <app-tabla-busqueda-facturacion *ngIf="buscar" [datos]="datos" (delete)="delete($event)" ></app-tabla-busqueda-facturacion>
</div>

<div *ngIf="progressSpinner || filtros.progressSpinnerFiltro" class="overlay-spinner">
    <div class="loader"></div>
</div>
