<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>

<div class="header-title">
    <i class="fa fa-square"></i>
    <p>SJCS&nbsp;<i class="fa fa-angle-right"></i>{{'facturacionSJCS.facturacionesYPagos.buscarFacturacion.titulo' |
        translate}}
    </p>
</div>

<div class="busqueda-container">
    <app-filtro-busqueda-facturacion (busqueda)="busqueda($event)" [permisoEscrituraFac]="permisoEscrituraFac"
        [permisoEscrituraPag]="permisoEscrituraPag" (cambiaBuscar)="cambiaBuscar($event)">
    </app-filtro-busqueda-facturacion>
    <app-tabla-busqueda-facturacion *ngIf="buscar" [datos]="datos" [permisos]="permisoEscrituraFac"
        [filtroSeleccionado]="filtroSeleccionado" (delete)="delete($event)"></app-tabla-busqueda-facturacion>
</div>

<div *ngIf="progressSpinner || filtros.progressSpinnerFiltro" class="overlay-spinner">
    <div class="loader"></div>
</div>