<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>
<div class="busqueda-container">
    <div class="header-title">
        <i class="fa fa-square"></i>
        <p>{{'menu.administracion' | translate}}
            <i class="pl-1 fa fa-angle-right"></i>{{'menu.administracion.auditoria' | translate}}</p>
    </div>
    <div class="card">
        <div class="card-body">
            <p class="title-module">{{'administracion.catalogos.titulo.datos.generales' | translate}}
                <i (click)="onHideDatosGenerales()" *ngIf="showDatosGenerales" class="fa fa-angle-up float-right"></i>
                <i (click)="onHideDatosGenerales()" *ngIf="!showDatosGenerales" class="fa fa-angle-down float-right"></i>
            </p>
            <div *ngIf="showDatosGenerales" class="module vista-avanzada">
                <div class="form-row">
                    <div class="form-group col-lg-3 col-md-3">
                        <label>{{'general.boton.usuario' | translate}}</label>
                        <input type="text" [disabled]="isHabilitadoInputUsuario()" class="form-control" [(ngModel)]="usuario" pInputText>
                    </div>
                    <div class="form-group col-lg-1 col-md-1">
                    </div>

                    <div class="form-group col-lg-3 col-md-3">
                        <label>{{'administracion.auditoriaUsuarios.persona' | translate}}</label>
                        <input type="text" class="form-control" [(ngModel)]="persona" pInputText>
                    </div>
                    <div class="form-group col-lg-1 col-md-1">
                    </div>
                    <div class="form-check col-lg-3 col-md-3">
                        <br>
                        <label class="form-group-label">{{'administracion.auditoriaUsuarios.literal.usuarioAutomatico' | translate}}</label> &nbsp;&nbsp;
                        <p-checkbox [(ngModel)]='valorCheckUsuarioAutomatico' binary="true"></p-checkbox>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-lg-3 col-md-3">
                        <label>{{'administracion.auditoriaUsuarios.literal.tipoAccion' | translate}}</label>
                        <p-dropdown class="select-form" [(ngModel)]='selectedTipoAccion' [options]="tipoAcciones" [filter]="true" filterMatchMode="contains"
                            filterBy="label,labelSinTilde"></p-dropdown> &nbsp;&nbsp;
                    </div>
                    <div class="form-group col-lg-1 col-md-1">
                    </div>
                    <div class="form-group col-lg-3 col-md-3">
                        <label>{{'administracion.auditoriaUsuarios.fechaDesde' | translate}} (*)</label>
                        <p-calendar [locale]="es" [(ngModel)]="fechaDesdeCalendar" [maxDate]="getFechaHastaCalendar()" dateFormat="dd/mm/yy" icon="far fa-calendar-alt"
                            showIcon="true"></p-calendar>
                    </div>
                    <div class="form-group col-lg-1 col-md-1">
                    </div>
                    <div class="form-group col-lg-3 col-md-3">
                        <label>{{'administracion.auditoriaUsuarios.fechaHasta' | translate}} (*)</label>
                        <p-calendar [locale]="es" [(ngModel)]="fechaHastaCalendar" [minDate]="getFechaDesdeCalendar()" dateFormat="dd/mm/yy" icon="far fa-calendar-alt"
                            showIcon="true"></p-calendar>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer" *ngIf="showDatosGenerales">
            <div class="text-right main-button">
                <button (click)="confirmarBuscar()" [disabled]="isHabilitadoBuscar()" pButton type="button " icon="fa fa-search" iconPos="left"
                    label="{{'general.boton.search' | translate}}"></button>
                <button (click)="onComunicar(selectedDatos)" pButton type="button " icon="fas fa-envelope" iconPos="left" label="{{'general.boton.comunicar' | translate}}"></button>
            </div>
        </div>
    </div>
    <!--FIN CARD-->
    <div *ngIf="buscar == true" class="card mt-3">
        <div class="card-body p-0">
            <p-dataTable #table emptyMessage="{{ 'general.message.no.registros' | translate}}" [value]="datosUsuarios" [responsive]="true"
                class="tabla-listado" [sortOrder]="1" [(selection)]="selectedDatos" [paginator]="true" paginatorPosition="both"
                [rows]="selectedItem" (onRowSelect)="irEditarUsuario(selectedDatos)" selectionMode="single">
                <p-column [style]="{'width': col.width}" *ngFor="let col of columnasTabla" [sortable]="true" [field]="col.field" [header]="col.header | translate"
                    [filter]="true" filterMatchMode="contains" filterPlaceholder="{{'general.boton.search' | translate}}">
                </p-column>

                <ng-template pTemplate="paginatorLeft">
                    <div class="mostrar">
                        <label class="pr-3 registros-totales">Mostrando registros del {{table.first + 1}} al {{table.first + table.rows}} de un total de {{table.totalRecords}}</label>
                        <label>{{ 'general.message.mostrar' | translate}}</label>
                        <p-dropdown [(ngModel)]="selectedItem" [options]="rowsPerPage" (onChange)="onChangeRowsPerPages($event)"></p-dropdown>
                        <label>{{'cargaMasivaDatosCurriculares.numRegistros.literal' | translate}}</label>
                    </div>
                </ng-template>
            </p-dataTable>
        </div>
    </div>
    <app-dialog></app-dialog>
</div>

<div *ngIf="volver==true" class="mt-3 text-right main-button ">
    <button (click)="volverAFicha()" pButton type="button" icon="fa fa-angle-left" iconPos="left" label="Volver"></button>
</div>

<div *ngIf="progressSpinner" class="overlay-spinner">
    <div class="loader"></div>
</div>


<!-- DIÁLOGO DE COMUNICACION -->
<p-dialog [(visible)]="showComunicar" responsive="true" [draggable]="false" modal="modal" resizable="false" [minWidth]="500">
    <p-header class="title">
        <label>Comunicación</label>
    </p-header>
    <div class="form-row">
        <div class="form-group col-lg-12 col-md-12">
            <label>Modelos de comunicacion</label>
            <p-multiSelect filterBy="label" [options]="modelosComunicacion" optionLabel="label" styleClass="widthAll" [(ngModel)]='bodyComunicacion.modelosComunicacion'
                maxSelectedLabels="1" [panelStyle]="{width:'100%'}"></p-multiSelect>
        </div>
        <div class="form-group col-lg-6 col-md-6">
            <label>Tipo de envío</label>
            <p-dropdown [options]="tiposEnvio" [(ngModel)]="bodyComunicacion.idEnvio" class="select-form"></p-dropdown>
        </div>
        <div class="form-group col-lg-6 col-md-6">
            <label>Plantillas</label>
            <p-dropdown [options]="plantillas" [(ngModel)]="bodyComunicacion.idPlantilla" class="select-form"></p-dropdown>
        </div>
    </div>
    <p-footer>
        <div class="text-right main-button ">
            <button (click)="onEnviarComunicacion()" pButton type="button" icon="fas fa-share-square" iconPos="left" label="{{ 'general.boton.enviar' | translate}}"></button>
        </div>
    </p-footer>
</p-dialog>