.center{
    text-align: center;
}
.right{
    text-align: right;
}
.left{
    text-align: left;
}
.inline{
    display: flex;
    align-items: flex-end;
}

@media (max-width: 1256px) {
    .ajustar{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .textoAlineado{
        width: 100%;
        text-align: left;
    }
}
@media (max-width: 378px) {
    .ajustar{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .textoAlineado{
        width: 100%;
        text-align: left;
    }
}