<div class="card">	
    <div class="card-body">
        <app-buscador-justificacion-expres [datePickers]="datePickers"  [selectores1]="selectores1"  [inputs1]="inputs1"></app-buscador-justificacion-expres>
        <div class="right col mb-5 text-right main-button">
            <button pButton type="button"  icon="fa fa-eraser"  iconPos="left"	
            label="{{ 'general.boton.clear' | translate}}"></button>	
        <button type="submit" pButton icon="fa fa-search" iconPos="left"	
            label="{{'general.boton.search' | translate}}"></button>
        </div>
        <div><app-paginador (seleccionarTodo)="selectedAll($event)" [type]="'TOP'"></app-paginador></div>
        <app-tabla-resultado-desplegable *ngIf="showResponse" [seleccionarTodo]="seleccionarTodo" [cabeceras]="cabeceras" [rowGroupsAux]="rowGroupsAux" [rowGroups]="rowGroups" (anySelected)="notifyAnySelected($event)"></app-tabla-resultado-desplegable>
        <div><app-paginador [type]="'BOTTOM'"></app-paginador></div>
        <div class="row inline ajustar">
            <div class="left col-lg-4 col-md-3">
                <span>Cambio Designas {{numDesignas}}/{{totalDesignas}}</span>
                <span class="ml-3">Cambio Actuaciones {{numActuaciones}}/{{totalActuaciones}}</span>
            </div>
            <div class="center col-lg-4 col-md-4 ajustar">
                <div class="form-inline">
                    <label class="mr-3 textoAlineado form-group">Fecha Justificación</label>	
                        <app-fecha [utc]="false" ></app-fecha>
                </div>
            </div>
            <div class="right col-lg-4 col-md-4 ajustar">
                <div class="inline-block main-button text-right">
                    <button [disabled]="isDisabled" pButton type="button"  icon="fa fa-trash-alt"  iconPos="left" label="Eliminar"></button>	
                    <button [disabled]="isDisabled" type="button" pButton icon="fa fa-comment" iconPos="left" label="Comunicar"></button>	
                    <button [disabled]="isDisabled" type="button" pButton icon="far fa-save" iconPos="left" label="Guardar"></button>
                </div>
            </div>
        </div>
    </div>
</div>
