<p-growl (onHover)="clear()" [(value)]="msgs" life="30000"></p-growl>
<div class="ficha-container" id="envioFacturas">
  <div class="card" id="top">
    <div class="card-header header-ficha">

      <!-- Cabecera en ficha cerrada -->
      <div *ngIf="!esFichaActiva('envioFacturas')" class="form-row">
        <div class="col-lg-1 col-md-2" (click)="abreCierraFicha('envioFacturas')">
          <div class="img-colegiado">
            <i class="far fa-address-book icon-ficha pointer"></i>
          </div>
        </div>
        <div class="col-lg-11 col-md-10">
          <div class="d-flex justify-content-start mb-1" (click)="abreCierraFicha('envioFacturas')">
            <label class="mr-auto title-ficha pointer">Envío de Facturas Automático</label>
          </div>
          <div class="d-flex justify-content-between default">
            <label>Realizar el envío de las facturas autom.: 
              <span>{{ body.envioFacturas }}</span></label>
            <label>Plantilla de envío masivo: 
              <span>{{ 'dato' }}</span></label>
            
            <i class="fa fa-angle-down float-right" (click)="abreCierraFicha('envioFacturas')"
              *ngIf="!esFichaActiva('envioFacturas')"></i>
          </div>
        </div>
      </div>

      <!-- Cabecera en ficha abierta -->
      <div *ngIf="esFichaActiva('envioFacturas')" class=" header-ficha-open d-flex justify-content-start align-items-center"
        (click)="abreCierraFicha('envioFacturas')">
        <div class="img-colegiado">
          <i class="far fa-address-book icon-ficha"></i>
        </div>
        <label class="title-ficha pointer">Envío de Facturas Automático</label>
        <i class="fa fa-angle-up ml-auto"></i>
      </div>
    </div>

    <!-- Cuerpo en ficha abierta -->
    <div *ngIf="esFichaActiva('envioFacturas')" class="card-body card-body-ficha">
      <div class="form-row">
        <div class="form-group-interlineado mb-3 d-flex justify-content-between">
          <label class="checkbox-label" for="envioAutomaticoCheckbox">Realizar el envío de las facturas autom.</label>
          <p-checkbox class="checkbox-inline" id="envioAutomaticoCheckbox" [(ngModel)]="body.envioFacturas" binary="true"></p-checkbox>
        </div>
        <div class="form-group-interlineado col-lg-3 col-md-3">
          <label>Plantilla de envío masivo</label>
          <p-dropdown class="select-form" [(ngModel)]='body.idPlatillaMail' placeholder="{{'general.boton.seleccionar' | translate}}"
              [options]="comboPlantillasEnvio" [filter]="true" filterBy="label,labelSinTilde"
              [showClear]="true"></p-dropdown>
        </div>
      </div>
    </div>

    <div *ngIf="esFichaActiva('envioFacturas')" class="card-footer">
      <div class="text-right main-button">
        <button pButton type="button" icon="fa fa-undo" iconPos="left"
          (click)="restablecer()" label="{{ 'general.boton.restablecer' | translate }}"></button>

        <button pButton type="button" icon="fa fa-save" iconPos="left"
          label="{{ 'general.boton.guardar' | translate }}"></button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="progressSpinner" class="overlay-spinner">
  <div class="loader"></div>
</div>