.proceso-generico{
    font-weight: bold;
}

.ui-growl-message-info
   .ui-growl-item{
  color: white !important;
  background-color:	#33a1ff   !important;
   }

 .ui-growl-message-success
   .ui-growl-item{
  color: white !important;
  background-color: #28a745   !important;
   }

 .ui-growl-message-warn
   .ui-growl-item{
  color: white !important;
  background-color:	#ffc107   !important;
   }

 .ui-growl-message-error
   .ui-growl-item{
  color: white !important;
  background-color: #dc3545   !important;
   }


   .widthChange{
     padding-left: 4rem;
     transition: padding-left 1s;
   }

   
   .widthNotChange{
     padding-left: 4rem;
     transition: padding-left 1s;
   }

   
   @media screen and (max-width: 1300px){
    .widthNotChange{
      padding-left: 4rem;
    }
 
}
