<div class="card">
    <div class="card-body">

        <div>
            <p-radioButton *ngFor="let radio of radios" [(ngModel)]='modoBusqueda' (click)="changeTab()" class="mr-4"
                name="modo" [value]="radio.value" [label]="radio.label"></p-radioButton>
        </div>

        <app-busqueda-aplicacionEnPagos [selectorEstados]="" [datePickers]="datePickers" [selectores]="selectores" [inputs]="inputs"
            [emptyAccordions]="emptyAccordions" (formulario)="saveForm($event)" [modoBusqueda]="modoBusqueda">
        </app-busqueda-aplicacionEnPagos>

    </div>

    <div class="card-footer">
        <div class="text-right main-button">
            <button (click)="isRestablecer() " pButton type="button " [(disabled)]="!habilitarBotones " icon="fa fa-undo" iconPos="left"
            label="{{ 'general.boton.restablecer' | translate}} "></button>
            <button type="submit" pButton icon="fa fa-search" iconPos="left"
                label="{{'general.boton.search' | translate}}" (click)="showResponse()"
                [disabled]="!cFormValidity"></button>
            <button (click)="anadirIntegrante()" [disabled]="camposDesactivados || disabledAction || tarjeta == '2'" pButton type="button"
                icon="fa fa-plus" iconPos="left" label="Nuevo"></button>
        </div>
    </div>
</div>
<div *ngIf="show">
    <div class="card mt-3">
        <div class="card-body">

            <app-paginador (seleccionarTodo)="selectedAll($event)" [type]="'TOP'"></app-paginador>

            <app-resultado-aplicacionEnPagos [allSelected]="allSelected" [showResponse]="show" [cabeceras]="cabeceras" [elementos]="elementos"
                [elementosAux]="elementosAux" (anySelected)="notifyAnySelected($event)"></app-resultado-aplicacionEnPagos>
                
            <div>
                <app-paginador [type]="'BOTTOM'"></app-paginador>
            </div>
        </div>
        
    <div class="card-footer">
        <div class="text-right main-button">
            <button [disabled]="isDisabled" pButton type="button"  icon="fa fa-history" iconPos="left"
                label="Mostrar Histórico"></button>
            <button  [disabled]="isDisabled" pButton type="button" icon="fa fa-comment" iconPos="left"
                    label="Comunicar"></button>
        </div>
    </div>
    </div>
</div>