<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>
<div *ngIf="progressSpinner" class="overlay-spinner">
  <div class="loader"></div>
</div>

<!-- Campos Buscador -->
<div class="card-body">

  <!-- Datos generales -->
  <p class="title-module" (click)="onHideDatosGenerales()">{{ "administracion.catalogos.titulo.datos.generales" | translate }}
    <i *ngIf="showDatosGenerales" class="fa fa-angle-up float-right"></i>
    <i *ngIf="!showDatosGenerales" class="fa fa-angle-down float-right"></i>
  </p>

  <div *ngIf="showDatosGenerales" class="module vista-avanzada">

    <div class="form-row">
      <!-- Fecha de solicitud -->
      <div class="col-lg-3 col-md-3">
        <label>{{ "oficio.busquedaBajasTemporales.fechaSolicitudDesde" | translate }}</label>
        <app-fecha [(value)]="filtrosCompraProductos.fechaSolicitudDesde"
          [maxDate]="getFechaHastaCalendar(filtrosCompraProductos.fechaSolicitudDesde, filtrosCompraProductos.fechaSolicitudHasta)"
          (valueChangeSelected)="fillFechaSolicitudDesde($event)" (valueChangeInput)="fillFechaSolicitudDesde($event)">
        </app-fecha>
      </div>
      <div class="ol-lg-3 col-md-3">
        <label>{{ "oficio.busquedaBajasTemporales.fechaSolicitudHasta" | translate }}</label>
        <app-fecha [(value)]="filtrosCompraProductos.fechaSolicitudHasta"
          [minDate]="getFechaDesdeCalendar(filtrosCompraProductos.fechaSolicitudDesde, filtrosCompraProductos.fechaSolicitudHasta)"
          (valueChangeSelected)="fillFechaSolicitudHasta($event)" (valueChangeInput)="fillFechaSolicitudHasta($event)">
        </app-fecha>
      </div>

      <!-- Numero de solicitud -->
      <div class="col-lg-3 col-md-3">
        <label>{{ "facturacion.productos.nSolicitud" | translate }}</label>
        <input type="text" class="form-control" [(ngModel)]='filtrosCompraProductos.nSolicitud' pInputText>
      </div>

      <!-- Estado Solicitud -->
      <div class="col-lg-3 col-md-3">
        <label>{{ "censo.solicitudincorporacion.estadoSolicitud" | translate}}</label>
        <p-multiSelect  styleClass="widthAll" [(ngModel)]='filtrosCompraProductos.idEstadoSolicitud' defaultLabel="{{'general.boton.seleccionar' | translate}}" [options]="estadosCompraObject"></p-multiSelect>
      </div>

      <!-- Categoria -->
      <div class="col-lg-3 col-md-3">
        <label>{{ "facturacion.productos.categoria" | translate}}</label>
        <p-multiSelect  styleClass="widthAll" (onChange)="valueChangeCategoria()"
          [(ngModel)]='filtrosCompraProductos.idCategoria' defaultLabel="{{'general.boton.seleccionar' | translate}}"
          [options]="categoriasObject.combooItems">
        </p-multiSelect>
      </div>

      <!-- Tipo -->
      <div class="col-lg-3 col-md-3">
        <label>{{ "facturacion.productos.tipo" | translate}}</label>
        <p-multiSelect [disabled]="filtrosCompraProductos.idCategoria == null || tiposObject.combooItems.length == 0" styleClass="widthAll" 
          [(ngModel)]='filtrosCompraProductos.idTipoProducto' defaultLabel="{{'general.boton.seleccionar' | translate}}"
          [options]="tiposObject.combooItems">
        </p-multiSelect>
      </div>

      <!-- Producto -->
      <div class="col-lg-3 col-md-3">
        <label>{{ "facturacion.productos.producto" | translate}}</label>
        <input type="text" class="form-control" [(ngModel)]='filtrosCompraProductos.descProd' pInputText>
      </div>

      <!-- Estado Factura -->
      <div class="col-lg-3 col-md-3">
        <label>{{ "facturacion.productos.estadoFactura" | translate}}</label>
        <p-multiSelect styleClass="widthAll" 
          [(ngModel)]='filtrosCompraProductos.idEstadoFactura' defaultLabel="{{'general.boton.seleccionar' | translate}}"
          [options]="estadosFacturaObject">
        </p-multiSelect>
      </div>
    </div>
  </div>

  <!-- Datos cliente -->
  <p class="title-module" (click)="onHideDatosClientes()">{{ "facturacion.productos.Cliente" | translate }}
    <i *ngIf="showDatosClientes" class="fa fa-angle-up float-right"></i>
    <i *ngIf="!showDatosClientes" class="fa fa-angle-down float-right"></i>
  </p>

  <div *ngIf="showDatosClientes" class="module vista-avanzada">
    <app-buscador-colegiados-express id="buscadorColegiadoExpress"></app-buscador-colegiados-express>
  </div>

</div>

<!-- Botones -->
<div class="card-footer">
  <div class="text-right main-button">
    <button pButton type="button" icon="fa fa-eraser" iconPos="left" label="{{ 'general.boton.clear' | translate}}" (click)="limpiar()"></button>
    <button pButton type="button" icon="fa fa-search" iconPos="left" label="{{'general.boton.search' | translate}}" (click)="checkBuscar()"></button>
    <button (click)="checkNuevaCompra()" pButton type="button" icon="fa fa-plus" iconPos="left" label="{{'facturacion.productos.comprar' | translate}}"></button>
  </div>
</div>