<p-growl [(value)]="msgs" (onHover)="clear()" life="30000"></p-growl>
<div class="ficha-container">
  <!-- CONSTRUCTOR DE CONSULTAS -->
  <div id="constructorConsultas">
    <div class="card">
      <div class="card-header header-ficha">
        <div *ngIf="!openFicha" class="form-row">
          <div class="col-lg-1 col-md-2">
            <div class="img-colegiado" (click)="abreCierraFicha()">
              <i class="fas fa-align-left icon-ficha"></i>
            </div>
          </div>
          <div class="col-lg-11 col-md-10">
            <div class="d-flex justify-content-start mb-1 pointer" (click)="abreCierraFicha()">
              <label 
                class="mr-auto title-ficha">Constructor de consultas***</label>
            </div>
            <div class="d-flex justify-content-between">
              <i (click)="abreCierraFicha()" *ngIf="!openFicha" class="fa fa-angle-down float-right"></i>
            </div>
          </div>
        </div>
        <div *ngIf="openFicha" (click)="abreCierraFicha()" class=" header-ficha-open d-flex justify-content-start align-items-center">
          <div class="img-colegiado" (click)="abreCierraFicha()">
            <i class="fas fa-align-left icon-ficha"></i>
          </div>
          <label (click)="abreCierraFicha()"
            class="title-ficha">Constructor de consultas***</label>
          <i (click)="abreCierraFicha()" class="fa fa-angle-up ml-auto"></i>
        </div>
      </div>
      <!--cuerpo datos generales-->
      <div *ngIf="openFicha" class="card-body card-body-ficha">
        
        <div class="col-lg-12 control-section">
          <ejs-querybuilder #constructorConsultas class="row" [dataSource]="dataSource" [rule]="importRules" (created)="createdControl()">
            <e-columns>
              <e-column field="EmployeeID" label="Employee ID" type="number"></e-column>
              <e-column field="FirstName" label="First Name" type="string"></e-column>
              <e-column field="TitleOfCourtesy" label="Title Of Courtesy" type="boolean" [values]="values"></e-column>
              <e-column field="Title" label="Title" type="string"></e-column>
              <e-column field="HireDate" label="Hire Date" type="date" format="dd/MM/yyyy"></e-column>
              <e-column field="Country" label="Country" type="string"></e-column>
              <e-column field="City" label="City" type="string"></e-column>
            </e-columns>
          </ejs-querybuilder>
        </div>
      </div>
      <div *ngIf="openFicha" class="card-footer ">
        <div class="text-right main-button ">
          <button [disabled]="!editar || !activaRestablecer()" (click)="restablecer()" pButton type="button"
            icon="fa fa-undo" iconPos="left" label="{{ 'general.boton.restablecer' | translate}}"></button>
          <button [disabled]="!editar" (click)="checkDatos()" pButton type="button" icon="far fa-save" iconPos="left"
            label="{{ 'general.boton.guardar' | translate}}"></button>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="progressSpinner" class="overlay-spinner">

  <div class="loader"></div>
</div>
