<div class="card" id="cabeza">
  <div class="card-header header-ficha">
    <div class="form-row">
      <div class="col-lg-1 col-md-2">
        <div class="img-colegiado">
          <i [class]="iconClass"></i>
        </div>
      </div>
      <div class="col-lg-11 col-md-10">
        <!-- Nombres -->
        <div class="d-flex flex-row flex-wrap">
          <div class="box-enlace" *ngFor="let dato of datos"><b>{{dato.label}}: </b>{{dato.value}}</div>
        </div>
        <!-- Enlaces-->
        <div class="d-flex flex-row flex-wrap">
          <div class="box-enlace" *ngFor="let enlace of enlaces">
              <a (click)="goToCard(enlace.value, enlace.nombre)" class="enlace">{{enlace.label | translate }}</a>
          </div>
        </div>
      </div>
      <div class="arrows">
        <i (click)="goDown()" class="fa fa-angle-down ml-auto pr-3"></i>
        <i (click)="goTop()" class="fa fa-angle-up mr-3"></i>
      </div>
    </div>
  </div>
</div>