#cabeza {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2;
}
.card .header-ficha label {
    color: black;
}
.card-header.header-ficha {
    overflow: overlay;
}
.d-flex.flex-wrap.ng-star-inserted {
    margin-right: auto;
    margin-left:0.25rem;
}
.fix-fija{
    top: 12.8% !important
}
.enlace {
    color: blue !important; 
    text-decoration: underline !important;
}
.box-enlace {
    padding: 2px 10px 2px 10px;
}
.arrows {
    position: absolute;
    right: 0;
    bottom: 10px;
}


