<p-growl [(value)]="msgs" (onHover)="clear()" life="30000000"></p-growl>
<div class="busqueda-container">
  <div class="header-title">
    <i class="fa fa-square"></i>
    <p>Ficha Eventos</p>
  </div>

  <!-- FICHA DATOS GENERALES -->
  <div class="card">
    <!-- Cabecera -->
    <div class="card-header header-ficha" (click)="abreCierraFicha('generales')">
      <div *ngIf="!esFichaActiva('generales')" class="form-row">
        <div class="col-lg-1 col-md-2">
          <div class="img-colegiado">
            <i class="fa fa-file-pdf icon-ficha"></i>
          </div>
        </div>
        <div class="col-lg-11 col-md-10">
          <div class="d-flex justify-content-start mt-2">
            <label class="mr-auto title-ficha">{{ "general.message.datos.generales" | translate}}</label>
          </div>
        </div>
      </div>
      <div *ngIf="esFichaActiva('generales')" class=" header-ficha-open d-flex justify-content-start align-items-center">
        <div class="img-colegiado">
          <i class="fa fa-file-pdf icon-ficha"></i>
        </div>
        <label class="title-ficha">{{ "general.message.datos.generales" | translate}}</label>
        <i class="fa fa-angle-up ml-auto"></i>
      </div>
    </div>

    <!-- Cuerpo-->
    <div class="card-body card-body-ficha" *ngIf="esFichaActiva('generales')">
      <div class="form-row mb-3">
        <div class="bloque col-lg-7 col-md-7">
          <div class="row mb-3">
            <label class="ml-2">
              <strong>Datos Evento</strong>
            </label>
          </div>
          <div class="row mb-3">
            <div class="col-lg-6 col-md-6">
              <label>Calendario</label>
              <p-dropdown class="select-form" [options]="comboCalendars" [filter]="true" filterBy="label,labelSinTilde" placeholder="Seleccionar"
                name="type" (onChange)="onChangeSelectCalendar($event)" [(ngModel)]="newEvent.idCalendario"></p-dropdown>
            </div>
            <div class="col-lg-6 col-md-6">
              <label>Tipo Evento</label>
              <p-dropdown class="select-form" [options]="comboTipoEvento" name="tipoEvento" [(ngModel)]="newEvent.idTipoEvento" placeholder="Seleccionar"></p-dropdown>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-lg-6 col-md-6">
              <label>Título</label>
              <input type="text" class="form-control" pInputText name="titulo" [(ngModel)]="newEvent.title">
            </div>
            <div class="col-lg-6 col-md-6">
                <label>Estado</label>
                <p-dropdown class="select-form" [options]="comboEstados" name="estado" [(ngModel)]="selectedEstadoEvento"></p-dropdown>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-lg-6 col-md-6">
              <label class="pb-2">Fecha Inicio</label>
                  <p-calendar [showTime]="true" [dateFormat]="'dd/mm/yy'" [(ngModel)]="newEvent.start" (onSelect)="selectInvalidDates()"></p-calendar>
            </div>
            <div class="col-lg-6 col-md-6">
                <label class="pb-2">Fecha Fin</label>
                <p-calendar [showTime]="true" [dateFormat]="'dd/mm/yy'" [(ngModel)]="newEvent.end" [disabledDates]="invalidDates"></p-calendar>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-lg-12 col-md-12">
              <label>Lugar</label>
              <input type="text" class="form-control" pInputText name="lugar" [(ngModel)]="newEvent.lugar">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-lg-12 col-md-12">
              <label>Descripción</label>
              <input type="text" class="form-control" pInputText name="descripcion" [(ngModel)]="newEvent.descripcion">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-lg-12 col-md-12">
              <label>Recursos</label>
              <input type="text" class="form-control" pInputText name="recursos" [(ngModel)]="newEvent.recursos">
            </div>
          </div>
        </div>
        <div class="bloque col-lg-5 col-md-5">
          <div class="row mb-3">
            <label>
              <strong> Datos de repetición</strong>
            </label>
          </div>
          <div class="row mb-4">
            <div class="col-lg-6 col-md-6">
              <label class="pb-2">Fecha Inicio</label>
                  <p-calendar [showTime]="true"></p-calendar>
            </div>
            <div class="col-lg-6 col-md-6">
                <label class="pb-2">Fecha Fin</label>
                <p-calendar [showTime]="true"></p-calendar>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-lg-12 col-md-12">
              <div class="row">
                  <div class="col-lg-4 col-md-4">
                      <label>Repetir cada:(*)</label>
                  </div>
                  <div class="col-lg-8 col-md-8">
                      <p-dropdown [options]="comboRepeatEvery" [(ngModel)]="selectRepeatDate" placeholder="Seleccionar"></p-dropdown>
                  </div>
              </div>           
            </div> 
          </div>
          <div class="row mb-3">
            <div *ngIf="selectRepeatDate == 2" class="col-lg-12 col-md-12">
                    <p-selectButton [options]="comboRepeatOn" multiple="multiple"></p-selectButton>   
            </div>
            <div *ngIf="selectRepeatDate == 1" class="col-lg-12 col-md-12">
                <p-selectButton class="daysSelectButton" [options]="comboDays" multiple="multiple" [(ngModel)]="dates"></p-selectButton>
                <p class="mt-2">Días seleccionados: <span *ngFor="let d of dates">{{d}}, </span></p>
                <!-- <p-calendar [(ngModel)]="dates" monthNavigator="false" dateFormat="dd" selectionMode="multiple" [readonlyInput]="true" ></p-calendar> -->
              </div>
          </div>
          <div class="row mb-3">
              <div class="col-lg-12 col-md-12">
                <div class="ui-g-12"><p-radioButton name="group1" value="Option 1" label="Días Laborales" [(ngModel)]="val1" inputId="opt1"></p-radioButton></div>
                <div class="ui-g-12"><p-radioButton name="group1" value="Option 2" label="Días festivos" [(ngModel)]="val1" inputId="opt2"></p-radioButton></div>
                <div class="ui-g-12"><p-radioButton name="group1" value="Option 3" label="Ambos" [(ngModel)]="val1" inputId="opt3"></p-radioButton></div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer" *ngIf="esFichaActiva('generales')">
      <div class="text-right main-button">
        <button pButton type="button" icon="fa fa-undo" iconPos="left" label="{{ 'general.boton.restablecer'| translate }}"></button>
        <button pButton (click)="saveEvent()" type="button" icon="fa fa-search" iconPos="left" label="{{ 'general.boton.guardar' | translate }}"></button>
      </div>
    </div>
  </div>

  <!-- NOTIFICACIONES-->
  <div class="card">
    <!-- Cabecera -->
    <div class="card-header header-ficha" (click)="abreCierraFicha('notify')">
      <div *ngIf="!esFichaActiva('notify')" class="form-row">
        <div class="col-lg-1 col-md-2">
          <div class="img-colegiado">
            <i class="fa fa-bell icon-ficha"></i>
          </div>
        </div>
        <div class="col-lg-11 col-md-10">
          <div class="d-flex justify-content-start mt-2">
            <label class="mr-auto title-ficha">{{'formacion.fichaCalendario.notificaciones.cabecera' | translate}}</label>
          </div>
        </div>
      </div>
      <div *ngIf="esFichaActiva('notify')" class=" header-ficha-open d-flex justify-content-start align-items-center">
        <div class="img-colegiado">
          <i class="fa fa-bell icon-ficha"></i>
        </div>
        <label class="title-ficha">{{'formacion.fichaCalendario.notificaciones.cabecera' | translate}}</label>
        <i class="fa fa-angle-up ml-auto"></i>
      </div>
    </div>

    <!-- Cuerpo-->
    <div class="card-body card-body-ficha" *ngIf="esFichaActiva('notify')">
      <div *ngIf="esFichaActiva('notify')" class="card-body card-body-ficha">
        <div *ngIf="!historico" class="row">
          <p-dataTable emptyMessage="{{ 'general.message.no.registros' | translate}}" [ngClass]="{'customCursor': selectMultiple}"
            [(selection)]="selectedDatos" (onRowSelect)="irEditarNotificacion(selectedDatos)" (onRowUnselect)="actualizaSeleccionados(selectedDatos)"
            pageLinks="4" dataKey="idNotificacion" [responsive]="true" selectionMode="multiple" #table class="tabla-listado"
            [value]="datos" [sortOrder]="sortO" [paginator]="true" paginatorPosition="both" [rows]="selectedItem">
            <p-column *ngFor="let col of cols" [sortable]="true " [field]="col.field" [header]="col.header | translate" filterPlaceholder="{{'general.boton.search' | translate}}"
              [filter]="true" filterMatchMode="contains">
            </p-column>

            <ng-template pTemplate="paginatorLeft">
              <div class="mostrar d-flex text-right justify-content-end">
                <label class="pr-3 registros-totales">Mostrando registros del {{table.first + 1}} al {{table.first + table.rows}} de un total de {{table.totalRecords}}</label>
                <label class="pr-3 numSeleccionados">Seleccionados: {{numSelected}}</label>
                <label>{{ "general.message.mostrar" | translate}}</label>
                <p-dropdown [(ngModel)]="selectedItem" [options]="rowsPerPage" (onChange)="onChangeRowsPerPages($event)"></p-dropdown>
                <label class="pl-1"> {{"cargaMasivaDatosCurriculares.numRegistros.literal" | translate}}</label>
                <div class="ml-3 selectAllNotification">
                  <p-checkbox (onChange)="onChangeSelectAllNotifications()" [(ngModel)]="selectAllNotifications" binary="true" label="Seleccionar todo"
                    name="groupname"></p-checkbox>
                </div>
                <label class="ml-3 seleccionMultiple" [ngClass]="{' seleccion-multiple': selectMultiple}" (click)="isSelectMultiple(); selectedDatos=false">
                  <i class="pr-2 fa fa-mouse-pointer"></i>{{ "general.message.seleccion.multiple" | translate}}</label>
              </div>
            </ng-template>


          </p-dataTable>
        </div>
        <!--HISTORICO-->
        <div *ngIf="historico" class="card mt-3">
          <div class="card-body p-0">

            <p-dataTable emptyMessage="{{ 'general.message.no.registros' | translate}}" [ngClass]="{'customCursor': selectMultiple}"
              [(selection)]="selectedDatos" (onRowSelect)="irEditarNotificacion(selectedDatos)" pageLinks="4" dataKey="idNotificacion"
              [responsive]="true" selectionMode="multiple" #table class="tabla-listado" [value]="datos" [sortOrder]="1" [paginator]="true"
              paginatorPosition="both" [rows]="selectedItem">
              <p-column *ngFor="let col of cols" [sortable]="true " [field]="col.field" [header]="col.header | translate" filterPlaceholder="{{'general.boton.search' | translate}}"
                [filter]="true" filterMatchMode="contains">
                <ng-template let-datoH="rowData" pTemplate="body">
                  <div *ngIf="setItalic(datoH)">
                    <span [ngStyle]="{'font-style': 'italic', 'font-weight':'bold', 'text-decoration':'line-through'}">{{datoH[col.field]}}</span>
                  </div>
                  <div *ngIf="!setItalic(datoH)">
                    <span>{{datoH[col.field]}}</span>
                  </div>

                </ng-template>

              </p-column>

              <ng-template pTemplate="paginatorLeft">
                <div class="mostrar d-flex text-right justify-content-end">
                  <label class="pr-3 registros-totales">Mostrando registros del {{table.first + 1}} al {{table.first + table.rows}} de un total de {{table.totalRecords}}</label>
                  <label class="pr-3 numSeleccionados">Seleccionados: {{numSelected}}</label>
                  <label>{{ "general.message.mostrar" | translate}}</label>
                  <p-dropdown [(ngModel)]="selectedItem" [options]="rowsPerPage" (onChange)="onChangeRowsPerPages($event)"></p-dropdown>
                  <label class="pl-1">{{"cargaMasivaDatosCurriculares.numRegistros.literal" | translate}}</label>
                  <div class="ml-3 selectAll">
                    <p-checkbox (onChange)="onChangeSelectAllNotifications()" [(ngModel)]="selectAllNotifications" binary="true" label="Seleccionar todo"
                      name="groupname"></p-checkbox>
                  </div>
                  <label class="ml-3 seleccionMultiple" [ngClass]="{' seleccion-multiple': selectMultiple}" (click)="isSelectMultiple(); selectedDatos=false">
                    <i class="pr-2 fa fa-mouse-pointer"></i>{{ "general.message.seleccion.multiple" | translate}}</label>
                </div>
              </ng-template>
            </p-dataTable>
          </div>
        </div>
      </div>
      <div *ngIf="esFichaActiva('notify')" class="card-footer">
        <div *ngIf="!historico" class="text-right main-button">
          <button (click)="getHistoricEventNotifications(); selectedDatos=[]" pButton type="button" icon="fa fa-history" iconPos="left"
            label="{{ 'general.message.mostrarHistorico' | translate}}"></button>
          <button [disabled]="!(selectedDatos && selectedDatos != '')" (click)="deleteNotification(selectedDatos)" pButton type="button"
            icon="fa fa-trash-alt" iconPos="left" label="{{ 'general.boton.eliminar' | translate}}"></button>
          <button pButton (click)="newNotification()" type="button" icon="fa fa-send" iconPos="left" label="{{
                'general.boton.new' | translate }}"></button>
        </div>
        <div *ngIf="historico" class="text-right main-button">
          <button (click)="getEventNotifications()" pButton type="button" icon="fa fa-undo" iconPos="left" label="{{'general.message.ocultarHistorico' | translate}}"></button>
          <button (click)="deleteSeleccion()" [disabled]="historico" pButton type="button" icon="fa fa-trash-alt" iconPos="left" label="{{ 'general.boton.eliminar' | translate}}"></button>
        </div>
      </div>
    </div>
  </div>


  <!-- TERJETAS FORMADORES-->
  <div class="card" *ngIf="isFormacionCalendar">
    <!-- Cabecera -->
    <div class="card-header header-ficha" (click)="abreCierraFicha('formadores')">
      <div *ngIf="!esFichaActiva('formadores')" class="form-row">
        <div class="col-lg-1 col-md-2">
          <div class="img-colegiado">
            <i class="fa fa-users icon-ficha"></i>
          </div>
        </div>
        <div class="col-lg-11 col-md-10">
          <div class="d-flex justify-content-start mt-2">
            <label class="mr-auto title-ficha">Formadores</label>
          </div>
        </div>
      </div>
      <div *ngIf="esFichaActiva('formadores')" class=" header-ficha-open d-flex justify-content-start align-items-center">
        <div class="img-colegiado">
          <i class="fa fa-users icon-ficha"></i>
        </div>
        <label class="title-ficha">Formadores</label>
        <i class="fa fa-angle-up ml-auto"></i>
      </div>
    </div>

    <!-- Cuerpo-->
    <div class="card-body card-body-ficha" *ngIf="esFichaActiva('formadores')">
      <div class="row">
        <div class="col-lg-11 col-md-11">
          <p-autoComplete #autocomplete [(ngModel)]="results" [suggestions]="formadoresSuggest" [minLength]="1" field="nombreCompleto"
            [multiple]="true" (onSelect)="visiblePanelOnSelect()" (onUnselect)="resetSuggestTrainers()" (onBlur)="visiblePanelBlur($event)"
            [style]="{'width':'100%'}">
            <ng-template let-formadoresSelecionados pTemplate="selectedItem">
              <div class="ui-autocomplete-multiple-container ui-widget ui-inputtext ui-corner-all ng-star-inserted li ui-state-highlight"
                [ngStyle]="{'background': formadoresSelecionados.color, 'margin': marginPx, 'border': bw }">
                {{ formadoresSelecionados.nombreCompleto }}
              </div>
            </ng-template>
          </p-autoComplete>
        </div>
        <div class="col-lg-1 col-md-1">
          <div class="text-left main-button">
            <button pButton (click)="filterTrainersMultiple()" type="button" icon="fa fa-plus" iconPos="left" label="{{'general.boton.new' | translate }}"></button>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer" *ngIf="esFichaActiva('formadores')">
      <div class="text-right main-button">
        <button pButton (click)="restTrainers()" type="button" icon="fa fa-undo" iconPos="left" label="{{ 'general.boton.restablecer'| translate }}"></button>
        <button pButton type="button" icon="fa fa-search" iconPos="left" label="{{ 'general.boton.guardar' | translate }}"></button>
      </div>
    </div>
  </div>

  <!-- TERJETAS ASISTENCIA-->
  <div class="card" *ngIf="isFormacionCalendar">
    <!-- Cabecera -->
    <div class="card-header header-ficha" (click)="abreCierraFicha('asistencia')">
      <div *ngIf="!esFichaActiva('asistencia')" class="form-row">
        <div class="col-lg-1 col-md-2">
          <div class="img-colegiado">
            <i class="fa fa-list icon-ficha"></i>
          </div>
        </div>
        <div class="col-lg-11 col-md-10">
          <div class="d-flex justify-content-start mt-2">
            <label class="mr-auto title-ficha">Asistencia</label>
          </div>
        </div>
      </div>
      <div *ngIf="esFichaActiva('asistencia')" class=" header-ficha-open d-flex justify-content-start align-items-center">
        <div class="img-colegiado">
          <i class="fa fa-list icon-ficha"></i>
        </div>
        <label class="title-ficha">Asistencia</label>
        <i class="fa fa-angle-up ml-auto"></i>
      </div>
    </div>

    <!-- Cuerpo-->
    <div class="card-body card-body-ficha" *ngIf="esFichaActiva('asistencia')">
      <div *ngIf="esFichaActiva('asistencia')" class="card-body card-body-ficha">
        <div class="row">
          <p-dataTable emptyMessage="{{ 'general.message.no.registros' | translate}}" [ngClass]="{'customCursor': selectMultipleAsistencia}"
            [(selection)]="selectedDatosAsistencia" pageLinks="4" dataKey="idAsistencia" [responsive]="true" selectionMode="multiple"
            #tableAsistencia class="tabla-listado" [value]="datosAsistencia" [sortOrder]="sortO" [paginator]="true" paginatorPosition="both"
            [rows]="selectedAsistencia">
            <p-column *ngFor="let col of colsAsistencia" [sortable]="true " [field]="col.field" [header]="col.header | translate" filterPlaceholder="{{'general.boton.search' | translate}}"
              [filter]="true" filterMatchMode="contains">

              <ng-template *ngIf="col.field =='asistencia'" pTemplate="body" let-dato="rowData">
                <p-dropdown class="select-form" [(ngModel)]="dato[col.field]" [options]="comboAsistencia" [filter]="false" placeholder="Seleccionar"
                  name="type"></p-dropdown>
              </ng-template>

            </p-column>

            <ng-template pTemplate="paginatorLeft">
              <div class="mostrar d-flex text-right justify-content-end">
                <label class="pr-3 registros-totales">Mostrando registros del {{tableAsistencia.first + 1}} al {{tableAsistencia.first + tableAsistencia.rows}}
                  de un total de {{tableAsistencia.totalRecords}}</label>
                <label class="pr-3 numSeleccionados">Seleccionados: {{numSelectedAsistencia}}</label>
                <label>{{ "general.message.mostrar" | translate}}</label>
                <p-dropdown [(ngModel)]="selectedAsistencia" [options]="rowsPerPage"></p-dropdown>
                <label class="pl-1"> {{"cargaMasivaDatosCurriculares.numRegistros.literal" | translate}}</label>
                <div class="ml-3 selectAllNotification">
                  <p-checkbox (onChange)="onChangeSelectAllAsistencias()" [(ngModel)]="selectAllAsistencias" binary="true" label="Seleccionar todo"
                    name="groupname"></p-checkbox>
                </div>
                <label class="ml-3 seleccionMultiple" [ngClass]="{'seleccion-multiple': selectMultipleAsistencia}" (click)="isSelectMultipleAsistencia(); selectedDatosAsistencia=false">
                  <i class="pr-2 fa fa-mouse-pointer"></i>{{ "general.message.seleccion.multiple" | translate}}</label>
              </div>
            </ng-template>


          </p-dataTable>
        </div>
      </div>
    </div>
    <div class="card-footer" *ngIf="esFichaActiva('asistencia')">
      <div class="text-right main-button">
        <button pButton type="button" (click)="downloadTemplateFile()" icon="fa fa-download" iconPos="left" label="Descargar"></button>
        <button pButton type="button" (click)="unCheckAsist()" [disabled]="!checkAsistencias" icon="fa fa-times" iconPos="left" label="Desmarcar"></button>
        <button pButton type="button" (click)="checkAsist()" [disabled]="!checkAsistencias" icon="fa fa-check" iconPos="left" label="Marcar"></button>
        <button pButton type="button" icon="fa fa-search" iconPos="left" label="{{ 'general.boton.guardar' | translate }}"></button>
      </div>
    </div>
  </div>


  <div *ngIf="progressSpinner " class="overlay-spinner ">
    <div class="loader "></div>
  </div>