.ui-autocomplete-multiple-container.ui-inputtext {
  background: none;
  color: white;
}

.ui-autocomplete .ui-autocomplete-panel {
  min-width: 0;
  z-index: 1;
}

.ui-autocomplete-token-icon {
  color: white !important;
}
