<div class="ficha-comunicacion-container">
  <div class="header-title">
    <i class="fa fa-square"></i>
    <p>{{'menu.justiciaGratuita' | translate}}
      <i class="fa fa-angle-right"></i>{{'menu.sjcs.gestionActas' | translate }}
      <i class="fa fa-angle-right"></i>{{'justiciaGratuita.ejg.datosGenerales.Acta'|translate}}
    </p>
  </div>
  <div>
    <app-datos-generales-actas [datos]="datos" [modoEdicion]="modoEdicion" (modoEdicionSend)="modoEdicionSend($event)"></app-datos-generales-actas>
    <app-tarjeta-listado-ejgs [datos]="datos"></app-tarjeta-listado-ejgs>
  </div>
</div>
<div class="mt-3 text-right main-button ">
  <button (click)="backTo()" pButton type="button" icon="fa fa-angle-left" iconPos="left" label="{{ 'general.boton.volver' | translate }}"></button>
</div> 
