<div class="busqueda-container">
  <div class="header-title">
    <i class="fa fa-square"></i>
    <p *ngIf="esColegiado">
      {{ "menu.censo" | translate }}
      <i class="fa fa-angle-right"></i>{{ "menu.censo.fichaColegial" | translate }}
    </p>
    <p *ngIf="!esColegiado">
      {{ "menu.censo" | translate }}
      <i class="fa fa-angle-right"></i>{{ "menu.censo.fichaNoColegial" | translate }}
    </p>
  </div>
  <div>
    <app-servicios-interes-ficha-colegial [esColegiado]="esColegiado"></app-servicios-interes-ficha-colegial>
    <app-datos-generales-ficha-colegial [esColegiado]="esColegiado" [isLetrado]="isLetrado"></app-datos-generales-ficha-colegial>
    <app-datos-colegiales-ficha-colegial [esColegiado]="esColegiado"></app-datos-colegiales-ficha-colegial>
    <app-otras-colegiaciones-ficha-colegial [esColegiado]="esColegiado"></app-otras-colegiaciones-ficha-colegial>
    <app-certificados-ficha-colegial [esColegiado]="esColegiado"></app-certificados-ficha-colegial>
    <app-sanciones-ficha-colegial></app-sanciones-ficha-colegial>
    <app-sociedades-ficha-colegial></app-sociedades-ficha-colegial>
    <app-datos-curriculares-ficha-colegial [esColegiado]="esColegiado"></app-datos-curriculares-ficha-colegial>
    <app-direcciones-ficha-colegial [esColegiado]="esColegiado" [isLetrado]="isLetrado"></app-direcciones-ficha-colegial>
    <app-datos-bancarios-ficha-colegial [esColegiado]="esColegiado" [isLetrado]="isLetrado"></app-datos-bancarios-ficha-colegial>
    <app-regtel-ficha-colegial></app-regtel-ficha-colegial>
    <app-alter-mutua-ficha-colegial></app-alter-mutua-ficha-colegial>
    <app-mutualidad-abogacia-ficha-colegial [datosBancarios]="datosBancarios" [datosDirecciones]="datosDirecciones"></app-mutualidad-abogacia-ficha-colegial>


  </div>
  <!--END DATOS GENERALES-->
  <!--DATOS COLEGIALES-->
  <!--DATOS RETENCIONES-->
  <!--END DATOS RETENCIONES-->
  <div *ngIf="!desactivarVolver" class="mt-3 text-right main-button ">
    <button (click)="backTo()" pButton type="button" icon="fa fa-angle-left" iconPos="left" label="{{ 'general.boton.volver' | translate}}"></button>
  </div>
  <app-dialog></app-dialog>
</div>