.ui-autocomplete .ui-autocomplete-panel {
  min-width: 0;
  z-index: 1;
}

.button-edit {
  border: 1px solid #c6c7c8 !important;
  border-top-left-radius: 3px !important;
  border-bottom-left-radius: 3px !important;
}
.ui-tooltip .ui-tooltip-text {
  white-space: pre-line !important;
}

.ui-tooltip-text.ui-shadow.ui-corner-all {
  background-color: white;
}

.ui-tooltip {
  max-width: 80%;
  box-shadow: none;
  .ui-tooltip-text {
    font-size: 0.8rem;
  }
}
