.ui-autocomplete .ui-autocomplete-panel {
  min-width: 0;
  z-index: 1;
}

.button-edit {
  border: 1px solid #c6c7c8 !important;
  border-top-left-radius: 3px !important;
  border-bottom-left-radius: 3px !important;
}
